{% if pagination %}
    <nav class="text-center accommodation-report-pagination">
        <ul class="pagination pagination-sm">
            {% if paramPage > 1 %}
                <li class="pagination-link">
                    <a href="{{ link }}?page={{ paramPage - 1 }}">{{ "log.pagination.back"|trans }}</a>
                </li>
            {% endif %}
            {% for pag in pagination %}
                <li class="pagination-link{% if paramPage == pag %} active{% endif %}">
                    <a href="{{ link }}?page={{ pag }}">{{ pag }}</a>
                </li>
            {% endfor %}
            {% if paramPage < pagination|last %}
                <li class="pagination-link">
                    <a href="{{ link }}?page={{ paramPage + 1 }}">{{ "log.pagination.forward"|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
