{% extends 'MBHOnlineBundle:PaymentForm/Setting:common_for_new_and_edit.html.twig' %}

{% if form.formTemplate is defined %}
    {% form_theme form.formTemplate '@MBHOnline/Form/Template/formTemplate.html.twig' %}
{% endif %}
{% set layout = "tabs" %}
{% set active = 1 %}

{% block scripts %}
    {{ parent() }}
    {% include 'MBHOnlineBundle::assetic_for_form_js.html.twig' %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    {% include 'MBHOnlineBundle::assetic_for_form_css.html.twig' %}
{% endblock %}

{% block content %}
    {% include '@MBHOnline/PaymentForm/Setting/tabs.html.twig' %}
    <div class="tab-content">

        {{ form_start(form, {'action': path('online_payment_form_edit', {id: config.id}), 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:new.html.twig' %}
        {{ form_end(form) }}
        {% if config %}
            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs } %}
        {% endif %}
    </div>
{% endblock %}
