{% extends '@KnpMenu/menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if name != 'badges' and value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% macro badge(attributes)%}
{% if attributes.badges is defined %}
    <div class="parent_badge">
    {% for badge in attributes.badges %}
        <small data-toggle="tooltip" data-placement="bottom" title="{{ badge.title }}"
            id="{{ badge.id }}"
            class="label {{ badge.class }}"
            >{{ badge.value }}</small>
    {% endfor %}
    </div>
{% endif %}
{% endmacro %}

{% import _self as macros %}

{% block list %}

    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% set isRootItem = item.name == 'root' %}

        {% if isRootItem %}
            {% if item.childrenAttributes['enabledCollapse'] %}
                <div class="header{{ not ('collapse in' in item.childrenAttributes['class']) ? ' collapsed' : '' }}"
                    data-toggle="collapse"
                    data-target="#{{ item.childrenAttributes['id'] }}">
                    <span class="header-title">{{ item.label|trans }}</span>
                    {{ macros.badge(item.childrenAttributes) }}
                    <span class="icon-toggle"></span>
            {% else %}
                <div class="header{{ item.childrenAttributes['badges'] is not defined ? ' collapse-disabled' }}">
                    <span class="header-title">{{ item.label|trans }}</span>
                    {{ macros.badge(item.childrenAttributes) }}
            {% endif %}
                </div>
        {% endif %}
        <ul{{ macros.attributes(listAttributes)}}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block item %}
{% wrapinline %}
    {%- set attributes = item.attributes %}
    {%- set header = item.attributes.header|default(false) %}

    {% if header %}

        {%- set header_icon = attributes.header_icon|default(false) %}
        <li class="header">
            {% if header_icon %}<i class="{{ header_icon }}"></i>&nbsp;{% endif %}{{ header|trans }}
        </li>
    {% elseif item.displayed and header is empty %}

        {%- set is_dropdown = attributes.dropdown|default(false) %}
        {%- set is_dropdown_header = attributes.dropdown_header|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {# unset bootstrap specific attributes #}
        {%- set attributes = attributes|merge({'dropdown': null, 'dropdown_header': null, 'divider_prepend': null, 'divider_append': null }) %}

        {%- if divider_prepend %}
            {{ block('dividerElement') }}
        {%- endif %}

        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if item.current %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.depth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# building the class of the children #}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}

        {# adding classes for dropdown #}
        {%- if is_dropdown %}
            {%- set classes = classes|merge(['dropdown']) %}
            {%- set childrenClasses = childrenClasses|merge(['treeview-menu']) %}
        {%- endif %}

        {# putting classes together #}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}


        {%- if is_dropdown_header %}
            {{ block('dropdownHeader') }}
        {%- else %}
            {# displaying the item #}
            <li{{ macros.attributes(attributes) }}>
                {%- if is_dropdown %}
                    {% if item.hasChildren %} {{ block('dropdownElement') }}{% endif %}
                {%- elseif item.uri is not empty and (not item.current or options.currentAsLink) %}
                    {{ block('linkElement') }}
                {%- else %}
                    {{ block('linkElement') }}
                {%- endif %}
                {# render the list of children#}
                {{ block('list') }}
            </li>
        {%- endif %}

        {%- if divider_append %}
            {{ block('dividerElement') }}
        {%- endif %}
    {% endif %}
{% endwrapinline %}
{% endblock %}

{% block dividerElement %}
    {% if item.level == 1 %}
        <li class="divider-vertical"></li>
    {% else %}
        <li class="divider"></li>
    {% endif %}
{% endblock %}

{% block dropdownHeader %}
    <li role="presentation" class="dropdown-header">{{ item.label }}</li>
{% endblock %}

{% block dropdownElement %}
    {%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set attributes = item.linkAttributes %}
    {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}

    {% spaceless %}
        <a href="#"{{ macros.attributes(attributes) }}>
            {% if item.attribute('icon') is not empty %}
                <i class="{{ item.attribute('icon') }}"></i>
            {% endif %}
            {{ block('label') }} <i class="fa fa-angle-left pull-right"></i>
        </a>
    {% endspaceless %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {% if item.attribute('icon') is not empty %}
            <i class="{{ item.attribute('icon') }}"></i>
        {% endif %}
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
    <span>{{ macros.attributes(item.labelAttributes) }}
        {% if item.attribute('icon') is not empty %}
            <i class="{{ item.attribute('icon') }}"></i>
        {% endif %}
        {{ block('label') }}
    </span>
{% endblock %}

{% block label %}
    {% wrapinline %}
    <span>{{ item.label == '&nbsp;' ? '&nbsp;' : item.label|trans }}</span>
    {{ macros.badge(item.attributes) }}
    {% endwrapinline %}
{% endblock %}