{% extends 'MBHBaseBundle::login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% if app.getEnvironment == 'prod' %}
        {#<script src='https://www.google.com/recaptcha/api.js'></script>#}
    {% endif %}

    <form name="loginForm" action="{{ path("fos_user_security_check") }}" class="form login-form" role="form"
          method="post" accept-charset="UTF-8">

        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="form-group has-feedback">
            <input type="text" name="_username" class="form-control"
                   placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="_password" class="form-control"
                   placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <input type="hidden" name="re_token" id="inv_captcha">
        {% if app.getEnvironment == 'prod' %}
            <div class="form-group g-recaptcha" data-sitekey="{{ recaptcha.site }}"></div>
        {% endif %}

        <div class="row alignment-for-little-screen">
            <div class="col-xs-6">
                <div class="checkbox">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
                    <!-- <input type="checkbox" class="plain-html" name="_remember_me" -->
                    <!-- value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} -->

                </div>
            </div><!-- /.col -->
            <div class="col-xs-6">
                <button type="submit" name="_submit" class="btn btn-primary btn-block btn-flat">
                    <i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                </button>
            </div><!-- /.col -->
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    </form>
{% endblock %}
