{% spaceless %}
{% if hotels|length %}
<form id="mbh-form" method="get" class="well" target="_parent" action="{{ formConfig.getResultsUrl(true) }}">
    {% if hotels|length > 1 %}
    <div class="mbh-form-row form-group">
        <label for="mbh-form-hotel">{{ 'views.api.form.hotel'|trans({}, 'MBHOnlineBundle') }}</label>
        <select name="hotel" class="form-control input-sm" id="mbh-form-hotel">
            <option></option>
            {% for hotel in hotels %}<option value="{{ hotel.id }}">{{ hotel.getFullTitleOrTitle() }}</option>{% endfor %}
        </select>
    </div>
    {% endif %}

    <div class="mbh-form-row form-group">
        <label for="mbh-form-begin"> {{ 'views.api.form.check_in_date'|trans({}, 'MBHOnlineBundle') }}</label>
        <input type="text" class="mbh-calendar-input form-control input-sm" id="mbh-form-begin" name="begin" required value="{{ 'now'|date('d.m.Y') }}" readonly>
    </div>

    <div class="mbh-form-row form-group" {% if formConfig.nights %}style='display: none;'{% endif %}>
        <label for="mbh-form-end"> {{ 'views.api.form.check_out_date'|trans({}, 'MBHOnlineBundle') }}</label>
        <input type="text" class="mbh-calendar-input form-control input-sm" id="mbh-form-end" name="end" required value="{{ 'now'|date_modify('+1 day')|date('d.m.Y') }}" readonly>
    </div>

    {% if formConfig.nights %}
    <div class="mbh-form-row form-group">
        <label for="mbh-form-nights"> {{ 'views.api.form.nights_amount'|trans({}, 'MBHOnlineBundle') }}</label>
        <select name="nights" class="form-control input-sm" id="mbh-form-nights" required>
        {% for i in 1..100 %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
        </select>
    </div>
    {% endif %}

    {% if formConfig.roomTypes %}
    {% set choices = formConfig.roomTypeChoices %}
    {% if choices is empty %}
        {% set choices = [] %}
        {% for hotel in hotels %}
            {% set choices = choices|merge(hotel.roomTypes) %}
        {% endfor %}
    {% endif %}
    <div class="mbh-form-row form-group {{ choices|length == 1 ? 'hidden' }}">
        <label for="mbh-form-roomType"> {{ 'views.api.form.room_type'|trans({}, 'MBHOnlineBundle') }}</label>
        <select id="mbh-form-roomType" class="form-control input-sm" name="roomType">
            <option></option>
            <option value="">- {{ 'views.api.form.room_type.choices.any'|trans({}, 'MBHOnlineBundle') }} -</option>
            {% for roomType in choices %}
                <option value="{{ roomType.id }}" {{ choices|length == 1 ? 'selected' }}>{{ roomType.localeTitle(app.request.locale) }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}

    {% if formConfig.tourists %}
        <div id="mbh-form-adults-children-wrapper">
            <div class="mbh-form-row form-group">
                <label for="mbh-form-adults"> {{ 'views.api.form.adults'|trans({}, 'MBHOnlineBundle') }}</label>
                <input type="number" id="mbh-form-adults" class="form-control input-sm" name="adults"  value="1" min="1">
            </div>

            <div class="mbh-form-row form-group">
                <label for="mbh-form-children"> {{ 'views.api.form.children'|trans({}, 'MBHOnlineBundle') }}</label>
                <input type="number" id="mbh-form-children" class="form-control input-sm" name="children" value="0" min="0">
            </div>
            <div class="mbh-form-row form-group children-ages" style="display: none;">
                <label for="children-age-1"> {{ 'views.api.form.children_ages.label'|trans({}, 'MBHOnlineBundle') }}</label>
                <select class="children-age-form form-control input-sm" id="children-age-1" name="children-ages[]">
                    {% for childAge in 0..18 %}
                        <option value="{{ childAge }}">{{ childAge }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if not formConfig.forMbSite %}
            <div id="mbh-form-adults-children-clear"></div>
        {% endif %}
    {% endif %}

    <div class="mbh-form-row" id="mbh-form-submit-wrapper">
        <button type="submit" class="btn btn-primary btn-sm" id="mbh-form-submit">{% if not formConfig.forMbSite %}{{ 'views.api.form.find_room'|trans({}, 'MBHOnlineBundle') }}{% endif %}</button>
    </div>

    <div id="mbh-logo-link-wrapper">
        <a id="mbh-logo-link" href="https://maxi-booking.com/" target="_blank"> {{ 'views.api.form.online_reservation_system'|trans({}, 'MBHOnlineBundle') }}</a>
    </div>

    <div id="mbh-actions-wrapper"></div>

    <input type="hidden" id="mbh-form-locale" name="locale" value="{{ app.request.locale }}">
</form>
{% endif %}
{% endspaceless %}

