{% set locale = app.request.locale %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    {#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />#}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    {% javascripts filter='uglifyjs2'
        '@MBHBaseBundle/Resources/public/js/first/010-nativ-func.js'
        '@MBHOnlineBundle/Resources/public/js/online/search-form.js'
    %}
        <script type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
    {% endjavascripts %}
    {% set isYandexAnalyticEnabled = formConfig and formConfig.yandexAnalyticConfig and formConfig.yandexAnalyticConfig.isEnabled == true %}
    {% if isYandexAnalyticEnabled %}
    {% endif %}
    {% if formConfig and formConfig.theme %}
        <link rel="stylesheet" href="{{ formConfig.theme }}">
    {% endif %}
    {% if formConfig and formConfig.cssLibraries is defined and formConfig.cssLibraries is iterable %}
        {% for link in formConfig.cssLibraries %}
            <link rel="stylesheet" href="{{ link }}">
        {% endfor %}
    {% endif %}
    {% include '@MBHOnline/Api/siteStyles.html.twig' %}

    {% block styles %}
        {% stylesheets filter='cssrewrite, uglifycss'
            '@MBHOnlineBundle/Resources/public/css/api/style_iframe.less'
        %}
            <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
        {% endstylesheets %}

        {% if formConfig.isHorizontal %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHOnlineBundle/Resources/public/css/api/form_if_horizontal.less'
            %}
                <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
            {% endstylesheets %}
        {% endif %}

    {% endblock %}
</head>

<body style="background-color: transparent;">
    <div id="mbh-form-wrapper" style="overflow: hidden; height: auto">
        <a href="https://maxi-booking.{{ locale == 'en' ? 'com' : 'ru' }}/" style="background-color: white; padding: 10px;">{{ 'views.api.get_form_iframe.online_booking_system'|trans}}</a>
    </div>
    {% if formConfig %}
        {% if formConfig.css %}
            <style>
                {{ formConfig.css|raw }}
            </style>
        {% endif %}
        {% if formConfig.js %}
        <script>
            window.addEventListener('load', function () {
                {{ formConfig.js|raw }}
            });
        </script>
        {% endif %}
    {% endif %}
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" integrity="sha256-4JY5MVcEmAVSuS6q4h9mrwCm6KNx91f3awsSQgwu0qc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url('online_form_get', {id: formId, locale: locale}) }}"></script>
</body>

</html>
