{% spaceless %}
<div id="mbh-results-global-wrapper">
    {%  if request.packages|length and request.user|length and formConfig is not null %}

        <div id="mbh-package-info">
            {{ 'views.api.getPaymentType.dates'|trans({}, 'MBHOnlineBundle') }}<strong>{{ request.begin }} - {{ request.end }}.</strong>
            {{ 'views.api.getPaymentType.days_and_nights'|trans({}, 'MBHOnlineBundle') }} <strong>{{ request.days }}/<span id="mbh-package-info-nights">{{ request.nights }}</span></strong>.
            {{ 'views.api.getPaymentType.nomerov'|trans({}, 'MBHOnlineBundle') }}<strong>{{ request.packages|length }}</strong><br />
            {{ 'views.api.getPaymentType.order_result'|trans({}, 'MBHOnlineBundle') }}<strong><span class="mbh-results-total-sum"><span id="mbh-package-info-total">{{ request.total }}</span>&nbsp;р.</span></strong>&nbsp; {{ 'views.api.getPaymentType.nomera'|trans({}, 'MBHOnlineBundle') }} <span class="mbh-results-total-sum"><span id="mbh-package-info-total-packages">{{ request.totalPackages }}</span>&nbsp;р.</span>&nbsp; {{ 'views.api.getPaymentType.services'|trans({}, 'MBHOnlineBundle') }} <span class="mbh-results-total-sum"><span id="mbh-package-info-total-services">{{ request.totalServices }}</span>&nbsp;р.</span><br />
            {% if request.tariff is defined %}
                {{ 'views.api.getPaymentType.tariff'|trans({}, 'MBHOnlineBundle') }}<strong> {{ request.tariff.title }} </strong>
            {% endif %}
        </div>

        <div id="mbh-payment-types">
            <h4>
                {% if formConfig.paymentTypes|length > 1 %}
                    {{ 'views.api.getPaymentType.choose_payment_way'|trans({}, 'MBHOnlineBundle') }}
                {% else %}
                    Способ оплаты
                {% endif %}
            </h4>
            {% for paymentType in formConfig.paymentTypes %}
                {% if env or  paymentType == 'in_hotel' %}
                <div class="mbh-payment-type-row">
                    <input {% if formConfig.paymentTypes|length == 1 %}checked style="display:none;"{% endif %} type="radio" class="mbh-payment-types-radio" name="paymentType" value="{{ paymentType }}" id="{{ paymentType }}_radio" required><label for="{{ paymentType }}_radio" class="mbh-payment-type-label">{{ config.payment_types[paymentType] }}</label>
                    {% if paymentType == 'in_hotel' %}
                        <p> {{ 'views.api.getPaymentType.payment_fine'|trans({}, 'MBHOnlineBundle') }}</p>
                    {% endif %}
                    {% if paymentType == 'online_full' %}
                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_whole_sum'|trans({}, 'MBHOnlineBundle') }}</p>
                    {% endif %}
                    {% if paymentType == 'online_first_day' %}
                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_first_night'|trans({}, 'MBHOnlineBundle') }}</p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="mbh-results-actions">
            <button id="mbh-payment-types-previous" class="button">
                <small><i class="fa fa-chevron-left"></i></small>
                {{ 'views.api.getPaymentType.choose_other_rooms'|trans({}, 'MBHOnlineBundle') }}
            </button>
            <button id="mbh-payment-types-next" class="button">{{ 'views.api.getPaymentType.reservate'|trans({}, 'MBHOnlineBundle') }}
                <small><i class="fa fa-chevron-right "></i></small>
            </button>
        </div>
    {% else %}
        <div class="mbh-results-error"><i class="fa fa-exclamation-circle"> </i> {{ 'views.api.getPaymentType.reservation_error_try_again'|trans({}, 'MBHOnlineBundle') }}  Произошла ошибка во время бронирования. Обновите страницу и попробуйте еще раз.</div>
    {% endif %}
    </div>
{% endspaceless %}