/*global window */
jQuery(document).ready(function () {
    var wrapper = jQuery('#mbh-results-wrapper'),
        requestParams = {},
        waiting = function () {
            wrapper.html('<div class="mbh-results-info"><i class="fa fa-spinner fa-spin"></i> Подождите...</div>');
        },
        getUrlVars = function () {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        setSelect2 = function () {
            jQuery('select.select2').select2({
                placeholder: '',
                allowClear: false,
                minimumResultsForSearch: -1,
                width: 'resolve'
            });
        },
        query = getUrlVars()
    ;

    if (!query.begin || !query.end) {
        wrapper.html('<div class="mbh-results-error"><i class="fa fa-exclamation-circle"></i> Не выбраны даты заезда и выезда!</div>');
        return false;
    }
    waiting();

    // load table
    jQuery.ajax({
        url: '{{ urls.table }}',
        data: window.location.search.replace('?', '') + '&userID=' + jQuery('#mbh-results-userID').val(),
        dataType: 'html',
        crossDomain: true,
        success: function(data) {
            wrapper.html('{{ styles|escape("js") }}' + data);
            setSelect2();

            //show full image
            (function () {
                var wrapperImage = jQuery('#mbh-image-show-wrapper');
                jQuery('.mbh-roomType-image').each(function () {
                    jQuery(this).hover(function(e){
                        var offset = {top : jQuery(this).offset().top+15, left : jQuery(this).offset().left+jQuery(this).width()-25};
                        wrapperImage.offset(offset);
                        wrapperImage.html('<img src="'+ jQuery(this).attr('src') +'">');
                        if(wrapperImage.find('img').width() > 100) {
                            wrapperImage.css('visibility' , "visible");
                        }
                    }, function(){
                        wrapperImage.css('visibility' , "hidden");
                        wrapperImage.find('img').remove();
                    })
                });
            }());

            // remove border
            (function () {
                jQuery('#mbh-results-table tbody tr:last td').css('border', '0px');
            }());

            //description toggle
            (function () {
                jQuery('.mbh-results-roomType-description-tr').hide();
                jQuery('.mbh-results-roomType-description-link').click(function(e) {
                    e.preventDefault();
                    jQuery(this).closest('tr').find('td').toggleClass('without-border');
                    jQuery(this).closest('tr').siblings('.mbh-results-roomType-description-tr').toggle();
                    jQuery(this).children('i').toggleClass('fa-angle-down');
                });
            }());

            //tariff links
            (function () {
                jQuery('#mbh-results-tariffs a').each(function () {
                    jQuery(this).attr('href', jQuery(location).attr('pathname') + jQuery(this).attr('href'));
                })
            }());

            // table prices
            (function() {
                var show = function(tr) {
                        var tourist = tr.find('.mbh-results-tourists-select'),
                            touristVal = tourist.select2('data').id,
                            per_person = tr.find('.mbh-results-per-person')
                            ;
                        tr.find('ul.mbh-results-prices').hide();
                        tr.find('ul.mbh-results-prices li').hide();
                        tr.find('ul.mbh-results-prices li.' + touristVal).show();
                        tr.find('ul.mbh-results-prices').show();

                        if (parseInt(per_person.attr('data-change'), 10)) {
                            var touriststHash = touristVal.split('_'),
                                totalTourists = parseInt(touriststHash[0], 10) + parseInt(touriststHash[1], 10);
                            var touristsPhrase = (totalTourists === 1) ? ' человека': ' человек';
                            ;

                            per_person.html('цена за ' + totalTourists + touristsPhrase);
                        }
                    }
                    ;
                jQuery('.mbh-results-tourists-select').click(function() {
                    show(jQuery(this).closest('tr'));
                });
                jQuery('.mbh-results-tourists-select').each(function() {
                    show(jQuery(this).closest('tr'));
                });
            }());

            //colorize tr
            (function() {
                var show = function () {
                        var selected = jQuery('select.mbh-results-packages-count').filter(function() {
                            return parseInt(jQuery(this).val(), 10) > 0;
                        });
                        jQuery('#mbh-results-table').find('tr').removeClass('mbh-result-selected-tr');
                        if (selected.length) {
                            selected.each(function () {
                                jQuery(this).closest('tr').addClass('mbh-result-selected-tr');

                            });
                        }
                    };
                    show();
                    jQuery('select.mbh-results-packages-count').change(function(){
                        show();
                    });
            }());

            //show services
            (function() {
                var servicesWrapper = jQuery('#mbh-results-services-wrapper'),
                    show = function () {
                        var selected = jQuery('select.mbh-results-packages-count').filter(function() {
                            return parseInt(jQuery(this).val(), 10) > 0;
                        });
                        servicesWrapper.hide();
                        servicesWrapper.find('tbody tr').hide();

                        jQuery('#mbh-results-table').find('tr').removeClass('mbh-result-selected-tr');

                        if (selected.length) {
                            var i = 0;
                            selected.each(function () {
                                var hotelId = jQuery(this).closest('tr').find('span.mbh-results-hotel').attr('data-id');
                                jQuery(this).closest('tr').addClass('mbh-result-selected-tr');
                                jQuery('span.mbh-results-services-hotel').filter(function() {
                                    if (jQuery(this).attr('data-id') == hotelId) {
                                        i++;
                                        return true;
                                    } else {
                                        return false;
                                    }

                                }).closest('tr').show();
                            });
                            if(i) {
                                servicesWrapper.show();
                            }
                        }
                    }
                    ;

                if(jQuery('#mbh-results-table-services-th-hotel').length) {
                    show();
                    jQuery('select.mbh-results-packages-count').change(function(){
                        show();
                    });
                }
            }());

            // calc total
            (function() {
                var calc = function() {
                    var totalPackages = 0,
                        totalServices = 0,
                        total = 0,
                        nextButton = jQuery('#mbh-results-next'),
                        roomCount = jQuery('select.mbh-results-packages-count'),
                        servicesCount = jQuery('select.mbh-results-services-count')
                    ;
                    nextButton.prop('disabled', true);
                    roomCount.each( function() {
                        if(jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                li = tr.find('ul.mbh-results-prices li:visible')
                                ;
                                if(li.length) {
                                    totalPackages += parseInt(li.attr('data-value')) * jQuery(this).val();
                                }
                            ;
                        }
                    });
                    servicesCount.each( function() {
                        if(jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                span = tr.find('span.mbh-results-services-prices')
                                ;
                            if(span.length) {
                                totalServices += parseInt(span.attr('data-value')) * jQuery(this).val();
                            }
                            ;
                        }
                    });

                    total = totalServices + totalPackages

                    jQuery('#mbh-results-total-sum').html(total);
                    jQuery('#mbh-results-total-packages-sum').html(totalPackages);
                    jQuery('#mbh-results-total-services-sum').html(totalServices);
                    if(totalPackages > 0) {
                        nextButton.prop('disabled', false);
                    }
                };
                calc();
                jQuery('.mbh-results-tourists-select, .mbh-results-packages-count, .mbh-results-services-count').click(function() {
                    calc();
                });
            }());

            // results next button
            (function(){
                jQuery('#mbh-results-next').click(function(){
                    var urlParams = getUrlVars(),
                        roomCount = jQuery('select.mbh-results-packages-count'),
                        servicesCount = jQuery('select.mbh-results-services-count')
                        ;
                    requestParams.begin  = jQuery('#mbh-results-duration-begin').text();
                    requestParams.end = jQuery('#mbh-results-duration-end').text();
                    requestParams.days = jQuery('#mbh-results-duration-days').text();
                    requestParams.nights = jQuery('#mbh-results-duration-nights').text();
                    requestParams.total = jQuery('#mbh-results-total-sum').text();
                    requestParams.totalPackages = jQuery('#mbh-results-total-packages-sum').text();
                    requestParams.totalServices = jQuery('#mbh-results-total-services-sum').text();
                    requestParams.packages = [];
                    requestParams.services = [];
                    roomCount.each( function() {
                        if(jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                pricesLi = tr.find('ul.mbh-results-prices li:visible'),
                                roomType = tr.find('span.mbh-results-roomType'),
                                tariff = tr.find('span.mbh-results-tariff')
                            ;
                            for(var i = 1; i <= jQuery(this).val(); i++) {
                                if(pricesLi.length) {

                                    var tourists = tr.find('select.mbh-results-tourists-select').val().split('_')

                                    requestParams.packages.push({
                                        'price': parseInt(pricesLi.attr('data-value')),
                                        'roomType': {id : roomType.attr('data-id'), 'title': roomType.text()},
                                        'tariff': {id: tariff.attr('data-id'), 'title': tariff.text()},
                                        'adults': tourists[0],
                                        'children': tourists[1]
                                    });
                                }
                            }
                            ;
                        }
                    });
                    servicesCount.each( function() {
                        if(jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                id = tr.find('span.mbh-results-services-name').attr('data-id')
                                ;
                            requestParams.services.push({
                                'id' : id,
                                'amount': jQuery(this).val()
                            });
                        }
                    });

                    //jQuery('#mbh-results-table-wrapper').html('sdsd'); return 1;

                    waiting();

                    requestParams.firstName = jQuery('#mbh-results-firstName').val();
                    requestParams.lastName = jQuery('#mbh-results-lastName').val();
                    requestParams.phone = jQuery('#mbh-results-phone').val();
                    requestParams.email = jQuery('#mbh-results-email').val();
                    requestParams.userID = jQuery('#mbh-results-userID').val();

                    // ----------------------- STEP2: load user form ----------------------------------------
                    jQuery.ajax({
                        url: '{{ urls.user_form }}',
                        type: 'POST',
                        data: JSON.stringify(requestParams),
                        dataType: 'html',
                        crossDomain: true,
                        success: function(data) {
                            wrapper.html('{{ styles|escape("js") }}' + data);

                            var prevUser = jQuery.cookie('mbh.user');
                            var prevPackage = jQuery.cookie('mbh.package');

                            /*if (prevUser) {
                                prevUser = JSON.parse(prevUser);
                                jQuery('#mbh-user-form-firstName').val(prevUser.firstName),
                                jQuery('#mbh-user-form-lastName').val(prevUser.lastName),
                                jQuery('#mbh-user-form-phone').val(prevUser.phone),
                                jQuery('#mbh-user-form-email').val(prevUser.email),
                                jQuery('#mbh-user-form-birthday').val(prevUser.birthday)
                            }*/

                            if (prevPackage) {
                                prevPackage = JSON.parse(prevPackage);
                                jQuery('#mbh-user-form-arrival').val(prevPackage.arrival),
                                jQuery('#mbh-user-form-departure').val(prevPackage.departure),
                                jQuery('#mbh-user-form-note').val(prevPackage.note)
                            }

                            jQuery('#mbh-user-form-birthday').mask("99.99.9999");

                            jQuery('#mbh-user-form-previous').click(function(){
                                window.location.reload();
                            });

                            var getUser = function () {
                                return {
                                    firstName: jQuery('#mbh-user-form-firstName').val(),
                                    lastName: jQuery('#mbh-user-form-lastName').val(),
                                    phone: jQuery('#mbh-user-form-phone').val(),
                                    email: jQuery('#mbh-user-form-email').val(),
                                    birthday: jQuery('#mbh-user-form-birthday').val()
                                };
                            };
                            var getPackageInfo = function () {
                                return {
                                    'arrival': jQuery('#mbh-user-form-arrival').val(),
                                    'departure': jQuery('#mbh-user-form-departure').val(),
                                    'note': jQuery('#mbh-user-form-note').val()
                                };
                            };

                            //save cookies
                            (function(){
                                jQuery('#mbh-user-form-form input, #mbh-user-form-form textarea').bind('propertychange change click keyup input paste', function (){
                                    jQuery.cookie('mbh.user', JSON.stringify(getUser()));
                                    jQuery.cookie('mbh.package', JSON.stringify(getPackageInfo()), { expires: 1});
                                });
                                jQuery('#mbh-user-form-form select').change(function(){
                                    jQuery.cookie('mbh.package', JSON.stringify(getPackageInfo()), { expires: 1});
                                });
                            }());

                            // validate user form
                            (function() {

                                var inputs = jQuery('#mbh-user-form input:required'),
                                    validate = function() {
                                        var nextButton = jQuery('#mbh-user-form-next');
                                        nextButton.prop('disabled', false);
                                        inputs.each(function(){
                                            if(!jQuery(this).val()) {
                                                nextButton.prop('disabled', true);
                                                return false;
                                            }
                                        });
                                        return true;
                                    }
                                    ;
                                validate();
                                inputs.bind("propertychange change click keyup input paste", function () {
                                    validate();
                                })
                            }());

                            // user form next button
                            jQuery('#mbh-user-form-next').click(function(){
                                requestParams.user = getUser();
                                requestParams = jQuery.extend(requestParams, getPackageInfo());

                                waiting();

                                // ------------------------------ STEP 3: load payment type -------------------------
                                jQuery.ajax({
                                    url: '{{ urls.payment_type }}',
                                    type: 'POST',
                                    data: JSON.stringify(requestParams),
                                    dataType: 'html',
                                    crossDomain: true,
                                    success: function(data) {

                                        var total = requestParams.total,
                                            totalPackages = requestParams.totalPackages,
                                            totalServices = requestParams.totalServices
                                            ;
                                        wrapper.html('{{ styles|escape("js") }}' + data);

                                        jQuery('#mbh-payment-types-previous').click(function(){
                                            window.location.reload();
                                        });

                                        // user payment form validate & calc total
                                        (function(){
                                            var validate = function() {
                                                jQuery('#mbh-payment-types-next').prop('disabled', !jQuery('.mbh-payment-types-radio:checked').length);
                                            };
                                            var calc = function() {
                                                var type = jQuery('.mbh-payment-types-radio:checked'),
                                                    totalWrapper = jQuery('#mbh-package-info-total'),
                                                    totalHidden = jQuery('#mbh-package-info-total-hidden'),
                                                    totalPackagesWrapper = jQuery('#mbh-package-info-total-packages'),
                                                    sum = total,
                                                    sumHidden = total,
                                                    sumPackages = totalPackages
                                                    ;



                                                if (type.length) {
                                                    if (type.val() === 'online_first_day') {
                                                        sumPackages = Math.round(totalPackages/requestParams.nights);
                                                    } else if (type.val() === 'online_half') {
                                                        sumPackages = Math.round(totalPackages/2);
                                                    } else if (type.val() === 'online_twenty_percent' || type.val() == 'bank') {
                                                        sumPackages = Math.round(totalPackages/5);
                                                    }

                                                    sum = parseInt(totalPackages, 10) + parseInt(totalServices, 10);
                                                    sumHidden = parseInt(sumPackages, 10) + parseInt(totalServices, 10);
                                                }
                                                totalWrapper.html(sum);
                                                totalHidden.html(sumHidden);
                                                totalPackagesWrapper.html(sumPackages);
                                            }
                                            validate();
                                            jQuery('.mbh-payment-types-radio').change(function() {
                                                validate();
                                                calc();
                                            });
                                        }());

                                        //user payment types next button
                                        jQuery('#mbh-payment-types-next').click(function(){
                                            requestParams.total = jQuery('#mbh-package-info-total-hidden').text();
                                            requestParams.paymentType = jQuery('.mbh-payment-types-radio:checked').val();

                                            waiting();

                                            // STEP 4: results
                                            jQuery.ajax({
                                                url: '{{ urls.results }}',
                                                type: 'POST',
                                                data: JSON.stringify(requestParams),
                                                dataType: 'json',
                                                crossDomain: true,
                                                success: function(data) {
                                                    if (data.success) {
                                                        jQuery.removeCookie('mbh.package');

                                                        wrapper.html('{{ styles|escape("js") }} <div class="mbh-results-info"><i class="fa fa-check-circle-o"></i> ' + data.message + '</div>');

                                                        if (data.form) {
                                                            wrapper.append(data.form);
                                                        }
                                                    } else {
                                                        wrapper.html('{{ styles|escape("js") }} <div class="mbh-results-error" style="padding: 10px; margin: 10px 0px; background-color: #308dac; color: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;"><i class="fa fa-exclamation-circle"></i> ' + data.message + '</div>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                });
                            });
                        }
                    });
                });
            }());
        }
    });
})


