{% spaceless %}
    <style>
        .col-xs-1 {
            padding-top: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .col-xs-8 {
            padding: 10px 0;
        }
        .row {
            margin: 0;
        }
    </style>
    {% if tariffResults|length > 0 %}
        <div id="mbh-results-global-wrapper">

            {% if results|length %}
                <div id="mbh-results-duration">
                    <div id="mbh-result-response-info">
                        <span id="mbh-results-duration-days">{{ results|first.days }}</span>
                        <span id="mbh-results-duration-nights">{{ results|first.nights }}</span>
                    </div>
                    {{ 'views.api.getResultsTable.hotel_rooms_for'|trans({}, 'MBHOnlineBundle') }}
                    {{ results|first.nights }} {{ 'nights'|transchoice(results|first.nights) }} {{ 'from'|trans }}
                    <span id="mbh-results-duration-begin">{{ results|first.begin|date('d.m.Y') }}</span> {{ 'to'|trans }}
                    <span id="mbh-results-duration-end">{{ results|first.end|date('d.m.Y') }}</span>
                </div>

                {% if tariffResults|length > 0 %}
                    {% include 'MBHOnlineBundle:Api:tariffs.html.twig' with {'tariffResults': tariffResults} %}
                {% endif %}

                <div id="mbh-results-table-wrapper">
                    <div id="mbh-results-header" class="row"
                         style="font-weight: bold;">
                        <div class="col-xs-8">
                            {{ 'views.api.getResultsTable.room_type'|trans({}, 'MBHOnlineBundle') }}
                        </div>
                        <div class="col-xs-1 mbh-center">
                            {{ 'views.api.getResultsTable.room_cache_count'|trans({}, 'MBHOnlineBundle') }}
                        </div>
                        <div class="col-xs-1 mbh-center">
                            {{ 'views.api.getResultsTable.guests'|trans({}, 'MBHOnlineBundle') }}
                        </div>
                        <div class="col-xs-1 mbh-center">
                            {{ 'views.api.getResultsTable.price'|trans({}, 'MBHOnlineBundle') }}
                        </div>
                        <div class="col-xs-1 mbh-center">
                            {{ 'views.api.getResultsTable.rooms_amount'|trans({}, 'MBHOnlineBundle') }}
                        </div>
                    </div>

                    {% set isSingleResult = results|length == 1 %}
                    {% for result in results %}
                        <div class="row"
                             style="background-color: #f9f9f9; border-top: 2px solid #dddddd;">
                            <div class="col-xs-8 mbh-left">
                                <div id="mbh-results-image-wrapper">
                                    {% if result.roomType.mainImage is not empty %}
                                        {% set image = result.roomType.getMainImage %}
                                        <a href="{{ asset(vich_uploader_asset(image, 'imageFile') | imagine_filter('scaler')) }}"
                                           class="fancybox" data-fancybox="group-{{ result.roomType.id }}">
                                            <img class="main"
                                                 src="{{ asset(vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb_155x155')) }}">
                                        </a>
                                    {% endif %}
                                    {% for image in result.roomType.onlineImagesByPriority if not image.isMain %}
                                        <a href="{{ asset(vich_uploader_asset(image, 'imageFile')|imagine_filter('scaler')) }}"
                                           class="fancybox" data-fancybox="group-{{ result.roomType.id }}">
                                            <img src="{{ asset(vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb_50x50')) }}">
                                        </a>
                                    {% endfor %}
                                </div>
                                <input type="hidden" id="mbh-form-locale" value="{{ app.request.locale }}">
                                <span class="mbh-results-roomType"
                                      data-id="{{ result.roomType.id }}">{{ result.roomType.localeTitle(app.request.locale) }}</span>
                                <span class="mbh-results-hotel"
                                      data-id="{{ result.roomType.hotel.id }}">{{ result.roomType.hotel.fullTitle }}</span>
                                <div class="mbh-results-table-tariff">
                                    {{ 'views.api.getResultsTable.tariff'|trans({}, 'MBHOnlineBundle') }}
                                    : {{ result.tariff.fullTitle }}
                                </div>
                                {% if result.roomType.facilities is not empty %}
                                    <ul class="inline-facility spacer-top">
                                        {% for facility in result.roomType.facilities %}
                                            <li><span class="fa fa-lg mbf-{{ facility }}"
                                                      data-title="{% for key, val in facilityArray %}{% if key == facility %}{{ val }}{% endif %}{% endfor %}"></span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if result.roomType.description is not empty %}
                                    <div class="mbh-results-roomType-description-wrappper">
                                        <a href="#" class="mbh-results-roomType-description-link"> <i
                                                    class="fa fa-angle-right "> </i> {{ 'views.api.getResultsTable.room_description'|trans({}, 'MBHOnlineBundle') }}
                                        </a>
                                        {% if result.roomType.description is not empty %}
                                            <div class="mbh-results-roomType-description-tr">
                                                <div class="mbh-left mbh-results-roomType-description" colspan="5">
                                                    {{ result.roomType.description|raw }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-xs-1 mbh-center">
                                {{ result.roomsCount }}
                            </div>
                            <div class="col-xs-1 mbh-center">
                                <select class="mbh-results-tourists-select select2 {% if result.prices|length == 1 %}hidden{% endif %}">
                                    {% for priceTourists, price  in result.prices %}
                                        {% set arr = priceTourists|split('_') %}
                                        <option value="{{ priceTourists }}">
                                            {% if arr[0] %}{{ arr[0] }} {{ 'views.api.getResultsTable.number_of_adults'|trans }}{% endif %}{% if arr[1] and arr[0] %}+{% endif %}{% if arr[1] %}{{ arr[1] }} {{ 'views.api.getResultsTable.number_of_children'|trans }}{% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if result.prices|length == 1 %}
                                    {% for priceTourists, price  in result.prices %}
                                        {% set arr = priceTourists|split('_') %}
                                        {% if arr[0] %}{% for i in 1..arr[0] %}<i
                                                class="fa fa-male"></i>&nbsp;{% endfor %}{% endif %}
                                        {% if arr[1] %}{% for k in 1..arr[1] %}
                                            <small><i class="fa fa-child"></i></small>&nbsp;{% endfor %}{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-xs-1 mbh-center">
                                {% for priceTourists, price  in result.prices %}

                                    <ul class="mbh-results-prices">
                                        <li data-value="{{ price }}"
                                            class="{{ priceTourists }}">{{ price|number_format }} {{ currency().text|trans }}
                                    </ul>

                                {% endfor %}
                            </div>
                            <div class="col-xs-1 mbh-center">
                                {% set maxConfig = formConfig.maxPackages %}
                                {% if  result.roomsCount > maxConfig %}
                                    {% set max = maxConfig %}
                                {% else %}
                                    {% set max = result.roomsCount %}
                                {% endif %}
                                <select class="mbh-results-packages-count select2 {{ max == 1 ? 'hidden' }}">
                                    <option value="0" {% if not isSingleResult %} selected="selected" {% endif %}>0
                                    </option>
                                    {% for i in 1..max %}
                                        <option {% if isSingleResult and i == 1 %} selected="selected" {% endif %}
                                                value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                {% if max == 1 %}
                                    <input type="checkbox" {% if isSingleResult %}checked{% endif %}
                                           class="mbh-results-packages-count" value="1">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div id="mbh-results-actions">
                    <span id="mbh-results-packages-total"> {{ 'views.api.getResultsTable.rooms'|trans({}, 'MBHOnlineBundle') }}
                        <span id="mbh-results-total-packages-sum" class="mbh-results-total-sum">0</span>&nbsp;<span
                                class="mbh-results-total-sum">{{ currency().text|trans }}</span></span> &nbsp;
                    <span id="mbh-results-services-total"
                          style="display: none;"> {{ 'views.api.getResultsTable.services'|trans({}, 'MBHOnlineBundle') }}
                        <span id="mbh-results-total-services-sum" class="mbh-results-total-sum">0</span>&nbsp;<span
                                class="mbh-results-total-sum">{{ currency().text|trans }}</span></span> &nbsp;
                    <span id="mbh-results-total">{{ 'views.api.getResultsTable.result'|trans({}, 'MBHOnlineBundle') }}
                        <span id="mbh-results-total-sum" class="mbh-results-total-sum">0</span>&nbsp;<span
                                class="mbh-results-total-sum">{{ currency().text|trans }}</span></span>
                    <button id="mbh-results-next"
                            class="button btn btn-primary spacer-left-sm"> {{ 'views.api.getResultsTable.continue'|trans({}, 'MBHOnlineBundle') }}
                        <small><i class="fa fa-chevron-right "></i></small>
                    </button>
                </div>
            {% else %}
                {% if tariffResults|length > 0 %}
                    {% include 'MBHOnlineBundle:Api:tariffs.html.twig' with {'tariffResults': tariffResults} %}
                {% endif %}
                <div class="mbh-results-error"><i
                            class="fa fa-exclamation-circle"> </i> {{ 'views.api.getResultsTable.nothing_found_for_your_query'|trans({}, 'MBHOnlineBundle') }}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="mbh-results-error alert alert-warning"><i
                    class="fa fa-exclamation-circle"> </i> {{ 'views.api.getResultsTable.nothing_found_for_your_query'|trans({}, 'MBHOnlineBundle') }}
        </div>
    {% endif %}
{% endspaceless %}
