{% spaceless %}

    {% if tariffResults|length > 0 %}
        <div id="mbh-results-global-wrapper">

            {% if results|length %}
                <div id="mbh-image-show-wrapper"></div>
                <div id="mbh-results-duration">
                    <div id="mbh-result-response-info">
                        <span id="mbh-results-duration-days">{{ results|first.days }}</span>
                        <span id="mbh-results-duration-nights">{{ results|first.nights }}</span>
                    </div>
                    {{ 'views.api.getResultsTable.hotel_rooms_for'|trans({}, 'MBHOnlineBundle') }}
                    {{ results|first.nights }} {{ 'nights'|transchoice(results|first.nights) }} {{ 'from'|trans }}
                    <span id="mbh-results-duration-begin">{{ results|first.begin|date('d.m.Y') }}</span> {{ 'to'|trans }} <span id="mbh-results-duration-end">{{ results|first.end|date('d.m.Y') }}</span>
                </div>
                {% if tariffResults|length > 0 %}
                    {% include 'MBHOnlineBundle:Api:tariffs.html.twig' with {'tariffResults': tariffResults} %}
                {% endif %}

                <div id="mbh-results-table-wrapper">
                    <table id="mbh-results-table">
                        <thead>
                        <tr>
                            <th id="mbh-results-table-th-roomType">{{ 'views.api.getResultsTable.room_type'|trans({}, 'MBHOnlineBundle') }}</th>
                            <th id="mbh-results-table-th-tourist">{{ 'views.api.getResultsTable.guests'|trans({}, 'MBHOnlineBundle') }}</th>
                            <th id="mbh-results-table-th-price">{{ 'views.api.getResultsTable.price'|trans({}, 'MBHOnlineBundle') }}</th>
                            <th id="mbh-results-table-th-amount">{{ 'views.api.getResultsTable.rooms_amount'|trans({}, 'MBHOnlineBundle') }}</th>
                        </tr>
                        </thead>

                        {% for result in results %}
                            <tbody>
                            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                                <td class="mbh-left">
                        <span class="mbh-results-tariff"
                              data-id="{{ result.tariff.id }}">{{ result.tariff.fullTitle }}</span>
                                    <div id="mbh-results-image-wrapper">
                                    {% if result.roomType.mainImage is not empty %}
                                       {% set image = result.roomType.getMainImage %}
                                        <a href="{{ asset(vich_uploader_asset(image, 'imageFile') | imagine_filter('scaler')) }}"
                                            class="fancybox" data-fancybox="group-{{ result.roomType.id }}">
                                        <img class="main" src="{{ asset(vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb_155x155')) }}">
                                        </a>
                                    {% endif %}
                                    {% for image in result.roomType.onlineImagesByPriority if not image.isMain %}
                                        <a href="{{ asset(vich_uploader_asset(image, 'imageFile')|imagine_filter('scaler')) }}"
                                        class="fancybox" data-fancybox="group-{{ result.roomType.id }}">
                                            <img src="{{ asset(vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb_50x50')) }}">
                                        </a>
                                    {% endfor %}
                                    </div>
                                    <span class="mbh-results-roomType"
                                          data-id="{{ result.roomType.id }}">{{ result.roomType.localeTitle(app.request.locale) }}</span>
                                    {% if hotels|length > 1 %}<span class="mbh-results-hotel"
                                                                    data-id="{{ result.roomType.hotel.id }}">{{ result.roomType.hotel.fullTitle }}</span>{% endif %}
                                    {% if result.roomType.description is not empty %}
                                        <div class="mbh-results-roomType-description-wrappper">
                                            <a href="#" class="mbh-results-roomType-description-link"> <i
                                                        class="fa fa-angle-right "> </i> {{ 'views.api.getResultsTable.room_description'|trans({}, 'MBHOnlineBundle') }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="mbh-center">
                                    <select class="mbh-results-tourists-select select2 {% if result.prices|length == 1 %}hidden{% endif %}">
                                        {% for priceTourists, price  in result.prices %}
                                            {% set arr = priceTourists|split('_') %}
                                            <option value="{{ priceTourists }}">
                                                {% if arr[0] %}{{ arr[0] }} {{ 'views.api.getResultsTable.number_of_adults'|trans}}{% endif %}{% if arr[1] and arr[0] %}+{% endif %}{% if arr[1] %}{{ arr[1] }} {{ 'views.api.getResultsTable.number_of_children'|trans}}{% endif %}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    {% if result.prices|length == 1 %}
                                        {% for priceTourists, price  in result.prices %}
                                            {% set arr = priceTourists|split('_') %}
                                            {% if arr[0] %}{% for i in 1..arr[0] %}<i
                                                    class="fa fa-male"></i>&nbsp;{% endfor %}{% endif %}
                                            {% if arr[1] %}{% for k in 1..arr[1] %}
                                                <small><i class="fa fa-child"></i></small>&nbsp;{% endfor %}{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td class="mbh-right">
                                    {% for priceTourists, price  in result.prices %}

                                        <ul class="mbh-results-prices">
                                            <li data-value="
                                            	{{ price }}
                                            " class="{{ priceTourists }}">


                                                {% if result.tariff.defaultPromotion and result.tariff.defaultPromotion.isPercentDiscount %}
                                                <div class="mbh-price-old" style="white-space: nowrap;">{{ (price/((100 - result.tariff.defaultPromotion.discount)/100))|round|number_format }}&nbsp;<i class="fa fa-ruble"></i></div>
                                                {% endif %}
                                                <div class="mbh-price-new" style="white-space: nowrap;">{{ price|round|number_format }}&nbsp;<i class="fa fa-ruble"></i></div>

                                        </ul>

                                    {% endfor %}


                                </td>
                                <td class="mbh-right" style="min-width:150px;">
			                        <button class="btn btn-sm btn-primary booking-button"><i class="fa fa-check"></i> Выбрать</button>
			                        <span class="hide">
			                            <select class="mbh-results-packages-count select2" style="width: 120px;">
			                                {% if  result.roomsCount > config.packages_max %}
			                                    {% set max = config.packages_max %}
			                                {% else %}
			                                    {% set max = result.roomsCount %}
			                                {% endif %}
			                                <option value="0" selected="selected">Отменить выбор</option>
			                                {% for i in 1..max %}
			                                    <option value="{{ i }}">{{ i }} номер(а)</option>
			                                {% endfor %}
			                            </select>
			                        </span>
			                    </td>
                            </tr>
                            {% if result.roomType.description is not empty %}
                                <tr class="mbh-left mbh-results-roomType-description-tr">
                                    <td class="mbh-left mbh-results-roomType-description" colspan="5">
                                        {{ result.roomType.description|raw }}
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <div id="mbh-results-actions">
                    <span id="mbh-results-packages-total"> {{ 'views.api.getResultsTable.rooms'|trans({}, 'MBHOnlineBundle') }}
                        <span id="mbh-results-total-packages-sum" class="mbh-results-total-sum">0</span>&nbsp;<span
                                class="mbh-results-total-sum"><i class="fa fa-ruble"></i></span></span> &nbsp;
                    <span id="mbh-results-services-total"> {{ 'views.api.getResultsTable.services'|trans({}, 'MBHOnlineBundle') }}
                        <span id="mbh-results-total-services-sum" class="mbh-results-total-sum">0</span>&nbsp;<span
                                class="mbh-results-total-sum"><i class="fa fa-ruble"></i></span></span> &nbsp;
                    <span id="mbh-results-total">{{ 'views.api.getResultsTable.result'|trans({}, 'MBHOnlineBundle') }}
                        <span id="mbh-results-total-sum-show" class="mbh-results-total-sum">0</span><span id="mbh-results-total-sum" class="mbh-results-total-sum" style="display: none;">0</span>&nbsp;<span
                                class="mbh-results-total-sum"><i class="fa fa-ruble"></i></span></span>
                    <button id="mbh-results-next"
                            class="button"> {{ 'views.api.getResultsTable.continue'|trans({}, 'MBHOnlineBundle') }}
                        <small><i class="fa fa-chevron-right "></i></small>
                    </button>
                </div>
            {% else %}
                {% if tariffResults|length > 0 %}
                    {% include 'MBHOnlineBundle:Api:tariffs.html.twig' with {'tariffResults': tariffResults} %}
                {% endif %}
                <div class="mbh-results-error"><i
                            class="fa fa-exclamation-circle"> </i> {{ 'views.api.getResultsTable.nothing_found_for_your_query'|trans({}, 'MBHOnlineBundle') }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}

<script>
$(document).ready(function(){

    $('.booking-button').each(function() {
        var $button = $(this);
        var $selectWrapper = $button.siblings('span');
        var $select = $selectWrapper.find('select');
        $button.on('click', function() {
            $button.hide();
            $selectWrapper.removeClass('hide');
            $select.val(1).trigger("change").trigger("click");
            submit_scroll_top = parseInt($('#mbh-results-actions').offset().top);
            window_scroll_top = parseInt($(window).scrollTop());
            window_height = parseInt($(window).height());
            if(submit_scroll_top > window_scroll_top+window_height+50) {
            	$("html, body").animate({scrollTop:(submit_scroll_top-window_height+120)+'px'},700);
            }
        });
        $select.on('change', function() {
            if($select.val() == 0) {
                $button.show();
                $selectWrapper.addClass('hide');
            };
        });
    });

});
</script>
