/*global window */
jQuery.fn.digits = function() {
    return this.each(function() {
        jQuery(this).text(priceSeparator(jQuery(this).text()));

    })
}

function priceSeparator(amount) {
    if (amount.length <= 3) {
        return amount;
    } else if (amount.length <= 6) {
        return amount.replace(/(\d{3}$)/, ",$1");
    } else if (amount.length <= 9) {
        return (amount.replace(/(\d{3})(\d{3}$)/, ",$1,$2")).replace(/(^(,))/, "");
    } else if (amount.length <= 12) {
        return (amount.replace(/(\d{3})(\d{3})(\d{3}$)/, ",$1,$2,$3")).replace(/(^(,))/, "");
    } else {
        return (argument.replace(/(\d)(\d{3})(\d{3})(\d{3}$)/, "$1,$2,$3,$4")).replace(/(^(,))/, "");
    }
}

jQuery(document).ready(function() {
    var searchData = {
        url: '',
        init: function () {
            var urlData = window.location.search.replace('?', '');
            if (urlData == ''){
                urlData = window.sessionStorage.getItem('MBHSearchData');
            }
            this.url = urlData == null ? '': urlData;
        }
    }

    searchData.init();

    var resize = function() {
        window.parent.postMessage({
            type: 'mbh',
            action: 'resize',
            height: jQuery('body').height()
        }, "*");
    };

    resize();
    setInterval(function() {
        resize();
    }, 300);

    var wrapper = jQuery('#mbh-results-wrapper'),
        requestParams = {},
        getLocale = function() {
            return jQuery('#mbh-form-locale').val();
        },
        waiting = function() {
            var text = '{{ "package.processing"|trans({}, 'front_messages')}}';
            wrapper.html('<div class="mbh-results-info alert alert-info"><i class="fa fa-spinner fa-spin"></i> ' + text + '</div>');
        },
        getUrlVars = function() {
            var vars = [],
                hash;
            var hashes = searchData.url.split('&');

            if (hashes.length <= 1){
                console.log('Empty search data');
            }
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        setSelect2 = function() {
            jQuery('select.select2').select2({
                placeholder: '',
                allowClear: false,
                minimumResultsForSearch: -1,
                width: 'resolve'
            });
        },
        query = getUrlVars();
    var errorHtml = jQuery('#mbh-date-error').clone().removeClass('hide').attr('id', '');
    if (!query.begin || !query.end) {
        wrapper.html(errorHtml);
        return false;
    }
    waiting();

    // load table
    jQuery.ajax({
        url: '{{ urls.table }}',
        data: searchData.url,
        dataType: 'html',
        crossDomain: true,
        success: function(data) {
            wrapper.html('{{ styles|escape("js") }}' + data);
            setSelect2();
            //show full image
            // (function() {
            //     var wrapperImage = jQuery('#mbh-image-show-wrapper');
            //     jQuery('.mbh-roomType-image').each(function() {
            //         jQuery(this).hover(function(e) {
            //             var offset = {
            //                 top: jQuery(this).offset().top + 15,
            //                 left: jQuery(this).offset().left + jQuery(this).width() - 25
            //             };
            //             wrapperImage.offset(offset);
            //             wrapperImage.html('<img src="' + jQuery(this).attr('src') + '">');
            //             if (wrapperImage.find('img').width() > 100) {
            //                 wrapperImage.css('visibility', "visible");
            //             }
            //         }, function() {
            //             wrapperImage.css('visibility', "hidden");
            //             wrapperImage.find('img').remove();
            //         })
            //     });
            // }());

            // remove border
            (function() {
                jQuery('#mbh-results-table tbody tr:last td').css('border', '0px');
            }());

            //description toggle
            (function() {
                jQuery('.mbh-results-roomType-description-tr').hide();
                jQuery('.mbh-results-roomType-description-link').click(function(e) {
                    e.preventDefault();
                    jQuery(this).closest('tr').find('td').toggleClass('without-border');
                    jQuery(this).closest('tr').siblings('.mbh-results-roomType-description-tr').toggle();
                    jQuery(this).children('i').toggleClass('fa-angle-down');
                });
            }());

            //tariff links
            (function() {
                jQuery('#mbh-results-tariffs a').each(function() {
                    jQuery(this).attr('href', jQuery(location).attr('pathname') + jQuery(this).attr('href'));
                })
            }());

            // table prices
            (function() {
                var show = function(tr) {
                    var tourist = tr.find('.mbh-results-tourists-select'),
                        touristVal = tourist.select2('data').id,
                        per_person = tr.find('.mbh-results-per-person');
                    tr.find('ul.mbh-results-prices').hide();
                    tr.find('ul.mbh-results-prices li').hide();
                    tr.find('ul.mbh-results-prices li.' + touristVal).show();
                    tr.find('ul.mbh-results-prices').show();

                    if (parseInt(per_person.attr('data-change'), 10)) {
                        var touriststHash = touristVal.split('_'),
                            totalTourists = parseInt(touriststHash[0], 10) + parseInt(touriststHash[1], 10);
                        var touristsPhrase = (totalTourists === 1) ? ' человека' : ' человек';

                        per_person.html('цена за ' + totalTourists + touristsPhrase);
                    }
                };
                jQuery('.mbh-results-tourists-select').click(function() {
                    show(jQuery(this).closest('tr'));
                });
                jQuery('.mbh-results-tourists-select').each(function() {
                    show(jQuery(this).closest('tr'));
                });

                (function setFancyBoxOffset() {
                    var frameOffset = 0;
                    window.addEventListener('message', function(event) {
                        var parentWindowData = event.data;
                        if (parentWindowData.type === 'onScroll') {
                            frameOffset = parentWindowData.frameTopOffset;
                        }
                    });
                    if (document.body.scrollHeight > screen.height) {
                        jQuery('.fancybox').fancybox({
                            'afterLoad': function () {
                                var fancyTopOffset = screen.height / 2 - frameOffset - document.body.scrollHeight / 2;
                                var offsetLimit = document.body.scrollHeight / 2 - screen.height / 2 + 30;
                                if (fancyTopOffset > offsetLimit) {
                                    fancyTopOffset = offsetLimit;
                                } else if (fancyTopOffset * (-1) > offsetLimit) {
                                    fancyTopOffset = (-1) * offsetLimit;
                                }
                                jQuery('.fancybox-placeholder').css('top', fancyTopOffset);
                            }
                        });
                    }
                })();
            }());

            //colorize tr
            (function() {
                var show = function() {
                    var selected = jQuery('select.mbh-results-packages-count, input.mbh-results-packages-count[type=checkbox]:checked').filter(function() {
                        return parseInt(jQuery(this).val(), 10) > 0;
                    });
                    jQuery('#mbh-results-table').find('tr').removeClass('mbh-result-selected-tr warning');
                    if (selected.length) {
                        selected.each(function() {
                            jQuery(this).closest('tr').addClass('mbh-result-selected-tr warning');

                        });
                    }
                };
                show();
                jQuery('.mbh-results-packages-count').change(function() {
                    show();
                });
            }());

            //show services
            (function() {
                var servicesWrapper = jQuery('#mbh-results-services-wrapper'),
                    show = function() {
                        var selected = jQuery('select.mbh-results-packages-count:not(.hidden), input.mbh-results-packages-count[type=checkbox]:checked').filter(function() {
                            return parseInt(jQuery(this).val(), 10) > 0;
                        });
                        servicesWrapper.hide();
                        servicesWrapper.find('tbody tr').hide();

                        jQuery('#mbh-results-table').find('tr').removeClass('mbh-result-selected-tr warning');

                        if (selected.length) {
                            var i = 0;
                            selected.each(function() {
                                var hotelId = jQuery(this).closest('tr').find('span.mbh-results-hotel').attr('data-id');
                                jQuery(this).closest('tr').addClass('mbh-result-selected-tr warning');
                                jQuery('span.mbh-results-services-hotel').filter(function() {
                                    if (jQuery(this).attr('data-id') == hotelId) {
                                        i++;
                                        return true;
                                    } else {
                                        return false;
                                    }

                                }).closest('tr').show();
                            });
                            if (i) {
                                servicesWrapper.show();
                            }
                        }
                    };

                if (jQuery('#mbh-results-table-services-th-hotel').length) {
                    show();
                    jQuery('.mbh-results-packages-count').change(function() {
                        show();
                    });
                }
            }());

            // calc total
            (function() {
                var calc = function() {
                    var totalPackages = 0,
                        totalServices = 0,
                        total = 0,
                        nextButton = jQuery('#mbh-results-next'),
                        roomCount = jQuery('select.mbh-results-packages-count:not(.hidden), input.mbh-results-packages-count[type=checkbox]:checked'),
                        servicesCount = jQuery('select.mbh-results-services-count');
                    nextButton.prop('disabled', true);
                    roomCount.each(function() {
                        if (jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                li = tr.find('ul.mbh-results-prices li:visible');
                            if (li.length) {
                                totalPackages += parseInt(li.attr('data-value')) * jQuery(this).val();
                            };
                        }
                    });
                    servicesCount.each(function() {
                        if (jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                span = tr.find('span.mbh-results-services-prices');
                            if (span.length) {
                                totalServices += parseInt(span.attr('data-value')) * jQuery(this).val();
                            }
                        }
                    });

                    total = totalServices + totalPackages

                    jQuery('#mbh-results-total-sum').html(total).digits();
                    jQuery('#mbh-results-total-packages-sum').html(totalPackages).digits();
                    jQuery('#mbh-results-total-services-sum').html(totalServices).digits();
                    if (totalPackages > 0) {
                        nextButton.prop('disabled', false);
                    }
                };
                calc();
                jQuery('.mbh-results-tourists-select, .mbh-results-packages-count, .mbh-results-services-count').on('click change', function() {
                    calc();
                });
            }());

            wrapper.trigger('results-load-event');

            // results next button
            (function() {
                jQuery('#mbh-results-next').click(function() {
                    window.parent.postMessage({
                        type: 'form-event',
                        purpose: 'rooms'
                    }, "*");
                    var urlParams = getUrlVars(),
                        roomCount = jQuery('select.mbh-results-packages-count:not(.hidden), input.mbh-results-packages-count[type=checkbox]:checked'),
                        servicesCount = jQuery('select.mbh-results-services-count');
                    requestParams.begin = jQuery('#mbh-results-duration-begin').text();
                    requestParams.end = jQuery('#mbh-results-duration-end').text();
                    requestParams.days = jQuery('#mbh-results-duration-days').text();
                    requestParams.nights = jQuery('#mbh-results-duration-nights').text();
                    requestParams.total = jQuery('#mbh-results-total-sum').text();
                    requestParams.totalPackages = jQuery('#mbh-results-total-packages-sum').text();
                    requestParams.totalServices = jQuery('#mbh-results-total-services-sum').text();
                    requestParams.packages = [];
                    requestParams.services = [];
                    requestParams.locale = getLocale();
                    requestParams.configId = "{{ configId }}";
                    roomCount.each(function() {
                        if (jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                pricesLi = tr.find('ul.mbh-results-prices li:visible'),
                                roomType = tr.find('span.mbh-results-roomType'),
                                hotel = tr.find('span.mbh-results-hotel'),
                                tariff = tr.find('span.mbh-results-tariff');
                            for (var i = 1; i <= jQuery(this).val(); i++) {
                                if (pricesLi.length) {

                                    var tourists = tr.find('select.mbh-results-tourists-select').val().split('_')

                                    requestParams.packages.push({
                                        'price': parseInt(pricesLi.attr('data-value')),
                                        'roomType': {
                                            id: roomType.attr('data-id'),
                                            'title': roomType.text()
                                        },
                                        'hotel': {
                                            id: hotel.attr('data-id'),
                                            'title': hotel.text()
                                        },
                                        'tariff': {
                                            id: tariff.attr('data-id'),
                                            'title': tariff.text()
                                        },
                                        'adults': tourists[0],
                                        'children': tourists[1]
                                    });
                                }
                            }
                        }
                    });
                    servicesCount.each(function() {
                        if (jQuery(this).val() > 0) {
                            var tr = jQuery(this).closest('tr'),
                                id = tr.find('span.mbh-results-services-name').attr('data-id');
                            requestParams.services.push({
                                'id': id,
                                'amount': jQuery(this).val()
                            });
                        }
                    });

                    //jQuery('#mbh-results-table-wrapper').html('sdsd'); return 1;

                    waiting();

                    // ----------------------- STEP2: load user form ----------------------------------------
                    jQuery.ajax({
                        url: '{{ urls.user_form }}',
                        type: 'POST',
                        data: JSON.stringify(requestParams),
                        dataType: 'html',
                        crossDomain: true,
                        success: function(data) {
                            wrapper.html('{{ styles|escape("js") }}' + data);

                            wrapper.trigger('user-form-load-event');

                            setSelect2();
                            var prevUser = jQuery.cookie('mbh.user');
                            var prevPackage = jQuery.cookie('mbh.package');

                            if (prevUser) {
                                prevUser = JSON.parse(prevUser);
                                jQuery('#mbh-user-form-firstName').val(prevUser.firstName);
                                jQuery('#mbh-user-form-lastName').val(prevUser.lastName);
                                jQuery('#mbh-user-form-phone').val(prevUser.phone);
                                jQuery('#mbh-user-form-email').val(prevUser.email);
                                jQuery('#mbh-user-form-birthday').val(prevUser.birthday);
                            }

                            if (prevPackage) {
                                prevPackage = JSON.parse(prevPackage);
                                jQuery('#mbh-user-form-note').val(prevPackage.note)
                            }

                            jQuery('#mbh-user-form-birthday').mask("99.99.9999");

                            jQuery('#mbh-user-form-previous').click(function() {
                                window.location.reload();
                            });

                            var getUser = function() {
                                var $innInput = jQuery('#mbh-user-form-inn');
                                var $documentNumber = jQuery('#mbh-user-form-document-number');
                                var $patronymicInput = jQuery('#mbh-user-form-patronymic');

                                return {
                                    firstName: jQuery('#mbh-user-form-firstName').val(),
                                    lastName: jQuery('#mbh-user-form-lastName').val(),
                                    phone: jQuery('#mbh-user-form-phone').val(),
                                    email: jQuery('#mbh-user-form-email').val(),
                                    birthday: jQuery('#mbh-user-form-birthday').val(),
                                    inn: $innInput.length > 0 ? $innInput.val() : null,
                                    documentNumber: $documentNumber.length > 0 ? $documentNumber.val() : null,
                                    patronymic: $patronymicInput.length > 0 ? $patronymicInput.val() : null
                                };
                            };
                            var getPackageInfo = function() {
                                return {
                                    'note': jQuery('#mbh-user-form-note').val()
                                };
                            };

                            //save cookies
                            (function() {
                                jQuery('#mbh-user-form-form input, #mbh-user-form-form textarea').bind('propertychange change click keyup input paste', function() {
                                    jQuery.cookie('mbh.user', JSON.stringify(getUser()));
                                    jQuery.cookie('mbh.package', JSON.stringify(getPackageInfo()), {
                                        expires: 1
                                    });
                                });
                                jQuery('#mbh-user-form-form select').change(function() {
                                    jQuery.cookie('mbh.package', JSON.stringify(getPackageInfo()), {
                                        expires: 1
                                    });
                                });
                            }());

                            // validate user form
                            (function() {
                                var phone = jQuery('#mbh-user-form-phone');
                                var email = jQuery('#mbh-user-form-email');
                                var name = jQuery('#mbh-user-form-firstName');
                                var lastName = jQuery('#mbh-user-form-lastName');
                                var inputs = jQuery('#mbh-user-form input:required, #mbh-user-form-email');

                                var validateEmail = function () {
                                    if ((email.val() || email.prop("required")) &&
                                        !email.val().match('^[a-z0-9._%+-]+@[a-z0-9._%+-]+\\.\\w{2,4}$')) {

                                        email.css('border', '1px solid red');
                                        return false;
                                    } else {
                                        email.css('border', '');
                                        return true;
                                    }
                                }
                                var validatePhone = function () {
                                    if (!phone.val()) {
                                        phone.css('border', '1px solid red');
                                        return false;
                                    } else {
                                        phone.css('border', '');
                                        return true;
                                    }
                                }
                                var validateName = function () {
                                    if (!name.val()) {
                                        name.css('border', '1px solid red');
                                        return false;
                                    } else {
                                        name.css('border', '');
                                        return true;
                                    }
                                }
                                var validateLastName = function () {
                                    if (!lastName.val()) {
                                        lastName.css('border', '1px solid red');
                                        return false;
                                    } else {
                                        lastName.css('border', '');
                                        return true;
                                    }
                                }

                                var validate = function() {
                                    var nextButton = jQuery('#mbh-user-form-next');
                                    nextButton.prop('disabled', true);

                                    var emailRes = validateEmail();
                                    var nameRes = validateName();
                                    var lastNameRes = validateLastName();
                                    var phoneRes = validatePhone();

                                    if (emailRes && nameRes && lastNameRes && phoneRes) {
                                        nextButton.prop('disabled', false);
                                    }
                                };

                                validate();

                                inputs.bind("propertychange change click keyup input paste blur", function() {
                                    validate();
                                })
                            }());

                            // user form next button
                            jQuery('#mbh-user-form-next').click(function() {
                                window.parent.postMessage({
                                    type: 'form-event',
                                    purpose: 'contacts'
                                }, "*");
                                servicesCount = jQuery('select.mbh-results-services-count')

                                servicesCount.each(function() {
                                    if (jQuery(this).val() > 0) {
                                        var tr = jQuery(this).closest('tr'),
                                            id = tr.find('span.mbh-results-services-name').attr('data-id');
                                        requestParams.services.push({
                                            'id': id,
                                            'amount': jQuery(this).val()
                                        });
                                    }
                                });
                                requestParams.user = getUser();
                                requestParams = jQuery.extend(requestParams, getPackageInfo());

                                var totalServices = 0;
                                servicesCount.each(function() {
                                    if (jQuery(this).val() > 0) {
                                        var tr = jQuery(this).closest('tr'),
                                            span = tr.find('span.mbh-results-services-prices');
                                        if (span.length) {
                                            totalServices += parseInt(span.attr('data-value')) * jQuery(this).val();
                                        }
                                    }
                                });
                                var total = parseInt(requestParams.total.replace(/,/g, ''));

                                total += totalServices;
                                requestParams.total = String(total);
                                requestParams.totalServices = String(totalServices);

                                var $personalDataCheckbox = jQuery('#mbh-form-personal-data');
                                requestParams.isConfrmWithPersDataProcessing
                                    = $personalDataCheckbox.length == 1 && $personalDataCheckbox.is(':checked');
                                requestParams.configId = "{{ configId }}";
                                waiting();

                                // ------------------------------ STEP 3: load payment type -------------------------
                                jQuery.ajax({
                                    url: '{{ urls.payment_type }}',
                                    type: 'POST',
                                    data: JSON.stringify(requestParams),
                                    dataType: 'html',
                                    crossDomain: true,
                                    success: function(data) {
                                        wrapper.trigger('payment-form-load-event');

                                        var total = requestParams.total.replace(/,/g, ''),
                                            totalPackages = requestParams.totalPackages.replace(/,/g, ''),
                                            totalServices = requestParams.totalServices.replace(/,/g, '');
                                        wrapper.html('{{ styles|escape("js") }}' + data);

                                        jQuery('#mbh-payment-types-previous').click(function() {
                                            window.location.reload();
                                        });

                                        var onlinePaymentTypes = ['online_full', 'online_half', 'online_first_day'];
                                        // user payment form validate & calc total
                                        (function() {
                                            var validate = function() {
                                                var $selectedPaymentType = jQuery('.mbh-payment-types-radio:checked');
                                                var isFormNotValid = !$selectedPaymentType.length
                                                    || (onlinePaymentTypes.indexOf($selectedPaymentType.val()) > -1 && !jQuery('#mbh-form-payment-system').val());
                                                jQuery('#mbh-payment-types-next').prop('disabled', isFormNotValid);
                                            };

                                            var calc = function() {
                                                var type = jQuery('.mbh-payment-types-radio:checked'),
                                                    totalWrapper = jQuery('#mbh-package-info-total'),
                                                    totalHidden = jQuery('#mbh-package-info-total-hidden'),
                                                    totalPackagesWrapper = jQuery('#mbh-package-info-total-packages'),
                                                    sum = total,
                                                    sumHidden = total,
                                                    sumPackages = totalPackages;
                                                if (type.length && (type.val() === 'online_first_day' || type.val() === 'by_receipt_first_day')) {
                                                    sumPackages = Math.round(totalPackages / requestParams.nights);
                                                    sum = parseInt(totalPackages, 10) + parseInt(totalServices, 10);
                                                    sumHidden = parseInt(sumPackages, 10) + parseInt(totalServices, 10);
                                                }
                                                if (type.length && (type.val() === 'online_half' || type.val() === 'by_receipt_half')) {
                                                    sumPackages = Math.round(totalPackages / 2);
                                                    sum = total / 2;
                                                    sumHidden = total / 2;
                                                }
                                                totalWrapper.html(sum);
                                                totalHidden.html(sumHidden);
                                                totalPackagesWrapper.html(sumPackages);

                                            }
                                            var togglePaymentSystemVisibility = function () {
                                                var selectedPaymentType = jQuery('.mbh-payment-types-radio:checked').val();
                                                var $paymentSystemsBlock = jQuery('#mbh-payment-systems');
                                                if (onlinePaymentTypes.indexOf(selectedPaymentType) > -1) {
                                                    $paymentSystemsBlock.show();
                                                } else {
                                                    $paymentSystemsBlock.hide();
                                                }
                                            }
                                            validate();
                                            jQuery('.mbh-payment-types-radio, #mbh-form-payment-system').change(function() {
                                                validate();
                                                calc();
                                                togglePaymentSystemVisibility();
                                            });
                                        }());

                                        //user payment types next button
                                        jQuery('#mbh-payment-types-next').click(function() {
                                            window.parent.postMessage({
                                                type: 'form-event',
                                                purpose: 'choose'
                                            }, "*");
                                            requestParams.total = jQuery('#mbh-package-info-total-hidden').text();
                                            requestParams.paymentType = jQuery('.mbh-payment-types-radio:checked').val();
                                            requestParams.paymentSystem = jQuery('#mbh-form-payment-system').val();
                                            waiting();

                                            // STEP 4: results
                                            jQuery.ajax({
                                                url: '{{ urls.results }}',
                                                type: 'POST',
                                                data: JSON.stringify(requestParams),
                                                dataType: 'json',
                                                crossDomain: true,
                                                success: function(data) {
                                                    if (data.success) {
                                                        wrapper.trigger('booking-result-load-event');
                                                        jQuery.removeCookie('mbh.package');

                                                        wrapper.html('{{ styles|escape("js") }} <div class="mbh-results-info alert alert-info"><i class="fa fa-check-circle-o"></i> ' + data.message + '</div>');

                                                        if (data.form) {
                                                            wrapper.append(data.form);
                                                        }
                                                    } else {
                                                        wrapper.html('{{ styles|escape("js") }} <div class="mbh-results-error alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + data.message + '</div>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                });
                            });
                        }
                    });
                });
            }());
        }
    });
})
