<div id="mbh-results-pay-form-wrapper">
    <form method="post" action="https://testcardpay.krasplat.ru/pay">
        <input type="hidden" name="Shop_IDP" value="{{ config.moneymailShopIDP }}">
        <input type="hidden" name="Subtotal_P" value="{{ total }}">
        <input type="hidden" name="Order_IDP" value="{{ order.id }}">
        <input type="hidden" name="Lifetime" value="{{ 60 * 15 }}">
        <input type="hidden" name="Customer_IDP" value="{{ order.mainTourist.id }}">
        {%  set url =  url('online_form_check_order') %}
        <input type="hidden" name="ResponseUrl" value="{{ url }}">
        {% if order.mainTourist.email is not empty %}
            <input type="hidden" name="Email" value="{{ order.mainTourist.email }}">
        {% endif %}
        <input type="hidden" name="Comment" value="Заказ #{{ order.id }}">
        {% set sig = config.moneymailShopIDP ~ order.id ~ total ~ order.mainTourist.id ~ url ~ config.moneymailKey %}
        <input type="hidden" name="Signature" value="{{ sig|mbh_md5|replace({'-': ''})|upper }}">

        <button id="mbh-results-pay-form-button" class="button" type="submit">
            <i class="fa fa-money"> </i> {{ 'views.api.make_payment_for_order_id'|trans({'%total%': total|number_format, '%order_id%': order.id } , 'MBHOnlineBundle') }}
        </button>
    </form>
</div>