<div id="mbh-results-pay-form-wrapper">
    <form method="post" action="https://moneta.ru/assistant.htm">
        {% set test = 0 %}
        {% set fTotal = total|number_format(2, '.', '') %}
        <input type="hidden" name="MNT_ID" value="{{ config.payanywayMntId }}">
        <input type="hidden" name="MNT_TRANSACTION_ID" value="{{ order.id }}">
        <input type="hidden" name="MNT_CURRENCY_CODE" value="RUB">
        <input type="hidden" name="MNT_TEST_MODE" value="{{ test }}">

        <input type="hidden" name="MNT_AMOUNT" value="{{ fTotal }}">

        {% set sig = config.payanywayMntId ~ order.id ~ fTotal ~ 'RUB' ~ test ~ config.payanywayKey %}

        <input type="hidden" name="MNT_SIGNATURE" value="{{ sig|mbh_md5 }}">

        <button id="mbh-results-pay-form-button" class="button" type="submit">
            <i class="fa fa-money"> </i> {{ 'views.api.make_payment_for_order_id'|trans({'%total%': total|number_format, '%order_id%': order.id } , 'MBHOnlineBundle') }}
        </button>
    </form>
</div>