{% if tariffResults|length != 0 %}
    <section id="mbh-results-tariffs">
        <div class="panel panel-primary spacer-top">
            <div class="panel-heading">
                {{ 'views.api.tariffs.tariffs_and_special_offers'|trans({}, 'MBHOnlineBundle') }}
            </div>
            <div class="panel-body">
                <ul>
                    {% set counter = 1 %} {% for tariff in tariffResults %}
                        {% set issetDescription = tariff.description is not empty %}
                        <li>
                            <div class="mbh-results-tariff-wrapper">
                                <div class="mbh-results-tariff-label">
                                    {% if defaultTariff != null and defaultTariff.id == tariff.id %}
                                        <input type="radio" disabled checked>
                                        <span id="mbh-results-tariff-selected"
                                              data-id="{{ tariff.id }}">{{ tariff.fullTitle }}</span>
                                    {% else %}
                                        {% set href = app.request.query.all|merge({'tariff': tariff.id })|url_encode %}
                                        <input type="radio" disabled>
                                        <a href="?{{ href }}">{{ tariff.fullTitle }}</a>
                                    {% endif %}
                                    {% if tariff.isDefault %}&nbsp;
                                        <small>{{ 'views.api.tariffs.base_tariff'|trans({}, 'MBHOnlineBundle') }}</small>
                                    {% endif %}
                                    {% if app.request.query.get('hotel') is same as('') %} -
                                        <small>{{ tariff.hotel.fullTitle }}</small>
                                    {% endif %}
                                    {% if issetDescription %}
                                        <button class="mbh-results-tariffs-description-toggle">{{ 'views.api.tariffs.tariff.description.show'|trans({}, 'MBHOnlineBundle') }}</button>
                                    {% endif %}
                                </div>
                                {% if issetDescription %}
                                    <div class="mbh-results-tariff-description">{{ tariff.description | striptags }}</div>
                                {% endif %} {% set counter = counter + 1 %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endif %}
