<div id="mbh-results-tariffs">
    <h4>Тарифы и спецпредложения</h4>
    <ul>
        {% for tariff in tariffResults %}
            <li>

                <p class="mbh-results-tariffs-label">
                    {% if (tariff.id == app.request.query.get('tariff')) or (app.request.query.get('tariff') is null and tariff.isDefault) %}
                        <input type="radio" disabled checked><span id="mbh-results-tariffs-selected"
                              data-id="{{ tariff.id }}">{{ tariff.fullTitle }}</span>
                    {% else %}
                        {% set href = app.request.query.all|merge({'tariff': tariff.isDefault ? null : tariff.id })|url_encode %}
                        <input type="radio" disabled><a href="?{{ href }}">{{ tariff.fullTitle }}</a>
                    {% endif %}
                    {% if tariff.isDefault %}&nbsp;
                        <small>{{ 'views.api.tariffs.base_tariff'|trans({}, 'MBHOnlineBundle') }}</small>{% endif %}
                    {% if app.request.query.get('hotel') is same as('') %} - <small>{{ tariff.hotel.fullTitle }}</small>{% endif %}
                </p>
                {% if tariff.description|nl2br %}
                    <p class="mbh-results-tariffs-description">{{ tariff.description|raw }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>