<div id="mbh-results-tariffs">
    <h4>Тарифы и спецпредложения</h4>
    <ul>
        {% for tariff in tariffResults %}
            <li>
                <p class="mbh-results-tariffs-label">
                    {% if app.request.query.get('hotel') is same as('') %}{{ tariff.hotel.fullTitle }}: {% endif %}
                    {% if (tariff.id == app.request.query.get('tariff')) or (app.request.query.get('tariff') is null and tariff.isDefault) %}
                        <span id="mbh-results-tariffs-selected"
                              data-id="{{ tariff.id }}">{{ tariff.fullTitle }}</span>
                    {% else %}
                        <a href="?{{ app.request.query.all|merge({'tariff': tariff.isDefault ? null : tariff.id })|url_encode }}">{{ tariff.fullTitle }}</a>
                    {% endif %}
                    {% if tariff.isDefault %}&nbsp;
                        <small>(базовый тариф)</small>{% endif %}</p>
                {% if tariff.description|nl2br %}
                    <p class="mbh-results-tariffs-description">{{ tariff.description|raw }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>