{% extends 'MBHChannelManagerBundle:Vashotel:layout.html.twig' %}

{% set small_title = 'views.vashhotel.room.settings'|trans({}, 'MBHChannelManagerBundle') %}

{% block content %}
    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 2, 'entity': entity, 'base': 'vashotel'} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {{ form_start(form, {'action': path('vashotel_room_save'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}

            <div id="actions" class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><button type="submit" name="save" class="btn btn-info navbar-btn"><i class="fa fa-check-square-o"></i>{{ 'views.vashhotel.room.save'|trans({}, 'MBHChannelManagerBundle') }}</button></li>
                        <li><button type="button" data-toggle="tooltip" title={{ 'views.vashhotel.room.get_room_ids_from_your_hotel_ru'|trans({}, 'MBHChannelManagerBundle') }} onclick="location.href = '{{ path('vashotel_room_sync') }}'" class="btn btn-success navbar-btn"><i class="fa fa-share-square-o"></i>{{ 'views.vashhotel.room.sync'|trans({}, 'MBHChannelManagerBundle') }}</button></li>
                        <li><button type="button" onclick="location.href = '{{ title_url|default(path('_welcome'))}}'" class="btn btn-default navbar-btn"><i class="fa fa-ban"></i>{{ 'views.vashhotel.room.cancel'|trans({}, 'MBHChannelManagerBundle') }}</button></li>
                    </ul>
                </div>
            </div>

            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'tariff_delete' } %}
        </div>
    </div>
{% endblock %}