{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = "редактирование <" ~ entity.name ~ "> #" ~ entity.id %}

{% block content %}

    {% include 'MBHPriceBundle:Tariff:editTabs.html.twig' with {'active': 3 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {{ form_start(form, {'action': path('room_price_create', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-inline'}}) }}

            <div class="well">

                <div class="row spacer-bottom">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-center"><i class="fa fa-ruble"></i> &nbsp;<small>Основная цена</small></div>
                    <div class="col-md-3 text-center"><i class="fa fa-male"></i>  &nbsp;<small>Доп. место взрослый</small></div>
                    <div class="col-md-3 text-center"><i class="fa fa-child"></i>  &nbsp;<small>Доп. место ребенок</small></div>
                </div>

                {% for group,items in form.vars.groups %}

                    <div class="row spacer-bottom">
                        <div class="col-md-2 text-right">
                            <strong>{{ group }}</strong>
                        </div>
                        {% for item in items %}
                            <div class="col-md-3">
                                {{ form_widget(form[item]) }}
                                <span class="text-danger text-left input-errors">{{ form_errors(form) }}</span>
                            </div>
                        {% endfor %}
                    </div> 
                {% endfor %}

                {{ form_rest(form) }}
            </div>

            {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': 'tariff_delete' } %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'tariff_delete' } %}
        </div>
    </div>
{% endblock %}
