{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}

{% block text %}

    {% if error is defined and error %}
        <p style="font-size: 32px; color: maroon; font-weight: bold; text-align: center;">
            Ошибка!<br>
            {{ error }}
        </p>
    {% endif %}

    {% if result is defined %}
        {% if result|length %}
            <table style="width:100%;border-collapse: collapse;border-spacing: 0;border: 1px solid #dddddd;font-family:Tahoma,Arial;color:#333;font-size:14px;">
                <thead>
                <tr>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 40%;">
                        Тип номера
                    </th>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 10%;">
                        Дата
                    </th>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 10%;">
                        MB
                    </th>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 10%;">
                         1С
                    </th>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 10%;">
                        MB
                    </th>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 10%;">
                        1С
                    </th>
                    <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:left; width: 10%;">
                        Разница
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for entry in result %}
                    <tr>
                        <td style="vertical-align: top; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            {{ entry.roomType }}<br>
                            <small style="color: #9d9b97;">{{ entry.roomType.hotel }}</small>
                        </td>
                        <td style="vertical-align: top; white-space: nowrap; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            {% if entry.date|date('Y') == 'now'|date('Y') %}
                                {% set format = 'd MMM' %}
                            {% else %}
                                {% set format = 'd MMM y' %}
                            {% endif %}
                            {{ entry.date|localizeddate('medium', 'none', 'ru', null, format) }}
                        </td>
                        <td style="vertical-align: top; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            {{ entry.remainMB }}/{{ entry.totalMB }}
                        </td>
                        <td style="vertical-align: top; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            {{ entry.remain }}/{{ entry.total }}
                        </td>
                        <td style="vertical-align: top; white-space: nowrap; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            <small>{{ entry.numbersMB|join('<br>')|raw }}</small>
                        </td>
                        <td style="vertical-align: top; white-space: nowrap; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            <small>{{ entry.numbers|join('<br>')|raw }}</small>
                        </td>
                        <td style="vertical-align: top; white-space: nowrap; border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;">
                            <small>{{ entry.numbersDiff|join('<br>')|raw }}</small>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tbody>
            </table>
        {% else %}
            <p style="font-size: 32px; color: darkgreen; font-weight: bold; text-align: center;">
                Остатки номеров 1С и MaxiBooking совпадают.
            </p>
        {% endif %}
    {% endif %}

{% endblock %}