{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}

{% macro cellStyleServiceTable(fontWeight, textAlign = 'left') %}
    border-bottom:1px solid #dddddd;padding:9px;font-weight:{{ fontWeight }};text-align:{{ textAlign }};
{% endmacro %}
{% from '@MBHBase/Mailer/order.html.twig' import cellStyleServiceTable %}
{% set backgroundColor = 'background-color: #f9f9f9;' %}
{% set verticalAlign = 'vertical-align:bottom;' %}
{% block text %}
{% spaceless %}
    {% if prependText is defined and prependText %}
        <p style="{{ pStyles }}">{{ prependText|trans(transParams)|raw }}</p><br>
    {% endif %}

    {% set services = false %}

    <div style="background:#fafafa none repeat scroll 0 0;font-family:Tahoma,Arial;text-align:left;border:1px solid #dddddd;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px;color: #666;font-size:14px;font-weight: 400;height: 32px;letter-spacing: 0.2px;line-height:29px;padding:6px 10px;">
        <img data-name="fa_hotel" src="{{ fa_hotel|default('bundles/mbhbase/images/fa-hotel.png') }}"
             align="absmiddle">
        {{ 'mailer.order.booked_numbers'|trans(transParams) }}
    </div>
    <table style="width:100%;border-collapse: collapse;border-spacing: 0;border: 1px solid #dddddd;font-family:Tahoma,Arial;color:#333;font-size:14px;">
        <thead>
        <tr>
            <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:12%;">#</th>
            <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:30%;">
                {{ 'mailer.order.date'|trans(transParams) }}
            </th>
            <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:50%;">
                {{ 'mailer.order.number'|trans(transParams) }}
            </th>
            <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}white-space: nowrap;">
                {{ 'mailer.order.arrival'|trans(transParams) }}
            </th>
            <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}white-space: nowrap;">
                {{ 'mailer.order.departure'|trans(transParams) }}
            </th>
            <th style="{{ cellStyleServiceTable(600, 'right') ~ verticalAlign }}width:18%;">
                {{ 'mailer.order.cost'|trans(transParams) }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for package in order.packages if package.getDeletedAt is empty %}
            <tr>
                <td style="{{ cellStyleServiceTable(400) ~ backgroundColor }}">{{ package.numberWithPrefix }}</td>
                <td style="{{ cellStyleServiceTable(400) ~ backgroundColor }}">
                    {{ package.begin|mbh_format }}&ndash;{{ package.end|mbh_format }}<br>
                    <small style="color:#888;">{{ package.nights }} {{ 'nights'|transchoice(package.nights) }}</small>
                </td>
                <td style="{{ cellStyleServiceTable(400) ~ backgroundColor }}">
                    {{ isSomeLanguage is not defined or isSomeLanguage or not package.roomType.internationalTitle ? package.roomType.fullTitle : package.roomType.internationalTitle }}
                    <br>
                    <small style="color:#888;">
                        {{ '%hotel%'|trans(transParams) }}
                        {% if package.adults > 0 %}
                            , {{ package.adults }} {{ 'mbhbasebundle.views.mailer.vz'|trans }}.
                        {% endif %}
                        {% if package.adults > 0 and package.children > 0 %}
                            , +
                        {% endif %}
                        {% if package.children > 0 %}
                            , {{ package.children }} {{ 'mbhbasebundle.views.mailer.rb'|trans }}.
                        {% endif %}
                    </small>
                </td>
                <td style="{{ cellStyleServiceTable(400, 'center') ~ backgroundColor }}">
                    {{ package.arrivalTime ? package.arrivalTime|date('H:i') : package.hotel.packageArrivalTime ~ ':00' }}
                </td>
                <td style="{{ cellStyleServiceTable(400, 'center') ~ backgroundColor }}">
                    {{ package.departureTime ? package.departureTime|date('H:i') : package.hotel.packageDepartureTime ~ ':00' }}
                </td>
                <td style="{{ cellStyleServiceTable(400, 'right') ~ backgroundColor }}">{{ package.getPackagePrice(true)|number_format(2) }}</td>
            </tr>

            {% if services is empty and package.services is not empty %}
                {% set services = true %}
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
    <br>

    {% if services %}
        <div style="background:#fafafa none repeat scroll 0 0;font-family:Tahoma,Arial;text-align:left;border:1px solid #dddddd;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px;color: #666;font-size:14px;font-weight: 400;height: 32px;letter-spacing: 0.2px;line-height:29px;padding:6px 10px;">
            <img data-name="fa_plug"  src="{{ fa_plug|default('bundles/mbhbase/images/fa-plug.png') }}"
                 align="absmiddle">
            {{ 'mailer.order.additional_services'|trans(transParams) }}
        </div>
        <table style="width:100%;border-collapse: collapse;border-spacing: 0;border: 1px solid #dddddd;font-family:Tahoma,Arial;color:#333;font-size:14px;">
            <thead>
            <tr>
                <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:2%;">#</th>
                <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:40%;">
                    {{ 'mailer.order.title'|trans(transParams) }}
                </th>
                <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:5%;">
                    {{ "package.service.guests"|trans({}, "MBHPackageBundle") }}
                </th>
                <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:20%;">
                    {{ "package.service.date"|trans({}, "MBHPackageBundle") }}
                </th>
                <th style="{{ cellStyleServiceTable(600, 'center') ~ verticalAlign }}width:5%;">
                    {{ 'mailer.order.quantity'|trans(transParams) }}
                </th>
                <th style="{{ cellStyleServiceTable(600, 'right') ~ verticalAlign }}width:18%;">
                    {{ 'mailer.order.cost'|trans(transParams) }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for package in order.packages if package.getDeletedAt is empty %}
                {% for service in package.services if service.getDeletedAt is empty %}
                <tr>
                    <td style="{{ cellStyleServiceTable(400) ~ backgroundColor }}">{{ loop.index }}</td>
                    <td style="{{ cellStyleServiceTable(400) ~ backgroundColor }}">{{ service.service }}</td>
                    <td style="{{ cellStyleServiceTable(400, 'center') ~ backgroundColor }}">
                        {% if service.calcType != constant('MBH\\Bundle\\PackageBundle\\Document\\PackageService::TYPE_NOT_APPLICABLE')
                            and service.calcType != constant('MBH\\Bundle\\PackageBundle\\Document\\PackageService::TYPE_DAY_PERCENT')%}
                            {{ service.persons }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td style="{{ cellStyleServiceTable(400, 'center') ~ backgroundColor }}">
                        {% if service.calcType == constant('MBH\\Bundle\\PackageBundle\\Document\\PackageService::TYPE_PER_NIGHT') %}
                            <span>{{ service.nights }}&#8194;{{ 'nights'|transchoice(service.nights) }}</span>
                        {% elseif service.calcType == constant('MBH\\Bundle\\PackageBundle\\Document\\PackageService::TYPE_PER_STAY') %}
                            <span>{{ service.begin|mbh_format }}&ndash;{{ service.end|mbh_format }}</span>
                        {% elseif service.service.date %}
                            {{ service.begin|date('d.m.Y') }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td style="{{ cellStyleServiceTable(400, 'center') ~ backgroundColor }}">
                        {% if service.calcType == constant('MBH\\Bundle\\PackageBundle\\Document\\PackageService::TYPE_NOT_APPLICABLE')
                                or service.amount > 1 %}
                            {{ service.amount }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td style="{{ cellStyleServiceTable(400, 'right') ~ backgroundColor }}">{{ service.total }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div style="padding:10px 0;margin:5px 0 20px;">
        <div style="width:100%;text-align:right;font-family:Tahoma,Arial;color:#333;font-size:14px;"><b>{{ 'mailer.order.amount'|trans(transParams) }}:</b>
            {{ order.price|number_format(2) }}
        </div>
    </div>

    {% if order.payer %}
        <div style="background:#fafafa none repeat scroll 0 0;font-family:Tahoma,Arial;text-align:left;border:1px solid #dddddd;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px;color: #666;font-size:14px;font-weight: 400;height: 32px;letter-spacing: 0.2px;line-height:29px;padding:6px 10px;">
            <img data-name="fa_user" src="{{ fa_user|default('bundles/mbhbase/images/fa-user.png') }}"
                 align="absmiddle">
            {{ 'mailer.order.client_info'|trans(transParams) }}
        </div>
        <table style="width:100%;border-collapse: collapse;border-spacing: 0;border: 1px solid #dddddd;font-family:Tahoma,Arial;color:#333;font-size:14px;">
            <tbody>
            <tr>
                <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;width:42%;">{{ 'mailer.order.name'|trans(transParams) }}:</td>
                <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;width:58%;">
                    {{ order.payer.name }}
                </td>
            </tr>

            {% if order.payer.phone %}
                <tr>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;width:42%;">
                        {{ 'mailer.order.phone'|trans(transParams) }}:
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;width:58%;">
                        {{ order.payer.phone }}
                    </td>
                </tr>
            {% endif %}
            {% if order.payer.email %}
                <tr>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;width:42%;">E-mail:
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;width:58%;">
                        {{ order.payer.email }}
                    </td>
                </tr>
            {% endif %}
            {% if order.note %}
                <tr>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;width:42%;">
                        {{ 'mailer.order.comments'|trans(transParams) }}:
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:left;background-color: #f9f9f9;width:58%;">
                        {{ order.note|nl2br }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}

    {% if appendText is defined and appendText %}
        <br><p style="{{ pStyles }}">{{ appendText|trans(transParams)|raw }}</p>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block signatureAppendText %}{% endblock %}

{% block link %}

    {% set linkPackage = false %}
    {% for p in order.packages if p.deletedAt is empty and p.id %}
        {% set linkPackage = p %}
    {% endfor %}

    {% if linkPackage %}
        <br><br>
        <a href="{% if emptyLink %}{{ url('package_order_edit', {'id': order.id, 'packageId': linkPackage.id}) }}{% else %}{{ link }}{% endif %}" style="{{ linkStyles }}">
            {% if emptyLinkText %}{{ 'mailer.to_order'|trans(transParams) }}{% else %}{{ linkText|trans(transParams) }}{% endif %}
        </a>
    {% endif %}
{% endblock %}