{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}

{% block text %}

    <p style="{{ pStyles }}">
        {{ 'mailer.userArrival.greet'|trans({'{name}' : package.order.payer.name|default('')}) }}
    </p>
    <p style="{{ pStyles }}">
        {{ 'mailer.userArrival.reminder'|trans({'{begin}': package.begin|mbh_format })|raw }}
    </p>
    <p style="{{ pStyles }}">
        {{ 'mailer.userArrival.reminder2'|trans }}
    </p>
    <p style="{{ pStyles }}">
        {{ 'mailer.userArrival.reminder3'|trans }}
    </p>
    <br><br>

    {% if hotel.aboutLink %}
        <a href="{{ hotel.aboutLink }}"
           style="margin-right:3px;background-color:#50a265;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 0px 15px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">
            <img data-name="user_arrival_1"
                 src="{{ user_arrival_1|default('bundles/mbhbase/images/user-arrival-1.png') }}" border="0" alt=""
                 style="width:145px;height:155px;margin-bottom:10px;">
            {{ 'mailer.userArrival.about_hotel'|trans }}
        </a>
    {% endif %}

    {% if hotel.roomsLink %}
        <a href="{{ hotel.roomsLink }}"
           style="margin-right:3px;background-color:#50a265;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 0px 15px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">
            <img data-name="user_arrival_2"
                 src="{{ user_arrival_2|default('bundles/mbhbase/images/user-arrival-2.png') }}" border="0" alt=""
                 style="width:145px;height:155px;margin-bottom:10px;">
            {{ 'mailer.userArrival.numbers_servies'|trans }}
        </a>
    {% endif %}

    {% if hotel.mapLink %}
        <a href="{{ hotel.mapLink }}"
           style="margin-right:3px;background-color:#50a265;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 0px 15px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">
            <img data-name="user_arrival_3"
                 src="{{ user_arrival_3|default('bundles/mbhbase/images/user-arrival-3.png') }}" border="0" alt=""
                 style="width:145px;height:155px;margin-bottom:10px;">
            {{ 'mailer.userArrival.trip_schema'|trans }}
        </a>
    {% endif %}

    {% if hotel.contactsLink %}
        <a href="{{ hotel.contactsLink }}"
           style="background-color:#50a265;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 0px 15px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">
            <img data-name="user_arrival_4"
                 src="{{ user_arrival_4|default('bundles/mbhbase/images/user-arrival-4.png') }}" border="0" alt=""
                 style="width:145px;height:155px;margin-bottom:10px;">
            {{ 'mailer.userArrival.contacts'|trans }}
        </a>
    {% endif %}
    <br><br>

    <p style="{{ pStyles }}">{{ 'mailer.userArrival.bye'|trans }}</p>


{% endblock %}