{% escapebackslash %}
{% wrapinline %}
{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for record in records %}[
                "<i class='fa fa-book'></i>",				
                "{% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': record, 'route': 'warehouse_record'} %}{% endembed %}",
				"{{ record.recordDate|date('d.m.Y') }}",				
				"{% if record.operation == 'in' %}<span class='label label-success'>{{ 'warehouse.record.in'|trans }}</span>{% else %}<span class='label label-danger'>{{ 'warehouse.record.out'|trans }}</span>{% endif %}",					
				"{{ record.hotel }}",				
				"<div class='text-center {{ record.operation == 'in'  ? 'text-success' : 'text-danger' }}'>{{ record.qtty }} {{ record.wareItem.unit }}</div>",
				"<div class='text-right padding-right-xs'>{{ record.price|number_format(2) }}</div>",
				"<div class='text-right padding-right-xs {{ record.operation == 'in'  ? 'text-success' : 'text-danger' }}'>{{ record.amount|number_format(2) }}</div>",
				"<div class='btn-list text-right'>{% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': record, 'route': 'warehouse_record'} %}{% endembed %}</div>"
            ]{% if loop.index != records|length %},{% endif %}
        {% endfor %}
]}
{% endwrapinline %}
{% endescapebackslash %}
