{% escapebackslash %}
{% wrapinline %}
{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for item in inventory %}[
                "<i class='fa fa-book'></i>",				
                "{{ item }}",
                "{{ item.category }}",
				"<div class='text-right {{ item.qtty > 0  ? 'text-success' : 'text-danger' }}'>{{ item.qtty }} {{ item.unit }}</div>"
            ]{% if loop.index != inventory|length %},{% endif %}
        {% endfor %}
]}
{% endwrapinline %}
{% endescapebackslash %}
