<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% form_theme form 'MBHOnlineBundle:Invite:invitedTourist.html.twig' %}

{{ form_start(form, {'attr': {'id': 'mbvi-form-wrapper'}}) }}
<div id="mbvi-navigation-wrapper">
    <div class="mbvi-navigation-item active" data-step="1"><i class="fa fa-check-square-o"></i> {{ 'mbhonlinebundle.view.invite.form.informatsiyaogostyakhivize'|trans }} </div>
    <div class="mbvi-navigation-item current" data-step="2"><i class="fa fa-edit"></i> {{ 'mbhonlinebundle.view.invite.form.mestaposeshcheniya'|trans }} </div>
    <div class="mbvi-navigation-item disable" data-step="3"><i class="fa fa-square-o"></i> {{ 'mbhonlinebundle.view.invite.form.oplatazayavki'|trans }} </div>
    <div class="mbvi-navigation-item disable" data-step="4"><i class="fa fa-square-o"></i> {{ 'mbhonlinebundle.view.invite.form.polucheniyepriglasheniya'|trans }} </div>
</div>



<div class="step" id="step-1-content">
    <h4><i class="fa fa-calendar fa-lg"></i>&nbsp; {{ 'mbhonlinebundle.view.invite.form.datypoyezdki'|trans }} <i class="fa fa-check-square-o fa-lg"
                                                                  style="margin-top:4px;float:right;"></i></h4>
    <div class="mbvi-form-block mbvi-form-block-odd">

        <div class="mbvi-form-group">
            <label for="input1" class="mbvi-form-span3 control-label">{{ 'mbhonlinebundle.view.invite.form.datypoyezdki'|trans }} </label>

            <div class="mbvi-form-span4">
                <div style="white-space:nowrap;">
                    {{ form_widget(form.arrival, {attr: {class: 'ib'}}) }}
                    <small class="help-block ib">&mdash;</small>
                </div>
                <small class="help-block"><i class="fa fa-suitcase"></i>&nbsp;  {{ 'mbhonlinebundle.view.invite.form.dney'|trans }} </small>
                {{ form_errors(form.arrival) }}
            </div>
            <div class="mbvi-form-span4">
                {{ form_widget(form.departure) }}
            </div>
            {{ form_errors(form.departure) }}
        </div>
        <div class="mbvi-form-group">
            <label for="" class="mbvi-form-span3 control-label">{{ 'mbhonlinebundle.view.invite.form.tipvizy'|trans }} </label>

            <div class="mbvi-form-span9">
                {{ form_widget(form.type) }}
            </div>
        </div>
    </div>

    <h4><i class="fa fa-group fa-lg"></i>&nbsp; {{ 'mbhonlinebundle.view.invite.form.svedeniyaopersonakh'|trans }} <i class="fa fa-square-o fa-lg"
                                                                      style="margin-top:4px;float:right;"></i></h4>

    <div id="guests-field">
        <ul class="nav nav-tabs">
            {% for guestForm in form.guests %}
                <li class="{% if loop.index == 1 %}active{% endif %}">
                    <a data-toggle="tab" class="{% if not guestForm.vars.valid %}errors{% endif %}" href="#guest_{{ loop.index }}">
                        <i class="glyphicon {% if guestForm.vars.valid %}glyphicon-check{% else %}glyphicon-unchecked{% endif %} fa-edit"></i>
                        {#<i class="fa {% if guestForm.vars.errors %}errors{% endif %} fa-edit"></i>#}
                        &nbsp; {{ loop.index }} {{ 'mbhonlinebundle.view.invite.form.persona'|trans }} 
                    </a>
                </li>
            {% endfor %}
            <li>
                <a class="add-tab" href="#">
                    <i class="fa fa-plus"></i> {{ 'mbhonlinebundle.view.invite.form.dobavitʹ'|trans }} 
                </a>
            </li>
        </ul>
        <div class="tab-content">
            {% for key, guestForm in form.guests %}
                <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="guest_{{ loop.index }}">
                    {{ form_widget(guestForm) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="step" id="step-2-content">
    <h4><i class="fa fa-calendar fa-lg"></i>&nbsp; {{ 'mbhonlinebundle.view.invite.form.marshrutpoyezdki'|trans }} <i class="fa fa-check-square-o fa-lg"
                                                                     style="margin-top:4px;float:right;"></i></h4>

    <div id="city-field">
        <ul class="nav nav-tabs">
            {% for routeForm in form.tripRoutes %}
                <li class="{% if loop.index == 1 %}active{% endif %}">
                    <a data-toggle="tab" class="{% if not routeForm.vars.valid %}errors{% endif %}" href="#city_{{ loop.index }}">
                        <i class="glyphicon {% if routeForm.vars.valid %}glyphicon-check{% else %}glyphicon-unchecked{% endif %} fa-edit"></i>
                        &nbsp; {{ loop.index }} {{ 'mbhonlinebundle.view.invite.form.gorod'|trans }} 
                    </a>
                </li>
            {% endfor %}
            <li>
                <a class="add-tab" href="#">
                    <i class="fa fa-plus"></i> {{ 'mbhonlinebundle.view.invite.form.dobavitʹ'|trans }} 
                </a>
            </li>
        </ul>
        <div class="tab-content">
            {% for routeForm in form.tripRoutes %}
                <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="city_{{ loop.index }}">
                    {{ form_widget(routeForm) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div style="margin-top:20px;">
    <button type="button" class="button back" style="display: inline-block; margin: 0 5px">{{ 'mbhonlinebundle.view.invite.form.nazad'|trans }} </button>
    <button type="submit" class="button" style="display: inline-block">{{ 'mbhonlinebundle.view.invite.form.prodolzhitʹ'|trans }} </button>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {render_rest: false}) }}

</body>

<script>
    var stepTotal = 2;
    var step = 1;
    var $steps = $('.step');
    var $form = $('form#mbvi-form-wrapper');
    var $backButton = $('.back');
    var $stepsMenu = $('#mbvi-navigation-wrapper');
    var $stepsMenuItem = $stepsMenu.find('div');

    $stepsMenuItem.not('.disable').css('cursor', 'pointer').on('click', function() {
        step = $(this).data('step');
        updateStep();
    });

    var updateProgress = function() {
        $stepsMenuItem.removeClass('current').removeClass('active');
        var currentStep = $stepsMenu.find('div[data-step='+step+']');
        currentStep.addClass('current');
        currentStep.prevAll().addClass('active');
    }
    var updateStep = function() {
        $steps.hide();
        $('#step-'+step+'-content').show();
        $form.off('submit');
        if(step < stepTotal) {
            $form.on('submit', function(e) {
                e.preventDefault();
                nextStep();
            })
        }
        if(step > 1) {
            $backButton.show();
        } else {
            $backButton.hide();
        }
        updateProgress();
    }
    var nextStep = function() {
        step = step + 1;
        updateStep();
    }
    var backStep = function() {
        step = step - 1;
        updateStep();
    }
    updateStep();
    $backButton.on('click', function() {
        backStep();
    })


    var AddButton = function($element) {
        this.$element = $element;

        this.update = function (qunantity) {
            if(qunantity >= 5) {
                this.$element.addClass('disable');
            } else {
                this.$element.removeClass("disable");
            }
        };
        this.isDisabled = function() {
            return this.$element.hasClass("disable");
        }
    }
    var Tabs = function ($element, $prototypeTab) {
        this.$element = $element;
        this.$prototypeTab = $prototypeTab;
        this.title = '{{ 'mbhonlinebundle.view.invite.form.vkladka'|trans }} ';

        this.getElements = function() {
            return this.getLiElements().find('a[data-toggle=tab]')
        }
        this.getLiElements = function() {
            return this.$element.find('li:not(:last)')
        }
        this.getQuantity = function() {
            return this.getElements().length;
        }
        this.updateTitleNumber = function() {
            var that = this;
            this.getElements().each(function(index){
                $(this).html(that.getTitle(index + 1));
            });
        }
        this.getTitle = function(number) {
            return '<i class="fa fa-edit"></i>&nbsp; ' + number + ' ' + this.title;
        }
        this.showTabByIndex = function(index) {
            var $tab = this.$element.find('li:eq('+index+')');
            if($tab) {
                $tab.find('a').tab('show');
            }
        }
        this.openTab = function($tab) {
            this.getLiElements().removeClass('active');
            $tab.addClass('active');
        }
        this.add = function(id){
            var $newTab = this.$prototypeTab.clone();
            $newTab.find('a').attr('href', '#' + id).html(this.getTitle(this.getQuantity() + 1));
            this.getLiElements().last().after($newTab);
            return $newTab;
        };
        this.removeById = function(id) {
            this.$element.find('a[href=#'+id+']').parent().remove();
        }
    }
    var EmbeddedForms = function($element, incrementQuantity, prototypeForm) {
        this.$element = $element;
        this.incrementQuantity = incrementQuantity;
        this.prototypeForm = prototypeForm;
        this.idPrefix = null;

        this.add = function() {
            var newForm = this.prototypeForm;
            this.incrementQuantity = this.incrementQuantity + 1;
            var id = this.idPrefix + '_' + this.incrementQuantity;
            newForm = this.replaceAll(newForm, '__name__', this.incrementQuantity);
            var $newForm = $(newForm);
            $newForm.attr('id', id);

            this.$element.append($newForm);
            return $newForm;
        }

        this.replaceAll = function (string, search, replace) {
            return string.split(search).join(replace);
        }
    }

    var Manager = function (addButton, tabs, embeddedForms) {
        this.addButton = addButton;
        this.tabs = tabs;
        this.embeddedForms = embeddedForms;
        var that = this;

        this.touristRemoveHandler = function() {
            that.remove($(this).closest('.tab-pane'));
        }

        this.init = function(){
            this.addButton.$element.on('click', function (e) {
                e.preventDefault();
                if (that.addButton.isDisabled()) {
                    return false;
                }
                that.addNewTab();
            });

            this.embeddedForms.$element.find('.tab-pane .tourist-remove').on('click', this.touristRemoveHandler);
        }
        this.addNewTab = function () {
            var $newForm = that.embeddedForms.add();
            $newForm.find('.tourist-remove').on('click', this.touristRemoveHandler);
            this.tabs.updateTitleNumber();
            var $tab = this.tabs.add($newForm.attr('id'));

            this.openTab($tab);
            that.addButton.update(that.tabs.getQuantity());
        }
        this.openTab = function($tab) {
            that.tabs.openTab($tab);
            this.embeddedForms.$element.find('.tab-pane').removeClass('active');
            $($tab.find('a').attr('href')).addClass('active');
        }
        this.remove = function ($tab) {
            $tab.remove();
            this.tabs.removeById($tab.attr('id'));
            this.tabs.updateTitleNumber();
            this.addButton.update();
            this.tabs.showTabByIndex(0);
        }
    }

    $(function(){
        var $guestsField = $('#guests-field');
        var $guestsNavTabs = $guestsField.find('.nav.nav-tabs');

        var guestTabs = new Tabs($guestsNavTabs, $guestsNavTabs.find('li:first').clone().removeClass("active"));
        guestTabs.title = '{{ 'mbhonlinebundle.view.invite.form.persona'|trans }} ';
        var addGuestButton = new AddButton($guestsField.find('.add-tab'));

        var prototypeGuestForm = '<div class="tab-pane">{{ form_widget(form.guests.vars.prototype)|replace({"\n":''})|raw }}</div>';
        var guestForms = new EmbeddedForms($guestsField.find('.tab-content'), {{ max(form.guests.vars.value|keys) }} + 1, prototypeGuestForm);
        guestForms.idPrefix = 'guest';

        var guestsManager = new Manager(addGuestButton, guestTabs, guestForms);
        guestsManager.init();
    });


    $(function(){
        var $cityField = $('#city-field');

        var $cityNavTabs = $cityField.find('.nav.nav-tabs');
        var cityTabs = new Tabs($cityNavTabs, $cityNavTabs.find('li:first').clone().removeClass("active"));
        cityTabs.title = '{{ 'mbhonlinebundle.view.invite.form.gorod'|trans }} ';
        var addCityButton = new AddButton($cityField.find('.add-tab'));

        var prototypeCityForm = '<div class="tab-pane">{{ form_widget(form.tripRoutes.vars.prototype)|replace({"\n":''})|raw }}</div>';
        var cityForms = new EmbeddedForms($cityField.find('.tab-content'), {{ max(form.tripRoutes.vars.value|keys) }} + 1, prototypeCityForm);
        cityForms.idPrefix = 'city';

        var guestsManager = new Manager(addCityButton, cityTabs, cityForms);
        guestsManager.init();
    })
</script>

<style>
    #mbvi-form-wrapper .button {
        background: linear-gradient(to bottom, #7fbbd7 1%, #5f97b2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #71a3be;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        margin: 0 0px;
        padding: 6px 20px;
        text-shadow: 1px 1px 2px #71a3be;
        text-decoration: none;
        font-size: 16px;
        float: right;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    #mbvi-form-wrapper .button:hover {
        color: #ffc;
        box-shadow: 0 0 3px rgba(255, 255, 205, 0.95);
    }

    #mbvi-form-wrapper .button:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        background: #308dac;
    }

    #mbvi-form-wrapper .button:disabled {
        color: #43809f;
    }

    .help-block {
        color: #737373;
        display: block;
        margin-bottom: 0px;
        margin-top: 2px;
        padding-left: 1px;
    }

    #mbvi-form-wrapper {
        width: 100%;
        max-width: 640px;
        margin: 10px auto;
        box-sizing: border-box;
        cursor: default;
    }

    #mbvi-form-wrapper a {
        color: #308dac;
    }

    #mbvi-form-wrapper div, #mbvi-form-wrapper a, #mbvi-form-wrapper li {
        box-sizing: border-box;
        font-family: Arial;
        font-size: 11.7px;
    }

    #mbvi-form-wrapper h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    #mbvi-form-wrapper h4, #mbvi-form-wrapper h4 a {
        background-color: #308dac;
        border-radius: 4px;
        font-family: Arial;
        color: #fff;
        font-size: 16px;
        padding: 8px 10px 10px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    }

    #mbvi-navigation-wrapper {
        width: 100%;
        min-height: 20px;
    }

    .mbvi-navigation-item {
        float: left;
        display: inline-block;
        color: #666;
        font-family: Arial;
        font-size: 12px;
        margin-right: 5px;
        padding: 3px 8px;
        border-radius: 4px;
    }

    .mbvi-navigation-item.current {
        background-color: #ff7800;
        color: #fff;
    }

    .mbvi-navigation-item.active {
        background-color: #eee;
    }

    .mbvi-navigation-item.disable {
        opacity: 0.5;
    }

    .mbvi-form-block {
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 4px;
    }

    .mbvi-form-block-odd {
        background-color: #f2f8fa;
    }

    .mbvi-form-block-even {
        background-color: #e5f1f5;
    }

    .mbvi-form-group {
        margin-bottom: 10px;
    }

    .mbvi-form-group:before, .mbvi-form-group:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .mbvi-form-group:after {
        clear: both;
    }

    .mbvi-form-group [class*="mbvi-form-span"] {
        box-sizing: border-box;
        display: block;
        float: left;
        margin-left: 2.12766%;
        min-height: 30px;
        width: 100%;
    }

    .mbvi-form-group [class*="mbvi-form-span"]:first-child {
        margin-left: 0;
    }

    .mbvi-form-group .mbvi-form-span12 {
        width: 100%;
    }

    .mbvi-form-group .mbvi-form-span11 {
        width: 91.4894%;
    }

    .mbvi-form-group .mbvi-form-span10 {
        width: 82.9787%;
    }

    .mbvi-form-group .mbvi-form-span9 {
        width: 78.4681%;
    }

    .mbvi-form-group .mbvi-form-span8 {
        width: 65.9574%;
    }

    .mbvi-form-group .mbvi-form-span7 {
        width: 57.4468%;
    }

    .mbvi-form-group .mbvi-form-span6 {
        width: 48.9362%;
    }

    .mbvi-form-group .mbvi-form-span5 {
        width: 40.4255%;
    }

    .mbvi-form-group .mbvi-form-span4 {
        width: 31.9149%;
    }

    .mbvi-form-group .mbvi-form-span3 {
        width: 19.4043%;
    }

    .mbvi-form-group .mbvi-form-span2 {
        width: 14.8936%;
    }

    .mbvi-form-group .mbvi-form-span1 {
        width: 6.38298%;
    }
    .ib {
        display: inline
    }
    .nav-tabs a.disable {
        opacity: 0.5;
    }
    .tourist-remove {
        cursor:pointer;
        position:absolute;
        float: right;
        margin-top: 5px;
        margin-left: 600px
    }
</style>
</html>