<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
{{ form_start(form, {'attr': {'id': 'mbvi-form-wrapper'}}) }}
<div id="mbvi-navigation-wrapper">
    <div class="mbvi-navigation-item active"><i class="fa fa-check-square-o"></i> Информация о гостях и визе</div>
    <div class="mbvi-navigation-item current"><i class="fa fa-edit"></i> Места посещения</div>
    <div class="mbvi-navigation-item disable"><i class="fa fa-square-o"></i> Оплата заявки</div>
    <div class="mbvi-navigation-item disable"><i class="fa fa-square-o"></i> Получение приглашения</div>
</div>

<h4><i class="fa fa-calendar fa-lg"></i>&nbsp; Даты поездки<i class="fa fa-check-square-o fa-lg"
                                                              style="margin-top:4px;float:right;"></i></h4>

<div class="mbvi-form-block mbvi-form-block-odd">

    <div class="mbvi-form-group">
        <label for="input1" class="mbvi-form-span3 control-label">Даты поездки</label>

        <div class="mbvi-form-span4">
            <div style="white-space:nowrap;">
                {{ form_widget(form.arrival, {attr: {class: 'ib'}}) }}
                <small class="help-block ib">&mdash;</small>
            </div>
            <small class="help-block"><i class="fa fa-suitcase"></i>&nbsp; 6 дней</small>
        </div>
        <div class="mbvi-form-span4">
            {{ form_widget(form.departure) }}
        </div>
    </div>
    <div class="mbvi-form-group">
        <label for="" class="mbvi-form-span3 control-label">Тип визы</label>

        <div class="mbvi-form-span9">
            {{ form_widget(form.type) }}
        </div>
    </div>
</div>

<h4><i class="fa fa-group fa-lg"></i>&nbsp; Сведения о персонах<i class="fa fa-square-o fa-lg"
                                                                  style="margin-top:4px;float:right;"></i></h4>

<ul class="nav nav-tabs">
    {% for key, guestForm in form.guests %}
        <li class="{% if loop.index == 1 %}active{% endif %}">
            <a data-toggle="tab" class="{% if not guestForm.vars.valid %}errors{% endif %}" href="#guest_{{ key + 1 }}">
                <i class="glyphicon {% if guestForm.vars.valid %}glyphicon-check{% else %}glyphicon-unchecked{% endif %} fa-edit"></i>
                {#<i class="fa {% if guestForm.vars.errors %}errors{% endif %} fa-edit"></i>#}
                &nbsp; {{ loop.index }} персона
            </a>
        </li>
    {% endfor %}
    <li>
        <a id="guest-add" href="#">
            <i class="fa fa-plus"></i> Добавить
        </a>
    </li>
</ul>
<div class="tab-content" id="guests">
    {% form_theme form 'MBHOnlineBundle:Invite:invitedTourist.html.twig' %}
    {% for key, guestForm in form.guests %}
        <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="guest_{{ key + 1 }}">
            {{ form_widget(guestForm) }}
        </div>
    {% endfor %}
</div>


<button type="submit" class="button" style="margin-top:20px;">Продолжить</button>

{{ form_end(form) }}

</body>

<script>
    var $guestTabs = $('.nav.nav-tabs'),
        $firstGuestTab = $guestTabs.find('li:first'),
        $prototypeGuestTab = $firstGuestTab.clone().removeClass("active"),
        $guestAdd = $('#guest-add'),
        $guestAddTab = $guestAdd.parent(),
        prototypeGuestForm = '<div class="tab-pane">{{ form_widget(form.guests.vars.prototype)|replace({"\n":''})|raw }}</div>',
        $guests = $('#guests');

    var replaceAll = function (string, search, replace) {
        return string.split(search).join(replace);
    }

    var getTabsQuantity = function() {
        return getTabs().length;
    }
    var getTabs = function() {
        return $guestTabs.find('li a[data-toggle=tab]');
    }

    var incrementQuantity = getTabsQuantity();

    var updateTabTitleNumber = function() {
        getTabs().each(function(index){
            $(this).html(getTitle(index + 1));
        });
    }

    var getTitle = function(number) {
        return '<i class="fa fa-edit"></i>&nbsp; ' + number + ' персона';
    }

    var addGuestTab = function () {
        var newGuestForm = prototypeGuestForm,
            $newGuestTab = $prototypeGuestTab.clone();
        incrementQuantity = incrementQuantity + 1;
        var id = 'guest_' + incrementQuantity;
        newGuestForm = replaceAll(newGuestForm, '__name__', incrementQuantity);
        var $newGuestForm = $(newGuestForm);
        $newGuestForm.attr('id', id);

        updateTabTitleNumber();
        $newGuestTab.find('a').attr('href', '#' + id).html(getTitle(getTabsQuantity() + 1));

        $guests.append($newGuestForm);
        $guestAddTab.before($newGuestTab);
        $newGuestForm.find('.tourist-remove').on('click', onTouristRemove);
        return $newGuestTab;
    }

    var removeTabForm = function ($guestForm) {
        var id = $guestForm.attr('id');
        $guestForm.remove();
        $guestTabs.find('a[href=#'+id+']').parent().remove();

        updateTabTitleNumber();
        updateGuestAdd();

        showTabByIndex(0);
    }

    var showTabByIndex = function(index) {
        var $tab = $guestTabs.find('li:eq('+index+')');
        if($tab) {
            $tab.find('a').tab('show');
        }
    }

    var onTouristRemove = function() {
        removeTabForm($(this).closest('.tab-pane'));
    }

    $guests.find('.tab-pane .tourist-remove').on('click', onTouristRemove);


    var updateGuestAdd = function () {
        if(getTabsQuantity() >= 5) {
            $guestAdd.addClass('disable');
        } else {
            $guestAdd.removeClass("disable");
        }
    }
    var isDisabledAdd = function() {
        return $guestAdd.hasClass("disable");
    }

    var openTab = function($tab) {
        $guestTabs.find('li').removeClass('active')
        $tab.addClass('active');
        $('.tab-pane').removeClass('active');
        $($tab.find('a').attr('href')).addClass('active');
    }

    $guestAdd.on('click', function (e) {
        e.preventDefault();
        if (isDisabledAdd()) {
            return false;
        }
        var $tab = addGuestTab();
        openTab($tab);
        updateGuestAdd();
    })
</script>

<style>
    #mbvi-form-wrapper .button {
        background: linear-gradient(to bottom, #7fbbd7 1%, #5f97b2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #71a3be;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        margin: 0 0px;
        padding: 6px 20px;
        text-shadow: 1px 1px 2px #71a3be;
        text-decoration: none;
        font-size: 16px;
        float: right;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    #mbvi-form-wrapper .button:hover {
        color: #ffc;
        box-shadow: 0 0 3px rgba(255, 255, 205, 0.95);
    }

    #mbvi-form-wrapper .button:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        background: #308dac;
    }

    #mbvi-form-wrapper .button:disabled {
        color: #43809f;
    }

    .help-block {
        color: #737373;
        display: block;
        margin-bottom: 0px;
        margin-top: 2px;
        padding-left: 1px;
    }

    #mbvi-form-wrapper {
        width: 100%;
        max-width: 640px;
        margin: 10px auto;
        box-sizing: border-box;
        cursor: default;
    }

    #mbvi-form-wrapper a {
        color: #308dac;
    }

    #mbvi-form-wrapper div, #mbvi-form-wrapper a, #mbvi-form-wrapper li {
        box-sizing: border-box;
        font-family: Arial;
        font-size: 11.7px;
    }

    #mbvi-form-wrapper h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    #mbvi-form-wrapper h4, #mbvi-form-wrapper h4 a {
        background-color: #308dac;
        border-radius: 4px;
        font-family: Arial;
        color: #fff;
        font-size: 16px;
        padding: 8px 10px 10px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    }

    #mbvi-navigation-wrapper {
        width: 100%;
        min-height: 20px;
    }

    .mbvi-navigation-item {
        float: left;
        display: inline-block;
        color: #666;
        font-family: Arial;
        font-size: 12px;
        margin-right: 5px;
        padding: 3px 8px;
        border-radius: 4px;
    }

    .mbvi-navigation-item.current {
        background-color: #ff7800;
        color: #fff;
    }

    .mbvi-navigation-item.active {
        background-color: #eee;
    }

    .mbvi-navigation-item.disable {
        opacity: 0.5;
    }

    .mbvi-form-block {
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 4px;
    }

    .mbvi-form-block-odd {
        background-color: #f2f8fa;
    }

    .mbvi-form-block-even {
        background-color: #e5f1f5;
    }

    .mbvi-form-group {
        margin-bottom: 10px;
    }

    .mbvi-form-group:before, .mbvi-form-group:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .mbvi-form-group:after {
        clear: both;
    }

    .mbvi-form-group [class*="mbvi-form-span"] {
        box-sizing: border-box;
        display: block;
        float: left;
        margin-left: 2.12766%;
        min-height: 30px;
        width: 100%;
    }

    .mbvi-form-group [class*="mbvi-form-span"]:first-child {
        margin-left: 0;
    }

    .mbvi-form-group .mbvi-form-span12 {
        width: 100%;
    }

    .mbvi-form-group .mbvi-form-span11 {
        width: 91.4894%;
    }

    .mbvi-form-group .mbvi-form-span10 {
        width: 82.9787%;
    }

    .mbvi-form-group .mbvi-form-span9 {
        width: 78.4681%;
    }

    .mbvi-form-group .mbvi-form-span8 {
        width: 65.9574%;
    }

    .mbvi-form-group .mbvi-form-span7 {
        width: 57.4468%;
    }

    .mbvi-form-group .mbvi-form-span6 {
        width: 48.9362%;
    }

    .mbvi-form-group .mbvi-form-span5 {
        width: 40.4255%;
    }

    .mbvi-form-group .mbvi-form-span4 {
        width: 31.9149%;
    }

    .mbvi-form-group .mbvi-form-span3 {
        width: 19.4043%;
    }

    .mbvi-form-group .mbvi-form-span2 {
        width: 14.8936%;
    }

    .mbvi-form-group .mbvi-form-span1 {
        width: 6.38298%;
    }
    .ib {
        display: inline
    }
    .nav-tabs a.disable {
        opacity: 0.5;
    }
    .tourist-remove {
        cursor:pointer;
        position:absolute;
        float: right;
        margin-top: 5px;
        margin-left: 600px
    }
</style>
</html>