<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.css">
    {% block styles %}
        {% stylesheets filter='cssrewrite, uglifycss'
            '@MBHBaseBundle/Resources/public/css/mbsuperfont/styles.less'
        %}
            <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
        {% endstylesheets %}

        {% if formConfig.theme %}
            <link rel="stylesheet" href="{{ formConfig.theme }}">
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHOnlineBundle/Resources/public/css/results-form/*'
            %}
                <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
            {% endstylesheets %}
        {% endif %}
    {% endblock %}
    {# kludge #}
    {% if kludgeTheme != false %}
        <link rel="stylesheet" href="{{ kludgeTheme }}">
    {% endif %}
    {% if formConfig.resultFormCss is not empty %}
        <style>
            {{ formConfig.resultFormCss |raw}}
        </style>
    {% endif %}
    <script>
        function MbhResultForm(mbhVariables) {
            this.paymentTypes = {
                online: {
                    firstDay: '{{ constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_ONLINE_FIRST_DAY') }}',
                    full: '{{ constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_ONLINE_FULL') }}',
                    half: '{{ constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_ONLINE_HALF') }}'
                },
                receipt: {
                    firstDay: '{{ constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_BY_RECEIPT_FIRST_DAY') }}',
                    full: '{{ constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_BY_RECEIPT_FULL') }}',
                    half: '{{ constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_BY_RECEIPT_HALF') }}'
                }
            };

            this.paymentTypes.onlines  =  [
                this.paymentTypes.online.full,
                this.paymentTypes.online.half,
                this.paymentTypes.online.firstDay
            ];


            this.wrapper = mbhVariables.wrapper;
            this.formConfigId = mbhVariables.formConfigId;

            this._waitingText = '{{ "package.processing"|trans({}, 'front_messages')}}';

            this._text = {
                tariffDesc: {
                    show: '{{ 'views.api.tariffs.tariff.description.show'|trans({}, 'MBHOnlineBundle') }}',
                    hide: '{{ 'views.api.tariffs.tariff.description.hide'|trans({}, 'MBHOnlineBundle') }}'
                },
                stepOne: {
                    packageInfo: {
                        room: {
                            other: '{{ 'views.api.step_one.result_actions.room.other' | trans({}, 'MBHOnlineBundle') }}',
                            one: '{{ 'views.api.step_one.result_actions.room.one' | trans({}, 'MBHOnlineBundle') }}',
                            many: '{{ 'views.api.step_one.result_actions.room.many' | trans({}, 'MBHOnlineBundle') }}'
                        },
                        guest: {
                            other: '{{ 'views.api.step_one.result_actions.guest.other' | trans({}, 'MBHOnlineBundle') }}',
                            one: '{{ 'views.api.step_one.result_actions.guest.one' | trans({}, 'MBHOnlineBundle') }}',
                            many: '{{ 'views.api.step_one.result_actions.guest.many' | trans({}, 'MBHOnlineBundle') }}'
                        }
                    }
                }
            };

            this._urls = {
                stepOne  : mbhVariables.urls.stepOne,
                stepTwo  : mbhVariables.urls.stepTwo,
                stepThree: mbhVariables.urls.stepThree,
                stepFour : mbhVariables.urls.stepFour
            };

            this._requestParams = {};
        }
    </script>
    <script defer src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    {% block scripts %}
        {% javascripts filter='uglifyjs2'
            '@MBHBaseBundle/Resources/public/js/first/010-nativ-func.js'
            '@MBHOnlineBundle/Resources/public/js/results-form/*'
        %}
            <script defer type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% if formConfig.js %}
        <script>
            window.addEventListener('load', function () {
                {{ formConfig.js | raw }}
            });
        </script>
    {% endif %}
</head>
<body>
    <div id="mbh-results-wrapper"></div>
    <script defer type="text/javascript" src="{{ url('online_form_results', {formConfigId: formId}) }}"></script>
</body>
</html>
