<div id="mbh-package-info" class="panel panel-primary">
    <div class="panel-body">
        {% for data in dataPackageInfo %}
            <div class="mbh-package-info-wrapper">
                <div class="mbh-room-name">
                    {{ data.package.roomTitle }}
                    {% if data.count > 1 %} ({{ data.count }}) {% endif %}
                </div>
                <div class="mbh-hotel-name">
                    {{ data.package.hotelTitle }}
                </div>
            </div>
        {% endfor %}
        <div class="mbh-group-info">
            <div class="row mbh-daterange">
                <div class="col-sm-12">
                    {{ 'views.api.getPaymentType.dates'|trans({}, 'MBHOnlineBundle') }}
                    {{ request.begin }} - {{ request.end }}.
                </div>
            </div>
            <div class="row mbh-days-amount">
                <div class="col-sm-12">
                    {{ 'views.api.getPaymentType.days_and_nights'|trans({}, 'MBHOnlineBundle') }}
                    <span id="mbh-package-info-days">{{ request.days }}</span>
                    <span id="mbh-package-info-nights">{{ request.nights }}</span>
                </div>
            </div>
            <div class="row mbh-package-amount">
                <div class="col-sm-12">
                    {{ 'views.api.getPaymentType.nomerov'|trans({}, 'MBHOnlineBundle') }}
                    <span>{{ request.packages|length }}</span>
                </div>
            </div>
        </div>
        <div class="mbh-price-amount">
            {% if request.useServices %}
                <div class="row mbh-services-total">
                    <div class="col-xs-7 col-sm-7">
                        <span>{{ 'views.api.getPaymentType.services'|trans({}, 'MBHOnlineBundle') }}</span>
                    </div>
                    <div class="col-xs-5 col-sm-5 text-right">
                        {{ currency_symbol_with_price(request.totalServices | result_number_format, 'mbh-package-info-total-services') }}
                    </div>
                </div>
            {% endif %}
            <div class="row mbh-package-total">
                <div class="col-xs-7 col-sm-7">
                    {{ 'views.api.getPaymentType.nomera'|trans({}, 'MBHOnlineBundle') }}
                </div>
                <div class="col-xs-5 col-sm-5 text-right">
                    {{ currency_symbol_with_price(request.totalPackages | result_number_format, 'mbh-package-info-total-packages') }}
                </div>
            </div>
            <div class="row mbh-order-total">
                <div class="col-xs-7 col-sm-7">
                    {{ 'views.api.getPaymentType.order_result'|trans({}, 'MBHOnlineBundle') }}
                </div>
                <div class="col-xs-5 col-sm-5 text-right">
                    {{ currency_symbol_with_price(request.total | result_number_format, 'mbh-package-info-total') }}
                </div>
            </div>
            {% if stepNumber is defined and stepNumber == 3 %}
                <div class="row mbh-order-total">
                    <div class="col-xs-7 col-sm-7">
                        {{ 'views.api.result.packages_info.total_to_pay'|trans({}, 'MBHOnlineBundle') }}
                    </div>
                    <div class="col-xs-5 col-sm-5 text-right">
                        {{ currency_symbol_with_price(0, 'total-to-pay') }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
