<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        body {
            height: {{ formConfig.stepOneButtonHeight ~ 'px'}};
        }
    </style>
    {% block styles %}
        {% if formConfig.theme %}
            <link rel="stylesheet" href="{{ formConfig.theme }}">
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHOnlineBundle/Resources/public/css/results-form/step-one-button.less'
            %}
                <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
            {% endstylesheets %}
        {% endif %}
    {% endblock %}
    {# kludge #}
    {% if kludgeTheme != null %}
        <link rel="stylesheet" href="{{ kludgeTheme }}">
    {% endif %}
    {% if formConfig.stepOneButtonCss is not empty %}
        <style>
            {{ formConfig.stepOneButtonCss |raw}}
        </style>
    {% endif %}
    <script>
        function StepOneButton() {
            this._text = {
                packageInfo: {
                    room: {
                        other: '{{ 'views.api.step_one.result_actions.room.other' | trans({}, 'MBHOnlineBundle') }}',
                        one: '{{ 'views.api.step_one.result_actions.room.one' | trans({}, 'MBHOnlineBundle') }}',
                        many: '{{ 'views.api.step_one.result_actions.room.many' | trans({}, 'MBHOnlineBundle') }}'
                    },
                    guest: {
                        other: '{{ 'views.api.step_one.result_actions.guest.other' | trans({}, 'MBHOnlineBundle') }}',
                        one: '{{ 'views.api.step_one.result_actions.guest.one' | trans({}, 'MBHOnlineBundle') }}',
                        many: '{{ 'views.api.step_one.result_actions.guest.many' | trans({}, 'MBHOnlineBundle') }}'
                    }
                }
            };
        };
    </script>
    {% block scripts %}
        {% javascripts filter='uglifyjs2'
            '@MBHBaseBundle/Resources/public/js/first/010-nativ-func.js'
            '@MBHOnlineBundle/Resources/public/js/results-form/010-func-price-separator.js'
            '@MBHOnlineBundle/Resources/public/js/results-form/step-one-button/*.js'
        %}
            <script defer type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<section id="mbh-results-actions">
    <div id="mbh-results-package-info-container" class="hidden-xs">
        <div class="mbh-package-info-icon-shopping-cart text-primary">
            <i class="fa fa-shopping-cart fa-2x"></i>
        </div>
        <div class="mbh-package-info-amount-room-and-guest">
            <div class="room-wrapper">
                <span class="room-amount">0</span>
                <span class="room-text"></span>
            </div>
            <div class="separator">,</div>
            <div class="guest-wrapper">
                <span class="guest-amount">0</span>
                <span class="guest-text"></span>
            </div>
        </div>
        <div class="separator">|</div>
        <div class="mbh-package-info-date">
            <span>{{ 'from'|trans }}</span>
            <span class="begin"></span>
            <span>{{ 'to'|trans }}</span>
            <span class="end"></span>
        </div>
    </div>
    <div style="flex-grow: 2"></div>
    <div id="mbh-results-total">
        <span class="mbh-results-total-text">{{ 'views.api.getResultsTable.result'|trans({}, 'MBHOnlineBundle') }}</span>
        <span id="mbh-results-total-sum" class="mbh-results-total-sum">0</span>
        <i class="{{ currency().icon }}"></i>
    </div>
    <button id="mbh-results-next"
            class="button btn btn-primary spacer-left-sm"> {{ 'views.api.getResultsTable.continue'|trans({}, 'MBHOnlineBundle') }}
        <small><i class="fa fa-chevron-right "></i></small>
    </button>
</section>
</body>
</html>
