{% spaceless %}
<div id="mbh-results-global-wrapper" class="step-three">
    {% include 'MBHOnlineBundle:ResultsForm:stepInfo.html.twig' with {'stepNumber': 3} %}
    <div class="row">
        <div class="col-sm-8">
            <div id="mbh-results-tariffs">
                <div class="panel panel-primary spacer-top">
                    <div class="panel-heading">
                        {% if onlyOneType %}
                            {{ 'form.cashDocumentType.payment_way'|trans }}
                        {% else %}
                            {{ 'views.api.getPaymentType.choose_payment_way'|trans({}, 'MBHOnlineBundle') }}
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div id="mbh-payment-types" data-tariff="{{ firstPackage.tariff.id }}">
                            {% for paymentType in formConfig.paymentTypes %}
                                <div class="mbh-payment-type-row" data-type="{{ paymentType }}">
                                    <input {% if onlyOneType %}checked style="display:none;"{% endif %}
                                           type="radio"
                                           class="mbh-payment-types-radio"
                                           name="paymentType"
                                           value="{{ paymentType }}"
                                           id="{{ paymentType }}_radio" required>
                                    <label for="{{ paymentType }}_radio" class="mbh-payment-type-label">{{ ('payment_types.' ~ paymentType)|trans }}</label>
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_IN_HOTEL')%}
                                        <div class="mbh-payment-type-row-total">{{ request.total }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.payment_fine'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_BY_RECEIPT_FULL') %}
                                        <div class="mbh-payment-type-row-total">{{ request.total }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_whole_sum'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_BY_RECEIPT_FIRST_DAY') %}
                                        <div class="mbh-payment-type-row-total">{{ (request.total|replace({',': ''})/request.nights)|round|number_format() }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_first_night'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_BY_RECEIPT_HALF') %}
                                        <div class="mbh-payment-type-row-total">{{ (request.total|replace({',': ''})/2)|round|number_format() }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_half'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_ONLINE_FULL') %}
                                        <div class="mbh-payment-type-row-total">{{ request.total }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_whole_sum'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_ONLINE_FIRST_DAY') %}
                                        <div class="mbh-payment-type-row-total">{{ (request.total|replace({',': ''})/request.nights)|round|number_format() }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_first_night'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                    {% if paymentType == constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::PAYMENT_TYPE_ONLINE_HALF') %}
                                        <div class="mbh-payment-type-row-total">{{ (request.total|replace({',': ''})/2)|round|number_format() }} {{ currency().text|trans }}</div>
                                        <p> {{ 'views.api.getPaymentType.reservation_guarantee_half'|trans({}, 'MBHOnlineBundle') }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        <div id="mbh-payment-systems"{% if onlyOneType or onlyOneSystem %} style="display: none;"{% endif %}>
                            <div class="mbh-form-row form-group">
                                <label for="mbh-form-payment-system"> {{ 'views.api.getPaymentType.payment_systems.label'|trans({}, 'MBHOnlineBundle') }}</label>
                                <select id="mbh-form-payment-system" class="form-control input-sm" name="payment-system">
                                    {% for paymentSystem in clientConfig.paymentSystems%}
                                        {% if paymentSystem != 'invoice' %}
                                            <option value="{{ paymentSystem }}"{{ onlyOneSystem ? ' selected' }}>{{ paymentSystems[paymentSystem] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {% include 'MBHOnlineBundle:ResultsForm:packageInfo.html.twig' with {'request': request} %}
        </div>
    </div>
    <div id="mbh-results-actions">
        <button id="mbh-payment-types-previous" class="button btn btn-primary">
            <small><i class="fa fa-chevron-left"></i></small>
            {{ 'views.api.getPaymentType.choose_other_rooms'|trans({}, 'MBHOnlineBundle') }}
        </button>
        <button id="mbh-payment-types-next" class="button btn btn-primary spacer-left-sm">{{ 'views.api.getPaymentType.reservate'|trans({}, 'MBHOnlineBundle') }}
            <small><i class="fa fa-chevron-right "></i></small>
        </button>
    </div>
</div>
{% endspaceless %}
