<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    <style>
        body {
            height: {{ formConfig.stepOneButtonHeight ~ 'px'}};
        }
    </style>
    {% block styles %}
        {% stylesheets filter='cssrewrite, uglifycss'
            '@MBHBaseBundle/Resources/public/css/currency-symbol/common.less'
        %}
            <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
        {% endstylesheets %}

        {% if formConfig.theme %}
            <link rel="stylesheet" href="{{ formConfig.theme }}">
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHOnlineBundle/Resources/public/css/results-form/step-one-button.less'
            %}
                <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
            {% endstylesheets %}
        {% endif %}
    {% endblock %}
    {% if formConfig.stepOneButtonCss is not empty %}
        <style>
            {{ formConfig.stepOneButtonCss |raw}}
        </style>
    {% endif %}
    <script>
        function StepOneButton() {
            this._text = {
                packageInfo: {
                    room: {
                        other: '{{ 'views.api.step_one.result_actions.room.other' | trans({}, 'MBHOnlineBundle') }}',
                        one: '{{ 'views.api.step_one.result_actions.room.one' | trans({}, 'MBHOnlineBundle') }}',
                        many: '{{ 'views.api.step_one.result_actions.room.many' | trans({}, 'MBHOnlineBundle') }}'
                    },
                    guest: {
                        other: '{{ 'views.api.step_one.result_actions.guest.other' | trans({}, 'MBHOnlineBundle') }}',
                        one: '{{ 'views.api.step_one.result_actions.guest.one' | trans({}, 'MBHOnlineBundle') }}',
                        many: '{{ 'views.api.step_one.result_actions.guest.many' | trans({}, 'MBHOnlineBundle') }}'
                    }
                }
            };
        };
    </script>
    {% block scripts %}
        {% javascripts filter='uglifyjs2'
            '@MBHBaseBundle/Resources/public/js/first/010-nativ-func.js'
            '@MBHOnlineBundle/Resources/public/js/results-form/010-func-price-separator.js'
            '@MBHOnlineBundle/Resources/public/js/common-online-form/mbh-send-post-message.js'
            '@MBHOnlineBundle/Resources/public/js/results-form/step-one-button/*.js'
        %}
            <script defer type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<section id="mbh-results-actions">
    <div id="mbh-results-package-info-container" class="hidden-xs">
        <div class="mbh-package-info-icon-shopping-cart text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="27px" height="30px" class="shopping-cart">
                <path fill="currentColor" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z" class=""></path>
            </svg>
        </div>
        <div class="mbh-package-info-amount-room-and-guest">
            <div class="room-wrapper">
                <span class="room-amount">0</span>
                <span class="room-text"></span>
            </div>
            <div class="separator">,</div>
            <div class="guest-wrapper">
                <span class="guest-amount">0</span>
                <span class="guest-text"></span>
            </div>
        </div>
        <div class="separator">|</div>
        <div class="mbh-package-info-date">
            <span>{{ 'from'|trans }}</span>
            <span class="begin"></span>
            <span>{{ 'to'|trans }}</span>
            <span class="end"></span>
        </div>
    </div>
    <div class="filler"></div>
    <div id="mbh-results-total">
        <span class="mbh-results-total-text">{{ 'views.api.getResultsTable.result'|trans({}, 'MBHOnlineBundle') }}</span>
        <div class="pull-right">
            {{ currency_symbol_with_price(0, 'mbh-results-total-sum') }}
        </div>
    </div>
    <button id="mbh-results-next"
            class="button btn btn-primary spacer-left-sm"> {{ 'views.api.getResultsTable.continue'|trans({}, 'MBHOnlineBundle') }}
    </button>
</section>
</body>
</html>
