w{% block vich_image_widget %}

    {% spaceless %}
        <div class="vich-image">
            {% if form.delete is defined %}
                <div class="print-clearfix"></div>
                <div class="col-sm-4">
                {{ form_label(form.delete) }}
                </div>
                {{ form_widget(form.delete) }}
            {% endif %}

            {% if image_uri %}
                <div class="print-clearfix"></div>
                <a href="{{ asset(image_uri|imagine_filter('scaler')) }}" class="fancybox"><img src="{{ asset(image_uri|imagine_filter('thumb_95x80')) }}" alt="" /></a>
            {% endif %}

            {% if download_uri and download_uri is not empty %}
                <p>
                <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
                </p>
            {% endif %}

            {% if logo_image_delete_url is defined and logo_image_delete_url is not empty and image_uri %}
                <p>
                <a class="text-danger delete-link" data-text="{{ 'views.hotel.form.hotelType.delete_modal_text'|trans }}" href="{{ logo_image_delete_url }}"><i class="fa fa-trash-o"></i>{{ 'views.hotel.form.hotelType.delete'|trans }} </a>
                </p>
            {% endif %}

            {{ form_widget(form.file) }}
        </div>
    {% endspaceless %}
{% endblock %}
