{% if true %}
    <script>
        var jsonData = [];
    </script>
    {% for table in report.tables %}
        <script>
            jsonData.push(JSON.parse("{{ table.jsonEncodedData|raw }}"));

        </script>
    {% endfor %}
{% endif %}

{% for error in report.errors %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% endfor %}
{% if report.isSuccess %}
    {% for table in report.tables %}
        <table class="{{ table.classes|join(' ') }}" {{ table.getAttributesAsString()|raw }}>
            {% for row in table.rows %}
                <tr class="{{ row.classes|join(' ') }}" {{ row.getAttributesAsString()|raw }}>
                    {% for cell in row.cells %}
                        <td class="{{ cell.classes|join(' ') }}" {{ cell.getAttributesAsString()|raw }}
                            colspan="{{ cell.colSpan }}" rowspan="{{ cell.rowSpan }}">
                            {{ cell.displayedValue|raw }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endif %}