<div class="filter-form_input">
    <i class="fa fa-clock-o" data-toggle="tooltip" data-placement="top" title="{{ 'mbhbasebundle.view.partials.datepickerperiodselect.period'|trans }}"></i>
    <select class="datepicker-period-select form-control" data-placeholder="{{ 'mbhbasebundle.view.partials.datepickerperiodselect.period'|trans }}">
        <option></option>
        <option value="{{ 'now'|date_modify('-1 day')|date('d.m.Y') }}-{{ 'now'|date_modify('-1 day')|date('d.m.Y') }}">
            {{ 'mbhbasebundle.views.partials.yesterday'|trans }}
        </option>
        <option value="{{ 'now'|date('d.m.Y') }}-{{ 'now'|date('d.m.Y') }}">
            {{ 'mbhbasebundle.views.partials.today'|trans }}
        </option>
        <option value="{{ 'now'|date_modify('+1 day')|date('d.m.Y') }}-{{ 'now'|date_modify('+1 day')|date('d.m.Y') }}">
            {{ 'mbhbasebundle.views.partials.tomorrow'|trans }}
        </option>
        <option value="{{ 'now'|date_modify('-7 days')|date('d.m.Y') }}-{{ 'now'|date('d.m.Y') }}">
            {{ 'mbhbasebundle.views.partials.week'|trans }}
        </option>
        <option value="{{ 'now'|date_modify('-1 month')|date('d.m.Y') }}-{{ 'now'|date('d.m.Y') }}">
            {{ 'mbhbasebundle.views.partials.month'|trans }}
        </option>
    </select>
</div>