<div class="input">
    &nbsp;<i class="fa fa-clock-o" data-toggle="tooltip" data-placement="top" title="{{ 'mbhbasebundle.view.partials.datepickerperiodselect.period'|trans }} "></i>&nbsp;
    <select class="datepicker-period-select" data-placeholder="{{ 'mbhbasebundle.view.partials.datepickerperiodselect.period'|trans }} " placeholder="{{ 'mbhbasebundle.view.partials.datepickerperiodselect.period'|trans }} ">
        <option></option>
        <option value="{{ 'now'|date_modify('-1 day')|date('d.m.Y') }}-{{ 'now'|date_modify('-1 day')|date('d.m.Y') }}">
            {{ 'mbhbasebundle.view.partials.datepickerperiodselect.vchera'|trans }} 
        </option>
        <option value="{{ 'now'|date('d.m.Y') }}-{{ 'now'|date('d.m.Y') }}">
            {{ 'mbhbasebundle.view.partials.datepickerperiodselect.segodnya'|trans }} 
        </option>
        <option value="{{ 'now'|date_modify('+1 day')|date('d.m.Y') }}-{{ 'now'|date_modify('+1 day')|date('d.m.Y') }}">
            {{ 'mbhbasebundle.view.partials.datepickerperiodselect.zavtra'|trans }} 
        </option>
        <option value="{{ 'now'|date_modify('-7 days')|date('d.m.Y') }}-{{ 'now'|date('d.m.Y') }}">
            {{ 'mbhbasebundle.view.partials.datepickerperiodselect.nedelya'|trans }} 
        </option>
        <option value="{{ 'now'|date_modify('-1 month')|date('d.m.Y') }}-{{ 'now'|date('d.m.Y') }}">
            {{ 'mbhbasebundle.view.partials.datepickerperiodselect.mesyats'|trans }} 
        </option>
    </select>
</div>