<div class="modal fade" data-alert-type="danger" id="entity-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="entity-delete-button" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" data-default={{ 'views.partials.entityDeleteForm.confirm_delete_quote'|trans({}, 'MBHBaseBundle') }} id="entity-delete-modal-header">{{ 'views.partials.entityDeleteForm.confirm_delete'|trans({}, 'MBHBaseBundle') }}</h4>
      </div>
      <div class="modal-body" data-default="{{ 'views.partials.entityDeleteForm.are_you_sure_delete_record_quote'|trans({}, 'MBHBaseBundle') }}" id="entity-delete-modal-text">
          {{ 'views.partials.entityDeleteForm.are_you_sure_delete_record'|trans({}, 'MBHBaseBundle') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-ban"> </i> {{ 'views.partials.entityDeleteForm.cancel'|trans({}, 'MBHBaseBundle') }}</button>
        <button type="button" id="entity-delete-button" data-default="outline" class="btn btn-outline"><i id="entity-delete-button-icon" data-default="fa-trash-o"  class="fa fa-trash-o"></i>&nbsp;<span data-default="{{ delete_title|default('views.partials.disable_button.entity_delete_form.remove'|trans) }} " id="entity-delete-button-text">{{ delete_title|default('views.partials.disable_button.entity_delete_form.remove'|trans) }}</span></button>
      </div>
    </div>
  </div>
</div>