{#todo remove. use embed_filter.html.twig#}
<div class="box box-default box-solid" {% if id is defined %}id="{{ id }}"{% endif %}>
    <div class="box-header box-header_when-mobile">
        <h3 class="box-title">{{ header|default('form.filter')|trans|raw }}
            {% if smallHeader is defined and smallHeader is not empty %}
                <small>{{ smallHeader|trans|raw }}</small>
            {% endif %}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool form-group-collapse" {% if id is defined %}id="{{ id }}-collapse"{% endif %} data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="{{ class|default('bg-gray-disabled color-palette')}} box-body">