{% for result in results %}
    <div class="mbh-results-list-wrapper panel panel-warning">
        <div class="panel-body">
            <div class="mbh-results-list-image">
                <a href="{{ path('simple_search_view', {id: result.hotel.id}) }}?hotel={{ result.hotel.id }}&{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}"
                   title="{{ result.hotel.fullTitle }}"><img src="{{ ((result.roomTypes)|first).mainImage ? asset(((result.roomTypes)|first).mainImage.path)|imagine_filter('thumb_300x230')  : 'http://zamkadom24.sites.maxibooking.ru/1.jpg'}}"></a>
            </div>
            <div class="mbh-results-list-info">
                <div class="mbh-results-list-rating" title="{{ result.hotel.rate|number_format(2) }}">
                    <div class="mbh-results-list-rating-rank" style="width:{{ result.hotel.rate * 58 / 10 }}px;"></div>
                    <div class="mbh-results-list-rating-sprite"></div>
                </div>
                <div class="mbh-results-list-title"><a
                            href="{{ path('simple_search_view', {id: result.hotel.id}) }}?hotel={{ result.hotel.id }}&{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}"
                            title="Номера и цены в этом отеле">{{ result.hotel.fullTitle }}</a></div>
                <div class="mbh-results-list-city">
                    {% if result.hotel.city or result.hotel.street %}
                        <i class="fa fa-map-marker text-warning"></i>
                        {{ result.hotel.city }} {{ result.hotel.street }}{% if result.hotel.highway %}, {{ result.hotel.highway }}{% endif %}
                        {% if result.hotel.MKADdistance %}({{ result.hotel.MKADdistance }} км. от МКАД){% endif %}
                    {% endif %}
                </div>

                <div class="mbh-results-list-rooms">
                    {% for roomType in result.roomTypes|slice(0, 2) %}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ roomType }}
                        </div>
                        <div class="col-xs-2 text-center">
                            {% for index in 1..adults %}
                                <i class="fa fa-male text-warning"></i>
                            {% endfor %}
                        </div>
                        <div class="price col-xs-4">
                            <div class="pull-right">{{ result.result.price(result.result.adults, result.result.children) }} <i class="fa fa-ruble"></i></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if result.roomTypes|length > 2 %}
                        <a href="{{ path('simple_search_view', {id: result.hotel.id}) }}?hotel={{ result.hotel.id }}&{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}">Просмотреть все типы номеров</a>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <div class="mbh-results-list-descr">
                            {{ result.hotel.description|truncate(500)|raw }}
                            <a href="{{ path('simple_search_view', {id: result.hotel.id}) }}?hotel={{ result.hotel.id }}&{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="mbh-results-list-facilities">
                            {% for facility in result.hotel.facilities|slice(0, 7) %}
                                <i title="{{ facilities[facility] }}" class="mbf-{{ facility }} available"></i>
                            {% endfor %}
                            {#<i title="Кафе" class="mbf-kitchen available"></i>
                            <i class="mbf-golf"></i>
                            <i title="Телевизор"class="mbf-modern-tv available"></i>
                            <i class="mbf-free-wifi"></i>
                            <i class="mbf-swimming"></i>
                            <i class="mbf-conditioner available"></i>
                            <i class="mbf-safe"></i>#}
                        </div>
                        <div class="clearfix"></div>
                        <a href="{{ path('simple_search_view', {id: result.hotel.id}) }}?hotel={{ result.hotel.id }}&{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}"
                           title="Номера и цены в этом отеле" class="btn btn-primary btn-book">Выбрать номер</a>

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}