{% extends 'MBHClientBundle:ClientConfig:layout.html.twig' %}

{% set small_title = 'client.views.clientConfig.color_settings.small_title'|trans({}, 'MBHClientBundle') %}
{% set layout='tabs' %}

{% block styles %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, uglifycss'
        '@MBHClientBundle/Resources/public/css/color_settings.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}

    {% include 'MBHClientBundle:ClientConfig:tabs.html.twig' with {'active': 2 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="color_settings">

            {{ form_start(form, {'action': path('color_settings'), 'attr': {'class': 'form-horizontal' }}) }}
            {{ form_widget(form) }}
            {% if is_granted('ROLE_CLIENT_CONFIG_EDIT') %}
                <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
                    <div class="container-fluid">
                        <a href="{{ path('reset_color_settings') }}" type="submit" name="reset"
                           class="btn btn-warning navbar-btn delete-link"
                           data-text="{{ 'client.views.clientConfig.reset_confirmation.text'|trans({}, 'MBHClientBundle') }}"
                           data-button-icon="fa fa-refresh"
                           data-button="{{ 'client.views.clientConfig.reset_confirmation.button-text'|trans({}, 'MBHClientBundle') }}">
                            <i class="fa fa-refresh"> </i>
                            <span class="hidden-xs">&nbsp;{{ 'client.views.clientConfig.color_settings.reset_settings.button'|trans({}, 'MBHClientBundle') }}</span>
                        </a>
                        {% include 'MBHBaseBundle:Actions:saveButtons.html.twig' with {'save_close' : false, 'save_text': 'views.actions.new.save'|trans({}, 'MBHBaseBundle')} %}
                    </div>
                </div>
            {% endif %}
            {{ form_end(form) }}

            {% if entity %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
            {% endif %}

        </div>
    </div>

{% endblock %}