{% extends "MBHClientBundle:ClientConfig:layoutPaymentSystem.html.twig" %}

{% set small_title = 'views.clientConfig.index.editing'|trans({}, 'MBHClientBundle') %}

{% block content %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {{ form_start(form, {'action': path('client_payment_system_save', {'paymentSystemName': paymentSystemName}), 'attr': {'class': 'form-horizontal' }}) }}
            {{ form_widget(form) }}
            {% if is_granted('ROLE_CLIENT_CONFIG_EDIT') %}
                {% include 'MBHBaseBundle:Actions:new.html.twig' with {'save_close' : false} %}
            {% endif %}
            {{ form_end(form) }}

            {% if paymentSystemName and paymentSystemName != 'invoice' %}
            <div class="bg-gray color-palette alert">
                <strong>{{ 'client.viwes.clientConfig.paymentSystem.urlNotification'|trans({},'MBHClientBundle') }}</strong>
                : {{ url('online_form_check_order', {'paymentSystemName': paymentSystemName}) }}<br>
                <strong>{{ 'client.viwes.clientConfig.paymentSystem.urlSuccesPayment'|trans({},'MBHClientBundle') }}</strong>
                : {{ url('api_success_url') }}<br>
                <strong>{{ 'client.viwes.clientConfig.paymentSystem.urlFailedPayment'|trans({},'MBHClientBundle') }}</strong>
                : {{ url('api_fail_url') }}
            </div>
            {% endif %}

            {% if entity %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
            {% endif %}

        </div>
    </div>

{% endblock %}