<input type="hidden" name="begin" id="accommodation-report-begin" class="hidden" value="{{ begin|date('d.m.Y') }}">
<input type="hidden" name="end" id="accommodation-report-end" class="hidden" value="{{ end|date('d.m.Y') }}">

{% if roomsData|length > 0 %}

    {% set headerWidth = 200 %}

    <div id="calendarWrapper" style="width:{{ totalDays * 47 + headerWidth + 1 }}px;">

        <!---------------------------- MONTHS ------------------------->
        <div class="clearfix">
            <ul class="list-unstyled calendarDays">
                <li class="tile tile-not-selected tile-free both" style="width:{{ headerWidth }}px;">
                    <div class="title">&nbsp;</div>
                </li>
                {% for calendarMonth in calendarMonths %}
                    <li class="tile tile-not-selected tile-free both" style="width:{{ calendarMonth.days * 47 }}px;">
                        <div class="month" style="width:{{ calendarMonth.days * 47 }}px;">
                            {{ calendarMonth.days > 2 ? months[calendarMonth.month] ~ ', ' ~ calendarMonth.year }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% for roomTypeData in roomsData %}
            <!---------------------------- ROOM TYPES ------------------------->
            <div class="clearfix">
                <ul class="list-unstyled calendarDays">
                    <li class="tile tile-not-selected tile-free both" style="width:{{ headerWidth }}px;">
                        <div class="title"><strong class="text-info"><i class="fa fa-bed"></i> {{ roomTypeData.roomType.getName[0:48] }}</strong></div>
                    </li>
                    {% for day in roomTypeData['days'] %}
                        <li class="{{ day|date('N') in [6,7] ? 'weekend' }} {{ day|date('d.m.Y') == 'now'|date('d.m.Y') ? 'today' }} tile tile-not-selected tile-free both">
                            <div class="day">
                                <div class="{{ day|date('N') in [6,7] ? 'text-danger' }}{{ day|date('d.m.Y') == 'now'|date('d.m.Y') ? 'text-info' }}">{{ day|date('d.m') }}
                                    <span>{{ day|date('Y') == 'now'|date('Y') ? weekdays[day|date('N')]|lower : day|date('Y') }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!---------------------------- ROOMS ------------------------->
            <div class="calendarRows clearfix">
                {% for key, roomData in roomTypeData['rooms'] %}
                    <div class="calendarRow clearfix">
                        <ul class="calendarDates list-unstyled" data-obj="{{ roomData.room.id }}"
                            data-index="{{ key }}">
                            <li class="tile tile-not-selected tile-free both" style="width:{{ headerWidth }}px;">
                                <div class="title-sub">{{ roomData.room.getName[0:48] }}</div>
                            </li>

                            <!---------------------------- PACKAGE INFO ------------------------->
                            {% for package in roomData['packages'] %}
                                <li class="tile-title tile-not-selected"
                                    data-content="{% include 'MBHPackageBundle:Report:accommodationTablePackage.html.twig' with {'data': package } %}"
                                    data-original-title="{{ package.doc.numberWithPrefix }} {{ package.doc.mainTourist ? package.doc.mainTourist.lastNameWithInitials }}" data-placement="top" data-container="body"
                                    data-toggle="popover" style="left: {{ headerWidth + package.margin + package.padding }}px; display: list-item;">{{ package.name }}</li>
                            {% endfor %}

                            {% for day in roomData['days'] %}

                                {% if day.date|date('N') in [6,7] %}{% set weekend = 'weekend' %}{% else %}{% set weekend = null %}{% endif %}
                                {% if day.date|date('d.m.Y') == 'now'|date('d.m.Y') %}{% set today = 'today' %}{% else %}{% set today = null %}{% endif %}

                                {% if day.package is empty %}
                                    <!---------------------------- EMPTY PACKAGES ------------------------->
                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-free both">
                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                    </li>
                                {% else %}

                                    {% if day.package[1] is not defined %}

                                        {% if day.package[0].begin %}

                                            {% if day.package[0].early_check_in %}

                                                {% if day.package[0].isCheckIn %}
                                                    <!---------------------------- ONE PACKAGE. BEGIN. EARLY CHECK-IN. COMING ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-busy-early tile-{{ day.package[0].status }} left">
                                                        <div class="tile tile-free left">
                                                            <div class="tile tile-busy tile-coming">
                                                                <div class="tile tile-busy tile-{{ day.package[0].status }}-coming left ">
                                                                    <div class="tile tile-free right-left">
                                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <!---------------------------- ONE PACKAGE. BEGIN. EARLY CHECK-IN ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-busy-early tile-{{ day.package[0].status }} left">
                                                        <div class="tile tile-busy tile-{{ day.package[0].status }} left">
                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                        </div>
                                                    </li>
                                                {% endif %}

                                            {% else %}

                                                {% if day.package[0].isCheckIn %}
                                                    <!---------------------------- ONE PACKAGE. BEGIN. COMING ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-free tile-coming right-left">
                                                        <div class="tile tile-busy tile-{{ day.package[0].status }}-coming left">
                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <!---------------------------- ONE PACKAGE. BEGIN ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-{{ day.package[0].status }} left">
                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                    </li>
                                                {% endif %}
                                            {% endif %}

                                        {% elseif day.package[0].end %}

                                            {% if day.package[0].late_check_out %}

                                                {% if day.package[0].isCheckIn %}
                                                    <!---------------------------- ONE PACKAGE. LATE CHECK-OUT. COMING ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                        <div class="tile tile-free right-left">
                                                            <div class="tile tile-busy tile-coming tile-{{ day.package[0].status }}-coming right-left">
                                                                <div class="tile tile-busy tile-{{ day.package[0].status }}-coming left">
                                                                    <div class="tile tile-free left">
                                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <!---------------------------- ONE PACKAGE. LATE CHECK-OUT ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-busy-early tile-{{ day.package[0].status }} right">
                                                        <div class="tile tile-busy tile-{{ day.package[0].status }} right">
                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {% else %}

                                                {% if day.package[0].isCheckIn %}
                                                    <!---------------------------- ONE PACKAGE. END. COMING ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-coming tile-{{ day.package[0].status }}-coming right-left">
                                                        <div class="tile tile-free right">
                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                        </div>
                                                    </li>
                                                {% else %}
                                                    <!---------------------------- ONE PACKAGE. END ------------------------->
                                                    <li {% include 'MBHPackageBundle:Report:accommodationTablePackageInfo.html.twig' with {'day': day, 'roomData': roomData, 'roomTypeData': roomTypeData } %} class="{{ weekend }} {{ today }} tile tile-bookable tile-busy tile-{{ day.package[0].status }} right">
                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <!---------------------------- ONE PACKAGE ------------------------->
                                            <li class="{{ weekend }} {{ today }} tile {{ day.package[0].isCheckIn ? 'tile-coming' }} tile-busy tile-{{ day.package[0].status }}{{ day.package[0].isCheckIn ? '-coming' }} both">
                                                {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                            </li>
                                        {% endif %}

                                    {% else %}

                                        {% if day.package[1].early_check_in and day.package[0].late_check_out is empty %}

                                            {% if day.package[0].isCheckIn and day.package[1].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. EARLY CHECK-IN. COMING ONE ------------------------->

                                                <li class=" {{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming left">
                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }}-coming right-left">
                                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                                            <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                                                {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>


                                            {% elseif day.package[1].isCheckIn and day.package[0].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. EARLY CHECK-IN. COMING TWO ------------------------->

                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-coming right-left">
                                                            <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                                <div class="tile tile-busy tile-{{ day.package[0].status }} right">
                                                                    {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            {% elseif day.package[0].isCheckIn and day.package[1].isCheckIn %}
                                                <!---------------------------- TWO PACKAGES. EARLY CHECK-IN. COMING BOTH ------------------------->

                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming">
                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }}-coming right-left">
                                                                        <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <!---------------------------- TWO PACKAGES. EARLY CHECK-IN ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                    <div class="tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                        <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}

                                        {% elseif day.package[0].late_check_out and day.package[1].early_check_in is empty %}

                                            {% if day.package[0].isCheckIn and day.package[1].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT. COMING ONE ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming left">
                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }}-coming right-left">
                                                                        <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            {% elseif day.package[1].isCheckIn and day.package[0].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT. COMING TWO ------------------------->

                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming right-left">
                                                                    <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                                        <div class="tile tile-busy tile-{{ day.package[0].status }} right">
                                                                            <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                                                {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            {% elseif day.package[0].isCheckIn and day.package[1].isCheckIn %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT. COMING BOTH ------------------------->

                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming">
                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }}-coming right-left">
                                                                        <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            {% else %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                    <div class="tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                        <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}

                                        {% elseif day.package[0].late_check_out and day.package[1].early_check_in %}

                                            {% if day.package[0].isCheckIn and day.package[1].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT AND EARLY CHECK-IN. COMING ONE ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming left">
                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }}-coming right-left">
                                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                                            <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                                                {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% elseif day.package[1].isCheckIn and day.package[0].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT AND EARLY CHECK-IN. COMING TWO ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-coming right-left">
                                                            <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                                <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">

                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% elseif day.package[0].isCheckIn and day.package[1].isCheckIn %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT AND EARLY CHECK-IN. COMING BOTH ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                    <div class="tile tile-free left">
                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                            <div class="tile tile-free right-left">
                                                                <div class="tile tile-busy tile-coming">
                                                                    <div class="tile tile-busy tile-{{ day.package[0].status }}-coming right-left">
                                                                        <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                                            {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <!---------------------------- TWO PACKAGES. LATE CHECK-OUT AND EARLY CHECK-IN ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-busy-early tile-{{ day.package[0].status }} right-left">
                                                    <div class="tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                        <div class="tile tile-busy tile-busy-early tile-{{ day.package[1].status }} left">
                                                            <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                                {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% else %}

                                            {% if day.package[0].isCheckIn and day.package[1].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. COMING ONE ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-coming tile-{{ day.package[0].status }}-coming right-left">
                                                    <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                    </div>
                                                </li>
                                            {% elseif day.package[1].isCheckIn and day.package[0].isCheckIn is empty %}
                                                <!---------------------------- TWO PACKAGES. COMING TWO ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-coming tile-{{ day.package[0].status }} right-left">
                                                    <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                    </div>
                                                </li>
                                            {% elseif day.package[0].isCheckIn and day.package[1].isCheckIn %}
                                                <!---------------------------- TWO PACKAGES. COMING BOTH ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-coming tile-{{ day.package[0].status }}-coming right-left">
                                                    <div class="tile tile-busy tile-{{ day.package[1].status }}-coming left">
                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                    </div>
                                                </li>
                                            {% else %}
                                                <!---------------------------- TWO PACKAGES ------------------------->
                                                <li class="{{ weekend }} {{ today }} tile tile-busy tile-{{ day.package[0].status }} right-left">
                                                    <div class="tile tile-busy tile-{{ day.package[1].status }} left">
                                                        {% include 'MBHPackageBundle:Report:accommodationTableDay.html.twig' with {'day': day } %}
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% else %}
    <div class="alert alert-danger"><i
                class="fa fa-exclamation-circle"> </i> {{ "report.accommodationTable.no_room_found"|trans({}, "MBHPackageBundle") }}
    </div>
{% endif %}