<b>Заказ:</b> #{{ data.doc.order }} {% if data.doc.order.isPaid %}
    <small class='text-success'><i class='fa fa-check'></i> {{ 'order.edit.paid'|trans({}, 'MBHPackageBundle') }}</small> {% else %}
    <small class='text-danger'><i class='fa fa-times'></i> {{ 'order.edit.not_paid'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}</small><br>
<b>Даты:</b> {{ data.doc.begin|date('d.m.Y') }} - {{ data.doc.end|date('d.m.Y') }}<br>
<b>Заехали:</b> {{ data.doc.isCheckIn ? 'да' : 'нет' }}<br>
<b>Выехали:</b> {{ data.doc.isCheckOut ? 'да' : 'нет' }}<br>
<b>Гости:</b> {{ data.doc.adults }}+{{ data.doc.children }}<br>
<b>Стоимость:</b> {{ data.doc.order.price }} {{ currency().text }}<br>
<b>Долг:</b> {{ data.doc.order.debt }} {{ currency().text }}<br>
{% if data.doc.services is not empty %}
    <b>Услуги:</b>
    {{ data.doc.services|join(', ') }}
{% endif %}
<div class='text-center'><small><a href='{{ path('package_edit', {'id': data.doc.id}) }}'>перейти к записи</a></small></div>

                            