{% extends 'MBHPackageBundle:Report:layout.html.twig' %}

{% set small_title = 'report.accommodation.placement'|trans({}, 'MBHPackageBundle') %}
{% set layout = 'box' %}

{% block content %}

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'accommodation-report-filter-widget'} %}
        <form id="accommodation-report-filter" class="form-inline filter-form remember" role="form">
            <div class="input">
                <i class="fa fa-calendar" title='{{ 'mbhpackagebundle.view.report.accommodation.daty'|trans }} ' data-toggle='tooltip'></i>&nbsp
                <input type="text" name="begin" id="accommodation-report-filter-begin" class="datepicker accommodation-report-filter begin-datepicker mbh-daterangepicker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('begin') is empty ? 'now'|date_modify("-5 days")|date('d.m.Y') : app.request.get('begin') }}">
            </div>
            <div class="input hidden">
                - &nbsp
                <input type="text" name="end" id="accommodation-report-filter-end" class="datepicker accommodation-report-filter end-datepicker mbh-daterangepicker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('end') is empty ? 'now'|date_modify("+40 days")|date('d.m.Y') : app.request.get('end') }}">
            </div>

            <div class="input">
                <i class="fa fa-bed"  title='{{ 'mbhpackagebundle.view.report.accommodation.tipnomera'|trans }} ' data-toggle='tooltip'></i>&nbsp  <select name="roomType" multiple data-placeholder="{{ 'mbhpackagebundle.view.report.accommodation.tipnomera'|trans }} " id="accommodation-report-filter-roomType" class="accommodation-report-filter form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if housings|length %}
                <div class="input">
                    <i class="fa fa-home" title='{{ 'mbhpackagebundle.view.report.accommodation.korpus'|trans }} ' data-toggle='tooltip'></i>&nbsp  <select name="housing" multiple data-placeholder="{{ 'mbhpackagebundle.view.report.accommodation.korpus'|trans }} " id="accommodation-report-filter-housing" class="accommodation-report-filter form-control input-sm">
                        <option></option>
                        {% for housing in housings %}
                            <option value="{{ housing.id }}" {% if housing in app.request.get('housings') and housings|length != app.request.get('housings')|length %}selected{% endif %}>{{ housing.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if floors|length %}
                <div class="input">
                    <i class="fa fa-home" title='{{ 'mbhpackagebundle.view.report.accommodation.etazh'|trans }} ' data-toggle='tooltip'></i>&nbsp  <select name="floor" multiple data-placeholder="{{ 'mbhpackagebundle.view.report.accommodation.etazh'|trans }} " id="accommodation-report-filter-floor" class="accommodation-report-filter form-control input-sm">
                        <option></option>
                        {% for floor in floors %}
                            <option value="{{ floor }}" {% if floor in app.request.get('floors') and floors|length != app.request.get('housings')|length %}selected{% endif %}>{{ floor }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% set clientConfig = client_config() %}
            {% if not clientConfig or not clientConfig.isInstantSearch %}
                <div class="input">
                    <button class="btn btn-primary" id="accommodation-report-submit-button">
                        <i class="fa fa-search"></i> {{ 'mbhpackagebundle.view.report.accommodation.nayti'|trans }} 
                    </button>
                </div>
            {% endif %}
        </form>
    </div></div>

    <div id="accommodation-report-content" class="scrolling"></div>

    <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
        <div class="container-fluid"><ul class="nav navbar-nav"></ul></div>
    </div>

{% endblock %}