<table class="table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid">
    <tbody>
    <tr>
        <td class="td-md-lg">Даты</td>
        {% for date in rangeDateList %}
            <td class="text-danger">{{ date|mbh_format }}</td>
        {% endfor %}
        <td>Итого</td>
    </tr>

    {% for roomType in roomTypes %}
        {% set tableData = (tableDataByRoomType[roomType.id] is defined ? tableDataByRoomType[roomType.id] : null) %}
        <tr class="mbh-grid-header1 info">
            <td colspan=" {{ rangeDateList|length + 2 }}  ">
                <strong>{{ roomType.fullTitle }}</strong>
            </td>
        </tr>

        <tr>
            <td class="td-md-lg">Номеров в продаже</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="content">
                    {{ packageDate.totalRooms|default(0) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    0
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Забронировано номеров</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="content">
                    {{ packageDate.packagesCount|default(0) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    0
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Забронировано номеров %</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="content">
                    {{ packageDate.packagesCountPercent|default(0) }} %
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    0
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Стоимость бронирования</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.packagePrice|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.packagePrice|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Стоимость услуг</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.servicePrice|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.servicePrice|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Стоимость</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.price|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.price|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Получено</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.paid|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.paid|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Получено %</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="content">
                    {{ packageDate.paidPercent|default(0)|number_format(2) }} %
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.paidPercent|default(0)|number_format(2) }} %
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Долг</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.debt|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.debt|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Макс. выручка</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.maxIncome|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.maxIncome|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Выручка от макс. %</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="content">
                    {{ packageDate.maxIncomePercent|default(0)|number_format(2) }} %
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.maxIncomePercent|default(0)|number_format(2) }} %
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Гостей</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.guests|default(0) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.guests|default(0) }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="td-md-lg">Гостей на номер</td>
            {% for date in rangeDateList %}
                {% set packageDate = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
                <td class="text-right">
                    {{ packageDate.roomGuests|default(0)|number_format(2) }}
                </td>
            {% endfor %}
            <td class="content-total">
                <strong>
                    {{ tableData.totals.roomGuests|default(0)|number_format(2) }}
                </strong>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>