<table id="filling-table" class="table table-bordered not-auto-datatable custom-mobile-style table-striped table-hover table-condensed mbh-grid">
    <tbody>
    {% for roomType in roomTypes %}
        <tr class="mbh-grid-header1 info">
            <td colspan=" {{ rangeDateList|length + 2 }}  ">
                <strong>{{ roomType.name }}</strong> -
                <small>
                    {% if client_config().useRoomTypeCategory() and roomType.category %}
                        {{ roomType.category }} -
                    {% endif %}
                    {{ 'report.filling.filling_table.number_of_places'|trans }}: {{ roomType.places }}{% if roomType.additionalPlaces > 0 %}(+{{ roomType.additionalPlaces }}){% endif %}
                    - {{ roomType.hotel }}
                </small>
            </td>
        </tr>

        <tr class="header">
            <td>{{ 'report.filling.filling_table.dates'|trans }}</td>
            {% for date in rangeDateList %}
                <td>{{ date|mbh_format }}</td>
            {% endfor %}
            <td>{{ 'report.filling.filling_table.total'|trans }}</td>
        </tr>

        {% set tableData = (tableDataByRoomType[roomType.id] is defined ? tableDataByRoomType[roomType.id] : null) %}
        {% include 'MBHPackageBundle:Report:fillingTableRows.html.twig' with {tableData: tableData } %}
    {% endfor %}

    {% if tableDataByRoomType|length > 1 %}
        <tr class="mbh-grid-header1 info">
            <td colspan=" {{ rangeDateList|length + 2 }}  ">
                <strong>{{ 'report.filling.filling_table.total'|trans }}</strong>
            </td>
        </tr>

        <tr class="header">
            <td>{{ 'report.filling.filling_table.dates'|trans }}</td>
            {% for date in rangeDateList %}
                <td>{{ date|mbh_format }}</td>
            {% endfor %}
            <td>{{ 'report.filling.filling_table.total'|trans }}</td>
        </tr>

        {% include 'MBHPackageBundle:Report:fillingTableRows.html.twig' with {tableData: totalTableData} %}
    {% endif %}
    </tbody>
</table>