<tr>
    <td>
        <small>{{ 'report.filling_table_rows.rooms_at_sale'|trans }}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.totalRooms|default(0)|number_format(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.totalRooms|default(0)|number_format(0) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'report.filling_table_rows.number_of_rooms'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.hotelRooms|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.hotelRooms|default(0) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'report.filling_table_rows.number_of_busy_rooms'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.packagesCount|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.packagesCount|default(0) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'report.filling_table_rows.balance_on_sale'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.totalRooms|default(0) - row.packagesCount|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.totalRooms|default(0) - tableData.totals.packagesCount|default(0) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'report.filling_table_rows.balanse_number_of_rooms'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.hotelRooms|default(0) - row.packagesCount|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.hotelRooms|default(0) - tableData.totals.packagesCount|default(0) }}
        </strong>
    </td>
</tr>

<tr>
    <td>
        <small>{{ 'report.filling_table_rows.reserved_rooms_from_room_fund'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.numberOfPackagesToRoomFundRelation|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.numberOfPackagesToRoomFundRelation|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>

<tr>
    <td>
        <small>{{ 'report.filling_table_rows.reserved_rooms'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.packagesCountPercent|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.packagesCountPercent|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>

<tr>
    <td>
        <small>{{ 'report.filling_table_rows.number_of_rooms_without_payment'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.notPaidRooms|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.uniqueNotPaidRooms }} ({{ tableData.totals.notPaidRooms|default(0) }})
        </strong>
    </td>
</tr>

<tr>
    <td>
        <small>{{ 'report.filling_table_rows.total_number_of_guests'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.guests|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.uniqueGuests|default(0) }} ({{ tableData.totals.guests|default(0) }})
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'report.filling_table_rows.guests_per_room'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.roomGuests|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.roomGuests|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>

<tr class="info">
    <td>
        <small>{{ 'report.filling_table_rows.cost_of_living'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.packagePrice|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.packagePrice|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="info">
    <td>
        <small>{{ 'report.filling_table_rows.average_price_for_room_night_realtion'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ (row.packagesCount != 0 ? (row.packagePrice|default(0) / row.packagesCount) : 0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ (tableData.totals.packagesCount != 0 ? (tableData.totals.packagePrice|default(0) / tableData.totals.packagesCount) : 0)|number_format(2) }}
        </strong>
    </td>
</tr>
{#<tr class="info">#}
    {#<td>#}
        {#<small>{{ 'report.filling_table_rows.cost_of_services'|trans}}</small>#}
    {#</td>#}
    {#{% for date in rangeDateList %}#}
        {#{% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}#}
        {#<td class="content">#}
            {#{{ row.servicePrice|default(0)|number_format(2) }}#}
        {#</td>#}
    {#{% endfor %}#}
    {#<td class="content-total">#}
        {#<strong>#}
            {#{{ tableData.totals.servicePrice|default(0)|number_format(2) }}#}
        {#</strong>#}
    {#</td>#}
{#</tr>#}

{% for categoryId, serviceDataByCategory in tableData.servicesData %}
<tr class="info">
    <td>
        <small>{{ serviceDataByCategory.category.name }}</small>
    </td>
    {% set serviceCategorySumsByDates = serviceDataByCategory.servicePricesByDates %}
    {% for date in rangeDateList %}
        {% set value = serviceCategorySumsByDates[date|date('d.m.Y')] is defined ? serviceCategorySumsByDates[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ value|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ totalServicesData[categoryId].sum|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
{% endfor %}

<tr class="info">
    <td>
        <small>{{ 'report.filling_table_rows.total_cost'|trans }}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.price|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.price|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="success">
    <td>
        <small>{{ 'report.filling_table_rows.received_in_fact'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.paid|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.paid|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="success">
    <td>
        <small>{{ 'report.filling_table_rows.received_in_fact_in_percents'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.paidPercent|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.paidPercent|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>
<tr class="danger">
    <td>
        <small>{{ 'report.filling_table_rows.debt'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.debt|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.debt|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="warning">
    <td>
        <small>{{ 'report.filling_table_rows.max_proceeds'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.maxIncome|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.maxIncome|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="warning">
    <td>
        <small>{{ 'report.filling_table_rows.current_cost_of_living_relative'|trans}}</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.maxIncomePercent|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.maxIncomePercent|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>