<tr>
    <td>
        <small>{{ 'mbhpackagebundle.view.report.fillingtablerows.nomerov.v.prodazhe'|trans }} </small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.totalRooms|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.totalRooms|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'mbhpackagebundle.view.report.fillingtablerows.nomernoy.fond'|trans }} </small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.hotelRooms|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.hotelRooms|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>{{ 'mbhpackagebundle.view.report.fillingtablerows.zabronirovano.nomerov'|trans }} </small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.packagesCount|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.packagesCount|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>Остаток (в продаже)</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.totalRooms|default(0) - row.packagesCount|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.totalRooms|default(0)|number_format(2) - tableData.totals.packagesCount|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>Остаток (номерной фонд)</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.hotelRooms|default(0) - row.packagesCount|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.hotelRooms|default(0)|number_format(2) - tableData.totals.packagesCount|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>Забронировано номеров %</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.packagesCountPercent|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.packagesCountPercent|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>

<tr>
    <td>
        <small>Номера без оплаты (брони)</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.notPaidRooms|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.uniqueNotPaidRooms }} ({{ tableData.totals.notPaidRooms|default(0)|number_format(2) }})
        </strong>
    </td>
</tr>

<tr>
    <td>
        <small>{{ 'mbhpackagebundle.view.report.fillingtablerows.gostey.vsego'|trans }} </small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.guests|default(0) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.uniqueGuests|default(0) }} ({{ tableData.totals.guests|default(0)|number_format(2) }})
        </strong>
    </td>
</tr>
<tr>
    <td>
        <small>Гостей на 1 номер</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.roomGuests|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.roomGuests|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>

<tr class="info">
    <td>
        <small>Стоимость проживания</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.packagePrice|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.packagePrice|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="info">
    <td>
        <small>Стоимость услуг</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.servicePrice|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.servicePrice|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="info">
    <td>
        <small>Общая стоимость</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.price|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.price|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="success">
    <td>
        <small>{{ 'mbhpackagebundle.view.report.fillingtablerows.polucheno.fakticheski'|trans }} </small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.paid|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.paid|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="success">
    <td>
        <small>Получено фактически %</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.paidPercent|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.paidPercent|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>
<tr class="danger">
    <td>
        <small>{{ 'mbhpackagebundle.view.report.fillingtablerows.dolg'|trans }} </small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.debt|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.debt|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="warning">
    <td>
        <small>Макс. возм. выручка за прож.</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.maxIncome|default(0)|number_format(2) }}
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.maxIncome|default(0)|number_format(2) }}
        </strong>
    </td>
</tr>
<tr class="warning">
    <td>
        <small>Тек. стоим. прожив. от макс. возм. %</small>
    </td>
    {% for date in rangeDateList %}
        {% set row = tableData.rows[date|date('d.m.Y')] is defined ? tableData.rows[date|date('d.m.Y')] : null %}
        <td class="content">
            {{ row.maxIncomePercent|default(0)|number_format(2) }} %
        </td>
    {% endfor %}
    <td class="content-total">
        <strong>
            {{ tableData.totals.maxIncomePercent|default(0)|number_format(2) }} %
        </strong>
    </td>
</tr>