{% extends 'MBHPackageBundle::layout.html.twig' %}

{% set title = 'menu.label.financial_analytics'|trans({}, 'MBHBaseBundle') %}
{% set small_title = 'views.report.packages_daily_report.title'|trans %}
{% set title_url = path('packages_daily_report') %}
{% set layout = 'box' %}

{% block content %}
    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'cash-filter-form-widget'} %}
        {% block content %}
            <form class="form-inline search-form filter-form remember" id="daily-report-filter-form" role="form">
                <div class="filter-form_input">
                    <i class="fa fa-money" title='{{ 'views.report.packages_daily_report.dates_input.title'|trans }}'
                       data-toggle='tooltip'></i>
                    <input type="text" id="daily-report-filter-begin"
                           class="datepicker daily-report-filter begin-datepicker mbh-daterangepicker  not-set-date form-control input-sm"
                           data-date-format="dd.mm.yyyy" value="{{ begin|date('d.m.Y') }}">
                </div>
                <div class="filter-form_input hidden">
                    <input type="text" id="daily-report-filter-end"
                           class="datepicker daily-report-filter end-datepicker mbh-daterangepicker  not-set-date form-control input-sm"
                           data-date-format="dd.mm.yyyy" value="{{ end|date('d.m.Y') }}">
                </div>
                <div class="filter-form_group-date">
                    <div class="filter-form_input">
                        <i class="fa fa-bed" title='{{ 'views.report.packages_daily_report.calculation_dates.title'|trans }}'
                           data-toggle='tooltip'></i>
                        <div class="filter-form_input-group">
                            <input type="text" id="daily-report-filter-calc-begin"
                                   class="datepicker begin-datepicker daily-report-filter form-control input-sm"
                                   data-date-format="dd.mm.yyyy" value="{{ calculationBegin|date('d.m.Y') }}">
                            <span class="filter-form_separator"></span>
                            <input type="text" id="daily-report-filter-calc-end"
                                   class="datepicker end-datepicker daily-report-filter form-control input-sm"
                                   data-date-format="dd.mm.yyyy" value="{{ calculationEnd|date('d.m.Y') }}">
                        </div>

                    </div>
                </div>
                <div class="filter-form_input">
                    <i class="fa fa-home" title='{{ 'views.report.packages_daily_report.hotels.title'|trans }}'
                       data-toggle='tooltip'></i>
                    <select multiple data-placeholder="{{ 'views.report.packages_daily_report.hotels.placeholder'|trans }}"
                            id="daily-report-filter-hotels" class="daily-report-filter form-control input-sm">
                        <option></option>
                        {% for hotel in hotels %}
                            <option value="{{ hotel.id }}"
                                    {% if hotel.id in app.request.get('hotels') and hotels|length != app.request.get('hotels')|length %}selected{% endif %}>{{ hotel.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-form_input">
                    <button type="button" id="daily-report-update-table-button" class="btn btn-primary">{{ 'views.report.packages_daily_report.update_button'|trans }}</button>
                </div>
            </form>
        {% endblock content %}
    {% endembed %}

    <div id="daily-report" class="scrolling" style="position:relative;"></div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% javascripts filter='uglifyjs2' '@MBHPackageBundle/Resources/public/js/report/daily_report.js' %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}