{% extends 'MBHPackageBundle::layout.html.twig' %}

{% set small_title = "report.packaging.title"|trans %}
{% set layout = "box" %}

{% block content %}
    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'analytics-filter-widget'} %}
    <form id="analytics-filter" method="post" class="form-inline remember" role="form">
        <div class="input">
            <i class="fa fa-calendar" title={{ 'report.packaging.dates.title'|trans }} data-toggle='tooltip'></i>&nbsp
            <input
                    value="{{ "now"|date('d.m.Y') }}" type="text"
                    name="begin"
                    id="analytics-filter-begin"
                    class="datepicker begin-datepicker analytics-filter form-control input-sm"
                    data-date-format="dd.mm.yyyy">
        </div>
        <div class="input">
            — &nbsp<input value="{{ "now"|date_modify("+1 month")|date('d.m.Y') }}" type="text"
                          id="analytics-filter-end"
                          class="datepicker end-datepicker analytics-filter form-control input-sm"
                          name="end"
                          data-date-format="dd.mm.yyyy">
        </div>
        <div class="input">
            <i class="fa fa-bed"
               title={{ 'analytics.index.room_type'|trans({}, 'MBHPackageBundle') }} data-toggle='tooltip'></i>&nbsp
            <select
                    data-placeholder={{ 'analytics.index.room_type'|trans({}, 'MBHPackageBundle') }} id="analytics-filter-roomType" multiple="multiple"
                    name="roomType[]"
                    class="analytics-filter form-control input-sm">
                <option></option>
                {% for roomType in roomTypes %}

                    {% if hotel is not defined or hotel.id != roomType.hotel.id %}
                        <optgroup label="{{ roomType.hotel }}">
                        <option value="allrooms_{{ roomType.hotel.id }}">{{ 'analytics.index.all_rooms'|trans({}, 'MBHPackageBundle') }}</option>
                        {% set hotel = roomType.hotel %}
                    {% endif %}

                    <option value="{{ roomType.id }}">{{ roomType.name }}</option>

                    {% if hotel is not defined or hotel.id != roomType.hotel.id %}</optgroup>{% endif %}

                {% endfor %}
            </select>
        </div>
        <div class="input">
            <button type="submit" class="btn btn-primary" id="accommodation-report-submit-button">
                <i class="fa fa-search"></i> {{ 'report.packaging.generate_report.button'|trans }}
            </button>
        </div>
    </form>
{% endblock %}

