{% extends "MBHPackageBundle::layout.html.twig" %}

{% set title = 'report.layout.title'|trans({}, 'MBHPackageBundle') %}
{% set small_title = 'report.poll.small_title'|trans({}, 'MBHPackageBundle') %}
{% set title_url = path('report_polls') %}
{% set layout = 'box' %}

{% block content %}

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'polls-report-filter-widget'} %}
        <form id="polls-report-filter" action="{{ path('report_polls' ) }}" class="form-inline filter-form" role="form">
            <div class="filter-form_group-date">
                <div class="filter-form_input">
                    <i class="fa fa-calendar" title='{{ 'report.polls'|trans}}' data-toggle='tooltip'></i>
                    <div class="filter-form_input">
                        <input type="text" name="begin" id="polls-report-filter-begin" class="datepicker polls-report-filter begin-datepicker not-set-date form-control" data-date-format="dd.mm.yyyy" value="{{ begin|date('d.m.Y')}}">
                        <span class="filter-form_separator"></span>
                        <input type="text" name="end" id="polls-report-filter-end" class="datepicker polls-report-filter end-datepicker not-set-date form-control" data-date-format="dd.mm.yyyy" value="{{ end|date('d.m.Y') }}">
                    </div>
                </div>
            </div>

            <div class="filter-form_input">
                <button class="btn btn-primary" type="submit">{{ 'views.report.polls.select_button.title'|trans({}, 'MBHPackageBundle')}}</button>
            </div>
        </form>
    </div></div>

    {% if  orders.categories is defined and  orders.categories|length > 0 and orders.orders is defined and  orders.orders|length > 0%}
        <table class="table table-striped table-hover table-condensed table-icons table-actions">
            <thead>
            <tr>
                <th class="td-xs"></th>
                <th class="td-sm text-center">{{ 'views.report.polls.th.order'|trans({}, 'MBHPackageBundle') }}</th>
                <th class="td-sm text-center">{{ 'views.report.polls.th.hotel'|trans({}, 'MBHPackageBundle') }}</th>
                {% for cat in orders.categories %}
                    <th class="text-center">{{ cat|trans({}, 'MBHPackageBundle')|capitalize }}</th>
                {% endfor %}
                <th class="td-sm"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders.orders %}
            <tr>
                <td class="text-center table-icon"><i class="fa fa-star"></i></td>
                <td class="text-center">
                    <a href="{{ path('report_polls_view', { 'id': order.order.id }) }}" rel="main" title='{{ 'views.report.polls.view_record'|trans({}, 'MBHPackageBundle') }}' data-toggle="tooltip">
                        {{ order.order.id }}
                    </a>
                </td>
                <td class="text-center table-icon">{{ order.order.firstHotel }}</td>
                {% for cat in orders.categories %}
                    <th class="text-center">{{ attribute(order, cat)|default('') }}</th>
                {% endfor %}
                <td class="table-actions-td text-center">
                    <a href="{{ path('report_polls_view', { 'id': order.order.id }) }}" class="btn btn-success btn-xs" title='{{ 'views.report.polls.view_record'|trans({}, 'MBHPackageBundle') }}' data-toggle="tooltip">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">{{ 'views.report.polls.not_found'|trans({}, 'MBHPackageBundle') }}</div>
    {% endif %}

{% endblock %}