{% if entity.isCheckIn and entity.accommodation %}{% set checkIn = true %}{% else %}{% set checkIn = false %}{% endif %}
{% if entity.isCheckOut and entity.accommodation %}{% set checkOut = true %}{% else %}{% set checkOut = false %}{% endif %}
<tr {% if (type == 'arrivals' and entity.isCheckIn) or type == ('out' and entity.isCheckOut) %}style="opacity: 0.4"{% endif %}
    class="{{ entity.roomStatus == 'open' ? 'default' : (entity.roomStatus == 'wait' ? 'info' : entity.order.paidStatus) }}">
    <td class="text-center">
        <span data-toggle='tooltip'
              title='{{ 'package.json.reservation_type'|trans({}, 'MBHPackageBundle') }}  {{ statuses[entity.order.status].title }}'>
            <i class='{{ statuses[entity.order.status].icon }}'></i>
        </span>
    </td>
    <td class="text-center">
        <a class='btn btn-sm {{ checkIn or checkOut ? 'check-button' }} {{ checkIn ? 'check-in-button' }} {{ checkOut ? 'check-out-button' }} {% if entity.deletedAt %}btn-danger{% else %}btn-success{% endif %}'
           href='{{ path('package_edit', {'id': entity.id}) }}' rel='main'
           title='{{ 'package.json.edit_record'|trans({}, 'MBHPackageBundle') }}'
           data-toggle='tooltip'>{% if checkIn or checkOut %}
            <span>{% endif %}{{ entity.numberWithPrefix }}{% if checkIn %}</span>{% endif %}
        </a>{% if entity.deletedAt %}<br>
        <small><i class='fa fa-trash-o'> </i> {{ 'package.json.deleted'|trans({}, 'MBHPackageBundle') }}
        </small>{% endif %}{% if entity.corrupted %}<br>
            <small><i
                    class='fa fa-exclamation-circle'> </i> {{ 'package.json.corrupted'|trans({}, 'MBHPackageBundle') }}
            </small>{% endif %}
    </td>
    <td class="text-center">
        <span class='{{ entity.order.deletedAt ? 'btn-danger' : '' }}'>{{ entity.order }}</span>{% if entity.order.deletedAt %}
    <br>
        <small><i class='fa fa-trash-o'> </i> {{ 'package.json.deleted_order'|trans({}, 'MBHPackageBundle') }}
        </small>{% endif %}
    </td>
    <td>
        {{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}<br>
        <small>{{ entity.nights }} {{ 'nights'|transchoice(entity.nights) }}</small>
    </td>
    <td>
        {{ entity.roomType.name }}<br>
        {% if not entity.roomType.hasSingleRoom %}
        <small><a data-toggle='tooltip' title='{{ "package.json.go_to_placement"|trans({}, "MBHPackageBundle") }}'
                  href='{{ path('package_accommodation', {'id': entity.id}) }}'
                  class='{{ entity.accommodation ? '' : 'danger' }}'>{% if entity.accommodation and entity.accommodation.roomType %}{{ entity.accommodation.name(entity.roomType.id == entity.accommodation.roomType.id ? false : true) }}{% else %}&lt;{{ "package.json.not_placed"|trans({}, "MBHPackageBundle") }}&gt;{% endif %}</a>
        </small>
        {% endif %}
    </td>
    <td>
        <a data-toggle='tooltip'
           href='{{ path('package_order_tourist_edit', {'id': entity.order.id, 'packageId': entity.id}) }}'
           title='{{ "package.json.go_to_payer"|trans({}, "MBHPackageBundle") }}'
           class='{{ entity.order.payer ? '' : 'danger' }}'>{% if entity.order.payer %}{{ entity.order.payer.shortName }}{% else %}&lt;{{ "package.json.no_payer"|trans({}, "MBHPackageBundle") }}&gt;{% endif %}</a>
        <small>
            <br>{% if entity.adults > 0 %}{{ entity.adults }} {{ 'report.porter_rows.number_of_adults'|trans}}{% endif %}{% if entity.adults > 0 and entity.children > 0 %}+{% endif %}{% if entity.children > 0 %}{{ entity.children }} {{ 'report.porter_rows.number_of_children'|trans}}{% endif %}
        </small>
    </td>
    <td class="text-right">
        <a data-toggle='tooltip' title='{{ "package.json.go_to_calculations"|trans({}, "MBHPackageBundle") }}'
           href='{{ path('package_order_cash', {'id': entity.order.id, 'packageId': entity.id}) }}'
           class='text {% if entity.order.isPaid %}text-success'
           {% elseif entity.order.paid > 0 %}text-warning'{% else %}text-danger'{% endif %}
        >{{ entity.price|number_format(2) }}</a><br>
        <small><i class='fa fa-sliders'> </i> {{ entity.tariff.name }}</small>
    </td>
    <td class="text-right">
        <a data-toggle='tooltip' title='{{ "package.json.go_to_calculations"|trans({}, "MBHPackageBundle") }}'
           href='{{ path('package_order_cash', {'id': entity.order.id, 'packageId': entity.id}) }}'
           class='text {% if entity.order.isPaid %}text-success'
           {% elseif entity.order.paid > 0 %}text-warning'{% else %}text-danger'{% endif %}
        >
        {% if entity.paidStatus == 'success' %}
            {% if entity.order.paid > entity.order.price %}
                {{ 'overpaid'|trans }}
            {% else %}
                {{ 'paid'|trans }}
            {% endif %}
        {% elseif entity.paidStatus == 'warning' or entity.paidStatus == 'danger' %}
            {{ 'debt'|trans }}
        {% endif %}
        </a>
        <br>
        <small>
            {{ (entity.debt * -1)|number_format(2) }}

        </small>
    </td>

    {% if type == 'arrivals' %}
        <td class="text-right">
            {% if entity.isCheckIn %}
                {{ entity.arrivalTime|mbh_format }} {{ entity.arrivalTime|date('H:i') }}<br>
                <small>&nbsp;{{ 'report.porter_rows.arrived'|trans}}</small>
            {% else %}
                {{ entity.begin|mbh_format }}
            {% endif %}
        </td>
    {% else %}{#if type == 'out'#}
        <td class="text-right">
            {% if entity.isCheckOut %}
                {{ entity.departureTime|mbh_format }} {{ entity.arrivalTime|date('H:i') }}<br>
                <small>&nbsp;{{ 'report.porter_rows.departured'|trans}}</small>
            {% else %}
                {{ entity.end|mbh_format }}<br>
            {% endif %}
        </td>
    {% endif %}
    {% set note = entity.order.note ~ " " ~ entity.note %}
    <td>
        <small>{{ note|truncate(80)|nl2br }}</small>
    </td>
</tr>