<div class="text-center bg-gray color-palette alert package-summary">
    <span class="package-summary-row">
        <b>{{ 'report.porter_summary.number_of_packages'|trans}}:</b><span> {{ summary.total }}</span>
    </span>
    <span class="package-summary-row">
        <b>{{ 'report.porter_summary.number_of_nights'|trans}}:</b><span> {{ summary.nights }}</span>
    </span>
    <span class="package-summary-row">
        <b>{{ 'report.porter_summary.number_of_guests'|trans}}:</b><span> {{ summary.guests }}</span>
    </span>
    <span class="package-summary-row">
        <b>{{ 'report.porter_summary.sum'|trans}}:</b><span> {{ summary.price|number_format(2) }}</span>
    </span>
    <span class="package-summary-row">
        <b>{{ 'report.porter_summary.payed'|trans}}:</b><span> {{ summary.paid|number_format(2) }}</span>
    </span>
    <span class="package-summary-row">
        <b>{{ 'report.porter_summary.debt'|trans}}:</b><span> {{ summary.debt|number_format(2) }}</span>
    </span>
</div>