{% if error is defined %}
    <div class="alert alert-warning">
        <i class="fa fa-exclamation-circle"> </i> {{ 'report.porter.error'|trans({}, 'MBHPackageBundle') }}
    </div>
{% else %}

    <div class="box box-default box-solid">
        <div class="box-header with-border box-header_when-mobile">
            <h3 class="box-title">
                {{ ('report.porter.' ~ type ~ '.table')|trans({}, 'MBHPackageBundle') }}
                ({{ begin|mbh_format }}- {{ end|mbh_format }})
            </h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            {% if packages|length %}
            <table class="table package-table table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th class="td-xxs"></th>
                    <th class="td-xs">#</th>
                    <th class="td-xs">{{ 'package.index.order'|trans({}, 'MBHPackageBundle') }}</th>
                    <th class="td-md">{{ 'package.index.dates'|trans({}, 'MBHPackageBundle') }}</th>
                    <th>{{ 'package.index.placement'|trans({}, 'MBHPackageBundle') }}</th>
                    <th class="td-md">{{ 'package.index.guests'|trans({}, 'MBHPackageBundle') }}</th>
                    <th class="td-md text-right">{{ 'package.index.price'|trans({}, 'MBHPackageBundle') }}</th>
                    <th class="td-md text-right">{{ 'report.porter.live.debt'|trans({}, 'MBHPackageBundle') }}</th>
                    <th class="td-md text-right">
                        {% if type == 'arrivals' %}
                            {{ 'report.porter.live.arrival'|trans({}, 'MBHPackageBundle') }}
                        {% else %}
                            {{ 'report.porter.live.departure'|trans({}, 'MBHPackageBundle') }}
                        {% endif %}
                    </th>
                    <th class="td-md text-right">{{ 'report.porter.note'|trans({}, 'MBHPackageBundle') }}</th>
                </tr>
                </thead>
                <tbody>
                {% include 'MBHPackageBundle:Report:porterBody.html.twig' with {'entities': packages, 'type': type, 'statuses': statuses} %}


                {% else %}
                    <p>{{ 'report.porter.arrivals.empty'|trans({}, 'MBHPackageBundle') }}</p>
                {% endif %}
        </div>
    </div>

{% endif %}