{% if roomTypes|length <= 0 %}
<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ "report.roomsTable.no_room_types"|trans({}, "MBHPackageBundle") }}
</div>
{% else %}

<div id="rooms-report-table-row">
    <div class="cols arrow arrow-previous"><a href="#"
                                              data-begin="{{ begin|date_modify('-1 month')|date('d.m.Y') }}"><i
                    class="fa fa-caret-left fa-4x"></i></a></div>
    <div class="cols table-div">

        <table id="rooms-report-table"
               class="table table-bordered not-auto-datatable table-striped table-hover table-condensed">

            <!-- table head -->
            <thead>
            <tr>
                <th class="month-th"></th>

                {% set i = 1 %}
                {% for day in period %}
                    {% if day|date('n') != day|date_modify('+1 day')|date('n') or loop.last %}
                        <th class="text-center month-th"
                            colspan="{{ i }}">{% if i >= 5 %}{{ months[day|date('n')] }}, {{ day|date('Y') }}{% endif %}</th>
                        {% set i = 0 %}
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center">{{ "report.roomsTable.room"|trans({}, "MBHPackageBundle") }}</th>

                {% for day in period %}
                    <th class="text-center date-th {% if day == begin %}text-warning{% elseif day|date('N') >= 6 %}text-danger{% endif %}">{{ day|date('j') }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <!-- table content -->

            {% if selectedRoomType is null %}
                {% include 'MBHPackageBundle:Report:roomsCells.html.twig' with {'period': period, 'title': "report.roomsTable.whole_hotel"|trans({}, "MBHPackageBundle") , 'roomsInfo': roomsInfo, 'roomType': null, 'tariff': tariff} %}
            {% endif %}

            {% for roomType in roomTypes %}
                {% include 'MBHPackageBundle:Report:roomsCells.html.twig' with {'period': period, 'title': roomType.name, 'roomsInfo': roomsInfo, 'roomType': roomType, 'tariff': tariff} %}
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="cols arrow arrow-next text-right"><a href="#"
                                                     data-begin="{{ begin|date_modify('+1 month')|date('d.m.Y') }}"><i
                    class="fa fa-caret-right fa-4x"></i></a></div>
</div>
{% endif %}