{% extends "MBHPackageBundle:Report:layout.html.twig" %}

{% set title = 'menu.label.portie'|trans({}, 'MBHBaseBundle') %}
{% set small_title = 'menu.label.navigation'|trans({}, 'MBHBaseBundle') %}
{% set title_url = path('report_room_types') %}
{% set layout = 'box' %}

{% block content %}

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {id: 'room-type-table-filter-widget'} %}
        <form id="room-types-table-filter" class="form-inline filter-form icon-label-form">
            <div class="filter-form_input">
                <i class="fa fa-bed" title='{{ 'report.room_types.room_type_filter.title'|trans }}' data-toggle='tooltip'></i>
                <select name="roomType" data-placeholder="{{ 'report.room_types.room_type_filter.title'|trans }}" id="accommodation-report-filter-roomType" class="form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if housings %}
                <div class="filter-form_input">
                    <i class="fa fa-home" title='{{ 'report.room_types.housing_filter.title'|trans }}' data-toggle='tooltip'></i>
                    <select name="housing" data-placeholder="{{ 'report.room_types.housing_filter.title'|trans }}" id="accommodation-report-filter-housing" class="form-control input-sm">
                        <option></option>
                        {% for housing in housings %}
                            <option value="{{ housing.id }}" {% if housing.id in app.request.get('housing') and housing|length != app.request.get('housing')|length %}selected{% endif %}>{{ housing.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if floors %}
                <div class="filter-form_input">
                    <i class="fa fa-building" title='{{ 'report.room_types.floor_filter.title'|trans }}' data-toggle='tooltip'></i>
                    <select name="floor" data-placeholder="{{ 'report.room_types.floor_filter.title'|trans }}" id="accommodation-report-filter-floor" class="form-control input-sm" style="width: 75px">
                        <option></option>
                        {% for floor in floors %}
                            <option value="{{ floor }}" {% if floor in app.request.get('floor') and floor|length != app.request.get('floor')|length %}selected{% endif %}>{{ floor }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="filter-form_input">
                <i class="{{ currency().icon }}" title='{{ 'report.room_types.payment_status_filter.title'|trans }}' data-toggle='tooltip'></i>
                <select name="status" data-placeholder="{{ 'report.room_types.payment_status_filter.title'|trans }}" id="accommodation-report-filter-status" class="form-control input-sm">
                    <option></option>
                    {% for status in statuses %}
                        <option value="{{ status }}" {% if status == app.request.get('status') and floor|length != app.request.get('status')|length %}selected{% endif %}>{{ ('report.roomType.statuses.' ~ status)|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            {# После добавления даты, необходимо учитывать статус плательщика (Заехал/Не заехал и т.п.) #}
            {#<div class="form-group">#}
                {#<label>#}
                    {#<i class="fa fa-calendar"#}
                       {#title='{{ 'package.index.dates'|trans }}'#}
                       {#data-toggle='tooltip'></i>#}
                {#</label>#}
                {#<input type="text"#}
                       {#id="accommodation-report-filter-date"#}
                       {#name="date"#}
                       {#class="datepicker form-control input-sm"#}
                       {#data-date-format="dd.mm.yyyy"#}
                       {#value="{{ date()|date('d.m.Y') }}">#}
            {#</div>#}
        </form>
    </div></div>

    <div id="room-types-table">
        {% include 'MBHPackageBundle:Report:roomTypesTable.html.twig' with {
            roomTypes: roomTypes,
            facilities: facilities
        } %}
    </div>

    <div class="modal fade fade bs-example-modal-sm" tabindex="-1" role="dialog" id="package-info-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
{% endblock %}