{% if roomType %}{% set id = roomType.id %}{% else %}{% set id = 'all' %}{% endif %}
<tr>
    <td class="text-center" colspan="37">
        <small><strong>{{ title }} {% if tariff %}({{ tariff }}){% endif %}</strong></small>
    </td>
</tr>
<tr>
    <td class="text-center">
        <small><strong><i data-toggle="tooltip" title="{{ "report.roomsCells.rooms_amount"|trans({}, "MBHPackageBundle") }}" class="fa fa-home"></i></strong></small>
    </td>
    {% for date in period %}
        <td class="text-center cell {% if date == begin %}chosen{% elseif date|date('N') >= 6 %}weekend{% endif %}">
            <small>{{ roomsInfo[id][date|date('d.m.Y')].all }}</small>
        </td>
    {% endfor %}
</tr>
<tr>
    <td class="text-center">
        <small><strong><i data-toggle="tooltip" title="{{ "report.roomsCells.occupied_rooms_amount"|trans({}, "MBHPackageBundle") }}" class="fa fa-home text-success"></i></strong></small>
    </td>
    {% for date in period %}
        <td class="text-center cell {% if date == begin %}chosen{% elseif date|date('N') >= 6 %}weekend{% endif %}">
            <small class="text-success">{{ roomsInfo[id][date|date('d.m.Y')].occupied }}</small>
        </td>
    {% endfor %}
</tr>
<tr>
    <td class="text-center">
        <small><strong><i data-toggle="tooltip" title="{{ "report.roomsCells.empty_rooms_amount"|trans({}, "MBHPackageBundle") }}" class="fa fa-home text-danger"></i></strong></small>
    </td>
    {% for date in period %}
        <td data-date="{{ date|date('d.m.Y') }}" data-roomType="{{ id }}" class="text-center black cell cell-empty {% if date == begin %}chosen{% elseif date|date('N') >= 6 %}weekend{% endif %}">
            <small data-toggle="tooltip" title="{{ "report.roomsCells.select_check_in_date_for_reservation"|trans({}, "MBHPackageBundle") }}">{{ roomsInfo[id][date|date('d.m.Y')].free }}</small>
        </td>
    {% endfor %}
</tr>