<table class="table table-bordered not-auto-datatable table-hover table-condensed mbh-grid">
    <thead>
    <tr>
        <th class="td-sm">#</th>
        <th>Корпус</th>
        <th class="td-xs">Этаж</th>
        <th class="td-xs">
            <i class="fa fa-bed"></i>
        </th>
        <th>Плательщик</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    {% for data in dataTable %}
        {% set roomType = data.roomType %}
        <tr class="info">
            <td colspan="6">
                <strong>{{ roomType.title }}</strong>&nbsp;
                <small>места: {{ roomType.places }} + доп. места: {{ roomType.additionalPlaces }}</small>&nbsp;
                <small>
                    {% for facility in roomType.facilities %}
                        <i style="margin-left: 3px" data-toggle="tooltip" data-original-title="{{ facilities[facility] }}" class="fa fa-lg mbf-{{ facility }}"></i>
                    {% endfor %}
                </small>
            </td>
        </tr>
        {% for room in data.rooms %}
            {% set package = packages[room.id] is defined ? packages[room.id] : null %}
            {% set style = '' %}

            {% if package and package.order %}
                {% if package.isCheckIn %}
                    {% set style = 'info' %}
                {% elseif package.order.isPaid and  package.order.price <= package.order.paid %}
                    {% set style = 'success' %}
                {% elseif package.order.isPaid == false and package.order.paid == 0 %}
                    {% set style = 'warning' %}
                {% elseif package.order.isPaid == false and  package.order.paid < package.order.price %}
                    {% set style = 'danger' %}
                {% endif %}
            {% endif %}

            <tr class="{{ style }}">
                <td class="text-center">
                    <a target="_blank" href="{{ path('room_edit', {id: room.id}) }}">{{ room.name }}</a>
                    {{ room.status ? room.status.code : '' }}
                </td>
                <td>
                    {{ room.housing }}
                </td>
                <td>
                    {{ room.floor }}
                </td>
                <td>
                    <span class="label {% if room.facilities is not empty %}label-warning{% else %}label-default{% endif %}">
                        <i class="fa fa-bed"
                           style="cursor: pointer;"
                           data-html="true"
                           data-container="body"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="{% for facility in (room.facilities is not empty ? room.facilities : room.allFacilities) %}<i style='margin-left: 3px' data-toggle='tooltip' data-original-title='{{ facilities[facility] }}' class='fa fa-lg mbf-{{ facility }}'></i>{% endfor %}"
                        ></i>
                    </span>
                </td>
                <td>
                    <div>{{ package and package.mainTourist ? package.mainTourist|initial : '' }}</div>
                    <small>{{ package and package.mainTourist ? package.mainTourist.citizenship  : '' }}</small>
                </td>
                <td>
                    {% set style = 'default' %}
                    {% set status = 'open' %}

                    {% if package and package.order %}
                        {% if package.order.isPaid and  package.order.price <= package.order.paid %}
                            {% set style = 'success' %}
                        {% elseif package.order.isPaid == false and package.order.paid == 0 %}
                            {% set style = 'warning' %}
                        {% elseif package.order.isPaid == false and  package.order.paid < package.order.price %}
                            {% set style = 'danger' %}
                        {% endif %}

                        {% set status = statusesResolver.getStatusByPackage(package) %}
                    {% endif %}

                    <a data-id="{% if package %}{{ package.id }}{% endif %}"
                       {% if status == 'open' %}
                           target="_blank"
                       {% endif %}
                       href="{% if status == 'open' %}
                            {{ path('package_search') ~ '#' ~ {
                           's':
                               {
                                   'begin' : 'today'|date('d.m.Y'),
                                   'end' : 'tomorrow'|date('d.m.Y'),
                                   'roomType': (room.roomType ? [room.roomType.id] : null)
                               }
                           }|url_encode }}
                        {% else %}
                            #
                        {% endif %}
                        " class="btn btn-xs btn-{{ style }}"
                       {%  if status != 'open' %}
                           style="cursor: pointer;"
                           data-html="true"
                           data-container="body"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="
                           <b>Заказ:</b> #12 {% if package.isPaid %}
                                <small class='text-success'><i class='fa fa-check'></i> {{ 'order.edit.paid'|trans({}, 'MBHPackageBundle') }}</small> {% else %}
                                <small class='text-danger'><i class='fa fa-times'></i> {{ 'order.edit.not_paid'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}</small><br>
                            <b>Даты:</b> {{ package.begin|date('d.m.Y') }} - {{ package.end|date('d.m.Y') }}<br>
                            <b>Заехали:</b> {{ package.isCheckIn ? 'да' : 'нет' }}<br>
                            <b>Выехали:</b> {{ package.isCheckOut ? 'да' : 'нет' }}<br>
                            <b>Гости:</b> {{ package.adults }}+{{ package.children }}<br>
                            <b>Стоимость:</b> {{ package.order.price }} {{ currency().text }}<br>
                            <b>Долг:</b> {{ package.order.debt }} {{ currency().text }}<br>
                            {% if package.services is not empty %}
                                <b>Услуги:</b>
                                {{ package.services|join(', ') }}
                            {% endif %}
                            <div class='text-center'><small><a target='_blanck' href='{{ path('package_edit', {'id': package.id}) }}'>перейти к записи</a></small></div>
                           "
                       {% endif %}
                            >
                        {{ ('report.roomType.statuses.' ~ status)|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>