{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "шахматка" %}

{% block content %}

    {% include 'MBHPackageBundle:Package:listTabs.html.twig' with {'active': 2 } %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="well">
                <form id="rooms-report-filter" class="form-inline" role="form">
                    <div class="input">
                        <i class="fa fa-calendar" title='{{ "report.room.dates"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'></i>&nbsp <input value="{{ "now"|date('d.m.Y') }}" type="text" id="rooms-report-filter-begin" class="datepicker rooms-report-filter form-control input-sm" data-date-format="dd.mm.yyyy">
                    </div>
                    <div class="input">
                        <i class="fa fa-home" title='{{ "report.room.room_type"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'></i>&nbsp  <select data-placeholder="{{ "report.room.room_type"|trans({}, "MBHPackageBundle") }}" id="rooms-report-filter-roomType" class="rooms-report-filter form-control input-sm">
                            <option></option>
                            {% for roomType in roomTypes %}
                                <option value="{{ roomType.id }}">{{ roomType.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input">
                        <i class="fa fa-sliders" title='Тариф' data-toggle='tooltip'></i>&nbsp  <select data-placeholder="Тариф" id="rooms-report-filter-tariff" class="rooms-report-filter form-control input-sm">
                            <option></option>
                            {% for tariff in tariffs %}
                                <option value="{{ tariff.id }}">{{ tariff.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>

            <div id="rooms-report-content" class="center-block"></div>

        </div>
    </div>

{% endblock %}