{% extends 'MBHPackageBundle::layout.html.twig' %}

{% set small_title = 'sales_channels_report.title'|trans %}
{% set layout = 'box' %}

{% block content %}
    <input id="default-begin-date" type="hidden" value="{{ filter_begin_date()|date('d.m.Y') }}">
    <input id="default-end-date" type="hidden" value="{{ filter_begin_date()|date_modify('+45 days')|date('d.m.Y') }}">
    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'sales-channels-form-widget'} %}
        {% block content %}
            <form class="form-inline filter-form remember" id="sales-channels-report-filter-form" role="form">
                <div class="input">
                    <i class="fa fa-calendar" title='{{ 'sales_channels_report.dates.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp
                    <input type="text" id="sales-channels-report-filter-begin"
                           class="datepicker begin-datepicker mbh-daterangepicker  form-control input-sm"
                           data-date-format="dd.mm.yyyy">
                </div>
                <div class="input hidden">
                    - &nbsp
                    <input type="text" id="sales-channels-report-filter-end"
                           class="datepicker end-datepicker mbh-daterangepicker form-control input-sm"
                           data-date-format="dd.mm.yyyy">
                </div>
                <div class="input">
                    <i class="fa fa-paper-plane" title='{{ 'sales_channels_report.package_type.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp
                    <select multiple id="sales-channels-report-filter-package-type" class="form-control input-sm">
                        <option></option>
                        {% for key, status in statuses %}
                            <option value="{{ key }}" data-class="{{ status.class }}"
                                    data-icon="{{ status.icon }}">{{ status.title|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input">
                    <i class="fa fa-compass" title='{{ 'sales_channels_report.package_source.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp
                    <select multiple id="sales-channels-report-filter-hotels" class="form-control input-sm">
                        <option></option>
                        {% for source in sources %}
                            <option value="{{ source.id }}">{{ source.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input">
                    <i class="fa fa-bed" title='{{ 'sales_channels_report.room_type.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp
                    <select multiple
                            id="sales-channels-report-filter-hotels" class="form-control input-sm">
                        <option></option>
                        {% for roomType in roomTypes %}
                            <option value="{{ roomType.id }}">{{ roomType.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input">
                    <i class="fa fa-home" title='{{ 'views.report.packages_daily_report.hotels.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp
                    <select multiple
                            data-placeholder="{{ 'views.report.packages_daily_report.hotels.placeholder'|trans }}"
                            id="sales-channels-report-filter-hotels" class="form-control input-sm">
                        <option></option>
                        {% for hotel in hotels %}
                            <option value="{{ hotel.id }}"
                                    {% if hotel.id in app.request.get('hotels') and hotels|length != app.request.get('hotels')|length %}selected{% endif %}>{{ hotel.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input">
                    <button type="button" id="sales-channels-report-update-table-button" class="btn btn-primary">{{ 'views.report.polls.select_button.title'|trans({}, 'MBHPackageBundle')}}</button>
                </div>
            </form>
        {% endblock content %}
    {% endembed %}

    <div id="sales-channels-report-table" class="scrolling" style="position:relative;"></div>
{% endblock %}
