{% if error is defined and error is not empty %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}

    {% if notVirtualRooms is defined and notVirtualRooms is not empty %}
        <div class="text-left margin-bottom descr">
            <small>{{ 'package.window.not.virtual.room'|trans({}, "MBHPackageBundle") }}:
                {% for notVirtualRoom in notVirtualRooms %}
                    <a href="{{ path('package_edit',{'id': notVirtualRoom.id }) }}">{{ notVirtualRoom.numberWithPrefix }}</a> &nbsp;
                {% endfor %}
            </small>
            <div id="expand-window"
                 class="hidden">{{ 'package.window.not.virtual.room.expand'|trans({}, "MBHPackageBundle") }}</div>
            <div id="turn-window"
                 class="hidden">{{ 'package.window.not.virtual.room.turn'|trans({}, "MBHPackageBundle") }}</div>
        </div>
    {% endif %}
    {% for roomType in data.roomTypes %}
        <div class="bg-gray color-palette mbh-graph-header">
            <i class="fa fa-bed" style="color:{{ roomType.color }};"></i>
            {{ roomType }}
        </div>
        <div class="mbh-graph-wrapper">
            <table class="table-hover mbh-report-table">
                <thead>
                <tr class="vertical-scrollable">
                    <th class="mbh-graph-date-th" style="width: 180px !important;">#</th>
                    {% for date in data.dates %}
                        <th class="mbh-graph-date-th">
                            <span class="{{ date|date('N') in [6,7] ? 'text-red' }} {{ date|date('d.m.Y') == 'now'|date('d.m.Y') ? 'text-yellow' }} ">{{ date|date('d.m') }}</span>
                            <div class="text-muted">
                                {{ date|date('Y') == 'now'|date('Y') ? weekdays[date|date('N')]|lower : date|date('Y') }}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set rooms = data.rooms(roomType) %}
                {% for room in rooms %}
                    <tr data-roomtypeid="{{ roomType.id }}">
                        <td class="text-center text-muted mbh-graph-cell">
                            <small>{{ room }}</small>
                        </td>
                        {% for date in data.dates %}
                            {% set info = data.getInfo(date, room) %}
                            {% set specials = data.specialInDate(date, room) %}
                            <td style="width:100% ;height:26px;" data-date="{{ date|date('d.m') }}"

                                data-fulldate="{{ date|date('d.m.Y') }}"
                                data-class="{{ date|date('N') in [6,7] ? 'text-red' }} {{ date|date('d.m.Y') == 'now'|date('d.m.Y') ? 'text-yellow' }} "
                                data-room="{{ room }}"
                                data-roomid="{{ room.id }}"
                                class="mbh-graph-cell mbh-graph-cell-padding {{ info?'':'window ' }}{% if not room.enabled %}mbh-graph-cell-danger{% endif %} mbh-td-relative {{ specials?'specials':'' }} mbh-report-value">
                                {% if info %}
                                    {% for entry in info %}
                                        <a style="display: block; height: 100%; z-index:5; position: relative;"
                                           href="{{ path('package_edit', {'id': entry.package.id}) }}"
                                           class="windows-package-info-link bg-green {{ entry.begin ? 'pull-right window-end' }} {{ entry.end ? 'pull-left window-begin' }} {{ not entry.regular ? 'mbh-graph-div' }}"
                                           data-placement="top" data-html="true" data-toggle="tooltip"
                                           data-id="{{ entry.package.id }}" title="{{ entry.tooltip }}">
                                        </a>
                                    {% endfor %}
                                {% endif %}
                                {% if specials is not empty %}
                                    {% for special in specials %}
                                        <div title="{{ special.fullTitle }}" data-toggle="tooltip"
                                             class="special-hidden special-cell {{ special.begin == date?'special-cell-begin':'' }} {{ special.end == date?'special-cell-end':'' }}"
                                             data-name="{{ special.name }}"
                                             data-special="{{ special.id }}">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% set stat = data.stat[roomType.id] %}
                {% for statName, statDays in stat %}
                    {% set danger = data.checkStatDanger(roomType.id, statName) %}
                    <tr class="{{ danger?'bg-gray color-palette':cycle(['info', 'success', 'warning' ], loop.index0) }}">
                        <td class="text-center text-muted mbh-graph-cell">
                            <small>{{ statName|trans({}, "MBHPackageBundle") }}</small>
                        </td>
                        {% for statValue in statDays %}
                            <td class="text-center text-muted mbh-graph-cell {{ danger and statValue?'text-red' }}">
                                <small>{{ statValue }}</small>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    {% if data.roomTypes|length > 1 %}
        <div class="bg-gray color-palette mbh-graph-header">
            {{ 'package.windows_table.total'|trans({}, 'MBHPackageBundle') }}
        </div>
        <div class="mbh-graph-wrapper">
        <table class="table-hover">
        <thead>
        <tr>
            <th class="mbh-graph-date-th" style="width: 180px !important;"></th>
            {% for date in data.dates %}
                <th class="mbh-graph-date-th">
                    <span class="{{ date|date('N') in [6,7] ? 'text-red' }} {{ date|date('d.m.Y') == 'now'|date('d.m.Y') ? 'text-yellow' }} ">{{ date|date('d.m') }}</span>
                    <div class="text-muted">
                        {{ date|date('Y') == 'now'|date('Y') ? weekdays[date|date('N')]|lower : date|date('Y') }}
                    </div>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for option in data.options %}
            <tr>
                <td class="text-center text-muted mbh-graph-cell">
                    <small>{{ option|trans({}, "MBHPackageBundle") }}</small>
                </td>
                {% for date in data.dates %}
                    <td class="text-center text-muted mbh-graph-cell">
                        <small>{{ data.getTotalValue(option, date) }}</small>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
{% endif %}