{% if error is defined and error is not empty %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}

    {% for roomType in data.roomTypes %}
        <div class="bg-gray color-palette mbh-graph-header">
            <i class="fa fa-bed" style="color:{{ roomType.color }};"></i>
            {{ roomType }}
        </div>
        <div class="mbh-graph-wrapper">
            <table class="table-hover">
                <thead>
                <tr>
                    <th class="mbh-graph-date-th">#</th>
                    {% for date in data.dates %}
                        <th class="mbh-graph-date-th">
                            <span class="{{ date|date('N') in [6,7] ? 'text-red' }} {{ date|date('d.m.Y') == 'now'|date('d.m.Y') ? 'text-yellow' }} ">{{ date|date('d.m') }}</span>
                            <div class="text-muted">
                                {{ date|date('Y') == 'now'|date('Y') ? weekdays[date|date('N')]|lower : date|date('Y') }}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% set rooms = data.rooms(roomType) %}
                {% for room in rooms %}
                    <tr>
                        <td class="text-center text-muted mbh-graph-cell"><small>{{ room }}</small></td>
                        {% for date in data.dates %}
                            {% set info = data.getInfo(date, room) %}

                            <td class="mbh-graph-cell mbh-graph-cell-padding {% if data.max(date, roomType) and rooms|length - data.max(date, roomType) >= loop.parent.loop.index %}mbh-graph-cell-danger{% endif %}">
                            {% if info %}
                                {% for entry in info %}
                                    <a style="display: block;" href="{{ path('package_edit', {'id': entry.package.id}) }}" target="_blank" class="windows-package-info-link bg-green {{ entry.begin ? 'pull-right' }} {{ entry.end ? 'pull-left' }} {{ not entry.regular ? 'mbh-graph-div' }}"
                                         data-toggle="tooltip" data-placement="top" data-html="true" data-id="{{ entry.package.id }}" title="{{ entry.tooltip }}">
                                        &nbsp;
                                    </a>
                                {% endfor %}
                            {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endif %}