{% if workShifts %}
    <table class="table table-strip" id="work-shift-list-table">
        <thead>
        <tr>
            <th class="td-xs">#</th>
            <th class="td-md text-center">{{ 'mbhpackagebundle.view.report.workshiftlist.daty'|trans }} </th>
            <th class="td-sm">{{ 'mbhpackagebundle.view.report.workshiftlist.sotrudnik'|trans }} </th>
            <th class="td-xs">{{ 'mbhpackagebundle.view.report.workshiftlist.gosti'|trans }} </th>
            <th class="td-md">{{ 'mbhpackagebundle.view.report.workshiftlist.kassa'|trans }} </th>
            <th class="td-sm">{{ 'mbhpackagebundle.view.report.workshiftlist.status'|trans }} </th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for workShift in workShifts %}
            <tr
                data-id="{{ workShift.id }}"
                data-electronicCashIncomeTotal="{{ workShift.electronicCashIncomeTotal }}"
                data-detail-header="Рабочая смена {{ workShift.begin|mbh_format }} {{ workShift.begin|date('H:i') }} {% if workShift.end %} - {{ workShift.end|mbh_format }} {{ workShift.end|date('H:i') }}{% endif %}"
            class="{% if  workShift.status == 'locked' %}info{% elseif workShift.status == 'closed' %}danger{% endif %}">
                <td>{{ workShift.id }}</td>
                <td class="text-center">
                    {{ workShift.begin|mbh_format }} {{ workShift.begin|date('H:i') }}
                    —
                    {% if workShift.end %}
                        {{ workShift.end|mbh_format }} {{ workShift.end|date('H:i') }}
                        <br>
                        <small>{{ workShift.duration.format('%h ч. %i мин.') }}</small>
                    {% else %}
                        в процессе
                    {% endif %}
                </td>
                <td>
                    {{ workShift.createdBy }}
                </td>
                <td>
                    <small>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.na.nachalo.smeny'|trans }} : {{ workShift.beginGuestTotal }}<br>
                    {% if workShift.status != 'open' %}
                        {{ 'mbhpackagebundle.view.report.workshiftlist.na.konets.smeny'|trans }} : {{ workShift.endGuestTotal }}<br>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.zayekhavshikh'|trans }} : {{ workShift.arrivalTouristTotal }}<br>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.ne.zayekhavshikh'|trans }} : {{ workShift.noArrivalTouristTotal }}<br>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.vyyekhavshikh'|trans }} : {{ workShift.departureTouristTotal }}<br>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.ne.vyyekhavshikh'|trans }} : {{ workShift.noDepartureTouristTotal }}
                    {% endif %}
                    </small>
                </td>
                <td>
                {% if workShift.status != 'open' %}
                    <small>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.prinyato'|trans }} : {{ workShift.cashIncomeTotal }}<br>
                        {{ 'mbhpackagebundle.view.report.workshiftlist.vydano'|trans }} : {{ workShift.cashExpenseTotal }}<br>
                        Разнесено б/н: {{ workShift.electronicCashIncomeTotal }}
                    </small>
                {% endif %}
                </td>
                <td>
                    {{ ('workShift.statuses.' ~ workShift.status)|trans }}
                    {% if workShift.status == 'closed' and workShift.closedBy %}
                        <br><small>{{ workShift.closedBy.name }}</small>
                    {% endif %}
                </td>
                <th class="td-md" style="vertical-align: middle">
                    {% if workShift.status == 'locked' and is_granted('ROLE_WORK_SHIFT_CLOSE') %}
                        <a href="#" title="Подтвердить" class="btn btn-info work-shift-confirm"><i class="fa fa-check"></i></a>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert bg-gray">
        <p>
            <i class="fa fa-exclamation-circle"></i>
            Не найдено ни одной рабочей смены
        </p>
    </div>
{% endif %}