{% if workShifts|length > 0 %}
    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'class': 'default', 'header': 'report.work_shift_table.cash_documenst'|trans} %}
        {% block content %}
            {% if cashDocuments|length > 0 %}
            <table class="table not-auto-datatable table-striped table-hover table-condensed mbh-grid">
                <thead>
                <tr>
                    <th class="td-xxs text-center"></th>
                    <th class="td-xs text-center">{{ 'views.cash.index.reservation'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-md text-right">{{ 'views.cash.index.income'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-md text-right">{{ 'views.cash.index.expense'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-md">{{ 'views.cash.index.operation_type'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-md">{{ 'order.cash.payer'|trans({}, 'MBHPackageBundle') }}</th>
                    <th class="td-xs">{{ 'views.cash.index.date'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-sm text-center">{{ 'views.cash.index.is_paid'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-sm text-center">{{ 'views.cash.index.user'|trans({}, 'MBHCashBundle') }}</th>
                    <th class="td-xs text-center">{{ 'views.cash.index.is_updated'|trans({}, 'MBHCashBundle') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for cashDocument in cashDocuments %}
                    <tr>
                        <td><div class='text-center {{ cashDocument.isConfirmed is empty and cashDocument.isPaid ? 'not-confirmed-entry' }} {{ cashDocument.deletedAt ? 'deleted-entry' }} {{ cashDocument.isPaid is empty ? 'not-paid-entry' }}'><i class='{{ currency().icon }}'></i></div></td>
                        <td><div class='cash-number text-center'>{{ cashDocument.number }}</div></td>
                        <td><div class='text-right'>{% if cashDocument.operation not in ['fee', 'out'] %}<a href='{{ path('cash_edit', { 'id': cashDocument.id }) }}' rel='main' class='text-success' title='{{ 'report.work_shift_table.entry_editing'|trans }}' data-toggle='tooltip'>{{ cashDocument.total|number_format(2) }}</a>{% endif %}</div></td>
                        <td><div class='text-right'>{% if cashDocument.operation in ['fee', 'out'] %}<a href='{{ path('cash_edit', { 'id': cashDocument.id }) }}' rel='main' class='text-danger' title='{{ 'report.work_shift_table.entry_editing'|trans }}' data-toggle='tooltip'>{{ cashDocument.total|number_format(2) }}</a>{% endif %}</div></td>
                        <td>{{ operations[cashDocument.operation] }}<br><small>{{ methods[cashDocument.method] }}</small></td>
                        <td>{{ cashDocument.payer.shortName }}</td>
                        <td>{{ cashDocument.documentDate|date('d.m.Y') }}</td>
                        <td><div class='text-center'>{% if cashDocument.isPaid %} {{ cashDocument.paidDate|date('d.m.Y') }} {% else %} <span class='label label-danger'>{{ 'order.cash.no'|trans({}, 'MBHPackageBundle') }}</span>{% endif %}</div></td>
                        <td><div class='text-center'>{{ cashDocument.createdBy }}</div></td>
                        <td class='text-center'>
                            {% if cashDocument.id in updateCashIDs %}
                                <label class="label label-success">{{ 'report.work_shift_table.yes'|trans}}</label>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert bg-gray">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'report.work_shift_table.no_cash_documents_found'|trans}}
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% if cashDocuments %}
        <div class="text-center bg-gray color-palette alert">
            <span class="package-summary-row"><b>{{ 'report.work_shift_table.income'|trans}}: </b><span>{{ income|number_format(2) }}</span></span>
            <span class="package-summary-row"><b>{{ 'report.work_shift_table.expenses'|trans}}: </b><span>{{ expenses|number_format(2) }}</span></span>
        </div>
    {% endif %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'class': 'default', 'header': 'report.work_shift_table.created_packages'|trans} %}
        {% block content %}
            {% if packages|length > 0 %}
                {% include 'MBHPackageBundle:Report:packageTable.html.twig' %}
            {% else %}
                <div class="alert bg-gray">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'report.work_shift_table.no_packages_found'|trans}}
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'class': 'default', 'header': 'report.work_shift_table.changed_packages'|trans} %}
        {% block content %}
            {% if packages|length > 0 %}
                {% include 'MBHPackageBundle:Report:packageTable.html.twig' with {packages: updatePackages} %}
            {% else %}
                <div class="alert bg-gray">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'report.work_shift_table.no_packages_found'|trans}}
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'class': 'default', 'header': 'report.work_shift_table.removed_packages'|trans} %}
        {% block content %}
            {% if packages|length > 0 %}
                {% include 'MBHPackageBundle:Report:packageTable.html.twig' with {packages: deletedPackages} %}
            {% else %}
                <div class="alert bg-gray">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'report.work_shift_table.no_packages_found'|trans}}
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'class': 'default', 'header': 'report.work_shift_table.arrival'|trans} %}
        {% block content %}
            {% if arrivalPackages|length > 0 %}
                {% include 'MBHPackageBundle:Report:packageTable.html.twig' with {packages: arrivalPackages} %}
            {% else %}
                <div class="alert bg-gray">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'report.work_shift_table.no_packages_found'|trans}}
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'class': 'default', 'header': 'report.work_shift_table.departure'|trans} %}
        {% block content %}
            {% if departurePackages|length > 0 %}
                {% include 'MBHPackageBundle:Report:packageTable.html.twig' with {packages: departurePackages} %}
            {% else %}
                <div class="alert bg-gray">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'report.work_shift_table.no_packages_found'|trans}}
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% else %}
    <div class="alert bg-gray">
        <p>
            <i class="fa fa-exclamation-circle"></i>
            {{ 'report.work_shift_table.no_work_shifts_found'|trans}}
        </p>
    </div>
{% endif %}