{% if workShifts %}
    <table class="table table-strip" id="work-shift-list-table">
        <thead>
        <tr>
            <th class="td-xs">#</th>
            <th class="td-md text-center">Даты</th>
            <th class="td-sm">Сотрудник</th>
            <th class="td-xs">Гости</th>
            <th class="td-md">Касса</th>
            <th class="td-sm">Статус</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for workShift in workShifts %}
            <tr
                data-id="{{ workShift.id }}"
                data-electronicCashIncomeTotal="{{ workShift.electronicCashIncomeTotal }}"
                data-detail-header="Рабочая смена {{ workShift.begin|mbh_format }} {{ workShift.begin|date('H:i') }} {% if workShift.end %} - {{ workShift.end|mbh_format }} {{ workShift.end|date('H:i') }}{% endif %}"
            class="{% if  workShift.status == 'locked' %}info{% elseif workShift.status == 'closed' %}danger{% endif %}">
                <td>{{ workShift.id }}</td>
                <td class="text-center">
                    {{ workShift.begin|mbh_format }} {{ workShift.begin|date('H:i') }}
                    -
                    {% if workShift.end %}
                        {{ workShift.end|mbh_format }} {{ workShift.end|date('H:i') }}
                        <br>
                        <small>{{ workShift.duration.format('%h ч. %i мин.') }}</small>
                    {% else %}
                        в процессе
                    {% endif %}
                </td>
                <td>
                    {{ workShift.createdBy }}
                </td>
                <td>
                    <small>
                        На начало смены: {{ workShift.beginGuestTotal }}<br>
                    {% if workShift.status != 'open' %}
                        На конец смены: {{ workShift.endGuestTotal }}<br>
                        Заехавших: {{ workShift.arrivalTouristTotal }}<br>
                        Не заехавших: {{ workShift.noArrivalTouristTotal }}<br>
                        Выехавших: {{ workShift.departureTouristTotal }}<br>
                        Не выехавших: {{ workShift.noDepartureTouristTotal }}
                    {% endif %}
                    </small>
                </td>
                <td>
                {% if workShift.status != 'open' %}
                    <small>
                        Принято: {{ workShift.cashIncomeTotal }}<br>
                        Выдано: {{ workShift.cashExpenseTotal }}<br>
                        Разнесено б/н: {{ workShift.electronicCashIncomeTotal }}
                    </small>
                {% endif %}
                </td>
                <td>
                    {{ ('workShift.statuses.' ~ workShift.status)|trans }}
                    {% if workShift.status == 'closed' and workShift.closedBy %}
                        <br><small>{{ workShift.closedBy.name }}</small>
                    {% endif %}
                </td>
                <th class="td-md" style="vertical-align: middle">
                    {% if workShift.status == 'locked' and is_granted('ROLE_WORK_SHIFT_CLOSE') %}
                        <a href="#" title="Подтвердить" class="btn btn-info work-shift-confirm"><i class="fa fa-check"></i></a>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert bg-gray">
        <p>
            <i class="fa fa-exclamation-circle"></i>
            Не найдено ни одной рабочей смены
        </p>
    </div>
{% endif %}