{% extends "MBHPackageBundle:Report:layout.html.twig" %}

{% set title = 'report.work_shift.small_title'|trans({}, 'MBHPackageBundle') %}
{% set small_title = 'report.work_shift.small_title'|trans({}, 'MBHPackageBundle') %}
{% set title_url = path('report_work_shift') %}
{% set layout = 'box' %}

{% block content %}
    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'work-shift-report-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline filter-form icon-label-form', id: 'work-shift-report-form'}}) }}
            <div class="form-group">
                <label><i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i></label>
                {{ form_widget(form.begin, {attr: {class: 'datepicker'}}) }} -
                {{ form_widget(form.end, {attr: {class: 'datepicker'}}) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-user" title='Пользователь' data-toggle='tooltip'></i></label>
                {{ form_widget(form.user) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-star-o" title='Статус' data-toggle='tooltip'></i></label>
                {{ form_widget(form.status) }}
            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}

    <div id="work-shift-detail-header">
        <a class="btn btn-info" href="#" id="come-back-to-list"><i class="fa fa-arrow-left"></i> Вернуться к списку</a>
        <div class="header"></div>
    </div>

    {#todo remove. use embed_filter.html.twig#}
    <div class="box box-default box-solid">
        <div class="box-header">
            <h3 class="box-title">
                Рабочие смены
            </h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool form-group-collapse" id="work-shift-table-wrapper-collapse" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="color-palette box-body" id="work-shift-table-wrapper">
        </div>
    </div>

    <div id="work-shift-report-table-wrapper">

    </div>


{% endblock %}