{% if workShifts %}
    <table class="table table-strip" id="work-shift-list-table">
        <thead>
        <tr>
            <th class="td-xs">#</th>
            <th class="td-md text-center">{{ 'report.work_shift_list.dates'|trans}}</th>
            <th class="td-sm">{{ 'report.work_shift_list.employee'|trans}}</th>
            <th class="td-xs">{{ 'report.work_shift_list.guests'|trans}}</th>
            <th class="td-md">{{ 'report.work_shift_list.cash'|trans}}</th>
            <th class="td-sm">{{ 'report.work_shift_list.status'|trans}}</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for workShift in workShifts %}
            <tr
                data-id="{{ workShift.id }}"
                data-electronicCashIncomeTotal="{{ workShift.electronicCashIncomeTotal }}"
                data-detail-header="{{ 'report.work_shift_list.work_shift'|trans }} {{ workShift.begin|mbh_format }} {{ workShift.begin|date('H:i') }} {% if workShift.end %} - {{ workShift.end|mbh_format }} {{ workShift.end|date('H:i') }}{% endif %}"
            class="{% if  workShift.status == 'locked' %}info{% elseif workShift.status == 'closed' %}danger{% endif %}">
                <td>{{ workShift.id }}</td>
                <td class="text-center">
                    {{ workShift.begin|mbh_format }} {{ workShift.begin|date('H:i') }}
                    —
                    {% if workShift.end %}
                        {{ workShift.end|mbh_format }} {{ workShift.end|date('H:i') }}
                        <br>
                        <small>{{ 'report.work_shift_list.time'|trans({'%hour%' : workShift.duration|date('H'), '%minute%' : workShift.duration|date('i')}) }}</small>
                    {% else %}
                        {{ 'report.work_shift_list.in_process'|trans}}
                    {% endif %}
                </td>
                <td>
                    {{ workShift.createdBy }}
                </td>
                <td>
                    <small>
                        {{ 'report.work_shift_list.at_begin_of_shift'|trans}}: {{ workShift.beginGuestTotal }}<br>
                    {% if workShift.status != 'open' %}
                        {{ 'report.work_shift_list.at_end_of_shift'|trans}}: {{ workShift.endGuestTotal }}<br>
                        {{ 'report.work_shift_list.number_of_entered'|trans}}: {{ workShift.arrivalTouristTotal }}<br>
                        {{ 'report.work_shift_list.number_of_not_entered'|trans}}: {{ workShift.noArrivalTouristTotal }}<br>
                        {{ 'report.work_shift_list.number_of_departured'|trans}}: {{ workShift.departureTouristTotal }}<br>
                        {{ 'report.work_shift_list.number_of_not_departured'|trans}}: {{ workShift.noDepartureTouristTotal }}
                    {% endif %}
                    </small>
                </td>
                <td>
                {% if workShift.status != 'open' %}
                    <small>
                        {{ 'report.work_shift_list.cash_income'|trans}}: {{ workShift.cashIncomeTotal }}<br>
                        {{ 'report.work_shift_list.cash_issued'|trans}}: {{ workShift.cashExpenseTotal }}<br>
                        {{ 'report.work_shift_list.electronic_cash_income'|trans}}: {{ workShift.electronicCashIncomeTotal }}
                    </small>
                {% endif %}
                </td>
                <td>
                    {{ ('workShift.statuses.' ~ workShift.status)|trans }}
                    {% if workShift.status == 'closed' and workShift.closedBy %}
                        <br><small>{{ workShift.closedBy.name }}</small>
                    {% endif %}
                </td>
                <th class="td-md" style="vertical-align: middle">
                    {% if workShift.status == 'locked' and is_granted('ROLE_WORK_SHIFT_CLOSE') %}
                        <a href="#" title="{{ 'report.work_shift_list.confirm'|trans }}" class="btn btn-info work-shift-confirm"><i class="fa fa-check"></i></a>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert bg-gray">
        <p>
            <i class="fa fa-exclamation-circle"></i>
            {{ 'report.work_shift_list.no_work_shifts_found'|trans}}
        </p>
    </div>
{% endif %}