<nav class="navbar navbar-static-top" role="navigation">
    {#<!-- Sidebar toggle button-->#}
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{ 'mbhbasebundle.views.minimize_menu'|trans }}</span>
    </a>
    {#<!-- Navbar Right Menu -->#}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="notifications-menu" id="support-info">
                <a href="#" id="support-link" class="btn-success">
                    <i class="fa fa-question-circle fa-lg"></i>
                    <span class="navbar_item-name padding-left_5 hidden-xs">{{ 'mbhbasebundle.views.help'|trans}}</span>
                </a>
            </li>
            {% include 'MBHBaseBundle::dashboard.html.twig' with {'dashboard_messages': dashboard_messages} %}
            
            {% set cash = user_cash() %}

            {% if cash['count'] %}
            {#<!-- Cash docs notifications: begin -->#}
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="{{ currency()['icon'] }}"></i>
                    <span class="navbar_item-name padding-left_5 hidden-xs">{{ 'mbhbasebundle.views.kass'|trans }}</span>
                    <span class="label label-danger">{{ cash['total']|number_format(2) }}</span>
                    <i class="fa fa-caret-down padding-left_5"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <ul class="menu">
                            {% for doc in cash['docs']  %}
                                <li>
                                    <a href="{{ is_granted('ROLE_CASH_EDIT') ? path('cash_edit', {'id': doc.id}) : '#' }}">
                                    <small>
                                        {{ 'mbhbasebundle.views.doc'|trans }} #{{ doc.number }}, {{ 'mbhbasebundle.views.sum'|trans }}: {{ doc.total|number_format }} {{ currency()['text']|trans }}<br>
                                        {{ doc.payer ? doc.payer.shortName : null }} {{ 'mbhbasebundle.views.not_allow'|trans }}
                                    </small>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_CASH_VIEW') %}
                    <li class="footer">
                        <a href="{{ path('cash') }}?user={{ app.user.username }}">{{ 'mbhbasebundle.view.navbar.pereyti.v.kassu'|trans }} </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {#<!-- Cash docs notifications: end -->#}
            {% endif %}


            {% if app.user and app.user.isEnabledWorkShift and currentWorkShift() %}
                <li class="dropdown notifications-menu" id="work-shift-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-clock-o"></i>
                        <span class="padding-left_5">{{ 'mbhbasebundle.view.navbar.change'|trans }}</span>
                        <span class="label label-info padding-left_5">{{ currentWorkShift().getPastHours }} {{ 'mbhbasebundle.view.navbar.ch'|trans }}.</span>
                        <i class="fa fa-caret-down padding-left_5"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="footer">
                            <a id="work-shift-lock" href="{{ path('work_shift_lock') }}">{{ 'mbhbasebundle.view.navbar.booking_change'|trans }}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}


            {#<!-- Menu selected hotel: begin -->#}
            {% if selected_hotel() and is_granted('ROLE_HOTEL_VIEW') %}

                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle navbar_tad-a_hotel" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-home"></i>
                        <span class="navbar_item-name padding-left_5">{{ selected_hotel().getTitleOrFullTitle() }}</span>
                        <i class="fa fa-caret-down padding-left_5"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">{{ 'mbhbasebundle.view.navbar.select_hotel'|trans }}: </li>
                        <li>
                            <ul class="menu">
                                {% for hotel in hotels() %}
                                    <li>
                                        {% if title_url is defined  %}{% set hotel_url = title_url %}{% else %}{% set hotel_url = null %}{% endif%}
                                        <a href="{{ path('hotel_select', {'id': hotel.id, 'url': hotel_url}) }}">
                                            <i class="fa fa-home"></i>&nbsp;{{ hotel.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="footer">
                                <a href="{{ path('hotel') }}"><i class="fa fa-home"></i>{{ 'mbhbasebundle.view.navbar.spisok.oteley'|trans }} </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {#<!-- Menu selected hotel: end -->#}

            {#<!-- User Account Menu -->#}
            <li class="dropdown user user-menu">
                {#<!-- Menu Toggle Button -->#}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {#<!-- The user image in the navbar-->#}
                    <img src="{{ gravatar(app.user.email) }}" class="user-image" alt="{{ app.user.fullName(true) }}">
                    {#<!-- hidden-xs hides the username on small devices so only the image appears. -->#}
                    <span class="hidden-xs">{{ app.user.fullName(true) }}&nbsp;<i class="fa fa-caret-down"></i></span>

                </a>
                <ul class="dropdown-menu">
                    {#<!-- The user image in the menu -->#}
                    <li class="user-header">
                        <img src="{{ gravatar(app.user.email) }}" class="img-circle" alt="{{ app.user.fullName(true) }}">
                        <p>
                            {{ app.user.username }} — {{ app.user.fullName(true) }}
                            <small>
                                {{ 'mbhbasebundle.view.navbar.input'|trans }} {{ app.user.lastLogin|mbh_format }} {{ app.user.lastLogin|date('H:i') }}
                                <br>v{{ version }}
                            </small>
                        </p>
                    </li>
                    {#<!-- Menu Footer-->#}
                    <li class="user-footer">
                        {% if is_granted('ROLE_PAYMENTS') or is_granted('ROLE_PROFILE') %}
                        <div class="pull-left">
                            <a href="{{ path('user_profile') }}" class="btn btn-default btn-flat">
                                {{ 'mbhbasebundle.view.navbar.profile'|trans }}
                            </a>
                        </div>
                        {% endif %}
                        <div class="pull-right">
                            <a id="logout-btn" href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">
                                <i class=""></i>&nbsp;{{ 'mbhbasebundle.view.navbar.output'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
