<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Свернуть меню</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            {% if selected_hotel() %}

                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-home"></i>&nbsp;{{ selected_hotel().name }}
                        &nbsp;<i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Выберете отель:</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                {% for hotel in hotels() %}
                                    <li>
                                        {% if title_url is defined %}{% set hotel_url = title_url %}{% else %}{% set hotel_url = null %}{% endif %}
                                        <a href="{{ path('hotel_select', {'id': hotel.id, 'url': hotel_url}) }}">
                                            <i class="fa fa-home"></i>&nbsp;{{ hotel.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="footer"><a href="{{ path('hotel_new') }}">
                                    <i class="fa fa-plus"></i>Добавить отель</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img src="{{ gravatar(app.user.email) }}" class="user-image" alt="{{ app.user.fullName(true) }}">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{{ app.user.fullName(true) }}&nbsp;<i class="fa fa-caret-down"></i></span>

                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="{{ gravatar(app.user.email) }}" class="img-circle"
                             alt="{{ app.user.fullName(true) }}">

                        <p>
                            {{ app.user.username }} - {{ app.user.fullName(true) }}
                            <small>
                                Вошел в {{ app.user.lastLogin|mbh_format }} {{ app.user.lastLogin|date('H:i') }}
                                <br>v{{ version }}
                            </small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="{{ path('user_profile') }}" class="btn btn-default btn-flat">
                                Профиль
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">
                                <i class=""></i>&nbsp;Выйти
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>