{% extends 'MBHBaseBundle::meta.html.twig' %}

{% block body %}
    {{ parent() }}
    {% block top_navbar %}
        {% include 'MBHBaseBundle::navbar.html.twig' %}
    {% endblock %}
    
    {% if form is defined %}
        {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
    {% endif %}
    
    {% if edit_form is defined %}
        {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
    {% endif %}

    <div class="container-fluid main-container">

        <ul class="breadcrumb" id="main-breadcrumb">
            <li><a href="{{ path('_welcome') }}"><i class="fa fa-home"></i></a></li>
            {% if title_url is defined and title_url %}
                <li><a href="{{title_url}}">{{ title|default(project_title) }}</a></li>
            {% endif %}
            {% if small_title is defined %}
                <li>{{ small_title|raw }}</li>
            {% endif %}
        </ul>

        {% block messages %}
            <div id="messages">{% include 'MBHBaseBundle::messages.html.twig' %}</div>
        {% endblock %}

    {% block content %}{% endblock %}

    {% include 'MBHBaseBundle:Partials:entityDeleteForm.html.twig' %}
</div>
{% endblock %}