{% extends 'MBHBaseBundle::meta.html.twig' %}

{% block body %}
    {{ parent() }}
    {% block top_navbar %}
        {% include 'MBHBaseBundle::navbar.html.twig' %}
    {% endblock %}
    
    {% if form is defined %}
        {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
    {% endif %}
    
    {% if edit_form is defined %}
        {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
    {% endif %}

    <div class="container main-container">
        
        <h2 id="main-header">
            {% if title_url is defined and title_url %}
                <a href="{{title_url}}">{{ title|default(project_title) }}</a>
            {% else%}
                {{ title|default(project_title) }}
            {% endif %}
            {% if small_title is defined %}
                <small><i class="fa fa-angle-double-right"></i> {{ small_title|raw }}</small>
            {% endif %}
        </h2>

        {% block messages %}
            <div id="messages">{% include 'MBHBaseBundle::messages.html.twig' %}</div>
        {% endblock %}

    {% block content %}{% endblock %}

    {% include 'MBHBaseBundle:Partials:entityDeleteForm.html.twig' %}
</div>
{% endblock %}