{% extends 'MBHBaseBundle::meta.html.twig' %}

{% block body %}
    {{ parent() }}

    {% set dashboard_messages = dashboard_messages() %}

    <header class="main-header">
        <!-- Logo -->
        {% include 'MBHBaseBundle::logo.html.twig' %}
        <!-- Header Navbar -->
        {% include 'MBHBaseBundle::navbar.html.twig' with {'dashboard_messages': dashboard_messages} %}
    </header>

    {% if form is defined %}
        {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
    {% endif %}

    {% if edit_form is defined %}
        {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}
    {% endif %}

    {% include 'MBHBaseBundle::sidebar.html.twig' %}

    <div class="content-wrapper main-container">

        {% block print_hotel_logo %}
            {% if selected_hotel() and selected_hotel().logoImage %}
                <div id="print-hotel-logo">
                    <img class="grayscale" src="{{ asset(vich_uploader_asset(selected_hotel().logoImage, 'imageFile')|imagine_filter('thumb_95x80') ) }}"/>
                </div>
            {% endif %}
        {% endblock %}

        <div class="print-clearfix"></div>

        <section class="content-header">
            <h1 class="hidden-xs">
                {{ title|default(project_title)|trans }}
                {% if small_title is defined %}
                <small>{{ small_title|trans|raw }}</small>
                {% endif %}
            </h1>
            <ol class="breadcrumb" id="main-breadcrumb">
                <li>
                    <a href="{{ path('_welcome') }}"><i class="fa fa-home"></i></a>
                    {% if management_icon is defined %}
                        <i class="fa fa-cog management_visible-xs"></i>
                    {% endif %}
                </li>
                {% if title_url is defined and title_url %}
                <li><a href="{{ title_url }}">{{ title|default(project_title)|trans }}</a></li>
                {% endif %}
                {% if small_title is defined %}
                <li class="active">{{ small_title|trans|raw }}</li>
                {% endif %}
            </ol>
        </section>

        <section class="content">
            {% block messages %}
                <div id="messages">{% include 'MBHBaseBundle::messages.html.twig' %}</div>
            {% endblock %}

            {% block prepend_content %}
            {% endblock %}

            {% if layout is defined and layout == 'tabs' %}
                <div class="nav-tabs-custom">
            {% endif %}
            {% if layout is defined and layout == 'box' %}
                <div class="box box-default"><div class="box-body">
            {% endif %}

            {% block tabsLayout %}{% endblock %}
            {% block content %}{% endblock %}

            {% if layout is defined and layout == 'tabs' %}
                </div>
            {% endif %}
            {% if layout is defined and layout == 'box' %}
                </div></div>
            {% endif %}

            {% block append_content %}
            {% endblock %}

            {% include 'MBHBaseBundle:Partials:entityDeleteForm.html.twig' %}

            {% include 'MBHBaseBundle::dashboardModal.html.twig' with {'dashboard_messages': dashboard_messages} %}
            {% include '@MBHBase/supportModal.html.twig' %}
            {% include '@MBHBase/welcomeModal.html.twig' %}
            {% if app.environment == 'dev' %}
                {% include '@MBHBase/addTipsModal.html.twig' %}
            {% endif %}

            <div id="print-user-info">
                <div class="row">
                    <div class="col-md-4">
                        <h5>{{ 'now'|date('d.m.Y H:i') }}</h5>
                    </div>
                    <div class="col-md-8 text-right">
                        {% if app.user %}
                            <h5>{{ app.user.fullName(true) }}&nbsp_____________________</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
