<div class="modal fade" tabindex="-1" role="dialog" id="support-info-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mbh-modal-header" style="font-size: 18px; background-color: #00a65a;color: white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ 'support_modal.header_text'|trans}}
            </div>
            <div class="modal-body" id="support-info-modal-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a style="background-color: #e7f3e2; font-size: 16px"><i class='fa fa-desktop'></i>
                            <button onclick="window.open('https://example.maxi-booking.ru?apiKey={{ get_twig_data()['demo_user_token'] }}','_blank');" class="btn btn-primary btn-sm">
                                {{ 'support_modal.sandbox_button.text'|trans}}
                            </button>
                            <span style="font-size: 15px">({{ 'welcome_modal.login'|trans}}: demo, {{ 'welcome_modal.password'|trans}}: demo)</span>
                        </a>
                    </li>
                    <li>
                        <a style="background-color: #e7f3e2; font-size: 16px"><i class='fa fa-phone'></i>{{ 'support_modal.phones'|trans}}</a>
                        <ol id="modal-guides-phones" style="cursor: pointer;">
                            {% if is_russian_client() %}
                                <li><strong>Бесплатно по России</strong>: {{ get_twig_data()['support_phone'] }}<br></li>
                            {% endif %}
                            <li><strong>email</strong>: {{ get_twig_data()['clients_support_email'] }}</li>
                        </ol>
                    </li>
                    <li>
                        <a style="background-color: #e7f3e2; font-size: 16px"><i class='fa fa-user'></i>{{ 'support_modal.interactive_halper'|trans}}</a>
                        <ol id="modal-guides-list" style="cursor: pointer;">
                        </ol>
                    </li>
                    <li role="presentation">
                        <a style="background-color: #e7f3e2; font-size: 16px"><i class='fa fa-info-circle'></i>{{ 'support_modal.info_base'|trans}}</a>
                        {% set articles = ['all_articles', 'tariffs', 'package_info', 'hotel_creation', 'room_types', 'booking_sync', 'chessboard'] %}
                        <ol>
                            {% for article in articles %}
                                {% set href = article == 'all_articles' ? get_guide_article_url() : get_guide_article_url('common', article) %}
                                {% set name = 'support_modal.' ~ (article == 'all_articles' ? '' : 'articles.') ~ article %}
                                <li><a target="_blank" href="{{ href }}">{{ name|trans }}</a></li>
                            {% endfor %}
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.close_button'|trans}}</button>
            </div>
        </div>
    </div>
</div>