{% extends 'MBHChannelManagerBundle:Booking:layout.html.twig' %}

{% set small_title = 'views.channnelmanager.settings'|trans({}, 'MBHChannelManagerBundle') %}
{% set layout = 'tabs' %}

{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 1, 'config': config, 'base': 'booking'} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {{ form_start(form, {'action': path('booking_save'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% embed 'MBHChannelManagerBundle::actions.html.twig' %}
                {% block additional_actions %}
                    {% if config and config.isReadyToSync() %}
                        <li>
                            <div class="dropup">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-paper-plane-o"> </i>
                                    {{ 'views.booking.actions.sync_old'|trans({}, 'MBHChannelManagerBundle') }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li>
                                        <a href="{{ path('booking_packages_sync') }}">{{ 'views.booking.actions.sync_old_desc'|trans({}, 'MBHChannelManagerBundle') }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('booking_all_packages_sync') }}">{{ 'views.booking.actions.sync_all_old_desc'|trans({}, 'MBHChannelManagerBundle') }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                {% endblock %}
            {% endembed %}
            {{ form_end(form) }}
            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {% endif %}
        </div>
    </div>
{% endblock %}
