{% extends 'MBHChannelManagerBundle:Booking:layout.html.twig' %}

{% set small_title = 'views.channnelmanager.settings'|trans({}, 'MBHChannelManagerBundle')  %}
{% set layout = 'tabs' %}

{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 4, 'entity': config, 'base': 'booking'} %}

    <div class="tab-content">

        <table class="table table-striped table-hover table-condensed not-auto-datatable">
            <thead>
            <tr>
                <th class="td-lg">{{ 'views.booking.service.service'|trans({}, 'MBHChannelManagerBundle') }}</th>
                <th class="td-lg">{{ 'views.booking.service.code'|trans({}, 'MBHChannelManagerBundle') }}</th>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            {% for service in config.services %}
                <tr>
                    <td>{{ service.service.name }} <a class="external" target="_blank" href="{{ path('price_service_category_entry_edit', {'id': service.service.id}) }}"><i class="fa fa-external-link"></i></a></td>
                    <td>{{ service.service.code }}</td>
                    <td>{{ service.serviceId }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="tab-pane active" id="home">
            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {%  endif %}
        </div>
    </div>
{% endblock %}