<div class="modal fade" id="add-guest-modal">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'views.add_guest_modal.add_guest'|trans}}</h4>
            </div>
            <div class="modal-body">
                <div style="display: none" class="alert alert-danger" id="add-guest-modal-errors"></div>
                {% form_theme touristForm 'MBHBaseBundle:Form:fields.html.twig' %}
                {% form_theme documentForm 'MBHBaseBundle:Form:fields.html.twig' %}
                {% form_theme addressForm 'MBHBaseBundle:Form:fields.html.twig' %}

                {% set menu = [
                {'title': '<i class="fa fa-info-circle"></i> '~ 'views.hotel.tabs.main_info'|trans({}, 'MBHHotelBundle')},
                {'title': '<i class="fa fa-book"></i> '~ 'views.hotel.tabs.document_relation'|trans({}, 'MBHHotelBundle')},
                {'title': '<i class="fa fa-map-marker"></i> '~ 'views.hotel.tabs.address'|trans({}, 'MBHHotelBundle')},
                ] %}

                <form method="post" action="{{ path('tourist_create_ajax') }}" class="form-horizontal">

                    <ul class="nav nav-tabs">
                        {% for item in menu %}
                            <li {% if loop.index == 1 %}class="active"{% endif %}>
                                <a role="tab" data-toggle="tab"
                                   href="#add-guest-modal-form-{{ loop.index }}">{{ item.title|raw }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        <div id="add-guest-modal-form-1" class="tab-pane fade in active">
                            {{ form_widget(touristForm) }}
                        </div>
                        <div id="add-guest-modal-form-2" class="tab-pane fade">
                            {{ form_widget(documentForm) }}
                        </div>
                        <div id="add-guest-modal-form-3" class="tab-pane fade">
                            {{ form_widget(addressForm) }}
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-ban"></i> {{ 'views.actions.saveButtons.cancel'|trans({}, 'MBHBaseBundle') }}
                </button>
                <button type="button" id="add-guest-modal-submit" class="btn btn-success">
                    <i class="fa fa-check-square-o"></i> {{ 'views.actions.saveButtons.save'|trans({}, 'MBHBaseBundle') }}
                </button>
            </div>
        </div>
    </div>
</div>