{% extends "MBHRestaurantBundle:DishOrder:layout.html.twig" %}
{% set small_title = 'menu.label.restaurant'|trans %}
{% set layout = "box" %}

{% block content %}
    {% embed '@MBHBase/Partials/embed_filter.html.twig' with {'id': 'dishorder-table-filter-widget'} %}
        {% block content %}
            {% if form is defined %}
                {{ form_start(form,{attr:{'class':'filter-form'}}) }}

                {% if form.begin is defined %}
                    <div class="filter-form_group-date">
                        <div class="filter-form_input">
                            <i class="fa fa-calendar" title='{{ 'dish_order.index.dates_filter'|trans }}' data-toggle='tooltip'></i>
                            <div class="filter-form_input">
                                {{ form_widget(form.begin) }}
                                <span class="filter-form_separator"></span>
                                {{ form_widget(form.end) }}
                            </div>
                        </div>
                    </div>

                {% endif %}
                {% if form.money_begin is defined %}
                    <div class="form-group">
                        <label><i class="fa fa-money" title="{{ 'dish_order.index.prices_filter'|trans }}" data-toggle="tooltip"></i></label>
                        {{ form_widget(form.money_begin) }}—
                        {{ form_widget(form.money_end) }}
                    </div>
                {% endif %}
                <div class="filter-form_input">
                    <i class="fa fa-money" title="{{ 'dish_order.index.paid'|trans }}" data-toggle="tooltip"></i>
                    {{ form_widget(form.is_freezed) }}
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, {render_rest: false}) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
    <div class="box-tools pull-rigth">


    </div>

    <div class="box-body">
        <table id="dishorder-table"
               class="table table-actions not-auto-datatable table-striped table-hover table-condensed table-icons">
            <thead>
            <tr>
                <th class="td-xs"></th>
                <th>{{ 'restaurant.dishorder.table.number'|trans }}</th>
                <th class="td-md text-center">{{ 'restaurant.dishorder.table.table'|trans }}</th>
                <th class="td-xs">{{ 'restaurant.dishorder.table.time'|trans }}</th>
                <th class="td-sm text-right">{{ 'restaurant.dishorder.table.price'|trans }} <i
                            class="fa {{ currency().icon }}"></i></th>
                <th class="td-md text-center">{{ 'restaurant.dishorder.table.freezed'|trans }}</th>
                <th class="td-sm text-center">{{ 'restaurant.dishorder.table.doing'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div> <!-- /.box-body -->
    <div class="text-center bg-gray color-palette alert" id="order-summary">
        <span class="package-summary-row"><b>{{ 'order.index.summary.total'|trans({}, 'MBHPackageBundle') }}
                : </b> <span id="order-summary-total">-</span>
        </span>

    </div>
    {% if isDishes %}
        {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'restaurant_dishorder_new', 'role': 'RESTAURANT_DISHORDER'} %}
    {% else %}
        <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ 'restaurant.dishorder.nodish'|trans|capitalize }}. <a href="{{ path('restaurant_dishmenu_item') }}">{{ 'restaurant.dishmenu.item.action.new'|trans|capitalize }}?</a></div>
    {% endif %}
{% endblock %}



