{
    "draw": "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ recordsFiltered }}",
    "data": [
        {% for order in dishorders %}

        {% if ( not order.isfreezed and is_granted('ROLE_RESTAURANT_ORDER_MANAGER_EDIT') ) or (order.isfreezed and is_granted('ROLE_RESTAURANT_ORDER_MANAGER_FREEZED_EDIT')) %}
        {% set editbutton = "<a href='" ~ path('restaurant_dishorder_edit', {'id': order.id }) ~ "' class='btn btn-success btn-xs' title='"~('restaurant.dishorder.actions.edit')|trans|capitalize~"' data-toggle='tooltip'><i class='fa fa-pencil-square-o'></i></a>" %}
        {% else %}
        {% set editbutton = "<a href='#' class='btn btn-success btn-xs disabled'><i class='fa fa-pencil-square-o'></i></a>" %}
        {% endif %}

        {% if ( not order.isfreezed and is_granted('ROLE_RESTAURANT_ORDER_MANAGER_DELETE') ) or (order.isfreezed and is_granted('ROLE_RESTAURANT_ORDER_MANAGER_FREEZED_DELETE')) %}
        {% set deletebutton = "<a href='"~path('restaurant_dishorder_delete', {'id': order.id})~"' data-toggle='tooltip' class='btn btn-danger btn-xs delete-link'  title='"~('restaurant.dishorder.actions.delete'|trans|capitalize)~"'><i class='fa fa-trash-o'></i></a>" %}
        {% else %}
        {% set deletebutton = "<a href='#' class='btn btn-danger btn-xs disabled'><i class='fa fa-trash-o'></i></a>" %}
        {% endif %}

        {% if order.isfreezed %}
        {% set freezedbutton = "<a href='" ~ path('restaurant_dishorder_showfreezed', {'id': order.id}) ~ "' class='btn btn-success btn-sm'>"~'restaurant.dishorder.actions.isfreezed'|trans|capitalize~"</a>" %}
        {% else %}
            {% if is_granted('ROLE_RESTAURANT_ORDER_MANAGER_PAY') %}
                {% set freezedbutton = "<a href='"~ path('restaurant_dishorder_freeze', {'id': order.id }) ~ "' class='btn btn-danger btn-sm delete-link' data-text='"~ 'restaurant.dishorder.actions.pay'|trans|capitalize ~ order.id ~" ?' data-button='"~'restaurant.dishorder.actions.confirm'|trans|capitalize~"' data-button-icon='fa-money' title='"~'restaurant.dishorder.actions.freezed'|trans|capitalize ~"' data-toggle='tooltip'><i class='fa fa-money'></i>"~'restaurant.dishorder.actions.freezed'|trans|capitalize~"</a>" %}
            {% else %}
            {% endif %}
        {% endif %}

        [
            "<div class='text-center'><i class='fa fa-cutlery'></i></div>",
            "{{ order.id }}",
            "{{ order.table }}",
            "{{ order.createdAt|date("d/M") }}",
            "{{ order.price|number_format(2,'.',',') }}",
            "{{ freezedbutton|raw }}",
            "<div class='btn-list text-center'>{{ editbutton|raw }}{{ deletebutton|raw }}</div>"
        ]
        {% if loop.index != total %},{% endif %}

        {% endfor %}
    ]
}
