{% extends 'MBHPackageBundle:Search:layout.html.twig' %}

{% set small_title = "search.index.search"|trans({}, "MBHPackageBundle") %}

{% block content %}

    <div class="well">

        {{ form_start(form, {'action': path('package_search'), 'method': 'GET', 'attr': {'class': 'form-inline search-form filter-form remember', 'id': 'package-search-form'}}) }}
        {{ form_errors(form) }}

        <div class="input">
            <i class="fa fa-calendar" title='{{ 'form.searchType.check_in'|trans()}}'
               data-toggle='tooltip'></i>&nbsp{{ form_widget(form.begin) }}
        </div>
        <div class="input">
            - &nbsp{{ form_widget(form.end) }}
        </div>
        <div class="input">
            <i class="fa fa-male" title='{{ 'form.searchType.adults'|trans()}}'
               data-toggle='tooltip'></i>&nbsp{{ form_widget(form.adults) }}
        </div>
        <div class="input">
            <i class="fa fa-child" title='{{ 'form.searchType.children'|trans()}}'
               data-toggle='tooltip'></i>&nbsp{{ form_widget(form.children) }}
        </div>
        <div class="input">
            <i class="fa fa-bed" title='{{ 'form.searchType.room_type'|trans()}}'
               data-toggle='tooltip'></i>&nbsp{{ form_widget(form.roomType) }}
        </div>
        <div class="input">
            <i class="fa fa-file-text-o" title='{{ 'form.searchType.order'|trans()}}'
               data-toggle='tooltip'></i>&nbsp{{ form_widget(form.order) }}
        </div>

        {% include 'MBHBaseBundle:Actions:new.html.twig' with {'save_close': false, 'save_text': 'Искать'} %}
        <div class="hide">{{ form_end(form) }}</div>
    </div>

    <div class="row">
        <div id="package-search-results-wrapper" class="col-md-12">
            <div class="alert alert-info">
                <i class="fa fa-search"> </i> {{ "search.index.enter_search_data"|trans({}, "MBHPackageBundle") }}
            </div>
        </div>
    </div>

{% endblock %} 

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            setSearchDatepickers('{{ beginDate|date('Y-m-d') }}');
        });
    </script>
{% endblock %}
