{% extends 'MBHPackageBundle:Search:layout.html.twig' %}

{% set small_title = "search.index.search"|trans({}, "MBHPackageBundle") %}
{% set layout = "box" %}

{% block content %}
    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'package-search-filter-widget' } %}
        {% block content %}
            {{ form_start(form, {'action': path('package_search'), 'method': 'GET', 'attr': {'class': 'form-inline search-form filter-form mbh-start-date mbh-start-date-search', 'id': 'package-search-form'}}) }}
            {{ form_errors(form) }}
            <div class="input">
                <i class="fa fa-calendar fa-custom-style"
                   title='{{ 'form.searchType.check_in'|trans() }}'
                   data-toggle='tooltip'></i>
                {{ form_widget(form.begin) }}
            </div>
            <div class="input hidden">
                - &nbsp{{ form_widget(form.end) }}
            </div>

            <div class="input">
                <i class="fa fa-calendar-plus-o fa-custom-style"
                   title='{{ 'form.searchType.range'|trans() }}'
                   data-toggle='tooltip'></i>
                {{ form_widget(form.range) }}
            </div>

            <div class="group-human-input">
                <div class="input">
                    <i class="fa fa-male fa-custom-style"
                       title='{{ 'form.searchType.adults'|trans() }}'
                       data-toggle='tooltip'></i>
                    {{ form_widget(form.adults) }}
                </div>
                <div class="input">
                    <i class="fa fa-child fa-custom-style"
                       title='{{ 'form.searchType.children'|trans() }}'
                       data-toggle='tooltip'></i>
                    {{ form_widget(form.children) }}
                    <i class="fa fa-sort-numeric-asc"
                       id="search-children-ages"
                       title='{{ 'form.searchType.children_ages'|trans() }}'></i>
                </div>
            </div>

            <div class="input">
                <i class="fa fa-bed fa-custom-style"
                   title='{{ 'form.searchType.room_type'|trans() }}'
                   data-toggle='tooltip'></i>
                {{ form_widget(form.roomType) }}
            </div>
            <div class="input">
                <i class="fa fa-file-text-o fa-custom-style"
                   title='{{ 'form.searchType.order'|trans() }}'
                   data-toggle='tooltip'></i>
                {{ form_widget(form.order) }}
            </div>

            <div class="input">
                <i class="fa fa-users fa-custom-style"
                   title='{{ 'form.searchType.payer'|trans() }}'
                   data-toggle='tooltip'></i>
                {{ form_widget(form.tourist) }}
                {% if is_granted('ROLE_TOURIST_NEW') %}
                <small class="hidden-xs">
                    <a href="{{ path('tourist_new') }}"
                       id="add-guest" target="_blank"
                       title='{{ 'form.searchType.payer_add'|trans() }}'
                       data-toggle='tooltip'>
                       <i class="fa fa-plus"></i>
                    </a>
                </small>
                {% endif %}
            </div>

            {% if is_granted('ROLE_FORCE_BOOKING') %}
                <div class="input">
                    <i class="fa fa-exclamation-circle fa-custom-style"
                       title='{{ 'form.searchType.forceBooking'|trans() }}'
                       data-toggle='tooltip'></i>
                    {{ form_widget(form.forceBooking) }}
                </div>
            {% endif %}

            {% set clientConfig = client_config() %}
            {% if not clientConfig or not clientConfig.isInstantSearch %}
                <div class="input">
                    <button class="btn btn-primary" id="search-submit-button">
                        <i class="fa fa-search"></i> {{ 'search.index.search_submit_button.title'|trans}}
                    </button>
                </div>
            {% endif %}
            <div class="hide">
                {{ form_end(form) }}
            </div>


        {% endblock content %}
    {% endembed %}

    <div id="package-search-results-wrapper">
        <div class="bg-gray color-palette alert">
            <i class="fa fa-search"> </i> {{ "search.index.enter_search_data"|trans({}, "MBHPackageBundle") }}
        </div>
    </div>

    <div class="alert alert-danger hide" id="accommodation-alert">
        <i class="fa fa-exclamation-circle"></i> {{ "accommodation.alert"|trans({}, "MBHPackageBundle") }}
    </div>


    {% include '@MBHUser/Partials/addGuestModal.html.twig' %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            setSearchDatepickers('{{ 'now'|date_modify('-1 year')|date('Y-m-d') }}');
        });
        var canBookWithoutPayer = {{ client_config().canBookWithoutPayer ? 'true' : 'false' }};
    </script>
{% endblock %}
