<div class="spacer-top">
    {% if app.session.flashbag.has('search') %}
        <div class="autohide bg-gray color-palette disabled alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="search-flashbag" data-less="{{ 'hide'|trans }}" data-more="{{ 'show'|trans }}">
                {% for message in app.session.flashbag.get('search') %}
                    <p class="text-danger">
                        <small>{{ message }}</small>
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endif %}



    {% if results is not empty %}
        {% set clientConfig = client_config() %}

        <table class="package-search-table table table-striped table-hover table-condensed table-icons table-actions">
            <thead>
            <tr>
                <th class="td-xxs"></th>
                <th class="td-md">{{ "search.results.dates"|trans({}, "MBHPackageBundle") }}</th>
                <th>{{ "search.results.tariff"|trans({}, "MBHPackageBundle") }}</th>
                <th class="td-sm">{{ "search.results.quantity"|trans({}, "MBHPackageBundle") }}</th>
                {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') %}
                    <th class="td-sm">{{ "search.results.room"|trans({}, "MBHPackageBundle") }}</th>
                {% endif %}
                <th class="td-sm">{{ "search.results.guests"|trans({}, "MBHPackageBundle") }}</th>
                <th class="td-md">{{ "search.results.price"|trans({}, "MBHPackageBundle") }}</th>
                {% if is_granted('ROLE_PACKAGE_NEW') %}
                    <th class="td-md"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for row in results %}

                <tr class="mbh-grid-header1 info">
                    <td colspan="10">
                        <strong>{{ row.roomType }}</strong> -
                        <small>
                            {% if clientConfig and clientConfig.useRoomTypeCategory() and row.roomType.category %}
                                {{ row.roomType.category }} -
                            {% endif %}
                            мест: {{ row.roomType.places }}{% if row.roomType.additionalPlaces > 0 %}(+{{ row.roomType.additionalPlaces }}){% endif %}
                            - {{ row.roomType.hotel }}
                        </small>
                        <div class="pull-right">
                            {% if row.roomType.facilities %}
                                <small>
                                    {% for facility in row.roomType.facilities %}
                                        <i style="margin-left: 3px" data-toggle="tooltip"
                                           data-title="{{ facilities[facility] }}"
                                           class="fa fa-lg mbf-{{ facility }}"></i>
                                    {% endfor %}
                                </small>
                            {% endif %}
                            {% if query.limit %}
                                <a data-roomType="{{ clientConfig and clientConfig.useRoomTypeCategory() and row.roomType.category ? row.roomType.category.id : row.roomType.id }}"
                                   href="#" class="btn btn-xs btn-default search-all-tariffs-link margin-left-sm">
                                    все тарифы
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>

                {% for result in row.results %}
                    <tr {% if query.begin == result.begin and query.end == result.end and query.range %}class="success"{% endif %}>
                        <td class="text-center table-icon"><i class="fa fa-paper-plane-o"></i></td>
                        <td>
                            {{ result.begin|mbh_format }} - {{ result.end|mbh_format }}
                            <br>
                            <small>{{ result.nights }} {{ 'nights'|transchoice(result.nights) }}</small>
                        </td>
                        <td>

                            {% if result.priceTariffs|length > 1 %}
                                {{ result.priceTariffs|join(' / ') }}
                            {% else %}
                                {{ result.tariff }}
                            {% endif %}<br>
                            <small>
                                {{ result.roomType.isHostel ? "search.results.total_beds"|trans({}, "MBHPackageBundle") : "search.results.total_rooms"|trans({}, "MBHPackageBundle") }}
                                :
                                <span class="package-search-book-count">{{ result.roomsCount }}</span>
                            </small>
                        </td>
                        <td>
                            <select class="form-control quantity-select input-xxs">
                                {% for index in 1..(result.roomsCount <= 20 ? result.roomsCount : 20) %}
                                    <option value="{{ index }}">{{ index }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') %}
                            <td>
                                <select class="form-control input-sm search-room-select">
                                    <option></option>
                                    {% for room in  result.rooms %}
                                        <option {% if room.status is iterable and room.status is not empty %}data-icon="{% for status in room.status %}{% if status.code in roomStatusIcons|keys %}mbf-{{ roomStatusIcons[status.code] }};{% endif %}{% endfor %} "
                                                {% else %}data-icon=""{% endif %}
                                                {% if query.room == room.id %}selected{% endif %}
                                                value="{{ room.id }}">
                                            {{ room }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        {% endif %}
                        <td class="text-center">
                            <select class="form-control plain-html input-sm search-tourists-select">
                                {% for priceTourists, price  in result.prices %}

                                    {% set arr = priceTourists|split('_') %}
                                    <option value="{{ priceTourists }}">
                                        {% if arr[0] > 0 %}{{ arr[0] }} вз.{% endif %}{% if arr[0] > 0 and arr[1] > 0 %}+{% endif %}{% if arr[1] > 0 %}{{ arr[1] }} рб.{% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="text-right">
                            {% for priceTourists, price  in result.prices %}
                                <ul class="package-search-prices">
                                    <li class="{{ priceTourists }}_price">
                                        {{ price|number_format(2) }}
                                        {% set arr = priceTourists|split('_') %}
                                        <small>
                                            <i class="fa fa-question-circle" data-container="body" data-toggle="popover"
                                               data-placement="left" data-html="true"
                                               data-content="<small>{% for packagePrice in result.packagePrices(arr[0], arr[1]) %}{{ packagePrice.date|date('d.m.Y') }} - {{ packagePrice.price|number_format(2) }} - <i class='fa fa-sliders'></i> {{ packagePrice.tariff }}{% if packagePrice.promotion %} - <i class='fa fa-bookmark'></i> {{ packagePrice.promotion }}{% endif %}{% if packagePrice.special %} - <i class='fa fa-star'></i> {{ packagePrice.special }}{% endif %}<br>{% endfor %}</small>"></i>
                                        </small>
                                    </li>
                                </ul>
                            {% endfor %}
                            <small><i class='fa fa-sliders'> </i> {{ result.tariff.name }}</small>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('package_new', app.request.get('s')|merge({
                                roomType: result.roomType.id,
                                tariff: result.tariff.id,
                                begin: result.begin|date('d.m.Y'),
                                end: result.end|date('d.m.Y'),
                                forceBooking: result.forceBooking,
                                infants: result.infants,
                                query_id: result.queryId

                            })) }}"
                               target="_blank"
                               class="btn btn-success btn-xs package-search-book {{ is_granted('ROLE_PACKAGE_NEW') is empty ? 'hidden' }}"
                               title="Бронировать номер. Всего номеров: {{ result.roomsCount }}" data-toggle="tooltip">
                                <span class="package-search-book-reservation-text">{{ "search.results.reservate"|trans({}, "MBHPackageBundle") }}</span>
                                <span class="package-search-book-accommodation-text"
                                      style="display: none;">{{ "search.results.accommodation"|trans({}, "MBHPackageBundle") }}</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>


    {% elseif errors %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"> </i>
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% elseif results is iterable and results|length == 0 %}
        <div class="alert alert-warning"><i
                    class="fa fa-exclamation-circle"> </i> {{ "search.results.nothing_found_for_your_request"|trans({}, "MBHPackageBundle") }}
        </div>
    {% else %}
        <div class="bg-gray color-palette alert"><i
                    class="fa fa-search"> </i> {{ "search.results.enter_search_data"|trans({}, "MBHPackageBundle") }}
        </div>
    {% endif %}

    {% if specials is not empty %}
        <div id="package-search-special-wrapper" data-less="{{ 'hide'|trans }}" data-more="{{ 'show.more'|trans }}">
            <table class="package-search-special-table table table-striped table-hover table-condensed table-icons table-actions">
                <thead>
                <tr class="warning">
                    <th colspan="8">
                        {{ 'special.title'|trans }} ({{ query.begin|mbh_format }} - {{ query.end|mbh_format }})
                    </th>
                </tr>
                <tr>
                    <th class="td-xxs"></th>
                    <th>{{ "specials.title"|trans }}</th>
                    {#<tr>{{ "specials.hotel"|trans }}</tr>#}
                    <th class="td-md">{{ "specials.hotel"|trans }}</th>
                    <th class="td-md">{{ "specials.dates"|trans }}</th>
                    <th class="td-md">{{ "specials.roomTypes"|trans }}</th>
                    <th class="td-md">{{ "specials.tariff"|trans }}</th>
                    <th class="td-sm">{{ "specials.discount"|trans }}</th>
                    {#<th class="td-sm text-center">{{ "specials.sold"|trans }}</th>#}
                    <th class="td-md">Гости</th>
                    <th class="td-sm">Цена</th>
                    <th class="td-sm"></th>
                </tr>
                </thead>
                <tbody>
                {% for special in specials %}
                    {% if special.prices is defined and special.prices is not empty %}
                        {% set sPrice = special.prices.first %}
                    {% endif %}
                    {% if query.special == special %}{% set selectedSpecial = true %}{% else %}{% set selectedSpecial = false %}{% endif %}
                    <tr class="{{ selectedSpecial ? 'success' }}">
                        <td class="text-center"><i class='fa fa-star'></i></td>
                        <td><a target="_blank" href="{{ path('special_edit', {'id': special.id}) }}">{{ special }}</a>
                        </td>
                        <td>{{ special.hotel.name }}</td>
                        <td><span title="{{ special.begin|days_diff(query.begin) }}">{{ special.begin|mbh_format }}</span> - <span title="{{ special.end|days_diff(query.end) }}">{{ special.end|mbh_format }}</span> <br />

                        </td>
                        <td>
                            <small>{{ special.roomTypes|join(';<br>')|raw }}</small>
                        </td>
                        <td>
                            <small>{{ special.tariffs|join(';<br>')|raw }}</small>
                        </td>
                        <td>{{ special.discount|number_format(2) }} {% if not special.isPercent %}{{ currency()['text'] }}{% else %}%{% endif %}</td>
                        {#<td class="text-center">{{ special.sold }}/{{ special.limit }}</td>#}
                        <td class="search-special-tourist">
                            {% if sPrice.prices is defined and sPrice.prices is iterable %}
                            <select class="form-control plain-html input-sm search-special-tourist-select">
                                {% for priceTourists, price  in sPrice.prices %}
                                    {% set arr = priceTourists|split('_') %}
                                    <option data-adults="{{ arr[0] }}" data-children="{{ arr[1] }}" {% if (query.adults == arr[0]) and (query.children == arr[1]) %}selected{% endif %} value=" {{ price|number_format(2) }}">
                                        {% if arr[0] > 0 %}{{ arr[0] }} вз.{% endif %}{% if arr[0] > 0 and arr[1] > 0 %}+{% endif %}{% if arr[1] > 0 %}{{ arr[1] }} рб.{% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </td>
                        <td>
                            <span class="special-price"></span>
                        </td>

                        <td>
                            <a href="" data-id="{{ special.id }}"
                               class="booking-special-apply btn btn-success btn-xs">
                                <i class="fa fa-book"></i> Бронировать
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
