<div class="spacer-top">
    {% if app.session.flashbag.has('search') %}
        <div class="autohide bg-gray color-palette disabled alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div id="search-flashbag" data-less="{{ 'hide'|trans }}" data-more="{{ 'show'|trans }}">
                {% for message in app.session.flashbag.get('search') %}
                    <p class="text-danger">
                        <small>{{ message }}</small>
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if specials is not empty %}
        <div id="package-search-special-wrapper" data-less="{{ 'hide'|trans }}" data-more="{{ 'show.more'|trans }}">
        <table class="package-search-special-table table table-striped table-hover table-condensed table-icons table-actions">
            <thead>
            <tr class="warning">
                <th colspan="8">
                    {{ 'special.title'|trans }}
                </th>
            </tr>
            <tr>
                <th class="td-xxs"></th>
                <th>{{ "specials.title"|trans }}</th>
                <th class="td-md">{{ "special.group.dates"|trans }}</th>
                <th class="td-md">{{ "mbhpricebundle.view.roomcache.index.tipnomera"|trans }}</th>
                <th class="td-md">{{ "specials.tariff"|trans }}</th>
                <th class="td-sm">{{ "specials.discount"|trans }}</th>
                <th class="td-sm text-center">{{ "specials.sold"|trans }}</th>
                <th class="td-sm"></th>
            </tr>
            </thead>
            <tbody>
            {% for special in specials %}
                {% if query.special == special %}{% set selectedSpecial = true %}{% else %}{% set selectedSpecial = false %}{% endif %}
                {% set discount %}
                    {{ special.discount|number_format(2) }} {% if not special.isPercent %}{{ currency()['text']|trans }}{% else %}%{% endif %}
                {% endset %}
                {% set btn_special %}
                    <a href="" data-id="{{ special.id }}" class="search-special-apply btn btn-{{ selectedSpecial ? 'default' : 'primary' }} {{ selectedSpecial ? 'cancel' }} btn-xs">
                        <i class="fa fa-search"></i> {{ selectedSpecial ? 'cancel'|trans : 'special.apply'|trans }}
                    </a>
                {% endset %}
                <tr{{ selectedSpecial ? 'class="success"' }}>
                    <td><i class='fa fa-star'></i></td>
                    <td><a target="_blank" href="{{ path('special_edit', {'id': special.id}) }}">{{ special }}</a></td>
                    <td>{{ special.begin|mbh_format }} - {{ special.end|mbh_format }}</td>
                    <td>{% if special.roomTypes is not empty %}<small>{{ special.roomTypes|join(';<br>')|raw }}</small>{% endif %}</td>
                    <td>{% if special.roomTypes is not empty %}<small>{{ special.tariffs|join(';<br>')|raw }}</small>{% endif %}</td>
                    <td>{{ discount }}</td>
                    <td class="text-center">{{ special.sold }}/{{ special.limit }}</td>
                    <td>{{ btn_special }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}

    {% if results is not empty %}
    {% set clientConfig = client_config() %}

    <table class="package-search-table table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th class="hidden-xs td-md">{{ "search.results.dates"|trans({}, "MBHPackageBundle") }}</th>
            <th class="hidden-xs">{{ "search.results.tariff"|trans({}, "MBHPackageBundle") }}</th>
            <th class="hidden-xs td-sm">{{ "search.results.quantity"|trans({}, "MBHPackageBundle") }}</th>
            {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') %}
                <th class="hidden-xs td-sm">{{ "search.results.room"|trans({}, "MBHPackageBundle") }}</th>
            {% endif %}
            <th class="hidden-xs td-sm">{{ "search.results.guests"|trans({}, "MBHPackageBundle") }}</th>
            <th class="hidden-xs td-md">{{ "search.results.price"|trans({}, "MBHPackageBundle") }}</th>
            {% if is_granted('ROLE_PACKAGE_NEW') %}
                <th class="hidden-xs td-md"></th>
            {% endif %}
            <th class="visible-xs">

            </th>
        </tr>
        </thead>
        <tbody>
    {% for row in results %}

        <tr class="mbh-grid-header1 info">
            <td colspan="11">
                <strong>{{ row.roomType }}</strong> -
                <small>
                    {% if clientConfig and clientConfig.useRoomTypeCategory() and row.roomType.category %}
                        {{ row.roomType.category }} -
                    {% endif %}
                    {{ 'search.results.number_of_places'|trans}}: {{ row.roomType.places }}{% if row.roomType.additionalPlaces > 0 %}(+{{ row.roomType.additionalPlaces }}){% endif %}
                    - {{ row.roomType.hotel }}
                </small>
                <div class="pull-right">
                {% if row.roomType.facilities %}
                    <small>
                        {% for facility in row.roomType.facilities %}
                            <i style="margin-left: 3px" data-toggle="tooltip" data-title="{{ facilities[facility]|trans }}" class="fa fa-lg mbf-{{ facility }}"></i>
                        {% endfor %}
                    </small>
                {% endif %}
                {% if query.limit %}
                    <a data-roomType="{{ clientConfig and clientConfig.useRoomTypeCategory() and row.roomType.category ? row.roomType.category.id : row.roomType.id }}" href="#" class="btn btn-xs btn-default search-all-tariffs-link margin-left-sm">
                        {{ 'search.results.all_tariffs'|trans}}
                    </a>
                {% endif %}
                </div>
            </td>
        </tr>

        {% for result in row.results %}
            {% set resultDate %}
                {{ result.begin|mbh_format }} - {{ result.end|mbh_format }}
            {% endset %}
            {% set resultDate_night %}
                <small>{{ result.nights }} {{ 'nights'|transchoice(result.nights) }}</small>
            {% endset %}
            {% set resultTarrifs_name %}
                {% if result.priceTariffs|length > 1 %}
                    {{ result.priceTariffs|join(' / ') }}
                {% else %}
                    {{ result.tariff }}
                {% endif %}
            {% endset %}
            {% set resultTarrifs_small %}
                <small>
                    {{ result.roomType.isHostel ? "search.results.total_beds"|trans({}, "MBHPackageBundle") : "search.results.total_rooms"|trans({}, "MBHPackageBundle") }}
                    :
                    <span class="package-search-book-count">{{ result.roomsCount }}</span>
                </small>
            {% endset %}
            {% set resultRoomsCount %}
                <select class="form-control quantity-select input-xxs">
                    {% for index in 1..(result.roomsCount <= 20 ? result.roomsCount : 20) %}
                        <option value="{{ index }}">{{ index }}</option>
                    {% endfor %}
                </select>
            {% endset %}
            {% set resultRooms %}
                {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') %}
                    <select class="form-control input-sm search-room-select">
                        <option></option>
                        {% for room in  result.rooms %}
                            <option  {% if room.status is iterable and room.status is not empty %}data-icon="{% for status in room.status %}{% if status.code in roomStatusIcons|keys  %}mbf-{{ roomStatusIcons[status.code] }};{% endif %}{% endfor %} "{% else %}data-icon=""{% endif %}
                                    {% if query.room == room.id %}selected{% endif %}
                                     value="{{ room.id }}">
                                {{ room }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
            {% endset %}
            {% set price %}
                {% for priceTourists, price  in result.prices %}
                    <ul class="package-search-prices">
                        <li class="{{ priceTourists }}_price">
                            {{ price|number_format(2) }}
                            {% set arr = priceTourists|split('_') %}
                            <small>
                                <i class="fa fa-question-circle" data-container="body" data-toggle="popover"
                                   data-placement="left"  data-html="true"
                                   data-content="<small>{% for packagePrice in result.packagePrices(arr[0], arr[1]) %}{{ packagePrice.date|date('d.m.Y') }} - {{ packagePrice.price|number_format(2) }} - <i class='fa fa-sliders'></i> {{ packagePrice.tariff }}{% if packagePrice.promotion %} - <i class='fa fa-bookmark'></i> {{ packagePrice.promotion }}{% endif %}{% if packagePrice.special %} - <i class='fa fa-star'></i> {{ packagePrice.special }}{% endif %}<br>{% endfor %}</small>"></i>
                            </small>
                        </li>
                    </ul>
                {% endfor %}
            {% endset %}
            {% set touristSelect %}
                <select class="form-control plain-html input-sm search-tourists-select">
                    {% for priceTourists, price  in result.prices %}
                        {% set arr = priceTourists|split('_') %}
                        <option value="{{ priceTourists }}">
                            {% if arr[0] > 0 %}{{ arr[0] }} {{ 'search.results.number_of_adults'|trans}}{% endif %}{% if arr[0] > 0 and arr[1] > 0 %}+{% endif %}{% if arr[1] > 0 %}{{ arr[1] }} {{ 'search.results.number_of_children'|trans}}{% endif %}
                        </option>
                    {% endfor %}
                </select>
            {% endset %}
            {% set finalLink %}
                <a href="{{ path('package_new', app.request.get('s')|merge({
                    roomType: result.roomType.id,
                    tariff: result.tariff.id,
                    begin: result.begin|date('d.m.Y'),
                    end: result.end|date('d.m.Y'),
                    forceBooking: result.forceBooking,
                    infants: result.infants,
                    query_id: result.queryId

                })) }}"
                   target="_blank"
                   class="btn btn-success btn-xs package-search-book {{ is_granted('ROLE_PACKAGE_NEW') is empty ? 'hidden' }}"
                   title="{{ 'search.results.book_button.title'|trans }}: {{ result.roomsCount }}" data-toggle="tooltip">
                    <span class="package-search-book-reservation-text">{{ "search.results.reservate"|trans({}, "MBHPackageBundle") }}</span>
                    <span class="package-search-book-accommodation-text"
                          style="display: none;">{{ "search.results.accommodation"|trans({}, "MBHPackageBundle") }}</span>
                </a>
            {% endset %}

            <tr {% if query.begin == result.begin and query.end == result.end and query.range %}class="success"{% endif %}>
                <td class="text-center table-icon"><i class="fa fa-paper-plane-o"></i></td>
                <td class="hidden-xs">
                    {{ resultDate }}
                    <br>
                    {{ resultDate_night }}
                </td>
                <td class="hidden-xs">
                    {{ resultTarrifs_name }}
                    <br>
                    {{ resultTarrifs_small }}
                </td>
                <td class="hidden-xs">
                    {{ resultRoomsCount }}
                </td>
                <td class="hidden-xs">
                    {{ resultRooms }}
                </td>
                <td class="hidden-xs text-center">
                    {{ touristSelect }}
                </td>
                <td class="hidden-xs text-right">
                    {{ price }}
                    <small><i class='fa fa-sliders'> </i> {{ result.tariff.name }}</small>
                </td>
                <td class="hidden-xs text-center">
                    {{ finalLink }}
                </td>
                <td class="visible-xs result-tbl-for-xs">
                    <div>
                        <div>
                            {{ resultDate }}
                        </div>
                        {{ resultDate_night }}
                    </div>
                    <div>
                        <div>
                            {{ resultTarrifs_name }}
                        </div>
                        {{ price }}
                        {{ resultTarrifs_small }}
                    </div>
                    <div>
                        <div class="order-data">
                            {{ "search.results.quantity"|trans({}, "MBHPackageBundle") }}
                            &nbsp;:&nbsp;
                            {{ resultRoomsCount }}
                        </div>
                        <div class="order-data">
                            {{ "search.results.room"|trans({}, "MBHPackageBundle") }}
                            &nbsp;:&nbsp;
                            {{ resultRooms }}
                        </div>
                        {#<div class="order_data">#}
                            {#{{ "search.results.guests"|trans({}, "MBHPackageBundle") }}#}
                            {#&nbsp;:&nbsp;#}
                            {#{{ touristSelect }}#}
                        {#</div>#}
                    </div>
                    <div>
                        {{ finalLink }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody></table>


    {% elseif errors %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"> </i>
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% elseif results is iterable and results|length == 0 %}
        <div class="alert alert-warning"><i
                    class="fa fa-exclamation-circle"> </i> {{ "search.results.nothing_found_for_your_request"|trans({}, "MBHPackageBundle") }}
        </div>
    {% else %}
        <div class="bg-gray color-palette alert"><i
                    class="fa fa-search"> </i> {{ "search.results.enter_search_data"|trans({}, "MBHPackageBundle") }}
        </div>
    {% endif %}
</div>
