<div class="spacer-top">

    {% if results is not empty %}
    {% set clientConfig = client_config() %}

    <table class="package-search-table table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th class="td-md">{{ "search.results.dates"|trans({}, "MBHPackageBundle") }}</th>
            <th>{{ "search.results.tariff"|trans({}, "MBHPackageBundle") }}</th>
            <th class="td-sm">{{ "search.results.quantity"|trans({}, "MBHPackageBundle") }}</th>
            {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') %}
                <th class="td-sm">{{ "search.results.room"|trans({}, "MBHPackageBundle") }}</th>
            {% endif %}
            <th class="td-sm">{{ "search.results.guests"|trans({}, "MBHPackageBundle") }}</th>
            <th class="td-md">{{ "search.results.price"|trans({}, "MBHPackageBundle") }}</th>
            {% if is_granted('ROLE_PACKAGE_NEW') %}
                <th class="td-md"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
    {% for row in results %}

        <tr class="mbh-grid-header1 info">
            <td colspan="10">
                <strong>{{ row.roomType }}</strong> -
                <small>
                    {% if clientConfig and clientConfig.useRoomTypeCategory() and row.roomType.category %}
                        {{ row.roomType.category }} -
                    {% endif %}
                    мест: {{ row.roomType.places }}{% if row.roomType.additionalPlaces > 0 %}(+{{ row.roomType.additionalPlaces }}){% endif %}
                    - {{ row.roomType.hotel }}
                </small>
                <div class="pull-right">
                {% if row.roomType.facilities %}
                    <small>
                        {% for facility in row.roomType.facilities %}
                            <i style="margin-left: 3px" data-toggle="tooltip" data-title="{{ facilities[facility] }}" class="fa fa-lg mbf-{{ facility }}"></i>
                        {% endfor %}
                    </small>
                {% endif %}
                </div>
            </td>
        </tr>

        {% for result in row.results %}
            <tr {% if query.begin == result.begin and query.end == result.end and query.range %}class="success"{% endif %}>
                <td class="text-center table-icon"><i class="fa fa-paper-plane-o"></i></td>
                <td>
                    {{ result.begin|mbh_format }} - {{ result.end|mbh_format }}
                    <br>
                    <small>{{ result.nights }} {{ 'nights'|transchoice(result.nights) }}</small>
                </td>
                <td>

                    {% if result.priceTariffs|length > 1 %}
                        {{ result.priceTariffs|join(' / ') }}
                    {% else %}
                        {{ result.tariff }}
                    {% endif %}<br>
                    <small>
                        {{ result.roomType.isHostel ? "search.results.total_beds"|trans({}, "MBHPackageBundle") : "search.results.total_rooms"|trans({}, "MBHPackageBundle") }}
                        :
                        <span class="package-search-book-count">{{ result.roomsCount }}</span>
                    </small>
                </td>
                <td>
                    <select class="form-control quantity-select input-xxs">
                        {% for index in 1..(result.roomsCount <= 20 ? result.roomsCount : 20) %}
                            <option value="{{ index }}">{{ index }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') %}
                    <td>
                        <select class="form-control input-sm search-room-select">
                            <option></option>
                            {% for room in  result.rooms %}
                                <option  {% if room.status is iterable and room.status is not empty %}data-icon="{% for status in room.status %}{% if status.code in roomStatusIcons|keys  %}mbf-{{ roomStatusIcons[status.code] }};{% endif %}{% endfor %} "{% else %}data-icon=""{% endif %}
                                        {% if query.room == room.id %}selected{% endif %}
                                        value="{{ room.id }}">
                                    {{ room }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                {% endif %}
                <td class="text-center">
                    <select class="form-control plain-html input-sm search-tourists-select">
                        {% for priceTourists, price  in result.prices %}

                            {% set arr = priceTourists|split('_') %}
                            <option value="{{ priceTourists }}">
                                {% if arr[0] > 0 %}{{ arr[0] }} вз.{% endif %}{% if arr[0] > 0 and arr[1] > 0 %}+{% endif %}{% if arr[1] > 0 %}{{ arr[1] }} рб.{% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="text-right">
                    {% for priceTourists, price  in result.prices %}
                        <ul class="package-search-prices">
                            <li class="{{ priceTourists }}_price">{{ price|number_format(2) }}</li>
                        </ul>
                    {% endfor %}
                    <small><i class='fa fa-sliders'> </i> {{ result.tariff.name }}</small>
                </td>
                <td class="text-center">
                    <a href="{{ path('package_new', app.request.get('s')|merge({
                        roomType: result.roomType.id,
                        tariff: result.tariff.id,
                        begin: result.begin|date('d.m.Y'),
                        end: result.end|date('d.m.Y'),
                        forceBooking: result.forceBooking,
                        infants: result.infants
                    })) }}"
                       target="_blank"
                       class="btn btn-success btn-xs package-search-book {{ is_granted('ROLE_PACKAGE_NEW') is empty ? 'hidden' }}"
                       title="Бронировать номер. Всего номеров: {{ result.roomsCount }}" data-toggle="tooltip">
                        <span class="package-search-book-reservation-text">{{ "search.results.reservate"|trans({}, "MBHPackageBundle") }}</span>
                                <span class="package-search-book-accommodation-text"
                                      style="display: none;">{{ "search.results.accommodation"|trans({}, "MBHPackageBundle") }}</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody></table>


    {% elseif errors %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"> </i>
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% elseif results is iterable and results|length == 0 %}
        <div class="alert alert-warning"><i
                    class="fa fa-exclamation-circle"> </i> {{ "search.results.nothing_found_for_your_request"|trans({}, "MBHPackageBundle") }}
        </div>
    {% else %}
        <div class="bg-gray color-palette alert"><i
                    class="fa fa-search"> </i> {{ "search.results.enter_search_data"|trans({}, "MBHPackageBundle") }}
        </div>
    {% endif %}
</div>