<form target="_top" class="payment-system-form" {{ data.formId is defined ? 'id="' ~ data.formId ~'"'}}method="post" action="{{ data.test is defined and data.test ? data.testAction|default('') : data.action|default('') }}">
    <input type="hidden" class="payment-system-form-shop-id" name="Shop_IDP" value="{{ data.shopId|default('') }}">
    <input type="hidden" class="payment-system-form-total" name="Subtotal_P" value="{{ data.total|default('') }}">
    <input type="hidden" class="payment-system-form-order-id" name="Order_IDP" value="{{ data.orderId|default('') }}">
    <input type="hidden" name="Lifetime" value="{{ 60 * 30 }}">
    <input type="hidden" class="payment-system-form-tourist-id" name="Customer_IDP" value="{{ data.touristId|default('') }}">
    <input type="hidden" class="payment-system-form-url" name="ResponseUrl" value="{{ data.url|default('') }}">
    <input type="hidden" class="payment-system-form-email" name="Email" value="{{  data.touristEmail|default('') }}">
    <input type="hidden" class="payment-system-form-comment" name="Comment" value="{{ data.comment|default('') }}">
    <input type="hidden" class="payment-system-form-signature" name="Signature" value="{{ data.signature|default('')}}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
</form>