<form class="payment-system-form" {{ data.formId is defined ? 'id="' ~ data.formId ~'"'}}method="post" action="{{ data.test is defined and data.test ? data.testAction|default('') : data.action|default('') }}">
    {% set currency_code = {'rub': 'RUB', 'usd': 'USD'} %}
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="{{ data.shopId }}">
    <input type="hidden" name="item_name" value="{{ data.orderId|default('') }}">
    <input type="hidden" name="item_number" value="{{ data.comment|default('') }}">
    <input type="hidden" name="amount" value="{{ data.total|default('') }}">
    <INPUT TYPE="hidden" name="charset" value="utf-8">
    <input type="hidden" name="currency_code" value="{{  attribute(currency_code, currency) }}">
    <input type="hidden" name="fees_payer" value="SENDER">
    <input type="hidden" name="email" value="{{  data.touristEmail|default('') }}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
    {#{{  attribute(currency_code, currency) }}#}
</form>


