<form class="payment-system-form" {{ data.formId is defined ? 'id="' ~ data.formId ~'"'}}method="post" action="{{ data.test is defined and data.test ? data.testAction|default('') : data.action|default('') }}">
    <input type="hidden" name="eshopId" value="{{ data.shopId|default('') }}">
    <input type="hidden" name="orderId" value="{{ data.orderId|default('') }}">
    <input type="hidden" name="serviceName" value="{{ data.comment|default('') }}">
    <input type="hidden" name="recipientAmount" value="{{ data.total|default('') }}">
    <input type="hidden" name="recipientCurrency" value="RUR">
    <input type="hidden" name="user_email" value="{{  data.touristEmail|default('') }}">
    <input type="hidden" name="hash" value="{{ data.signature|default('') }}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
</form>