<form class="payment-system-form" {{ data.formId is defined ? 'id="' ~ data.formId ~'"'}}method="post" action="{{ data.test is defined and data.test ? data.testAction|default('') : data.action|default('') }}">
    <input type="hidden" class="payment-system-form-shop-id" name="Shop_IDP" value="{{ data.shopId|default('') }}">
    <input type="hidden" class="payment-system-form-total" name="Subtotal_P" value="{{ data.total|default('') }}">
    <input type="hidden" class="payment-system-form-order-id" name="Order_IDP" value="{{ data.orderId|default('') }}">
    <input type="hidden" class="payment-system-form-url" name="URL_RETURN" value="{{ data.url|default(app.request.schemeAndHttpHost ~ app.request.requestUri )}}">
    <input type="hidden" class="payment-system-form-email" name="Email" value="{{  data.touristEmail|default('') }}">
    <input type="hidden" class="payment-system-form-email" name="Phone" value="{{  data.touristPhone|default('') }}">
    <input type="hidden" class="payment-system-form-comment" name="Comment" value="{{ data.comment|default('') }}">
    <input type="hidden" class="payment-system-form-signature" name="Signature" value="{{ data.signature|default('')}}">
    <input type="hidden" class="payment-system-form-currency" name="Currency" value="{{ data.currency|default('')}}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
</form>