<ul class="nav nav-tabs" role="tablist">
    <li {{ active == 1 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_edit', {'id': entity.id}) }}">
            Общая информация
        </a>
    </li>
    <li {{ active == 2 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_promotions_edit', {'id': entity.id}) }}">
            Акции
        </a>
    </li>
    <li {{ active == 3 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_services_edit', {'id': entity.id}) }}">
            Услуги
        </a>
    </li>
</ul>