<ul class="nav nav-tabs" role="tablist">
    <li {{ active == 1 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_edit', {'id': entity.id}) }}">
            <i class="fa fa-info-circle"></i> Общая информация
        </a>
    </li>
    <li {{ active == 2 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_promotions_edit', {'id': entity.id}) }}">
            <i class="fa fa-bookmark"></i> Акции
        </a>
    </li>

    <li {{ active == 3 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_services_edit', {'id': entity.id}) }}">
            <i class="fa fa-plug"></i> Услуги
        </a>
    </li>
    {% if entity.parent %}
    <li {{ active == 4 ? 'class="active"' : '' }}>
        <a href="{{ path('tariff_inheritance_edit', {'id': entity.id}) }}">
            <i class="fa fa-arrow-circle-right"></i> Наследование
        </a>
    </li>
    {% endif %}
</ul>