{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = 'mbhpricebundle.view.tariff.edit.redaktirovaniye'|trans ~ " <" ~ entity.name ~ ">" %}
{% set layout = 'tabs' %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('js/jquery.collection.js') }}></script>
    <script type="text/javascript">
        window.addEventListener('load', function(ev) {
            (function() {
                var divWithMsg = document.querySelector('.msg_about_duplication');

                if (divWithMsg === null) {
                    return;
                }

                var checkOnDuplicates = function() {
                        var nodeList = [].slice.call(document.querySelectorAll('.tariff_combination_item select')),
                            showMessage = false,
                            selectedItems = {};

                        nodeList.forEach(function(element) {
                            if (selectedItems[element.value] === undefined) {
                                selectedItems[element.value] = true;
                                element.style.border = '1px solid green';
                            } else {
                                element.style.border = '1px solid red';
                                showMessage = true;
                            }
                        });

                        if (showMessage) {
                            divWithMsg.style.display = '';
                        } else {
                            divWithMsg.style.display = 'none';
                        }
                    },
                    mbh_combination_tariff = {
                        max: {{ form.vars['max_amount_tariffs'] }},
                        position_field_selector: '.tariff-position',
                        add_at_the_end: true,
                        add: '<a href="#" class="btn btn-success" title="{{ 'mbhpricebundle.form.tariff_combination_holder.add_element' | trans }}"><span class="fa fa-plus-square"></span></a>\n',
                        up: '<a href="#" class="btn btn-default" title="{{ 'mbhpricebundle.form.tariff_combination_holder.move_element_up' | trans }}"><span class="fa fa-arrow-up"></span></a>',
                        down: '<a href="#" class="btn btn-default" title="{{ 'mbhpricebundle.form.tariff_combination_holder.move_element_down' | trans }}"><span class="fa fa-arrow-down"></span></a>\n',
                        remove: '<a href="#" class="btn btn-default" title="{{ 'mbhpricebundle.form.tariff_combination_holder.delete_element' | trans }}"><span class="fa fa-trash"></span></a>\n',
                        after_remove: function(collection, element) {
                            checkOnDuplicates();
                        }
                    };

                $('.my-selector').collection(mbh_combination_tariff);

                document.querySelector('.my-selector').addEventListener('change', function(evt) {
                    checkOnDuplicates();
                });

            })();
        });
    </script>
{% endblock %}

{% block content %}

    {% include 'MBHPriceBundle:Tariff:editTabs.html.twig' with {'active' : 1, 'entity': entity} %}
    <div class="tab-content">
        <div class="tab-pane active" id="general_info">
        {%
            form_theme form
                'jquery.collection.html.twig'
                '@MBHPrice/Tariff/form/sortable_field.html.twig'
        %}
        {{ form_start(form, {'action': path('tariff_update', {'id': entity.id}),  'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': entity.isDefault ? null : 'tariff_delete' } %}
        {{ form_end(form) }}
        </div>
        {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'tariff_delete' } %}
    </div>

{% endblock %}
