{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = "список" %}
{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'tariff-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline filter-form icon-label-form', id: 'tariff-form'}}) }}
            <div class="form-group">
                <label><i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i></label>
                {{ form_widget(form.begin, {attr: {class: 'datepicker begin-datepicker'}}) }} —
                {{ form_widget(form.end, {attr: {class: 'datepicker end-datepicker'}}) }}
            </div>
            <div class="form-group">
                {% include 'MBHBaseBundle:Partials:datepickerPeriodSelect.html.twig' %}
            </div>
            <div class="form-group">
                <div class="input">
                    <i class="fa fa-check"
                       title="{{ 'tariff.filter.status'|trans({}, 'MBHPriceBundle') }}" data-toggle="tooltip"
                    ></i>
                    &nbsp;
                    <input type="checkbox" name="isOnline" id="isOnline" value="1">
                </div>
                {{ form_widget(form._token) }}
                {{ form_rest(form.search) }}
            </div>
            {{ form_end(form, {render_rest: false}) }}
        {% endblock %}
    {% endembed %}

    <table id="tariff-table" class="tariff-table table table-striped table-hover table-condensed table-icons table-actions not-auto-datatable">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th>Название</th>
            <th>База</th>
            <th class="td-xs text-center">Ребенок</th>
            <th class="td-xs text-center">Инфант</th>
            <th class="td-md text-center">Сроки</th>
            <th class="td-sm text-center">Основной</th>
            <th class="td-sm text-center">Онлайн</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'tariff_new', 'role': 'TARIFF'} %}

{% endblock %} 

