{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'tariff-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline filter-form icon-label-form', id: 'mbh_filter_form'}}) }}
            <div class="filter-form_group-date">
                <div class="filter-form_input">
                    <i class="fa fa-calendar" title='{{ 'mbhpricebundle.view.tariff.index.daty'|trans }} ' data-toggle='tooltip'></i>
                    <div class="filter-form_input">
                        {{ form_widget(form.begin, {attr: {class: 'datepicker begin-datepicker'}}) }}
                        <span class="filter-form_separator"></span>
                        {{ form_widget(form.end, {attr: {class: 'datepicker end-datepicker'}}) }}
                    </div>
                </div>
                <div class="filter-form_input">
                    <i class="fa fa-chevron-down " title='{{ 'tariff.filter.status'|trans({}, 'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                    {{ form_widget(form.isOnline) }}
                </div>
                <div class="filter-form_input">
                    <i class="fa fa-check" title="{{ 'tariff.filter.state'|trans({}, 'MBHPriceBundle') }}" data-toggle="tooltip"></i>
                    {{ form_widget(form.isEnabled) }}
                </div>
                {{ form_widget(form._token) }}
            </div>
            {{ form_end(form, {render_rest: false}) }}
        {% endblock %}
    {% endembed %}

    <table id="tariff-table" class="tariff-table table table-striped table-hover table-condensed table-icons table-actions not-auto-datatable">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th class="td-xs text-center">
                <i class="fa fa-sort-numeric-desc" data-toggle="tooltip" data-placement="top" title="{{ 'position'|trans }}"></i>
            </th>
            <th>{{ 'tariff.table.name'|trans({}, 'MBHPriceBundle') }}</th>
            <th>{{ 'tariff.table.base'|trans({}, 'MBHPriceBundle') }}</th>
            <th class="td-xs text-center">
                {{ 'tariff.table.children'|trans({}, 'MBHPriceBundle') }}
            </th>
            <th class="td-xs text-center">
                {{ 'tariff.table.infant'|trans({}, 'MBHPriceBundle') }}
            </th>
            <th class="td-md text-center">
                {{ 'tariff.table.terms'|trans({}, 'MBHPriceBundle') }}
            </th>
            <th class="td-sm text-center">
                {{ 'tariff.table.default'|trans({}, 'MBHPriceBundle') }}
            </th>
            <th class="td-sm text-center">
                {{ 'tariff.table.online'|trans({}, 'MBHPriceBundle') }}
            </th>
            <th class="td-sm sorting_disabled"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'tariff_new', 'role': 'TARIFF'} %}

{% endblock %}
