{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = 'mbhpricebundle.view.tariff.index.spisok'|trans %}
{% set layout = 'box' %}

{% block content %}

    <table class="tariffs-table table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th>{{ 'mbhpricebundle.view.tariff.index.nazvaniye'|trans }} </th>
            <th>{{ 'mbhpricebundle.view.tariff.index.baza'|trans }} </th>
            <th class="td-xs text-center">{{ 'mbhpricebundle.view.tariff.index.rebenok'|trans }} </th>
            <th class="td-xs text-center">{{ 'mbhpricebundle.view.tariff.index.infant'|trans }} </th>
            <th class="td-md text-center">{{ 'mbhpricebundle.view.tariff.index.sroki'|trans }} </th>
            <th class="td-sm text-center">{{ 'mbhpricebundle.view.tariff.index.osnovnoy'|trans }} </th>
            <th class="td-sm text-center">{{ 'mbhpricebundle.view.tariff.index.onlayn'|trans }} </th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.isEnabled is empty %} class="danger"{% endif %}>
                <td class="text-center table-icon {{ entity.parent ? 'text-primary' }}"><i class="fa fa-sliders"></i></td>
                <td>
                    {% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': entity, 'route': 'tariff'} %}{% endembed %}
                </td>
                <td>
                    <small>{{ entity.parent }}</small>
                </td>
                <td class="text-center">
                    {{ entity.childAge }}
                </td>
                <td class="text-center">
                    {{ entity.infantAge }}
                </td>
                <td class="text-center">
                    {{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}
                </td>
                <td class="text-center">
                    {% if entity.isDefault %}
                        <span class="label label-success">{{ 'mbhpricebundle.view.tariff.index.da'|trans }} </span>
                    {% else %}
                        <span class="label label-default">{{ 'mbhpricebundle.view.tariff.index.net'|trans }} </span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if entity.isOnline %}
                        <span class="label label-success">{{ 'mbhpricebundle.view.tariff.index.da'|trans }} </span>
                    {% else %}
                        <span class="label label-default">{{ 'mbhpricebundle.view.tariff.index.net'|trans }} </span>
                    {% endif %}
                </td>
                <td class="table-actions-td text-right">
                    {% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': entity, 'route': 'tariff', 'copy': entity.parent is empty } %}
                        {% block additional_buttons %}
                            {% if entity.parent is empty and is_granted('ROLE_TARIFF_NEW') %}
                                <a href='{{ path('tariff_extend', { 'id': entity.id }) }}' class='btn btn-default btn-xs' title='{{ 'mbhpricebundle.view.tariff.index.sozdatʹdocherniytarif'|trans }} ' data-toggle='tooltip'>
                                    <i class='fa fa-arrow-circle-right'></i>
                                </a>
                            {% endif %}
                        {% endblock %}
                    {% endembed %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'tariff_new', 'role': 'TARIFF'} %}

{% endblock %} 

