{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title =  'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 7 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="bg-gray color-palette alert">
                <i class="{{ currency().icon }}"></i>
                {{ 'order.cash.paid_price'|trans({}, 'MBHPackageBundle') }} {{ entity.paid|number_format(2) }}
                / {{ entity.price|number_format(2) }}
                &nbsp;
                {% if entity.isPaid %}
                    <small class="text-success"><i
                                class="fa fa-check"> </i> {{ 'order.cash.paid'|trans({}, 'MBHPackageBundle') }}</small>
                {% else %}
                    <small class="text-danger"><i
                                class="fa fa-times"> </i> {{ 'order.cash.not_paid'|trans({}, 'MBHPackageBundle') }}
                    </small>
                {% endif %}
            </div>

            {% if docs|length %}
                <table id="cash-package-table"
                       class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
                    <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th class="td-sm"></th>
                        <th class="td-md">{{ 'order.cash.payer'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md text-center">{{ 'order.cash.income'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md text-center">{{ 'order.cash.outcome'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'order.cash.operation_type'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'order.cash.date'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md text-center">{{ 'order.cash.is_paid'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'order.cash.removed'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cash in docs %}

                        <tr class="{{ cash.isConfirmed is empty and cash.isPaid ? 'info' }} {{ cash.deletedAt ? 'danger' }} {{ cash.isPaid is empty ? 'transparent-tr' }}">
                            <td class="text-center"><i class='{{ currency().icon }}'></i></td>
                            <td>{{ cash.number }}</td>
                            <td>{{ cash.payer }}</td>
                            <td class="text-right">
                                {% if cash.operation not in ['fee', 'out'] %}
                                    <a target="_blank"
                                       href='{{ path('cash_edit', { 'id': cash.id }) }}' {{ is_granted('ROLE_BOOKKEEPER') ? 'rel="main"' }}
                                       class='text-success'
                                       title='{{ 'order.cash.edit_record'|trans({}, 'MBHPackageBundle') }}'
                                       data-toggle='tooltip'>
                                        {{ cash.total|number_format(2) }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if cash.operation in ['fee', 'out'] %}
                                    <a target="_blank"
                                       href='{{ path('cash_edit', { 'id': cash.id }) }}' {{ is_granted('ROLE_BOOKKEEPER') ? 'rel="main"' }}
                                       class='text-danger'
                                       title='{{ 'order.cash.edit_record'|trans({}, 'MBHPackageBundle') }}'
                                       data-toggle='tooltip'>
                                        {{ cash.total|number_format(2) }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ operations[cash.operation]|trans }}<br>
                                <small>{{ methods[cash.method]|trans({}, 'MBHCashBundle') }}</small>
                            </td>
                            <td>{{ cash.documentDate|date('d.m.Y') }}</td>
                            <td class="text-center">{% if cash.isPaid is empty %}<span
                                        class="label label-danger">{{ 'order.cash.no'|trans({}, 'MBHPackageBundle') }}</span>{% else %} {{ cash.paidDate|date('d.m.Y') }} {% endif %}
                            </td>
                            <td>{% if cash.deletedAt %}{{ cash.deletedAt|date('d.m.Y') }}{% endif %}</td>
                            <td class="table-actions-td text-right">

                                {% if is_granted('ROLE_ORDER_CASH_DOCUMENTS') and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}

                                    {% if not cash.deletedAt %}
                                        {% if cash.orderDocument %}
                                            <a href="{{ path('order_document_view', {name: cash.orderDocument.name, download: 1}) }}"
                                               class="btn btn-info btn-xs" title="" data-toggle="tooltip"
                                               data-original-title="{{ 'order.cash.download'|trans }}">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        {% endif %}


                                        <!-- Confirmation: begin -->
                                        {% if not cash.isConfirmed and cash.isPaid and is_granted('ROLE_CASH_CONFIRM') %}
                                            <a data-action='cashDocumentConfirmation'
                                               data-header='{{ 'order.cash.confirm_payment'|trans({}, 'MBHPackageBundle') }}'
                                               data-text='{{ 'order.cash.are_you_sure_to_confirm_payment'|trans({}, 'MBHPackageBundle') }} <b>{{ cash.total|number_format }} {{ currency().text|trans }}</b>?'
                                               data-button='{{ 'order.cash.confirm'|trans({}, 'MBHPackageBundle') }}'
                                               data-button-icon='fa-check'
                                               href='{{ path('cash_confirm', { 'id': cash.id}) }}'
                                               class='btn btn-primary btn-xs delete-link'
                                               title='{{ 'order.cash.confirm_payment'|trans({}, 'MBHPackageBundle') }}'
                                               data-toggle='tooltip'>
                                                <i class='fa fa-check'></i>
                                            </a>
                                        {% endif %}
                                        <!-- Confirmation: end -->


                                        {#{% if not cash.isPaid and is_granted('ROLE_CASH_EDIT') %}#}
                                            {#{% if cash.operation == 'in' and cash.method == 'electronic' %}#}
                                                {#{% if clientConfig and clientConfig.paymentSystems %}#}
                                                    {#<div class="btn-group">#}
                                                        {#<button type="button"#}
                                                                {#class="btn btn-xs btn-info dropdown-toggle"#}
                                                                {#data-toggle="dropdown" aria-haspopup="true"#}
                                                                {#aria-expanded="false">#}
                                                            {#<i class="fa fa-cc-visa"></i>&nbsp; <span#}
                                                                    {#class="caret"></span>#}
                                                        {#</button>#}
                                                    {#</div>#}
                                                {#{% endif %}#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}

                                        <!-- Editing: begin -->
                                        {% if is_granted('ROLE_CASH_EDIT') and (is_granted('ROLE_CASH_CONFIRM') or cash.isConfirmed is empty) %}
                                            <a target="_blank" href="{{ path('cash_edit', { 'id': cash.id }) }}"
                                               class="btn btn-success btn-xs"
                                               title="{{ 'order.cash.edit_record'|trans({}, 'MBHPackageBundle') }}"
                                               data-toggle="tooltip">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        {% endif %}
                                        <!-- Editing: end -->

                                        <!-- Deleting: begin -->
                                        {% if not cash.deletedAt and is_granted('ROLE_CASH_DELETE') and (is_granted('ROLE_CASH_CONFIRM') or not cash.isConfirmed) %}
                                            <a href="{{ path('package_order_cash_delete', { 'id': entity.id, 'cash': cash.id, 'packageId': package.id }) }}"
                                               class="btn btn-danger btn-xs delete-link "
                                               title="{{ 'order.cash.remove_record'|trans({}, 'MBHPackageBundle') }}"
                                               data-toggle="tooltip">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        {% endif %}
                                        <!-- Deleting: end -->


                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    {{ 'order.cash.cash_documents_not_found'|trans({}, 'MBHPackageBundle') }}
                </div>
            {% endif %}


            {% if is_granted('ROLE_ORDER_CASH_DOCUMENTS') and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_start(form, {'action': path('package_order_cash', {'id': entity.id, 'packageId': package.id}),  'attr': {'class': 'form-horizontal'}}) }}
                {{ form_widget(form) }}
            {% endif %}
            {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_ORDER_CASH_DOCUMENTS'} %}

            {% if is_granted('ROLE_ORDER_CASH_DOCUMENTS') and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_end(form) }}
            {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
        </div>
    </div>

{% endblock %}

