{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "редактирование заказа #" ~ entity.id %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">удален</span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Order:tabs.html.twig' with {'active': 4 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="alert alert-warning">
                <i class="fa fa-ruble"></i>
                Оплачено/Цена: {{ entity.paid|number_format }} / {{ entity.price|number_format }}
                &nbsp;
                {% if entity.isPaid %}
                    <small class="text-success"><i class="fa fa-check"></i> оплачен</small>
                {% else %}
                    <small class="text-danger"><i class="fa fa-times"></i> не оплачен</small>
                {% endif %}
            </div>

            {% if docs|length %}
                <table id="cash-package-table" class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
                    <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th class="td-md">Приход</th>
                        <th class="td-md">Расход</th>
                        <th class="td-md">Способ оплаты</th>
                        <th class="td-md">Вид операции</th>
                        <th class="td-md">Дата</th>
                        <th class="td-md">Удалена</th>
                        <th class="td-md"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cash in docs %}
                        <tr {% if cash.deletedAt %}class="danger"{% endif %}>
                            <td class="text-center"><i class='fa fa-ruble'></i></td>
                            <td class="text-right">
                                {% if cash.operation not in ['fee', 'out'] %}
                                    <a target="_blank" href='{{ path('cash_edit', { 'id': cash.id }) }}' rel='main' class='text-success' title='Редактирование записи' data-toggle='tooltip'>
                                        {{ cash.total|number_format }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if cash.operation in ['fee', 'out'] %}
                                    <a target="_blank" href='{{ path('cash_edit', { 'id': cash.id }) }}' rel='main' class='text-danger' title='Редактирование записи' data-toggle='tooltip'>
                                        {{ cash.total|number_format }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ methods[cash.method] }}</td>
                            <td>{{ operations[cash.operation] }}</td>
                            <td>{{ cash.createdAt|date('d.m.Y') }}</td>
                            <td>{% if cash.deletedAt %}{{ cash.deletedAt|date('d.m.Y') }}{% endif %}</td>
                            <td class="table-actions-td text-right">
                                {% if checkPackagePermissions(entity) %}
                                    {% if cash.isConfirmed == false %}
                                        <a data-action='cashDocumentConfirmation' data-header='Подтверждение платежа' data-text='Точно подтвердить платеж на сумму <b>{{ cash.total|number_format }} RUR</b>?' data-button='Подтвердить' data-button-icon='fa-check' data-button-class='primary' href='{{ path('cash_confirm', { 'id': cash.id}) }}' class='btn btn-primary btn-xs delete-link' title='Подтверждение платежа' data-toggle='tooltip'>
                                            <i class='fa fa-check'></i>
                                        </a>
                                    {% endif %}
                                    <a target="_blank" href="{{ path('cash_edit', { 'id': cash.id }) }}" class="btn btn-success btn-xs" title="Редактирование записи" data-toggle="tooltip">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    {% if not cash.deletedAt %}
                                    <a href="{{ path('package_order_cash_delete', { 'id': entity.id, 'cash': cash.id }) }}" class="btn btn-danger btn-xs delete-link " title="Удаление записи" data-toggle="tooltip">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    Кассовые документы не найдены.
                </div>
            {% endif %}

            {{ form_start(form, {'action': path('package_order_cash_save', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHPackageBundle:Order:navbar.html.twig' with {'entity': entity} %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
        </div>
    </div>

{% endblock %}

