    {% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title =  'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~'</span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}

    {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 1 , 'entity': package} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="alert alert-warning package-main-info">
                <div class="row">
                    <div class="col-md-2 text-right"><strong>{{ 'order.edit.room'|trans({}, 'MBHPackageBundle') }}</strong></div>
                    <div class="col-md-10">
                        {{ entity.id }}
                    </div>
                </div>
                <div class="row spacer-top">
                    <div class="col-md-2 text-right"><strong>{{ 'order.edit.paid_price'|trans({}, 'MBHPackageBundle') }}</strong></div>
                    <div class="col-md-10">
                        {{ entity.paid|number_format(2) }} / {{ entity.price|number_format(2) }}
                        &nbsp;
                        {% if entity.isPaid %}
                            <small class="text-success"><i class="fa fa-check"> </i> {{ 'order.edit.paid'|trans({}, 'MBHPackageBundle') }} </small>
                        {% else %}
                            <small class="text-danger"><i class="fa fa-times"> </i> {{ 'order.edit.not_paid'|trans({}, 'MBHPackageBundle') }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row spacer-top">
                    <div class="col-md-2 text-right"><strong>{{ 'order.edit.order_type'|trans({}, 'MBHPackageBundle') }}</strong></div>
                    <div class="col-md-10">
                        <span class="text-{{ statuses[entity.status].class }}">{{ statuses[entity.status].title }} <small>{{ entity.channelManagerType ? '(' ~ entity.channelManagerType ~ ' #' ~ entity.channelManagerId    ~ ' - ' ~ entity.channelManagerStatus ~')' }}</small></span>
                        {% if entity.deletedAt %} &nbsp; <small class="text-danger"><i class="fa fa-trash-o"> </i> {{ 'order.edit.deleted'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}
                    </div>
                </div>
                <div class="row spacer-top">
                    <div class="col-md-2 text-right"><strong>{{ 'order.edit.payer'|trans({}, 'MBHPackageBundle') }}</strong></div>
                    <div class="col-md-10">{% if entity.mainTourist %}{{ entity.mainTourist }} <a class="external" target="_blank" href="{{ path('tourist_edit', {'id': entity.mainTourist.id }) }}"><i class="fa fa-external-link"></i></a>{% else %}<small class="text-danger">{{ 'order.edit.not_specified'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}</div>
                </div>
                <div class="row spacer-top">
                    <div class="col-md-2 text-right"><strong>{{ 'order.edit.is_confirmed'|trans({}, 'MBHPackageBundle') }}</strong></div>
                    <div class="col-md-10">
                        {% if entity.confirmed %}
                            <small class="text-success"><i class="fa fa-check"> </i> {{ 'order.edit.is_confirmed_yes'|trans({}, 'MBHPackageBundle') }} </small>
                        {% else %}
                            <small class="text-danger"><i class="fa fa-times"> </i> {{ 'order.edit.is_confirmed_no'|trans({}, 'MBHPackageBundle') }}</small>
                        {% endif %}
                    </div>
                </div>

            </div>

            {{ form_start(form, {'action': path('package_order_update', {'id': entity.id, 'packageId': package.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package} %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
        </div>
    </div>

{% endblock %}

