{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title =  'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 1 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'order-edit-widget', 'header': 'info' } %}
                <table class="table not-auto-datatable table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <strong>{{ 'order.edit.room'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                {{ entity.id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'order.edit.paid_price'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                {{ entity.paid|number_format(2) }} / {{ entity.price|number_format(2) }}
                                &nbsp;
                                {% if entity.isPaid %}
                                    <small class="text-success"><i class="fa fa-check"> </i> {{ 'order.edit.paid'|trans({}, 'MBHPackageBundle') }} </small>
                                {% else %}
                                    <small class="text-danger"><i class="fa fa-times"> </i> {{ 'order.edit.not_paid'|trans({}, 'MBHPackageBundle') }}</small>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'order.edit.order_type'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                <span class="text-{{ statuses[entity.status].class }}">{{ statuses[entity.status].title|trans }}
                                    <small>
                                        {{ entity.channelManagerType ? '(' ~ entity.channelManagerType ~ ' #' ~ entity.channelManagerId    ~ ' - ' ~ entity.channelManagerStatus ~')' }}
                                        {{ entity.onlinePaymentType ? '(' ~ online_payments[entity.onlinePaymentType] ~')' }}
                                    </small>
                                </span>
                                {% if entity.deletedAt %} &nbsp; <small class="text-danger"><i class="fa fa-trash-o"> </i> {{ 'order.edit.deleted'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'order.edit.payer'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                {% if entity.mainTourist %}
                                    {{ entity.mainTourist }} <a class="external" target="_blank" href="{{ path('tourist_edit', {'id': entity.mainTourist.id }) }}"><i class="fa fa-external-link"></i></a>
                                {% elseif entity.organization %}
                                    {{ entity.organization }} <a class="external" target="_blank" href="{{ path('organization_edit', {'id': entity.organization.id }) }}"><i class="fa fa-external-link"></i></a>
                                {% else %}
                                    <small class="text-danger">{{ 'order.edit.not_specified'|trans({}, 'MBHPackageBundle') }}</small>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'order.edit.is_confirmed'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                {% if entity.confirmed %}
                                    <small class="text-success"><i class="fa fa-check"> </i> {{ 'order.edit.is_confirmed_yes'|trans({}, 'MBHPackageBundle') }} </small>
                                {% else %}
                                    <small class="text-danger"><i class="fa fa-times"> </i> {{ 'order.edit.is_confirmed_no'|trans({}, 'MBHPackageBundle') }}</small>
                                {% endif %}
                            </td>

                            {% if entity.creditCard and is_granted('ROLE_PAYMENT_CARD_INFO') %}
                            <tr>
                                <td>
                                <strong>{{ 'order.edit.card'|trans({}, 'MBHPackageBundle') }}</strong>
                                    &nbsp;<button class="btn btn-primary" id="show-payment-info-button">
                                        {{ 'order.edit.payment_card_info.show_button.title'|trans({}, 'MBHPackageBundle')}}
                                    </button>
                                    <button class="btn btn-primary" style="display: none" id="hide-payment-info-button">
                                        {{ 'order.edit.payment_card_info.hide_button.title'|trans({}, 'MBHPackageBundle')}}
                                    </button>
                                </td>
                                <td>
                                    <div id="payment-card-info" style="display: none">
                                        {{ entity.creditCard|nl2br }}
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div></div>

            {{ form_start(form, {'action': path('package_order_update', {'id': entity.id, 'packageId': package.id}),  'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_ORDER_EDIT'} %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
        </div>
    </div>

{% endblock %}

