{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title =  'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block scripts %}
    {{ parent() }}
    {% javascripts filter='uglifyjs2' '@MBHPackageBundle/Resources/public/js/organizations/create.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}
{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 3 , 'entity': package} %}
    {% endif %}
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {% include 'MBHPackageBundle:Order:tabs.html.twig' with {'active': 2, 'entity': entity, 'package': package} %}

            {% if entity.organization is null %}
                <div class="alert alert-warning alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    {{ 'order.touristEdit.organization_not_specified'|trans({}, 'MBHPackageBundle') }}
                </div>
            {% else %}
                {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'package-organization-widget', 'header': 'info' } %}
                <table class="table not-auto-datatable table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <strong>{{ 'form.organizationType.name'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.name|default('-') }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'form.organizationType.phone'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.phone|default('-') }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'form.organizationType.email'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.email|default('-') }}
                            </td>
                        </tr><tr>
                            <td>
                                <strong>{{ 'form.organizationType.inn'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.inn|default('-') }}
                            </td>
                        </tr><tr>
                            <td>
                                <strong>{{ 'form.organizationType.kpp'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.kpp|default('-') }}
                            </td>
                        </tr><tr>
                            <td>
                                <strong>{{ 'form.organizationType.address'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.location|default('-') }}
                            </td>
                        </tr><tr>
                            <td>
                                <strong>{{ 'form.organizationType.comment'|trans({}) }}</strong>
                            </td>
                            <td>
                                {{ entity.organization.comment|default('-')|nl2br }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                    {% if entity.deletedAt is empty %}
                        <div class="row spacer-top">
                            <div class="col-md-12 text-right btn-list">

                                {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                                <a href="{{ path('organization_edit', {id: entity.organization.id }) }}"
                                   class="btn btn-success btn-sm" title="" data-toggle="tooltip"
                                   data-original-title="{{ 'order.organization_edit.edit_entry'|trans }}"><i class="fa fa-pencil-square-o"></i></a>
                                {% endif %}

                                {% if is_granted('ROLE_ORDER_PAYER') and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                                <a data-toggle="tooltip"
                                   title="{{ 'order.touristEdit.delete_organization'|trans({}, 'MBHPackageBundle') }}"
                                   href="{{ path('package_order_organization_delete', {'id': entity.id, 'packageId': package.id}) }}"
                                   class="delete-link btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div></div>
            {% endif %}

            {% if is_granted('ROLE_ORDER_PAYER') and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_start(form, {'action': path('package_order_organization_update', {'id': entity.id, 'packageId': package.id}),  'attr': {'class': 'hidden-print form-horizontal'}}) }}
                {{ form_widget(form) }}
            {% endif %}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_ORDER_PAYER'} %}

            {% if is_granted('ROLE_ORDER_PAYER') and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_end(form) }}
            {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
        </div>

    </div>
{% endblock %}