{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "редактирование заказа #" ~ entity.id %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">удален</span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Order:tabs.html.twig' with {'active': 2 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% if packages|length %}
            <table class="package-table table table-striped table-hover table-condensed table-icons table-actions not-auto-datatable">
                <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th class="td-sm">#</th>
                        <th class="td-md">Даты</th>
                        <th >Размещение</th>
                        <th class="td-md">Гости</th>
                        <th class="td-md">Стоимость</th>
                        <th class="td-md">Создана</th>
                        <th class="td-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in packages %}
                        <tr {% if package.deletedAt %}class="danger"{% endif %}>
                            <td class="text-center">
                                <span class='text-{{ statuses[package.status].class }}' data-toggle='tooltip' title='Тип брони: {{ statuses[package.status].title }}'><i class='fa fa fa-paper-plane-o'></i></span>
                            </td>
                            <td class="text-center">
                                <a class='btn btn-sm {% if package.deletedAt %}btn-danger{% else %}btn-default{% endif %}' href='{{ path('package_edit', {'id': package.id}) }}' rel='main' title='Редактирование записи' data-toggle='tooltip'>{{ package.numberWithPrefix }}</a>{% if package.deletedAt %}<br><small><i class='fa fa-trash-o'></i> удалена</small>{% endif %}
                            </td>
                            <td>
                                {{ package.begin|mbh_format }} - {{ package.end|mbh_format }}<br><small>{{ plural(package.nights, 'ночь', 'ночи', 'ночей') }}</small>
                            </td>
                            <td>
                                {{ package.roomType.hotel }} - {{ package.roomType }}<br><small><a data-toggle='tooltip' title='Перейти к размещению' href='{{ path('package_accommodation', {'id': package.id}) }}' class='{{ package.accommodation ? '' : 'danger' }}'>{% if package.accommodation %}{{ package.accommodation.name(package.roomType.id == package.accommodation.roomType.id ? false : true) }}{% else %}&lt;не размещено&gt;{% endif %}</a></small>
                            </td>
                            <td class="text-center">
                                {{ package.adults }} + {{ package.children }} / {{ foodTypes[package.food]|default(package.food) }}<br>
                                <small>{% for tourist in package.tourists %}{{ tourist.lastNameWithInitials }}{{ loop.last ? '' : ', ' }}{% endfor %}</small>

                            </td>
                            <td class="text-right">
                                <div class='text-right'><span class='{% if package.order.isPaid %}text-success'{% elseif package.order.paid > 0 %}text-warning'{% else %}text-danger'{% endif %}>{{ package.price|number_format }}</span><br><small><i class='fa fa-sliders'></i> {{ package.tariff.name }}</small></div>
                            </td>
                            <td>
                                {% if 'now'|date('d.m.Y') == package.createdAt|date('d.m.Y') %}Сегодня, {{ package.createdAt|date('H:i') }}{% else %}{{ package.createdAt|date('d.m.Y H:i') }}{% endif %}<br><small>{{ package.createdBy }}</small>
                            </td>
                            <td>
                                <div class='btn-list text-right'>
                                    <a href='{{ path('package_edit', { 'id': package.id }) }}' class='btn btn-success btn-xs' title='Редактирование брони' data-toggle='tooltip'>
                                        <i class='fa fa-pencil-square-o'></i>
                                    </a>
                                    {% if not package.deletedAt %}
                                    <a href='{{ path('package_delete', { 'id': package.id, 'order': true}) }}' class='btn btn-danger btn-xs delete-link ' title='Удаление брони' data-toggle='tooltip'>
                                        <i class='fa fa-trash-o'></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-warning alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    Брони не найдены.
                </div>
            {% endif %}
            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
        </div>
    </div>

{% endblock %}

