{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title =  'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 3 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {% include 'MBHPackageBundle:Order:tabs.html.twig' with {'active': 1, 'entity': entity, 'package': package} %}

            {% if entity.mainTourist is null %}
                <div class="alert alert-warning alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    {{ 'order.touristEdit.payer_not_specified'|trans({}, 'MBHPackageBundle') }}
                </div>
            {% else %}
                {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'package-payer-widget', 'header': 'info' } %}
                    <table class="table not-auto-datatable table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.fio'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.mainTourist.firstName }} {{ entity.mainTourist.lastName }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.phone'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.mainTourist.phone|default('-') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.email'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.mainTourist.email|default('-') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.birth_date'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.mainTourist.birthday ? entity.mainTourist.birthday|date('d.m.Y') : '-' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.gender'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ genders[entity.mainTourist.sex]|default('-') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.address'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {% if entity.mainTourist %}{% autoescape false %}{{ entity.mainTourist.address|nl2br|default('-') }}{% endautoescape %}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'order.touristEdit.document'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {% if entity.mainTourist and entity.mainTourist.documentRelation and entity.mainTourist.documentRelation.type %}{% autoescape false %}{{ vegaDocumentTypes[entity.mainTourist.documentRelation.type]|capitalize|nl2br|default('-') }}{% endautoescape %}{% endif %}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                    {% if entity.deletedAt is empty and checkPackagePermissions(package) %}
                        <div class="row spacer-top">
                            <div class="col-md-12 text-right btn-list">
                                <a href="{{ path('tourist_edit', {'id': entity.mainTourist.id }) }}"
                                   class="btn btn-success btn-sm" title="" data-toggle="tooltip"
                                   data-original-title="Редактирование записи"><i class="fa fa-pencil-square-o"></i></a>
                                <a data-toggle="tooltip"
                                   title="{{ 'order.touristEdit.delete_payer'|trans({}, 'MBHPackageBundle') }}"
                                   href="{{ path('package_order_tourist_delete', {'id': entity.id, 'packageId': package.id}) }}"
                                   class="delete-link btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    {% endif %}

                </div></div>
            {% endif %}

            {{ form_start(form, {'action': path('package_order_tourist_update', {'id': entity.id, 'packageId': package.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package} %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': package, 'logs': logs, 'delete_route': 'package_delete' } %}

        </div>
    </div>

{% endblock %}

