{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title =  'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts filter='uglifyjs2'
        '@MBHPackageBundle/Resources/public/js/tourist/tourist.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 3 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {% include 'MBHPackageBundle:Order:tabs.html.twig' with {'active': 1, 'entity': order, 'package': package} %}

            {% if order.payer is null %}
                <div class="alert alert-warning alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    {{ 'order.touristEdit.payer_not_specified'|trans({}, 'MBHPackageBundle') }}
                </div>
            {% endif %}
            {% if order.mainTourist %}
                {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'package-payer-widget', 'header': 'info' } %}
                    <table class="table not-auto-datatable custom-mobile-style table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.fio'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {{ order.mainTourist.firstName }} {{ order.mainTourist.lastName }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.phone'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {{ order.mainTourist.phone|default('-') }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.email'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {{ order.mainTourist.email|default('-') }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.birth_date'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {{ order.mainTourist.birthday ? order.mainTourist.birthday|date('d.m.Y') : '-' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.gender'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {{ genders[order.mainTourist.sex]|default('-')|trans }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.address'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {% if order.mainTourist %}{% autoescape false %}{{ order.mainTourist.address|nl2br|default('-') }}{% endautoescape %}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'order.touristEdit.document'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {% if order.mainTourist and order.mainTourist.documentRelation and order.mainTourist.documentRelation.type %}{% autoescape false %}{{ documentTypes[order.mainTourist.documentRelation.type]|capitalize|nl2br|default('-') }}{% endautoescape %}{% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    {% if order.deletedAt is empty %}
                        <div class="row spacer-top">
                            <div class="col-md-12 text-right btn-list">
                                {#<a href="{{ path('tourist_edit_unwelcome', {'id': order.mainTourist.id }) }}"#}
                                        {#class="btn btn-info btn-sm" title="" data-toggle="tooltip"#}
                                        {#data-original-title="{{ 'order.tourist_edit.add_payer_to_black_list'|trans }}">#}
                                        {#<i class="fa fa-user-secret"></i>#}
                                    {#</a>#}
                                {% if package.deletedAt is empty and is_granted('ROLE_TOURIST_EDIT') %}
                                    <a href="{{ path('tourist_edit', {'id': order.mainTourist.id, 'redirectTo': app.request.uri }) }}"
                                        class="btn btn-success btn-sm" title="" data-toggle="tooltip"
                                        data-original-title="{{ 'order.tourist_edit.edit_entry'|trans }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                {% endif %}
                                {% if package.deletedAt is empty and is_granted('ROLE_ORDER_PAYER') and (is_granted('EDIT', order) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                                <a data-toggle="tooltip"
                                   title="{{ 'order.touristEdit.delete_payer'|trans({}, 'MBHPackageBundle') }}"
                                   href="{{ path('package_order_tourist_delete', {'id': order.id, 'packageId': package.id}) }}"
                                   class="delete-link btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                </div></div>
            {% endif %}


            {% if is_granted('ROLE_ORDER_PAYER') and (is_granted('EDIT', order) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_start(form, {'action': path('package_order_tourist_update', {'id': order.id, 'packageId': package.id}),  'attr': {'class': 'form-horizontal'}}) }}
                {{ form_widget(form) }}
            {% endif %}

                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_ORDER_PAYER'} %}

            {% if is_granted('ROLE_ORDER_PAYER') and (is_granted('EDIT', order) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_end(form) }}
            {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': package, 'logs': logs} %}

        </div>
    </div>

{% endblock %}

