{#{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}#}

{% block text %}

    {% if orders is not empty %}
        <div style="background:#fafafa none repeat scroll 0 0;font-family:Tahoma,Arial;text-align:left;border:1px solid #dddddd;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px;color: #666;font-size:14px;font-weight: 400;height: 32px;letter-spacing: 0.2px;line-height:29px;padding:6px 10px;">
            {#<img data-name="fa_hotel" src="{{ fa_hotel|default('bundles/mbhbase/images/fa-hotel.png') }}"#}
                 {#align="absmiddle">#}
            {#{{ 'mailer.reportArrival.expectedGuest'|trans }}#}
        </div>
        <table style="width:100%;border-collapse: collapse;border-spacing: 0;border: 1px solid #dddddd;font-family:Tahoma,Arial;color:#333;font-size:14px;">
            <thead>
            <tr>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:10%;">
                    #
                </th>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:16%;">
                    {{ 'mailer.notice.unpaid.package.list'|trans }}
                </th>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:12%;">
                    {{ 'mailer.notice.unpaid.package.period'|trans }}
                </th>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:13%;">
                    {{ 'mailer.notice.unpaid.need.to.pay'|trans }}
                </th>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:13%;">
                    {{ 'mailer.notice.unpaid.paid'|trans }}
                </th>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:18%;">
                    {{ 'mailer.notice.unpaid.phone'|trans }}
                </th>
                <th style="border-bottom:1px solid #dddddd;font-weight:600;vertical-align:bottom;padding:9px;text-align:center;width:18%;">
                    {{ 'mailer.notice.unpaid.mobile.phone'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% set count = 1 %}
            {% for order in orders %}
                <tr>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        {{ count }}
                        {% set count = count + 1 %}
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        # <a href="{{ app.request.schemeAndHttpHost }}{{ path('package_order_cash', {id: order.orderId, packageId: order.packageId}) }}">
                            {{ order.numberWithPrefix }}
                        </a>
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        {{ order.begin|mbh_format }} - {{ order.end|mbh_format }}
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        {{ order.price|number_format(2) }}
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        {{ order.paid|number_format(2) }}
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        {{ order.phone|default('-') }}
                    </td>
                    <td style="border-bottom:1px solid #dddddd;font-weight:400;padding:9px;text-align:center;background-color: #f9f9f9;">
                        {{ order.mobilePhone|default('-') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}