{% extends 'MBHPriceBundle:Restriction:layout.html.twig' %}

{% set small_title = "обзор" %}

{% block content %}

    <div class="well" id="restriction-overview-filter-well">
        <form id="restriction-overview-filter" class="form-inline filter-form" role="form">
            <div class="input">
                <i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i>&nbsp
                <input type="text" id="restriction-overview-filter-begin" class="datepicker restriction-overview-filter begin-datepiker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('begin') is empty ? 'now'|date('d.m.Y') : app.request.get('begin') }}">
            </div>
            <div class="input">
                - &nbsp
                <input type="text" id="restriction-overview-filter-end" class="datepicker restriction-overview-filter end-datepiker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('end') is empty ? 'now'|date_modify("+45 days")|date('d.m.Y') : app.request.get('end') }}">
            </div>

            <div class="input">
                <i class="fa fa-home" title='Тип номера' data-toggle='tooltip'></i>&nbsp  <select multiple data-placeholder="Тип номера" id="restriction-overview-filter-roomType" class="restriction-overview-filter form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input">
                <i class="fa fa-sliders" title='Тариф' data-toggle='tooltip'></i>&nbsp  <select multiple data-placeholder="Тариф" id="restriction-overview-filter-tariff" class="restriction-overview-filter form-control input-sm">
                        <option></option>
                        {% for tariff in tariffs %}
                            <option value="{{ tariff.id }}" {% if tariff.id in app.request.get('tariffs') and tariffs|length != app.request.get('tariffs')|length %}selected{% endif %}>{{ tariff.name }}</option>
                        {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <form class="form-inline" action="{{ path('restriction_overview_save') }}" method="POST" name="restriction-overview-form" id="restriction-overview-form">
        <div id="restriction-overview-table-wrapper" class="scrolling"></div>

        <div id="actions" class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><button type="submit" name="save_close" class="btn btn-success navbar-btn"><i class="fa fa-check-square-o"></i> Сохранить</button></li>
                    <li><button type="button" onclick="location.href = '{{ path('restriction_generator') }}'" class="btn btn-info navbar-btn"><i class="fa fa-magic"></i> Генератор условий и ограничений</button></li>
                    <li><button type="button" onclick="location.href = '{{ title_url|default(path('_welcome'))}}'" class="btn btn-default navbar-btn"><i class="fa fa-ban"></i> Отмена</button></li>
                </ul>
            </div>
        </div>
    </form>

{% endblock %} 

