{% extends 'MBHPriceBundle:Restriction:layout.html.twig' %}

{% set layout = 'box' %}

{% block content %}

        {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'restriction-overview-filter-widget' } %}
           <form id="restriction-overview-filter" class="form-inline filter-form remember mbh-start-date" role="form">
            <div class="filter-form_input">
                <i class="fa fa-calendar" title='{{ 'price.views.restriction.index.date'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                <input type="text" id="restriction-overview-filter-begin" class="datepicker restriction-overview-filter begin-datepicker mbh-daterangepicker not-set-date form-control" data-date-format="dd.mm.yyyy">
            </div>
            <div class="input hidden">
                <input type="text" id="restriction-overview-filter-end" class="datepicker restriction-overview-filter end-datepicker mbh-daterangepicker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy">
            </div>

            <div class="filter-form_input">
                <i class="fa fa-bed" title='{{ 'price.views.restriction.index.type'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                <select multiple data-placeholder="{{ 'mbhpricebundle.view.restriction.index.tipnomera'|trans }} " id="restriction-overview-filter-roomType" class="restriction-overview-filter form-control">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-form_input">
                <i class="fa fa-sliders" title='{{ 'price.views.restriction.index.rate'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                <select multiple data-placeholder="{{ 'mbhpricebundle.view.restriction.index.tarif'|trans }} " id="restriction-overview-filter-tariff" class="restriction-overview-filter form-control">
                        <option></option>
                        {% for tariff in tariffs %}
                            <option value="{{ tariff.id }}"{% if (tariff.id in app.request.get('tariffs') and tariffs|length != app.request.get('tariffs')|length) or (app.request.get('tariffs') is empty and tariff.isDefault) %} selected{% endif %}>{{ tariff.name }}</option>
                        {% endfor %}
                </select>
            </div>
               {% include '@MBHBase/Partials/disable_button.html.twig' with {isChecked : displayDisabledRoomType, route : 'restriction_overview'} %}
        </form>
    </div></div>

    <form class="form-inline" action="{{ path('restriction_overview_save') }}" method="POST" name="restriction-overview-form" id="restriction-overview-form">
        <div id="restriction-overview-table-wrapper" class="scrolling"></div>

        {% if is_granted('ROLE_PRICE_CACHE_EDIT') %}
        <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><button type="submit" name="save_close" class="btn btn-success navbar-btn"><i class="fa fa-check-square-o"></i>{{ 'price.views.restruction.index.save'|trans }}</button></li>
                    <li><button type="button" onclick="location.href = '{{ path('restriction_generator') }}'" class="btn btn-primary navbar-btn"><i class="fa fa-magic"></i> {{ 'mbhpricebundle.view.restriction.index.generatorusloviyiogranicheniy'|trans}}</button></li>
                    <li><button type="button" onclick="location.href = '{{ title_url|default(path('_welcome'))}}'" class="btn btn-default navbar-btn"><i class="fa fa-ban"></i> {{ 'mbhpricebundle.view.restriction.index.otmena'|trans }}</button></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </form>

{% endblock %} 

