{% extends 'MBHPackageBundle:Search:layout.html.twig' %}
{% set small_title = "search.index.search"|trans({}, "MBHPackageBundle") %}
{% set layout = "box" %}
{% block content %}

    {#form  theme это костылина для возрастов детей. Без нее отрабатывает кастомный form.fields и делает какую то муть#}
{% form_theme form '@MBHSearchBundle/Form/form_div_layout.html.twig' %}


    <link rel="stylesheet" href="{{ asset('bundles/mbhsearch/css/search.css') }}">
    <div class="box box-default box-solid" id="searcher">
        <div class="box-header">
            <h3 class="box-title">{{ header|default('form.filter')|trans|raw }}
                {% if smallHeader is defined and smallHeader is not empty %}
                    <small>{{ smallHeader|trans|raw }}</small>
                {% endif %}
            </h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool form-group-collapse" id="searcher-collapse"
                        data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="{{ class|default('bg-gray-disabled color-palette') }} box-body">
            {#{{ include('@MBHSearch/Search/form/search.form.html.twig') }}#}
            <div id="vue-searcher"></div>
        </div>
    </div>

    <div id="package-searcher-results-wrapper">

    </div>

    <div id="search_results"></div>

    <div class="alert alert-danger hide" id="accommodation-alert">
        <i class="fa fa-exclamation-circle"></i> {{ "accommodation.alert"|trans({}, "MBHPackageBundle") }}
    </div>

    <div id="specials"></div>

{% endblock content %}


{% block customJs %}
    {# New search#}
    <link href="{{ asset('build/search.css') }}" rel="stylesheet"/>
    <script src="{{ asset('build/search.js') }}"></script>
    {# end new search #}
{% endblock %}
