{% extends 'MBHPackageBundle:Search:layout.html.twig' %}
{% set small_title = "search.index.search"|trans({}, "MBHPackageBundle") %}
{% set layout = "box" %}
{% block content %}

    <div id="vue-searcher"
         data-order="{{ order }}"
         data-begin="{{ begin|date('d.m.Y') }}"
         data-end="{{ end|date('d.m.Y') }}"
         data-room-types="{{ roomTypes|json_encode(256) }}"
         data-access-cache="{{ is_granted('ROLE_ADMIN') ? 'true' : 'false'}}"
         data-access-async-search="{{ is_granted('ROLE_ASYNC_SEARCH') ? 'true' : 'false'}}"
         data-positive-max-add-days="{{ positiveAddDaysLimit }}"
         data-negative-max-add-days="{{ negativeAddDaysLimit }}"
    >

    </div>

    <div id="specials"></div>

{% endblock content %}


{% block customJs %}
    {# New search#}
    <link href="{{ asset('build/search.css') }}" rel="stylesheet"/>
    <script src="{{ asset('build/search.js') }}"></script>
    {# end new search #}
{% endblock %}
