{% extends 'MBHUserBundle:Profile:layout.html.twig' %}

{% set small_title = 'view.account.small_title'|trans %}
{% set layout = "box" %}
{% set active = 2 %}

{% block content %}
    {{ parent() }}
    <div class="tab-content">
        <table id="account-data-table" class="table table-bordered" style="width: 300px">
            <tbody>
            <tr>
                <td class="info">{{ 'view.account.status'|trans }}</td>
                <td style="padding: 10px;">{{ status }}</td>
            </tr>
            <tr>
                <td class="info">{{ 'total_rooms_overview_table.available_number_of_rooms'|trans }}</td>
                <td style="padding: 10px;">{{ rooms_limit }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}