{% extends 'MBHUserBundle:Profile:layout.html.twig' %}

{% set title = 'view.personal_account.title'|trans %}
{% set small_title = 'view.personal_account.payer.small_title'|trans %}
{% set active = 4 %}

{% block content %}
    {{ parent() }}
    <div class="tab-content">
        {{ form_start(form, {'action': path('user_payer'),
            'attr': {'class': 'form-horizontal', 'id' : 'client-payer-type', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:new.html.twig' %}
        {{ form_end(form) }}
    </div>

    <div class="modal fade modal-warning" id="change-country-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'view.personal_account.payer.change_country_modal.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ 'view.personal_account.payer.change_country_modal.text'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i
                                class="fa fa-ban"> </i> {{ 'view.personal_account.payer.change_country_modal.cancel_button.text'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include '@MBHBase/modalWithForm.html.twig' with {modalTitle: 'modal_with_form.add_city.title'|trans} %}
{% endblock %}

