{
    "draw": "{{ draw }}",
    "recordsTotal": "{{ orders|length }}",
    "recordsFiltered": "{{ orders|length }}",
    "data": [
        {% for order in orders %}
        [
            "<div class=\"text-center\">{{ order.createdAsDateTime|date('d.m.Y') }}</div>",
            "<div class=\"text-center\">{{ order.expiredDateAsDateTime|date('d.m.Y') }}</div>",
            "<div class=\"text-center\">{{ order.paidDateAsDateTime ? order.paidDateAsDateTime|date('d.m.Y') : '' }}</div>",
            "<div class=\"text-center\">{{ order.price ~ ' ' ~ order.price_currency }}</div>",
            "<div class=\"table-actions-td text-center\">{{ order.translatedStatus|trans }}</div>",
            "<div><div class=\"btn-list text-right\">{% if order.status != 'paid' %} <button type=\"button\" class='btn btn-warning btn-xs show-payments-list' data-order-id='{{ order.id }}'> {{ 'view.personal_account.pay_button.title'|trans }}</button>{% endif %}</div></div>"
        ]
        {% if loop.index != orders|length %}, {% endif %}
        {% endfor %}
    ]
}