<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="panel-body">
    {{ 'view.pay_order_modal.payment_sum'|trans({'%price%' : order.price ~ ' ' ~ order.price_currency, '%orderNumber%' : order.id})|raw }}
    <hr>
    {% for paymentType in paymentTypes %}
        <div class="well">
            <label class="">{{ paymentType.name|capitalize }}</label>
            <div style="float: right;">
                {% if paymentType.id == 'bill' %}
                    <button type="button" id="bill-button" class="btn btn-primary">
                        {{ 'view.pay_order_modal.open_bill'|trans}}
                    </button>
                    <input type="hidden" id="bill-content" value="{{ paymentType.html }}" >

                {% else %}
                    {{ paymentType.html|raw }}
                {% endif %}
            </div>
            <p>{{ paymentType.description }}</p>
        </div>
    {% endfor %}
</div>
<script>
    var billButton = document.getElementById('bill-button');
    if (billButton) {
        document.getElementById('bill-button').onclick = function () {
            var billContent = document.getElementById('bill-content').value;
            window.open('about:blank').document.body.innerHTML += billContent;
        };
    }
</script>