<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="panel-body">
    {% if errors is defined %}
        <div style="background-color: #dd4b39 !important; color: white" class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;
            {{ 'view.pay_order_modal.unfilled_data_message'|trans }}
            {% for error in errors %}
                {{ error|trans|lower }}{{ loop.index < errors|length ? ', ' : '' }}
            {% endfor %}
        </div>
    {% else %}
        {{ 'view.pay_order_modal.payment_sum'|trans({'%price%' : order.price ~ ' ' ~ order.price_currency, '%orderNumber%' : order.id})|raw }}
        <hr>
        {% for paymentType in paymentTypes %}
        <div class="well">
            <label class="">{{ paymentType.name|capitalize }}</label>
            <div style="float: right;">
                {% if paymentType.id == 'bill' %}
                    <button type="button" id="bill-button" class="btn btn-primary">
                        {{ 'view.pay_order_modal.open_bill'|trans }}
                    </button>
                    <input type="hidden" id="bill-content" value="{{ paymentType.html }}">

                {% else %}
                    {{ paymentType.html|raw }}
                {% endif %}
            </div>
            <p>{{ paymentType.description }}</p>
        </div>
    {% endfor %}
        <script>
            var billButton = document.getElementById('bill-button');
            if (billButton) {
                document.getElementById('bill-button').onclick = function () {
                    var billContent = document.getElementById('bill-content').value;
                    var billWindow = window.open('about:blank');
                    setTimeout(function () {
                        billWindow.document.body.innerHTML += billContent;
                    }, 100);
                };
            }
        </script>
    {% endif %}
</div>
