{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for entity in entities %}
            [
                "{% if entity.isEnabled is empty %}<span class='danger-tr'></span>{% endif %}<div class='text-center'><i class='fa fa-bed'></i></div>",
                "<a href='{{ path('room_type_room_edit', { 'id': entity.id }) }}' rel='main' title='Редактирование записи' data-toggle='tooltip'>{{ entity.name }}</a>",
                "{{ entity.housing }}",
                "{{ entity.floor }}",
                "{% if entity.status %}{{ entity.status.title }}{% endif %}",
                "{% include 'MBHHotelBundle:RoomType:roomListButtons.html.twig' with {'entity': entity} %}"
            ]{% if loop.index != entities.count(true) %},{% endif %}
        {% endfor %}
    ]
}