{% extends 'MBHChannelManagerBundle:Oktogo:layout.html.twig' %}

{% set small_title = 'views.oktogo.tariff.settings'|trans({}, 'MBHChannelManagerBundle') %}

{% block content %}
    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 3, 'entity': entity, 'base': 'oktogo'} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {{ form_start(form, {'action': path('oktogo_tariff_save'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            <div id="actions" class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><button type="submit" name="save" class="btn btn-info navbar-btn"><i class="fa fa-check-square-o"></i>{{ 'views.oktogo.tariff.save'|trans({}, 'MBHChannelManagerBundle') }}</button></li>
                        <li><button type="button" data-toggle="tooltip" title="Получить ID тарифов из Oktogo.ru" onclick="location.href = '{{ path('oktogo_tariff_sync') }}'" class="btn btn-success navbar-btn"><i class="fa fa-share-square-o"></i> Синхронизировать</button></li>
                        <li><button type="button" onclick="location.href = '{{ title_url|default(path('_welcome'))}}'" class="btn btn-default navbar-btn"><i class="fa fa-ban"></i> Отмена</button></li>
                    </ul>
                </div>
            </div>
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs } %}
        </div>
    </div>
{% endblock %}