{% extends "MBHHotelBundle::layout.html.twig" %}

{% set title = 'views.facility.list.title'|trans({}, 'MBHHotelBundle') %}
{% set layout = "box" %}

{% block content %}
    <ul class="nav nav-pills">
        {% for language in client_config().languages %}
            <li role="presentation" {% if language == facilitiesLocale %}class="active"{% endif %}>
                <a href="{{ path('facilities_list', {locale: language}) }}" style="cursor: pointer;"
                   data-language="{{ language }}" class="multi-language-select-option">
                    {{ language }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <form method="post" role="form" class="form-inline" action="{{ path('save_list') }}">
        <table class="table table-striped table-hover table-condensed table-icons table-actions">
            <thead>
            <tr>
                <th class="td-xs"></th>
                <th class="td-md">{{ 'views.facility.list.facility_title'|trans}}</th>
                <th>{{ 'views.facility.list.description_title'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for facilityId, facilityData in facilitiesData %}
                <tr>
                    <td class="text-center table-icon"><i class="fa  mbf-{{ facilityId }}"></i></td>
                    <td>
                        {{ facilityData['title'] }}
                    </td>
                    <td>
                        <input name="facilities[{{ facilityId }}]" type="text"
                               value="{{ facilityData['description'] }}" style="width: 100%;">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_UPDATE_FACILITIES') %}
                        <li>
                            <button type="submit" class="btn btn-success navbar-btn">
                                <i class="fa fa-check-square-o"></i> {{ 'views.facility.list.save_changes_button.title'|trans}}
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <input type="hidden" name="facilitiesLocale" value="{{ facilitiesLocale }}">
    </form>
{% endblock %}