{% set fieldsName = formConfig.fieldsName %}
<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    <script>
        var isDisplayChildAges = {{ formConfig.displayChildrenAges ? 'true' : 'false' }};
    </script>
    {% javascripts filter='?uglifyjs2'
        '@MBHBaseBundle/Resources/public/js/first/010-nativ-func.js'
        '@MBHOnlineBundle/Resources/public/js/api/search-form/additional-form.js'
    %}
        <script async type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
    {% endjavascripts %}
    {% if formConfig.theme %}
        <link rel="stylesheet" href="{{ formConfig.theme }}">
        {% block styles %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHOnlineBundle/Resources/public/css/api/search-form/default-additional-form.less'
            %}
                <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
            {% endstylesheets %}
        {% endblock %}
    {% endif %}

    {% if formConfig.cssLibraries is defined and formConfig.cssLibraries is iterable %}
        {% for link in formConfig.cssLibraries %}
            <link rel="stylesheet" href="{{ link }}">
        {% endfor %}
    {% endif %}
    {% if formConfig.additionalFormCss %}
        <style>
            {{ formConfig.additionalFormCss | raw }}
        </style>
    {% endif %}
</head>
<body>
    <article id="mbh-form-additional-data-wrapper">
        {% if formConfig.roomTypes and choices|length != 1 %}
            <section class="form-group mbh-form-row room-type">
                <label for="mbh-form-roomType" class="title">{{ fieldsName.roomType is not empty ? fieldsName.roomType : ('views.api.form.room_type.label'|trans({}, 'MBHOnlineBundle')) }}</label>
                <select id="mbh-form-roomType" class="form-control input-sm" name="roomType" data-form="room-type">
                    <option value="">- {{ 'views.api.form.room_type.choices.any'|trans({}, 'MBHOnlineBundle') }} -</option>
                    {% for roomType in choices %}
                        <option value="{{ roomType.id }}">{{ roomType.localeTitle(app.request.locale) }}</option>
                    {% endfor %}
                </select>
            </section>
        {% endif %}
        <section class="form-group mbh-form-row adults">
            <div class="title">
                <span>{{ fieldsName.adults is not empty ? fieldsName.adults : ('views.api.form.adults.label'|trans({}, 'MBHOnlineBundle')) }}</span>
            </div>
            <div class="stepper">
                <button type="button" class="btn btn-default btn-default mbh-btn-stepper btn-subtract subtract"><span>-</span></button>
                <span class="stepper-value" data-form="adults">1</span>
                <button type="button" class="btn btn-default mbh-btn-stepper btn-add add"><span>+</span></button>
            </div>
        </section>
        <section class="form-group mbh-form-row children">
            <div class="title">
                <span>{{ fieldsName.children is not empty ? fieldsName.children : ('views.api.form.children.label'|trans({}, 'MBHOnlineBundle')) }}</span>
            </div>
            <div class="stepper">
                <button type="button" class="btn btn-default mbh-btn-stepper btn-subtract subtract"><span>-</span></button>
                <span class="stepper-value" data-form="children">0</span>
                <button type="button" class="btn btn-default mbh-btn-stepper btn-add add"><span>+</span></button>
            </div>
        </section>
        <section class="form-group children-ages-wrapper">
            <div class="title">
                <span>{{  fieldsName.childrenAges is not empty ? fieldsName.childrenAges : ('views.api.form.children_ages.label'| trans({}, 'MBHOnlineBundle')) }}</span>
            </div>
            <div class="holder-children-ages">
                <template id="template-select-children-age">
                    <select class="form-control input-sm select-children-age" name="age" data-children-age-index="0" data-form="children-age">
                        {% for childAge in 0..17 %}
                            <option value="{{ childAge }}">{{ childAge }}</option>
                        {% endfor %}
                    </select>
                </template>
            </div>
        </section>
    </article>
</body>
</html>