{% set locale = app.request.locale %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    <script defer src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script defer src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" integrity="sha256-4JY5MVcEmAVSuS6q4h9mrwCm6KNx91f3awsSQgwu0qc=" crossorigin="anonymous"></script>
    {#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />#}
    <link rel="preload" as="style" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <noscript><link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" /></noscript>
    {% javascripts filter='uglifyjs2'
        '@MBHBaseBundle/Resources/public/js/first/010-nativ-func.js'
        '@MBHOnlineBundle/Resources/public/js/api/search-form/search-form.js'
    %}
        <script async type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
    {% endjavascripts %}
    {% set isYandexAnalyticEnabled = formConfig and formConfig.yandexAnalyticConfig and formConfig.yandexAnalyticConfig.isEnabled == true %}
    {% if isYandexAnalyticEnabled %}
    {% endif %}
    {% if formConfig.theme %}
        <link rel="stylesheet" href="{{ formConfig.theme }}">

        {% block styles %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHOnlineBundle/Resources/public/css/api/search-form/default-form.less'
            %}
                <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
            {% endstylesheets %}

            {% if formConfig.isHorizontal %}
                {% stylesheets filter='cssrewrite, uglifycss'
                    '@MBHOnlineBundle/Resources/public/css/api/search-form/default-form-horizontal.less'
                %}
                    <link rel="stylesheet" href="{{ absolute_url(asset_url) }}"/>
                {% endstylesheets %}
            {% endif %}

        {% endblock %}

    {% endif %}

    {% if formConfig.cssLibraries is defined and formConfig.cssLibraries is iterable %}
        {% for link in formConfig.cssLibraries %}
            <link rel="stylesheet" href="{{ link }}">
        {% endfor %}
    {% endif %}
    {#{% include '@MBHOnline/Api/siteStyles.html.twig' %}#}

    {% if formConfig.css %}
        <style>
            {{ formConfig.css|raw }}
        </style>
    {% endif %}
    {% if formConfig.js %}
        <script>
            window.addEventListener('load', function () {
                (function() {
                    {{ formConfig.js|raw }}
                })();
            });
        </script>
    {% endif %}
    <script defer id="script-for-insert-form" type="text/javascript" src="{{ url('online_form_get', {formConfigId: formConfig.id, locale: locale}) }}"></script>
</head>
<body>
    <div id="mbh-form-wrapper">
        <a class="preload-link-maxibooking" href="https://maxi-booking.{{ locale == 'en' ? 'com' : 'ru' }}/">{{ 'views.api.get_form_iframe.online_booking_system'|trans}}</a>
    </div>
</body>

</html>
