{% if error is defined and error is not empty and error %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}
    {% if dynamicSalesData.dynamicSales|length > 0 %}
        {% set commonDynamicSalesData = dynamicSalesData.dynamicSales[0] %}
        {% set maxCount = 0 %}
        {% set periodsCount = commonDynamicSalesData.periods|length %}
        {% for dynamicSalePeriodCount in commonDynamicSalesData.periods %}
            {% if maxCount < dynamicSalePeriodCount.dynamicSalesDays|length %}
                {% set maxCount = dynamicSalePeriodCount.dynamicSalesDays|length %}
            {% endif %}
        {% endfor %}
        <table id="headerTable" class="table table-bordered table-striped table-condensed mbh-grid text-center">
            <tbody>
            <tr class="dates">
                <td class="first-th line-name" rowspan="{{ periodsCount }}"></td>
                <td class="first-th periods-cell" rowspan="{{ periodsCount }}">
                    <small>{{ 'dynamic.sales.day.periods'|trans({},'MBHPackageBundle') }}</small>
                </td>
                {% for dynamicSalePeriod in commonDynamicSalesData.periods %}
                {% set index = loop.index %}
                {% if loop.index != 1 %}
            <tr class="dates">
                {% endif %}
                {% for dynamicSaleDay in dynamicSalePeriod.dynamicSalesDays %}
                    <td class="date-td table-cell text-center {% if dynamicSaleDay.date|date('N') >= 6 %} text-danger{% endif %}">
                        {{ dynamicSaleDay.date|date('d.m') }}
                        <div class="text-muted text-center {% if dynamicSaleDay.date|date('N') >= 6 %} text-danger{% endif %}">
                            {{ weekdays[dynamicSaleDay.date|date('N')]|lower }}
                        </div>
                    </td>
                {% endfor %}
                {% if (maxCount - commonDynamicSalesData.periods[index-1].dynamicSalesDays|length) > 0 %}
                    {% for i in 1..(maxCount - commonDynamicSalesData.periods[index-1].dynamicSalesDays|length) %}
                        <td class="date-td">-</td>
                    {% endfor %}
                {% endif %}
                {% if loop.index == 1 %}
                    <td class="first-th table-cell date-td" rowspan="{{ periodsCount }}">
                        <small>{{ 'dynamic.sales.day.summary'|trans({},'MBHPackageBundle') }}</small>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for i in 0..dynamicSalesData.dynamicSales|length %}
            <table class="table table-bordered table-condensed rightTable">
                <tbody>
                {% for shownOption in optionsShows %}
                    <tr>
                    <td class="first-th line-name" rowspan="{{ periodsCount }}">
                        <small>{{ ('dynamic.sales.day.' ~ shownOption)|trans({},'MBHPackageBundle') }}</small>
                    </td>
                    {% for dynamicSalePeriod in commonDynamicSalesData.periods %}
                        {% if  loop.index != 1 %}
                            <tr>
                        {% endif %}
                        <td class="periods-cell" data-class="{{ shownOption }}">
                            {{ dynamicSalePeriod.dynamicSalesDays|first.date|date('d.m.Y') }}
                            - {{ dynamicSalePeriod.dynamicSalesDays|last.date|date('d.m.Y') }}
                        </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

            {#{% if dynamicSaleTypeData.comparison is not null and (optionsShows|length > 0) %}#}
            {#<table class="table table-bordered table-condensed rightTable rightTable-comparison">#}
            {#<tbody>#}
            {#{% for shownOption in optionsShows %}#}
            {#<tr data-class="{{ shownOption ~ '-compare' }}">#}
            {#<td class="first-th line-name text-center" rowspan="2">#}
            {#<small>{{ ('dynamic.sales.day.' ~ shownOption)|trans({},'MBHPackageBundle') }}</small>#}
            {#</td>#}
            {#<td class="periods-cell text-center" data-class="{{ shownOption ~ '-compare' }}">#}
            {#<small>{{ 'dynamic.sales.day.sales.summ'|trans({},'MBHPackageBundle') }}</small>#}
            {#</td>#}
            {#</tr>#}
            {#<tr data-class="{{ shownOption ~ '-compare-percentage' }}">#}
            {#<td class="periods-cell">#}
            {#%#}
            {#</td>#}
            {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
            {#</table>#}
            {#{% endif %}#}
        {% endfor %}

        {% for dynamicSaleTypeData in dynamicSalesData.dynamicSales %}
            <table id="{{ dynamicSaleTypeData.roomType.id }}"
                   class="dynamic-sales-table table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid text-center">
                <tbody>
                <tr class="mbh-grid-header2 warning">
                    <td colspan="{{ maxCount +2 }}" style="text-align: left">
                        <strong class="table-title">
                            {{ dynamicSaleTypeData.roomType }}
                        </strong>&nbsp;&nbsp;
                    </td>
                </tr>
                {% for shownOption in optionsShows %}
                <tr data-class="{{ shownOption }}">
                    <td class="left-offset-line"></td>
                    {% for periodNumber, dynamicSalePeriod in dynamicSaleTypeData.periods %}
                        {% if  periodNumber != 0 %}
                            <tr data-class="{{ shownOption }}">
                            <td class="left-offset-line"></td>
                        {% endif %}

                        {% for saleDateIndex, dynamicSaleDay in dynamicSalePeriod.dynamicSalesDays %}
                            <td class="table-cell">
                                {{ dynamicSaleDay.getSpecifiedValue(shownOption) }}
                            </td>
                            {% if loop.last %}
                                {% if (maxCount - dynamicSalePeriod.dynamicSalesDays|length) > 0 %}
                                    {% for i in 1..(maxCount - dynamicSalePeriod.dynamicSalesDays|length) %}
                                        <td>-</td>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td class="text-right table-cell" style="text-align: right">
                            <strong>{{ dynamicSalePeriod.getTotalValue(shownOption) }}</strong>
                        </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% if periodsCount > 1 and optionsShows|length > 0 %}
                    {% set comparisonRowsCount = periodsCount - 1 %}
                    <tr class="info">
                        <td class="comparison-cell text-left" rowspan="{{ comparisonRowsCount }}" style="text-align: left"
                            colspan="{{ maxCount + 2 }}">
                            <strong class="table-title">{{ 'dynamic.sales.day.sales.comparison'|trans({},'MBHPackageBundle') }} </strong>
                        </td>
                    </tr>
                    {% for shownOption in optionsShows %}
                        {% for comparisonPeriodNumber in 1..(comparisonRowsCount - 1) %}
                            {% set comparisonPeriod = dynamicSaleTypeData.periods[comparisonPeriodNumber] %}
                            <tr class="success" data-class="{{ shownOption ~ '-compare' }}">
                                <td class="left-offset-line"></td>
                                {% for saleDateIndex, dynamicSaleDay in comparisonPeriod.dynamicSalesDays %}
                                    <td>
                                        {% if dynamicSaleTypeData.hasBothPeriodsDayByNumber(0, comparisonPeriodNumber, saleDateIndex) %}
                                            {{ dynamicSaleTypeData.getComparisonData(comparisonPeriodNumber, saleDateIndex, shownOption) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr class="warning" data-class="{{ shownOption ~ '-compare-percentage' }}">
                                <td class="left-offset-line"></td>
                                {% for saleDateIndex, dynamicSaleDay in comparisonPeriod.dynamicSalesDays %}
                                    <td>
                                        {% if dynamicSaleTypeData.hasBothPeriodsDayByNumber(0, comparisonPeriodNumber, saleDateIndex) %}
                                            {{ dynamicSaleTypeData.getRelativeComparisonData(comparisonPeriodNumber, saleDateIndex, shownOption) }}%
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        {% endfor %}

        <table id="summary"
               class="dynamic-sales-table table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid text-center">
            <tbody>
            <tr class="mbh-grid-header2 warning">
                <td colspan="{{ maxCount +2 }}" style="text-align: left">
                    <strong class="table-title">
                        {{ 'dynamic.sales.result'|trans({},'MBHPackageBundle') }}
                    </strong>&nbsp;&nbsp;
                </td>
            </tr>

            {% for shownOption in optionsShows %}
            <tr data-class="{{ shownOption }}">
                <td class="left-offset-line"></td>
                {% for periodNumber in 0..(periodsCount - 1) %}
                    {% if  periodNumber != 0 %}
                        <tr data-class="{{ shownOption }}">
                        <td class="left-offset-line"></td>
                    {% endif %}
                    {% set dynamicSalesPeriod = commonDynamicSalesData.periods[periodNumber] %}
                    {% for dateNumber in 0..(dynamicSalesPeriod.dynamicSalesDays|length - 1) %}
                        <td class="table-cell">
                            {{ dynamicSalesData.getTotalValueByDay(dateNumber, shownOption, periodNumber) }}
                        </td>
                        {% if loop.last %}
                            {% if (maxCount - dynamicSalesPeriod.dynamicSalesDays|length) > 0 %}
                                {% for i in 1..(maxCount - dynamicSalesPeriod.dynamicSalesDays|length) %}
                                    <td>-</td>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td class="text-right table-cell" style="text-align: right">
                        <strong>{{ dynamicSalesData.getTotalValue(periodNumber, shownOption) }}</strong>
                    </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {#{% if dynamicSaleTypeData.comparison is not null and optionsShows|length > 0 %}#}
            {#<tr class="info">#}
            {#<td class="comparison-cell text-left" rowspan="{{ periodsCount - 1 }}" colspan="{{ maxCount + 2 }}">#}
            {#<strong class="table-title">{{ 'dynamic.sales.day.sales.comparison'|trans({},'MBHPackageBundle') }} </strong>#}
            {#</td>#}
            {#</tr>#}
            {#{% for shownOption in optionsShows %}#}
            {#{% for comparisonPeriodData in dynamicSaleTypeData.comparison %}#}
            {#{% set index = loop.index %}#}
            {#<tr class="success" data-class="{{ shownOption ~ '-compare' }}">#}
            {#<td class="left-offset-line"></td>#}
            {#{% for comparisonDay in comparisonPeriodData %}#}
            {#<td>#}
            {#{% if loop.index < dynamicSaleTypeData.periods[index].dynamicSalesDays|length and index > 0 %}#}
            {#{{ comparisonDay.getComparisonData(shownOption) }}#}
            {#{% else %}#}
            {#-#}
            {#{% endif %}#}
            {#</td>#}
            {#{% endfor %}#}
            {#</tr>#}
            {#<tr class="warning" data-class="{{ shownOption ~ '-compare-percentage' }}">#}
            {#<td class="left-offset-line"></td>#}
            {#{% for comparisonDay in comparisonPeriodData %}#}
            {#<td>#}
            {#{% if loop.index < dynamicSaleTypeData.periods[index].dynamicSalesDays|length and index > 0 %}#}
            {#{{ comparisonDay.getComparisonData(shownOption, true) }}%#}
            {#{% else %}#}
            {#-#}
            {#{% endif %}#}
            {#</td>#}
            {#{% endfor %}#}
            {#</tr>#}
            {#{% endfor %}#}
            {#{% endfor %}#}
            {#{% endif %}#}
            </tbody>
        </table>
    {% endif %}
{% endif %}