{% if error is defined and error is not empty %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}
    <table id="dynamic-sales-table"
           class="table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid text-center">
        <tbody>
        {% for dynamicSale in dynamicSales %}
            <tr class="mbh-grid-header2 warning">
                <td colspan="{{ dynamicSale.periods|first|length +2 }}" style="text-align: left">
                    <strong>{{ dynamicSale.roomType.title }}</strong>&nbsp;-&nbsp;
                </td>
            </tr>
            <tr>
            <td class="first-th" rowspan="{{ dynamicSale.periods|length }}">
                Показатели
            </td>
            <td class="first-th" rowspan="{{ dynamicSale.periods|length }}">
                Периоды
            </td>
            {% for dynamicSalePeriod in dynamicSale.periods %}
                {% if  loop.index == 1 %}
                    {% for dynamicSaleDay  in dynamicSalePeriod %}
                        {% if loop.last %}
                        {% else %}
                            <td class="header-td text-center {% if dynamicSaleDay.dateSales|date('N') >= 6 %} text-danger{% endif %}">
                                {{ dynamicSaleDay.dateSales|mbh_format }}
                                <div class="text-muted text-center">
                                    {{ weekdays[dynamicSaleDay.dateSales|date('N')]|lower }}
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td class="first-th" rowspan="{{ dynamicSale.periods|length }}">
                        Итого
                    </td>
                    </tr>
                {% else %}
                    <tr>
                        {% for dynamicSaleDay  in dynamicSalePeriod %}
                            {% if loop.last %}
                            {% else %}
                                <td class="header-td text-center {% if dynamicSaleDay.dateSales|date('N') >= 6 %} text-danger{% endif %}">
                                    {{ dynamicSaleDay.dateSales|mbh_format }}
                                    <div class="text-muted text-center">
                                        {{ weekdays[dynamicSaleDay.dateSales|date('N')]|lower }}
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}

            {% endfor %}

            <tr>
            <td class="first-th" rowspan="{{ dynamicSale.periods|length }}">
                Дневной объем продаж
            </td>
            {% for dynamicSalePeriod in dynamicSale.periods %}

                {% if  loop.index == 1 %}
                    <td>
                        {{ dynamicSalePeriod|first.dateSales|date('d.m.Y') }}
                        - {{ dynamicSalePeriod|last.dateSales|date('d.m.Y') }}
                    </td>
                    {% for dynamicSaleDay  in dynamicSalePeriod %}
                        {% if loop.last %}
                            <td class="text-right">
                                Среднее <strong>{{ dynamicSaleDay.avaregeVolume }}</strong>
                            </td>
                        {% else %}
                            <td>
                                {{ dynamicSaleDay.totalSales }}
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ dynamicSalePeriod|first.dateSales|date('d.m.Y') }}
                            -{{ dynamicSalePeriod|last.dateSales|date('d.m.Y') }}</td>
                        {% for dynamicSaleDay  in dynamicSalePeriod %}
                            {% if loop.last %}
                                <td class="text-right">
                                    Среднее <strong>{{ dynamicSaleDay.avaregeVolume }}</strong>
                                </td>
                            {% else %}
                                <td>
                                    {{ dynamicSaleDay.totalSales }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}

            {% endfor %}

            <tr>
            <td class="first-th" rowspan="{{ dynamicSale.periods|length }}">
                Объем продаж за месяц нарастающим итогом
            </td>
            {% for dynamicSalePeriod in dynamicSale.periods %}

                {% if  loop.index == 1 %}
                    <td>
                        {{ dynamicSalePeriod|first.dateSales|date('d.m.Y') }}
                        - {{ dynamicSalePeriod|last.dateSales|date('d.m.Y') }}
                    </td>
                    {% for dynamicSaleDay  in dynamicSalePeriod %}
                        {% if loop.last %}
                            <td style="text-align: right">
                                <strong>{{ dynamicSaleDay.totalSales }}</strong>
                            </td>
                        {% else %}
                            <td>
                                {{ dynamicSaleDay.volumeGrowth }}
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ dynamicSalePeriod|first.dateSales|date('d.m.Y') }}
                            -{{ dynamicSalePeriod|last.dateSales|date('d.m.Y') }}</td>
                        {% for dynamicSaleDay  in dynamicSalePeriod %}
                            {% if loop.last %}
                                <td style="text-align: right">
                                    <strong>{{ dynamicSaleDay.totalSales }}</strong>
                                </td>
                            {% else %}
                                <td>
                                    {{ dynamicSaleDay.volumeGrowth }}
                                </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endif %}

            {% endfor %}


            {% if dynamicSale.comparison is not null %}
                <tr class="info">
                <td class="first-th" colspan="2" rowspan="{{ dynamicSale.periods|length }}">
                    Сравнение
                </td>
                {% for dynamicSalePeriod in dynamicSale.periods %}
                    {% if  loop.index == 1 %}
                        {% for dynamicSaleDay  in dynamicSalePeriod %}
                            {% if loop.last %}
                            {% else %}
                                <td class="header-td text-center {% if dynamicSaleDay.dateSales|date('N') >= 6 %} text-danger{% endif %}">
                                    {{ dynamicSaleDay.dateSales|mbh_format }}
                                    <div class="text-muted text-center">
                                        {{ weekdays[dynamicSaleDay.dateSales|date('N')]|lower }}
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="info">
                            {% for dynamicSaleDay  in dynamicSalePeriod %}
                                {% if loop.last %}
                                {% else %}
                                    <td class="header-td text-center {% if dynamicSaleDay.dateSales|date('N') >= 6 %} text-danger{% endif %}">
                                        {{ dynamicSaleDay.dateSales|mbh_format }}
                                        <div class="text-muted text-center">
                                            {{ weekdays[dynamicSaleDay.dateSales|date('N')]|lower }}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}

                {% endfor %}

                <tr class="success">
                <td class="first-th"  rowspan="{{ (dynamicSale.periods|length*2)-1 }}">
                    Дневной объем продаж
                </td>
                <td rowspan="{{ dynamicSale.periods|length-1 }}">
                    Сумма
                </td>
                {% for dynamicSaleComparison in dynamicSale.comparison %}

                    {% if loop.first %}
                        {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                            <td>
                                {{ dynamicSaleComparisonDay.TotalSales }}
                            </td>
                        {% endfor %}
                        </tr>
                        {% else %}
                        <tr class="warning">
                            {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                                <td>
                                    {{ dynamicSaleComparisonDay.TotalSales }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}

                <tr class="success">
                <td rowspan="{{ dynamicSale.periods|length }}">
                    %
                </td>
                {% for dynamicSaleComparison in dynamicSale.comparison %}
                    {% if loop.first %}
                        <tr class="success">
                        {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                            <td>
                                {{ dynamicSaleComparisonDay.PersentDayVolume }}%
                            </td>
                        {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="warning">
                            {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                                <td>
                                    {{ dynamicSaleComparisonDay.PersentDayVolume }}%
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}

                {#next#}
                <tr class="danger">
                <td class="first-th"  rowspan="{{ (dynamicSale.periods|length*2)-1 }}">
                    Дневной объем продаж нарастающим итогом
                </td>
                <td rowspan="{{ dynamicSale.periods|length-1 }}">
                    Сумма
                </td>
                {% for dynamicSaleComparison in dynamicSale.comparison %}

                    {% if loop.first %}
                        {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                            <td>
                                {{ dynamicSaleComparisonDay.avaregeVolume }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="warning">
                            {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                                <td>
                                    {{ dynamicSaleComparisonDay.avaregeVolume }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}

                <tr class="danger">
                <td rowspan="{{ dynamicSale.periods|length }}">
                    %
                </td>
                {% for dynamicSaleComparison in dynamicSale.comparison %}
                    {% if loop.first %}
                        <tr class="danger">
                            {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                                <td>
                                    {{ dynamicSaleComparisonDay.persentDayGrowth }}%
                                </td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="warning">
                            {% for dynamicSaleComparisonDay  in dynamicSaleComparison %}
                                <td>
                                    {{ dynamicSaleComparisonDay.persentDayGrowth }}%
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}

            {% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endif %}