{% for type,form in forms %}
    {% form_theme form 'MBHBaseBundle:Form:fields.html.twig' %}

    <div id="{{ type }}-modal" class="modal">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ type|capitalize }}</h4>
                </div>
                {{ form_start(form, {'action': path('package_pdf', {'id': entity.id, type: type}), 'attr': {'class': 'form-horizontal'}}) }}
                    <div class="modal-body">
                        {{ form_widget(form) }}
                        {# % for f in form %}
                            <div class="form-group">
                                {{ form_label(f, {'attr': {'class' : 'col-md-6'}}) }}
                                {{ form_widget(f) }}
                                {{ form_errors(f) }}
                            </div>
                        {% endfor % #}
                        <!--
                        <div>
                            <div class="form-group">
                                <label class="control-label col-md-6">Весь заказ</label>
                                <div class="col-md-4">
                                    <input name="full" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6">Добавлять услуги</label>
                                <div class="col-md-4">
                                    <input name="full" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6">Добавить печать</label>
                                <div class="col-md-4">
                                    <input name="full" type="checkbox">
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сгенерировать</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endfor %}