{
    "recordsTotal": "{{ recordsFiltered }}",
    "recordsFiltered": "{{ recordsFiltered }}",
    "data": [
        {% for item in results %}
            [
                "<i class='fa fa-plug text-center'></i>",
                "{% if item.package.order.payer %} {{ item.package.order.payer.name }} {% else %} Не указан {% endif %} <br><small> <a class='external' href='{{ path("package_service", {id: item.package.id}) }}' rel='main' target='_blank'> <i class='fa fa-external-link'></i> {{ item.package.numberWithPrefix }} </a></small>",
                "{% if item.begin|mbh_format == item.end|mbh_format %} {{ item.begin|mbh_format }} {% else %} {{ item.begin|mbh_format }} - {{ item.end|mbh_format }} {% endif %} {% if item.nights and item.nights > 0 %} <br><small> {{ plural(item.nights, 'order.packages.noch'|trans({}, 'MBHPackageBundle') ,  'order.packages.nochi'|trans({}, 'MBHPackageBundle') ,  'order.packages.nochei'|trans({}, 'MBHPackageBundle') ) }} </small> {% endif %}",
                "{{ item.service.name }} <br><small>{{ "package.service.items"|transchoice(item.persons, {'{% amount %}' : item.amount }, "MBHPackageBundle") }} {% if item.calcType in ['per_night', 'per_stay']  %} {{ "package.service.per_persons"|transchoice(item.persons, {'{% persons %}' : item.persons }, "MBHPackageBundle") }} {% endif %}</small>",
                "<div class='text-right {% if item.deleted %} mark-deleted {% endif %}'>{{ item.price|number_format(2) }} <br><small>{{ config.calcTypes[item.calcType] }}</small> </div>",
                "<div class='text-right {% if item.package.order.isPaid %}text-success{% elseif item.package.order.paid > 0 %}text-warning{% else %}text-danger{% endif %}'>{{ item.total|number_format(2) }}</div>",
                "{{ item.note }}",
                "{{ item.createdAt|date("d.m.Y") }}"
            ] {% if loop.index != results|length %} , {% endif %}
        {% endfor %}
    ]
}