{
    "recordsTotal": "{{ recordsFiltered }}",
    "recordsFiltered": "{{ recordsFiltered }}",
    "totals" : {{ totals|raw }},
    "data": [
        {% for item in results %}
            [
                "<i class='fa fa-plug text-center'></i>",
                "{{ item.package.number }} <small><a class='external' href='{{ path("package_service", {id: item.package.id}) }}' rel='main' target='_blank'><i class='fa fa-external-link'></i></a></small>",
                "{% if item.service.date %}{% if item.begin %}{{ item.begin|mbh_format }}{% else %}<small><a href='{{ path("package_service", {id: item.package.id}) }}' class='danger'>&lt;дата не указана&gt;</a></small>{% endif %}{% else %}{{ item.begin|mbh_format }} - {{ item.end|mbh_format }}{% endif %}{% if item.service.time %}<br>{% if item.time %}{{ item.time|date('H:i') }}{% else %}<small><a href='{{ path("package_service", {id: item.package.id}) }}' class='danger'>&lt;время не указано&gt;</a></small>{% endif %}{% endif %}",
                "{{ item.service.name }}",
                "{{ item.calcType == 'per_night' ? item.nights : '' }}",
                "{{ item.calcType != 'not_applicable' ? item.persons : '' }}",
                "{{ item.amount }}",
                "{% if item.package and item.package.order and item.package.order.payer %} {{ item.package.order.payer.firstName is defined ? item.package.order.payer.lastName ~ ' ' ~ item.package.order.payer.firstName|first ~ '. ' ~ item.package.order.payer.patronymic|first ~ '.' : item.package.order.payer.name }}{% else %} <a href='{{ path("package_service", {id: item.package.id}) }}' class='danger'>&lt;не указан&gt;</a> {% endif %}",
                "<div class='text-right'>{{ item.total|number_format(2) }}</div>",
                "{% if item.package and item.package and item.package.order %}<div class='label label-as-badge label-{% if item.package.order.isPaid %}success'>OK{% elseif item.package.order.paid > 0 %}warning'>- {{ item.package.order.debt|number_format(2) }}{% else %}danger'>- {{ item.package.order.debt|number_format(2) }}{% endif %}</div>{% endif %}",
                "{{ item.note }}"
            ] {% if loop.index != results|length %} , {% endif %}
        {% endfor %}
    ]
}