{
    "recordsTotal": "{{ recordsFiltered }}",
    "recordsFiltered": "{{ recordsFiltered }}",
    "totals" : {{ totals|raw }},
    "data": [
        {% for item in results %}
            [
                "<div class='text-center {% if item.deletedAt %}deleted-entry{% endif %}'><i class='fa fa-plug'></i></div>",
                "{{ item.package.numberWithPrefix }} <small><a class='external' href='{{ path("package_service", {id: item.package.id}) }}' rel='main' target='_blank'><i class='fa fa-external-link'></i></a></small>",
                "{% if item.service.date %}{% if item.begin %}{{ item.begin|mbh_format }}{% else %}<small><a href='{{ path("package_service", {id: item.package.id}) }}' class='danger'>&lt;{{ 'service.ajax_list.date_is_not_specified'|trans }}&gt;</a></small>{% endif %}{% else %}{{ item.begin|mbh_format }} - {{ item.end|mbh_format }}{% endif %}{% if item.service.time %}<br>{% if item.time %}<small>{{ item.time|date('H:i') }}{% else %}<a href='{{ path("package_service", {id: item.package.id}) }}' class='danger'>&lt;{{ 'service.ajax_list.time_is_not_specified'|trans }}&gt;</a>{% endif %}</small>{% endif %}",
                "{{ item.service.name }}",
                "{{ item.calcType == 'per_night' ? item.nights : '' }}",
                "{{ item.package.numberOfGuests }}",
                "{{ item.package.tourists.count }}",
                "{{ item.calcType != 'not_applicable' ? item.persons : '' }}",
                "{{ item.amount }}",
                "{% if item.package and item.package.order and item.package.order.payer %} {{ item.package.order.payer.firstName is defined ? item.package.order.payer.lastName ~ ' ' ~ item.package.order.payer.firstName|first ~ '. ' ~ item.package.order.payer.patronymic|first ~ '.' : item.package.order.payer.name }}{% else %} <a href='{{ path("package_service", {id: item.package.id}) }}' class='danger'>&lt;{{ 'service.ajax_list.payer_is_not_specified'|trans }}&gt;</a> {% endif %}",
                "{{ item.total|number_format(2) }}",
                "{% if item.package and item.package.order %}<div class='text-right'><a data-toggle='tooltip' title='{{ "package.json.go_to_calculations"|trans({}, "MBHPackageBundle") }}' href='{{ path('package_order_cash', {'id': item.package.order.id, 'packageId': item.package.id}) }}' class='text {% if item.package.order.isPaid %}text-success'{% elseif item.package.order.paid > 0 %}text-warning'{% else %}text-danger'{% endif %}>{% if item.package.paidStatus == 'success' %}{% if item.package.order.paid > item.package.order.price %}{{ 'overpaid'|trans }}{% else %}{{ 'paid'|trans }}{% endif %}{% elseif item.package.paidStatus == 'warning' or item.package.paidStatus == 'danger' %}{{ 'debt'|trans }}{% endif %}</a><br><small>{{ (item.package.debt * -1)|number_format(2) }}</small></div>{% endif %}",
                "{{ item.note|replace({"\n":' ', "\r":' ', "'": '', "\t": ' '}) }}"
            ] {% if loop.index != results|length %} , {% endif %}
        {% endfor %}
    ]
}