{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ ' ' ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 6 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
            {% if package.accommodation %}
                <div class="bg-gray color-palette alert">
                    <i class="fa fa-bed"> </i> {{ 'package.accommodation.placement'|trans({}, 'MBHPackageBundle') }} {{ package.accommodation.name(true, true) }}
                    , {{ 'package.accommodation.guests'|trans({}, 'MBHPackageBundle') }} {{ package.isCheckIn ? '' : 'не ' }} {{ 'package.accommodation.stopped'|trans({}, 'MBHPackageBundle') }}
                    {% if is_granted('ROLE_PACKAGE_ACCOMMODATION') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}

                            <button data-toggle="modal" data-target="#package-relocation-modal"
                               class="btn btn-primary btn-xs" title="{{ 'package.action.relocation'|trans({}, 'MBHPackageBundle') }}" data-toggle="tooltip">
                                <i class="fa fa-suitcase"></i>
                            </button>

                        <div class="modal fade" id="package-relocation-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Переселить гостей?</h4>
                                    </div>
                                    <form class="form-inline" id="package-relocation-form" data-package-id="{{ package.id }}">
                                    <div class="modal-body">
                                        <p></p>
                                            <div class="form-group">
                                                <label class="control-label" >Дата переезда</label>
                                                <input class="form-control datepicker margin-left-sm"
                                                       required="required" name="date" data-begin="{{ package.begin|date_modify("+1 day")|date('d.m.Y') }}"
                                                       data-end="{{ package.end|date_modify("-1 day")|date('d.m.Y') }}"
                                                       type="text" id="package-relocation-date"
                                                       value="">
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Отмена</button>
                                        <button type="submit" id="package-relocation-go" class="btn btn-primary">Да</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {% if package.deletedAt is empty and is_granted('ROLE_PACKAGE_ACCOMMODATION') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                        <div class="pull-right">
                            <a href="{{ path('package_accommodation_delete', { 'id': package.id }) }}"
                               class="btn btn-danger btn-xs delete-link " title="Удаление записи" data-toggle="tooltip">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="bg-gray color-palette alert">
                    <i class="fa fa-exclamation-circle"> </i> {{ 'package.accommodation.placement_not_specified'|trans({}, 'MBHPackageBundle') }}
                </div>
            {% endif %}

            {% if optGroupRooms|length %}
            <div class="box box-default box-solid">
                <div class="box-header with-border"><h3 class="box-title">Выбор размещения</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool form-group-collapse" data-widget="collapse"
                                id="mbh_bundle_packagebundle_package_accommodation_table"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="accommodation-select-table"
                           class="table table-actions table-striped table-hover table-actions table-condensed">
                        <thead>
                        <tr>
                            <th class="td-xs"></th>
                            <th>#</th>
                            <th>Тип номера</th>
                            <th class="td-md">Корпус</th>
                            <th class="td-sm">Этаж</th>
                            <th class="td-sm">Статус</th>
                            <th>Удобства</th>
                            <th class="td-xs"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for roomTypeName, rooms in optGroupRooms %}

                            {% for room in rooms %}
                                <tr class="{% if  package.accommodation and room.id == package.accommodation.id %}info{% elseif room.status is not empty %}warning{% elseif room.roomType.id == package.roomType.id %}success{% endif %}">
                                    <td><i class="fa fa-bed"></i></td>
                                    <td><strong>{{ room }}</strong></td>
                                    <td>{{ room.roomType }}</td>
                                    <td>{{ room.housing }}</td>
                                    <td>{{ room.floor }}</td>
                                    <td>
                                        {% if room.status is iterable and room.status is not empty %}
                                            {% for status in room.status %}
                                                {% if status.code in roomStatusIcons|keys  %}
                                                    <i class="fa mbf-{{ roomStatusIcons[status.code] }}" title="{{ status }}" data-toggle="tooltip"></i>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for facility in room.allFacilities %}
                                            <i style="margin-left: 3px" data-toggle="tooltip"
                                               data-title="{{ facilities[facility] }}"
                                               class="fa mbf-{{ facility }}"></i>
                                        {% endfor %}
                                    </td>
                                    <td class="text-center">
                                        {% if  package.accommodation and room.id == package.accommodation.id %}
                                            <a href="{{ path('package_accommodation_delete', { 'id': package.id }) }}"
                                               class="btn btn-danger btn-xs delete-link " title="Удаление записи"
                                               data-toggle="tooltip">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('package_accommodation_set', { 'id': package.id, 'roomId': room.id }) }}"
                                               class="btn btn-success btn-xs" title="Разместить в этом номере"
                                               data-toggle="tooltip">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Номера для размещения не найдены.
            </div>
        {% endif %}

        {{ form_start(form, {'action': path('package_accommodation', {'id': package.id}),  'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_PACKAGE_ACCOMMODATION'} %}
        {{ form_end(form) }}

        {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': package, 'logs': logs, 'delete_route': 'package_delete' } %}
    </div>
    </div>

    <script>
        var Package = {
            begin: new Date({{ package.begin.timestamp }} * 1000
        ),
        end: new Date({{ package.end.timestamp }} * 1000
        ),
        debt: {{ package.debt }}
                }
        ;
        var earlyCheckInServiceIsEnabled = {{ earlyCheckInServiceIsEnabled|json_encode }};
        var lateCheckOutServiceIsEnabled = {{ lateCheckOutServiceIsEnabled|json_encode }};
    </script>

    {% include 'MBHPackageBundle:Package:late-early-check-modal.html.twig' %}
{% endblock %}