{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "редактирование брони " ~ entity.numberWithPrefix %}    

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">удалена</span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 5 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {% if entity.accommodation %}
                <div class="alert alert-warning">
                    <i class="fa fa-home"></i> Размещение: {{ entity.accommodation.name(true, true) }}
                    {% if entity.deletedAt is empty %}
                        <div class="pull-right">
                            <a href="{{ path('package_accommodation_delete', { 'id': entity.id }) }}" class="btn btn-danger btn-xs delete-link " title="Удаление записи" data-toggle="tooltip">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-circle"></i> Размещение не указано
                </div>
            {% endif %}


            {% if entity.deletedAt is empty %}
                {{ form_start(form, {'action': path('package_accommodation', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
                {{ form_widget(form) }}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': entity, 'delete_route': 'package_delete' } %}
                {{ form_end(form) }}
            {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'package_delete' } %}

        </div>
    </div>

{% endblock %}