{% set searchQuery = {

'begin': entity.begin|date('d.m.Y'),
'end': entity.end|date('d.m.Y'),
'adults': entity.adults,
'children': entity.children,
'roomType': [entity.roomType.id]
} %}

{% if entity.tariff.isDefault is empty %}
    {% set searchQuery = searchQuery|merge({'tariff': entity.tariff.id}) %}
{% endif %}

{% set save_buttons = false %}
{% if role is defined and is_granted(role) and entity.deletedAt is empty and (is_granted('EDIT', entity) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
    {% set save_buttons = true %}
{% endif %}
    <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                {% if entity.isLocked %}
                    <li>
                        {% if app.security.granted('ROLE_PACKAGE_UNLOCK') %}
                            <button type="button" onclick="javascript:window.location.href = '{{ path('package_unlock', {'id': entity.id}) }}'" class="btn btn-success navbar-btn">
                                <i class="fa fa-unlock"></i>
                                {{ 'package.actions.unlock'|trans({}, 'MBHPackageBundle') }}
                            </button>
                        {% else %}
                            <div class="btn btn-default navbar-btn disabled">
                                <i class="fa fa-lock"></i>
                                {{ 'package.actions.locked'|trans({}, 'MBHPackageBundle') }}
                            </div>
                        {% endif %}
                    </li>
                {% else %}
                    {% if save_buttons %}
                        <li>
                            <button type="submit" name="save_close" class="btn btn-success navbar-btn"><i
                                        class="fa fa-check-square-o"> </i> {{ 'package.actions.save_and_close'|trans({}, 'MBHPackageBundle') }}
                            </button>
                        </li>
                        <li>
                            <button type="submit" name="save" class="btn btn-primary navbar-btn"><i
                                        class="fa fa-check-square-o"> </i> {{ save_text|default('package.actions.save'|trans({}, 'MBHPackageBundle')) }}
                            </button>
                        </li>
                    {% endif %}
                {% endif %}
                    {% if not entity.isDeleted %}
                        <li>
                            <div class="dropup">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="true">
                                    <i class="fa fa-magic"></i>
                                    {{ 'package.actions'|trans({}, 'MBHPackageBundle') }}
                                    <span class="caret"></span>
                                </button>
                                {{ knp_menu_render(knp_menu_get('MBHPackageBundle:Builder:templateDocuments', {}, {'package' : entity, 'searchQuery' : searchQuery}).actions) }}
                            </div>
                        </li>
                    {% endif %}

                    <li>
                        <button type="button" onclick="location.href = '{{ title_url|default(path('_welcome')) }}'"
                                class="btn btn-default navbar-btn"><i
                                    class="fa fa-ban"> </i> {{ 'package.actions.cancel'|trans({}, 'MBHPackageBundle') }}
                        </button>
                    </li>
            </ul>
        </div>
    </div>