{% set searchQuery = {

'begin': entity.begin|date('d.m.Y'),
'end': entity.end|date('d.m.Y'),
'adults': entity.adults,
'children': entity.children,
'roomType': [entity.roomType.id]
} %}

{% if entity.tariff.isDefault is empty %}
    {% set searchQuery = searchQuery|merge({'tariff': entity.tariff.id}) %}
{% endif %}

{% if checkPackagePermissions(entity) %}

    <div id="actions" class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li>
                    <button type="submit" name="save_close" class="btn btn-success navbar-btn"><i
                                class="fa fa-check-square-o"> </i> {{ 'package.actions.save_and_close'|trans({}, 'MBHPackageBundle') }}
                    </button>
                </li>
                <li>
                    <button type="submit" name="save" class="btn btn-info navbar-btn"><i
                                class="fa fa-check-square-o"> </i> {{ save_text|default('package.actions.save'|trans({}, 'MBHPackageBundle')) }}
                    </button>
                </li>

                <li>
                    <div class="dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="true">
                            <i class="fa fa-magic"></i>
                            {{ 'package.actions'|trans({}, 'MBHPackageBundle') }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" data-id="{{ entity.id }}">
                            <li role="presentation" class="dropdown-header">
                                {{ 'package.actions.search'|trans({}, 'MBHPackageBundle') }}
                            </li>

                            <li>
                                <a href="{{ path('package_search') }}#{{ {'s': searchQuery}|url_encode }}">
                                    <i class="fa fa-search"></i>&nbsp;
                                    {{ 'package.actions.find_similar'|trans({}, 'MBHPackageBundle') }}
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('package_search', {'order': entity.order.id}) }}">
                                    <i class="fa fa-search"></i>&nbsp;
                                    {{ 'order.package.add'|trans({}, 'MBHPackageBundle') }}
                                </a>
                            </li>

                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">{{ 'package.actions.delete'|trans({}, 'MBHPackageBundle') }}</li>

                            <li>
                                <a href="{{ path('package_delete', {'id': entity.id}) }}" class="delete-link">
                                    <i class="fa fa-trash-o"></i>&nbsp;
                                    {{ 'package.actions.delete'|trans({}, 'MBHPackageBundle') }}
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('package_order_delete', {'id': entity.order.id}) }}" class="delete-link">
                                    <i class="fa fa-trash-o"></i>&nbsp;
                                    {{ 'order.navbar.delete_order'|trans({}, 'MBHPackageBundle') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="true">
                            <i class="fa fa-print"></i>
                            {{ 'package.actions.docs'|trans({}, 'MBHPackageBundle') }}
                            <span class="caret"></span>
                        </button>
                        {{ knp_menu_render(knp_menu_get('MBHPackageBundle:Builder:templateDocuments', {}, {'package' : entity})) }}
                    </div>
                </li>

                <li>
                    <button type="button" onclick="location.href = '{{ title_url|default(path('_welcome')) }}'"
                            class="btn btn-default navbar-btn"><i
                                class="fa fa-ban"> </i> {{ 'package.actions.cancel'|trans({}, 'MBHPackageBundle') }}
                    </button>
                </li>
            </ul>
        </div>
    </div>
{% endif %}