{% set searchQuery = {

'begin': entity.begin|date('d.m.Y'),
'end': entity.end|date('d.m.Y'),
'adults': entity.adults,
'children': entity.children,
'roomType': [entity.roomType.id]
} %}

{% if entity.tariff.isDefault is empty %}
    {% set searchQuery = searchQuery|merge({'tariff': entity.tariff.id}) %}
{% endif %}

{% if checkPackagePermissions(entity) %}

    <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li>
                    <button type="submit" name="save_close" class="btn btn-success navbar-btn"><i
                                class="fa fa-check-square-o"> </i> {{ 'package.actions.save_and_close'|trans({}, 'MBHPackageBundle') }}
                    </button>
                </li>
                <li>
                    <button type="submit" name="save" class="btn btn-primary navbar-btn"><i
                                class="fa fa-check-square-o"> </i> {{ save_text|default('package.actions.save'|trans({}, 'MBHPackageBundle')) }}
                    </button>
                </li>

                <li>
                    <div class="dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="true">
                            <i class="fa fa-magic"></i>
                            {{ 'package.actions'|trans({}, 'MBHPackageBundle') }}
                            <span class="caret"></span>
                        </button>
                        {{ knp_menu_render(knp_menu_get('MBHPackageBundle:Builder:templateDocuments', {}, {'package' : entity, 'searchQuery' : searchQuery}).actions) }}
                    </div>
                </li>

                <li>
                    <button type="button" onclick="location.href = '{{ title_url|default(path('_welcome')) }}'"
                            class="btn btn-default navbar-btn"><i
                                class="fa fa-ban"> </i> {{ 'package.actions.cancel'|trans({}, 'MBHPackageBundle') }}
                    </button>
                </li>
            </ul>
        </div>
    </div>
{% endif %}