{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.cash.edit_reservation'|trans({}, 'MBHPackageBundle') ~ entity.numberWithPrefix %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.cash.deleted'|trans({}, 'MBHPackageBundle')~'</span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 4 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="alert alert-warning">
                <i class="fa fa-ruble"></i>
                {{ 'package.cash.paid_price'|trans({}, 'MBHPackageBundle') }}  {{ entity.paid|number_format }} / {{ entity.price|number_format }}
                &nbsp;
                {% if entity.isPaid %}
                    <small class="text-success"><i class="fa fa-check"> </i> {{ 'package.cash.paid'|trans({}, 'MBHPackageBundle') }} </small>
                {% else %}
                    <small class="text-danger"><i class="fa fa-times"> </i> {{ 'package.cash.not_paid'|trans({}, 'MBHPackageBundle') }} </small>
                {% endif %}
                &nbsp;
                <i class="fa fa-plug"></i>
                Цена услуг: {{ entity.servicesPrice|number_format }}
            </div>

            {% if cashes|length > 0 %}
                <table id="cash-package-table" class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
                    <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th class="td-md">{{ 'package.cash.income'|trans({}, 'MBHPackageBundle') }} </th>
                        <th class="td-md">{{ 'package.cash.outcome'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'package.cash.payment_way'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'package.cash.operation_type'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'package.cash.date'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md">{{ 'package.cash.removed'|trans({}, 'MBHPackageBundle') }}</th>
                        <th class="td-md"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cash in cashes %}
                        <tr {% if cash.deletedAt %}class="danger"{% endif %}>
                            <td class="text-center"><i class='fa fa-ruble'></i></td>
                            <td class="text-right">
                                {% if cash.operation not in ['fee', 'out'] %}
                                    <a target="_blank" href='{{ path('cash_edit', { 'id': cash.id }) }}' rel='main' class='text-success' title='{{ 'package.cash.edit_record'|trans({}, 'MBHPackageBundle') }}' data-toggle='tooltip'>
                                        {{ cash.total|number_format }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if cash.operation in ['fee', 'out'] %}
                                    <a target="_blank" href='{{ path('cash_edit', { 'id': cash.id }) }}' rel='main' class='text-danger' title='{{ 'package.cash.edit_record'|trans({}, 'MBHPackageBundle') }}' data-toggle='tooltip'>
                                        {{ cash.total|number_format }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ methods[cash.method] }}</td>
                            <td>{{ operations[cash.operation] }}</td>
                            <td>{{ cash.createdAt|date('d.m.Y') }}</td>
                            <td>{% if cash.deletedAt %}{{ cash.deletedAt|date('d.m.Y') }}{% endif %}</td>
                            <td class="table-actions-td text-right">
                                {% if checkPackagePermissions(entity) %}
                                    {% if cash.isConfirmed == false %}
                                        <a data-action='cashDocumentConfirmation' data-header='{{ 'package.cash.confirm_payment'|trans({}, 'MBHPackageBundle') }}' data-text='{{ 'package.cash.are_you_sure_to_confirm_payment'|trans({}, 'MBHPackageBundle') }} <b>{{ cash.total|number_format }} RUR</b>?' data-button='{{ 'package.cash.confirm'|trans({}, 'MBHPackageBundle') }}' data-button-icon='fa-check' data-button-class='primary' href='{{ path('cash_confirm', { 'id': cash.id}) }}' class='btn btn-primary btn-xs delete-link' title='{{ 'package.cash.confirm_payment'|trans({}, 'MBHPackageBundle') }}' data-toggle='tooltip'>
                                            <i class='fa fa-check'></i>
                                        </a>
                                    {% endif %}
                                    <a target="_blank" href="{{ path('cash_edit', { 'id': cash.id }) }}" class="btn btn-success btn-xs" title="{{ 'package.cash.edit_record'|trans({}, 'MBHPackageBundle') }}" data-toggle="tooltip">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a href="{{ path('package_cash_delete', { 'id': entity.id, 'cashId': cash.id }) }}" class="btn btn-danger btn-xs delete-link " title="{{ 'package.cash.delete_record'|trans({}, 'MBHPackageBundle') }}" data-toggle="tooltip">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if checkPackagePermissions(entity) %}
            {{ form_start(form, {'action': path('package_cash', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': entity, 'delete_route': 'package_delete' } %}
            {{ form_end(form) }}
            {% endif %}
            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'package_delete' } %}
        </div>
    </div>

{% endblock %}