{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.guest.edit_reservation'|trans({}, 'MBHPackageBundle') ~ entity.numberWithPrefix %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.guest.deleted'|trans({}, 'MBHPackageBundle')~'</span>' %}{% endif %}


{% block scripts %}
    {{ parent() }}
    {% javascripts filter='uglifyjs2' '@MBHPackageBundle/Resources/public/js/documents/001.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 8 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% if entity.deletedAt is empty and checkPackagePermissions(entity) %}
                    {{ form_start(form, {'action': path('package_documents', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal' }}) }}
                    {{ form_widget(form) }}
                    {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': entity, 'delete_route': 'package_delete' } %}
                    {{ form_end(form) }}
            {% endif %}

            {% if entity.documents.iterator.count > 0 %}
                <div class="alert alert-warning package-main-info">
                    <div class="row">
                        {% for document in entity.documents.iterator %}
                            <div class="package-document col-md-2">
                                <img src="{{ asset(document.asset) | imagine_filter('thumb_50x50') }}" style="width: 40px; float: left; margin: 3px">
                                <button data-filename="{{ document.name }}" data-package="{{ entity.id }}" class="btn btn-danger btn-xs remove-package-document" style="float: right">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <div>
                                    <i class="fa fa-file"></i>
                                    <strong class="document-name">{{ document.originalName }}</strong>
                                    <div class="document-type">{{ ('package.document.type_'~document.type) |trans({}, 'MBHPackageBundle') }}</div>
                                    <small style="font-style: italic;">{{ document.comment }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'package_delete' } %}

        </div>
    </div>

{% endblock %}