{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ ' ' ~ entity.numberWithPrefix %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ entity.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': entity} %}

    {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 2 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="alert alert-warning package-main-info">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>{{ 'package.edit.tariff'|trans({}, 'MBHPackageBundle') }}</strong></div>
                            <div class="col-md-9">{{ entity.tariff.name }}</div>
                        </div>
                        <div class="row spacer-top">
                            <div class="col-md-3"><strong>{{ 'package.edit.price'|trans({}, 'MBHPackageBundle') }}</strong></div>
                            <div class="col-md-9">
                                {{ entity.price|number_format(2) }}
                                &nbsp;
                                {% if entity.isPaid %}
                                    <small class="text-success"><i
                                                class="fa fa-check"> </i> {{ 'package.edit.paid'|trans({}, 'MBHPackageBundle') }}
                                    </small>
                                {% else %}
                                    <small class="text-danger"><i
                                                class="fa fa-times"> </i> {{ 'package.edit.not_paid'|trans({}, 'MBHPackageBundle') }}
                                    </small>
                                {% endif %}

                                <div class="spacer-top">
                                    <small>
                                        <a href="#" id="package-price-by-day-href">
                                            {{ 'package.edit.price_by_day'|trans({}, 'MBHPackageBundle')|lower }}&nbsp;
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </small>
                                </div>

                                <div class="spacer-top" id="package-price-by-day">
                                {% for date, price in entity.pricesByDate %}
                                    <small>{{ date|replace({'_': '.'}) }} - <strong>{{ price }}</strong></small><br>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>{{ 'package.edit.service_price'|trans({}, 'MBHPackageBundle') }}</strong></div>
                            <div class="col-md-8">
                                {{ entity.servicesPrice|number_format(2) }}

                            </div>
                        </div>
                        <div class="row spacer-top">
                            <div class="col-md-4">
                                <strong>{{ 'package.edit.order_type'|trans({}, 'MBHPackageBundle') }}</strong></div>
                            <div class="col-md-8"><span
                                        class="text-{{ statuses[entity.status].class }}">{{ statuses[entity.status].title }} {% if entity.status == 'channel_manager' %}({{ entity.channelManagerType }}){% endif %}</span>

                                {% if entity.deletedAt %} &nbsp;
                                <small class="text-danger"><i
                                        class="fa fa-trash-o"> </i> {{ 'package.edit.deleted'|trans({}, 'MBHPackageBundle') }}
                                </small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row spacer-top">
                            <div class="col-md-4">
                                <strong>{{ 'package.edit.is_confirmed'|trans({}, 'MBHPackageBundle') }}</strong></div>
                            <div class="col-md-8">
                                {% if entity.confirmed %}
                                    <small class="text-success"><i
                                                class="fa fa-check"> </i> {{ 'package.edit.is_confirmed_yes'|trans({}, 'MBHPackageBundle') }}
                                    </small>
                                {% else %}
                                    <small class="text-danger"><i
                                                class="fa fa-times"> </i> {{ 'package.edit.is_confirmed_no'|trans({}, 'MBHPackageBundle') }}
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {{ form_start(form, {'action': path('package_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% if entity.deletedAt is empty %}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': entity} %}
            {% endif %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'package_delete' } %}
        </div>
    </div>
{% endblock %}
