{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ ' ' ~ entity.numberWithPrefix %}
{% set layout = 'tabs' %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ entity.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': entity} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 2 , 'entity': entity} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'package-edit-widget', 'header': 'info' } %}

                    <div class="row">
                        <div class="col-md-6">
                            <table class="table not-auto-datatable table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>{{ 'package.edit.tariff'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.tariff.name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'package.edit.price'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.price|number_format(2) }}
                                            &nbsp;
                                            {% if entity.isPaid %}
                                                <small class="text-success"><i
                                                            class="fa fa-check"> </i> {{ 'package.edit.paid'|trans({}, 'MBHPackageBundle') }}
                                                </small>
                                            {% else %}
                                                <small class="text-danger"><i
                                                            class="fa fa-times"> </i> {{ 'package.edit.not_paid'|trans({}, 'MBHPackageBundle') }}
                                                </small>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'package.edit.price_by_day'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {% for date, price in entity.pricesByDate %}
                                                <small>{{ date|replace({'_': '.'}) }} - <strong>{{ price }}</strong></small><br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                                <table class="table not-auto-datatable table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>{{ 'package.edit.service_price'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            {{ entity.servicesPrice|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'package.edit.order_type'|trans({}, 'MBHPackageBundle') }}</strong>
                                        </td>
                                        <td>
                                            <span
                                        class="text-{{ statuses[entity.status].class }}">{{ statuses[entity.status].title }} {% if entity.status == 'channel_manager' %}({{ entity.channelManagerType }}){% endif %}</span>
                                        {% if entity.deletedAt %} &nbsp;
                                            <small class="text-danger"><i
                                                    class="fa fa-trash-o"> </i> {{ 'package.edit.deleted'|trans({}, 'MBHPackageBundle') }}
                                            </small>
                                         {% endif %}
                                         </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ 'package.edit.is_confirmed'|trans({}, 'MBHPackageBundle') }}</strong></div>
                                        </td>
                                        <td>
                                            {% if entity.confirmed %}
                                                <small class="text-success"><i
                                                            class="fa fa-check"> </i> {{ 'package.edit.is_confirmed_yes'|trans({}, 'MBHPackageBundle') }}
                                                </small>
                                            {% else %}
                                                <small class="text-danger"><i
                                                            class="fa fa-times"> </i> {{ 'package.edit.is_confirmed_no'|trans({}, 'MBHPackageBundle') }}
                                                </small>
                                            {% endif %}
                                         </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

            {{ form_start(form, {'action': path('package_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% if entity.deletedAt is empty %}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': entity} %}
            {% endif %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'package_delete' } %}
        </div>
    </div>
{% endblock %}
