{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ ' ' ~ package.numberWithPrefix %}
{% set layout = 'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 2 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% if package.isForceBooking %}
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-circle"></i> {{ 'package.edit.package_created_with_ignoring_conditions'|trans}}
                </div>
            {% endif %}

            {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'package-edit-widget', 'header': 'info' } %}

            <div class="row">
                <div class="col-md-6">
                    <table class="table not-auto-datatable table-striped">
                        <tbody>
                        <tr>
                            <td class="col-md-3">
                                <strong>{{ 'package.edit.tariff'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                {{ package.tariff.name }}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                <strong>{{ 'package.edit.price'|trans({}, 'MBHPackageBundle') }}</strong>
                            </td>
                            <td>
                                {{ package.price|number_format(2) }}
                                &nbsp;
                                {% if package.isPaid %}
                                    <small class="text-success"><i
                                                class="fa fa-check"> </i> {{ 'package.edit.paid'|trans({}, 'MBHPackageBundle') }}
                                    </small>
                                {% else %}
                                    <small class="text-danger"><i
                                                class="fa fa-times"> </i> {{ 'package.edit.not_paid'|trans({}, 'MBHPackageBundle') }}
                                    </small>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'package.edit.package_price'|trans({}, 'MBHPackageBundle') }}</strong></td>
                            <td>{{ package.getPackagePrice(true)|number_format(2) }}</td>
                        </tr>

                        {% if package.prices is not empty %}
                            <tr>
                                <td class="col-md-3">
                                    <strong>{{ 'package.edit.price_by_day'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {% if package.prices|length > 5 %}
                                        <p>
                                            <small>
                                                <a href="javascript: toggler('price-by-days')">{{ 'package.edit.show_display'|trans}}</a>
                                            </small>
                                        </p>
                                    {% endif %}
                                    <div id="price-by-days"
                                         {% if package.prices|length > 5 %}style="display: none;"{% endif %}>
                                        {% for price in package.getPackagePricesWithDiscount() %}
                                            <small>
                                                {{ price.date|date('d.m.Y') }} -
                                                <strong>{{ price.price|number_format(2) }}</strong>
                                                {% if is_granted('ROLE_TARIFF_EDIT') %}
                                                    -
                                                    <a data-toggle="tooltip" title="{{ 'package.edit.tariff'|trans }}"
                                                       href="{{ path('tariff_edit', {id: price.tariff.id}) }}">
                                                        <i class="fa fa-sliders"></i> {{ price.tariff }}
                                                    </a>
                                                {% endif %}
                                                {% if price.promotion and is_granted('ROLE_PROMOTION_EDIT') %}
                                                    - <a data-toggle="tooltip" title="{{ 'package.edit.promotions'|trans }}"
                                                         href="{{ path('promotion_edit', {id: price.promotion.id}) }}">
                                                    <i class="fa fa-bookmark"></i> {{ price.promotion }}
                                                </a>
                                                {% endif %}
                                                {% if price.special and is_granted('ROLE_SPECIAL_EDIT') %}
                                                    - <a data-toggle="tooltip" title="{{ 'package.edit.promotions'|trans }}"
                                                         href="{{ path('special_edit', {id: price.special.id}) }}">
                                                    <i class="fa fa-star"></i> {{ price.special }}
                                                </a>
                                                {% endif %}
                                            </small>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}


                        {% if package.pricesByDate is not empty and package.prices is empty %}
                            <tr>
                                <td class="col-md-3">
                                    <strong>{{ 'package.edit.price_by_day'|trans({}, 'MBHPackageBundle') }}</strong>
                                </td>
                                <td>
                                    {% if package.pricesByDate|length > 5 %}
                                        <p>
                                            <small>
                                                <a href="javascript: toggler('price-by-days')">{{ 'package.edit.show_display'|trans}}</a>
                                            </small>
                                        </p>
                                    {% endif %}
                                    <div id="price-by-days"
                                         {% if package.pricesByDate|length > 5 %}style="display: none;"{% endif %}>
                                        {% for date, price in package.pricesByDate %}
                                            <small>{{ date|replace({'_': '.'}) }} -
                                                <strong>{{ price|number_format(2) }}</strong></small><br>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table not-auto-datatable table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <strong>{{ 'package.edit.service_price'|trans({}, 'MBHPackageBundle') }}</strong>
                        </td>
                        <td>
                            {{ package.servicesPrice|number_format(2) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'package.edit.order_type'|trans({}, 'MBHPackageBundle') }}</strong>
                        </td>
                        <td>
                            <span class="text-{{ statuses[status].class }}">{{ statuses[status].title|trans }} {% if status == 'channel_manager' %}({{ package.channelManagerType }}){% endif %}</span>
                            {% if package.deletedAt %} &nbsp;
                                <small class="text-danger"><i
                                            class="fa fa-trash-o"> </i> {{ 'package.edit.deleted'|trans({}, 'MBHPackageBundle') }}
                                </small>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'package.edit.is_confirmed'|trans({}, 'MBHPackageBundle') }}</strong>
                        </td>
                        <td>
                            {% if package.confirmed %}
                                <small class="text-success"><i
                                            class="fa fa-check"> </i> {{ 'package.edit.is_confirmed_yes'|trans({}, 'MBHPackageBundle') }}
                                </small>
                            {% else %}
                                <small class="text-danger"><i
                                            class="fa fa-times"> </i> {{ 'package.edit.is_confirmed_no'|trans({}, 'MBHPackageBundle') }}
                                </small>
                            {% endif %}
                        </td>
                    </tr>
                    {% if package.searchQuery is iterable %}
                        {% for query in package.searchQuery %}
                            <tr>
                                <td class="col-md-3">
                                    <strong>{{ 'package.edit.query'|trans({}, 'MBHPackageBundle') }} {{ loop.index }}</strong>
                                </td>
                                <td>
                                    <p>
                                        <small><a href="javascript: toggler('main-query{{ loop.index }}')">{{ 'package.edit.show_display'|trans}}</a></small>
                                    </p>
                                    <div id="main-query{{ loop.index }}" style="display: none;">
                                        <small>
                                            <p>
                                                {{ 'pacakge.edit.date_of_creation'|trans }} - <strong>{{ query.createdAt|date('d.m.Y H:i') }}</strong>
                                            </p>
                                            <p>
                                                {{ 'form.packageMainType.begin'|trans}} - <strong>{{ query.begin|date('d.m.Y') }}</strong>
                                            </p>
                                            <p>
                                                {{ 'form.packageMainType.end'|trans}} - <strong>{{ query.end|date('d.m.Y') }}</strong>
                                            </p>
                                            {% if query.adults %}
                                                <p>
                                                    {{ 'pacakge.edit.number_of_adults'|trans}} - <strong>{{ query.adults }} {{ 'adults.full'|transchoice(query.adults) }}</strong>
                                                </p>
                                            {% endif %}
                                            {% if query.children %}
                                                <p>
                                                    {{ 'pacakge.edit.number_of_children'|trans}} - <strong>{{ query.children }} {{ 'children.full'|transchoice(query.children) }}</strong>
                                                </p>
                                            {% endif %}
                                            {% if query.childrenAges and query.childrenAges is iterable %}
                                                <p>
                                                    {{ 'pacakge.edit.children_ages'|trans}} -
                                                    <strong>
                                                        {% for age in query.childrenAges %}
                                                            {{ age }} {{ 'age.full'|transchoice(age) }}
                                                        {% endfor %}
                                                    </strong>
                                                </p>
                                            {% endif %}
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if package.virtualRoom %}
                    <tr>
                        <td>
                            <strong>{{ 'package.edit.virtual_room'|trans({}, 'MBHPackageBundle') }}</strong>
                        </td>
                        <td>
                            {{ package.virtualRoom }}
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    {{ form_start(form, {'action': path('package_update', {'id': package.id}),  'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_PACKAGE_EDIT'} %}
    {{ form_end(form) }}

    {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': package, 'logs': logs, 'delete_route': 'package_delete' } %}
    </div>
    </div>
{% endblock %}
