{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ ' ' ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts filter='uglifyjs2'
        '@MBHPackageBundle/Resources/public/js/tourist/tourist.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
{% spaceless %}
    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 4 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% set totalGuests = package.children + package.adults %}
            {% if package.tourists|length < totalGuests %}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    {% if package.tourists|length < totalGuests %} {{ 'package.guest.guests_not_added'|trans({}, 'MBHPackageBundle') }} {{ totalGuests - package.tourists|length }}. {% endif %}
                </div>
            {% endif %}

            {% if package.tourists|length > 0 %}
                <table class="package-guest-table table table-striped table-hover table-condensed table-icons table-actions not-auto-datatable">
                    <thead>
                        <tr>
                            <th class="td-xs"></th>
                            <th>{{ 'package.guest.fio'|trans}}</th>
                            <th class="td-md">{{ 'package.guest.phone'|trans({}, 'MBHPackageBundle') }}</th>
                            <th class="td-md">{{ 'package.guest.email'|trans({}, 'MBHPackageBundle') }}</th>
                            <th class="td-md">{{ 'package.guest.birth_date'|trans({}, 'MBHPackageBundle') }}</th>
                            <th class="td-sm">{{ 'package.guest.age'|trans({}, 'MBHPackageBundle') }}</th>
                            <th class="td-sm">{{ 'package.guest.passport'|trans({}, 'MBHPackageBundle') }}</th>
                            <th class="td-sm">{{ 'package.guest.address'|trans({}, 'MBHPackageBundle') }}</th>
                            <th class="td-md"></th>
                        </tr>
                        </thead>
                    <tbody>
                    {% for tourist in package.tourists %}
                        <tr>
                            <td class="text-center table-icon"><i class="fa fa-male"></i></td>
                            <td>
                                <a target="_blank" href="{{ path('tourist_edit', { 'id': tourist.id, 'redirectTo': app.request.uri}) }}" rel="main"
                                   title=" {{ 'package.guest.edit_record'|trans({}, 'MBHPackageBundle') }}" data-toggle="tooltip">{{ tourist.fullName }}</a>
                                &nbsp;
                                {% if tourist.isUnwelcome %}
                                    <a href='{{ path('tourist_edit_unwelcome', {id: tourist.id}) }}'>
                                        <i data-toggle='tooltip' data-original-title='{{ 'package.guest.client_in_black_list'|trans }}' class='fa fa-user-secret unwelcome-icon'></i>
                                    </a>
                                {% else %}
                                    <i style='opacity:0.4' data-toggle='tooltip' data-original-title='{{ 'package.guest.client_not_in_black_list'|trans }}' class='fa fa-check-circle'></i>
                                {% endif %}
                            </td>
                            <td>{% if tourist.phone %}{{ tourist.phone }}{% endif %}</td>
                            <td>{% if tourist.email %}<a href="mailto:{{ tourist.email }}" data-toggle="tooltip" title="{{ 'package.guest.write_a_client'|trans({}, 'MBHPackageBundle') }}">{{ tourist.email }}</a>{% endif %}</td>
                            <td>{% if tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</td>
                            <td class="text-center">{{ tourist.age }}</td>
                            <td class="text-center">
                                {% if tourist.documentRelation and tourist.documentRelation.series and tourist.documentRelation.number %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-muted"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.city and tourist.addressObjectDecomposed.street %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-muted"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                            <td class="table-actions-td text-center">
                                {% if package.deletedAt is empty %}
                                    {% if is_granted('ROLE_TOURIST_EDIT') %}
                                    <a target="_blank" href="{{ path('tourist_edit', { 'id': tourist.id, 'redirectTo': app.request.uri }) }}"
                                       class="btn btn-success btn-xs" title="{{ 'package.guest.edit_record'|trans({}, 'MBHPackageBundle') }}" data-toggle="tooltip">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    {% endif %}

                                    {% if is_granted('ROLE_PACKAGE_GUESTS') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                                        <a href="{{ path('package_guest_delete', { 'id': package.id, "touristId": tourist.id }) }}"
                                           class="btn btn-danger btn-xs delete-link " title="{{ 'package.guest.delete_record'|trans({}, 'MBHPackageBundle') }}"
                                           data-toggle="tooltip">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if not package.tourists|length < totalGuests %}
                <div class="bg-gray color-palette alert" id="guest-overflow-alert">
                    <i class="fa fa-info-circle"></i> {{ 'package.guest.added_max_guests'|trans}}
                    &nbsp;
                    <div class="btn btn-default btn-xs">
                        <i class="fa fa-plus"></i> {{ 'package.guest.add_more'|trans}}
                    </div>
                </div>
            {% endif %}

            {% if is_granted('ROLE_PACKAGE_GUESTS') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_start(form, {'action': path('package_guest', {'id': package.id}),  'attr': {'class': 'form-horizontal' ~ (not package.tourists|length < totalGuests ? ' hide': '') }}) }}
                {{ form_widget(form) }}
            {% endif %}
                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_PACKAGE_GUESTS'} %}
            {% if is_granted('ROLE_PACKAGE_GUESTS') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                {{ form_end(form) }}
            {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': package, 'logs': logs, 'delete_route': 'package_delete' } %}

        </div>
    </div>
{% endspaceless %}
{% endblock %}