{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "редактирование брони " ~ entity.numberWithPrefix %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">удалена</span>' %}{% endif %}

{% block content %}

    {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 2 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {% set totalGuests = entity.children + entity.adults %}

            {% if entity.tourists|length < totalGuests %}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-exclamation-circle"></i>
                    {% if entity.tourists|length < totalGuests %}Не добавлено гостей: {{ totalGuests - entity.tourists|length }}. {% endif %}
                </div>
            {% endif %}

            {% if entity.tourists|length > 0 %}
                <table class="package-guest-table table table-striped table-hover table-condensed table-icons table-actions not-auto-datatable">
                    <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th>ФИО</th>
                        <th class="td-md">Телефон</th>
                        <th class="td-md">E-mail</th>
                        <th class="td-md">Дата рождения</th>
                        <th class="td-sm">Возраст</th>
                        <th class="td-sm">Паспорт</th>
                        <th class="td-sm">Адрес</th>
                        <th class="td-sm">Основной</th>
                        <th class="td-md"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tourist in entity.tourists %}
                        <tr>
                            <td class="text-center table-icon"><i class="fa fa-user"></i></td>
                            <td>
                                <a target="_blank" href="{{ path('tourist_edit', { 'id': tourist.id }) }}" rel="main"
                                   title="Редактирование записи" data-toggle="tooltip">{{ tourist.fullName }}</a>
                            </td>
                            <td>{% if tourist.phone %}{{ tourist.phone }}{% endif %}</td>
                            <td>{% if tourist.email %}<a href="mailto:{{ tourist.email }}" data-toggle="tooltip" title="Написать клиенту">{{ tourist.email }}</a>{% endif %}</td>
                            <td>{% if tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</td>
                            <td class="text-center">{{ tourist.age }}</td>
                            <td class="text-center">
                                {% if tourist.document is not empty %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-muted"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if tourist.address is not empty %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-muted"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if entity.order.mainTourist is not null and entity.order.mainTourist.id == tourist.id %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-muted"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                            <td class="table-actions-td text-center">
                                {% if entity.deletedAt is empty and checkPackagePermissions(entity) %}
                                <a target="_blank" href="{{ path('tourist_edit', { 'id': tourist.id }) }}"
                                   class="btn btn-success btn-xs" title="Редактирование записи" data-toggle="tooltip">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <a href="{{ path('package_guest_delete', { 'id': entity.id, "touristId": tourist.id }) }}"
                                   class="btn btn-danger btn-xs delete-link " title="Удаление записи"
                                   data-toggle="tooltip">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if entity.deletedAt is empty and checkPackagePermissions(entity) %}
                {% if entity.tourists|length < totalGuests %}
                    {{ form_start(form, {'action': path('package_guest', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal' }}) }}
                    {{ form_widget(form) }}
                    {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': entity, 'delete_route': 'package_delete' } %}
                    {{ form_end(form) }}
                {% else %}
                    <div id="actions" class="navbar navbar-default navbar-fixed-bottom">
                        <div class="container">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button data-href="{{ path('package_delete', {'id': entity.id}) }}"
                                            class="btn btn-danger navbar-btn delete-link"><i class="fa fa-trash-o"></i>
                                        Удалить
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'package_delete' } %}

        </div>
    </div>

{% endblock %}