{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.index.reservations_list'|trans({}, 'MBHPackageBundle') %}
{% set layout = 'box' %}


{% block content %}
    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'dishorder-table-filter-widget'} %}
        <form id="package-table-filter" class="form-inline remember filter-form" role="form">
            <div class="filter-form_group-date">
                <div class="filter-form_input">
                    <i class="fa fa-calendar"
                       title='{{ 'package.index.dates'|trans }}'
                       data-toggle='tooltip'></i>
                    <div class="filter-form_input">
                        <input type="text"
                               id="package-filter-begin"
                               class="datepicker package-filter begin-datepicker form-control"
                               data-date-format="dd.mm.yyyy"
                               value="{{ client_config().getActualBeginDate()|date('d.m.Y') }}">
                        <span class="filter-form_separator"></span>
                        <input type="text"
                               id="package-filter-end"
                               class="datepicker package-filter end-datepicker form-control"
                               data-date-format="dd.mm.yyyy"
                               value="">
                    </div>
                </div>
                <div class="filter-form_input filter-form_group-date-select">
                    <select id="package-filter-dates" class="package-filter form-control">
                        <option value="begin">{{ 'package.index.check_in'|trans({}, 'MBHPackageBundle') }}</option>
                        <option value="end">{{ 'package.index.check_out'|trans({}, 'MBHPackageBundle') }}</option>
                        <option value="accommodation">{{ 'package.index.accommodation'|trans({}, 'MBHPackageBundle') }}</option>
                        <option value="createdAt">{{ 'package.index.create'|trans({}, 'MBHPackageBundle') }}</option>
                        <option value="deletedAt">{{ 'package.index.deletedAt'|trans({}, 'MBHPackageBundle') }}</option>
                    </select>
                </div>
            </div>

            <div class="filter-form_input">
                <i class="fa fa-bed"
                   title='{{ 'package.index.room_type'|trans }}'
                   data-toggle='tooltip'></i>
                <select data-placeholder="{{ 'package.index.room_type'|trans }}"
                        id="package-filter-roomType" multiple
                        class="package-filter form-control">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}">{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form_input">
                <i class="fa fa-paper-plane"
                   title='{{ 'package.index.package_type'|trans }}'
                   data-toggle='tooltip'></i>
                <select data-placeholder="{{ 'package.index.package_type'|trans }}"
                        id="package-filter-status"
                        class="package-filter plain-html form-control">
                    <option></option>
                    {% for key, status in statuses %}
                        <option value="{{ key }}" data-class="{{ status.class }}"
                                data-icon="{{ status.icon }}">{{ status.title|trans }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="filter-form_input">
                <i class="fa fa-compass"
                   title='{{ 'package.index.filter.package_source.title'|trans }}'
                   data-toggle='tooltip'></i>
                <select data-placeholder="{{ 'package.index.filter.package_source.placeholder'|trans }}"
                        id="package-source-filter"
                        class="package-filter plain-html form-control">
                    <option></option>
                    {% for source in packageSources %}
                        <option value="{{ source.id }}">{{ source.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form_input">
                <i class="{{ currency().icon }}"
                   title='{{ 'package.index.payment_status'|trans }}'
                   data-toggle='tooltip'></i>
                <select data-placeholder="{{ 'package.index.payment_status'|trans }}"
                        id="package-filter-paid"
                        class="package-filter form-control">
                    <option></option>
                    <option value="paid">{{ 'package.index.paid'|trans({}, 'MBHPackageBundle') }}</option>
                    <option value="part">{{ 'package.index.partly_paid'|trans({}, 'MBHPackageBundle') }}</option>
                    <option value="not_paid">{{ 'package.index.not_paid'|trans({}, 'MBHPackageBundle') }}</option>
                </select>
            </div>
            <div class="filter-form_input">
                <i class="fa fa-check"
                   title='{{ 'package.index.is_confirmed'|trans({}, 'MBHPackageBundle') }}'
                   data-toggle='tooltip'></i>
                <select data-placeholder="{{ 'package.index.is_confirmed'|trans({}, 'MBHPackageBundle') }}"
                        id="package-filter-confirmed"
                        class="package-filter form-control">
                    <option></option>
                    <option value="1">{{ 'package.index.is_confirmed_yes'|trans({}, 'MBHPackageBundle') }}</option>
                    <option value="0">{{ 'package.index.is_confirmed_no'|trans({}, 'MBHPackageBundle') }}</option>
                </select>
            </div>
            {% if environment == 'prod' %}
                <div class="filter-form_input">
                    <i class="fa fa-trash-o"
                       title='{{ 'package.index.deleted'|trans({}, 'MBHPackageBundle') }}'
                       data-toggle='tooltip'></i>
                    <input type="checkbox" id="package-filter-deleted" class="package-filter" value="1"/>
                </div>
            {% endif %}
            <input type="hidden" id="package-filter-quick-link" value="">
        </form>

    </div></div>

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'package-table-links-widget', 'header': 'form.quick_links', 'class': 'no'} %}
    <ul id="package-table-quick-links">
        <li><a class="btn btn-xs btn-default" data-value="begin-today"
               href="#">{{ 'package.index.check_in_today'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.begin_today|default('-') }}</span>)</a></li>
        <li><a class="btn btn-xs btn-default" data-value="begin-tomorrow"
               href="#">{{ 'package.index.check_in_tomorrow'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.begin_tomorrow|default('-') }}</span>)</a></li>
        <li><a class="btn btn-xs btn-default" data-value="live-now"
               href="#">{{ 'package.index.checked_in_now'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.live_now|default('-') }}</span>)</a></li>
        <li><a class="btn btn-xs btn-default" data-value="without-approval"
                                                        href="#">{{ 'package.index.not_confirmed'|trans({}, 'MBHPackageBundle') }}
                (<span class="package-table-quick-links-count">{{ count.without_approval|default('-') }}</span>)</a>
        </li>
        <li><a class="btn btn-xs btn-default" data-value="without-accommodation"
               href="#">{{ 'package.index.without_placement'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.without_accommodation|default('-') }}</span>)</a>
        </li>
        <li><a class="btn btn-xs btn-default" data-value="not-paid"
               href="#">{{ 'package.index.not_paid'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.not_paid|default('-') }}</span>)</a></li>
        <li><a class="btn btn-xs btn-default" data-value="not-paid-time"
               href="#">{{ 'package.index.not_paid_in_time'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.not_paid_time|default('-') }}</span>)</a></li>
        <li><a class="btn btn-xs btn-default" data-value="not-check-in"
               href="#">{{ 'package.index.not_checked_in'|trans({}, 'MBHPackageBundle') }} (<span
                        class="package-table-quick-links-count">{{ count.not_check_in|default('-') }}</span>)</a></li>

        {% if is_granted('ROLE_PACKAGE_VIEW_ALL') %}
        <li><a class="btn btn-xs btn-default" data-value="created-by"
                                                        href="#">{{ 'package.index.my_reservations'|trans({}, 'MBHPackageBundle') }}
                (<span class="package-table-quick-links-count">{{ count.created_by|default('-') }}</span>)</a></li>
        {% endif %}


        <li><a class="btn btn-xs btn-default" id="package-table-quick-reset" href="#"><i class="fa fa-ban"></i></a></li>
    </ul>

    </div></div>

    <table id="package-table"
           class="package-table table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th class="td-xs">#</th>
            <th class="td-md">{{ 'package.index.dates'|trans({}, 'MBHPackageBundle') }}</th>
            <th>{{ 'package.index.placement'|trans({}, 'MBHPackageBundle') }}</th>
            <th class="td-md">{{ 'package.index.guests'|trans({}, 'MBHPackageBundle') }}</th>
            <th class="td-md">{{ 'package.index.price'|trans({}, 'MBHPackageBundle') }}</th>
            <th class="td-md">{{ 'package.index.created'|trans({}, 'MBHPackageBundle') }}</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="text-center bg-gray color-palette alert" id="package-summary">
        <span class="package-summary-row"><b>{{ 'package.index.summary.nights'|trans({}, 'MBHPackageBundle') }}
                : </b> <span id="package-summary-nights">-</span></span>
        <span class="package-summary-row"><b>{{ 'package.index.summary.guests'|trans({}, 'MBHPackageBundle') }}
                : </b> <span id="package-summary-guests">-</span></span>
        {% if is_granted('ROLE_PRICE_SUMMARY') %}
        <span class="package-summary-row"><b>{{ 'package.index.summary.total'|trans({}, 'MBHPackageBundle') }}
                : </b> <span id="package-summary-total">-</span></span>
        <span class="package-summary-row"><b>{{ 'package.index.summary.paid'|trans({}, 'MBHPackageBundle') }}
                : </b> <span id="package-summary-paid">-</span></span>
        <span class="package-summary-row"><b>{{ 'package.index.summary.debt'|trans({}, 'MBHPackageBundle') }}
                : </b> <span id="package-summary-debt">-</span></span>
        {% endif %}
    </div>

    <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer hidden-xs">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_SEARCH') %}
                <li>
                    <button onclick="location.href = '{{ path('package_search') }}'" type="submit" class="btn btn-success navbar-btn">
                        <i class="fa fa-search"> </i> {{ 'menu.label.podbor'|trans}}</button>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id='list-export'></li>
            </ul>
        </div>
    </div>

    {{ include('@MBHPackage/Package/deleteModal.html.twig') }}

{% endblock content %}
