{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "список броней" %}

{% block content %}

        {% include 'MBHPackageBundle:Package:listTabs.html.twig' with {'active': 1 } %}

<div class="tab-content">

    <div class="well">
        <form id="package-table-filter" class="form-inline" role="form">
            <div class="input">
                <i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i>&nbsp <input type="text" id="package-filter-begin" class="datepicker package-filter begin-datepiker form-control input-sm" data-date-format="dd.mm.yyyy">
            </div>
            <div class="input">
                - &nbsp <input type="text" id="package-filter-end" class="datepicker package-filter end-datepiker form-control input-sm" data-date-format="dd.mm.yyyy">
            </div>
            <div class="input">
                <select id="package-filter-dates" class="package-filter form-control input-sm">
                    <option value="begin">Заезд</option>
                    <option value="end">Выезд</option>
                    <option value="createdAt">Создание</option>
                </select>
            </div>
            <div class="input">
                <i class="fa fa-home" title='Тип номера' data-toggle='tooltip'></i>&nbsp  <select data-placeholder="Тип номера" id="package-filter-roomType" class="package-filter form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                    <option value="{{ roomType.id }}">{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input">
                <i class="fa fa-paper-plane" title='Тип брони' data-toggle='tooltip'></i>&nbsp <select data-placeholder="Тип брони" id="package-filter-status" class="package-filter form-control input-sm plain-html">
                    <option></option>
                    {% for key, status in statuses %}
                        <option value="{{ key }}" data-class="{{ status.class }}">{{ status.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input">
                <i class="fa fa-money" title='Статус оплаты' data-toggle='tooltip'></i>&nbsp <select data-placeholder="Статус оплаты" id="package-filter-paid" class="package-filter form-control input-sm">
                    <option></option>
                    <option value="paid">Оплачена</option>
                    <option value="part">Частично оплачена</option>
                    <option value="not_paid">Не оплачена</option>
                </select>
            </div>
            <div class="input">
                <i class="fa fa-trash-o" title='Удаленные?' data-toggle='tooltip'></i>&nbsp <input type="checkbox" id="package-filter-deleted" class="package-filter"  value="1" />
            </div>
        </form>
    </div>

    <table id="package-table"
           class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th class="td-xs">#</th>
            <th class="td-md">Даты</th>
            <th class="td-md">Комната</th>
            <th class="td-md">Создана</th>
            <th class="td-md">Туристы</th>
            <th>Стоимость</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>

        <tbody>
    </table>

</div>
{% endblock content %}
