{% spaceless %}
{
"draw" : "{{ draw }}",
"recordsTotal": "{{ total }}",
"recordsFiltered": "{{ total }}",
"data": [
{% for entity in entities %}
    [
    "<div class='text-center {% if entity.deletedAt %}deleted-entry{% endif %}'><span class='text-{{ statuses[entity.status].class }}' data-toggle='tooltip' title='Тип брони: {{ statuses[entity.status].title }}'><i class='fa fa fa-paper-plane-o'></i></span></div>",
    "<div class='text-center'><a class='btn btn-sm {% if entity.deletedAt %}btn-danger{% elseif not entity.confirmed %}btn-primary{% else %}btn-success{% endif %}' href='{{ path('package_edit', {'id': entity.id}) }}' rel='main' title='Редактирование записи' data-toggle='tooltip'>{{ entity.numberWithPrefix }}</a>{% if entity.deletedAt %}<br><small><i class='fa fa-trash-o'></i> удалена</small>{% endif %}</div>",
    "{% if 'now'|date('Y') == entity.end|date('Y') and 'now'|date('Y') == entity.begin|date('Y')  %}{{ entity.begin|format_date('dd MMM') }} - {{ entity.end|format_date('dd MMM') }}{% else %}{{ entity.begin|date('d.m.Y') }} - {{ entity.end|date('d.m.Y') }}{% endif %}<br><small>{{ plural(entity.nights, 'ночь', 'ночи', 'ночей') }}</small>",
    "{{ entity.roomType }}<br><a data-toggle='tooltip' title='Перейти к размещению' href='{{ path('package_accommodation', {'id': entity.id}) }}' class='label {{ entity.accommodation ? 'label-success' : 'label-danger' }}  %}'>{% if entity.accommodation %}{{ entity.accommodation.name(entity.roomType.id == entity.accommodation.roomType.id ? false : true) }}{% else %}нет размещения{% endif %}</a>",
    "<a data-toggle='tooltip' href='{{ path('package_guest', {'id': entity.id}) }}' title='Перейти к гостям' class='label {{ entity.mainTourist ? 'label-default' : 'label-danger' }}'>{% if entity.mainTourist %}{{ entity.mainTourist.fullName }}{% else %}нет основного гостя{% endif %}</a><br><small>{% if entity.adults > 0 %}{{ entity.adults }} вз.{% endif %}{% if entity.adults > 0 and entity.children > 0 %}+{% endif %}{% if entity.children > 0 %}{{ entity.children }} рб.{% endif %} / <span data-toggle='tooltip' title='{{ entity.food }}'>{{ foodTypes[entity.food]|default(entity.food)}}</span></small>",
    "<div class='text-right'><a data-toggle='tooltip' title='Перейти к расчетам' href='{{ path('package_cash', {'id': entity.id}) }}' class='label {% if entity.isPaid %}label-success'{% elseif entity.paid > 0 %}label-warning'{% else %}btn-danger'{% endif %}>{% if not entity.isPaid %}{{ entity.paid|number_format }} / {% endif %}{{ entity.price|number_format }}</a><br><small><i class='fa fa-sliders'></i> {{ entity.tariff }}</small></div>",
    "<div class='text-right'>{% if 'now'|date('d.m.Y') == entity.createdAt|date('d.m.Y') %}Сегодня, {{ entity.createdAt|date('H:i') }}{% else %}{{ entity.createdAt|date('d.m.Y H:i') }}{% endif %}<br><small>{{ entity.createdBy }}</small></div>",
    "{% include 'MBHPackageBundle:Package:jsonButtons.html.twig' with {'entity': entity} %}"
    ]{% if loop.index != entities.count(true) %},{% endif %}
{% endfor %}
]
}
{% endspaceless %}