{% spaceless %}
{
"draw" : "{{ draw }}",
"recordsTotal": "{{ total }}",
"recordsFiltered": "{{ total }}",

{% if summary %}

"package_summary_total": "{{ summary.total|number_format(2)|default('-') }}",
"package_summary_paid": "{{ summary.paid|number_format(2)|default('-') }}",
"package_summary_debt": "{{ summary.debt|number_format(2)|default('-') }}",
"package_summary_nights": "{{ summary.nights|default('-') }}",
"package_summary_guests": "{{ summary.guests|number_format()|default('-') }}",

{% endif %}

"data": [
{% for entity in entities %}
    {% if entity.isCheckIn and entity.accommodation %}{% set checkIn = true %}{% else %}{% set checkIn = false %}{% endif %}
    {% if entity.isCheckOut and entity.accommodation %}{% set checkOut = true %}{% else %}{% set checkOut = false %}{% endif %}
    [
    "<div class='text-center {% if entity.deletedAt or entity.corrupted %}deleted-entry{% elseif not entity.order.confirmed %}not-confirmed-entry{% endif %}'><span data-toggle='tooltip' title='{{ 'package.json.reservation_type'|trans({}, 'MBHPackageBundle') }}  {{ statuses[entity.order.status].title }}'><i class='{{ statuses[entity.order.status].icon }}'></i></span></div>",
    "<div class='text-center'><a class='btn btn-sm {{ checkIn or checkOut ? 'check-button' }} {{ checkIn ? 'check-in-button' }} {{ checkOut ? 'check-out-button' }} {% if entity.deletedAt %}btn-danger{% else %}btn-success{% endif %}' href='{{ path('package_edit', {'id': entity.id}) }}' rel='main' title='{{ 'package.json.edit_record'|trans({}, 'MBHPackageBundle') }}' data-toggle='tooltip'>{% if checkIn or checkOut %}<span>{% endif %}{{ entity.numberWithPrefix }}{% if checkIn %}</span>{% endif %}</a>{% if entity.deletedAt %}<br><small><i class='fa fa-trash-o'> </i> {{ 'package.json.deleted'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}{% if entity.corrupted %}<br><small><i class='fa fa-exclamation-circle'> </i> {{ 'package.json.corrupted'|trans({}, 'MBHPackageBundle') }}</small>{% endif %}</div>",
    "{{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}<br><small>{{ entity.nights }} {{ 'nights'|transchoice(entity.nights) }}</small>",
    "{{ entity.roomType }}<br><small><a data-toggle='tooltip' title='{{ "package.json.go_to_placement"|trans({}, "MBHPackageBundle") }}' href='{{ path('package_accommodation', {'id': entity.id}) }}' class='{{ entity.accommodation ? '' : 'danger' }}'>{% if entity.accommodation and entity.accommodation.roomType %}{{ entity.accommodation.name(entity.roomType.id == entity.accommodation.roomType.id ? false : true) }}{% else %}&lt;{{ "package.json.not_placed"|trans({}, "MBHPackageBundle") }}&gt;{% endif %}</a></small>",
    "<a data-toggle='tooltip' href='{{ path('package_order_tourist_edit', {'id': entity.order.id, 'packageId': entity.id}) }}' title='{{ "package.json.go_to_payer"|trans({}, "MBHPackageBundle") }}' class='{{ entity.order.mainTourist ? '' : 'danger' }}'>{% if entity.order.mainTourist %}{{ entity.order.mainTourist.lastNameWithInitials }}{% else %}&lt;{{ "package.json.no_payer"|trans({}, "MBHPackageBundle") }}&gt;{% endif %}</a><small><br>{% if entity.adults > 0 %}{{ entity.adults }} вз.{% endif %}{% if entity.adults > 0 and entity.children > 0 %}+{% endif %}{% if entity.children > 0 %}{{ entity.children }} рб.{% endif %}</small>",
    "<div class='text-right'><a data-toggle='tooltip' title='{{ "package.json.go_to_calculations"|trans({}, "MBHPackageBundle") }}' href='{{ path('package_order_cash', {'id': entity.order.id, 'packageId': entity.id}) }}' class='text {% if entity.order.isPaid %}text-success'{% elseif entity.order.paid > 0 %}text-warning'{% else %}text-danger'{% endif %}>{{ entity.price|number_format(2) }}</a><br><small><i class='fa fa-sliders'> </i> {{ entity.tariff.name }}</small></div>",
    "<div class='text-right'>{% if 'now'|date('d.m.Y') == entity.createdAt|date('d.m.Y') %}{{ "package.json.today"|trans({}, "MBHPackageBundle") }} {{ entity.createdAt|date('H:i') }}{% else %}{{ entity.createdAt|date('d.m.Y H:i') }}{% endif %}<br><small>{{ entity.createdBy|default(entity.channelManagerType)|default('online') }}</small></div>",
    "{% include 'MBHPackageBundle:Package:jsonButtons.html.twig' with {'entity': entity} %}"
    ]{% if loop.index != entities.count(true) %},{% endif %}
{% endfor %}
]
}
{% endspaceless %}