<div class="modal fade" id="late-early-check" data-arrival-hours="{{ arrivalTime }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'package.late_early_check_modal.add_new_service'|trans}}?</h4>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="form-inline">
                    <div class="form-group">
                        <label style="margin-right: 5px;" class="control-label" required="required" >{{ 'package.late_early_check_modal.quantity'|trans}}</label>
                        <input class="form-control" type="number" name="amount" style="width: 70px" min="1" max="10" value="1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> {{ 'package.late_early_check_modal.cancel'|trans}}</button>
                <button type="button" id="late-early-check-no" class="btn btn-default">{{ 'package.late_early_check_modal.no'|trans}}</button>
                <button type="button" id="late-early-check-yes" class="btn btn-primary">{{ 'package.late_early_check_modal.yes'|trans}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->