{% extends app.request.isxmlhttprequest ? "MBHBaseBundle::ajax.html.twig": 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.edit.edit_reservation'|trans({}, 'MBHPackageBundle') ~ ' ' ~ package.numberWithPrefix %}
{% set layout =  'tabs' %}

{% if package.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.edit.deleted'|trans({}, 'MBHPackageBundle')~ ' (' ~ package.deletedAt|date('d.m.Y H:i') ~ ') </span>' %}{% endif %}

{% block prepend_content %}
    {% include 'MBHPackageBundle:Package:orderPackages.html.twig' with {'entity': package} %}
{% endblock %}

{% block content %}

    {% if app.request.isxmlhttprequest is empty %}
        {% include 'MBHPackageBundle:Package:editTabs.html.twig' with {'active': 5 , 'entity': package} %}
    {% endif %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="bg-gray color-palette alert">
                <i class="{{ currency().icon }}"></i>
                {{ 'mbhpackagebundle.view.package.service.tsena'|trans }} : {{ package.price|number_format(2) }}
                &nbsp;
                {% if package.isPaid %}
                    <small class="text-success"><i class="fa fa-check"> </i> {{ "package.service.paid"|trans({}, "MBHPackageBundle") }}</small>
                {% else %}
                    <small class="text-danger"><i class="fa fa-times"> </i> {{ "package.service.not_paid"|trans({}, "MBHPackageBundle") }}</small>
                {% endif %}
                &nbsp;
                <i class="fa fa-plug"></i>
                {{ 'mbhpackagebundle.view.package.service.tsenauslug'|trans }} : {{ package.servicesPrice|number_format(2) }}
            </div>

            {% if package.services|length > 0 %}
                <table class="package-service-table table table-striped table-hover table-condensed table-icons table-actions not-auto-datatable">
                    <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th>{{ 'mbhpackagebundle.view.package.service.nazvaniye'|trans }} </th>
                        <th class="td-sm text-center">{{ "package.service.nights"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-sm text-center">{{ "package.service.guests"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-xs text-center">{{ "package.service.amount"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-md text-center">{{ "package.service.date"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-md text-center">{{ "package.service.time"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-md text-right">{{ "package.service.price"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-sm">{{ "package.service.calculation_type"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-md text-right">{{ "package.service.result"|trans({}, "MBHPackageBundle") }}</th>
                        <th>{{ "package.service.comment"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-md text-center">{{ "package.service.creation_date"|trans({}, "MBHPackageBundle") }}</th>
                        <th class="td-sm"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in package.services %}
                        <tr {% if service.deletedAt %}class="danger"{% endif %}>
                            <td class="text-center table-icon"><i class="fa fa-plug"></i></td>
                            <td>{{ service.service }}</td>
                            <td class="text-center">{{ service.calcType == 'per_night' ? service.nights : '' }}</td>
                            <td class="text-center">{{ service.calcType != 'not_applicable' and service.calcType != 'day_percent' ? service.persons : '' }}</td>
                            <td class="text-center">{{ service.amount }}</td>
                            <td class="text-center">{{ service.service.date ? service.begin|date('d.m.Y') : ''  }}</td>
                            <td class="text-center">
                                {{ service.service.time ? service.time|date('H:i') : ''  }}
                            </td>
                            <td class="text-right text-success">{{ service.price|number_format(2) }}</td>
                            <td>{{ config.calcTypes[service.calcType] }}</td>
                            <td class="text-right text-success">{{ service.total|number_format(2) }}</td>
                            <td>{{ service.note }}</td>
                            <td class="text-center">{{ service.createdAt|date('d.m.Y') }}</td>

                            <td class="table-actions-td text-center">

                                {% if package.deletedAt is empty and service.deletedAt is empty and is_granted('ROLE_PACKAGE_SERVICES') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                                <a href="{{ path('package_service_edit', { 'id': package.id, "serviceId": service.id }) }}"
                                   class="btn btn-success btn-xs " title="{{ 'package.service.edit_record'|trans({}, 'MBHPackageBundle')}}"
                                   data-toggle="tooltip">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <a href="{{ path('package_service_delete', { 'id': package.id, "serviceId": service.id }) }}"
                                   class="btn btn-danger btn-xs delete-link " title="{{ 'package.service.delete_record'|trans({}, 'MBHPackageBundle')}}"
                                   data-toggle="tooltip">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

                 {% if is_granted('ROLE_PACKAGE_SERVICES') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                    {{ form_start(form, {'action': path('package_service', {'id': package.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal' }}) }}
                    {{ form_widget(form) }}
                {% endif %}

                {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, role: 'ROLE_PACKAGE_SERVICES'} %}

                {% if is_granted('ROLE_PACKAGE_SERVICES') and (is_granted('EDIT', package) or is_granted('ROLE_PACKAGE_EDIT_ALL')) %}
                    {{ form_end(form) }}
                {% endif %}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': package, 'logs': logs } %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% include 'MBHPackageBundle:Package:serviceScripts.html.twig' with {'entity': package} %}
{% endblock %}