{% extends "MBHHotelBundle:RoomTypeCategory:layout.html.twig" %}
{% set layout = "box" %}

{% block content %}

    <table class="table table-striped table-icons table-actions">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'mbhhotelbundle.view.roomtypecategory.index.nazvaniye'|trans }} </th>
                <th>{{ 'mbhhotelbundle.view.roomtypecategory.index.vklyuchena'|trans }} </th>
                <th>{{ 'mbhhotelbundle.view.roomtypecategory.index.tipynomerov'|trans }} </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td class="td-xxs">
                        <i class="fa fa-bed"></i>
                    </td>
                    <td>
                        <a href="{{ path('room_type_category_edit', { 'id': category.id }) }}" rel="main">{{ category.name }}</a>
                    </td>
                    <td>
                        {% if category.isEnabled %}
                            <span class="label label-success">{{ 'mbhhotelbundle.view.roomtypecategory.index.da'|trans }} </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if category.types|length > 0 %}
                            {% for roomType in category.types %}
                                <small>{% if loop.index0 > 0 %}, {% endif %}{{ roomType }}</small>
                            {% endfor %}
                        {% else %}
                            <span class="label label-danger">{{ 'mbhhotelbundle.view.roomtypecategory.index.net'|trans }} </span>
                        {% endif %}
                    </td>
                    <td class="table-actions-td text-center">
                        {% include 'MBHBaseBundle:Actions:entry_actions.html.twig' with {entity: category, role: 'TYPE_CATEGORY', route: 'room_type_category', deleted_link: category.types|length == 0}  %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'room_type_category_new', 'role': 'ROOM_TYPE_CATEGORY'} %}

{% endblock content %}