{% extends 'MBHPackageBundle:Tourist:layout.html.twig' %}

{% set small_title = "список клиентов" %}    
{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'tourist-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline filter-form icon-label-form', id: 'tourist-form'}}) }}
            <div class="form-group">
                <label><i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i></label>
                {{ form_widget(form.begin, {attr: {class: 'datepicker begin-datepiker'}}) }} -
                {{ form_widget(form.end, {attr: {class: 'datepicker end-datepiker'}}) }}
            </div>
            <div class="form-group">
                {% include 'MBHBaseBundle:Partials:datepickerPeriodSelect.html.twig' %}
            </div>
            <div class="form-group">
                <label><i class="fa fa-male" title="Иностранные граждане" data-toggle="tooltip"></i></label>
                {{ form_widget(form.citizenship) }}
                {{ form_widget(form._token) }}
                {{ form_rest(form.search) }}
            </div>
            {{ form_end(form, {render_rest: false}) }}
        {% endblock %}
    {% endembed %}

    <table id="tourist-table"
           class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th class="td-xxs text-center">#</th>
            <th>ФИО</th>
            <th class="td-md show-on-print">Основной документ</th>
            <th class="td-md show-on-print">Виза</th>
            <th class="td-md show-on-print">Миграционная карта</th>
            <th class="td-xxs hide-on-print"><i title="Документы" class="fa fa-book"></i></th>
            {#<th class="td-md">№ паспорта</th>
            <th class="td-md">Виза</th>#}
            <th class="td-md">Даты</th>
            <th class="td-xs">Комната</th>
            <th class="td-md show-on-print">Цель приезда</th>
            <th class="td-md show-on-print">Адрес</th>
            <th class="td-md hide-on-print">Дата рождения</th>
            <th class="td-md">Контакты</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'tourist_new', 'role': 'tourist'} %}

{% endblock %} 

