{% extends 'MBHPackageBundle:Tourist:layout.html.twig' %}

{% set small_title = "menu.label.reports.clients"|trans %}
{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'tourist-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline filter-form icon-label-form', id: 'tourist-form'}}) }}
            <div class="filter-form_group-date">
                <div class="filter-form_input">
                    <i class="fa fa-calendar" title='{{ 'tourist.index.dates'|trans }}'
                       data-toggle='tooltip'></i>
                    <div class="filter-form_input-group">
                        {{ form_widget(form.begin, {attr: {class: 'datepicker begin-datepicker'}}) }}
                        <span class="filter-form_separator"></span>
                        {{ form_widget(form.end, {attr: {class: 'datepicker end-datepicker'}}) }}
                    </div>
                </div>
            </div>
            {% include 'MBHBaseBundle:Partials:datepickerPeriodSelect.html.twig' %}
            <div class="filter-form_input">
                <i class="fa fa-home" title="{{ 'tourist.index.hotel' | trans }}"
                   data-toggle="tooltip"></i>
                {{ form_widget(form.hotels) }}
            </div>
            <div class="filter-form_input">
                <i class="fa fa-male" title="{{ 'tourist.index.foreign_citizens'|trans }}"
                   data-toggle="tooltip"></i>
                {{ form_widget(form.citizenship) }}
            </div>
            {{ form_widget(form._token) }}
            {{ form_rest(form.search) }}
            {{ form_end(form, {render_rest: false}) }}
        {% endblock %}
    {% endembed %}

    <table id="tourist-table"
           class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th class="td-xxs text-center">#</th>
            <th>{{ 'tourist.index.fio'|trans }}</th>
            <th class="td-md show-on-print">{{ 'tourist.index.main_document'|trans }}</th>
            <th class="td-md show-on-print">{{ 'tourist.index.visa'|trans }}</th>
            <th class="td-md show-on-print">{{ 'tourist.index.migration_card'|trans }}</th>
            <th class="td-xxs hide-on-print"><i title="{{ 'tourist.index.documents'|trans }}" class="fa fa-book"></i>
            </th>
            <th class="td-md">{{ 'tourist.index.dates'|trans }}</th>
            <th class="td-xs">{{ 'tourist.index.room'|trans }}</th>
            <th class="td-md show-on-print">{{ 'tourist.index.purpose_of_arrival'|trans }}</th>
            <th class="td-md show-on-print">{{ 'tourist.index.address'|trans }}</th>
            <th class="td-md hide-on-print">{{ 'tourist.index.date_of_birth'|trans }}</th>
            <th class="td-md">{{ 'tourist.index.contacts'|trans }}</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% embed "MBHBaseBundle:Actions:base_list.html.twig" with {'route': 'tourist_new', 'role': 'tourist'} %}
        {% block left %}
            {% if is_granted('ROLE_TOURIST_NEW') %}
                <li>
                    <button onclick="location.href = '{{ path('tourist_new') }}'" type="submit"
                            class="btn btn-success navbar-btn"><i
                                class="fa fa-plus"> </i> {{ 'views.actions.list.add'|trans({}, 'MBHBaseBundle') }}
                    </button>
                </li>
                {% if is_russian_client() %}
                    <li>
                        <button type="button" data-system="kontur" class="btn btn-warning navbar-btn fms-export-button"><i
                                    class="fa fa-upload" aria-hidden="true"></i>&nbsp;{{ 'mbhpackagebundle.view.tourist.buttons.kontur_fms'|trans }}
                        </button>
                    </li>
                    <li>
                        <button type="button" data-system="sbis" class="btn btn-warning navbar-btn fms-export-button {{ not hasMyOrganization ? 'disabled'}}"  {{ hasMyOrganization ? '' : 'data-toggle="tooltip" title="Для выгрузки необходимо заполнить данные об огранизации"' }}>
                            <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;{{ 'mbhpackagebundle.view.tourist.buttons.sbis_fms'|trans }}
                        </button>
                    </li>
                {% endif %}
            {% endif %}
        {% endblock %}
        {% block right %}
            <li id='list-export'></li>
        {% endblock %}
    {% endembed %}
    {% if is_russian_client() %}
        <div class="modal fade modal-danger" id="fms-export-confirmation" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ 'mbhpackagebundle.view.tourist.buttons.fms.confirmation'|trans }}</h4>
                    </div>
                    <div class="modal-body" id="fms-export-confirmation">
                        {{ 'mbhpackagebundle.view.tourist.buttons.fms.confirmation.text'|trans }}.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-right" data-dismiss="modal"><i
                                    class="fa fa-ban"> </i> {{ 'views.partials.entityDeleteForm.cancel'|trans({}, 'MBHBaseBundle') }}
                        </button>
                        {#<button type="button" id="entity-delete-button" data-default="outline" class="btn btn-outline"><i id="entity-delete-button-icon" data-default="fa-trash-o"  class="fa fa-trash-o"></i>&nbsp;<span data-default="{{ delete_title|default('views.partials.disable_button.entity_delete_form.remove'|trans) }} " id="entity-delete-button-text">{{ delete_title|default('views.partials.disable_button.entity_delete_form.remove'|trans) }}</span></button>#}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %} 

