{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for package in packages %}
            [
                "<div class='text-center'><i class='fa fa-male'></i></div>",
                "{% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': package, 'route': 'tourist'} %}{% endembed %} {% if package.isUnwelcome %}<a href='{{ path('tourist_edit_unwelcome', {id: package.id}) }}'><i data-toggle='tooltip' data-original-title='Клиент в черном списке' class='fa fa-user-secret unwelcome-icon'></i></a>{% else %}<i style='opacity:0.4' data-toggle='tooltip' data-original-title='Клиент не в черном списке' class='fa fa-check-circle'></i>{% endif %}",
                "<div class='text-center'>{{ package.citizenship.name|default('') }}</div>",
                "<div class='text-center'>{% if package.documentRelation %}{{ package.documentRelation.number|default('') }}{% if package.documentRelation.issued %} до {{ package.documentRelation.issued|date('d.m.Y') }}{% endif %}{% endif %}</div>",
                "<div class='text-center'>{{ package.packages.count + package.orders.count}}</div>",
                "<div class='text-center'>{% if package.birthday %}{{ package.birthday|date('d.m.Y')}}{% endif %}</div>",
                "<div class='text-center'>{{ package.age }}</div>",
                "{{ package.phone }}",
                "{% if package.email %}<a href='mailto:{{ package.email }}'>{{ package.email }}</a>{% endif %}",
                "<div class='btn-list'>{% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': package, 'route': 'tourist'} %}{% endembed %}</div>"
            ]{% if loop.index != packages.count(true) %},{% endif %}
        {% endfor %}
    ]
}