{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for tourist in tourists %}
            {% set package = null %}
            [
                "<div class='text-center'><i class='fa fa-male'></i></div>",
                "{{ package ? package.numberWithPrefix : '' }}",
                "{% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': tourist, 'route': 'tourist'} %}{% endembed %} {% if tourist.isUnwelcome %}<a href='{{ path('tourist_edit_unwelcome', {id: tourist.id}) }}'><i data-toggle='tooltip' data-original-title='{{ 'tourist.json.clients_in_black_list'|trans }}' class='fa fa-user-secret unwelcome-icon'></i></a>{% else %}&nbsp;<i style='opacity:0.4' data-toggle='tooltip' data-original-title='{{ 'tourist.json.client_not_in_black_list'|trans }}' class='fa fa-check-circle'></i>{% endif %}<br><small class='hide-on-print'>{{ tourist.citizenshipTld|default('') }}</small>",
                "{{ tourist.birthday ? tourist.birthday|date('d.m.Y') : '' }}{% if tourist.documentRelation and tourist.documentRelation.number and tourist.documentRelation.type %}<br>{{ tourist.citizenshipTld ? tourist.citizenshipTld : '' }}<br><strong>{{ documentTypes[tourist.documentRelation.type] }}</strong><br>{{ tourist.documentRelation.series|default('') }} {{ tourist.documentRelation.number|default('') }}{% if tourist.documentRelation.issued %}<br><small> {{ 'tourist.json.issued_date'|trans }} {{ tourist.documentRelation.issued|date('d.m.Y') }}</small><br>{% endif %}{% endif %}",
                "{% if tourist.visa and tourist.visa.number %}{{ tourist.visa.series }} {{ tourist.visa.number }}{{ tourist.visa.expiry ? ('<br><small>' ~ 'tourist.json.to_date'|trans ~ ' ' ~ tourist.visa.expiry|date('d.m.Y') ~ '</small>')|raw : '' }}{% endif %}",
                "{{ tourist.migration ? tourist.migration.series ~ ' ' ~ tourist.migration.number : '' }}",
                "{% if tourist.documentRelation and tourist.documentRelation.number and tourist.documentRelation.type or (tourist.visa and tourist.visa.number) or (tourist.migration and tourist.migration.number) %}<span class='label label-default'><i style='padding: 3px; cursor: pointer;' data-toggle='popover' title='{{ 'tourist.json.documents'|trans }}' data-content='{% if tourist.documentRelation and tourist.documentRelation.number and tourist.documentRelation.type %}<strong>{{ documentTypes[tourist.documentRelation.type] }}</strong><br>{{ tourist.documentRelation.series|default('') }} {{ tourist.documentRelation.number|default('') }}{% if tourist.documentRelation.issued %}<br><small> {{ 'tourist.json.issued_date'|trans }} {{ tourist.documentRelation.issued|date('d.m.Y') }}</small>{% endif %}<br>{% endif %}{% if tourist.visa and tourist.visa.number %}<strong>{{ 'tourist.json.visa'|trans }}</strong> {{ tourist.visa.series }} {{ tourist.visa.number }}{{ tourist.visa.expiry ? ('<br><small>' ~ 'tourist.json.to_date'|trans ~ ' ' ~ tourist.visa.expiry|date('d.m.Y') ~ '</small>')|raw : '' }}{{ tourist.migration and tourist.migration.number ? '<br><strong>' ~ 'tourist.json.migration_card'|trans ~ '</strong> ' ~ tourist.migration.series ~ ' ' ~ tourist.migration.number : '' }}{% endif %}' class='fa fa-book'></i></span>{% endif %}",
                "{% if package and package.begin %}{{ (package.begin|mbh_format ~ '-' ~ package.end|mbh_format)|raw }}<br><small>{{ package.nights }} {{ 'nights'|transchoice(package.nights) }}</small>{% endif %}",
                "{{ package and package.accommodation ? package.accommodation : '' }}",
                "{{ package and package.purposeOfArrival ? arrivals[package.purposeOfArrival] : '' }}",
                "{{ tourist.address }}",
                "{% if tourist.birthday %}{{ tourist.birthday|date('d.m.Y')}}{% if tourist.age %}<br><small>{{ tourist.age }}</small>{% endif %}{% endif %}",
                "{{ tourist.phone|default('-') }}<br><small>{% if tourist.email %}<a href='mailto:{{ tourist.email }}'>{{ tourist.email }}</a>{% endif %}</small>",
                "<div class='btn-list'>{% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': tourist, 'route': 'tourist'} %}{% endembed %}</div>"
            ]{% if loop.index != tourists|length %},{% endif %}
        {% endfor %}
    ]
}