{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for entity in entities %}
            [
                "<div class='text-center'><i class='fa fa-male'></i></div>",
                "{% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': entity, 'route': 'tourist'} %}{% endembed %} {% if entity.isUnwelcome %}<a href='{{ path('tourist_edit_unwelcome', {id: entity.id}) }}'><i data-toggle='tooltip' data-original-title='Клиент в черном списке' class='fa fa-user-secret unwelcome-icon'></i></a>{% endif %}",
                "<div class='text-center'>{{ entity.packages.count + entity.orders.count}}</div>",
                "<div class='text-center'>{% if entity.birthday %}{{ entity.birthday|date('d.m.Y')}}{% endif %}</div>",
                "<div class='text-center'>{{ entity.age }}</div>",
                "{{ entity.phone }}",
                "{% if entity.email %}<a href='mailto:{{ entity.email }}'>{{ entity.email }}</a>{% endif %}",
                "<div class='btn-list'>{% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': entity, 'route': 'tourist'} %}{% endembed %}</div>"
            ]{% if loop.index != entities.count(true) %},{% endif %}
        {% endfor %}
    ]
}