{% extends 'MBHPriceBundle:Service:layout.html.twig' %}

{% set small_title = "список" %}

{% block content %}

    <!-- Tabs headers -->
    <ul class="nav nav-tabs" role="tablist">
        {% for entity in entities %}
            <li {% if (loop.first and app.request.query.get('tab') is empty) or app.request.query.get('tab') == entity.id %}class="active"{% endif %}>
                <a href="#{{entity.id}}" role="tab" data-toggle="tab">
                    <i class="fa fa-plug"></i> {{entity.name}}
                    {% if entity.system %}<small class="transparent"><i class="fa fa-lock"></i></small>{% endif %}
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ path('price_service_category_new') }}"><i class="fa fa-plus"></i> Новая категория услуг</a>
        </li>
    </ul>

    <form method="post" role="form" class="are-you-sure form-inline" action="{{ path('price_service_category_save_prices') }}">
    <!-- Tabs content -->
    <div class="tab-content">
        {% for entity in entities %}
            <div class="tab-pane {% if (loop.first and app.request.query.get('tab') is empty) or app.request.query.get('tab') == entity.id %}active{% endif %}" id="{{entity.id}}">

                <!-- Tab actions -->
                <div class="btn-list spacer-bottom text-right">
                    {% if not entity.system %} 
                        <a href="{{ path('price_service_category_edit', {'id': entity.id }) }}" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Редактировать категорию услуг <{{entity.name}}>"><i class="fa fa-edit"></i> Редактировать</a>
                    {%endif %}
                    <a href="{{ path('price_service_category_entry_new', {'id': entity.id }) }}" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Создать услугу в категории <{{entity.name}}>"><i class="fa fa-plus"></i> Добавить услугу</a>
                    {% if not entity.system %} 
                        <a href="{{ path('price_service_category_delete', {'id': entity.id }) }}" class="btn btn-sm btn-danger delete-link" data-toggle="tooltip" data-placement="bottom" title="Удалить категорию услуг <{{entity.name}}>"><i class="fa fa-trash-o"></i> Удалить</a>
                    {%endif %}
                </div>

                {% if entity.services.count %}
                    <table class="table table-actions table-striped table-hover table-condensed service-tables not-auto-datatable">
                        <thead>
                            <tr>
                                <th class="td-xs"></th>
                                <th>Название</th>
                                <th class="td-xl">Цена</th>
                                <th class="td-md">Тип расчета</th>
                                <th class="td-sm">Дата</th>
                                <th class="td-md"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entity.services %}
                                <tr {% if entry.isEnabled is empty %} class='danger'{% endif %}>
                                    <td><i class="fa fa-plug"></i></td>
                                    <td><a href='{{ path('price_service_category_entry_edit', {'id': entry.id }) }}'>{{ entry.name }}</a>&nbsp;{% if entity.system %}<small class="transparent"><i class="fa fa-lock"></i></small>{%endif %}</td>
                                    <td>
                                        <span class="hidden">{{ entry.price }}</span>
                                        <input name="entries[{{ entry.id }}]" class="form-control spinner {{ entry.calcType == 'day_percent' ? 'percent-spinner' : 'price-spinner'}} input-sm" type="text" placeholder="Услуга не используется" value="{{ entry.price }}">
                                    </td>
                                    <td class="text-center">{{ config.calcTypes[entry.calcType]|default('Штука') }}</td>
                                    <td class="text-center">{% if entry.date %}<i class="fa fa-check text-success"></i>{% endif %}</td>
                                    <td class="text-center">
                                        <div class='btn-list'>
                                            <a href='{{ path('price_service_category_entry_edit', {'id': entry.id }) }}' class='btn btn-success btn-xs' title='Редактирование записи' data-toggle='tooltip'>
                                                <i class='fa fa-pencil-square-o'></i>
                                            </a>
                                            {% if not entity.system %} 
                                            <a href='{{ path('price_service_category_entry_delete', {'id': entry.id }) }}' class='btn btn-danger btn-xs delete-link ' title='Удаление записи' data-toggle='tooltip'>
                                                <i class='fa fa-trash-o'></i>
                                            </a>
                                            {%endif %}    
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> В этой категории нет ни одной услуги. <a href="{{ path('price_service_category_entry_new', {'id': entity.id }) }}">Добавить услугу?</a></div>
                {% endif %}

                <div id="actions" class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><button type="submit" class="btn btn-success navbar-btn"><i class="fa fa-check-square-o"></i> Сохранить изменения</button></li>
                            <li><button onclick="location.href = '{{ path('price_service_category_new') }}'" type="button" class="btn btn-default navbar-btn"><i class="fa fa-plus"></i> Добавить новую категорию</button></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li id='list-export-add-{{ loop.index }}'></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    </form>
{% endblock %} 

