{% extends 'MBHOnlineBundle:Form:layout.html.twig' %}
{% form_theme form.formTemplate '@MBHOnline/Form/Template/formTemplate.html.twig'  %}
{% set small_title = 'views.form.index.edit'|trans({}, 'MBHOnlineBundle') %}
{% set layout = "tabs" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#online-form-config" data-toggle="tab"><i class="fa fa-cog"> </i> {{ 'views.form.index.settings'|trans({}, 'MBHOnlineBundle') }}</a></li>

        {% if entity %}
            <li><a href="#online-form-code" data-toggle="tab"><i class="fa fa-code"> </i> {{ 'views.form.index.site_embed_code'|trans({}, 'MBHOnlineBundle') }}</a></li>
            <li><a href="#online-form-tune" data-toggle="tab"><i class="fa fa-crosshairs"> </i> {{ 'views.form.index.edit_templates'|trans({}, 'MBHOnlineBundle') }}</a></li>
        {% else %}
            <li class="disabled"><a href="#" data-toggle="tooltip" title='{{ 'views.form.index.settings_required'|trans({}, 'MBHOnlineBundle') }}'><i class="fa fa-code"> </i> {{ 'views.form.index.site_embed_code'|trans({}, 'MBHOnlineBundle') }}</a></li>
        {%  endif %}

    </ul>

    <div class="tab-content">
        <div class="tab-pane in active" id="online-form-config">

            {{ form_start(form, {'action': path('online_form_edit', {id: entity.id}), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}

            {%  if entity %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'tariff_delete' } %}
            {%  endif %}

        </div>
        <div class="tab-pane"  id="online-form-code">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'views.form.index.site_embed_form_code'|trans({}, 'MBHOnlineBundle') }}</h3>
                </div>
                <div class="panel-body">
                    {% set code1  = '<div id="mbh-form-wrapper"><a href="http://maxi-booking.ru/">' ~ 'views.api.form.online_reservation_system'|trans({}, 'MBHOnlineBundle') ~ '</a></div>' %}
                    {% set code2  = '<script>var mbhForm = {form_url: "' ~ url('online_form_iframe', {formId: entity.id}) ~ '", calendar_url: "' ~ url('online_form_calendar') ~ '"}; var frameWidth = "' ~ (entity.fullWidth ? '100%' : entity.frameWidth) ~ '"; var frameHeight = "' ~ entity.frameHeight ~ '"</script>' %}
                    {% set code3  = '<script src="' ~ absolute_url('/bundles/mbhonline/js/online/load-form.js') ~'"></script>' %}
                    <div class="row spacer-bottom">
                        <div class="col-md-3"><small>{{ 'views.form.index.to_form_place'|trans({}, 'MBHOnlineBundle') }}</small></div>
                        <div class="col-md-9"><span class="text-success">{{ code1 }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><small>{{ 'views.form.index.before_closing_tag'|trans({}, 'MBHOnlineBundle') }}&lt;/body&gt;:</small></div>
                        <div class="col-md-9"><span class="text-success">{{ code2 }}{{ code3 }}</span></div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'views.form.index.search_page_embed_code'|trans({}, 'MBHOnlineBundle') }}</h3>
                </div>
                <div class="panel-body">
                    <div id="mbh-date-error" class="hide"><i class="fa fa-exclamation-circle"></i> {{ 'views.form.period_is_not_filled'|trans({}, 'MBHOnlineBundle') }}</div>
                    {% set code1  = '<div id="mbh-results-wrapper"><a href="http://maxi-booking.ru/">' ~ 'views.api.form.online_reservation_system'|trans({}, 'MBHOnlineBundle') ~ '</a></div>' %}
                    {% set code2  = '<script>var mbhResults = {results_url: "' ~ url('online_form_results_iframe', {formId: entity.id}) ~ '"};</script>' %}
                    {% set code3  = '<script src="' ~ absolute_url('/bundles/mbhonline/js/online/load-results.js') ~'"></script>' %}

                    <div class="row spacer-bottom">
                        <div class="col-md-3"><small>{{ 'views.form.index.to_results_place'|trans({}, 'MBHOnlineBundle') }}</small></div>
                        <div class="col-md-9"><span class="text-success">{{ code1 }}</span></div>
                    </div>
                    <div class="row spacer-bottom">
                        <div class="col-md-3"><small>{{ 'views.form.index.before_closing_tag'|trans({}, 'MBHOnlineBundle') }}&lt;/body&gt;:</small></div>
                        <div class="col-md-9"><span class="text-success">{{ code2 }}{{ code3 }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="online-form-tune">
            Здесь настройка
        </div>
    </div>
{% endblock %}
