{% extends 'MBHOnlineBundle:Form:common_for_new_and_edit.html.twig' %}
{% set active = 4 %}

{% block content %}
    <div class="tab-content">
        <div class="well">
            <h4 style="font-weight: bold;">
                {{ 'views.form_codeinstruction.header'|trans }}:
            </h4>
            <p>
            - {{ 'views.form_codeinstruction.text1'|trans|raw }}
            </p>
            <p>
                {{ 'views.form_codeinstruction.text2'|trans|raw }}
            </p>
            <p>
                {{ 'views.form_codeinstruction.text3'|trans }}
            </p>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'views.form.index.site_embed_form_code'|trans({}, 'MBHOnlineBundle') }}</h3>
            </div>

            {% set useYaMetrtics = config.yandexAnalyticConfig.isEnabled and config.yandexAnalyticConfig.id %}
            {% set useGoogleAnalytic = config.googleAnalyticConfig.isEnabled and config.googleAnalyticConfig.id %}
            <div class="panel-body">
                {% set code1  = '<div id="mbh-form-wrapper"><a href="https://maxi-booking.com/">' ~ 'views.api.form.online_reservation_system'|trans({}, 'MBHOnlineBundle') ~ '</a></div>' %}
                {% set code4 %}
                    <script src="{{ url(constant('MBH\\Bundle\\OnlineBundle\\Document\\SettingsOnlineForm\\FormConfig::ROUTER_NAME_LOAD_ALL_IFRAME'), {formConfigId: config.id}) }}"></script>
                {% endset %}
                <div class="row spacer-bottom">
                    <div class="col-md-3"><small>{{ 'views.form.index.to_form_place'|trans({}, 'MBHOnlineBundle') }}</small></div>
                    <div class="col-md-9"><span class="text-success">{{ code1 }}</span></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><small>{{ 'views.form.index.before_closing_tag'|trans({}, 'MBHOnlineBundle') }}&lt;/body&gt;:</small></div>
                    <div class="col-md-9"><span class="text-success">{{ code4 | escape }}</span></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'views.form.index.search_page_embed_code'|trans({}, 'MBHOnlineBundle') }}</h3>
            </div>
            <div class="panel-body">
                <div id="mbh-date-error" class="hide"><i class="fa fa-exclamation-circle"></i> {{ 'views.form.period_is_not_filled'|trans({}, 'MBHOnlineBundle') }}</div>
                {% set code1  = '<div id="mbh-results-wrapper"><a href="https://maxi-booking.com/">' ~ 'views.api.form.online_reservation_system'|trans({}, 'MBHOnlineBundle') ~ '</a></div>' %}
                {% set code4 %}
                    <script src="{{ url('online_form_load_result_file', {formConfigId: config.id}) }}"></script>
                {% endset %}

                <div class="row spacer-bottom">
                    <div class="col-md-3"><small>{{ 'views.form.index.to_results_place'|trans({}, 'MBHOnlineBundle') }}</small></div>
                    <div class="col-md-9"><span class="text-success">{{ code1 }}</span></div>
                </div>
                <div class="row spacer-bottom">
                    <div class="col-md-3">
                        <small>{{ 'views.form.index.before_closing_tag'|trans({}, 'MBHOnlineBundle') }}&lt;/body&gt;:</small>
                    </div>
                    <div class="col-md-9">
                        <span class="text-success">{{ code4|escape }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
