{% extends 'MBHOnlineBundle:Form:common_for_new_and_edit.html.twig' %}

{% set small_title = 'views.form.index.new'|trans({}, 'MBHOnlineBundle') %}
{% set layout = "tabs" %}

{% block scripts %}
    {{ parent() }}
    {% include 'MBHOnlineBundle::assetic_for_form_js.html.twig' %}
{% endblock %}
{% block styles %}
    {{ parent() }}
    {% include 'MBHOnlineBundle::assetic_for_form_css.html.twig' %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#online-form-config" data-toggle="tab"><i class="fa fa-cog"> </i> {{ 'views.form.index.settings'|trans({}, 'MBHOnlineBundle') }}</a></li>
        <li class="disabled"><a href="#" data-toggle="tooltip" title='{{ 'views.form.index.settings_required'|trans({}, 'MBHOnlineBundle') }}'><i class="fa fa-code"> </i> {{ 'views.form.index.site_embed_code'|trans({}, 'MBHOnlineBundle') }}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane in active" id="online-form-config">

            {{ form_start(form, {'action': path('online_form_new'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}
        </div>
        <div class="tab-pane"  id="online-form-code"></div>
    </div>
{% endblock %}