{% extends 'MBHOnlineBundle:Form:common_for_new_and_edit.html.twig' %}

{% set small_title = 'views.form.index.new'|trans({}, 'MBHOnlineBundle') %}

{% set isNewForm = true %}

{% block scripts %}
    {{ parent() }}
    {% include 'MBHOnlineBundle::assetic_for_form_js.html.twig' %}
{% endblock %}
{% block styles %}
    {{ parent() }}
    {% include 'MBHOnlineBundle::assetic_for_form_css.html.twig' %}
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div class="tab-pane in active" id="online-form-config">

            {{ form_start(form, {'action': path('online_form_new'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}
        </div>
        <div class="tab-pane"  id="online-form-code"></div>
    </div>
{% endblock %}