{% extends 'MBHClientBundle:DocumentTemplate:layout.html.twig' %}

{% set small_title = "{{ 'mbhclientbundle.view.documenttemplate.index.spisok'|trans }} " %}
{% set layout = "box" %}

{% block content %}

    <table class="table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th>{{ 'mbhclientbundle.view.documenttemplate.index.nazvaniye'|trans }} </th>
            <th>{{ 'mbhclientbundle.view.documenttemplate.index.otelʹ'|trans }} </th>
            <th>{{ 'mbhclientbundle.view.documenttemplate.index.organizatsiya'|trans }} </th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="text-center table-icon"><i class="fa fa-file"></i></td>
                <td>
                    {% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': entity, 'route': 'document_templates'}%}{% endembed %}
                </td>
                {% set allhotellss = 'mbhclientbundle.view.documenttemplate.index.vseoteli'|trans %}
                <td>{{ entity.hotel ? entity.hotel : 'allhotellss' }}</td>
                <td>{{ entity.organization }}</td>
                <td class="table-actions-td text-center">
                    {% embed 'MBHBaseBundle:Actions:entry_actions.html.twig'
                    with {'entity': entity, 'route': 'document_templates'} %}{% endembed %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'document_templates_new', 'role': 'DOCUMENT_TEMPLATES'} %}

{% endblock %}
