{% extends 'MBHUserBundle:User:layout.html.twig' %}

{% set title = 'menu.label.users_and_roles'|trans %}
{% set small_title = 'layout.users'|trans({}, 'FOSUserBundle')  %}
{% set layout = "box" %}

{% block content %}

    <table class="table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
            <tr>
                <th class="td-xs"></th>
                <th>{{ 'index.login'|trans({}, 'FOSUserBundle') }}</th>
                <th>{{ 'index.groups'|trans({}, 'FOSUserBundle') }}</th>
                <th>{{ 'index.permissions'|trans({}, 'FOSUserBundle') }}</th>
                <th class="td-md">{{ 'index.fio'|trans({}, 'FOSUserBundle') }}</th>
                <th class="td-md">{{ 'index.status'|trans({}, 'FOSUserBundle') }}</th>
                <th class="td-sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities  if entity.username != 'mb' or app.user.username == 'mb' %}
                <tr {% if entity.isEnabled != true or entity.isLocked == true %}class="warning"{% endif %}>
                    <td class="text-center table-icon"><i class="fa fa-user"></i></td>
                    <td>
                        {% if entity.username == 'mb' %}<small><i class="fa fa-cog"></i></small>&nbsp;{% endif %}
                        {% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': entity, 'route': 'user', 'action': 'username'} %}{% endembed %}
                    </td>
                    <td>
                        {% for group in entity.groups %}<small>{% if loop.index0 > 0 %}, {% endif %}{{ group|trans({}, 'MBHUserBundleRoles') }}</small>{% endfor %}
                    </td>
                    <td>
                        {% for role in entity.rolesWithoutGroups %}<small>{% if loop.index0 > 0 %}, {% endif %}{{ role|trans({}, 'MBHUserBundleRoles') }}</small>{% endfor %}
                    </td>
                    <td>{{ entity.fullName(true) }}</td>
                    <td>
                        {% if entity.isEnabled != true or entity.isLocked == true %}
                            <span class="label label-danger">{{ 'index.disabled'|trans({}, 'FOSUserBundle') }}</span>
                        {% endif %}
                    </td>
                    <td class="table-actions-td text-center">
                        {% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': entity, 'route': 'user'} %}{% endembed %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'user_new', 'role': 'user'} %}

{% endblock %} 
