<h2>
    {{ hotel.fullTitle }}
    {% if hotel.city or hotel.street %}
        <i class="fa fa-map-marker text-warning"></i>
        {{ hotel.city }} {{ hotel.street }}
    {% endif %}
</h2>

<div class="clearfix"></div>

<ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#">Основная информация</a></li>
    <li><a href="#">Объект на карте</a></li>
    <li><a href="#">Услуги</a></li>
    <li><a href="#">Панорама объекта</a></li>
    <li><a href="#">Отзывы</a></li>
</ul>

<div class="panel panel-warning">

    <div class="panel-body">

        <div id="my_carousel_ct" class="carousel-container">
            <div id="my_carousel_1" class="carousel slide">
                <!-- Carousel items -->
                <div id="my_carousel_2" class="carousel-inner rs-slider">
                    <div class="item active">
                        <div class="ts_border">
                            <img src="{{ photos ? asset(photos[0]) : '' }}">
                            <div class="carousel-caption">
                                <h4>Lorem ipsum</h4>
                                <p class="ts_txt">
                                </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="ts_border">
                            <img src="http://zamkadom24.sites.maxibooking.ru/002.jpg">
                            <div class="carousel-caption">
                                <h4>Lorem ipsum 2</h4>
                                <p class="ts_txt">
                                </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ,
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-custom" href="#my_carousel_1" data-slide="prev">‹</a>
                <a class="arousel-custom" href="#my_carousel_1" data-slide="next">›</a>
                <div id="ts_scrol_1" class="ts_sld_scroller ts_scr_right">
                    <ul>
                        {% for photo in photos %}
                            <li>
                                <a href="#" class="ts_refine_st" data-to="1" data-slideindex="0"><img src="{{ asset(photo) }}" height="60" width="100"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-warning">

    <div class="panel-body">

        <p>Почувствуйте себя знаменитостью благодаря великолепному сервису в Руссо Балт Отель</p>
        <p>Отель расположен в элегантном здании 19 века в центре Москвы, в 100 метрах от станции метро «Арбатская». Гостям предлагают завтрак с элегантной сервировкой, приготовленный из органически чистых продуктов с собственной фермы. К услугам гостей всех номеров бесплатный мини-бар с газированными напитками, различными видами минеральной воды, соками и чаем.</p>
        <p>Все номера отеля «Руссо-Балт» оформлены в индивидуальном стиле и оборудованы телевизором с плоским экраном и мини-баром. Элегантные номера с высокими потолками и красивыми люстрами обставлены деревянной мебелью в старинном стиле.</p>
        <p>В ресторане отеля подают блюда европейской кухни, приготовленные из свежих органически чистых продуктов. Гости могут заказать напитки и закуски на терасе на солнечной стороне или провести спокойный вечер в своем номере, воспользовавшись услугой доставки еды и напитков.</p>
        <p>Всего в 1 остановке от станции метро «Арбатская» находится станция «Театральная», откуда за 15 минут можно дойти до Кремля и Красной площади.</p>
        <p>Поездка до аэропорта Шереметьево занимает 40 минут. Гостям отеля «Руссо-Балт» предлагаются услуги трансфера.</p>
        <p>Арбат — отличный выбор, если вам интересны Культура, Прогулки по городу и Музеи. </p>

    </div>
</div>

<div class="panel panel-warning">

    <div class="panel-body">
        <h4>Цены и наличие мест</h4>
        <div id="mbh-results-wrapper" style="overflow: hidden; width: auto; height: auto;"></div>
    </div>

</div>

<div class="mbh-results-sort-wrapper">

</div>