<form id="mbh-form" method="post" action="{{ path('simple_search_index') }}">
    <h3>Бронирование номеров</h3>
    <div class="mbh-form-row">
        <label for="mbh-form-hotel">Отель</label>
        <input name="search" type="search" id="mbh-form-hotel" value="{{ app.request.get('search') }}">
    </div>
    <input type="hidden" name="query_type" id="mbh-form-search-query-type-hidden-input" value="{{ app.request.get('query_type') }}">
    <input type="hidden" name="query_id" id="mbh-form-search-query-id-hidden-input" value="{{ app.request.get('query_id') }}">
    <div class="mbh-form-row">
        <label for="mbh-form-begin"> Дата заезда</label>
        <input type="text" id="mbh-form-begin" name="begin" required="" value="{{ app.request.get('query_type') }}" class="hasDatepicker">
    </div>
    <div class="mbh-form-row">
        <label for="mbh-form-end"> Дата выезда</label>
        <input type="text" id="mbh-form-end" name="end" required="" value="{{ app.request.get('query_type') }}" class="hasDatepicker">
    </div>
    <div id="mbh-form-adults-children-wrapper">
        <div class="mbh-form-row">
            <label for="mbh-form-adults"> Взрослые</label>
            <input type="number" id="mbh-form-adults" name="adults" value="{{ app.request.get('adults') }}">
        </div>
        <div class="mbh-form-row">
            <label for="mbh-form-children"> Дети</label>
            <input type="number" id="mbh-form-children" name="children" value="{{ app.request.get('children') }}">
        </div>
    </div>
    <div class="mbh-form-row">
        <label for="mbh-form-end"> Не более км. от МКАД</label>
        <input type="number" id="mbh-form-end" name="distance">
    </div>
    <div id="mbh-form-adults-children-clear"></div>
    <div class="mbh-form-row" id="mbh-form-submit-wrapper">
        <button type="submit" class="btn btn-success" id="mbh-form-submit">Найти номер</button>
    </div>
    <div id="mbh-logo-link-wrapper"><a id="mbh-logo-link" href="http://maxi-booking.ru/" target="_blank"> система
            онлайн бронирования</a></div>
    <div id="mbh-actions-wrapper"></div>
</form>