<h2>Поиск и бронирование отелей</h2>
{% for result in results %}
    <div class="mbh-results-list-wrapper panel panel-warning">

        <div class="panel-body">
            <div class="mbh-results-list-image">
                <a href="index.php?q=104&amp;hotel=&amp;begin=21.10.2015&amp;end=22.10.2015&amp;adults=1&amp;children=0"
                   title=""><img src="{{ ((result.roomTypes)|first).mainImage ? asset(((result.roomTypes)|first).mainImage.path)|imagine_filter('thumb_300x230')  : 'http://zamkadom24.sites.maxibooking.ru/1.jpg'}}"></a>
            </div>
            <div class="mbh-results-list-info">
                <div class="mbh-results-list-rating">
                    <div class="mbh-results-list-rating-rank" style="width:1px;"></div>
                    <div class="mbh-results-list-rating-sprite"></div>
                </div>
                <div class="mbh-results-list-title"><a
                            href="{{ path('simple_search_view', {id: result.hotel.id}) }}?{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}"
                            title="Номера и цены в этом отеле">{{ result.hotel.fullTitle }}</a></div>
                <div class="mbh-results-list-city">
                    {% if result.hotel.city or result.hotel.street %}
                        <i class="fa fa-map-marker text-warning"></i>
                        {{ result.hotel.city }} {{ result.hotel.street }}
                    {% endif %}
                </div>

                <div class="mbh-results-list-rooms">
                    {% for roomType in result.roomTypes %}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ roomType }}
                        </div>
                        <div class="col-xs-2 text-center">
                            {% for index in 0..roomType.places %}
                                <i class="fa fa-male text-warning"></i>
                            {% endfor %}
                        </div>
                        <div class="price col-xs-4">
                            <div class="pull-right">{{ result.result.price(result.result.adults, result.result.children) }} <i class="fa fa-ruble"></i></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <div class="mbh-results-list-descr">
                            {{ result.hotel.description }}<a href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="mbh-results-list-facilities">
                            {% for facility in result.hotel.facilities %}
                                <i class="mbf-{{ facility }} available"></i>
                            {% endfor %}
                            {#<i title="Кафе" class="mbf-kitchen available"></i>
                            <i class="mbf-golf"></i>
                            <i title="Телевизор"class="mbf-modern-tv available"></i>
                            <i class="mbf-free-wifi"></i>
                            <i class="mbf-swimming"></i>
                            <i class="mbf-conditioner available"></i>
                            <i class="mbf-safe"></i>#}
                        </div>
                        <div class="clearfix"></div>
                        <a href="{{ path('simple_search_view', {id: result.hotel.id}) }}?{% for name, value in app.request.query.all %}{{ name }}={{ value }}&{% endfor %}"
                           title="Номера и цены в этом отеле" class="btn btn-primary btn-book">Выбрать номер</a>

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
{% endfor %}

<!--
<div class="mbh-results-list-wrapper panel panel-warning">

    <div class="panel-body">
        <div class="mbh-results-list-image">
            <a href="index.php?q=107&amp;hotel=&amp;begin=21.10.2015&amp;end=22.10.2015&amp;adults=1&amp;children=0"
               title=""><img src="http://zamkadom24.sites.maxibooking.ru/1.jpg"></a>
        </div>
        <div class="mbh-results-list-info">
            <div class="mbh-results-list-rating">
                <div class="mbh-results-list-rating-rank" style="width:36px;"></div>
                <div class="mbh-results-list-rating-sprite"></div>
            </div>
            <div class="mbh-results-list-title"><a
                        href="index.php?q=107&amp;hotel=&amp;begin=21.10.2015&amp;end=22.10.2015&amp;adults=1&amp;children=0"
                        title="Номера и цены в этом отеле">Санаторий Заполярье</a></div>
            <div class="mbh-results-list-city"><i class="fa fa-map-marker text-warning"></i> Московская область,
                Люберецкий район, д. Тухмачево
            </div>

            <div class="mbh-results-list-rooms">
                <div class="row">
                    <div class="col-xs-6">
                        Номер комфорт
                    </div>
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-male text-warning"></i><i class="fa fa-male text-warning"></i>
                    </div>
                    <div class="price col-xs-4">
                        <div class="pull-right">52 344 <i class="fa fa-ruble"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Номер стандарт
                    </div>
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-male text-warning"></i><i class="fa fa-male text-warning"></i>
                    </div>
                    <div class="price col-xs-4">
                        <div class="pull-right">52 344 <i class="fa fa-ruble"></i></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-7">
                    <div class="mbh-results-list-descr">
                        Прекрасные номера оснащены всем необходимым для комфортного пребывания. К вашим услугам... <a
                                href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="mbh-results-list-facilities">
                        <i title="Кафе" class="mbf-kitchen available"></i><i class="mbf-golf"></i><i title="Телевизор"
                                                                                                     class="mbf-modern-tv available"></i><i
                                class="mbf-free-wifi"></i><i class="mbf-swimming"></i><i
                                class="mbf-conditioner available"></i><i class="mbf-safe"></i>
                    </div>
                    <div class="clearfix"></div>
                    <a href="index.php?q=107&amp;hotel=&amp;begin=21.10.2015&amp;end=22.10.2015&amp;adults=1&amp;children=0"
                       title="Номера и цены в этом отеле" class="btn btn-primary btn-book">Выбрать номер</a>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>
<div class="clearfix"></div>
-->


<div class="mbh-results-sort-wrapper">

</div>