<script src="{{ absolute_url(asset('bundles/mbhonlinebooking/js/specials.js')) }}"></script>
<script src="{{ absolute_url(asset('bundles/mbhonlinebooking/js/jquery.bxslider.min.js')) }}"></script>

<link rel="stylesheet" href="{{ absolute_url(asset('bundles/mbhonlinebooking/css/spec-slider.css')) }}">
<div class="spec-wrap">
    <div class="month-spec">
        <ul class="bxslider">
            {% for key, monthName in monthList %}
                <li class="month-switcher"><a href="#" id="{{ key }}" {% if key not in data.byMonth|keys %}class="disable-month"{% endif %}>{{ monthName }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{#{% if multiHotel %}#}
    {#{% for hotel in hotels %}#}
        {#<p class="hotel-switcher" data-hotelid="{{ hotel.id }}">{{ hotel.name }}</p>#}
    {#{% endfor %}#}
{#{% endif %}#}
{% for special in data.specials %}
<div class="oneblockspec{% for keymonth, month in data.byMonth %}{% if special.special.id in month %} {{ keymonth }} {% endif %}{% endfor %}"
     data-discount="{{ special.discount }}"
     data-specialid="{{ special.specialId }}"
     data-roomcategoryid="{{ special.roomCategoryId }}"
     data-roomtypeid="{{ special.roomTypeId }}"
     data-hotelid="{{ special.hotelId }}"
>
    <div class="spec-img">
        <div data-image="{{ absolute_url(asset(special.images|first)) }}" class="main-img"style="background:url('{{ absolute_url(asset(special.images|first|imagine_filter('thumb_275x210'))) }}')no-repeat;background-size:cover;">
            <p class="special-strip"> - {{ special.discount }}{{ (special.isPercent)?'%':'руб' }}</p>
        </div>
        <div class="hotel-thumb">
            <p class="food"><img src="http://azovsky.ru/images/specnew/spoon.png" alt="">  <a href="http://azovsky.ru/shvedskiy-stol/" title="Шведский стол">3-раз. питание шведский стол</a></p>
        </div>
    </div>

    <div class="spec-info">
        {% if special.hotelLink is defined and special.hotelLink is not empty %}
            <a class="hotel_link" href="{{ special.hotelLink }}"><p class="hotel">{{ special.hotelName }}</p></a>
            {% else %}
                <p class="hotel">{{ special.hotelName }}</p>
        {% endif %}
        {% if special.roomType.category.descriptionurl is defined and special.roomType.category.descriptionurl is not empty %}
            <a class="room_link" href="{{ special.roomType.category.descriptionUrl }}"
               target="_blank"><p class="room">{{ special.roomTypeName }}</p></a>
        {% else %}
            <p class="room">{{ special.roomTypeName }}</p>
        {% endif %}

        <p class="food"><img src="http://azovsky.ru/images/specnew/spoon.png" alt=""> <a href="http://azovsky.ru/shvedskiy-stol/" title="Шведский стол">3-раз. питание шведский стол</a></p>
    </div>
    <div class="spec-date">
        <p
                class="date"
                data-begin="{{ special.dates.begin|date('d.m.Y') }}"
                data-end ="{{  special.dates.end|date('d.m.Y') }}"
        >{{ special.dates.begin|date('d.m.y') }}-{{ special.dates.end|date('d.m.y') }}</p>
        <p class="daynight">{{ special.dates.days }} {{ 'days'|transchoice(special.dates.days) }}/ {{ special.dates.nights }}{{ 'nights'|transchoice(special.dates.nights) }}</p>
        <select class="capacity_choice">
            {% for capacity, price in special.prices %}
                {% set capacityValue = capacity|split('_') %}
                {% set adults, children = capacityValue|first, capacityValue|last %}
            <option
                    data-price="{{ price|round }}"
                    data-adults="{{ adults }}"
                    data-children="{{ children }}"
                    {% if special.default_price is not empty and special.default_price == capacity %}
                        selected="selected"
                    {% endif %}
            >
                {{ adults }} взр. {{ children ? '+' ~children~ ' ' ~ 'children'|transchoice(children):'' }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="spec-price">
        <p><span class="spec_new_price"></span> p.</p>
        <p class="crossout"><span class="spec_old_price"></span> p.</p>
        <div class="clear"></div>
        <form class="spec_form" action="/mbresults.php" method="GET">
            <input type="submit" value="Бронирую">
        </form>

    </div>
    <div class="clear"></div>

</div>
{% endfor %}

