{% extends "MBHHotelBundle:TaskType:layout.html.twig" %}

{% set title = 'menu.label.hotel_services'|trans %}
{% set small_title = 'menu.configs.tasktype'|trans %}
{% set layout = 'tabs' %}

{% block content %}

    <ul style="margin-bottom: 20px" class="nav nav-tabs" role="tablist" id="task-category-tabs">
        {% for category in taskTypeCategories %}
            <li {% if activeCategory.id == category.id %}class="active"{% endif %}>
                <a href="#{{ category.id }}" role="tab" data-toggle="tab">
                    <i class="fa fa-plug"></i> {{category}}
                    {% if category.isSystem %}<small class="transparent"><i class="fa fa-lock"></i></small>{% endif %}
                </a>
            </li>
        {% endfor %}
        {% if is_granted('ROLE_TASK_TYPE_CATEGORY_NEW') %}
            <li>
                <a href="{{ path('task_type_category_new') }}"><i class="fa fa-plus"></i> {{ 'view.create_task_type_categoty'|trans({}, 'MBHHotelBundle') }}</a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        {% for category in taskTypeCategories %}
            <div class="tab-pane {% if activeCategory.id == category.id %}active{% endif %}" id="{{category.id}}">

            {% if not category.isSystem %}
                <div class="btn-list spacer-bottom text-right">
                    {% if is_granted('ROLE_TASK_TYPE_CATEGORY_EDIT') %}
                        <a href="{{ path('task_type_category_edit', {id: category.id}) }}" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'views.hotel.TaskType.index.edit_category_types_task'|trans }} <{{ category }}>">
                            <i class="fa fa-edit"></i> {{ 'crud.edit'|trans }}
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_TASK_TYPE_CATEGORY_DELETE') %}
                        <a href="{{ path('task_type_category_delete', {id: category.id}) }}" class="btn btn-sm btn-danger delete-link" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'views.hotel.TaskType.index.delete_category_types_task'|trans }} <{{ category }}>">
                            <i class="fa fa-trash-o"></i> {{ 'crud.delete'|trans }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if is_granted('ROLE_TASK_TYPE_VIEW') %}
                <table class="table {#not-auto-datatable#} table-striped table-hover table-condensed table-icons table-actions">
                    <thead>
                    <tr>
                        <th class="td-xs"></th>
                        <th>{{ "views.tasktype.index.name"|trans({}, "MBHHotelBundle") }}</th>
                        <th>{{ "views.tasktype.index.status"|trans({}, "MBHHotelBundle") }}</th>
                        <th>{{ "views.tasktype.index.default_role"|trans({}, "MBHHotelBundle") }}</th>
                        <th class="td-md">{{ "views.tasktype.index.created"|trans({}, "MBHHotelBundle") }}</th>
                        <th class="td-sm"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in category.types %}
                        <tr>
                            <td class="text-center table-icon"><i class="fa fa-cog"></i></td>
                            <td>
                                <a href="{{ path('tasktype_edit', { 'id': entity.id }) }}" rel="main" title="{{ "source.index.edit_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">{{ entity.title }}</a>
                                &nbsp{% if entity.isSystem %}<small class="transparent"><i class="fa fa-lock"></i></small>{% endif %}
                            </td>
                            <td class="td-md">{{ entity.roomStatus }}</td>
                            <td class="td-md">{{ entity.defaultUserGroup }}</td>
                            <td>{{ entity.createdAt|date('d.m.Y') }}</td>
                            <td class="table-actions-td text-center">
                                {% if is_granted('ROLE_TASK_TYPE_EDIT') %}
                                    <a href="{{ path('tasktype_edit', { 'id': entity.id }) }}" class="btn btn-success btn-xs" title="{{ "source.index.edit_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                {% endif %}
                                {% if not entity.isSystem and is_granted('ROLE_TASK_TYPE_DELETE') %}
                                    <a href="{{ path('tasktype_delete', { 'id': entity.id }) }}" class="btn btn-danger btn-xs delete-link " title="{{ "source.index.delete_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger">
                    <strong><i class="glyphicon glyphicon-lock"></i> {{ 'security.not_access'|trans }}</strong>
                </div>
            {% endif %}
        </div>
        {% endfor %}

        {{ form_start(form, {'action': path('tasktype'), 'attr': {'class': 'hidden-print form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:new_plus_actions.html.twig' with {'save_close': false} %}
        {{ form_end(form) }}
    </div>

{% endblock %}

