{% extends 'MBHPriceBundle:Special:layout.html.twig' %}

{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'special-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline remember filter-form icon-label-form', id: 'special-filter-form'}}) }}
            <div class="filter-form_group-date">
                <div class="filter-form_input">
                    <i class="fa fa-calendar" title='{{ 'mbhpricebundle.view.tariff.index.daty'|trans }}' data-toggle='tooltip'></i>
                    <div class="filter-form_input">
                        {{ form_widget(form.begin, {attr: {class: 'datepicker begin-datepicker'}}) }}
                        <span class="filter-form_separator"></span>
                        {{ form_widget(form.end, {attr: {class: 'datepicker end-datepicker'}}) }}
                    </div>
                </div>
            </div>
            <div class="filter-form_input">
                <i class="fa fa-sliders" title="{{ 'mbhpricebundle.view.special.index.tarif'|trans }} " data-toggle="tooltip"></i>
                {{ form_widget(form.tariff) }}
            </div>
            <div class="filter-form_input">
                <i class="fa fa-bed" title="{{ 'mbhpricebundle.view.special.index.tip.nomera'|trans }} " data-toggle="tooltip"></i>
                {{ form_widget(form.roomType) }}
            </div>
            <div class="filter-form_input">
                <i class="fa fa-check" title="{{ 'mbhpricebundle.view.tariff.index.show_disabled'|trans }}" data-toggle="tooltip"></i>
                {{ form_widget(form.isEnabled) }}
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        {% endblock %}
    {% endembed %}


    <table id="special-table"
           class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th>{{ "specials.title"|trans }}</th>
            <th class="td-md">{{ "specials.dates"|trans }}</th>
            <th class="td-md">{{ "specials.roomTypes"|trans }}</th>
            <th class="td-md">{{ "specials.tariff"|trans }}</th>
            <th class="td-sm">{{ "specials.discount"|trans }}</th>
            <th class="td-sm text-center">{{ "specials.sold"|trans }}</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'special_new', 'role': 'SPECIAL'} %}

{% endblock %} 

