{% extends 'MBHPriceBundle:Special:layout.html.twig' %}

{% set small_title = "entity.list.title" %}
{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'special-filter-widget'} %}
        {% block content %}
            {{ form_start(form, {attr: {class: 'form-inline remember filter-form icon-label-form', id: 'special-filter-form'}}) }}
            <div class="form-group">
                <label><i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i></label>
                {{ form_widget(form.begin, {attr: {class: 'datepicker begin-datepicker'}}) }} —
                {{ form_widget(form.end, {attr: {class: 'datepicker end-datepicker'}}) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-arrow-right" title="Строгое соответствие?" data-toggle="tooltip"></i></label>
                {{ form_widget(form.isStrict) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-sliders" title="Тариф" data-toggle="tooltip"></i></label>
                {{ form_widget(form.tariff) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-bed" title="Тип номера" data-toggle="tooltip"></i></label>
                {{ form_widget(form.roomType) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-bookmark" title="Aкции" data-toggle="tooltip"></i></label>
                {{ form_widget(form.promotion) }}
            </div>
            <div class="form-group">
                <label><i class="fa fa-check" title="Показывать выключенные?" data-toggle="tooltip"></i></label>
                {{ form_widget(form.isEnabled) }}
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        {% endblock %}
    {% endembed %}

    <div id="alert-warning" class="alert alert-warning alert-dismissible" hidden="hidden">
        <a href="#" class="close alert-close" aria-label="close">&times;</a>
        <strong>Внимание!</strong> Требуется выбрать хотя бы одно спец предложение.
    </div>

    <div id="alert-success" class="alert alert-success alert-dismissible" hidden="hidden">
        <a href="#" class="close alert-close" aria-label="close">&times;</a>
        <strong>Отлично!</strong> Теперь спец предложения работают еще лучше!.
    </div>

    <div id="alert-danger" class="alert alert-danger alert-dismissible" hidden="hidden">
        <a href="#" class="close alert-close" aria-label="close">&times;</a>
        <strong>Внимание!</strong> Произошла ошибка.
    </div>

    <table id="special-table"
           class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs"></th>
            <th>{{ "specials.title"|trans }}</th>
            <th class="td-md">{{ "specials.dates"|trans }}</th>
            <th class="td-md">{{ "specials.roomTypes"|trans }}</th>
            <th class="td-md">{{ "specials.tariff"|trans }}</th>
            <th class="td-sm">{{ "specials.discount"|trans }}</th>
            <th class="td-sm text-center">{{ "specials.sold"|trans }}</th>
            <th class="td-sm"><input type="checkbox" class="plain-html" id="check-all-special"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'special_new', 'role': 'SPECIAL', 'batch': batch } %}


{% include '@MBHPrice/Special/Modal/modal.html.twig' %}

{% endblock %}

{% set batch %}
    {% block batch %}
        <ul class="nav navbar-nav">
            <li>
                <div class="btn-group dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-magic"></i>
                        Действия над выбранными
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {#Меню сделать если понадобится. #}
                        <li><a title="Применить акцию" href="{{ path('special_batch_promotion_apply') }}" class="batch-link"><i class="fa fa-bookmark"></i><span>Применить акцию к выбранным.</span></a></li>
                    </ul>

                </div>
            </li>
        </ul>
    {% endblock %}
{% endset %}

