{% escapebackslash %}
{% wrapinline %}
{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for entity in entities %}
        [
            "<div class='text-center{{ not entity.isEnabled ? ' disabled-entry' }}'><i class='fa fa-star'></i></div>",
            "{% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': entity, 'route': 'special'} %}{% endembed %}",
            "{{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}",
            "{% if entity.roomTypes is not empty %}<small>{{ entity.roomTypes|join(';<br>')|raw }}</small>{% endif %}",
            "{% if entity.tariffs is not empty %}<small>{{ entity.tariffs|join(';<br>')|raw }}</small>{% endif %}",
            "{{ entity.discount|number_format(2) }} {% if not entity.isPercent  %}{{ currency()['text']|trans }}{% else %}%{% endif %}",
            "<div class='text-center'>{{ entity.sold }}/{{ entity.limit }}</div>",
            "<div class='btn-list text-right'>{% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': entity, 'route': 'special'} %}{% endembed %}</div>"
        ]{% if loop.index != entities|length %},{% endif %}
        {% endfor %}
    ]
}
{% endwrapinline %}
{% endescapebackslash %}
