{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "package.index.delete_reason"|trans({}, "MBHPackageBundle")  %}
{% set title_url = path('package_delete_reasons') %}
{% set layout='box' %}

{% block content %}
    <table class="table {#not-auto-datatable#} table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th>{{ "package.index.name"|trans({}, "MBHPackageBundle") }}</th>
            <th class="td-md">{{ "package.index.created"|trans({}, "MBHPackageBundle") }}</th>
            <th class="td-sm text-center">{{ "package.index.default"|trans({}, "MBHPackageBundle") }}</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for reason in reasons %}
            <tr>
                <td class="text-center table-icon"><i class="fa fa-compass"></i></td>
                <td>
                    <a href="{{ path('package_delete_reasons_edit', { 'id': reason.id }) }}" rel="main" fullTitle="{{ "package.index.edit_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">{{ reason.fullTitle }}{% if reason.system %} <small class="transparent"><i class="fa fa-lock"></i></small>{%endif %}</a>
                </td>
                <td>{{ reason.createdAt|date('d.m.Y') }}</td>
                <th class="text-center">
                    {% if reason.isDefault %}
                        <span class="label label-success">{{ 'delete_reasons.index.yes'|trans}}</span>
                    {% else %}
                        <span class="label label-default">{{ 'delete_reasons.index.no'|trans}}</span>
                    {% endif %}
                </th>
                <td class="table-actions-td text-center">
                    <a href="{{ path('package_delete_reasons_edit', { 'id': reason.id }) }}" class="btn btn-success btn-xs" fullTitle="{{ "package.index.edit_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    {% if reason.system == false  %}
                        <a href="{{ path('delete_reasons_delete', { 'id': reason.id }) }}" class="btn btn-danger btn-xs delete-link " title="{{ "package.index.delete_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form, {'action': path('package_delete_reasons'), 'attr': {'class': 'hidden-print form-horizontal'}}) }}
    {{ form_widget(form) }}
    {% include 'MBHBaseBundle:Actions:new_plus_actions.html.twig' with {'save_close': false} %}
    {{ form_end(form) }}

{% endblock %}
