{% form_theme form '@MBHOnlineBooking/Form/children_age_entry_widget.twig' %}

{#ID формы не менять, используется в js#}
{{ form_start(form, {attr: {id: 'search-form', 'data-sync': requestSearchUrl, 'data-async': requestSearchUrlAsync }, action: requestSearchUrl }) }}
<div class="booking-title">Расчет стоимости</div>
<div class="booking-group">
    {{ form_label(form.hotel) }}
    <div class="booking-select">
        {{ form_widget(form.hotel) }}
    </div>
</div>

<div class="booking-date clearfix">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_label(form.begin) }}
        {{ form_widget(form.begin, {attr: {readonly: 'readonly'}}) }}

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_label(form.end) }}
        {{ form_widget(form.end, {attr: {readonly: 'readonly'}}) }}

    </div>
</div>
<div class="booking-nights">
    <span>Количество ночей:&nbsp;<span id="nights_amount"></span> </span>
</div>

<div class="booking-number clearfix">
    <div class="col-md-6 col-sm-6 col-xs-6">
        {{ form_label(form.adults) }}
        {{ form_widget(form.adults) }}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        {{ form_label(form.children) }}
        {{ form_widget(form.children) }}
    </div>
</div>
<div id="children_age_container" class="booking-age clearfix">
    {{ form_label(form.children_age) }}

    {{ form_widget(form.children_age) }}

</div>
<div class="clear"></div>


{#<div class="check">#}
    {#<label>#}
        {#<input class="date-check" type="checkbox" name="" id="sync-async-toggle">#}
        {#<span class="date-check-custom"></span>#}
        {#<div class="wrap-contcheck">#}
        {#<span class="check-lab">#}
                {#Гибкие даты#}
         {#<a class="tooltip-span">#}
                 {#?<span class="tooltip-text">Данная опция позволяет найти дополнительные варианты, если на искомые даты уже все раскуплено.</span>#}
        {#</a>#}
        {#</span>#}
        {#</div>#}
    {#</label>#}
{#</div>#}



<div class="booking-submit">
    <input type="submit" name="submit" value="Узнать цены">
</div>

<div class="booking-title pay-online">
    <a href="https://azovsky.ru/oplatit-uslugi/" rel="nofollow" target="_blank">Внести оплату Online</a>
</div>
{{ form_end(form, {render_rest: false}) }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="{{ absolute_url(asset('bundles/mbhonlinebooking/css/easydropdown.css')) }}">



<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js"></script>
{#<script src="http://www.azovsky.ru/services/mb-search/vendor/chosen_v1.0.0/chosen.jquery.js"></script>#}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ru.min.js"></script>

{#Стиль подключен в азовском#}
<script src="{{ absolute_url(asset('bundles/fosjsrouting/js/router.js', null, true)) }}"></script>
<script src="{{ absolute_url(asset('js/fos_js_routes.js', null, true)) }}"></script>
<script src="{{ absolute_url(asset('bundles/mbhonlinebooking/js/jquery.easydropdown.js')) }}"></script>
<script src="{{ absolute_url(asset('bundles/mbhonlinebooking/js/form.js')) }}"></script>

<script>
    var mbh = {
        restrictions: {{ restrictions|raw }}
    }
</script>

