{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {attr: {id: 'search-form', class: 'bronirovanie'}, action: requestSearchUrl }) }}
<div class="hinform h2">Онлайн бронирование</div>
<div class="form-group">
    {{ form_label(form.hotel) }}
    <div class="input-group">
        {{ form_widget(form.hotel, {attr: {'style': 'background: url("http://azovsky.ru/images/fico3.png") no-repeat scroll right center / auto 100%'}}) }}
    </div>
</div>
<div class="form-group">
    {#{{ form_label(form.roomType) }}#}
    <div class="input-group">
        {{ form_widget(form.roomType,{attr: {'style': 'background: url("http://azovsky.ru/images/fico3.png") no-repeat scroll right center / auto 100%'}}) }}
        {#<span class="input-group-addon bcy  clickable"><i class="fa fa-tag clickable"></i></span>#}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.range) }}
    <div class="input-group">
        {{ form_widget(form.range, {attr: {'style': 'background: url("http://azovsky.ru/images/fico3.png") no-repeat scroll right center / auto 100%'}}) }}
    </div>
</div>


<div class="form-group row">
    <div class="col-sm-6">
        {{ form_label(form.adults) }}
        {{ form_widget(form.adults, {attr: {class:"bgnd"}}) }}
    </div>
    <div class="col-sm-6">
        {{ form_label(form.children) }}
        {{ form_widget(form.children,{attr: {class:"bgnd"}}) }}
        <div id="children-icon" data-value="{{ form.children_age.vars.value|json_encode }}" style="visibility: hidden" title="Возраст"></div>
    </div>
</div>


{{ form_widget(form.begin, {attr: {class: 'hide'}}) }}
{{ form_widget(form.end, {attr: {class: 'hide'}}) }}

<input type="submit" name="submit" value="Найти" id="rsc" style="margin-top: 26px;">
<div class="break"></div>
<div class="hinform h2" style="padding:16px 0 11px; margin-top: 26px;"><a href="{{ payOnlineUrl }}" target="_blank"><img src="http://azovsky.ru/images/vzmc.png" style="margin-right:10px;height:30px;">Внести оплату Online</a></div>
{{ form_end(form, {render_rest: false}) }}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css">
<link rel="stylesheet" href="{{ asset('bundles/mbhonlinebooking/css/form.css', null, true) }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="{{ asset('bundles/mbhonlinebooking/js/form.js', null, true) }}"></script>
<script>
    var mbh = {
        restrictions: {{ restrictions|raw }}
    }
</script>
