{% form_theme form '@MBHOnlineBooking/Form/children_age_entry_widget.twig' %}
{{ form_start(form, {attr: {id: 'search-form', class: 'bronirovanie'}, action: requestSearchUrl }) }}
<div class="hinform h2">Расчет стоимости</div>
<div class="form-group">
    {{ form_label(form.hotel) }}
    <div class="input-group">
        {{ form_widget(form.hotel, {attr: {'style': 'background: url("http://azovsky.ru/images/fico3.png") no-repeat scroll right center / auto 100%'}}) }}
    </div>
</div>
<div class="form-group">
    {#{{ form_label(form.roomType) }}#}
    <div class="input-group">
        {{ form_widget(form.roomType,{attr: {'style': 'background: url("http://azovsky.ru/images/fico3.png") no-repeat scroll right center / auto 100%'}}) }}
    </div>
</div>


<div class="row sbrw">
    <div class="col-md-6 col-xs-12">
        <p>{{ form_label(form.begin) }}</p>
        {{ form_widget(form.begin) }}

    </div>
    <div class="col-md-6 col-xs-12">
        <p>{{ form_label(form.end) }}</p>
        {{ form_widget(form.end) }}

    </div>
</div>
    {{ form_widget(form.begin) }}
    {{ form_widget(form.end) }}

<div class="nights">
    <span id="nights_amount_container" class="hidden">Количество ночей:&nbsp;<span id="nights_amount"></span></span>
</div>


    <div class="col-sm-6">
        {{ form_label(form.adults) }}
        {#{{ form_widget(form.adults, {attr: {class:"bgnd"}}) }}#}
        {{ form_widget(form.adults) }}
    </div>
    <div class="col-sm-6">
        {{ form_label(form.children) }}
        {#{{ form_widget(form.children,{attr: {class:"bgnd"}}) }}#}
        {{ form_widget(form.children) }}
    </div>
    <div id="children_age_container">
        {{ form_label(form.children_age) }}
        {{ form_widget(form.children_age) }}
    </div>



<input type="submit" name="submit" value="Узнать цены" id="rsc" style="margin-top: 26px;">
<div class="spinn"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
<div class="hinform newmargin h2" style="padding:16px 0 11px; margin-top: 26px;"><a href="{{ payOnlineUrl }}" target="_blank"><img src="http://azovsky.ru/images/vzmc.png" style="margin-right:10px;height:30px;">Внести оплату Online</a></div>
{{ form_end(form, {render_rest: false}) }}

{#временно!#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#dhtvtyyj#}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ asset('bundles/mbhonlinebooking/css/form.css', null, true) }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js"></script>
{#<script src="http://www.azovsky.ru/services/mb-search/js/jquery.maskedinput-1.2.2.js"></script>#}
<script src="http://www.azovsky.ru/services/mb-search/vendor/chosen_v1.0.0/chosen.jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ru.min.js"></script>

<script src="{{ asset('bundles/mbhonlinebooking/js/form.js', null, true) }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js', null, true) }}"></script>
{#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
<script src="{{ asset('js/fos_js_routes.js', null, true) }}"></script>
{#{{ dump(restrictions) }}#}
<script>
    var mbh = {
        restrictions: {{ restrictions|raw }}
    }
</script>
