{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_label(form) }}
    {{ form_start(form) }}

    <div id="number">
    {{ form_label(form.number) }}
    {{ form_widget(form.number) }}
    </div>

    <div id="email">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    </div>

    <div id="phone">
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone) }}
    </div>

    <div id="sum">
        {{ form_label(form.sum) }}
        {{ form_widget(form.sum) }}
    </div>
    <input type="submit" value="Найти" id="btn">
    {{ form_end(form) }}
{% endif %}

{#отключить в продакшене#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script>
    var url = '{{ url('payrest_payer', {_format: 'json'}) }}';
</script>
<script src="{{ asset('bundles/mbhonlinebooking/js/payrest.js') }}"></script>