<div class="row" id="online-booking-search">
    {{ dump(searchResults) }}
    {% for result in searchResults %}
    <div class="well col-lg-12">
        <h4>{{ result.roomType }}</h4>
        <div class="row">
            <div class="photos col-md-2">
                {% set renderedImage = false %}
                {% for searchResult in result.results if not renderedImage %}
                    {% if searchResult.roomType.mainImage %}
                        <a class="fancybox" href="{{ asset(searchResult.roomType.mainImage.path, null, true) }}">
                            <img alt="" src="{{ searchResult.roomType.mainImage.path|imagine_filter('thumb_95x80') }}">
                        </a>
                        {% set renderedImage = true %}
                    {% endif %}
                {% endfor %}
                {# <img alt="" src="http://lorempixel.com/95/80/"> #}
            </div>
            <div class="col-md-10">
                {% for searchResult in result.results %}
                <div class="row">
                    {#{% for image in searchResult.roomType.images %}
                        <a class="fancybox" rel="group" href="{{ asset(image.path, null, true) }}">
                            <img alt="" src="{{ image.path|imagine_filter('thumb_95x80') }}">
                        </a>
                    {% endfor %}#}

                    <div class="col-md-4" style="font-weight: bold">Тариф: {{ searchResult.tariff }}</div>
                    <div class="col-md-4">
                        Взрослых: {{ searchResult.adults }} Дети: {{ searchResult.children }}<br>
                        Даты: {{ searchResult.begin|date('d.m.Y') }} - {{ searchResult.end|date('d.m.Y') }}<br>
                        Количество комнат: {{ searchResult.roomsCount }}<br>
                        Цена: {{ searchResult.getPrice(searchResult.adults, searchResult.children)|number_format(2) }}
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="booking" data-url="{{ requestSearchUrl }}?step=2&form[adults]={{ searchResult.adults }}&form[children]={{ searchResult.children }}&form[begin]={{ searchResult.begin|date('d.m.Y') }}&form[end]={{ searchResult.end|date('d.m.Y') }}&form[roomType]={{ searchResult.roomType.id }}&form[tariff]={{ searchResult.tariff.id }}&form[total]={{ searchResult.getPrice(searchResult.adults, searchResult.children) }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-success btn-sm" href="">Бронировать</a>
        </div>
    </div>
    {% endfor %}
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<script>
    var $onlineBookingSearch = $('#online-booking-search');
    $onlineBookingSearch.ready(function() {
        $onlineBookingSearch.find('.fancybox').fancybox();
        var $bookingButton = $onlineBookingSearch.find('.btn-success');
        var $checkboxes = $onlineBookingSearch.find('input[type=radio]');
        //var $photos = $onlineBookingSearch.find('.photos');
        var updateButton = function() {
            $bookingButton.addClass('disabled').attr('href');
            $checkboxes.each(function(){
                var isChecked = $(this).is(':checked');
                if(isChecked) {
                    $bookingButton.removeClass('disabled').attr('href', $(this).data('url'));
                }
            })
        }
        $checkboxes.on('change', function(e) {
            updateButton();
        })
        updateButton()
    });
</script>