<div class="row marketing">
    {% for result in searchResults %}
    <div class="col-lg-6">
        <h4>{{ result.roomType }}</h4>
        <p>
            {% for data in result.results %}
                Взрослых: {{ data.adults }}<br>
                Дети: {{ data.children }}<br>
                Начало: {{ data.begin|date('d.m.Y') }}<br>
                Конец: {{ data.end|date('d.m.Y') }}<br>
                Количество комнат: {{ data.roomsCount }}<br>
                Цена: {{ data.roomsCount }}

                <a href="{{ requestSearchUrl }}?step=2&form[adults]={{ data.adults }}&form[children]={{ data.children }}&form[begin]={{ data.begin|date('d.m.Y') }}&form[end]={{ data.end|date('d.m.Y') }}&form[roomType]={{ data.roomType.id }}&form[tariff]={{ data.tariff.id }}" class="btn btn-success">Бронировать</a>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>