<div id="online-booking-search">
{% for result in searchResults %}
<div class="row oneblock room-type-row">
    <!--<div class="sale"></div>-->

    <div class="col-md-4" style="padding:0px;">
        {% set renderedImage = false %}
        {% for searchResult in result.results if not renderedImage %}
            {% if searchResult.roomType.mainImage %}
                <a class="fancybox" href="{{ asset(searchResult.roomType.mainImage.path, null, true) }}">
                    <img class="oblimg" src="{{ searchResult.roomType.mainImage.path|imagine_filter('thumb_95x80') }}">
                </a>
                {% set renderedImage = true %}
            {% endif %}
        {% endfor %}
        <!--<div class="oblimg" style="background:url(images/img1.jpg)no-repeat;background-size:cover;"></div>-->
    </div>
    <div class="col-md-8 descrobl" style="padding:0px;">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12 title">
                <p>{{ result.roomType }}</p>
                <small>{{ result.roomType.hotel }}</small>
                {#<p class="subtitle"><img src="images/pn.png" alt=""> 10 дней / 10 ночей</p>#}
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 prices">
                {#<div class="col-md-7 col-sm-7 col-xs-7 newprice">забронируй сейчас<br><span>&#8381;56 344</span></div>#}
                {% set searchResult = result.results|first %}
                <div class="col-md-5 col-sm-5 col-xs-5 oldprice pull-right">
                    стоимость<br>
                    <span>{{ searchResult.getPrice(searchResult.adults, searchResult.children)|number_format(2) }}</span>
                </div>
            </div>
        </div>
        <div class="descr col-xs-12">
            {{ searchResult.roomType.description|raw }}
        </div>

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><img src="images/ic1.jpg" alt="" style="width: 25px"> Тариф</th>
                <th><img src="images/ic2.jpg" alt="" style="width: 25px"> Гости</th>
                <th><img src="images/ic3.jpg" alt="" style="width: 25px"> Дата</th>
                <th>Цена</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for searchResult in result.results %}
            <tr class="tariff-row" data-url="{{ requestSearchUrl }}?step=2&form[adults]={{ searchResult.adults }}&form[children]={{ searchResult.children }}&form[begin]={{ searchResult.begin|date('d.m.Y') }}&form[end]={{ searchResult.end|date('d.m.Y') }}&form[roomType]={{ searchResult.roomType.id }}&form[tariff]={{ searchResult.tariff.id }}&form[total]={{ searchResult.getPrice(searchResult.adults, searchResult.children) }}">
                <td>{{ searchResult.tariff }}</td>
                <td>
                    {{ searchResult.adults }} взр + {{ searchResult.children }} реб
                </td>
                <td>
                    {{ searchResult.begin|date('d.m.y') }} - {{ searchResult.end|date('d.m.y') }}
                </td>
                <td>
                    {{ searchResult.getPrice(searchResult.adults, searchResult.children)|number_format(2) }}
                </td>
                <td>
                    <input type="radio" name="booking">
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="btmactions">
            <a href="#" class="pull-right" style="margin-top: 10px" title="Купить Online">
                <a href="#" class="onl">Забронировать</a>
            </a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% if not searchResults %}
    <div style="background-color: #FFFFFF; padding: 15px">
        <strong><i class="fa fa-exclamation"></i> По вашему запросу ничего не найдено</strong>
    </div>
{% endif %}


{#% for result in searchResults %}
<div class="row" id="online-booking-search">
    <div class="well col-lg-12 room-type-row">
        <h4></h4>
        <div class="row">
            <div class="col-md-10">
                {% for searchResult in result.results %}
                <div class="row tariff-row" data-url="{{ requestSearchUrl }}?step=2&form[adults]={{ searchResult.adults }}&form[children]={{ searchResult.children }}&form[begin]={{ searchResult.begin|date('d.m.Y') }}&form[end]={{ searchResult.end|date('d.m.Y') }}&form[roomType]={{ searchResult.roomType.id }}&form[tariff]={{ searchResult.tariff.id }}&form[total]={{ searchResult.getPrice(searchResult.adults, searchResult.children) }}">
                    <div class="col-md-4" style="font-weight: bold">Тариф: {{ searchResult.tariff }}</div>
                    <div class="col-md-4">
                        Взрослых: <br>
                        Даты: <br>
                        Количество комнат: {{ searchResult.roomsCount }}<br>
                        Цена: {{ searchResult.getPrice(searchResult.adults, searchResult.children)|number_format(2) }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-success btn-sm" href="">Бронировать</a>
        </div>
    </div>
</div>
{% endfor %#}

<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<script>
    var RoomTypeRow = function($row) {
        this.$row = $row;
        this.$bookingButton = $row.find('.onl');
        this.tariffRows = [];
        this.selectedTariffRow = null;
    }

    RoomTypeRow.prototype.init = function()
    {
        this.bindEventHandlers();
        this.initTariff();
    }

    RoomTypeRow.prototype.bindEventHandlers = function()
    {

    }

    RoomTypeRow.prototype.initTariff = function()
    {
        var that = this;
        this.$row.find('.tariff-row').each(function() {
            var tariffRow = new TariffRow($(this), that);
            tariffRow.init();
            that.tariffRows.push(tariffRow);
        })
    }

    RoomTypeRow.prototype.notAlreadyBooking = function()
    {
        this.$bookingButton.addClass('disabled').attr('href', '');
        /*this.tariffRows.forEach(function(index, t) {
            tariffRow.notSelected();
        })*/
    }

    RoomTypeRow.prototype.alreadyBooking = function(tariffRow)
    {
        this.tariffRows.forEach(function(t) {
            if (t != tariffRow) {
                t.notSelected()
            }
        })

        this.reBuildHref();
    }

    RoomTypeRow.prototype.reBuildHref = function()
    {
        var href = this.selectedTariffRow.bookingHref;
        if (this.selectedTariffRow.$promotionSelect.val()) {
            href = href + '&form[promotion]=' + this.selectedTariffRow.$promotionSelect.val();
        }
        this.$bookingButton.removeClass('disabled').attr('href', href);
    }

    var TariffRow = function($row, roomTypeRow) {
        this.$row = $row;
        this.$checkbox = this.$row.find('input[type=radio]');
        this.bookingHref = this.$row.data('url');
        this.$promotionSelect = $row.find('select');
        this.roomTypeRow = roomTypeRow;
    }

    TariffRow.prototype.init = function()
    {
        this.bindEventHandlers();
    }

    TariffRow.prototype.bindEventHandlers = function()
    {
        var that = this;
        this.$checkbox.on('change', function() {
            that.roomTypeRow.selectedTariffRow = that;
            that.selected();
        })
        this.$promotionSelect.on('change', function() {
            that.roomTypeRow.selectedTariffRow = that;
            that.roomTypeRow.reBuildHref();
        })
    }

    TariffRow.prototype.selected = function()
    {
        this.$promotionSelect.removeClass('hide');
        this.roomTypeRow.alreadyBooking(this);
    }

    TariffRow.prototype.notSelected = function()
    {
        this.$promotionSelect.addClass('hide');
        //this.$checkbox.attr('checked', false);
    }

    var $onlineBookingSearch = $('#online-booking-search');
    $onlineBookingSearch.ready(function() {
        $onlineBookingSearch.find('.fancybox').fancybox();

        var $roomTypeRows = $onlineBookingSearch.find('.room-type-row');
        $roomTypeRows.each(function() {
            var roomTypeRow = new RoomTypeRow($(this));
            roomTypeRow.init();
            roomTypeRow.notAlreadyBooking();
        })
    });
</script>