<link rel="stylesheet" href="{{ absolute_url(asset('bundles/mbhonlinebooking/css/search.css')) }}">
<script src="https://code.highcharts.com/stock/highstock.js"></script>

<div id="online-booking-search">
    <p class="restitle">Курортная сеть "Азовский": варианты размещения в выбранные объекты</p>
    <div class="infoIncludeN">Что входит в стоимость путевки: <a href="http://azovsky.ru/putevka-v-Crimea/" style=""
                                                                 target="_blank">Азовский</a>, <a
                href="http://azovsky.ru/azovland/azovland-putevka/" style="" target="_blank">АзовЛенд</a></div>
    {% for result in searchResults %}
        <div class="row oneblock room-type-row">
            <!--<div class="sale"></div>-->
            <div class="col-md-4 logo">
                {% set renderedImage = false %}
                {% for searchResult in result.results if not renderedImage %}
                    {% if searchResult.roomType.mainImage %}
                        <a class="fancybox" href="{{ asset(searchResult.roomType.mainImage.path, null, true) }}"
                           rel="cat{{ loop.parent.loop.index }}">
                            <img class="oblimg"
                                 src="{{ asset(searchResult.roomType.mainImage.path|imagine_filter('thumb_275x210'), null, true) }}">
                        </a>
                        {% set renderedImage = true %}
                    {% endif %}
                {% endfor %}
                {% if not renderedImage %}
                    {#<div class="placeholder-logo" style="background:url(images/logo-placeholder.png)no-repeat;background-size:cover;"></div>#}
                    <img src="{{ asset('bundles/mbhonlinebooking/images/no-image.jpg', null, true) }}">
                {% endif %}
                <div class="row">
                    {% if result.results|first.roomType.images is not empty %}
                        <div class="col-md-12 miniimages">
                            {% for image in result.results|first.roomType.images %}

                                {% if not image.ismain %}
                                    <a href="{{ asset(image.path, null, true) }}" class="fancybox"
                                       rel="cat{{ loop.parent.loop.index }}">
                                        <img src="{{ asset(image.path|imagine_filter('thumb_40x40'), null, true) }}"
                                             alt="{{ result.results|first.roomType.name }}">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-8 right-info">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12" style="padding:0px;">
                        <div class="title">
                            {{ result.roomType.hotel.fullTitle }}&nbsp;
                        </div>
                        <div class="hotellogo">
                            <img src="{{ asset(result.roomType.hotel.logoUrl, null, true ) }}"
                                 alt="{{ result.roomType.hotel.name }}">
                        </div>
                        <div class="subtitle infocontainer">
                            <div class="pull-left">
                                {#<i class="fa fa-h-square numicon"></i>#}
                                <div class="pull-right roomcon">
                                    <div class="roomtype">тип номера</div>
                                    <div class="roomname">

                                        {% if result.roomType.descriptionurl is defined and result.roomType.descriptionurl is not empty %}
                                            <a href="{{ result.roomType.descriptionUrl }}"
                                               target="_blank">{{ result.roomType.fullTitle }}</a>
                                        {% else %}
                                            {{ result.roomType.fullTitle }}
                                        {% endif %}

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 prices">
                        <div class="guests pull-left">
                            <i class="fa fa-users"></i> Гости <br/>
                            {% if result.results|first.adults is defined %}
                                <span class="guestslist">{{ result.results|first.adults }}{{ result.results|first.children?'+'~result.results|first.children }}{{ result.results|first.infants?'+'~result.results|first.infants }}</span>
                            {% endif %}
                        </div>

                        {% set searchResult = result.results|first %}
                        <div class=" pull-right">
                            <div style="text-align: center;">СТОИМОСТЬ</div>
                            <span class="newprice">{{ searchResult.getPrice(searchResult.adults, searchResult.children)|number_format(0, thousandSep=' ') }}
                                &nbsp;<i class="fa fa-ruble rublesize"></i></span>
                            {% if result.results|length > 1 %}&nbsp;
                                <span class="oldprice">{{ result.results|last.getPrice(result.results|last.adults, result.results|last.children)|number_format(0, thousandSep=' ') }}
                                    &nbsp;<i class="fa fa-ruble rublesize"></i></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="descr col-xs-12">
                            {{ searchResult.roomTypeInterfaceObject.description|raw }}
                        </div>

                    </div>
                </div>

                <table class="table table-hover table-row">
                    <thead>
                    <tr>
                        <th style="width:220px;">
                            <i class="fa fa-tag"></i>&nbsp;Тариф
                        </th>
                        <th>
                            <i class="fa fa-calendar"></i>&nbsp;Дата
                        </th>
                        <th>
                            <i class="fa fa-clock-o"></i>&nbsp;Ночи
                        </th>
                        <th>
                            <i class="fa fa-ruble"></i>&nbsp;Цена
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for searchResult in result.results %}
                        <tr
                                class="tariff-row"
                                data-url="{{ requestSearchUrl }}?step=2&form[adults]={{ searchResult.adults }}&form[children]={{ searchResult.children }}&form[begin]={{ searchResult.begin|date('d.m.Y') }}&form[end]={{ searchResult.end|date('d.m.Y') }}&form[roomType]={{ searchResult.roomType.id }}&form[tariff]={{ searchResult.tariff.id }}&form[total]={{ searchResult.getPrice(searchResult.adults, searchResult.children) }}&form[infants]={{ searchResult.infants }}&form[paymentType]={{ searchResult.tariff.paymentType }}"
                                data-payment_type= {{ searchResult.tariff.paymentType }}
                        >
                            <td>{{ searchResult.tariff.fullTitle }}
                                {% if searchResult.tariff.description is not empty %}
                                    <i class="fa fa-question-circle" data-toggle="tooltip"
                                       title="{{ searchResult.tariff.description }}"></i>
                                {% endif %}
                            </td>

                            <td>
                                {% if searchResult.begin|date('Y') == 'now'|date('Y') %}
                                    {% set format = 'd MMM' %}
                                {% else %}
                                    {% set format = 'd MMM y' %}
                                {% endif %}
                                <span style="white-space: nowrap;">
                    {{ searchResult.begin|localizeddate('medium', 'none', 'ru', null, format) }}
                    </span><br>
                                {% if searchResult.end|date('Y') == 'now'|date('Y') %}
                                    {% set format = 'd MMM' %}
                                {% else %}
                                    {% set format = 'd MMM y' %}
                                {% endif %}
                                <span style="white-space: nowrap;">
                    {{ searchResult.end|localizeddate('medium', 'none', 'ru', null, format) }}
                    </span>
                            </td>
                            <td class="text-center">
                                {{ searchResult.nights }}
                            </td>
                            <td nowrap>
                                {{ searchResult.getPrice(searchResult.adults, searchResult.children)|number_format(0, thousandSep=' ') }}
                            </td>
                            <td>
                                <input type="radio" name="booking-{{ searchResult.roomType.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="btmactions">
                    <a href="javascript:void(0)" tabindex="0" class="btn btn-default btn-booking-reservation"
                       title="Отправить заявку">ОТПРАВИТЬ ЗАЯВКУ</a>
                    <a href="javascript:void(0)" tabindex="0" class="btn btn-warning btn-booking" title="Купить онлайн">КУПИТЬ
                        ОНЛАЙН</a>
                </div>
            </div>

            <div id="chart{{ loop.index }}" class="col-md-12" style="height: 500px;"></div>
        </div>

    {% endfor %}
    {% if searchResults|length != 0 %}
        <div class="infoIncludeN">Что входит в стоимость путевки: <a href="http://azovsky.ru/putevka-v-Crimea/" style=""
                                                                     target="_blank">Азовский</a>, <a
                    href="http://azovsky.ru/azovland/azovland-putevka/" style="" target="_blank">АзовЛенд</a></div>
    {% endif %}

</div>

{% if searchResults|length == 0 %}
    <div style="background-color: #FFFFFF; padding: 15px">
        <strong><i class="fa fa-exclamation"></i> Варианты не найдены.</strong>
        <p>Пожалуйста, проверьте даты заезда и выезда.</p>
        <p>Или свяжитесь с нами: по телефону 8 (800) 775-15-41 (звонок бесплатный по всей России) или написав нам через
            <a href="/mail-us">форму обратной связи</a>.</p>
        <p>Мы обязательно Вам поможем!</p>
        <p>Спасибо, что выбираете Курортную сеть «Азовский»</p>
        <p><strong>Смотрите также: </strong><a href="http://azovsky.ru/specpredlojenia-dnia/">Спецпредложения</a></p>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Внимание!</h4>
            </div>
            <div class="modal-body">
                Для того, чтобы <span id="action"></span> выберите, пожалуйста, интересующий Вас тариф.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.0/readmore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>

<script>
    $(function () {
        $('.descr').readmore({
            moreLink: '<div class="more-link"><a href="#">... <i class="fa fa-caret-right"></i></a></div>',
            lessLink: '<div class="less-link"><a href="#">... <i class="fa fa-caret-up"></i></a></div>',
            collapsedHeight: 45
        });

//        $('.table').readmore({
//            moreLink: '<div class="more-link"><a href="#">еще предложения <i class="fa fa-caret-right"></i></a></div>',
//            lessLink: '<div class="less-link"><a href="#">... <i class="fa fa-caret-up"></i></a></div>',
//            collapsedHeight: 120
//        });

    });
</script>
<script>
    var mychart, myprices;

    //BuyOnline
    var RoomTypeRow = function ($row) {
        this.$row = $row;
        this.$bookingButton = $row.find('.btn-booking');
        this.$bookingButtonReservation = $row.find('.btn-booking-reservation');
        this.tariffRows = [];
        this.selectedTariffRow = null;
    };

    /*RoomTypeRow.prototype.isSelected = function()
     {
     return this.selectedTariffRow;
     }*/

    RoomTypeRow.prototype.update = function () {
        this.notAlreadyBooking();
        this.tariffRows.forEach(function (t) {
            t.update();
        })
    }

    RoomTypeRow.prototype.init = function () {
        this.bindEventHandlers();
        this.initTariff();
        this.update();
    }

    RoomTypeRow.prototype.bindEventHandlers = function () {

    }

    RoomTypeRow.prototype.initTariff = function () {
        var that = this;

        var checked = false;
        this.$row.find('.tariff-row').each(function () {
            var tariffRow = new TariffRow($(this), that);
            tariffRow.init();
            if (tariffRow.isSelected()) {
                checked = true;
            }
            that.tariffRows.push(tariffRow);
        });
        if (!checked) {
            this.tariffRows[0].$radiobutton.iCheck('check');
        }
    }

    RoomTypeRow.prototype.notAlreadyBooking = function () {
        /*this.$bookingButton.addClass('disabled').attr('href', '');
         this.$bookingButtonReservation.addClass('disabled').attr('href', '');*/
        /*this.tariffRows.forEach(function(index, t) {
         tariffRow.notSelected();
         })*/
    }

    RoomTypeRow.prototype.alreadyBooking = function (tariffRow) {
        this.tariffRows.forEach(function (t) {
            if (t != tariffRow) {
                t.notSelected()
            }
        })
        this.reBuildHref();
    }

    RoomTypeRow.prototype.reBuildHref = function () {
        var href = this.selectedTariffRow.bookingHref;
        if (this.selectedTariffRow.$promotionSelect.val()) {
            href = href + '&form[promotion]=' + this.selectedTariffRow.$promotionSelect.val();
        }
        var form_href = '&' + $("form#search-form").serialize();
        href = href + form_href;

        this.$bookingButton.attr('href', href);
        this.$bookingButtonReservation.attr('href', href + '&reservation=true');
    }

    RoomTypeRow.prototype.getChartOptions = function () {
        return {
            chart: {
                type: 'column',
                plotBorderWith: 1
            },
            title: {
                text: 'Календарь цен',
                align: 'center',
                floating: false
            },
            subtitle: {
                text: 'subtitle',
                floating: true
            },
            xAxis: {
                gridLineWidth: 0,
                type: 'category',
                labels: {
                    rotation: -75,
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            scrollbar: {
                enabled: true,
                liveRedraw: true
            },
            yAxis: [{
                gridLineWidth: 1,
                title: {
                    text: 'Цена'
                },
                allowDecimail: false,
                softMax: 6000,
                min: 0,
                labels: {
                    format: '{value:,.0f} р'
                }
            }, {
                title: {
                    text: 'Цена'
                },
                opposite: true
            }],
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    color: '#6894ee',
                    align: 'right',
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        format: '{point.y:,.0f} р',
                        enabled: true,
                        rotation: -90,
                        y: 30,
                        color: '#FFFFFF',
                        style: {
                            "fontSize": '10px',
                            "textShadow": false,
                            "textWeight": 100,
                            "stroke-width": "0px"
                        }
                    }
                },
                line: {
                    dataLabels: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                backgroundColor: 'rgba(0, 0, 0, 0.85)',
                style: {
                    color: '#F0F0F0'
                },
                headerFormat: '<span style="font-size: 10px; text-align: center;">{point.key}</span><br/>',
                pointFormat: '<b>{point.y} руб.</b>'
            }
        };
    };

    var TariffRow = function ($row, roomTypeRow) {
        this.$row = $row;
        this.$radiobutton = this.$row.find('input[type=radio]');
        this.bookingHref = this.$row.data('url');
        this.$promotionSelect = $row.find('select');
        this.roomTypeRow = roomTypeRow;
    }


    TariffRow.prototype.init = function () {
        this.bindEventHandlers();
    }

    TariffRow.prototype.isSelected = function () {
        return this.$radiobutton.is(':checked');
    }

    TariffRow.prototype.update = function () {
        if (this.isSelected()) {
            this.selected();
        }
    }

    TariffRow.prototype.bindEventHandlers = function () {
        var that = this;
        this.$radiobutton.on('ifChanged', function () {
            that.selected();
        })
        this.$promotionSelect.on('change', function () {
            that.roomTypeRow.selectedTariffRow = that;
            that.roomTypeRow.reBuildHref();
        })
    }

    TariffRow.prototype.selected = function () {
        this.roomTypeRow.selectedTariffRow = this;
        //this.$promotionSelect.removeClass('hide');
        this.$radiobutton.iCheck('check');
        this.roomTypeRow.alreadyBooking(this);
    }

    TariffRow.prototype.notSelected = function () {
        this.$promotionSelect.addClass('hide');
        //this.$radiobutton.attr('checked', false);
    }

    TariffRow.prototype.drawChart = function () {
        var urlDecoded = this.$row.data('url').split('?')[1].split('&'),
            rawArr = [];

        for (var i = 0; i < urlDecoded.length; i++) {
            var el = urlDecoded[i].split('=');
            rawArr[el[0]] = el[1];
        }

        var url = Routing.generate('online_booking_calculation', {
                tariffId: rawArr['form[tariff]'],
                roomTypeId: rawArr['form[roomType]'],
                adults: rawArr['form[adults]'],
                children: rawArr['form[children]'],
                packageBegin: rawArr['form[begin]'],
                packageEnd: rawArr['form[end]']
            }, true),
            chartContainerId = this.$row.closest('div.room-type-row').find("div[id^=chart]").attr('id'),
            ajaxJson = $.getJSON(url),
            that = this;

        ajaxJson
            .done(function (charData) {
                if (!that.roomTypeRow.chart) {
                    var options = that.roomTypeRow.getChartOptions();
                    options.xAxis.min = charData['showBegin'];
                    options.xAxis.max = charData['showEnd'];
                    options.subtitle.text = charData['roomTypeName'];
                    that.roomTypeRow.chart = new Highcharts.Chart(chartContainerId, options);
                    mychart = that.chart;
                }
                if (!that.roomTypeRow.chart.series[0]) {
                    that.roomTypeRow.chart.addSeries({data: charData['prices']});
                } else {
                    that.roomTypeRow.chart.series[0].setData(charData['prices'])
                }

            });
    };

    var $onlineBookingSearch = $('#online-booking-search');
    $onlineBookingSearch.ready(function () {
        $onlineBookingSearch.find('.fancybox').fancybox();

        var $roomTypeRows = $onlineBookingSearch.find('.room-type-row');
        $roomTypeRows.each(function () {
            var roomTypeRow = new RoomTypeRow($(this));
            roomTypeRow.init();
            roomTypeRow.tariffRows.forEach(function (tariffRow) {
                tariffRow.$row.on('click', function () {
                    tariffRow.selected();
                    start_bron(this);
                    tariffRow.drawChart();
                });
            })
        });

        isReturned();
    });

    var start_bron = function (row) {
        /*$button_online = $(row).closest("table").siblings(".btmactions").find("a.btn-booking");
         if($button_reservation.hasClass("disabled")) {
         $button_reservation.removeClass("disabled");
         }
         if($button_online.hasClass("disabled") && $(row).data("payment_type") === "hundred") {
         $button_online.removeClass("disabled")
         } else if (!$button_online.hasClass("disabled") && $(row).data("payment_type") !== "hundred") {
         $button_online.addClass("disabled");
         }*/


        $(row).siblings().removeClass("alerting");
        $(row).addClass("alerting");

    };

    $("#myModal").on('hide.bs.modal', function (e) {
        $("table").removeClass('alerting-tr');
    });

    $(".btmactions a").on('click', function (e) {
        if ($(e.target).attr('href') === 'javascript:void(0)') {
            e.preventDefault();
            var $action = $("#action");
            $(this).parent().siblings('table').addClass("alerting-tr");
            $action.text(($(this).text()));
            $("#myModal").modal("show");
        }

    })

    var isReturned = function () {
        var $checked = $("input[type=radio]:checked");
        if ($checked.length) {
            $checked.trigger('click');
        }
    };


</script>

<style>
    #online-booking-search .right-info .table tbody tr {
        cursor: pointer;
    }
</style>