{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% if form.offerta is defined %}
    {% form_theme form.offerta '@MBHOnlineBooking/Form/offero.html.twig' %}
{% endif %}

<div id="sign-page" class="col-md-8">

    <h3>Персональная информация</h3>
    {{ form_start(form, {attr: {id: 'sign-form', method: 'get' }, action: requestSearchUrl}) }}
    {% if form.offerta is defined %}
        <div class="error_pay" style="display:block;">Внимание! Оплачивая туристические услуги, Вы соглашаетесь с
            условиями публичного <a href="{{ offera }}" target="_blank">договора-оферты.</a></div>
    {% endif %}
    {{ form_widget(form, {attr: {class: 'ss'}}) }}


    <input type="hidden" name="step" value="2">


    <hr>
    {#<div class="g-recaptcha" data-sitekey="6Lcj9gcUAAAAAKRFMX1YdoK4yyIUIHea4pUIXiKI"></div>#}

    <div><p class="reqinfo">* - поля обязательные к заполнению</p></div>
    <div class="submit">
        <button type="submit" name="submit" value="1" class="bkbutton">
            {% if form.reservation is defined %}
                Отправить заявку
            {% else %}
                Забронировать
            {% endif %}
        </button>
    </div>
    {#<input type="hidden" name="adults" value="{{ app.request.get('adults') }}">
    <input type="hidden" name="children" value="{{ app.request.get('children') }}">
    <input type="hidden" name="begin" value="{{ app.request.get('begin') }}">
    <input type="hidden" name="end" value="{{ app.request.get('end') }}">
    <input type="hidden" name="roomType" value="{{ app.request.get('roomType') }}">
    <input type="hidden" name="tariff" value="{{ app.request.get('tariff') }}">#}
    {{ form_end(form) }}
</div>
<div id="right-column" class="col-md-4">
    <div id="info">
        <div class="title">Детали бронирования</div>
        <div class="item row">
            <div class="col-xs-4">
                {% if roomType.mainImage %}
                    <a class="fancybox" href="{{ absolute_url(asset(roomType.mainImage.path)) }}">
                        <img src="{{ roomType.mainImage.path|imagine_filter('thumb_100x100') }}" width="70px"
                             height="70px">
                    </a>
                {% else %}
                    <img src="{{ absolute_url(asset('bundles/mbhonlinebooking/images/no-image.jpg')) }}" width="70px"
                         height="70px">
                {% endif %}
            </div>
            <div class="col-xs-8">
                <div>{{ roomType.hotel.fullTitle }}</div>
                <div class="numtype">Тип номера</div>
                {% if roomTypeCategory.category.descriptionUrl is defined and roomTypeCategory.category.descriptionUrl is not empty %}
                <div><a class="room_link" href="{{ roomTypeCategory.category.descriptionUrl }}" target="_blank">{{ roomTypeCategory.category.fullTitle }}</a></div>
                    {% else %}
                        <div>{{ roomTypeCategory.category.fullTitle }}</div>
                {% endif %}
            </div>
        </div>
        <div class="date-info row">
            <div class="arrival col-xs-4">
                <div>Заезд</div>
                <div class="date">
                    {{ (special is defined and special is not empty)?special.begin|date('d.m.Y'):data.begin }}
                </div>
                <div class="date">
                    с 12:00
                </div>
            </div>
            <div class="days col-xs-4">
                <div>
                    <i class="fa fa-clock-o fa-2x"></i>
                </div>
                <div>{{ days ~ ' ' ~ 'nights'|transchoice(days) }}</div>
            </div>
            <div class="departure col-xs-4">
                <div>Выезд</div>
                <div class="date">
                    {{ (special is defined and special is not empty)?special.end|date('d.m.Y'):data.end }}

                </div>
                <div class="date">
                    до 12:00
                </div>
            </div>
        </div>
        <div class="guests">

            {#<div>Гости: {{ data.adults }} взрослых {{ data.children }} ребёнок</div>#}
            <div>Гости: {{ data.adults }}{{ data.children?'+'~data.children }}{#{{ data.infants?'+'~data.infants }}#}</div>
            <div>Тариф: {{ special?'Специальное предложение':tariff.fullTitle }}</div>
        </div>

        {#<div class="title" style="margin-top: 15px">Стоимость</div>
        <div class="price-info">
            <div class="price-item">
                <div>Тип номера:</div>
                <div>Симейные апартаменты</div>
            </div>
            <div class="price-item">
                <div>Стоимость в сутки:</div>
                <div>1 600</div>
            </div>
            <div class="price-item">
                <div>{{ days ~ ' ' ~ 'nights'|transchoice(days) }}:</div>
                <div>{{ data.total|number_format(2) }}</div>
            </div>
            <div class="price-item">
                <div>Сумма скидки:</div>
                <div>5 300</div>
            </div>
        </div>#}

        <div class="row" style="margin-top: 15px">
            <div class="title" style="display: inline-block;">Стоимость</div>
            <div class="pull-right"
                 style="color: #41bc19; display: inline-block; font-weight: bold; font-size: 18px">{{ data.total|number_format(0, thousandSep=' ') }}
                <i class="fa fa-ruble"></i></div>
        </div>
    </div>

    <div id="questions">
        <div class="title">Остались вопросы?</div>
        <div class="description">
            <p>Свяжитесь с нами!</p>
            <p>Звонок вас ни к чему не обязывает,
                но обеспечит дополнительной
                информацией</p>
        </div>
        <div class="phone">
            <i class="fa fa-phone fa-2x"></i>
            <span>8-800-775-15-41</span>
        </div>
        <div class="email">
            <a href="/mail-us">mail@azovsky.ru</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ absolute_url(asset('bundles/mbhonlinebooking/css/sign.css')) }}">
<script>
    $(function () {
        $('#info').find('.fancybox').fancybox();
    });
</script>
<script>
    var $radio = $('#form_payment input[value=online_half]').parent().parent();
    if ($radio.length) {
        $radio.get(0).innerHTML += ' - ' + {{ data.total / 2 }} +' <i class="fa fa-ruble"></i>';
    }
</script>
{#<script src='https://www.google.com/recaptcha/api.js'></script>#}
{#<script>#}
    {#var reCaptchaCallBack = function(data) {#}
        {#$button = $("button.bkbutton").prop('disabled', false).removeClass('disabled');#}
    {#};#}
{#</script>#}

{% if form.reservation is defined %}
    {% set gaGoal, yaGoal = 'Отправка заявки', 'mb_bron_order' %}
{% else %}
    {% set gaGoal, yaGoal = 'Купить Онлайн МБ', 'mb_bron_payment_online' %}
{% endif %}
<script>
    $("form#sign-form").on('submit', function (e) {
        if ('undefined' !== typeof yaCounter10885255) {
            yaCounter10885255.reachGoal('{{ yaGoal }}');
        }
        if ('undefined' !== typeof ga) {
            var total = parseInt($(e.target).find("input#form_total").val());
            ga('send', 'event', 'Бронирование МБ', '{{ gaGoal }}', total);
        }
    });

</script>