{% extends 'MBHPriceBundle:Overview:layout.html.twig' %}

{% set small_title = "обзор" %}

{% block content %}

    <div class="well" id="prices-overview-filter-well">
        <form id="prices-overview-filter" class="form-inline" role="form">
            <div class="input">
                <i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i>&nbsp
                <input type="text" id="prices-overview-filter-begin" class="datepicker prices-overview-filter begin-datepiker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ 'now'|date('d.m.Y') }}">
            </div>
            <div class="input">
                - &nbsp
                <input type="text" id="prices-overview-filter-end" class="datepicker prices-overview-filter end-datepiker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ 'now'|date_modify("+2 months")|date('d.m.Y') }}">
            </div>

            <div class="input">
                <i class="fa fa-home" title='Тип номера' data-toggle='tooltip'></i>&nbsp  <select multiple data-placeholder="Тип номера" id="prices-overview-filter-roomType" class="prices-overview-filter form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}">{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input">
                <i class="fa fa-sliders" title='Тариф' data-toggle='tooltip'></i>&nbsp  <select multiple data-placeholder="Тариф" id="prices-overview-filter-tariff" class="prices-overview-filter form-control input-sm">
                    {% for groupName, groupTariffs in tariffs %}
                        <optgroup label="{{ groupName }}">
                            {% for tariff in groupTariffs %}
                                <option value="{{ tariff.id }}">{{ tariff.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

        </form>

    </div>

    <form class="form-inline" action="{{ path('prices_overview_save') }}" method="POST" name="prices-overview-form" id="prices-overview-form">
        <div id="prices-overview-table-wrapper"></div>
        {% include 'MBHBaseBundle:Actions:new.html.twig' with {'save_close': false} %}
    </form>

{% endblock %} 

