{% extends 'MBHPriceBundle:Overview:layout.html.twig' %}

{% set small_title = 'price.views.overview.index.small_title'|trans({},'MBHPriceBundle') %}
{% set layout = 'tabs' %}

{% block content %}
    {% include 'MBHPriceBundle:Overview:tabs.html.twig' with {'active': 1 } %}
    <div class="tab-content">
        <div class="tab-pane active" id="home">

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'room-overview-filter-widget' } %}
    <form id="room-overview-filter" class="form-inline filter-form remember mbh-start-date" role="form">
            <div class="filter-form_input">
                <i class="fa fa-calendar" title='{{ 'price.views.overview.index.date'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                <input type="text" id="room-overview-filter-begin" class="datepicker mbh-daterangepicker room-overview-filter begin-datepicker not-set-date form-control" data-date-format="dd.mm.yyyy" value="">
            </div>
            <div class="input hidden">
                <input type="text" id="room-overview-filter-end" class="datepicker mbh-daterangepicker room-overview-filter end-datepicker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="">
            </div>

            <div class="filter-form_input">
                <i class="fa fa-bed" title='{{ 'price.views.overview.index.type'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                <select multiple data-placeholder="{{ 'price.views.overview.index.type'|trans({},'MBHPriceBundle') }}" id="room-overview-filter-roomType" class="room-overview-filter form-control">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-form_input">
                <i class="fa fa-sliders" title='{{ 'price.views.overview.index.rate'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'></i>
                <select multiple data-placeholder="{{ 'price.views.overview.index.rate'|trans({},'MBHPriceBundle') }}" id="room-overview-filter-tariff" class="room-overview-filter form-control">
                        <option></option>
                        {% for tariff in tariffs %}
                            <option value="{{ tariff.id }}" {% if (tariff.id in app.request.get('tariffs') and tariffs|length != app.request.get('tariffs')|length) or (app.request.get('tariffs') is empty and tariff.isDefault) %}selected{% endif %}>{{ tariff.name }}</option>
                        {% endfor %}
                </select>
            </div>
        {% include '@MBHBase/Partials/disable_button.html.twig' with {isChecked : displayDisabledRoomType, route : 'room_overview'} %}
        </form>
    </div></div>

    <div id="room-overview-table-wrapper" class="scrolling"></div>
    </div></div>
{% endblock %} 

