{% extends 'MBHPriceBundle:Overview:layout.html.twig' %}

{% set small_title = "обзор" %}

{% block content %}

    <div class="well" id="room-overview-filter-well">
        <form id="room-overview-filter" class="form-inline filter-form remember" role="form">
            <div class="input">
                <i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i>&nbsp
                <input type="text" id="room-overview-filter-begin" class="datepicker room-overview-filter begin-datepiker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('begin') is empty ? 'now'|date('d.m.Y') : app.request.get('begin') }}">
            </div>
            <div class="input">
                - &nbsp
                <input type="text" id="room-overview-filter-end" class="datepicker room-overview-filter end-datepiker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('end') is empty ? 'now'|date_modify("+45 days")|date('d.m.Y') : app.request.get('end') }}">
            </div>

            <div class="input">
                <i class="fa fa-bed" title='Тип номера' data-toggle='tooltip'></i>&nbsp  <select multiple data-placeholder="Тип номера" id="room-overview-filter-roomType" class="room-overview-filter form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input">
                <i class="fa fa-sliders" title='Тариф' data-toggle='tooltip'></i>&nbsp  <select multiple data-placeholder="Тариф" id="room-overview-filter-tariff" class="room-overview-filter form-control input-sm">
                        <option></option>
                        {% for tariff in tariffs %}
                            <option value="{{ tariff.id }}" {% if (tariff.id in app.request.get('tariffs') and tariffs|length != app.request.get('tariffs')|length) or (app.request.get('tariffs') is empty and tariff.isDefault) %}selected{% endif %}>{{ tariff.name }}</option>
                        {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div id="room-overview-table-wrapper" class="scrolling"></div>

{% endblock %} 

