<input type="hidden" name="begin" id="prices-overview-begin" class="hidden" value="{{ begin|date('d.m.Y') }}">
<input type="hidden" name="end" id="prices-overview-end" class="hidden" value="{{ end|date('d.m.Y') }}">
{% if error is defined and error is not empty  %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error }}</div>
{% else %}
    <table id="prices-overview-table" class="table table-bordered not-auto-datatable table-striped table-hover table-condensed">
        <tbody>

        {% set prices = {'places': {'places': 'Количество номеров'}, 'roomPrices': {}} %}
        {% set prices = prices|merge({'roomPrices': {'price': 'Основная цена', 'additionalAdultPrice': 'Доп. место взрослый', 'additionalChildPrice': 'Доп. место ребенок'}}) %}

        {% for tariff in  tariffs %}

            {% if tariff.isDefault is empty and tariff.type == 'rate' %}
                {% set rateTariff = true %}
            {% else %}
                {% set rateTariff = false %}
            {% endif %}

            <input type="hidden" name="tariffs[]" class="hidden" value="{{ tariff.id }}">

            <tr class="prices-overview-table-tariff-name info">
                <td colspan="{{ period|length + 1 }}"><strong>Тариф: {{ tariff }}</strong></td>
            </tr>
            {% for room in roomTypes %}

                <input type="hidden" name="roomTypes[]" class="hidden" value="{{ room.id }}">

                {% set roomTypePrices = tariff.roomTypePrices(room) %}
                {% set placeCount = tariff.placeCount(room) %}

                <tr class="prices-overview-table-roomType-name warning">
                    <td colspan="{{ period|length + 1 }}"><strong>Тип номера: {{ room }}</strong>&nbsp;-&nbsp;<small>{{ tariff }}</small></td>
                </tr>

                <tr class="header">
                    <td class="first-th"></td>
                    {% for date in period %}
                        <td {% if date|date('N') >= 6 %}class="text-danger"{% endif %}>{{ date|mbh_format }}</td>
                    {% endfor %}
                </tr>

                {% for priceCategory, priceBlock in prices %}
                    {% for priceKey, priceTitle in priceBlock %}
                        {% if rateTariff is empty or priceCategory == 'places' or priceKey == 'price' %}
                        <tr>
                            <td class="first-td">
                                <small>
                                    {% if rateTariff and priceCategory == 'roomPrices' %}
                                        Процент
                                    {% else %}
                                        {{ priceTitle }}
                                    {% endif %}
                                </small>
                            </td>

                            {% for date in period %}
                                <td class="prices-overview-table-td-price{% if date|date('N') >= 6 %} weekend{% endif %}">

                                    {% if date <= tariff.end and date >= tariff.begin %}

                                        {% if roomCacheOverwrite[(tariff.id)][(room.id)][(date|date('d.m.Y'))] is defined %}
                                            {% set overwrite = roomCacheOverwrite[(tariff.id)][(room.id)][(date|date('d.m.Y'))] %}
                                        {% else %}
                                            {% set overwrite = null %}
                                        {% endif %}

                                        {% set input = null %}

                                        <!-- placeCount -->

                                        {% if priceCategory == 'places' %}
                                            {% set price = {'link': true, 'value': placeCount} %}
                                            {% if overwrite and overwrite.places is not null %}
                                                {% set input = overwrite.places %}
                                            {% endif %}
                                        {% endif %}

                                        <!-- roomPrices -->

                                        {% if priceCategory == 'roomPrices' %}
                                            {% if rateTariff %}
                                                {% set price = {'link': false, 'value': tariff.rate ~ '%'} %}
                                            {% else %}
                                                {% if roomTypePrices is not empty %}
                                                    {% set price = {'link': true, 'value': attribute(roomTypePrices, priceKey) ? attribute(roomTypePrices, priceKey) : 'нет' } %}
                                                {% else %}
                                                    {% set price = {'link': true, 'value': 'нет'} %}
                                                {% endif %}
                                                {% if overwrite and overwrite.prices is not empty and overwrite.prices[(priceKey)] is defined %}
                                                    {% set input = overwrite.prices[(priceKey)] %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}

                                        <small data-input-name="[{{ tariff.id }}][{{ room.id }}][{{ date|date('d.m.Y') }}][{{ priceCategory }}][{{ priceKey }}]" class="{{ price.link ? 'link' : 'not-link' }}">{{ price.value }}</small>
                                        {% if input is not null %}
                                            <input name="prices[{{ tariff.id }}][{{ room.id }}][{{ date|date('d.m.Y') }}][{{ priceCategory }}][{{ priceKey }}]" type="number" class="prices-overview-table-input form-control input-sm" value="{{ input }}">
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            {% endfor %}
        {% endfor %}

        </tbody>
    </table>
{% endif %}