{% if error is defined and error is not empty  %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}
    <table id="room-overview-table" class="table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid custom-mobile-style">
        <tbody>

        {% for tariff in tariffs %}

            <input type="hidden" name="tariffs[]" class="hidden" value="{{ tariff.id }}">

            <tr class="mbh-grid-header1 info">
                <td colspan="{{ period|length + 1 }}"><strong>{{ tariff }}</strong></td>
            </tr>

            {% for roomType in roomTypes %}

                <input type="hidden" name="roomTypes[{{ roomType.id }}]" class="hidden" value="{{ roomType.id }}">

                <tr class="mbh-grid-header2 warning">
                    <td colspan="{{ period|length + 1 }}"><strong>{{ roomType }}</strong>&nbsp;-&nbsp;<small>{{ tariff }}</small></td>
                </tr>

                <tr class="header">
                    <td class="first-th"></td>
                    {% for date in period %}
                        <td {% if date|date('N') >= 6 %}class="text-danger"{% endif %}>{{ date|mbh_format }}</td>
                    {% endfor %}
                </tr>

                {% set categories = {
                    'rooms': 'price.views.overview.tabla.rooms'|trans({},'MBHPriceBundle'),
                    'tariff_rooms': 'price.views.overview.tabla.tariff_rooms'|trans({},'MBHPriceBundle'),
                    'prices': 'price.views.overview.tabla.prices'|trans({},'MBHPriceBundle'),
                    'restrictions': 'price.views.overview.tabla.restriction'|trans({},'MBHPriceBundle'),
                }%}

                {% for categoryId, category in categories %}
                    <tr>
                        <td class="first-td"><small>{{ category }}</small></td>

                        {% for date in period %}

                            {% set error = true %}
                            {% set cell = false %}
                            {% set roomCache = false %}
                            {% set tariffRoomCache = false %}
                            {% set priceCache = false %}
                            {% set restriction = false %}

                            {% if roomCaches[roomType.id][0][date|date('d.m.Y')] is defined %}
                                {% set roomCache = roomCaches[roomType.id][0][date|date('d.m.Y')] %}
                            {% endif %}
                            {% if (tariff.parent is empty or tariff.childOptions.inheritRooms is empty) and tariffRoomCaches[roomType.id][tariff.id][date|date('d.m.Y')] is defined %}
                                {% set tariffRoomCache = tariffRoomCaches[roomType.id][tariff.id][date|date('d.m.Y')] %}
                            {% endif %}
                            {% if tariff.parent and tariff.childOptions.inheritRooms and tariffRoomCaches[roomType.id][tariff.parent.id][date|date('d.m.Y')] is defined %}
                                {% set tariffRoomCache = tariffRoomCaches[roomType.id][tariff.parent.id][date|date('d.m.Y')] %}
                            {% endif %}

                            {% set roomTypeId = roomType.id %}
                            {% if client_config().useRoomTypeCategory %}
                                {% if roomType.category %}
                                    {% set roomTypeId = roomType.category.id %}
                                {% else %}
                                    {% set roomTypeId = 0 %}
                                {% endif %}
                            {% endif %}

                            {% if (tariff.parent is empty or tariff.childOptions.inheritPrices is empty) and priceCaches[roomTypeId][tariff.id][date|date('d.m.Y')] is defined %}
                                {% set priceCache = priceCaches[roomTypeId][tariff.id][date|date('d.m.Y')] %}
                            {% endif %}
                            {% if tariff.parent and tariff.childOptions.inheritPrices and priceCaches[roomTypeId][tariff.parent.id][date|date('d.m.Y')] is defined %}
                                {% set priceCache = priceCaches[roomTypeId][tariff.parent.id][date|date('d.m.Y')] %}
                            {% endif %}

                            {% if (tariff.parent is empty or tariff.childOptions.inheritRestrictions is empty) and restrictions[roomType.id][tariff.id][date|date('d.m.Y')] is defined %}
                                {% set restriction = restrictions[roomType.id][tariff.id][date|date('d.m.Y')] %}
                            {% endif %}
                            {% if tariff.parent and tariff.childOptions.inheritRestrictions and restrictions[roomType.id][tariff.parent.id][date|date('d.m.Y')] is defined %}
                                {% set restriction = restrictions[roomType.id][tariff.parent.id][date|date('d.m.Y')] %}
                            {% endif %}


                            {% if roomCache or tariffRoomCache %}
                                {% set cell = true %}
                            {% endif %}

                            {% if categoryId == 'rooms' %}
                                {% if roomCache %}
                                    {% set error = roomCache.leftRooms > 0 and roomCache.isClosed is empty ? false : true %}
                                {% endif %}
                            {% elseif categoryId == 'tariff_rooms' %}
                                {% if tariffRoomCache %}
                                    {% set error = tariffRoomCache.leftRooms > 0 ? false : true %}
                                {% else %}
                                    {% set error = false %}
                                {% endif %}
                            {% elseif categoryId == 'prices' %}
                                {% set error = priceCache and priceCache.price ? false : true %}
                            {% elseif categoryId == 'restrictions' %}
                                {% set error = restriction and restriction.closed ? true : false %}
                            {% endif %}

                            <td class="content {{ date|date('N') >= 6 ? 'weekend'}} {{ error and cell ? 'alert'}}" data-id="{{ roomType.id }}_{{ tariff.id }}_{{ date|date('d.m.Y') }}">
                                {% if cell %}
                                    <small class="{{ error is empty ? 'opacity-md'}}"><i class="fa {{ error is empty ? 'fa-check text-success' : 'fa-times text-danger fa-lg'}}"></i></small>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    
    {% if channelManager|length %}
    {% set categories = {
        'prices': 'prices',
        'restrictions': 'restrictions',
    }%}
    <table id="channelmanager-overview-table" class="table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid">
        <tbody>
        {% for service in channelManager %}
        {% set period = service.period %}
        <tr class="mbh-grid-header1 info">
            <td colspan="{{ period|length + 1 }}"><strong>{{ service.name }}</strong></td>
        </tr>
        <tr class="header">
            <td class="first-th"></td>
            {% for date in period %}
                <td {% if date|date('N') >= 6 %}class="text-danger"{% endif %}>{{ date|mbh_format }}</td>
            {% endfor %}
        </tr>

        {% for category in categories %}
        <tr>
            <td class="first-td"><small>{{ category|trans }}</small></td>
            {% for date in period %}
                {% set error = attribute(service, category, [date])  %}
                <td class="content {{ date|date('N') >= 6 ? 'weekend'}} {{ error ? 'alert'}}" data-id="{{ date|date('d.m.Y') }}">
                    <small class="{{ error is empty ? 'opacity-md'}}"><i {% if error is not empty %}title="{% for e in error %}{{ e.message }}<br>{% endfor %}" data-toggle='tooltip' data-html="true" data-placement="top" {% endif %} class="fa {{ error is empty ? 'fa-check text-success' : 'fa-question text-danger fa-lg'}}"></i></small>
                </td>
            {% endfor %}
        </tr> 
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
