{% set roomType = onlineResult.roomType %}
{% import '@MBHOnlineBooking/Default/search.html.twig' as macro %}
<section class="s_results">
    <div class="oneblockinrdm room-type-row {% block add %}{% endblock %}"
         data-roomtype="{{ roomType.id }}"
         {% block data_row %}
         {% endblock %}
    >
        <div class="leftrdm">
            <div class="imghotel"
                 style="{% if onlineResult.mainimage %}background:url('{{ absolute_url(asset(onlineResult.mainimage.path|imagine_filter('thumb_275x210'))) }}')no-repeat;background-size:cover;{% endif %}"
            >
                {% block redbox %}
                <p class="special-strip">
                    {% block redbox_message %}
                    {% endblock %}
                </p>
                {% endblock %}
                <div class="inghotelline">

                    {% for image in onlineResult.images.images %}
                        {% if loop.first and not image.isMain %}
                            {{ macro.drawimage(onlineResult.mainimage, loop) }}
                            {{ macro.drawimage(image, loop) }}
                        {% elseif not loop.first and image.isMain %}
                        {% else %}
                            {{ macro.drawimage(image, loop) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="rightrdm">
            <div class="leftinrdm">
                <p class="titlerdm">
                    {% if hotelsLinks is defined and roomType.hotel.id in hotelsLinks|keys %}
                        {% set link = hotelsLinks[roomType.hotel.id] %}
                        <a href="{{ link.url }}" class="hotel_link" target="_blank">
                            {{ roomType.hotel.fullTitle }}
                        </a>
                    {% else %}
                        {{ roomType.hotel.fullTitle }}
                    {% endif %}
                    &nbsp;</p>
                <p class="numtype"><b>Тип номера:</b><br>
                    {% if roomType.category.descriptionurl is defined and roomType.category.descriptionurl is not empty %}
                        <a class="room_link" href="{{ roomType.category.descriptionUrl }}"
                           target="_blank">{{ roomType.category.name }}</a>
                    {% elseif roomType.descriptionurl is defined and roomType.descriptionurl is not empty  %}
                        <a class="room_link" href="{{ roomType.descriptionUrl }}"
                           target="_blank">{{ roomType.name }}</a>
                    {% else %}
                        {{ roomType.category.fullTitle??roomType.fullTitle }}
                    {% endif %}
                </p>
                <p class="gueststype">
                    <b>Гости:</b>
                    {{ onlineResult.query.adults }} взр.
                    {% if onlineResult.query.children %}
                    {{ onlineResult.query.children }} {{ 'children'|transchoice(onlineResult.query.children) }}
                    {% endif %}
                </p>
                {% if hotelsLinks is defined and roomType.hotel.id in hotelsLinks|keys %}
                    {% if hotelsLinks[roomType.hotel.id].eat is defined %}
                        {% set eat = hotelsLinks[roomType.hotel.id].eat %}
                        <a href="{{ eat.url }}" class="eat_link" target="_blank">
                            <p class="eattype"><img src="/images/vl.png" alt=""> {{ eat.number }}-разовое питание<br>шведский стол</p>
                        </a>
                    {% endif %}
                {% else %}
                    <img src="/images/vl.png" alt=""> 3-разовое питание<br>шведский стол</p>
                {% endif %}
                <div class="iconstype">
                    {% for facility in (onlineResult.isCategory?onlineResult.roomType.types|first:onlineResult.roomType).facilities %}
                        <i class="fa fa-2x mbf-{{ facility }}" title="{{ facility|trans }}"></i>
                    {% endfor %}
                </div>
            </div>
            <div class="rightinrdm">
                <p class="titlerdm">Цена за {{ onlineResult.firstResult.nights }} {{ 'nights'|transchoice(onlineResult.firstResult.nights) }}</p>
                <div class="clear"></div>
                <p class="pricerdm">
                    {% block prices %}
                        {% set prices = onlineResult.getPrices %}
                        <span class="noneprice">
                            {% block oldPrice %}
                                {% if prices.old %}
                                    {{ prices.old|number_format(0, thousandSep=' ') }}
                                {% endif %}
                            {% endblock %}
                        </span>
                    {% if prices.old %}
                        &#8381;
                    {% endif %}
                    {% block newPrice %}
                        <span class="newprice">{{ prices.new|number_format(0, thousandSep=' ') }}&#8381;</span></p>
                    {% endblock newPrice %}
                    {% endblock prices %}
                <p class="datesrdm">{{ onlineResult.dates.begin|date("d.m.Y") }} - {{ onlineResult.dates.end|date("d.m.Y") }}</p>
                <p class="daysrdm">{{ onlineResult.firstResult.days }} {{ 'days'|transchoice(onlineResult.firstResult.days) }} / {{ onlineResult.firstResult.nights }} {{ 'nights'|transchoice(onlineResult.firstResult.nights) }}</p>
                {#{% block remain %}#}
                    {#{% set left_rooms = onlineResult.leftSale %}#}
                    {#<p class="lastrdm">{{ 'left'|transchoice(left_rooms) }} {{ left_rooms }} {{ 'leftroom'|transchoice(left_rooms) }}</p>#}
                {#{% endblock remain %}#}
                <p class="bronsrdm"></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="lefttblrdm">
            <table class="pricetbl">
                <thead>
                <tr class="flinetbl">
                    <td>Тариф</td>
                    <td>Скидка</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="tariff-container">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw tariff-spinner"></i>
                <span class="sr-only">Loading...</span>
                {% for tariffResult in onlineResult.results %}
                    <tr
                            class="tariff-row"
                            data-tariff="{{ tariffResult.tariff.id }}"
                            data-roomtype="{{ tariffResult.roomType.id }}"
                            data-adults="{{ tariffResult.adults }}"
                            data-children="{{ tariffResult.children }}"
                            data-begin="{{ tariffResult.begin|date('d.m.Y') }}"
                            data-end="{{ tariffResult.end|date('d.m.Y') }}"
                            data-payment_type="{{ tariffResult.tariff.paymentType }}"
                            {% block data_url %}
                            data-url="{{ requestSearchUrl }}?step=2&form[adults]={{ onlineResult.query.adults }}&form[children]={{ onlineResult.query.children }}{% for childrenAge in onlineResult.query.childrenAges %}&form[childrenAges][]={{ childrenAge }}{% endfor %}&form[begin]={{ tariffResult.begin|date('d.m.Y') }}&form[end]={{ tariffResult.end|date('d.m.Y') }}&form[roomType]={{ tariffResult.roomType.id }}&form[tariff]={{ tariffResult.tariff.id }}&form[total]={{ tariffResult.getPrice(tariffResult.adults, tariffResult.children) }}&form[infants]={{ tariffResult.infants }}&form[paymentType]={{ tariffResult.tariff.paymentType }}&form[savedQueryId]={{ onlineResult.queryId }}"
                            {% endblock %}

                    >
                        <td>{% block tariffName %}{{ show_merged_tariff(tariffResult.packagePrices(tariffResult.adults, tariffResult.children)) }}{% endblock %}</td>
                        <td class="redtd">{% block discount %}{% endblock %}</td>
                        <td>{{ tariffResult.getPrice(tariffResult.adults, tariffResult.children)|round }}&#8381;</td>
                        <td><input name="booking-{{ tariffResult.roomType.id }}-{{ onlineResult.dates.begin|date("d_m_Y") ~ "_" ~ onlineResult.dates.end|date("d_m_Y") }}{% if special is defined and special is not empty %}-{{ special.id }}{% endif %}" type="radio" {% if loop.first %}checked="checked"{% endif %}></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="righttblrdm">
            <div class="spros">Пользуется спросом!</div>
            <a href="javascript:void(0)" class="btn-booking-reservation"><p class="btmone btmonenotspec">Отправить заявку</p></a>
            <a href="javascript:void(0)" class="btn-booking"><p class="btmtwo">Купить онлайн</p></a>
            {% block anotherSpec %}
            {% endblock %}
            {% if showAll is defined and showAll %}
                <a href="javascript:void(0)" class="btn-booking-all"><p class="btmthree">Показать всё</p></a>
            {% endif %}

        </div>
        <div class="clear"></div>
    </div>
</section>
