{% extends 'MBHPackageBundle:Documents/pdfTemplates:layout.html.twig' %}
{% block document %}
    <style>
        /* Header */
        .header .title {
            float: left; padding-top: 20px
        }
        .header .title h2 {
            margin: 5px 0
        }
        .header .logo {
            float: right
        }
        .header .logo img{
            height: 80px; max-width: 200px;
        }

        .main{
            padding-top: 20px;
        }

        .main th {
            text-align: center;
        }
        .services {
            margin-top: 10px;
        }
        .services td {
            padding: 3px;
        }
    </style>
    <!-- Header -->
    {% set hotel = null %}
    {% if entity.roomType and entity.roomType.hotel %}
        {% set hotel = entity.roomType.hotel %}
    {% endif %}

    <div class="header">
        <div class="title">
            <h2>Акт № {{ entity.numberWithPrefix }} от {{ 'now'|date('d.m.Y') }}.</h2>
        </div>
        {% if hotel and hotel.logoUrl %}
            <div class="logo">
                <img src="{{ asset(hotel.logoUrl, absolute=true) }}">
            </div>
        {% endif %}
        <div style="clear: both"></div>
    </div>
    <hr>


    <div class="main">
        <table border="0" width="100%">
            <tr>
                <td width="15%">{{ "package.pdf.executor"|trans({}, "MBHPackageBundle") }}</td>
                <td width="85%">{% if hotel and hotel.organization %} <strong>{{ hotel.organization.name }}</strong> {% else %} _____________________________ {% endif %}</td>
            </tr>
            <tr>
                <td>{{ "package.pdf.customer"|trans({}, "MBHPackageBundle") }} </td>
                <td><strong>{{ entity.order.mainTourist.fullName|default( "package.pdf.not_specified"|trans({}, "MBHPackageBundle")) }}</strong></td>
            </tr>
        </table>

        <!-- Services -->
        <table border="1" width="100%" cellpadding="0" cellspacing="0" class="services">
            <thead>
            <tr>
                <th style="width: 30px;">№</th>
                <th style="width: 200px;">{{ "package.pdf.services_name"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 30px;">{{ "package.pdf.amount"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 30px;">{{ "package.pdf.unit"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 100px;">{{ "package.pdf.price"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 100px;">{{ "package.pdf.sum"|trans({}, "MBHPackageBundle") }}</th>
            </tr>
            </thead>
            <tbody>

            {% if formParams.hasFull is defined and formParams.hasFull %}
                {% set packages = entity.order.packages %}
            {% else %}
                {% set packages = [entity] %}
            {% endif %}

            {% set counter = 0 %}
            {% for package in packages %}
                {% for date,data in package.pricesByDateByPrice %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td align="center">{{ counter }}</td>
                        <td>
                            {{ "package.pdf.hotel_accommodation"|trans({}, "MBHPackageBundle") }} {{ date|replace('_', '.') }}
                            {% if package.roomType and package.roomType.fullTitle %}
                                ({{ package.roomType.fullTitle }})
                            {% endif %}
                        </td>
                        <td align="center">{{ data.nights }}</td>
                        <td align="center">{{ "package.pdf.noch"|trans({}, "MBHPackageBundle") }}</td>
                        <td align="right">{{ data.price|number_format(2) }}</td>
                        <td align="right">{{ (data.nights * data.price)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

            {% if formParams.hasFull is defined and formParams.hasFull %}
                {% set packages = entity.order.packages %}
            {% else %}
                {% set packages = [entity] %}
            {% endif %}

            {% if formParams.hasServices is defined and formParams.hasServices %}
                {% for serviceGroup in packageServicesByType %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td align="center">{{ counter }}</td>
                        <td>{{ serviceGroup.byService.name }}</td>
                        <td align="center">{{ serviceGroup.actuallyAmount }}</td>
                        <td align="center">шт.</td>
                        <td align="right">{{ serviceGroup.price|number_format(2) }}</td>
                        <td align="right">{{ serviceGroup.total|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <!-- Total -->
        <table border="0" width="100%">
            <tr>
                <td align="right"><strong>Итого:</strong></td>
                <td align="right" style="width: 100px;"><strong>{{ total|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td align="right"><strong>В том числе НДС:</strong></td>
                <td align="right"><strong>0</strong></td>
            </tr>
        </table>

        <p>Всего оказано услуг {{ counter }}, на сумму {{ total|number_format(2) }} {{ currency().text }}<br>
            <strong>{{ total|num2str|capitalize }}</strong></p>

        <p>{{ "package.pdf.conditions"|trans({}, "MBHPackageBundle") }}</p>

        <!-- footer -->
        <table border="0" class="footer" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top" style="border-bottom: 1px solid #000; height: 120px; width: 40%;">
                    <h3>{{ "package.pdf.executor_caps"|trans({}, "MBHPackageBundle") }}</h3>
                </td>
                <td style="height: 120px; width: 20%;"></td>
                <td valign="top" style="border-bottom: 1px solid #000; height: 120px; width: 40%">
                    <h3>{{ "package.pdf.customer_caps"|trans({}, "MBHPackageBundle") }}</h3>
                </td>
            </tr>
            <tr>
                <td align="center">
                    {% if hotel and hotel.organization %}{{ hotel.organization.directorFio }}{% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

        {% if formParams.hasStamp is defined and formParams.hasStamp and hotel.organization.stamp %}
            <img style="position: relative; top: -100px; left: 0px; width: 400px;  height: 200px" src="{{ hotel.organization.stamp }}">
        {% endif %}

        <style>
            .signatures {
                border: 0;
                width: 100%;
            }

            .signatures .area{
                border-bottom: 1px solid #000;
                height: 80px;
            }
        </style>
    </div>
{% endblock %}



