{% extends 'MBHPackageBundle:Documents/pdfTemplates:layout.html.twig' %}
{% block document %}
    <style>
        /* Header */
        .header .title {
            float: left;
            padding-top: 20px;
            width: 500px;
        }
        .header .title h2 {
            margin: 5px 0
        }
        .header .logo {
            float: right
        }
        .header .logo img{
            height: 80px; max-width: 200px;
        }

        .main{
            padding-top: 20px;
        }

        .main th {
            text-align: center;
        }
        .services {
            margin-top: 10px;
        }
        .services td {
            padding: 3px;
        }
    </style>
    <!-- Header -->
    {% set hotel = null %}
    {% if entity.roomType and entity.roomType.hotel %}
        {% set hotel = entity.roomType.hotel %}
    {% endif %}

    <div class="header">
        <div class="title">
            <h2>Счёт № {{ entity.numberWithPrefix }} от {{ 'now'|date('d.m.Y H:i') }}.</h2>
        </div>
        {% if hotel and hotel.logoUrl %}
            <div class="logo">
                <img src="{{ asset(hotel.logoUrl, absolute=true) }}">
            </div>
        {% endif %}
        <div style="clear: both"></div>
    </div>
    <hr>


    <div class="main">
        <table border="0" width="100%">
            <tr>
                <td width="15%">{{ "package.pdf.executor"|trans({}, "MBHPackageBundle") }}</td>
                <td width="85%">
                    Отель {% if hotel and hotel.name %}<strong>"{{ hotel.name }}"</strong>{% else %}____________________{% endif %},
                    адрес: {% if hotel and hotel.country and hotel.city and hotel.street %}
                    {{ hotel.country.title }}, {% if hotel.region %}{{ hotel.region.title }},{% endif %} г. {{ hotel.city.title }}{% if hotel.settlement %}, {{ hotel.settlement }}{% endif %}, {{ hotel.street }},
                    {% if hotel.house %} д. {{ hotel.house }}{% endif %}{% if hotel.corpus %}, кор. {{ hotel.corpus }}{% endif %}{% if hotel.flat %}, кв. {{ hotel.flat }}{% endif %}{% else %}_________________________________________{% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ "package.pdf.customer"|trans({}, "MBHPackageBundle") }} </td>
                <td><strong>{{ entity.order.mainTourist.fullName|default( "package.pdf.not_specified"|trans({}, "MBHPackageBundle")) }}</strong></td>
            </tr>
        </table>

        <!-- Services -->
        <table border="1" width="100%" cellpadding="0" cellspacing="0" class="services">
            <thead>
            <tr>
                <th style="width: 30px;">№</th>
                <th style="width: 200px;">{{ "package.pdf.services_name"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 30px;">{{ "package.pdf.amount"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 30px;">{{ "package.pdf.unit"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 100px;">{{ "package.pdf.price"|trans({}, "MBHPackageBundle") }}</th>
                <th style="width: 100px;">{{ "package.pdf.sum"|trans({}, "MBHPackageBundle") }}</th>
            </tr>
            </thead>
            <tbody>

            {% set packages = entity.order.packages %}

            {% set counter = 0 %}
            {% for package in packages %}
                {% for date,data in package.pricesByDateByPrice %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td align="center">{{ counter }}</td>
                        <td>
                            {{ "package.pdf.hotel_accommodation"|trans({}, "MBHPackageBundle") }} {{ date|replace('_', '.') }}
                            {% if package.roomType and package.roomType.fullTitle %}
                                ({{ package.roomType.fullTitle }})
                            {% endif %}
                        </td>
                        <td align="center">{{ data.nights }}</td>
                        <td align="center">{{ "package.pdf.noch"|trans({}, "MBHPackageBundle") }}</td>
                        <td align="right">{{ data.price|number_format(2) }}</td>
                        <td align="right">{{ (data.nights * data.price)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

            {% for serviceGroup in packageServicesByType %}
                {% set counter = counter + 1 %}
                <tr>
                    <td align="center">{{ counter }}</td>
                    <td>{{ serviceGroup.byService.name }}</td>
                    <td align="center">{{ serviceGroup.actuallyAmount }}</td>
                    <td align="center">шт.</td>
                    <td align="right">{{ serviceGroup.price|number_format(2) }}</td>
                    <td align="right">{{ serviceGroup.total|number_format(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Total -->
        <table border="0" width="100%">
            <tr>
                <td align="right"><strong>Заказано:</strong></td>
                <td align="right" style="width: 120px;"><strong>{{ total|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="right"><strong>К оплате:</strong></td>
                <td align="right" style="width: 120px;"><strong>{{ (total * percents / 100)|number_format(2) }}</strong></td>
            </tr>
        </table>
    </div>
{% endblock %}



