<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Pdf</title>
    <style type="text/css">
        body {
            font-family: "Open Sans"; /*Arial*/
            font-size: 16px;
        }
        table { page-break-inside:auto }
        tr    { page-break-inside:avoid; page-break-after:auto }
        thead { display:table-header-group;}
        tfoot { display:table-footer-group }
        .document {
            padding-top: 0px;
            width: 900px;
            margin: 0 auto;
        }

        .ib {
            display: inline-block;
        }

        .area {
            border-bottom: solid #000000 1px;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .center {
            text-align: center;
        }

        .indent {
            text-indent: 1.5em;
        }

        .upper {
            text-transform: uppercase;
        }
        .header .title {
            float: left;
            padding-top: 10px;
            width: 90%;
        }

        .header .title p {
            font-weight: bold;
            font-size: 22px
        }

        .header .logo {
            float: right;
            width: 10%;
        }

        .header .logo img {
            height: 80px;
            max-width: 200px;
        }

        .main {
            padding-top: 20px;
        }

        .table {
            margin: 10px 0px 10px 0px;
            width: 100%;
        }

        .table td {
            padding: 3px;
        }
        .ta table {
            margin-left: 1.5em;
            width: 890px;
        }
        .signatures {
            border: 0;
            width: 100%;
        }

        .signatures .area {
            border-bottom: 1px solid #000;
            height: 80px;
        }

        .services {
            margin-top: 10px;
            border-collapse: collapse;
        }

        .services th,
        .services td {
            border: 1px solid black;
        }
        .services td {
            padding: 3px;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
</head>
<body>

{% set hotel = null %}
{% set tourist = null %}
{% set documentRelation = null %}

{% if package.roomType and package.roomType.hotel %}
    {% set hotel = package.roomType.hotel %}
{% endif %}

{% if package.order and package.order.mainTourist %}
    {% set tourist = package.order.mainTourist %}
{% endif %}

{% if tourist and tourist.documentRelation %}
    {% set documentRelation = tourist.documentRelation %}
{% endif %}

<div class="header">
    <div class="title">
        <p>
            {{ 'mbhpackagebundle.view.documents.pdftemplates.podtverzhdenie'|trans }}
            {{ 'mbhpackagebundle.view.documents.pdftemplates.zakaza'|trans }} № {{ package.order.id }} {{ 'mbhpackagebundle.view.documents.pdftemplates.ot'|trans }} {{ package.order.createdAt|date("d.m.Y") }} {{ 'mbhpackagebundle.view.documents.pdftemplates.g'|trans }}.
        </p>
    </div>
    {% if hotel and hotel.logoImage %}
        <div class="logo">
            <img src="{{ absolute_url(asset(vich_uploader_asset(hotel.logoImage, 'imageFile')|imagine_filter('scaler'))) }}">
        </div>
    {% endif %}
    <div style="clear: both"></div>
</div>

<hr>

<div class="main">
    <p class="indent">
        <strong>{{ package.address.name }}</strong>, {{ "package.pdf.with_an_address"|trans({}, "MBHPackageBundle") }}
        {{ "package.pdf.address"|trans({}, "MBHPackageBundle") }}
        : {% if package.address and package.address.countryTld and package.address.cityId and package.address.street %}
        {{ get_country(package.address.countryTld).name }}, {% if package.address.regionId %}{{ get_region(package.address.regionId).name }},{% endif %} {{ "package.pdf.short_city_extend"|trans({}, "MBHPackageBundle") }}. {{ get_city(package.address.cityId).name}}{% if package.address.settlement is defined %}, {{ package.address.settlement }}{% endif %}, {{ "package.pdf.short_street_extend"|trans({}, "MBHPackageBundle") }}. {{ package.address.street }},
        {% if package.address.house %} {{ "package.pdf.short_home_extend"|trans({}, "MBHPackageBundle") }}. {{ package.address.house }}{% endif %}{% if package.address.corpus %}, {{ "package.pdf.short_housing_extend"|trans({}, "MBHPackageBundle") }}. {{ package.address.corpus }}{% endif %}{% if package.address.flat %}, {{ "package.pdf.short_apartment_extend"|trans({}, "MBHPackageBundle") }}. {{ package.address.flat }}{% endif %}{% else %}_________________________________________{% endif %}
        ,
        {{ "package.pdf.inn"|trans({}, "MBHPackageBundle") }} {% if package.address.inn is defined %}{{ package.address.inn }}{% else %}________________________{% endif %}
        , {{ "package.pdf.notifies_customers"|trans({}, "MBHPackageBundle") }}
    </p>

    <div class="ta">
        <table border="0">
            <tbody>
            <tr>
                <td style="width: 40px">{{ 'mbhpackagebundle.view.documents.pdftemplates.fio'|trans }}.</td>
                <td style="width: 60%;" class="area">
                    <div>{% if tourist %}{{ tourist.fullName }}{% endif %}</div>
                </td>
                <td style="width: 130px">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.data.rozhdeniya'|trans }} </td>
                <td class="area">
                    <div>
                        {% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</div>
                </td>
            </tr>
            </tbody>
        </table>
        <table border="0">
            <tbody>
            <tr>
                <td style="width: 20px">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.adres'|trans }} </td>
                <td class="area">
                    <div>
                        {% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.countryTld and tourist.addressObjectDecomposed.regionId %}
                            {{ get_country(tourist.addressObjectDecomposed.countryTld).name }}, {{ get_region(tourist.addressObjectDecomposed.regionId).name }}{% if tourist.addressObjectDecomposed.city %}, {{ 'mbhpackagebundle.view.documents.pdftemplates.g'|trans }}. {{ tourist.addressObjectDecomposed.city }}{% endif %}{% if tourist.addressObjectDecomposed.street %}, {{ 'mbhpackagebundle.view.documents.pdftemplates.ul'|trans }}. {{ tourist.addressObjectDecomposed.street }}{% endif %}{% if tourist.addressObjectDecomposed.house %},
                            {{ 'mbhpackagebundle.view.documents.pdftemplates.d'|trans }}. {{ tourist.addressObjectDecomposed.house }}{% if tourist.addressObjectDecomposed.corpus %}, {{ 'mbhpackagebundle.view.documents.pdftemplates.kor'|trans }}. {{ tourist.addressObjectDecomposed.corpus }}{% endif %}{% if tourist.addressObjectDecomposed.flat %}, {{ 'mbhpackagebundle.view.documents.pdftemplates.kv'|trans }}. {{ tourist.addressObjectDecomposed.flat }}{% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table border="0">
            <tbody>
            <tr>
                <td>{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.tip.dokumenta'|trans }} </td>
                <td style="width: 45%" class="area">
                    <div>
                        {% if documentRelation and documentRelation.type %}{{ documentTypes[documentRelation.type] }}{% endif %}</div>
                </td>

                <td>{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.seriya'|trans }} </td>
                <td style="width: 15%" class="area">
                    <div>
                        {% if documentRelation and documentRelation.series %}{{ documentRelation.series }}{% endif %}</div>
                </td>

                <td>№</td>
                <td style="width: 15%" class="area">
                    <div>
                        {% if documentRelation and documentRelation.number %}{{ documentRelation.number }}{% endif %}</div>
                </td>
            </tr>
            </tbody>
        </table>
        <table border="0">
            <tbody>
            <tr>
                <td style="width: 50px">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.vydan'|trans }} </td>
                <td class="area">
                    <div>
                        
                        {% if documentRelation and documentRelation.authority is defined %}
                            {{ documentRelation.authority }}
                            {% if documentRelation and documentRelation.issued %},
                             {{ documentRelation.issued|date('d.m.Y') }}
                             {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>
        {{ 'mbhpackagebundle.view.documents.pdftemplates.o_nizhesleduushem'|trans }}:
    </p>
    <p>
        {{ 'mbhpackagebundle.view.documents.pdftemplates.otel_garantirovanno_broniruet_dlia_zakazchika_sleduushie_uslugi'|trans }}
        :
    </p>

    <!-- Services -->
    <table width="100%" cellpadding="0" cellspacing="0" class="services">
        <thead>
        <tr>
            <th style="width: 30px;">№</th>
            <th style="width: 200px;">{{ "package.pdf.services_name"|trans({}, "MBHPackageBundle") }}</th>
            <th style="width: 30px;">{{ "package.pdf.amount"|trans({}, "MBHPackageBundle") }}</th>
            <th style="width: 30px;">{{ "package.pdf.unit"|trans({}, "MBHPackageBundle") }}</th>
            <th style="width: 80px;">{{ "package.pdf.price"|trans({}, "MBHPackageBundle") }}</th>
            <th style="width: 30px;">Скидка</th>
            <th style="width: 90px;">{{ "package.pdf.sum"|trans({}, "MBHPackageBundle") }}</th>
        </tr>
        </thead>
        <tbody>

        {% set packages = package.order.packages %}

        {% set counter = 0 %}
        {% set newPackages = false %}
        {% set countData = 0 %}
        {% for package in packages %}
            {% set newPackages = true %}
            {% for date,data in package.pricesByDateByPrice %}
                {% set counter = counter + 1 %}
                {% set countData = countData + 1 %}
                <tr>
                    <td align="center">{{ counter }}</td>
                    <td>
                        {{ "package.pdf.hotel_accommodation"|trans({}, "MBHPackageBundle") }} {{ date }}
                        {% if package.roomType and package.roomType.fullTitle %}
                            ({{ package.roomType.fullTitle }})
                        {% endif %}
                    </td>
                    <td align="center">{{ data.nights }}</td>
                    <td align="center">{{ "package.pdf.night"|trans({}, "MBHPackageBundle") }}</td>
                    <td align="right">{{ data.fullPrice != false ? data.fullPrice|number_format(2) : '' }}</td>
                    {% if newPackages and countData == 1 %}
                        <td rowspan="{{ package.pricesByDateByPrice|length }}" align="right">
                            {{ package.discount }}{{ package.getIsPercentDiscount ? '%' }}
                        </td>
                        <td rowspan="{{ package.pricesByDateByPrice|length }}" align="right">{{ package.getPackagePrice(true) }}</td>
                    {% endif %}

                </tr>
            {% endfor %}
            {% set newPackages = false %}
            {% set countData = 0 %}
        {% endfor %}

        {% for serviceGroup in packageServicesByType %}
            {% set counter = counter + 1 %}
            <tr>
                <td align="center">{{ counter }}</td>
                <td>{{ serviceGroup.byService.name }}</td>
                <td align="center">{{ serviceGroup.actuallyAmount }}</td>
                <td align="center">{{ 'mbhpackagebundle.view.documents.pdftemplates.ht'|trans }}.</td>
                <td align="right">{{ serviceGroup.price|number_format(2) }}</td>
                <td align="right"></td>
                <td align="right">{{ serviceGroup.total|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table border="0" width="100%">
        <tr>
            <td align="right"><strong>{{ 'mbhpackagebundle.view.documents.pdftemplates.itogo'|trans }}:</strong></td>
            <td align="right" style="width: 100px;"><strong>{{ total|number_format(2) }}</strong></td>
        </tr>
        <tr>
            <td align="right"><strong>{{ 'mbhpackagebundle.view.documents.pdftemplates.v_tom_chisle_nds'|trans }}
                    :</strong></td>
            <td align="right"><strong>{{ (total * 0.18)|number_format(2) }}</strong></td>
        </tr>
    </table>

    <p>{{ 'mbhpackagebundle.view.documents.pdftemplates.vsego_okazano_uslug'|trans }} {{ package.services|length + packages|length }}
        , {{ 'mbhpackagebundle.view.documents.pdftemplates.na_summu'|trans }} {{ total|number_format(2) }} {{ currency().text|trans }}
        <br>
        <strong>{{ total|num2str|capitalize }}</strong>
    </p>

    <p>
        {{ 'mbhpackagebundle.view.documents.pdftemplates.primechanie_v_sluchae_nesvoevremennogo_otkaza_etc'|trans }}
    </p>

    <table class="signatures" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 40%">
                <h3>{{ 'mbhpackagebundle.view.documents.pdftemplates.otel'|trans }}</h3>
                <div class="area"></div>
            </td>
            <td style="width: 20%"></td>
            <td style="width: 40%">
                <h3>{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.zakazchik'|trans }} </h3>
                <div class="area"></div>
            </td>
        </tr>
        <tr>
            <td align="center">
                {% if hotel and hotel.organization %}{{ hotel.organization.directorFio }}{% endif %}
            </td>
            <td></td>
            <td align="center">
                {% if tourist %}{{ tourist.lastNameWithInitials }}{% endif %}
            </td>
        </tr>
    </table>


    {#{% if hotel.organization and hotel.organization.stamp %}#}
        {#<img style="position: relative; top: -100px; left: 0px; width: 400px;  height: 200px"#}
             {#src="{{ hotel.organization.stamp }}">#}
    {#{% endif %}#}

</div>
</div>
</body>
</html>