{% extends 'MBHPackageBundle:Documents/pdfTemplates:layout.html.twig' %}
{% block document %}
    {% set hotel = null %}
    {% set tourist = null %}
    {% set documentRelation = null %}

    {% if entity.roomType and entity.roomType.hotel %}
        {% set hotel = entity.roomType.hotel %}
    {% endif %}

    {% if entity.order and entity.order.mainTourist %}
        {% set tourist = entity.order.mainTourist %}
    {% endif %}

    {% if tourist and tourist.documentRelation %}
        {% set documentRelation = tourist.documentRelation %}
    {% endif %}

    <style>
        /* Header */
        .header .title {
            float: left;
            padding-top: 10px;
            width:90%;
        }
        .header .title p {
            font-weight: bold;
            font-size: 22px
        }
        .header .logo {
            float: right;
            width:10%;
        }
        .header .logo img{
            height: 80px; max-width: 200px;
        }

        .main{
            padding-top: 20px;
        }
        .table {
            margin: 10px 0px 10px 0px;
            width: 100%;
        }
        .table td {
            padding: 3px;
        }
    </style>

    <div class="header">
        <div class="title">
            <p>
                Подтверждение
                {% if formParams.hasFull is defined and formParams.hasFull %}
                    заказа № {{ entity.order.id }} от {{ entity.order.createdAt|date("d.m.Y") }} г.
                {% else %}
                    брони № {{ entity.numberWithPrefix }} от {{ entity.createdAt|date("d.m.Y") }} г.
                {% endif %}
            </p>
        </div>
        {% if hotel and hotel.logoUrl %}
            <div class="logo">
                <img src="{{ asset(hotel.logoUrl)|imagine_filter('thumb_95x80') }}">
            </div>
        {% endif %}
        <div style="clear: both"></div>
    </div>

    <hr>

    <div class="main">
        <p class="indent">
            <strong>{{ entity.address.name }}</strong>, {{ "package.pdf.with_an_address"|trans({}, "MBHPackageBundle") }}
            {{ "package.pdf.address"|trans({}, "MBHPackageBundle") }}: {% if entity.address and entity.address.country and entity.address.city and entity.address.street %}
            {{ entity.address.country.title }}, {% if entity.address.region %}{{ entity.address.region.title }},{% endif %} {{ "package.pdf.short_city_extend"|trans({}, "MBHPackageBundle") }}. {{ entity.address.city.title }}{% if entity.address.settlement is defined %}, {{ entity.address.settlement }}{% endif %}, {{ "package.pdf.short_street_extend"|trans({}, "MBHPackageBundle") }}. {{ entity.address.street }},
            {% if entity.address.house %} {{ "package.pdf.short_home_extend"|trans({}, "MBHPackageBundle") }}. {{ entity.address.house }}{% endif %}{% if entity.address.corpus %}, {{ "package.pdf.short_housing_extend"|trans({}, "MBHPackageBundle") }}. {{ entity.address.corpus }}{% endif %}{% if entity.address.flat %}, {{ "package.pdf.short_apartment_extend"|trans({}, "MBHPackageBundle") }}. {{ entity.address.flat }}{% endif %}{% else %}_________________________________________{% endif %},
            {{ "package.pdf.inn"|trans({}, "MBHPackageBundle") }} {% if entity.address.inn is defined %}{{ entity.address.inn }}{% else %}________________________{% endif %}, {{ "package.pdf.notifies_customers"|trans({}, "MBHPackageBundle") }}
        </p>
        <style>
            .ta table {
                margin-left: 1.5em; width: 890px;
            }
        </style>
        <div class="ta">
            <table border="0">
                <tbody>
                <tr>
                    <td style="width: 40px">Ф.И.О.</td>
                    <td style="width: 60%;">
                        <div class="area">&nbsp{% if tourist %}{{ tourist.fullName }}{% endif %}</div>
                    </td>
                    <td style="width: 130px">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.data.rozhdeniya'|trans }} </td>
                    <td><div class="area">&nbsp{% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</div></td>
                </tr>
                </tbody>
            </table>
            <table border="0">
                <tbody>
                <tr>
                    <td style="width: 20px">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.adres'|trans }} </td>
                    <td>
                        <div class="area">&nbsp
                            {% if tourist and tourist.addressObjectDecomposed %}
                                {{ tourist.addressObjectDecomposed.country }}, {{ tourist.addressObjectDecomposed.region }}{% if tourist.addressObjectDecomposed.city %}, г. {{ tourist.addressObjectDecomposed.city }}{% endif %}{% if tourist.addressObjectDecomposed.street %}, ул. {{ tourist.addressObjectDecomposed.street }}{% endif %}{% if tourist.addressObjectDecomposed.house %},
                                д. {{ tourist.addressObjectDecomposed.house }}{% if tourist.addressObjectDecomposed.corpus %}, кор. {{ tourist.addressObjectDecomposed.corpus }}{% endif %}{% if tourist.addressObjectDecomposed.flat %}, кв. {{ tourist.addressObjectDecomposed.flat }}{% endif %}
                            {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table border="0">
                <tbody>
                <tr>
                    <td>{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.tip.dokumenta'|trans }} </td>
                    <td style="width: 45%"><div class="area">&nbsp{% if documentRelation and documentRelation.type %}{{ vegaDocumentTypes[documentRelation.type] }}{% endif %}</div></td>

                    <td>{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.seriya'|trans }} </td>
                    <td style="width: 15%"><div class="area">&nbsp{% if documentRelation and documentRelation.series %}{{ documentRelation.series }}{% endif %}</div></td>

                    <td>№</td>
                    <td style="width: 15%"><div class="area">&nbsp{% if documentRelation and documentRelation.number %}{{ documentRelation.number }}{% endif %}</div></td>
                </tr>
                </tbody>
            </table>
            <table border="0">
                <tbody>
                <tr>
                    <td style="width: 50px">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.vydan'|trans }} </td>
                    <td>
                        <div class="area">
                            &nbsp
                            {% if documentRelation and documentRelation.authority %}
                                {{ documentRelation.authority }}{% if documentRelation and documentRelation.issued %},
                                {{ documentRelation.issued|date('d.m.Y') }}
                            {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p>
            о нижеследующем:
        </p>
        <p>
            Отель гарантированно бронирует для Заказчика следующие услуги:
        </p>

        <!-- Services -->
        <table border="1" cellpadding="0" cellspacing="0" class="table">
            <thead>
            <tr>
                <th style="width: 30px;">№</td>
                <th style="width: 100px;">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.naimenovaniye.uslug'|trans }} </th>
                <th style="width: 30px;">{{ "package.pdf.amount"|trans({}, "MBHPackageBundle") }}</td>
                <th style="width: 30px;">{{ "package.pdf.unit"|trans({}, "MBHPackageBundle") }}</td>
                <th style="width: 100px;">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.tsena'|trans }} </td>
                <th style="width: 100px;">{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.summa'|trans }} </td>
            </tr>
            </thead>
            <tbody>
            {% if formParams.hasFull is defined and formParams.hasFull %}
                {% set packages = entity.order.packages %}
            {% else %}
                {% set packages = [entity] %}
            {% endif %}

            {% set counter = 0 %}
            {% for package in packages %}
                {% for date,data in package.pricesByDateByPrice %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td align="center">{{ counter }}</td>
                        <td>
                            {{ "package.pdf.hotel_accommodation"|trans({}, "MBHPackageBundle") }} {{ date|replace('_', '.') }}
                            {% if package.roomType and package.roomType.fullTitle %}
                                ({{ package.roomType.fullTitle }})
                            {% endif %}
                        </td>
                        <td align="center">{{ data.nights }}</td>
                        <td align="center">{{ "package.pdf.night"|trans({}, "MBHPackageBundle") }}</td>
                        <td align="right">{{ data.price|number_format(2) }}</td>
                        <td align="right">{{ (data.nights * data.price)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

            {% if formParams.hasServices is defined and formParams.hasServices %}
                {% for serviceGroup in packageServicesByType %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td align="center">{{ counter }}</td>
                        <td>{{ serviceGroup.byService.fullTitle }}</td>
                        <td align="center">{{ serviceGroup.actuallyAmount }}</td>
                        <td align="center">шт.</td>
                        <td align="right">{{ serviceGroup.price|number_format(2) }}</td>
                        <td align="right">{{ serviceGroup.total|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <table border="0" width="100%">
            <tr>
                <td align="right"><strong>Итого:</strong></td>
                <td align="right" style="width: 100px;"><strong>{{ total|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td align="right"><strong>В том числе НДС:</strong></td>
                <td align="right"><strong>0</strong></td>
            </tr>
        </table>

        <p>Всего заказано услуг {{ entity.services|length + packages|length }}, на сумму {{ total|number_format(2) }} {{ currency().text }}<br>
            <strong>{{ total|num2str|capitalize }}</strong>
        </p>

        <p>
            Примечание: в случае несвоевременного отказа от заказанных услуг, Отель имеет право на удержание компенсации из внесенной предоплаты.
        </p>

        <table class="signatures" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 40%">
                    <h3>Отель</h3>
                    <div class="area"></div>
                </td>
                <td style="width: 20%"></td>
                <td style="width: 40%">
                    <h3>{{ 'mbhpackagebundle.view.documents.pdftemplates.confirmation.zakazchik'|trans }} </h3>
                    <div class="area"></div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    {% if hotel and hotel.organization %}{{ hotel.organization.directorFio }}{% endif %}
                </td>
                <td></td>
                <td align="center">
                    {% if tourist %}{{ tourist.lastNameWithInitials }}{% endif %}
                </td>
            </tr>
        </table>


        {% if formParams.hasStamp is defined and formParams.hasStamp and hotel.organization and hotel.organization.stamp %}
            <img style="position: relative; top: -100px; left: 0px; width: 400px;  height: 200px" src="{{ hotel.organization.stamp }}">
        {% endif %}

        <style>
            .signatures {
                border: 0;
                width: 100%;
            }

            .signatures .area{
                border-bottom: 1px solid #000;
                height: 80px;
            }
        </style>
    </div>
{% endblock %}