<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <style>
        .indent {
            text-indent: 1.5em;
        }

        .document {
            width: 900px;
        }

        .header {
            text-align: center;
        }

        .ib{
            display: inline-block;
        }

        .area {
            border-bottom: solid #000000 1px;
        }

        .date {
            /*float: right;*/
        }

        .upper {
            text-transform: uppercase;
        }
    </style>
</head>
<body>

{% set tourist = entity.order.mainTourist %}

<div class="document">
    <div style="width: 100%;font-weight: bold">
        <div style="float: right;">Форма 3</div>
        <div style="clear: both"></div>
    </div>

    <div class="header">
        <span class="upper">Свидетельство</span> № <strong>{{ entity.number }}{##kart##}</strong> <br>
        о регистрации по месту пребывания
    </div>

    <p>
        <div>
            <div class="ib" style="float: left;width: 60px">
                Выдано &nbsp
            </div>
            <div style="margin-left: 62px;">
                <div class="area">&nbsp{% if tourist %} {{ tourist.name }}
                            {% if tourist.birthplace and tourist.birthplace.country and tourist.birthplace.city %}
                                {{ tourist.birthplace.country ~ ', г.' ~ tourist.birthplace.city ~ ', ' ~ tourist.birthplace.mainRegion }}
                            {% endif %}
                        {% endif %}</div>
                <div style="display: block; font-size: 12px; font-weight: normal;">(Ф.И.О., год и место рождения)</div>
            </div>
            <div style="clear: both "></div>
        </div>

        <div>о том, что он зарегистрирован по месту пребывания по адресу:</div>

    {% set location = '' %}

    {% if entity.accommodation and entity.accommodation.housing and entity.accommodation.housing.city and entity.accommodation.housing.street %}
        {% set location = ' г.' ~ entity.accommodation.housing.city  ~ ', нас.пунк ' ~ entity.accommodation.housing.settlement ~ ' ул.' ~ entity.accommodation.housing.street ~ ' д.' ~ entity.accommodation.housing.house %}
    {% endif %}

    {% if not location and entity.roomType.hotel.city and entity.roomType.hotel.street %}
        {% set location = ' г.' ~ entity.roomType.hotel.city  ~ ', нас.пунк ' ~ entity.roomType.hotel.settlement ~ ', ул.' ~ entity.roomType.hotel.street %}
        {% if entity.roomType.hotel.house %}
            {% set location = location ~ ', д.' ~ entity.roomType.hotel.house %}
            {% if entity.roomType.hotel.corpus %}
                {% set location = location ~ ', кор. ' ~ entity.roomType.hotel.corpus %}
                {% if entity.roomType.hotel.flat %}
                    {% set location = location ~  ', кв. ' ~ entity.roomType.hotel.flat %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

        <div>
            <div class="area"><strong>&nbsp{{ location }}</strong></div>
            <div style="display: block; font-size: 12px; font-weight: normal;">(республика, край, область, округ, район, город, пгт, село,деревня, аул,улица, дом, корпус, квартира)</div>
        </div>

        <div>
            на срок с <strong>&nbsp{% if entity.begin %}{{ entity.begin|date('d.m.Y') }}{% endif %}</strong> г. по <strong>{% if entity.end %}{{ entity.end|date('d.m.Y') }}{% endif %}</strong> г.
        </div>
    </p>

    <div class="indent">
        Свидетельство выдано к документу, удостоверяющему личность
        <br>вид <div class="area ib" style="font-weight: bold; width: 475px">&nbsp{% if tourist and tourist.documentRelation %}{{ vegaDocumentTypes[tourist.documentRelation.type]|capitalize }}{% endif %}</div>,
        серия <div class="area ib" style="font-weight: bold; width: 150px">&nbsp{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.series }}{% endif %}</div>,
        N <div class="area ib" style="font-weight: bold; width: 160px">&nbsp{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.number }}{% endif %}</div>
    </div>

    <div>
        <div class="ib" style="float: left;width: 210px">
            <div style="float: left;width: 95px">дата выдачи</div>
            <div class="area ib" style="width: 100px;font-weight: bold">
                &nbsp{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.issued|date('d.m.Y') }}{% endif %}
            </div>
        </div>
        <div style="margin-left: 202px;">
            <div class="area"><strong>&nbsp{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.authorityOrgan.name }}{% endif %}{##kem##}</strong></div>
            <div style="display: block; font-size: 12px; font-weight: normal;">(наименование органа, учреждения, выдавшего документ)</div>
        </div>
    </div>


    <p>
        <div>Начальник (руководитель) органа регистрационного учета</div>
        <div class="area" style="margin-left: 450px;"></div>
        &nbsp
        <div class="area"></div>
        <div style="text-align: center;">(наименование органа регистрационного учета)</div>
    </p>


    <table style="width: 900px;">
        <tbody>
        <tr>
            <td>
            </td>
            <td style="float: right">
                <div>
                    &nbsp
                    <div class="area" style="width: 200px"></div>
                    <div style="text-align: center;">(подпись)</div>
                </div>
            </td>
            <td style="float: right;">
                <div>
                    &nbsp
                    <div class="area" style="width: 200px;"></div>
                    <div style="text-align: center;">(фамилия)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>М.П.</td>
            <td style="float: right;">
            </td>
            <td style="float: right;">
                "
                <div class="area ib" style="width: 35px;"></div>
                "
                <div class="area ib" style="width: 160px;"></div>
                <div class="area ib" style="width: 50px;"></div>
                г.
            </td>
        </tr>
        </tbody>
    </table>

    <!--
    <div>
        <div style="float:right">
            <div style="display: inline-block">
                &nbsp<div class="area" style="width: 200px"></div>
                Подпись
            </div>
            <div style="display: inline-block">
                &nbsp<div class="area" style="width: 200px;"></div>
                фамилия
            </div>
        </div>

        <div>
            М.П <div class="area" style="width: 40px; display: inline-block"></div>г.
        </div>
    </div>
    -->
</div>
</body>
</html>
