<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Pdf</title>
    <style type="text/css">
        body{
            font-family: "Open Sans"; /*Arial*/
            font-size: 16px;
        }
        .document{
            padding-top: 0px;
            width: 900px;
            margin: 0 auto;
        }
        .ib{
            display: inline-block;
        }
        .area {
            border-bottom: solid #000000 1px;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .center {
            text-align: center;
        }
        .indent {
            text-indent: 1.5em;
        }
        .upper {
            text-transform: uppercase;
        }
        .two-list {
            width: 900px;
            margin-top: 20px;
            border: solid #000000 1px;
        }

        .form {
            float: left;
            border-right: solid #000000 2px;
            width: 448px;
        }

        .form table {
            font-size: 12px;
        }

        .form table .field .title {
            float: left;
            width: 80px;
        }

        .form table td {
            clear: both;
            line-height: 1.3;
        }

        .form table .field .area {
            margin-left: 81px;
        }

        table.main {
            border-collapse: collapse;
        }
        table.main td {
            padding: 1px 0;
        }
        .left-form {
            float: left;
            width: 450px;
        }

        .left-form .block {
            margin: 0 20px;
            border: solid 1px;
            height: 200px;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="document">
    {% set organization = null %}
    {% set tourist = null %}
    {% set hotel = null %}

    {% set arrival = null %}
    {% set departure = null %}

    {% if package.begin %}
        {% set arrival = package.begin|date('d.m.Y') %}
    {% endif %}

    {% if package.end %}
        {% set departure = package.end|date('d.m.Y') %}
    {% endif %}

    {% if package.arrivalTime %}
        {% set arrival = package.arrivalTime|date('d.m.Y') %}
    {% endif %}

    {% if package.departureTime %}
        {% set departure = package.departureTime|date('d.m.Y') %}
    {% endif %}


    {% if package.order and package.order.organization %}
        {% set organization = package.order.organization %}
    {% endif %}

    {% if package.roomType and package.roomType.hotel %}
        {% set hotel = package.roomType.hotel %}
    {% endif %}


    {% for tourist in package.tourists %}
        {% if loop.index != 1 %}
            <div style="page-break-after: always;"></div>
        {% endif %}
        <div>
            <div class="two-list">
                <div class="form">
                    <table style="margin-top:5px;width: 445px" class="center">
                        <tr>
                            <td style="width: 33%"></td>
                            <td style="width: 33%;font-size:16px;">{{ 'mbhpackagebundle.view.documents.pdftemplates.fms_form_5.anketa'|trans }} </td>
                            <td style="width: 33%;font-size:16px;">
                                Форма №5
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top:20px;height: 540px;">
                        <div style="margin: 0px 15px">
                            <div class="field">
                                <div class="area center" style="font-size: 12px; font-weight: bold;">
                                    &nbsp
                                    {{ hotel.name }}
                                </div>
                                <div class="center" style="font-size: 9px">
                                    {{ 'package.resources.views.hotel_name_sanatory'|trans }}
                                </div>
                            </div>

                            <div class="field">
                                <div class="center area" style="margin-top: 6px; font-size: 11px; font-weight: bold;">
                                    &nbsp
                                    {% if package.accommodation and package.accommodation.housing and package.accommodation.housing.cityId and package.accommodation.housing.address %}
                                        {{ get_city(package.accommodation.housing.cityId).name }} {{ package.accommodation.housing.address }}
                                    {% elseif package.roomType.hotel.regionId and package.roomType.hotel.cityId %}
                                        {{ get_region(package.roomType.hotel.regionId).name }}, {{ 'package.resources.views.g'|trans }} {{ get_city(package.roomType.hotel.cityId).name }}{% if package.roomType.hotel.street  %}, {{ package.roomType.hotel.street }}{% endif %}{% if package.roomType.hotel.house %}, {{ 'package.resources.views.d'|trans }} {{ package.roomType.hotel.house }}{% if package.roomType.hotel.house %}{% if package.roomType.hotel.corpus %}, {{ 'package.resources.views.kor'|trans }} {{ package.roomType.hotel.corpus }}{% endif %}{% endif %}{% endif %}
                                    {% endif %}
                                </div>
                                <div class="center" style="font-size: 9px">
                                    {{ 'package.resources.views.adres_region_ltc'|trans }}
                                </div>
                            </div>
                        </div>

                        <table class="main" style="width: 420px; margin: 25px 10px 0">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title">
                                            1. {{ 'package.resources.views.familiya'|trans }}
                                        </div>
                                        <div class="area">&nbsp{% if tourist %}{{ tourist.lastName }}{% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title">
                                            {{ 'package.resources.views.room'|trans }} №
                                        </div>
                                        <div class="area">&nbsp{% if package and package.accommodation %}{{ package.accommodation.fullTitle }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title">
                                            2. {{ 'package.resources.views.name'|trans }}
                                        </div>
                                        <div class="area">&nbsp{% if tourist %}{{ tourist.firstName }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title">
                                            3. {{ 'package.resources.views.secondname'|trans }}
                                        </div>
                                        <div class="area">&nbsp{% if tourist %}{{ tourist.patronymic }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width : 110px;">
                                            4. {{ 'package.resources.views.birthday'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 110px">&nbsp{% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width : 45px;">
                                            5. {{ 'package.resources.views.pol'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 45px;">&nbsp{% if tourist %} {{ ('form.touristType.sex_' ~ tourist.sex)|trans }} {% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width : 130px;">
                                            6. {{ 'package.resources.views.birthday_place'|trans }}
                                        </div>
                                        &nbsp{% if tourist and tourist.birthplace and tourist.birthplace and tourist.birthplace.countryTld %}<!--<div class="area" style="margin-left: 130px">{{ get_country(tourist.birthplace.countryTld).name ~ ' ' ~ tourist.birthplace.city }}</div>-->{% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field" style="margin-left: 30px">
                                        <div class="title" style="width: 70px">
                                            {{ 'package.resources.views.oblast'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace %}{{ tourist.birthplace.mainRegion }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field" style="margin-left: 30px">
                                        <div class="title" style="width: 70px">
                                            {{ 'package.resources.views.raion'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace %}{{ tourist.birthplace.district }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field" style="margin-left: 30px">
                                        <div class="title" style="width: 70px">
                                            {{ 'package.resources.views.city'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace and tourist.birthplace.city %}{{ tourist.birthplace.city}}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field" style="margin-left: 30px">
                                        <div class="title" style="width: 70px">
                                            {{ 'package.resources.views.nas_punkt'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace %}{{ tourist.birthplace.settlement }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 120px">
                                            7. {{ 'package.resources.views.grazhdanstvo'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 121px">&nbsp{{ tourist.citizenshipTld ? get_country(tourist.citizenshipTld).name : '' }}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 280px;">
                                            8. {{ 'package.resources.views.document'|trans }}
                                        </div>
                                        <!--<div class="area" style="margin-left: 240px">&nbsp</div>-->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title"></div>
                                        <div class="area" style="margin-left:0px">&nbsp
                                            {% if tourist and tourist.documentRelation and tourist.documentRelation.type %}
                                                {{ documentTypes[tourist.documentRelation.type] }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 45px">
                                            {{ 'package.resources.views.seria'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 45px">&nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.series }} {% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 20px">
                                            №
                                        </div>
                                        <div class="area"
                                             style="margin-left: 20px">&nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.number }} {% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 45px">
                                            {{ 'package.resources.views.vidan'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 45px">
                                            &nbsp{% if tourist and tourist.documentRelation and tourist.documentRelation.issued %} {{ tourist.documentRelation.issued|date('d.m.Y') }} {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 200px">
                                            {{ 'package.resources.views.organ_vidaushiy_document'|trans }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="area" style="margin-left: 0px">
                                            &nbsp{% if tourist and tourist.documentRelation and tourist.documentRelation.authorityOrganId %} {{ get_authority_organ(tourist.documentRelation.authorityOrganId).name }} {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 215px">
                                            9. {{ 'package.resources.views.adres_mesta_zhitelstva'|trans }}: &nbsp&nbsp {{ 'package.resources.views.country'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 216px">&nbsp{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.countryTld %} {{ get_country(tourist.addressObjectDecomposed.countryTld).name }} {% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width: 30px;">
                                            {{ 'package.resources.views.obl'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 31px">&nbsp{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.regionId %} {{ get_region(tourist.addressObjectDecomposed.regionId).name }} {% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 40px">
                                            {{ 'package.resources.views.city'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 41px">&nbsp{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.city %} {{ tourist.addressObjectDecomposed.city }} {% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width: 40px;">
                                            {{ 'package.resources.views.raion'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 41px">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.district }} {% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 65px;">
                                            {{ 'package.resources.views.nas_punkt'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 66px">&nbsp{% if tourist and tourist.addressObjectDecomposed %}{{ tourist.addressObjectDecomposed.settlement }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 40px;">
                                            {{ 'package.resources.views.street'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 41px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.street }} {% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 30px;">
                                            {{ 'package.resources.views.home'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 31px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.house }} {% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 30px;">
                                            {{ 'package.resources.views.kor'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 31px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.corpus }} {% endif %}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 25px;">
                                            {{ 'package.resources.views.kv'|trans }}
                                        </div>
                                        <div class="area"
                                             style="margin-left: 25px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.flat }} {% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field ib" style="width:49%">
                                        <div class="title" style="width: 70px">
                                            10. {{ 'package.resources.views.pribil'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 71px">&nbsp{{ arrival }}</div>
                                    </div>
                                    <div class="field ib" style="width:50%">
                                        <div class="title" style="width:45px">
                                            {{ 'package.resources.views.vibil'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 46px;">&nbsp{{ departure }}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width: 125px">
                                            11. {{ 'package.resources.views.registrationed'|trans }}
                                        </div>
                                        <div class="area" style="margin-left: 126px">&nbsp{{ arrival }}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="title" style="width: 60px;">
                                            {{ 'package.resources.views.signature'|trans }}
                                        </div>
                                        <div style="margin-left: 61px" class="area">&nbsp</div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="left-form">

                    <div class="form" style="border-right: none">
                        <table style="margin-top:5px;width: 445px;" class="center">
                            <tr>
                                <td style="width: 33%"></td>
                                <td style="width: 33%;font-size:16px;">{{ 'mbhpackagebundle.view.documents.pdftemplates.fms_form_5.anketa'|trans }} </td>
                                <td style="width: 33%;font-size:16px;">
                                    {{ 'package.resources.views.form'|trans }} №5
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top:20px;height: 540px;">
                            <div style="margin: 0px 15px">
                                <div class="field">
                                    <div class="area center" style="font-size: 12px; font-weight: bold;">
                                        &nbsp
                                        {{ hotel.name }}
                                    </div>
                                    <div class="center" style="font-size: 9px">
                                        {{ 'package.resources.views.name_hotel_sanatory_home_relax'|trans }}
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="center area" style="margin-top: 6px; font-size: 11px; font-weight: bold;">
                                        &nbsp
                                        {% if package.accommodation and package.accommodation.housing and package.accommodation.housing.cityId and package.accommodation.housing.address %}
                                            {{ get_city(package.accommodation.housing.cityId).name }} {{ package.accommodation.housing.address }}
                                        {% elseif package.roomType.hotel.regionId and package.roomType.hotel.cityId %}
                                            {{ get_region(package.roomType.hotel.regionId).name }} {{ 'package.resources.views.g'|trans }} {{ get_city(package.roomType.hotel.cityId).name }}{% if package.roomType.hotel.street  %}, {{ package.roomType.hotel.street }}{% endif %}{% if package.roomType.hotel.house %}, {{ 'package.resources.views.d'|trans }} {{ package.roomType.hotel.house }}{% if package.roomType.hotel.house %}, {{ 'package.resources.views.kor'|trans }} {{ package.roomType.hotel.corpus }}{% endif %}{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="center" style="font-size: 9px">
                                        {{ 'package.resources.views.adres_region_ltc'|trans }}
                                    </div>
                                </div>
                            </div>

                            <table class="main" style="width: 420px; margin: 25px 10px 0">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="field">
                                            <div class="title">
                                                1. {{ 'package.resources.views.familiya'|trans }}
                                            </div>
                                            <div class="area">&nbsp{% if tourist %}{{ tourist.lastName }}{% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title">
                                                {{ 'package.resources.views.room'|trans }} №
                                            </div>
                                            <div class="area">&nbsp{% if package and package.accommodation %}{{ package.accommodation.fullTitle }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title">
                                                2. {{ 'package.resources.views.name'|trans }}
                                            </div>
                                            <div class="area">&nbsp{% if tourist %}{{ tourist.firstName }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title">
                                                3. {{ 'package.resources.views.secondname'|trans }}
                                            </div>
                                            <div class="area">&nbsp{% if tourist %}{{ tourist.patronymic }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="field">
                                            <div class="title" style="width : 110px;">
                                                4. {{ 'package.resources.views.birthday'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 110px">&nbsp{% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width : 45px;">
                                                5. {{ 'package.resources.views.pol'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 45px;">&nbsp{% if tourist %} {{ ('form.touristType.sex_' ~ tourist.sex)|trans }} {% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title" style="width : 130px;">
                                                6. {{ 'package.resources.views.birthday_place'|trans }}
                                            </div>
                                            &nbsp{% if tourist and tourist.birthplace and tourist.birthplace.city and tourist.birthplace.countryTld %}<!--<div class="area" style="margin-left: 130px">{{ get_country(tourist.birthplace.countryTld).name ~ ' ' ~ tourist.birthplace.city }}</div>-->{% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field" style="margin-left: 30px">
                                            <div class="title" style="width: 70px">
                                                {{ 'package.resources.views.oblast'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace %}{{ tourist.birthplace.mainRegion }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field" style="margin-left: 30px">
                                            <div class="title" style="width: 70px">
                                                {{ 'package.resources.views.raion'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace %}{{ tourist.birthplace.district }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field" style="margin-left: 30px">
                                            <div class="title" style="width: 70px">
                                                {{ 'package.resources.views.city'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace and tourist.birthplace.city %}{{ tourist.birthplace.city }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field" style="margin-left: 30px">
                                            <div class="title" style="width: 70px">
                                                {{ 'package.resources.views.nas_punkt'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 71px">&nbsp{% if tourist and tourist.birthplace %}{{ tourist.birthplace.settlement }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title" style="width: 120px">
                                                7. {{ 'package.resources.views.grazhdanstvo'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 121px">&nbsp{{ tourist.citizenshipTld ? get_country(tourist.citizenshipTld).name : '' }}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title" style="width: 280px;">
                                                8. {{ 'package.resources.views.document'|trans }}
                                            </div>
                                            <!--<div class="area" style="margin-left: 240px">&nbsp</div>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title"></div>
                                            <div class="area" style="margin-left:0px">&nbsp
                                                {% if tourist and tourist.documentRelation and tourist.documentRelation.type %}
                                                    {{ documentTypes[tourist.documentRelation.type] }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 45px">
                                                {{ 'package.resources.views.seria'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 45px">&nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.series }} {% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 20px">
                                                №
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 20px">&nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.number }} {% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 45px">
                                                {{ 'package.resources.views.vidan'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 45px">
                                                &nbsp{% if tourist and tourist.documentRelation and tourist.documentRelation.issued %} {{ tourist.documentRelation.issued|date('d.m.Y') }} {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title" style="width: 200px">
                                                {{ 'package.resources.views.organ_vidaushiy_document'|trans }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="area" style="margin-left: 0px">
                                                &nbsp{% if tourist and tourist.documentRelation and tourist.documentRelation.authorityOrganId %} {{ get_authority_organ(tourist.documentRelation.authorityOrganId).name }} {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title" style="width: 215px">
                                                9. {{ 'package.resources.views.adres_mesta_zhitelstva'|trans }}: &nbsp&nbsp {{ 'package.resources.views.country'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 216px">&nbsp{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.countryTld %} {{ get_country(tourist.addressObjectDecomposed.countryTld).name }} {% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="field">
                                            <div class="title" style="width: 30px;">
                                                {{ 'package.resources.views.obl'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 31px">&nbsp{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.regionId %} {{ get_region(tourist.addressObjectDecomposed.regionId).name }} {% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 40px">
                                                {{ 'package.resources.views.city'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 41px">&nbsp{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.city %} {{ tourist.addressObjectDecomposed.city }} {% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="field">
                                            <div class="title" style="width: 40px;">
                                                {{ 'package.resources.views.raion'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 41px">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.district }} {% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 65px;">
                                                {{ 'package.resources.views.nas_punkt'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 66px">&nbsp{% if tourist and tourist.addressObjectDecomposed %}{{ tourist.addressObjectDecomposed.settlement }}{% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field">
                                            <div class="title" style="width: 40px;">
                                                {{ 'package.resources.views.street'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 41px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.street }} {% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 30px;">
                                                {{ 'package.resources.views.home'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 31px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.house }} {% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 30px;">
                                                {{ 'package.resources.views.kor'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 31px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.corpus }} {% endif %}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 25px;">
                                                {{ 'package.resources.views.kv'|trans }}
                                            </div>
                                            <div class="area"
                                                 style="margin-left: 25px;">&nbsp{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.flat }} {% endif %}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="field ib" style="width:49%">
                                            <div class="title" style="width: 70px">
                                                10. {{ 'package.resources.views.pribil'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 71px">&nbsp{{ arrival }}</div>
                                        </div>
                                        <div class="field ib" style="width:50%">
                                            <div class="title" style="width:45px">
                                                {{ 'package.resources.views.vibil'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 46px;">&nbsp{{ departure }}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="field">
                                            <div class="title" style="width: 125px">
                                                11. {{ 'package.resources.views.registrationed'|trans }}
                                            </div>
                                            <div class="area" style="margin-left: 126px">&nbsp{{ arrival }}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="title" style="width: 60px;">
                                                {{ 'package.resources.views.signature'|trans }}
                                            </div>
                                            <div style="margin-left: 61px" class="area">&nbsp</div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div style="clear: both"></div>
            </div>
            {% if loop.index < package.tourists|length %}
                <div style="page-break-after: always;"></div>
            {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>