<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Pdf</title>
    <style type="text/css">
        body {
            font-family: "Open Sans"; /*Arial*/
            font-size: 16px;
        }

        .document {
            padding-top: 0px;
            width: 900px;
            margin: 0 auto;
        }

        .ib {
            display: inline-block;
        }

        .area {
            border-bottom: solid #000000 1px;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .center {
            text-align: center;
        }

        .indent {
            text-indent: 1.5em;
        }

        .upper {
            text-transform: uppercase;
        }

        body {
            font-size: 15px;
        }

        .left-block {
            float: left;
        }

        .left-block div {
            margin: 3px 0px;
        }

        .right-block {
            float: right;
            width: 350px;
        }

        .right-block div {
            margin: 5px 0px;
        }

        .center-block div {
            margin: 3px 0px;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div class="document">
    {% for tourist in package.allTourists %}
        {% if loop.index != 1 %}
            <div style="page-break-after: always;"></div>
        {% endif %}
        <div>
            <div style="float: right; margin-bottom: 20px">
                {{ 'mbhpackagebundle.views.utverzhdena'|trans }}<br>
                {{ 'mbhpackagebundle.views.prikazom_ministerstava_finansov'|trans }}<br>
                {{ 'mbhpackagebundle.views.rossiiskoi_federacii'|trans }}<br>
                {{ 'mbhpackagebundle.views.ot_data_g'|trans }}<br>
                <br>
                {{ 'mbhpackagebundle.views.forma_g'|trans }}
            </div>

            <table border="1" style="width: 900px;text-align: center;" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td style="width: 25%">
                        {{ 'mbhpackagebundle.views.anketa'|trans }}
                    </td>
                    <td style="width: 25%">
                        {{ 'mbhpackagebundle.views.zakaz'|trans }} № {{ package.order.id }}
                    </td>
                    <td style="width: 25%">
                        {{ 'mbhpackagebundle.views.auto'|trans }}
                    </td>
                    <td style="width: 25%">
                        № {{ 'mbhpackagebundle.views.scheta'|trans }} {{ package.numberWithPrefix }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div class="left-block">
                    <div>
                        1. {{ 'mbhpackagebundle.views.familia'|trans }}
                        <div style="width: 360px" class="area ib">
                            &nbsp;{% if tourist %} {{ tourist.lastName }} {% endif %}</div>
                    </div>
                    <div>
                        2. {{ 'mbhpackagebundle.views.imia'|trans }}
                        <div style="width: 400px" class="area ib">
                            &nbsp;{% if tourist %} {{ tourist.firstName }} {% endif %}</div>
                    </div>
                    <div>
                        3. {{ 'mbhpackagebundle.views.otchestvo'|trans }}
                        <div style="width: 360px" class="area ib">
                            &nbsp;{% if tourist %} {{ tourist.patronymic }} {% endif %}</div>
                    </div>
                    <div>
                        4. {{ 'mbhpackagebundle.views.data_rozhdenia'|trans }}
                        <div style="width: 160px" class="area ib">
                            &nbsp;{% if tourist and tourist.birthday %} {{ tourist.birthday|date('d.m.Y') }} {% endif %}</div>
                        {{ 'mbhpackagebundle.views.g'|trans }}.
                    </div>
                    <div>
                        <div class="ib left ">
                            5.{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.mesto.rozhdeniya'|trans }} </div>
                        <div style="width: 310px" class="area ib">
                            &nbsp;{% if tourist and tourist.birthplace and tourist.birthplace.city %} {{ tourist.birthplace.mainRegion ~ ' ' ~ tourist.birthplace.district ~ ' ' ~ tourist.birthplace.city ~ ' ' ~ tourist.birthplace.settlement }}{% endif %}</div>
                    </div>
                    <div>
                        <div class="left">
                            <div class="ib">6.{{ 'mbhpackagebundle.views.seria'|trans }}</div>
                            <div class="ib">
                                <div style="width: 110px" class="area ib">
                                    &nbsp;{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.series }} {% endif %}
                                </div>
                            </div>
                            <div class="ib">№</div>
                            <div class="ib">
                                <div style="width: 110px" class="area ib">
                                    &nbsp;{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.number }} {% endif %}
                                </div>
                            </div>
                            <div class="ib">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.vydan'|trans }} </div>
                        </div>
                        <div class="ib">
                            <div class="lb">
                                <div style="width: 100px" class="area ib">
                                    &nbsp;{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.issued|date('d.m.Y') }} {% endif %}
                                </div>
                                <div style="text-align: center">
                                    <small>({{ 'mbhpackagebundle.views.kogda'|trans }})</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-block">
                    <div>
                        <div style="width: 130px" class="ib left">{{ 'mbhpackagebundle.views.komnata'|trans }} №</div>
                        <div style="width: 220px"
                             class="area ib">{% if package.accommodation %} {{ package.accommodation.fullTitle }} {% endif %}</div>
                        <div style="clear:both;"></div>
                    </div>
                    <div>
                        <div style="width: 150px"
                             class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.indeks.poseleniya'|trans }} </div>
                        <div style="width: 200px" class="area ib">&nbsp;</div>
                        <div style="clear:both;"></div>
                    </div>

                    {% set arrival = null %}
                    {% set departure = null %}

                    {% if package.begin %}
                        {% set arrival = package.begin|date('d.m.Y 14:00') %}
                    {% endif %}

                    {% if package.end %}
                        {% set departure = package.end|date('d.m.Y 12:00') %}
                    {% endif %}

                    {% if package.arrivalTime %}
                        {% set arrival = package.arrivalTime|date('d.m.Y  H:i') %}
                    {% endif %}

                    {% if package.departureTime %}
                        {% set departure = package.departureTime|date('d.m.Y H:i') %}
                    {% endif %}

                    <div>
                        <div class="ib left">{{ 'mbhpackagebundle.views.pribil'|trans }} &nbsp;</div>
                        <div class="ib">
                            <div style="width: 280px" class="area ib left">
                                &nbsp;{% if arrival %} {{ arrival }} {% endif %}</div>
                            <div class="center">
                                <small>({{ 'mbhpackagebundle.views.data_chasi'|trans }})</small>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="ib left">{{ 'mbhpackagebundle.views.vibil'|trans }} &nbsp;</div>
                        <div class="ib">
                            <div style="width: 290px" class="area ib left">
                                &nbsp;{% if departure %} {{ departure }} {% endif %}</div>
                            <div class="center">
                                <small>({{ 'mbhpackagebundle.views.data_chasi'|trans }})</small>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>

        <div class="center-block">
            <div>
                <div style="width: 900px" class="area ib left">
                    &nbsp;{% if tourist and tourist.documentRelation and tourist.documentRelation.authorityOrganId %} {{ get_authority_organ(tourist.documentRelation.authorityOrganId).name }} {% endif %}</div>
                <div class="center">
                    <small>({{ 'mbhpackagebundle.views.naimenovanie_organa_vnutrennih_del_vidavshego_document'|trans }}
                        )
                    </small>
                </div>
            </div>

            <div>
                <div>7. {{ 'mbhpackagebundle.views.adres_postoyannogo_mesta_zhitelstva'|trans }}</div>
                <div class="ib">
                    <div style="width: 900px" class="area ib left">
                        &nbsp;
                        {% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.city %}
                            {{ get_region(tourist.addressObjectDecomposed.regionId).name }},
                            {{ 'mbhpackagebundle.views.g'|trans }}. {{ tourist.addressObjectDecomposed.city }}{% if tourist.addressObjectDecomposed.street %},
                            {{ 'mbhpackagebundle.views.ul'|trans }}. {{ tourist.addressObjectDecomposed.street }},
                            {% if tourist.addressObjectDecomposed.house %}
                                {% if tourist.addressObjectDecomposed.house %} {{ 'mbhpackagebundle.views.d'|trans }}. {{ tourist.addressObjectDecomposed.house }}
                                    {% if tourist.addressObjectDecomposed.corpus %},
                                        {{ 'mbhpackagebundle.views.korp'|trans }}. {{ tourist.addressObjectDecomposed.corpus }}
                                    {% endif %}
                                    {% if tourist.addressObjectDecomposed.flat %},
                                        {{ 'mbhpackagebundle.views.ul'|trans }}. {{ tourist.addressObjectDecomposed.flat }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.views.respublika_krai_oblast_okrug_raion_gorod_pgr_selo'|trans }})
                        </small>
                    </div>
                </div>
            </div>

            <div>
                8. {{ 'mbhpackagebundle.views.cel_priezda'|trans }}
                <div style="width: 775px" class="area ib">
                    &nbsp;{% if package.purposeOfArrival %}{{ ('mbh.package.arrivals.' ~ package.purposeOfArrival)|trans({}, 'MBHPackageBundle') }}{% endif %}
                </div>
            </div>
            <div>
                9. {{ 'mbhpackagebundle.views.srok_prozhivania_do'|trans }} {% if package.end %} {{ package.end|date('d.m.Y') }} {% endif %}
            </div>
            <div>
                10. {{ 'mbhpackagebundle.views.prodlenie_prozhivania'|trans }}
                <div style="width: 690px" class="area ib">&nbsp;</div>
            </div>
            <div>
                11. {{ 'mbhpackagebundle.views.s_pamiatkoi_o_pravilakh_pozharnoi_bezopasnosti_oznakomlen'|trans }}
            </div>
        </div>

        <div>
            <div class="right">
                <div class="ib left">{{ 'mbhpackagebundle.views.podpis'|trans }} &nbsp;</div>
                <div class="ib">
                    <div style="width: 200px" class="area ib left">&nbsp;</div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.views.litca_pribivshego_v_gostinnicu'|trans }})</small>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div style="page-break-after: always;"></div>

        <div>
            <div style="width: 220px; float: right; font-weight: bold">{{ 'mbhpackagebundle.views.obratnaya_storona'|trans }}</div>
            <div style="clear: both"></div>
        </div>

        <div style="margin-top: 30px">
            <div>
                {{ 'mbhpackagebundle.views.poselena'|trans }} "
                <div style="width: 30px" class="area ib">&nbsp;</div>
                "
                <div style="width: 690px" class="area ib">&nbsp;</div>
                20
                <div style="width: 30px" class="area ib">&nbsp;</div>
                {{ 'mbhpackagebundle.views.g'|trans }}.
            </div>

            {% set location = '' %}

            {% if package.accommodation and package.accommodation.housing and package.accommodation.housing.cityId and package.accommodation.housing.street %}
                {% set location = ' ' ~ 'mbhpackagebundle.views.g'|trans ~ '. ' ~ get_city(package.accommodation.housing.cityId).name  ~ ', ' ~ package.accommodation.housing.settlement ~ ' ' ~ package.accommodation.housing.street ~ ' ' ~ 'mbhpackagebundle.views.d'|trans ~ '.' ~ package.accommodation.housing.house %}
            {% endif %}

            {% if not location and package.roomType.hotel.cityId and package.roomType.hotel.street %}
                {% set location = ' '~ 'mbhpackagebundle.views.g'|trans ~ '. ' ~ get_city(package.roomType.hotel.cityId).name  ~ ', ' ~ package.roomType.hotel.settlement ~ ', ' ~ package.roomType.hotel.street %}
                {% if package.roomType.hotel.house %}
                    {% set location = location ~ ', ' ~ 'mbhpackagebundle.views.g'|trans ~ '. ' ~ package.roomType.hotel.house %}
                    {% if package.roomType.hotel.corpus %}
                        {% set location = location ~ ', ' ~ 'mbhpackagebundle.views.korp'|trans ~ '. ' ~ package.roomType.hotel.corpus %}
                        {% if package.roomType.hotel.flat %}
                            {% set location = location ~  ', ' ~ 'mbhpackagebundle.views.ul' |trans~ '. ' ~ package.roomType.hotel.flat %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <div style="margin-top: 10px">
                {{ 'mbhpackagebundle.views.gorod_selenie'|trans }} &nbsp;
                <div style="width: 760px" class="area ib">
                    &nbsp;{{ location }}
                </div>
            </div>

            <div style="margin-top: 10px">
                {{ 'mbhpackagebundle.views.gostinica'|trans }}
                <div style="width: 810px" class="area ib">
                    &nbsp;{% if package.roomType and package.roomType.hotel %} {{ package.roomType.hotel.name }} {% endif %}
                </div>
            </div>

            <div style="margin-top: 10px">
                <div class="ib left">{{ 'mbhpackagebundle.views.na_dopolnitelnoe_mesto_v_nomere_soglasen'|trans }}
                    &nbsp;
                </div>
                <div class="ib">
                    <div style="width: 530px" class="area ib left">&nbsp;</div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.views.podpis_lica_pribivshego_v_gostinicu'|trans }})</small>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div>
                <div class="ib left">{{ 'mbhpackagebundle.views.soglasen_na_prozhivanie_v_nomere_s_oplatoi_vseh_mest'|trans }}
                    &nbsp;
                </div>
                <div class="ib">
                    <div style="width: 460px" class="area ib left">&nbsp;</div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.views.podpis_lica_pribivshego_v_gostinicu'|trans }})</small>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div>
                {{ 'mbhpackagebundle.views.podpis_otvetstvennogo_lica'|trans }}
                <div style="width: 150px" class="area ib">&nbsp;</div>
            </div>
        </div>
        {% if loop.index < package.allTourists|length %}
            <div style="page-break-after: always;"></div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>