{% extends 'MBHPackageBundle:Documents/pdfTemplates:layout.html.twig' %}
{% block document %}
    <style>
        body {
            font-size: 15px;
        }

        .left-block {
            float: left;
        }

        .left-block div {
            margin: 3px 0px;
        }

        .right-block {
            float: right;
            width: 350px;
        }

        .right-block div {
            margin: 5px 0px;
        }
    </style>
    {% for tourist in tourists %}
        <div>
            <div style="float: right; margin-bottom: 20px">
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.utverzhdena'|trans }} <br>
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.prikazomministerstvafinansov'|trans }} <br>
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.rossiyskoyfederatsii'|trans }} <br>
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.ot'|trans }} 13 {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.dekabrya.'|trans }} 1993 г. № 121<br>
                <br>
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.forma'|trans }} № 1-Г
            </div>

            <table border="1" style="width: 900px;text-align: center;" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td style="width: 25%">
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.anketa'|trans }} № 3
                    </td>
                    <td style="width: 25%">
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.zakaz'|trans }} № {{ entity.order.id }}
                    </td>
                    <td style="width: 25%">
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.avto'|trans }} 
                    </td>
                    <td style="width: 25%">
                        № {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.scheta'|trans }} {{ entity.numberWithPrefix }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div class="left-block">
                    <div>
                        1. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.familiya'|trans }} 
                        <div style="width: 360px" class="area ib">
                            &nbsp{% if tourist %} {{ tourist.lastName }} {% endif %}</div>
                    </div>
                    <div>
                        2. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.imya'|trans }} 
                        <div style="width: 400px" class="area ib">
                            &nbsp{% if tourist %} {{ tourist.firstName }} {% endif %}</div>
                    </div>
                    <div>
                        3. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.otchestvo'|trans }} 
                        <div style="width: 360px" class="area ib">
                            &nbsp{% if tourist %} {{ tourist.patronymic }} {% endif %}</div>
                    </div>
                    <div>
                        4. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.datarozhdeniya'|trans }} 
                        <div style="width: 160px" class="area ib">
                            &nbsp{% if tourist and tourist.birthday %} {{ tourist.birthday|date('d.m.Y') }} {% endif %}</div>
                        г.
                    </div>
                    <div>
                        <div class="ib left ">5.{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.mestorozhdeniya'|trans }} </div>
                        <div style="width: 310px" class="area ib">
                            &nbsp{% if tourist and tourist.birthplace %} {{ tourist.birthplace.mainRegion ~ ' ' ~ tourist.birthplace.district ~ ' ' ~ tourist.birthplace.city ~ ' ' ~ tourist.birthplace.settlement }}{% endif %}</div>
                    </div>
                    <div>
                        <div class="left">
                            <div class="ib">6.{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.seriya'|trans }} </div>
                            <div class="ib">
                                <div style="width: 110px" class="area ib">
                                    &nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.series }} {% endif %}
                                </div>
                            </div>
                            <div class="ib">№</div>
                            <div class="ib">
                                <div style="width: 110px" class="area ib">
                                    &nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.number }} {% endif %}
                                </div>
                            </div>
                            <div class="ib">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.vydan'|trans }} </div>
                        </div>
                        <div class="ib">
                            <div class="lb">
                                <div style="width: 100px" class="area ib">
                                    &nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.issued|date('d.m.Y') }} {% endif %}
                                </div>
                                <div style="text-align: center">
                                    <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.kogda'|trans }} )</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-block">
                    <div>
                        <div style="width: 130px" class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.komnata'|trans }} №</div>
                        <div style="width: 220px"
                             class="area ib">{% if entity.accommodation %} {{ entity.accommodation.fullTitle }} {% endif %}</div>
                        <div style="clear:both;"></div>
                    </div>
                    <div>
                        <div style="width: 150px" class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.indeksposeleniya'|trans }} </div>
                        <div style="width: 200px" class="area ib">&nbsp</div>
                        <div style="clear:both;"></div>
                    </div>

                    {% set arrival = null %}
                    {% set departure = null %}

                    {% if entity.begin %}
                        {% set arrival = entity.begin|date('d.m.Y 14:00') %}
                    {% endif %}

                    {% if entity.end %}
                        {% set departure = entity.end|date('d.m.Y 12:00') %}
                    {% endif %}

                    {% if entity.arrivalTime %}
                        {% set arrival = entity.arrivalTime|date('d.m.Y  H:i') %}
                    {% endif %}

                    {% if entity.departureTime %}
                        {% set departure = entity.departureTime|date('d.m.Y H:i') %}
                    {% endif %}

                    <div>
                        <div class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.pribyl'|trans }} &nbsp</div>
                        <div class="ib">
                            <div style="width: 280px" class="area ib left">
                                &nbsp{% if arrival %} {{ arrival }} {% endif %}</div>
                            <div class="center">
                                <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.data'|trans }})</small>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.vybyl'|trans }} &nbsp</div>
                        <div class="ib">
                            <div style="width: 290px" class="area ib left">
                                &nbsp{% if departure  %} {{ departure }} {% endif %}</div>
                            <div class="center">
                                <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.data'|trans }})</small>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>


        <style>
            .center-block div {
                margin: 3px 0px;
            }
        </style>

        <div class="center-block">
            <div>
                <div style="width: 900px" class="area ib left">
                    &nbsp{% if tourist and tourist.documentRelation %} {{ tourist.documentRelation.authorityOrgan }} {% endif %}</div>
                <div class="center">
                    <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.naimenovaniyaorganavnutrennikhdel'|trans }} )</small>
                </div>
            </div>

            <div>
                <div>7. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.adrespostoyannogomestazhitelʹstva'|trans }} </div>
                <div class="ib">
                    <div style="width: 900px" class="area ib left">
                        &nbsp
                        {% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.city %}
                            {{ tourist.addressObjectDecomposed.region }},
                            г. {{ tourist.addressObjectDecomposed.city }}{% if tourist.addressObjectDecomposed.street %},
                            ул. {{ tourist.addressObjectDecomposed.street }},
                            {% if tourist.addressObjectDecomposed.house %}
                                {% if tourist.addressObjectDecomposed.house %} д. {{ tourist.addressObjectDecomposed.house }}
                                    {% if tourist.addressObjectDecomposed.corpus %},
                                        кор. {{ tourist.addressObjectDecomposed.corpus }}
                                    {% endif %}
                                    {% if tourist.addressObjectDecomposed.flat %},
                                        кв. {{ tourist.addressObjectDecomposed.flat }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="center">
                        <small>(республика, край, область, округ, район, город, пгт, село, деревня, аул, улица, дом,
                            корпус, квартира)
                        </small>
                    </div>
                </div>
            </div>

            <div>
                8. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.tselʹpriyezda'|trans }} 
                <div style="width: 775px" class="area ib">
                    &nbsp{% if entity.purposeOfArrival %}{{ ('mbh.package.arrivals.' ~ entity.purposeOfArrival)|trans({}, 'MBHPackageBundle') }}{% endif %}
                </div>
            </div>
            <div>
                9. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.srokprozhivaniyado'|trans }} {% if entity.end %} {{ entity.end|date('d.m.Y') }} {% endif %}
            </div>
            <div>
                10. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.prodleniyeprozhivaniya'|trans }} 
                <div style="width: 690px" class="area ib">&nbsp</div>
            </div>
            <div>
                11. {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.spamyatkoyopravilakhpozharnoybezopasnostioznakomlen'|trans }} 
            </div>
        </div>

        <div>
            <div class="right">
                <div class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.podpisʹ'|trans }} &nbsp</div>
                <div class="ib">
                    <div style="width: 200px" class="area ib left">&nbsp</div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.litsa'|trans }} )</small>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div style="page-break-after: always;"></div>

        <div>
            <div style="width: 220px; float: right; font-weight: bold">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.obratnayastoronaf'|trans }} . № 1-Г</div>
            <div style="clear: both"></div>
        </div>

        <div style="margin-top: 30px">
            <div>
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.poselen'|trans }}  "
                <div style="width: 30px" class="area ib">&nbsp</div>
                "
                <div style="width: 690px" class="area ib">&nbsp</div>
                20
                <div style="width: 30px" class="area ib">&nbsp</div>
                г.
            </div>

            {% set location = '' %}

            {% if entity.accommodation and entity.accommodation.housing and entity.accommodation.housing.city and entity.accommodation.housing.street %}
                {% set location = ' г. ' ~ entity.accommodation.housing.city  ~ ', ' ~ entity.accommodation.housing.settlement ~ ' ' ~ entity.accommodation.housing.street ~ ' д.' ~ entity.accommodation.housing.house %}
            {% endif %}

            {% if not location and entity.roomType.hotel.city and entity.roomType.hotel.street %}
                {% set location = ' г. ' ~ entity.roomType.hotel.city  ~ ', ' ~ entity.roomType.hotel.settlement ~ ', ' ~ entity.roomType.hotel.street %}
                {% if entity.roomType.hotel.house %}
                    {% set location = location ~ ', д. ' ~ entity.roomType.hotel.house %}
                    {% if entity.roomType.hotel.corpus %}
                        {% set location = location ~ ', кор. ' ~ entity.roomType.hotel.corpus %}
                        {% if entity.roomType.hotel.flat %}
                            {% set location = location ~  ', кв. ' ~ entity.roomType.hotel.flat %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <div style="margin-top: 10px">
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.gorod'|trans }} &nbsp
                <div style="width: 760px" class="area ib">
                    &nbsp{{ location }}
                </div>
            </div>

            <div style="margin-top: 10px">
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.gostinitsa'|trans }} 
                <div style="width: 810px" class="area ib">
                    &nbsp{% if entity.roomType and entity.roomType.hotel %} {{ entity.roomType.hotel.name }} {% endif %}
                </div>
            </div>

            <div style="margin-top: 10px">
                <div class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.nadopolnitelʹnoyemestovnomeresoglasen'|trans }} &nbsp</div>
                <div class="ib">
                    <div style="width: 530px" class="area ib left">&nbsp</div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.podpisʹlitsa'|trans }} )</small>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div>
                <div class="ib left">{{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.soglasen'|trans }} &nbsp</div>
                <div class="ib">
                    <div style="width: 460px" class="area ib left">&nbsp</div>
                    <div class="center">
                        <small>({{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.podpisʹlitsa'|trans }} )</small>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div>
                {{ 'mbhpackagebundle.view.documents.pdftemplates.form_1_g.podpisʹotvetstvennogolitsa'|trans }} 
                <div style="width: 150px" class="area ib">&nbsp</div>
            </div>
        </div>
        {% if loop.index < tourists|length %}
            <div style="page-break-after: always;"></div>
        {% endif %}

    {% endfor %}
{% endblock %}