<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Pdf</title>
    <style type="text/css">
        body {
            font-family: "Open Sans"; /*Arial*/
            font-size: 16px;
            font-size: 14.5px;
        }

        .document {
            padding-top: 0px;
            width: 900px;
            margin: 0 auto;
        }

        .ib {
            display: inline-block;
        }

        .area {
            border-bottom: solid #000000 1px;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .center {
            text-align: center;
        }

        .indent {
            text-indent: 1.5em;
        }

        .upper {
            text-transform: uppercase;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div class="document">
    {% for tourist in package.tourists %}
        {% for i in 1..2 %}
            <h3 class="center">{{ 'mbhpackagebundle.view.documents.pdftemplates.receipt.raspiska'|trans }} </h3>
            <div>
                <p>{{ 'package.resources.views.i'|trans }},
                    <strong>{% if tourist %}{{ tourist.generateFullName }}{% endif %}</strong></p>
                <p>
                    {{ 'package.resources.views.birthday'|trans }} <span class="area"
                                                                         style="display: inline-block; width: 90px">{% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</span> {{ 'package.resources.views.g'|trans }}
                    ,
                </p>

                <p>
                    {{ 'package.resources.views.document_view'|trans }} <span class="area"
                                                                              style="display: inline-block; width: 350px">{% if tourist and tourist.documentRelation %}{{ documentTypes[tourist.documentRelation.type] }}{% endif %}</span>
                    {{ 'package.resources.views.series'|trans }} <span class="area"
                                                                       style="display: inline-block; width: 125px">{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.series }}{% endif %}</span>
                    {{ 'package.resources.views.number'|trans }} <span class="area"
                                                                       style="display: inline-block; width: 125px">{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.number }}{% endif %}</span>
                </p>

                <p>
                    {{ 'package.resources.views.issued'|trans }} <span class="area"
                                                                       style="display: inline-block; width: 90px">{% if tourist and tourist.documentRelation %}{{ tourist.documentRelation.issued|date('d.m.Y') }}{% endif %}</span> {{ 'package.resources.views.g'|trans }}
                    ,
                    {{ 'package.resources.views.place_of_birth'|trans }} <span class="area"
                                                                               style="display: inline-block; width: 505px">
                    &nbsp {% if tourist and tourist.birthPlace and tourist.birthPlace and tourist.birthPlace.countryTld %}
                            {{ get_country(tourist.birthPlace.countryTld).name }}
                            {{ tourist.birthPlace.mainRegion }}
                            {{ tourist.birthPlace.city }}
                            {{ tourist.birthPlace.district }}
                        {% endif %}
                </span>
                </p>

                <p>
                    {{ 'package.resources.views.citizenship'|trans }} <span class="area"
                                                                            style="display: inline-block; width: 300px">{% if tourist and tourist.citizenshipTld %}{{ get_country(tourist.citizenshipTld).name }}{% endif %}</span>
                </p>
                <div>
                    <div style="float: left; width: 240px">
                        {{ 'package.resources.views.permanent_residence'|trans }}
                    </div>
                    <div style="display: inline-block">
                <span class="area" style="display: inline-block; width: 580px">
                    {% set decomposedAddress = null %}
                    {% if tourist %}
                        {% set decomposedAddress = tourist.addressObjectDecomposed %}
                    {% endif %}
                    {% if decomposedAddress and decomposedAddress.countryTld and decomposedAddress.city %}
                        {{ get_country(decomposedAddress.countryTld).name ~ ' ' ~ decomposedAddress.city ~ ' ' ~ decomposedAddress.settlement }}
                        {% if decomposedAddress.street %} {{ 'mbhpackagebundle.view.documents.pdftemplates.ul'|trans }}. {{ decomposedAddress.street }}
                            {% if decomposedAddress.house %}
                                {{ 'mbhpackagebundle.view.documents.pdftemplates.d'|trans }}. {{ decomposedAddress.house }}
                                {% if decomposedAddress.corpus %}
                                    ({{ decomposedAddress.corpus }})
                                {% endif %}
                                {% if decomposedAddress.flat %}
                                    {{ 'packages.rewources.kv'|trans }}. {{ decomposedAddress.flat }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </span>
                        <div style="font-size: 15px; font-weight: normal;">{{ 'package.resources.views.g_obl_kr_ul_d'|trans }}</div>
                    </div>
                </div>
                <p>{{ 'package.resources.period_live'|trans }}
                    <strong>{{ package.begin|date('d.m.Y') }}</strong> {{ 'package.resources.g_po'|trans }}
                    <strong>{{ package.end|date('d.m.Y') }}</strong> {{ 'package.resources.gg'|trans }}</p>
                <p>
                <div style="float: left; width: 350px">
                    {{ 'package.resources.my_appartment_at'|trans }}:
                </div>
                <div style="display: inline-block">
                <span class="area" style="display: inline-block; width: 470px">
                    {% if package.accommodation and package.accommodation.housing and package.accommodation.housing.cityId and package.accommodation.housing.address %}
                        {{ get_city(package.accommodation.housing.cityId).name }} {{ package.accommodation.housing.address }}
                    {% elseif package.roomType.hotel.cityId and package.roomType.hotel.street %}
                        {{ get_city(package.roomType.hotel.cityId).name }}
                        {{ package.roomType.hotel.street }}
                        {% if package.roomType.hotel.house %}
                            ะด.{{ package.roomType.hotel.house }}
                            {% if package.roomType.hotel.house %}
                                {{ package.roomType.hotel.corpus }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </span>
                    <div style="font-size: 15px; font-weight: normal;">{{ 'package.resources.ul_d_korp_kv'|trans }} </div>
                </div>
                <div>
                    <span style="text-decoration: underline;font-weight: bold">{{ 'package.resources.undertake'|trans }}:</span>
                    <ul>
                        <li> {{ 'package.resources.not_produce_noise'|trans }};</li>
                        <li> {{ 'package.resources.do_not_poll_entrances_and_surrounding_territory'|trans }};</li>
                        <li> {{ 'package.resources.do_not_disturb_neighbors'|trans }};</li>
                        <li> {{ 'package.resources.do_not_spoil_objects_of_everyday_life_and_interior'|trans }};</li>
                        <li> {{ 'package.resources.do_not_reshuffle_furniture'|trans }}</li>
                        <li> {{ 'package.resources.do_not_store_or_use_explosive_or_flammable_objects'|trans }}.</li>
                    </ul>
                    {{ 'package.resources.for_everything_that_happens_in_the_apartment_i_have_provided_for_the_period_of_residence_i_am_carrying'|trans }}
                </div>
                <br>
                <div>
                    <div style="float: left;">
                        <div class="area" style="display: inline-block; width: 150px"></div>
                        ({{ 'paclages.resources.signature'|trans }})
                    </div>
                    <div style="float: right; font-weight: bold">
                        {{ "now"|date('d.m.Y') }} {{ 'package.resources.gg'|trans }}.
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            {% if loop.index < 2 %}
                <hr/>
            {% endif %}
        {% endfor %}

        {% if loop.index < package.tourists|length %}
            <div style="page-break-after: always;"></div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>