<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <style>
        .indent {
            text-indent: 1.5em;
        }

        .document {
            width: 900px;
        }

        .header {
            border-bottom: 2px solid;
            height: 45px;
            position: relative;
        }

        .header div {
            position: absolute;
        }

        .table {
            width: 900px;
        }

        .table td {
            padding: 5px;
        }

        .table .field {
            font-size: 14px;
        }

        .table .field .title {
            float: left;
            width: 80px;
        }

        .table .field .title div:first-child {
            text-transform: uppercase;
        }
        .table .field .field .title div:last-child {
            font-size: 13px;
        }

        .table td {
            clear: both;
        }

        .area {
            border-bottom: 1px solid #000000;
        }

        .table .area {
            height: 30px;
            margin-left: 81px;
            font-size: 20px;
        }
    </style>
</head>
<body>

{% set organization = null %}
{% set tourist = null %}

{% if entity.order and entity.order.organization %}
    {% set organization = entity.order.organization %}
{% endif %}

{% if entity.order and entity.order.mainTourist %}
    {% set tourist = entity.order.mainTourist %}
{% endif %}

<div class="document">
    <div class="header">
        <div style="width: 200px; font-weight: bold;font-size: 17px">
            Registration Card
        </div>
        <div style="left: 200px; right: 200px; font-weight: bold; text-align: center; font-size: 22px">
            ООО "{{ organization.name }}"
        </div>
        <div style="width: 200px; right: 0; font-weight: bold;font-size: 17px">
            Регистрационная Карточка
        </div>
        <div style="clear: both"></div>
    </div>

    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td colspan="4">
                <div class="field">
                    <div class="title">
                        <div>Surname</div>
                        <div>Фамилия</div>
                    </div>
                    <div class="area">{% if tourist %}{{ tourist.lastName }}{% endif %}</div>
                </div>
            </td>
            <td colspan="4">
                <div class="field">
                    <div class="title" style="width: 100px">
                        <div>First name</div>
                        <div>Имя</div>
                    </div>
                    <div class="area" style="margin-left: 100px">{% if tourist %}{{ tourist.firstName }}{% endif %}</div>
                </div>
            </td>
            <td colspan="4">
                <div class="field">
                    <div class="title" style="width: 100px">
                        <div>Patronymic</div>
                        <div>Отчество</div>
                    </div>
                    <div class="area" style="margin-left: 100px">{% if tourist %}{{ tourist.patronymic }}{% endif %}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="field">
                    <div class="title" style="width: 100px;">
                        <div>Nationality</div>
                        <div>Гражданство</div>
                    </div>
                    <div class="area" style="margin-left: 100px;">{% if tourist %}{{ tourist.citizenship }}{% endif %}</div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title" style="width: 40px;">
                        <div>Sex</div>
                        <div>Пол</div>
                    </div>
                    <div class="area" style="margin-left: 40px;">{% if tourist %}{{ tourist.sex }}{% endif %}</div>
                </div>
            </td>
            <td colspan="6">
                <div class="field">
                    <div class="title">
                        <div>Company</div>
                        <div>Фирма</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="field">
                    <div class="title" style="width: 150px;">
                        <div>Day of birth</div>
                        <div>Дата рождения</div>
                    </div>
                    <div class="area" style="margin-left: 150px;">{% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</div>
                </div>
            </td>
            <td colspan="9">
                <div class="field">
                    <div class="title" style="width: 150px;">
                        <div>Place of birth</div>
                        <div>Место рождения</div>
                    </div>
                    <div class="area" style="margin-left: 150px;">{% if tourist and tourist.birthplace %}{{ tourist.birthplace.country ~ ' ' ~ tourist.birthplace.city }}{% endif %}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="field">
                    <div class="title">
                        <div>Pass №</div>
                        <div>Паспорт №</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="6">
                <div class="field">
                    <div class="title">
                        <div>Issued by</div>
                        <div>Выдан</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="field">
                    <div class="title">
                        <div>Country</div>
                        <div>Страна</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Zip-code</div>
                        <div>Индекс</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Arrival</div>
                        <div>Прибытие</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="field">
                    <div class="title" style="width:110px">
                        <div>Base Region</div>
                        <div>Субъект РФ</div>
                    </div>
                    <div class="area" style="margin-left: 110px"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Сity</div>
                        <div>Город</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Departere</div>
                        <div>Отъезд</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Base Area</div>
                        <div>Район</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Town</div>
                        <div>Нас. пунтк</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Room</div>
                        <div>Номер</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Type</div>
                        <div>Тип</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="field">
                    <div class="title">
                        <div>Street</div>
                        <div>Улица</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Persons</div>
                        <div>Кол. гостей</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
            <td colspan="3">
                <div class="field">
                    <div class="title">
                        <div>Rate</div>
                        <div>Тариф</div>
                    </div>
                    <div class="area"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <style>
        .description {
            width: 900px;
        }

        .description .text {
            font-size: 14px;
            float: left
        }

        .description .square {
            font-size: 14px;
            text-align: center;
            padding-top: 10px;
            border: solid;
            height: 80px;
            width: 120px;
            float: right;
        }

        .description .agree {
            font-style: italic;
            font-size: 15px;
            float: left;
            font-weight: bold;
        }

        .description .agree .fields {
            display: inline-block;
        }

        .description .agree .fields div {
            display: inline-block;
            margin-right: 5px;
        }

        .description .agree div:last-child {
            margin-right: 0px;
        }
    </style>

    <div class="description">
        <div class="text">
            You will find in your room the list of services that our hotel provides. <br>
            <strong>The checking-out time at the hotel is 12 o'clock noon. The checking time in the hotel is 2
                p.m</strong>. <br>
            The management is not responsible for your money and valuables not deposited in the hotel's safe. <br>
            The guests may entertain visitors in hotel room after notifying the management from 9 a.m. till 11 p.m. <br>
            The guests are kindly requested to keep rooms clean and in order. <br>
            The guests will have to pay the cost of damaged or lost property of the hotel. <br>
            <strong>Return of money is possible onl at presense of the check confirming the payment</strong>. <br>
        </div>
        <div class="square">
            Оплачено<br>
            до<br>
            13.03.15<br>
            12:00<br>
        </div>
        <div class="text">
            Наша гостиница предоставляет услуги, перечень которых Вы найдете в своем номере. <br>
            <strong>Выезд гостей не позднее - 12:00, заселение гостей с 14:00</strong>. <br>
            За сохранность денег и ценных вещей, не сданных на хранение, администрация гостиницы ответственности не
            несет. <br>
            Посторонние лица по просьбе проживающих, с ведома администрации, могут находиться в гостинице с 9 до 23
            часов. <br>
            В случае порчи или утери имущества гостиницы проживающий возмещает ущерб. <br>
            <strong>Возврат денежных средств производится только при наличии кассового чека подтверждающего
                оплату</strong>. <br>
        </div>
        <div class="agree">
            <div style="display: inline-block;float: left">С условиями оплаты, возврата и проживания согласен</div>
            &nbsp
            <div class="fields">
                <div>
                    <div style="width: 170px" class="area"></div>
                    <div style="display: block; font-size: 12px; font-weight: normal;">SIGNATURE Подпись</div>
                </div>
                <div>
                    <div style="width: 140px" class="area"></div>
                    <div style="display: block; font-size: 12px; font-weight: normal;">Расшифровка подписи</div>
                </div>
                <div>
                    <div style="width: 90px" class="area"></div>
                    <div style="display: block; font-size: 12px; font-weight: normal;">Дата</div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

    <style>
        .bottom {
            width: 900px;
            margin-top: 20px;
            border-top: solid #000000 2px;
        }

        .form {
            float: left;
            border-right: solid #000000 2px;
            width: 500px;
        }

        .form .inside {
            border: solid #000000 2px;
            margin: 15px;
            padding: 0px 15px;
            height: 500px;
        }

        .form .inside table{
            font-size: 14px;
        }

        .form .inside .field .title {
            float: left;
            width: 80px;
        }

        .form .inside table td {
            clear: both;
        }

        .form .inside .field .area {
            height: 16px;
            margin-left: 81px;
        }
    </style>


    <div class="bottom">
        <div class="form">
            <div class="inside">
                <div style="margin: 10px 0;font-weight: bold;text-align: center">Анкета</div>
                <table style="width: 430px">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title">
                                    1. Фамилия
                                </div>
                                <div class="area">{{ tourist.lastName }}</div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title">
                                    Комната №
                                </div>
                                <div class="area">{{ entity.accommodation.name }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title">
                                    2. Имя
                                </div>
                                <div class="area">{{ tourist.firstName }}</div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title">
                                    Прибыл
                                </div>
                                <div class="area">{{ entity.arrivalTime|date('d.m.Y') }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title">
                                    3. Отчество
                                </div>
                                <div class="area">{{ tourist.patronymic }}</div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title">
                                    Выбыл
                                </div>
                                <div class="area">{{ entity.departureTime|date('d.m.Y') }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width : 130px;">
                                    4. Дата рождения
                                </div>
                                <div class="area" style="margin-left: 130px">{{ tourist.birthday|date('d.m.Y') }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width : 130px;">
                                    5. Место рождения
                                </div>
                                <!--<div class="area" style="margin-left: 130px">{{ tourist.birthplace.country ~ ' ' ~ tourist.birthplace.city }}</div>-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="margin-left: 30px">
                                    Область
                                </div>
                                <div class="area">{{ tourist.birthplace.district }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="margin-left: 30px">
                                    Район
                                </div>
                                <div class="area">{{ tourist.birthplace.mainRegion }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title" style="margin-left: 30px; width: 70px">
                                    Нас. пункт
                                </div>
                                <div class="area" style="margin-left: 100px"></div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title" style="width: 50px">
                                    Город
                                </div>
                                <div class="area" style="margin-left: 50px;">{{ tourist.birthplace.city }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width: 260px">
                                    6. Документ, удостоверяющий личноть
                                </div>
                                <div class="area" style="margin-left: 260px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field">
                                <div class="title" style="width: 40px">
                                    Серия
                                </div>
                                <div class="area" style="margin-left: 40px"></div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title" style="width: 20px">
                                    №
                                </div>
                                <div class="area" style="margin-left: 20px"></div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title" style="width: 45px">
                                    Выдан
                                </div>
                                <div class="area" style="margin-left: 45px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="area" style="margin-left: 0px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width: 240px">
                                    7. Адрес места жительства: Страна
                                </div>
                                <div class="area" style="margin-left: 240px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title" style="width: 40px;">
                                    Обл.
                                </div>
                                <div class="area" style="margin-left: 40px"></div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title"  style="width: 45px">
                                    Город
                                </div>
                                <div class="area" style="margin-left: 45px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title" style="width: 40px;">
                                    Район
                                </div>
                                <div class="area" style="margin-left: 40px"></div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title" style="width: 70px;">
                                    Нас. пункт
                                </div>
                                <div class="area" style="margin-left: 70px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width: 45px;">
                                    Улица
                                </div>
                                <div class="area" style="margin-left: 45px;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field">
                                <div class="title" style="width: 40px;">
                                    Дом
                                </div>
                                <div class="area" style="margin-left: 40px;"></div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="title" style="width: 30px;">
                                    Кв.
                                </div>
                                <div class="area" style="margin-left: 30px;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width: 130px">
                                    Зарегистрировано
                                </div>
                                <div class="area" style="margin-left: 130px"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width: 250px">
                                    Подпись дежурного админстратора
                                </div>
                                <div class="area" style="margin-left: 250px"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <style>
            .permission {
                float: left;
                width: 395px;
            }

            .permission-table {
                padding: 10px;
                width: 390px;
            }

            .permission-table td{
                padding: 5px;
            }

            .permission-table .field {
                font-size: 15px;
            }

            .permission-table .field .title {
                float: left;
                width: 40%;
            }

            .permission-table .field .title div:first-child {
                text-transform: uppercase;
            }
            .permission-table .field .title div:last-child {
                font-size: 13px;
            }

            .permission-table .field .area {
                height: 30px;
                margin-left: 41%;
            }
        </style>

        <div class="permission">
            <div style="text-align: center;">
                <div style="font-weight: bold;margin: 15px 0">ООО {{ organization.name }}</div>
                <div style="font-weight: bold;font-size: 15px;margin-top: 15px;">Разрешение на поселение</div>
            </div>
            <hr>
            <table class="permission-table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">
                        <div class="field">
                            <div class="title">
                                <div>Surname</div>
                                <div>Фамилия</div>
                            </div>
                            <div class="area"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="field">
                            <div class="title">
                                <div>First name</div>
                                <div>Имя</div>
                            </div>
                            <div class="area"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="field">
                            <div class="title">
                                <div>Patronymic</div>
                                <div>Отчество</div>
                            </div>
                            <div class="area"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <div class="title">
                                <div>Sex</div>
                                <div>Пол</div>
                            </div>
                            <div class="area"></div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="title" style="width:120px">
                                <div>Day of birth</div>
                                <div>Дата рождения</div>
                            </div>
                            <div class="area" style="margin-left: 120px"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="field">
                            <div class="title">
                                <div>Arrival</div>
                                <div>Прибытие</div>
                            </div>
                            <div class="area"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="field">
                            <div class="title">
                                <div>Departere</div>
                                <div>Отъезд</div>
                            </div>
                            <div class="area"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <div class="title" style="width:50px">
                                <div>Room</div>
                                <div>Номер</div>
                            </div>
                            <div class="area" style="margin-left: 50px"></div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="title" style="width:30px">
                                <div>Type</div>
                                <div>Тип</div>
                            </div>
                            <div class="area" style="margin-left: 30px"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <style>
                .signature {
                    border: solid 2px;
                    float: right;
                    width: 200px;
                    padding: 5px;
                    font-size: 14px;
                }
            </style>

            <div class="signature">
                <div>SIGNATURE</div>
                <div>Подпись</div>
            </div>

        </div>
    </div>
</div>
</body>
</html>