<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Pdf</title>
    <style type="text/css">
        body {
            font-family: "Open Sans"; /*Arial*/
            font-size: 16px;
        }

        .document {
            padding-top: 0px;
            width: 900px;
            margin: 0 auto;
        }

        .ib {
            display: inline-block;
        }

        .area {
            border-bottom: solid #000000 1px;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .center {
            text-align: center;
        }

        .indent {
            text-indent: 1.5em;
        }

        .upper {
            text-transform: uppercase;
        }
        .header {
            width: 100%;
            border-bottom: solid 2px;
        }

        .table {
            width: 900px;
        }

        .table td {
            padding: 5px;
        }

        .table .field {
            /*height: 40px;*/
            font-size: 14px;
        }

        .table .field .title {
            float: left;
            width: 80px;
        }

        .table .field .title div:first-child {
            text-transform: uppercase;
        }

        .table .field .field .title div:last-child {
            font-size: 13px;
        }

        .table td {
            clear: both;
        }

        .table .area {
            height: 30px;
            margin-left: 81px;
            font-size: 14px
        }
        .description {
            width: 900px;
        }

        .description .text {
            font-size: 14px;
            float: left;
            line-height: 1.3;
        }

        .description .square {
            font-size: 14px;
            text-align: center;
            padding-top: 10px;
            border: solid;
            height: 80px;
            width: 120px;
            float: right;
        }

        .description .agree {
            font-style: italic;
            font-size: 15px;
            float: left;
            font-weight: bold;
            margin-top: 30px;
        }

        .description .agree .fields {
            display: inline-block;
        }

        .description .agree .fields div {
            display: inline-block;
            margin-right: 5px;
        }

        .description .agree div:last-child {
            margin-right: 0px;
        }
        .bottom .permission {
            float: left;
            width: 395px;
        }

        .bottom .permission-table {
            padding: 10px;
            width: 390px;
        }

        .bottom .permission-table td {
            padding: 5px;
        }

        .bottom .permission-table .field {
            font-size: 15px;
        }

        .bottom .permission-table .field .title {
            float: left;
            width: 40%;
        }

        .bottom .permission-table .field .title div:first-child {
            text-transform: uppercase;
        }

        .bottom .permission-table .field .title div:last-child {
            font-size: 13px;
        }

        .bottom .permission-table .field .area {
            height: 30px;
            margin-left: 41%;
        }

        .bottom .permission {
            width: 900px;
        }

        .bottom .permission-table {
            padding: 10px;
            width: 900px;
            border-top: solid 2px #000000;
        }

        .bottom .permission-table td {
            padding: 5px;
        }

        .bottom .permission-table .field {
            font-size: 15px;
        }

        .bottom .permission-table .field .title {
            float: left;
            width: 40%;
        }

        .bottom .permission-table .field .title div:first-child {
            text-transform: uppercase;
        }

        .bottom .permission-table .field .title div:last-child {
            font-size: 13px;
        }

        .bottom .permission-table .field .area {
            height: 30px;
            margin-left: 41%;
        }
        .signature {
            border: solid 2px;
            float: right;
            width: 200px;
            padding: 5px;
            font-size: 14px;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
<body>
</head>
<div class="document">

    {% set organization = null %}
    {% set tourist = null %}
    {% set hotel = null %}


    {% set arrival = null %}
    {% set departure = null %}

    {% if package.begin %}
        {% set arrival = package.begin|date('d.m.Y') %}
    {% endif %}

    {% if package.end %}
        {% set departure = package.end|date('d.m.Y') %}
    {% endif %}

    {% if package.arrivalTime %}
        {% set arrival = package.arrivalTime|date('d.m.Y') %}
    {% endif %}

    {% if package.departureTime %}
        {% set departure = package.departureTime|date('d.m.Y') %}
    {% endif %}


    {% if package.roomType and package.roomType.hotel %}
        {% set hotel = package.roomType.hotel %}
    {% endif %}

    {% if hotel and hotel.organization %}
        {% set organization = hotel.organization %}
    {% endif %}

    <div class="document">
        {% for tourist in package.tourists %}
            <div>
                <table class="header">
                    <tr>
                        <td style="width: 20%">
                            <div style="font-weight: bold;">Registration Card</div>
                            <small>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.registratsionnaya.kartochka'|trans }} </small>
                        </td>
                        <td>
                            <div style="font-weight: bold; text-align: center;font-size: 20px">
                                {% if organization %}{{ organization.name }}{% endif %}
                            </div>
                        </td>
                        <td style="width: 20%">
                            {% if hotel.logoImage %}
                                <img src="{{ absolute_url(asset(vich_uploader_asset(hotel.logoImage, 'imageFile')|imagine_filter('scaler'))) }}">
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <table class="table">
                    <tbody>
                    <tr>
                        <td colspan="4" style="width: 33%">
                            <div class="field">
                                <div class="title">
                                    <div>Surname</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.familiya'|trans }} </div>
                                </div>
                                <div class="area">{% if tourist %}{{ tourist.lastName }}{% endif %}</div>
                            </div>
                        </td>
                        <td colspan="4" style="width: 33%">
                            <div class="field">
                                <div class="title" style="width: 100px">
                                    <div>First name</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.imya'|trans }} </div>
                                </div>
                                <div class="area"
                                     style="margin-left: 101px">{% if tourist %}{{ tourist.firstName }}{% endif %}</div>
                            </div>
                        </td>
                        <td colspan="4" style="width: 33%">
                            <div class="field">
                                <div class="title" style="width: 100px">
                                    <div>Patronymic</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.otchestvo'|trans }} </div>
                                </div>
                                <div class="area"
                                     style="margin-left: 101px">{% if tourist %}{{ tourist.patronymic }}{% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width: 33%">
                            <div class="field">
                                <div class="title" style="width: 100px;">
                                    <div>Nationality</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.grazhdanstvo'|trans }} </div>
                                </div>
                                <div class="area"
                                     style="margin-left: 100px;">{% if tourist and tourist.citizenshipTld %}{{ get_country(tourist.citizenshipTld).name }}{% endif %}</div>
                            </div>
                        </td>
                        <td colspan="4" style="width: 33%">
                            <div class="field">
                                <div class="title" style="width: 40px;">
                                    <div>Sex</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.pol'|trans }} </div>
                                </div>
                                <div class="area"
                                     style="margin-left: 40px;">{% if tourist and tourist.sex != 'unknown' %} {{ ('form.touristType.sex_' ~ tourist.sex)|trans }} / {{ tourist.sex|first|upper }} {% endif %}</div>
                            </div>
                        </td>
                        <td colspan="4" style="width: 33%">
                            <div class="field">
                                <div class="title">
                                    <div>Company</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.firma'|trans }} </div>
                                </div>
                                <div class="area">{% if package.order and package.order.organization %} {{ package.order.organization.name }} {% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="field">
                                <div class="title" style="width: 120px;">
                                    <div>Date of birth</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.data.rozhdeniya'|trans }} </div>
                                </div>
                                <div class="area"
                                     style="margin-left: 120px;">{% if tourist and tourist.birthday %}{{ tourist.birthday|date('d.m.Y') }}{% endif %}</div>
                            </div>
                        </td>
                        <td colspan="9">
                            <div class="field">
                                <div class="title" style="width: 130px;">
                                    <div>Place of birth</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.mesto.rozhdeniya'|trans }} </div>
                                </div>
                                <div class="area"
                                     style="margin-left: 130px;">{% if tourist and tourist.birthplace and tourist.birthplace.countryTld and tourist.birthplace.city %}{{ get_country(tourist.birthplace.countryTld).name ~ ' ' ~ tourist.birthplace.mainRegion ~ '  ' ~ tourist.birthplace.city ~ ' ' ~ tourist.birthplace.settlement }}{% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="field">
                                <div class="title">
                                    <div>Pass №</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.passport'|trans }} №</div>
                                </div>and tourist.documentRelation.series
                                <div class="area" style="height: 38px !important;">{% if tourist and tourist.documentRelation %} {% if tourist.documentRelation.series %} {{ tourist.documentRelation.series }}{% endif %} {% if tourist.documentRelation.number %}{{ tourist.documentRelation.number }}{% endif %} {% endif %}</div>
                            </div>
                        </td>
                        <td colspan="6">
                            <div class="field">
                                <div class="title">
                                    <div>Issued by</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.vydan'|trans }} </div>
                                </div>
                                <div class="area" style="height: 38px !important;">
                                    {% if tourist and tourist.documentRelation  %}
                                        {% if tourist.documentRelation.authorityOrganId %} {{ get_authority_organ(tourist.documentRelation.authorityOrganId).name }} {% endif %}
                                        {% if tourist.documentRelation.issued %} {{ tourist.documentRelation.issued|date('d.m.Y') }} {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <div class="field">
                                <div class="title">
                                    <div>Country</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.strana'|trans }} </div>
                                </div>
                                <div class="area">{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.countryTld %} {{ get_country(tourist.addressObjectDecomposed.countryTld).name }} {% endif %}</div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="field">
                                <div class="title">
                                    <div>Zip-code</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.indeks'|trans }} </div>
                                </div>
                                <div class="area">{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.zipCode %} {{ tourist.addressObjectDecomposed.zipCode }} {% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="field">
                                <div class="title" style="width:110px">
                                    <div>Base Region</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.subekt-rf'|trans }}</div>
                                </div>
                                <div class="area"
                                     style="margin-left: 110px">{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.regionId %} {{ get_region(tourist.addressObjectDecomposed.regionId).name }} {% endif %}</div>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="field">
                                <div class="title" style="width: 55px">
                                    <div>City</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.gorod'|trans }} </div>
                                </div>
                                <div style="margin-left: 56px"
                                     class="area">{% if tourist and tourist.addressObjectDecomposed and tourist.addressObjectDecomposed.city %} {{ tourist.addressObjectDecomposed.city }} {% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="field">
                                <div class="title">
                                    <div>Street</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.ulitsa'|trans }} </div>
                                </div>
                                <div class="area">{% if tourist and tourist.addressObjectDecomposed %} {{ tourist.addressObjectDecomposed.street }} {% endif %}</div>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="field">
                                <div class="title" style="width: 55px">
                                    <div>Rate</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.tarif'|trans }} </div>
                                </div>
                                <div style="margin-left: 56px"
                                     class="area">{% if package.tariff %}{{ package.tariff.name }}{% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="field">
                                <div class="title">
                                    <div>Arrival</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.pribytiye'|trans }} </div>
                                </div>
                                <div class="area">{{ arrival }}</div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="field">
                                <div class="title" style="width: 100px;">
                                    <div>Departure</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.otezd'|trans }}</div>
                                </div>
                                <div class="area" style="margin-left: 101px">{{ departure }}</div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="field">
                                <div class="title">
                                    <div>Persons</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.kol_gostey'|trans }}</div>
                                </div>
                                <div class="area">{{ package.adults + package.children }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="field">
                                <div class="title">
                                    <div>Type</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.tip'|trans }} </div>
                                </div>
                                <div class="area">{% if package.accommodation and package.accommodation.roomType %}{{ package.accommodation.roomType.internationalTitle }}{% endif %}</div>
                            </div>
                        </td>
                        <td colspan="6">
                            <div class="field">
                                <div class="title">
                                    <div>Room</div>
                                    <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.nomer'|trans }} </div>
                                </div>
                                <div class="area">{% if package.accommodation %}{{ package.accommodation.fullTitle }}{% endif %}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="description">
                    <div class="text">
                        You will find in your room the list of services that our hotel provides. <br>
                        <strong>The checking-out time at the hotel is {{ departureTimeDefault }}:00. The checking time in
                            the hotel is {{ arrivalTimeDefault }}:00.</strong><br>
                        The smoking is allowed only in designated places. <br>
                        The management is not responsible for your money and valuables not deposited in the hotel's
                        safe.
                        <br>
                        The guests may entertain visitors in hotel room after notifying the management from 9 a.m. till
                        11
                        p.m. <br>
                        The guests are kindly requested to keep rooms clean and in order. <br>
                        The guests will have to pay the cost of damaged or lost property of the hotel. <br>
                        <strong>Return of money is possible only at presence of the check confirming the
                            payment</strong>.
                        <br>
                    </div>
                    <div class="square">
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.oplacheno'|trans }}<br>
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.do'|trans }}<br>
                        {% if package.end %}{{ package.end|date('d.m.Y') }} <br> 12:00 {% endif %}
                    </div>
                    <div class="text">
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.nasha_gostinica_predostavlaet_uslugi_etc'|trans }}
                        . <br>
                        <strong>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.viezd_gostey_ne_pozdnee_etc'|trans }}</strong>.
                        <br>
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.kurenie_v_nashey_gostinice_zapresheno_etc'|trans }}
                        . <br>
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.za_sohranenie_deneg_i_cennih_veshey_ne_sdannih_na_hranenie_etc'|trans }}
                        . <br>
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.postoronnie_lica_po_prosbe_prozhivaushih_etc'|trans }}
                        . <br>
                        {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.v_sluchae_porchi_ili_uteri_imushestva_etc'|trans }}
                        . <br>
                        <strong>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.vozvrat_denezhnih_sredstv_proizvodica_etc'|trans }}</strong>.
                        <br>
                    </div>
                    <div class="agree">
                        <div style="display: inline-block;float: left">{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.s_usloviyami_oplati_vozvrata_i_etc'|trans }}
                        </div>
                        &nbsp
                        <div class="fields">
                            <div>
                                <div style="width: 170px" class="area">&nbsp</div>
                                <div style="display: block; font-size: 12px; font-weight: normal;">
                                    SIGNATURE {{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.podpis'|trans }}</div>
                            </div>
                            <div>
                                <div style="width: 140px" class="area">
                                    &nbsp{% if tourist %}{{ tourist|initial }}{% endif %}</div>
                                <div style="display: block; font-size: 12px; font-weight: normal;">{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.rasshifrovka.podpisi'|trans }} </div>
                            </div>
                            <div>
                                <div style="width: 90px" class="area">&nbsp{{ 'now'|date('d.m.Y') }}</div>
                                <div style="display: block; font-size: 12px; font-weight: normal;">{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.data'|trans }} </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div style="border-top: dashed 1px #000000; margin: 20px 0px"></div>

                <div class="bottom">
                    <div class="permission">
                        <div style="text-align: center;">
                            <div style="font-weight: bold;">{% if organization %}{{ organization.name }}{% endif %}</div>
                            <div style="font-weight: bold;font-size: 15px;margin: 10px 0px;">{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.razresheniye.na.poseleniye'|trans }} </div>
                        </div>
                        <table class="permission-table">
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width: 100px">
                                            <div>Surname</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.familiya'|trans }} </div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 101px">{% if tourist %}{{ tourist.lastName }}{% endif %}</div>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width: 100px">
                                            <div>First name</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.imya'|trans }} </div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 101px">{% if tourist %}{{ tourist.firstName }}{% endif %}</div>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="title" style="width: 110px">
                                            <div>Patronymic</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.otcestvo'|trans }}</div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 111px">{% if tourist %}{{ tourist.patronymic }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 40px">
                                            <div>Sex</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.pol'|trans }} </div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 41px">{% if tourist and tourist.sex %} {{ ('form.touristType.sex_' ~ tourist.sex)|trans }} / {{ tourist.sex|first|upper }} {% endif %}</div>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 130px">
                                            <div>Date of birth</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.data.rozhdeniya'|trans }} </div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 131px">{% if tourist and tourist.birthday %} {{ tourist.birthday|date('d.m.Y') }} {% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 100px">
                                            <div>Arrival</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.pribytiye'|trans }} </div>
                                        </div>
                                        <div class="area" style="margin-left: 101px">{{ arrival }}</div>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width: 100px">
                                            <div>Departure</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.otezd'|trans }}</div>
                                        </div>
                                        <div class="area" style="margin-left: 101px">{{ departure }}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width:60px">
                                            <div>Type</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.tip'|trans }} </div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 61px">{% if package.accommodation and package.accommodation.roomType %}{{ package.accommodation.roomType.internationalTitle }}{% endif %}</div>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="field">
                                        <div class="title" style="width:60px">
                                            <div>Room</div>
                                            <div>{{ 'mbhpackagebundle.view.documents.pdftemplates.registration_card.nomer'|trans }} </div>
                                        </div>
                                        <div class="area"
                                             style="margin-left: 61px">{% if package.accommodation %}{{ package.accommodation.fullTitle }}{% endif %}</div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div style="font-size: 14px;">
                            Я,____________________________________________________________в соответствии с ФЗ № 152-ФЗ от 27.07.2006, даю {% if organization %}{{ organization.name }}{% endif %} согласие на обработку персональных данных, а именно: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление), обезличивание, удаление сроком на 14 (четырнадцать) месяцев. Порядок отзыва настоящего согласия мне понятен.
                        </div>
                        <div class="signature">
                            <div>SIGNATURE</div>
                            <small>{{ 'mbhpackagebundle.view.documents.pdftemplates.PPodpis'|trans }}</small>
                        </div>

                    </div>
                </div>

                {% if loop.index < package.tourists|length %}
                    <div style="page-break-after: always;"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>