{% extends 'MBHBaseBundle::login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LcuCJQUAAAAAD3PVGAYDBQWL-q5cuKo1YJTjybn" ></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LcuCJQUAAAAAD3PVGAYDBQWL-q5cuKo1YJTjybn', {action: 'login'}).then(function(token) {
                document.getElementById('inv_captcha').value = token;
                $('button[name=_submit]').attr("disabled", false);
            });
        });
        setTimeout(() => {
            $('button[name=_submit]').attr("disabled", false);
        }, 5000);
    </script>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group has-feedback">
            {#<label for="username">{{ 'resetting.request.username'|trans }}</label>#}
            <input type="text" name="username" class="form-control"
                   placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required="required">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <input type="hidden" name="re_token" id="inv_captcha">

        <div class="row margin-left-sm">
            <div class="col-xs-5">
                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                </a>
            </div>
            <div class="col-xs-7">
                <button type="submit" name="_submit" class="btn btn-primary btn-block btn-flat">
                    <i class="fa fa-refresh"></i> {{ 'resetting.request.submit'|trans }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
