{% extends 'MBHBaseBundle::login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group has-feedback">
            {#<label for="username">{{ 'resetting.request.username'|trans }}</label>#}
            <input type="text" name="username" class="form-control"
                   placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required="required">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group g-recaptcha" data-sitekey="{{ recaptcha.site }}"></div>

        <div class="row margin-left-sm">
            <div class="col-xs-offset-5 col-xs-7">
                <button type="submit" name="_submit" class="btn btn-primary btn-block btn-flat">
                    <i class="fa fa-refresh"></i> {{ 'resetting.request.submit'|trans }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}