{% extends 'MBHHotelBundle:Hotel:layout.html.twig' %}

{% set small_title = 'views.hotel.images.editing_number'|trans({}, 'MBHHotelBundle') ~ entity.id %}
{% set layout = "tabs" %}

{% form_theme images_form '@MBHHotel/Hotel/fieldsGroupWithButton.html.twig' %}
{% form_theme panorama_form '@MBHHotel/Hotel/fieldsGroupWithButton.html.twig' %}

{% block scripts %}
    {{ parent() }}

    {% javascripts filter='uglifyjs2'
        'assets/vendor/croppie/croppie.min.js'
        '@MBHHotelBundle/Resources/public/js/hotel-image/010-image-crop.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss'
        'assets/vendor/croppie/croppie.css'%}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block content %}
    {% include 'MBHHotelBundle:Hotel:tabs.html.twig' with {'active': 4, 'entity': entity} %}
    <div class="tab-content">
        {{ form_start(images_form, {'action': path('hotel_images', {'id': entity.id}),  'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(images_form) }}
        {{ form_end(images_form) }}
        {% include '@MBHHotel/Hotel/image-list.html.twig' with {images: images} %}

        {{ form_start(panorama_form, {'action': path('hotel_images', {'id': entity.id}),  'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(panorama_form) }}
        {{ form_end(panorama_form) }}

        {% if mainImage is not null %}
            {% include '@MBHHotel/Hotel/image-list.html.twig' with {images: [mainImage]} %}
        {% endif %}

        {% embed '@MBHBase/Actions/base_list.html.twig' %}
            {% block left %}
                <li>
                    <button type="button" onclick="location.href = '{{ title_url }}'"
                            class="btn btn-default navbar-btn">
                        <i class="fa fa-ban"></i><span>&nbsp;{{ 'views.actions.saveButtons.cancel'|trans({}, 'MBHBaseBundle') }}</span>
                    </button>
                </li>
            {% endblock %}
        {% endembed %}
    </div>

    <div class="modal fade" id="upload-image-details-modal" role="dialog">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">{{ 'hotel_images.download'|trans }}</h4>
                </div>
                <div class="modal-body" id="upload-image-details-modal-body">
                    <form id="panorama-image-form" method="post">
                        <input type="hidden" id="imagebase64" name="imagebase64">
                        <input type="hidden" name="panorama_image" value="true">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;{{ 'modal.chessBoard.close'|trans }}
                    </button>
                    <button type="submit" class="btn btn-primary" id="upload-image-details-modal-save-button">
                        {{ 'modal.chessBoard.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block form_row %}

{% endblock %}

