{% extends 'MBHHotelBundle:Hotel:layout.html.twig' %}

{% set small_title = 'views.hotel.notFound.error'|trans %}

{% block content %}

    <div class="alert alert-danger" role="alert">
        {% if is_granted('ROLE_ADMIN') %}
            <strong>{{ 'views.hotel.notFound.no_hotel_created'|trans({}, 'MBHHotelBundle') }}</strong>{{ 'views.hotel.notFound.create_new_hotel_to_continue'|trans({}, 'MBHHotelBundle') }}
            <a href="{{ path('hotel_new') }}" class="btn btn-success btn-xs"><i class="fa fa-plus"> </i> {{ 'views.hotel.notFound.create_hotel'|trans({}, 'MBHHotelBundle') }}</a>
        {% else %}
            <strong>{{ 'views.hotel.notFound.you_have_no_permissions'|trans({}, 'MBHHotelBundle') }}</strong> {{ 'views.hotel.notFound.ask_admin'|trans({}, 'MBHHotelBundle') }}
        {% endif %}
    </div>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'hotel_new'} %}

{% endblock %} 
