{% extends "MBHPriceBundle:Promotion:layout.html.twig" %}
{% set layout = "box" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="td-xxs"></th>
            <th>{{ 'price.views.promotion.index.name'|trans({},'MBHPriceBundle') }}</th>
            <th class="text-center td-md">{{ 'price.views.promotion.index.individual'|trans({},'MBHPriceBundle') }}</th>
            <th class="td-md">{{ 'price.views.promotion.index.discount'|trans({},'MBHPriceBundle') }}</th>
            <th class="td-sm"><i class="fa fa-male" data-toggle="tooltip" title="{{ 'price.views.promotion.index.adults'|trans({},'MBHPriceBundle') }}"></i></th>
            <th class="td-sm"><i class="fa fa-child" data-toggle="tooltip" title="{{ 'price.views.promotion.index.children'|trans({},'MBHPriceBundle') }}"></i></th>
            <th class="td-sm"></th>
        </tr>
    </thead>
    <tbody>
    {% for promotion in promotions %}
        <tr>
            <th class="td-xxs"><i class="fa fa-bookmark"></i></th>
            <td>
                {% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': promotion, 'route': 'promotion'} %}{% endembed %}
            </td>
            <td class="text-center">
                {% if promotion.isIndividual %}
                    <span class="label label-success">{{ 'price.views.promotion.index.yes'|trans({},'MBHPriceBundle') }}</span>
                {% endif %}
            </td>
            <td>
                {% if promotion.discount %}
                    {{ promotion.discount }}
                    {{ promotion.isPercentDiscount ? '%' : ('<i class="' ~ currency().icon ~ '"></i>')|raw }}
                {% endif %}
            </td>
            <td>
                {{ promotion.freeAdultsQuantity }}
            </td>
            <td>
                {{ promotion.freeChildrenQuantity }}
            </td>
            <td class="text-center">
                <div class='btn-list'>
                    {% if is_granted('ROLE_PROMOTION_EDIT') %}
                        <a href='{{ path('promotion_edit', {'id': promotion.id }) }}' class='btn btn-success btn-xs' title='{{ 'price.views.promotion.index.edit'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'>
                            <i class='fa fa-pencil-square-o'></i>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_PROMOTION_DELETE') %}
                        <a href='{{ path('promotion_delete', {'id': promotion.id }) }}' class='btn btn-danger btn-xs delete-link ' title='{{ 'price.views.promotion.index.delete'|trans({},'MBHPriceBundle') }}' data-toggle='tooltip'>
                            <i class='fa fa-trash-o'></i>
                        </a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'promotion_new', 'role': 'promotion'} %}

{% endblock content %}