{% extends "MBHPriceBundle:Promotion:layout.html.twig" %}
{% set layout = "box" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="td-xxs"></th>
            <th>Название</th>
            <th>Индивидуальная</th>
            <th>В процентах</th>
            <th>Скидка</th>
            <th>Комментарий</th>
            <th class="td-sm"></th>
        </tr>
    </thead>
    <tbody>
    {% for promotion in promotions %}
        <tr>
            <th class="td-xxs"><i class="fa fa-bookmark"></i></th>
            <td>
                {% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': promotion, 'route': 'promotion'} %}{% endembed %}
            </td>
            <td>
                {% if promotion.isIndividual %}
                    <span class="label label-success">Да</span>
                {% endif %}
            </td>
            <td>
                {% if promotion.isPercentDiscount %}
                    <span class="label label-success">Да</span>
                {% endif %}
            </td>
            <td>
                {{ promotion.discount }}
                {{ promotion.isPercentDiscount ? '%' : ('<i class="' ~ currency().icon ~ '"></i>')|raw }}
            </td>
            <td>{{ promotion.comment }}</td>
            <td class="text-center">
                <div class='btn-list'>
                    {% if app.security.granted('ROLE_PROMOTION_EDIT') %}
                        <a href='{{ path('promotion_edit', {'id': promotion.id }) }}' class='btn btn-success btn-xs' title='Редактирование записи' data-toggle='tooltip'>
                            <i class='fa fa-pencil-square-o'></i>
                        </a>
                    {% endif %}
                    {% if app.security.granted('ROLE_PROMOTION_DELETE') %}
                        <a href='{{ path('promotion_delete', {'id': promotion.id }) }}' class='btn btn-danger btn-xs delete-link ' title='Удаление записи' data-toggle='tooltip'>
                            <i class='fa fa-trash-o'></i>
                        </a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'promotion_new', 'role': 'promotion'} %}

{% endblock content %}