{{ form_row(form.fullTitle) }}
{{ form_row(form.title) }}
{{ form_row(form.price) }}
{{ form_row(form.margin) }}
{{ form_row(form.costPrice) }}
{{ form_row(form.is_margin) }}
{{ form_row(form.description) }}
<div class="dish-item-ingredients form-group form-inline">
    {{ form_label(form.dishIngredients) }}
    <div class="col-sm-6">
        <ul>
            {% if form.dishIngredients|length %}
                {% for dishIngredient in form.dishIngredients %}
                    <li>
                        <div>
                            <div> {{ form_widget(dishIngredient.amount) }} </div>
                            <small>{{ dishIngredient.amount.vars.help }}</small>
                        </div>
                        <div>
                            <div>{{ form_widget(dishIngredient.ingredient) }} </div>
                                <span class="help-block">
                                    <small class="currentprice">{{ dishIngredient.vars.value.ingredient.price ~ currency()['text']}}{{ ('unit.'~ dishIngredient.vars.value.ingredient.calcType)| trans }}</small>
                                </span>
                        </div>
                        <i class="fa fa-times"></i>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <a data-prototype="
                <div>
                    <div>{{ form_widget(form.dishIngredients.vars.prototype.amount)|e }}</div>
                    <small></small>
                </div>
                <div>
                    <div>{{ form_widget(form.dishIngredients.vars.prototype.ingredient)|e }}</div>
                    <span class='help-block'>
                        <small class='currentprice'></small>
                    </span>
                </div>
                {{ '<i class="fa fa-times"></i> '|e }}"
           class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Добавить</a>
    </div>
</div>
