{% extends 'MBHBaseBundle::page.html.twig' %}

{% block body %}

    <div class="lockscreen-wrapper">

        <div class="alert alert-primary text-center">
            <div>
                <i class="fa fa-spinner fa-spin"></i> {{ 'mbhuserbundle.view.workshift.wait.vashasmenazablokirovanaiozhidayetsdachi'|trans }} .
            </div>
            <div>
                {{ 'mbhuserbundle.view.workshift.wait.dlitelʹnostʹ'|trans }} : {{ workShift.duration.format('%h ч. %i мин.') }}
            </div>
            <div>
                {{ 'mbhuserbundle.view.workshift.wait.kassa'|trans }} : {{ workShift.cashIncomeTotal|number_format(2) }} {{ 'mbhuserbundle.view.workshift.wait.rub'|trans }} .
            </div>
        </div>

        <div class="login-box lockscreen-item" style="width: 380px">
            {% block messages %}
                {% include 'MBHBaseBundle::messages.html.twig' %}
            {% endblock %}
            <div class="login-logo">
                <a href="{{ path('_welcome') }}"><b>Maxi</b>Booking</a>
            </div>

            <div class="text-center">
                <div class="btn-group">
                    <a href="{{ path('work_shift_start', {id: workShift.id}) }}" class="btn btn-info btn-lg"><i class="fa fa-clock-o"> {{ 'mbhuserbundle.view.workshift.wait.vozobnovitʹ'|trans }} </i></a>
                    <!--<a href="#" class="btn btn-info btn-lg"><i class="fa fa-report"> {{ 'mbhuserbundle.view.workshift.wait.otchet'|trans }} </i></a>-->
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-lg"><i class="fa fa-sign-out"></i> {{ 'mbhuserbundle.view.workshift.wait.vyyti'|trans }} </a>
                </div>
            </div>
            <div class="login-box-body">

            </div>
        </div>
    </div><!-- /.center -->

{% endblock %}