{% extends "MBHChannelManagerBundle::layout.html.twig" %}

{% set title = "HomeAway" %}
{% set title_url = path('homeaway') %}

{% set small_title = 'views.channnelmanager.settings'|trans({}, 'MBHChannelManagerBundle') %}
{% set layout = 'tabs' %}
{% set isRoomSynchronized = false %}

{% set menu = [
{'route': 'homeaway', 'title': '<i class="fa fa-info-circle"></i>'~'views.tabs.main_settings'|trans({}, 'MBHChannelManagerBundle')},
{'route': 'homeaway_room', 'title': '<i class="fa fa-bed"></i>'~'views.tabs.room_types'|trans({}, 'MBHChannelManagerBundle')},
] %}

{% block content %}
    {% for room in config.rooms %}
        {% if room.isEnabled == true and room.rentalAgreement is not empty %}
            {% set isRoomSynchronized = true %}
        {% endif %}
    {% endfor %}

    {% if config and isRoomSynchronized == false %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>&nbsp;
            {{ 'channelmanager.homeaway.empty.config'|trans({}, 'MBHChannelManagerBundle') }}
        </div>
    {% endif %}
    <ul class="nav nav-tabs" role="tablist">
        {% for item in menu %}
            {% if (config is null or not config.isEnabled) and loop.index != 1 %}
                <li class="disabled">
                    <a href="#" role="tab" data-toggle="tooltip"
                       title="{{ 'views.tabs.must_fill_main_settings'|trans({}, 'MBHChannelManagerBundle') }}">{{ item.title|raw }}</a>
                </li>
            {% else %}
                <li {% if loop.index == active %}class="active"{% endif %}>
                    <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"
                       {% else %}href="{{ path(item.route) }}"{% endif %}>{{ item.title|raw }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% block innerContent %}
    {% endblock %}
{% endblock %}