{% extends 'MBHChannelManagerBundle:HomeAway:layout.html.twig' %}

{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 2, 'entity': config, base: 'homeaway', services: false } %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="well">
                <p>{{ 'homeaway.rooms.connection_instructions.text1'|trans }}</p>
                <p>{{ 'homeaway.rooms.connection_instructions.text2'|trans }}</p>

                <p>{{ 'homeaway.rooms.connection_instructions.text3'|trans }}</p>
                <ol class="btm-pd">
                    {#{% for itemNumber in 1..7 %}#}
                        {#<li>#}
                            {#{{ ('airbnb.rooms.connection_instructions.list.text' ~ itemNumber)|trans|raw }}#}
                        {#</li>#}
                    {#{% endfor %}#}
                    <li>
                        instructions steps here
                    </li>
                </ol>

            </div>
            {{ form_start(form, {'action': path('homeaway_room'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include '@MBHChannelManager/Airbnb/actions.html.twig' with {route: 'homeaway_room'}%}
            {{ form_end(form) }}

            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {% endif %}
        </div>
    </div>
{% endblock %}
