{% if services is not defined %}
    {% set services = true %}
{% endif %}

{% set menu = [
    {'route': base, 'title': '<i class="fa fa-info-circle"></i>'~'views.tabs.main_settings'|trans({}, 'MBHChannelManagerBundle')},
    {'route': base ~ '_room', 'title': '<i class="fa fa-bed"></i>'~'views.tabs.room_types'|trans({}, 'MBHChannelManagerBundle')},
    {'route': base ~ '_tariff', 'title': '<i class="fa fa-sliders"></i>'~'views.tabs.tariffs'|trans({}, 'MBHChannelManagerBundle')}
]
%}

{% if services %}
    {% set menu = menu|merge([
            {'route': base ~ '_service', 'title': '<i class="fa fa-plug"></i>'~'views.tabs.services'|trans({}, 'MBHChannelManagerBundle')}
        ])
    %}
{% endif %}

{% if entity and (entity.rooms.count == 0 or entity.tariffs.count == 0 or entity.hotelId is empty) %}
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>&nbsp;
        {{ 'channelmanager.empty.config'|trans({}, 'MBHChannelManagerBundle') }}
    </div>
{% endif %}

{% if entity is defined and entity is not null %}
{%  set notifications = mbh_channelmanager_get_notifications(entity) %}
{% if notifications|length %}
    <div class="alert alert-warning">
        {% for entry in notifications %}
            <p>
                <i class="fa fa-exclamation-circle"></i>&nbsp;
                {{ entry|trans }}
            </p>
        {% endfor %}
    </div>
{% endif %}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    {% if (entity is null or not entity.isEnabled) and loop.index != 1 %}
        <li class="disabled">
            <a href="#" role="tab" data-toggle="tooltip"
               title="{{ 'views.tabs.must_fill_main_settings'|trans({}, 'MBHChannelManagerBundle') }}">{{ item.title|raw }}</a>
        </li>
    {% else  %}
        <li {% if loop.index == active %}class="active"{% endif %}>
            <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
        </li>
    {% endif  %}
{% endfor %}
</ul>
