{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="btn-group" data-toggle="buttons">
            {% for child in form %}
                <label {% for k, a in child.vars.attr %} {{ k }}="{{ a }}" {% endfor %} class="btn btn-sm btn-default {% if child.vars.checked %} active{% endif %}">
                    <input type="radio" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} />
                    {{ child.vars.label|trans }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_widget_compound %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {% if errors|length > 0 %}
                <div class="alert alert-danger global-errors">{{ form_errors(form) }}</div>{% endif %}
        {% endif %}

        {% set groups = {'form.main.group': form.children|keys} %}
        {% if form.vars.groups is defined %}
            {% set groups = form.vars.groups %}
        {% endif %}

        {% for group, items in groups %}
            {% if group != 'no-group' and form.vars.hasGroups != false %}
            <div class="box box-default box-solid" {% if form.vars.nonDisplayGroups is defined and group in form.vars.nonDisplayGroups %} style="display: none;" {% endif %}>

                <div class="box-header with-border">
                    <h3 class="box-title">{{ group|trans }}</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool form-group-collapse" data-widget="collapse"
                                id="{{ id }}-group-{{ loop.index }}"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    {{ block('drawForm') }}
                </div>
            </div>
            {% else %}
                {{ block('drawForm') }}
            {% endif %}
        {% endfor %}

        {{ form_rest(form) }}
    </div>
{% endblock form_widget_compound %}

{% block drawForm %}
    {% for item in items %}
        {{ form_row(form[item]) }}
    {% endfor %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        {% if form.vars['embedded'] is defined and form.vars['embedded'] == true %}
            {{ form_widget(form) }}
        {% else %}
        {% set isMultiLanguageField = form.vars['languages'] is defined %}
        <div class="form-group {% if errors|length > 0 %} has-error{% endif %} {% if isMultiLanguageField %} multi-languages-field {% endif %}"
                {% if isMultiLanguageField %}data-language="{{ form.vars['language'] }}"{% endif %}
                {% if isMultiLanguageField and form.vars['languages']|length != 1 and form.vars['language'] != form.vars['defaultLang'] %}style="display: none;" {% endif %}>
            {{ form_label(form) }}
            <div class="col-sm-6">
                {{ form_widget(form) }}
                {% if help is not null %}
                    <span class="help-block"><small>{{ help|trans|raw }}</small></span>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if errors|length > 0 %}
                    <span class="text-danger text-left input-errors">{{ form_errors(form) }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block time_widget %}
    <div class="bootstrap-timepicker timepicker" style="width: 60px">{{- form_widget(form) -}}</div>
{% endblock %}

{%- block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date) -}}
            <div class="bootstrap-timepicker">{{- form_widget(form.time) -}}</div>
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}

{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-sm-2')|trim}) %}

            <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}{% if required %}&nbsp;<span class="required-star text-danger">*</span>{% endif %}
            {% if form.vars['languages'] is defined and form.vars['languages']|length > 1 %}
                <br>
                <div style="float: right;">
                <ul class="nav nav-pills">
                    {% for language in form.vars['languages'] %}
                        <li role="presentation" {% if language == form.vars['language'] %}class="active"{% endif %}>
                            <a style="cursor: pointer;" data-language="{{ language }}" class="multi-language-select-option">{{ language }}</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}

    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type != 'file' %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
        {% endif %}
        {% if addon or addonText or preAddonText %}<div class="input-group">{% endif %}
        {% if preAddonText %}
            <span class="input-group-addon">
                {{ preAddonText }}
            </span>
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% if addon or addonText %}
            <span class="input-group-addon">
                {% if addon %}
                    <i class="{{ addon }}"></i>
                {% endif %}
                {% if addonText %}
                    {{ addonText }}
                {% endif %}
            </span>
            </div>{% endif %}

    {% endspaceless %}
{% endblock form_widget_simple %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple {% endif %}>
            {% if placeholder is not none %}
                <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% else %} value=""{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message|raw }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block roles_widget %}

    {% set exists = {} %}

    {% if form.parent.vars.value.groups is defined %}
        {% for group in form.parent.vars.value.groups %}
            {% set exists = exists|merge(group.roles) %}
        {% endfor %}
    {% endif %}

    {% set ids = {} %}

    {% for parent in form.vars.choices %}
        {% for child in parent.choices %}
            {% set ids = ids|merge({(child.label): child.value}) %}
        {% endfor %}
    {% endfor %}

    {% for parent in form.vars.choices %}

        {% set label = parent.label|replace({'__GROUP': ''}) %}

        <div class="box roles-widget collapsed-box">
            <div class="box-header" style="background-color: #efefef;">
                <h3 class="box-title">
                    <label style="cursor: pointer;">
                        <input type="checkbox" {{ label in form.vars.data ? 'checked="checked"'}} class="flat-green plain-html" name="{{ form.vars.full_name }}" value="{{ attribute(ids, label) }}">
                        &nbsp;
                        <span class="{{ label in exists or label in form.vars.data ? 'text-info'}}">{{ label|trans({}, form.vars.translation_domain) }}</span>
                    </label>
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool form-group-expandable show-checkboxes" id="{{ label }}"  data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                {% if parent.choices is defined%}
                    {% for child in parent.choices if label != child.label %}
                        <div class="form-group" style="padding-left: 50px;">
                            <label style="cursor: pointer;">
                                <input type="checkbox" {{ child.label in form.vars.data ? 'checked="checked"'}} class="flat-green plain-html" name="{{ form.vars.full_name }}" value="{{ child.value }}">
                                &nbsp;
                                <span class="{{ child.label in exists or child.label in form.vars.data ? 'text-info'}}">{{ child.label|trans({}, form.vars.translation_domain) }}</span>
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
