{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="btn-group" data-toggle="buttons">
            {% for child in form %}
                <label class="btn btn-sm btn-default {% if child.vars.checked %} active{% endif %}">
                    <input type="radio" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} />
                    {{ child.vars.label|trans }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_widget_compound %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {% if errors|length > 0 %}
                <div class="alert alert-danger global-errors">{{ form_errors(form) }}</div>{% endif %}
        {% endif %}

        {% set groups = {'form.main.group': form.children|keys} %}
        {% if form.vars.groups is defined %}
            {% set groups = form.vars.groups %}
        {% endif %}

        {% for group, items in groups %}

            <div class="box box-default box-solid">

                <div class="box-header with-border">
                    <h3 class="box-title">{{ group|trans }}</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool form-group-collapse" data-widget="collapse"
                                id="{{ id }}-group-{{ loop.index }}"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    {% for item in items %}
                        {{ form_row(form[item]) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {{ form_rest(form) }}
    </div>
{% endblock form_widget_compound %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if errors|length > 0 %} has-error{% endif %}">
            {{ form_label(form) }}

            <div class="col-sm-6">
                {{ form_widget(form) }}
                {% if help is not null %}
                    <span class="help-block"><small>{{ help|trans|raw }}</small></span>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if errors|length > 0 %}
                    <span class="text-danger text-left input-errors">{{ form_errors(form) }}</span>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date) -}}
            <div class="bootstrap-timepicker">{{- form_widget(form.time) -}}</div>
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-sm-2')|trim}) %}

            <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}{% if required %}&nbsp;<span class="required-star text-danger">*</span>{% endif %}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}

    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type != 'file' %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
        {% endif %}
        {% if addon %}<div class="input-group">{% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% if addon %}
            <span class="input-group-addon"><i class="{{ addon }}"></i></span>
            </div>{% endif %}

    {% endspaceless %}
{% endblock form_widget_simple %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple {% endif %}>
            {% if empty_value is not none %}
                <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% else %} value=""{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message|raw }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block roles_widget %}
    {% for parent in form.vars.choices %}

        {% set label = parent.label|replace({'__GROUP': ''}) %}

        <div class="box roles-widget">
            <div class="box-header" style="background-color: #efefef;">
                <h3 class="box-title">
                    <label style="cursor: pointer;">
                        <input type="checkbox" {{ label in form.vars.data ? 'checked="checked"'}} class="flat-green plain-html" name="{{ form.vars.full_name }}" value="{{ label }}">
                        {{ label|trans({}, form.vars.translation_domain) }}
                    </label>
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool form-group-collapse" id="{{ label }}"  data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                {% if parent.choices is defined%}
                    {% for child in parent.choices  if label != child.label %}
                        <div class="form-group" style="padding-left: 50px;">
                            <label style="cursor: pointer;">
                                <input type="checkbox"  {{ child.label in form.vars.data ? 'checked="checked"'}} class="flat-green plain-html" name="{{ form.vars.full_name }}" value="{{ child.label }}">
                                {{ child.label|trans({}, form.vars.translation_domain) }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
