{% spaceless %}
<input type="hidden" name="begin" id="room-cache-overview-begin" class="hidden" value="{{ begin|date('d.m.Y') }}">
<input type="hidden" name="end" id="room-cache-overview-end" class="hidden" value="{{ end|date('d.m.Y') }}">
{% if error is defined and error is not empty %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}
    <ul class="mbh-graph-help">
        <li><div class="bg-green disabled color-palette">3</div> - {{ 'price.resources.views.roomcache.left'|trans }}</li>
        <li><div class="bg-gray disabled color-palette">5</div> - {{ 'mbhpricebundle.view.roomcache.graph.zabronirovano'|trans }} </li>
        <li><div class="mbh-graph-cell-danger"><i class="fa text-red fa-times"></i></div> - {{ 'mbhpricebundle.view.roomcache.graph.net.dannykh'|trans }} </li>
    </ul>
    {% for roomType in data.roomTypes %}
        <div class="bg-gray color-palette mbh-graph-header">
            <i class="fa fa-bed" style="color:{{ roomType.color }};"></i>
            {{ roomType }}
        </div>
        <div class="mbh-graph-wrapper">
            <table class="table-hover custom-mobile-style" data-room-type-id="{{ roomType.id }}">
                <thead>
                <tr>
                    <th class="mbh-graph-date-th">#</th>
                    {% for date in data.dates %}
                        <th class="mbh-graph-date-th ">
                            <span class="{{ date|date('N') in [6,7] ? 'text-red' }} {{ date|date('d.m.Y') == 'now'|date('d.m.Y') ? 'text-yellow' }} ">{{ date|date('d.m') }}</span>
                            <div class="text-muted">
                            {{ date|date('Y') == 'now'|date('Y') ? weekdays[date|date('N')]|trans({}, 'front_messages')|lower : date|date('Y') }}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for i in 1..data.getMaxTotalRooms(roomType) %}
                        <tr>
                            <td class="text-center text-muted mbh-graph-cell">
                                <small>
                                    <span>{{ loop.revindex }}</span>
                                </small>
                            </td>
                            {% for date in data.dates %}
                                {% set info = data.getInfo(roomType, date) %}
                                {% set cellClass = null %}
                                {% set cellText = null %}
                                {% set cellIcon = null %}

                                {% if info.leftRooms is not defined  %}
                                    {% set cellClass = 'mbh-graph-cell-danger' %}
                                    {% set cellIcon = 'fa text-red fa-times' %}
                                {% elseif info.packageCount >= i  %}
                                    {% set cellClass = 'bg-gray disabled color-palette' %}
                                    {% set mutted = 'text-muted' %}
                                    {% if info.broken %}
                                        {% set cellClass = 'bg-yellow disabled color-palette' %}
                                        {% set mutted = '' %}
                                    {% endif %}
                                    {% if info.packageCount  == i %}
                                        {% set cellText = '<span class="' ~ mutted ~ '">' ~ info.packageCount ~ '</span>' %}
                                    {% else %}
                                        {% set cellText = '<span class="' ~ mutted ~ ' mbh-graph-hidden-info">' ~ info.packageCount ~ '</span>' %}
                                    {% endif %}
                                {% elseif info.totalRooms >= i  %}
                                    {% set cellClass = 'bg-green disabled color-palette' %}
                                    {% if info.packageCount + 1 == i %}
                                        {% set cellText = info.leftRooms %}
                                    {% else %}
                                        {% set cellText = '<span class="mbh-graph-hidden-info">' ~ info.leftRooms ~ '</span>' %}
                                    {% endif %}
                                {% endif %}
                                <td class="text-center mbh-graph-cell {{ cellClass }}" data-date="{{ date|date('d.m.Y') }}">
                                    {% if cellIcon %}
                                        <small><i class="{{ cellIcon }}"></i></small>
                                    {% elseif cellText %}
                                        <small>{{ cellText|raw }}</small>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {% if extraData is not empty %}
                        <tr style="height: 5px;">
                            <td colspan="{{ data.dates|length + 1 }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center mbh-graph-cell">
                                <small>{{ 'price.resources.views.roomcache.graph.vacancy'|trans }}</small>
                            </td>
                            {% for date in data.dates %}
                                <td class="text-center mbh-graph-cell"
                                    data-date="{{ date|date('d.m.Y') }}"
                                    data-tariff-id="common">
                                    <small>{{ extraData.getData(roomType, date).leftRooms }}</small>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="text-center mbh-graph-cell">
                                <small>{{ 'price.resources.views.roomcache.graph.arrivals'|trans }}</small>
                            </td>
                            {% for date in data.dates %}
                                <td class="text-center mbh-graph-cell"
                                    data-date="{{ date|date('d.m.Y') }}"
                                    data-tariff-id="common">
                                    <small>{{ extraData.getData(roomType, date).needArrivals }}</small>
                                </td>
                            {% endfor %}
                        </tr>
                        {% if extraData.withTariff() %}
                            {% for tariff in extraData.getTariffs(roomType) %}
                                <tr class="bg-info">
                                    <td colspan="{{ data.dates|length + 1 }}">
                                        <small>{{ tariff.getFullTitle() }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center mbh-graph-cell">
                                        <small>{{ 'price.resources.views.roomcache.graph.calculation_rooms'|trans }}</small>
                                    </td>
                                    {% for date in data.dates %}
                                        <td class="text-center mbh-graph-cell"
                                            data-date="{{ date|date('d.m.Y') }}"
                                            data-tariff-id="{{ tariff.getId() }}">
                                            <small>{{ tariff.getData(date).isNecessary }}</small>
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="text-center mbh-graph-cell">
                                        <small>{{ 'price.resources.views.roomcache.graph.diff'|trans }}</small>
                                    </td>
                                    {% for date in data.dates %}
                                        {% set diff = tariff.getData(date).diff %}
                                        <td class="text-center mbh-graph-cell{{ diff < 0 ? ' mbh-graph-cell-danger':'' }}"
                                            data-date="{{ date|date('d.m.Y') }}"
                                            data-tariff-id="{{ tariff.getId() }}">
                                            <small>{{ diff }}</small>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endif %}
{% endspaceless %}