{% extends 'MBHPriceBundle:RoomCache:layout.html.twig' %}

{% set layout = 'box' %}

{% block content %}

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'room-cache-overview-filter-widget' } %}
        <form id="room-cache-overview-filter" class="form-inline filter-form remember mbh-start-date" role="form">
            <div class="filter-form_input">
                <i class="fa fa-calendar" title='{{ 'mbhpricebundle.view.roomcache.index.daty'|trans }} ' data-toggle='tooltip'></i>
                <input type="text" id="room-cache-overview-filter-begin" class="datepicker room-cache-overview-filter begin-datepicker mbh-daterangepicker not-set-date form-control" data-date-format="dd.mm.yyyy" >
            </div>
            <div class="input hidden">
                - &nbsp
                <input type="text" id="room-cache-overview-filter-end" class="datepicker room-cache-overview-filter end-datepicker mbh-daterangepicker not-set-date form-control" data-date-format="dd.mm.yyyy" >
            </div>
            <div class="filter-form_input">
                <i class="fa fa-bed" title='{{ 'mbhpricebundle.view.roomcache.index.tip.nomera'|trans }} ' data-toggle='tooltip'></i>
                <select multiple data-placeholder="{{ 'mbhpricebundle.view.roomcache.index.tip.nomera'|trans }} " id="room-cache-overview-filter-roomType" class="room-cache-overview-filter form-control">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form_input">
                <i class="fa fa-sliders" title='{{ 'mbhpricebundle.view.roomcache.index.kvoty.po.tarifam'|trans }} ' data-toggle='tooltip'></i>
                <select multiple data-placeholder="{{ 'mbhpricebundle.view.roomcache.index.kvoty.po.tarifam'|trans }} " id="room-cache-overview-filter-tariff" class="room-cache-overview-filter form-control">
                    <option></option>
                    {% for tariff in tariffs %}
                        <option value="{{ tariff.id }}" {% if tariff.id in app.request.get('tariffs') and tariffs|length != app.request.get('tariffs')|length %}selected{% endif %}>{{ tariff.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form_group-checkbox">
                <div class="filter-form_input">
                    <i class="fa fa-bar-chart" title='{{ 'price.resources.views.roomcache.graph'|trans }}' data-toggle='tooltip'></i>
                    <input type="checkbox" id="room-cache-overview-filter-graph" class="room-cache-overview-filter" value="1"/>
                </div>
                {% include '@MBHBase/Partials/disable_button.html.twig' with {isChecked : displayDisabledRoomType, route : 'room_cache_overview'} %}
            </div>
        </form>
    </div></div>

    <form class="form-inline" action="{{ path('room_cache_overview_save') }}" method="POST" name="room-cache-overview-form" id="room-cache-overview-form">
        <div id="room-cache-overview-table-wrapper" class="scrolling"></div>

        {% if is_granted('ROLE_ROOM_CACHE_EDIT') %}
        <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><button type="submit" name="save_close" class="btn btn-success navbar-btn"><i class="fa fa-check-square-o"></i> {{ 'price.resources.views.roomcache.save'|trans }}</button></li>
                    <li><button type="button" onclick="location.href = '{{ path('room_cache_generator') }}'" class="btn btn-primary navbar-btn"><i class="fa fa-magic"></i> {{ 'mbhpricebundle.view.roomcache.index.generatornalichiyamest'|trans }}</button></li>
                    <li><button type="button" onclick="location.href = '{{ title_url|default(path('_welcome'))}}'" class="btn btn-default navbar-btn"><i class="fa fa-ban"></i> {{ 'mbhpricebundle.view.roomcache.index.otmena'|trans }} </button></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </form>

{% endblock %} 

