{% spaceless %}
<input type="hidden" name="begin" id="room-cache-overview-begin" class="hidden" value="{{ begin|date('d.m.Y') }}">
<input type="hidden" name="end" id="room-cache-overview-end" class="hidden" value="{{ end|date('d.m.Y') }}">
{% if error is defined and error is not empty %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}
    <table id="room-cache-overview-table"
           class="table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid custom-mobile-style">
        <tbody>
        {% for tariff in tariffs %}
            {% if tariff is null %}
                {% set tariffId = 0 %}
                <tr class="mbh-grid-header1 info">
                    <td colspan="{{ period|length + 1 }}"><strong>{{ 'price.resources.views.roomcache.number_on_sales'|trans }}</strong></td>
                </tr>
            {% else %}
                {% set tariffId = tariff.id %}
                <tr class="mbh-grid-header1 info">
                    <td colspan="{{ period|length + 1 }}"><strong>{{ 'price.resources.views.quotas_for_tariffs'|trans }} - {{ tariff }}</strong></td>
                </tr>
            {% endif %}

            {% for roomType in roomTypes %}

                <input type="hidden" name="roomTypes[]" class="hidden" value="{{ roomType.id }}">

                <tr class="mbh-grid-header2 warning">
                    <td colspan="{{ period|length + 1 }}"><strong{% if not roomType.isEnabled %} class="disabled-room-type"{% endif %}>{{ roomType }}</strong>&nbsp;-&nbsp;
                        <small>{{ tariff is null ? 'mbhpricebundle.view.roomcache.layout.nomeravprodazhe'|trans : 'mbhpricebundle.view.roomcache.table.kvotypotarifam'|trans ~ ' - ' ~ tariff }}</small>
                    </td>
                </tr>

                <tr class="header" data-copy-row-id="{{ roomType.id }}">
                    <td class="first-th"></td>
                    {% for day in period %}
                        {%  set date = day.date %}
                        <td class="header-td{% if day.isWeekend %} text-danger{% endif %}">
                            <span class="header-info">{{ date|mbh_format }}</span>
                            <a data-toggle="tooltip" data-placement="top" title="{{ 'mbh.grid.generator'|trans }}" href="#" class="header-action header-action-generator"><i class="fa fa fa-magic"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="{{ 'mbh.grid.copy'|trans }}" href="#" class="header-action header-action-copy"><i class="fa fa-copy"></i></a>
                        </td>
                    {% endfor %}
                </tr>

                {% set cats = categories %}
                {% if tariff is null and false %}
                    {% set cats = cats|merge({'isClosed': 'price.resources.views.closet'|trans}) %}
                {% endif %}
                {% if tariff is not null and not tariff.isOpen %}
                    {% set cats = cats|merge({'isOpen': 'mbhpricebundle.form.roomcachegeneratortype.is_open'|trans}) %}
                {% endif %}

                {% for categoryId, category in cats %}
                    {% set attrForClick %}
                        {% if categoryId in ['isOpen', 'totalRooms'] %} data-edit-col={{ tariffId ~ '_'~ roomType.id }}{% endif %}
                    {% endset %}
                    <tr data-copy-row-id="{{ roomType.id }}"{{ attrForClick }}>
                        <td class="first-td">
                            <small>{{ category }}</small>
                        </td>

                        {% for day in period %}
                            {%  set date = day.date %}
                            {#<!-- BEGIN: set roomCache & dayRoomCache -->#}

                            {% if roomCaches[roomType.id][tariff is null ? 0 : tariff.id][date|date('d.m.Y')] is defined %}
                                {% set roomCache = roomCaches[roomType.id][ tariff is null ? 0 : tariff.id ][date|date('d.m.Y')] %}
                            {% else %}
                                {% set roomCache = null %}
                            {% endif %}

                            {% if tariff is not null and roomCaches[roomType.id][0][date|date('d.m.Y')] is defined %}
                                {% set dayRoomCache = roomCaches[roomType.id][0][date|date('d.m.Y')] %}
                            {% else %}
                                {% set dayRoomCache = null %}
                            {% endif %}

                            {#<!-- END: set roomCache & dayRoomCache -->#}

                            {% set cssClass %}
                                {% if (
                                        (roomCache and roomCache.totalRooms != null and roomCache.leftRooms < 0)
                                        or (tariff is not null and roomCache and dayRoomCache is null)
                                        or (tariff is not null and roomCache and dayRoomCache and roomCache.totalRooms > dayRoomCache.totalRooms)
                                        or (roomCache and roomCache.isClosed)
                                        )
                                %}alert{% endif %}
                            {% endset %}
                            <td data-id="{{ roomType.id }}_{{ date|date('d.m.Y') }}" class="content{% if day.isWeekend %} weekend{% endif %}{{ cssClass }}">
                                {% if (categoryId == 'totalRooms' and tariff is null) or (tariff is not null and dayRoomCache is not null and categoryId == 'totalRooms') %}
                                    <span class="input">
                                        <input placeholder="{{ dayRoomCache is null ? '' : dayRoomCache.totalRooms }}"
                                               name="{{ roomCache is null ? 'newRoomCaches[' ~ roomType.id ~ '][' ~ tariffId ~'][' ~ date|date('d.m.Y') ~ '][rooms]' : 'updateRoomCaches[' ~ roomCache.id ~'][rooms]'}}"
                                               disabled type="text" class="mbh-grid-input form-control input-sm"
                                               value="{{ roomCache is not null and roomCache.totalRooms != null ? roomCache.totalRooms : '' }}">
                                        <span class="disabled-detector"></span>
                                    </span>
                                {% elseif categoryId == 'isClosed' and tariff is null and roomCache %}
                                    <span class="input">
                                        <input name="{{ roomCache is null ? 'newRoomCaches[' ~ roomType.id ~ '][0][' ~ date|date('d.m.Y') ~ '][closed]' : 'updateRoomCaches[' ~ roomCache.id ~'][closed]'}}"
                                               disabled
                                               type="checkbox"
                                               class="mbh-grid-checkbox {{ categoryId }}" {{ roomCache.isClosed ? 'checked' : '' }}
                                               value="1">
                                        <span class="disabled-detector"></span>
                                    </span>
                                {% elseif categoryId == 'isOpen' %}
                                    <span class="input">
                                        {% set nameInput = roomCache is null ? 'newRoomCaches[' ~ roomType.id ~ '][' ~ tariffId ~'][' ~ date|date('d.m.Y') ~ '][isOpen]' : 'updateRoomCaches[' ~ roomCache.id ~'][isOpen]' %}
                                        <label for="{{ nameInput }}"></label>
                                        <input type="checkbox"{{ roomCache != null and roomCache.isOpen ? ' checked' : '' }}
                                               name="{{ nameInput }}"
                                               disabled>
                                        <span class="disabled-detector"></span>
                                    </span>
                                {% else %}
                                    <small>
                                        <span class="text-{{ categoryId == 'leftRooms' ? 'success bold' : 'info' }}">
                                        {% if roomCache is not null and roomCache.totalRooms != null  %}
                                            {% if categoryId != 'packagesCountPercent' %}
                                                {{ attribute(roomCache, categoryId) }}
                                            {% elseif categoryId == 'packagesCountPercent' %}
                                                <small>{{ roomCache.packagesCountPercent }}%</small>
                                            {% endif %}
                                        {% elseif (roomCache is null or roomCache.totalRooms == null) and dayRoomCache is not null %}
                                            {% if categoryId == 'packagesCount' %}
                                                {{ dayRoomCache.getPackageCountByTariff(tariff) }}
                                            {% elseif categoryId == 'leftRooms' %}
                                                {{ dayRoomCache.leftRooms }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                    </small>
                                {% endif %}

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endspaceless %}
