{% macro optionsSelect(roomTypeList)%}
    <option value="" data-hotel-id="{{ (roomTypeList | first).hotel.id }}">- {{ 'views.api.form.room_type.choices.any'|trans({}, 'MBHOnlineBundle') }} -</option>
    {% for roomType in roomTypeList %}
        <option value="{{ roomType.id }}" {{ roomTypeList|length == 1 ? 'selected' }}>{{ roomType.localeTitle(app.request.locale) }}</option>
    {% endfor %}
{% endmacro %}
{% import _self as macros %}
{% spaceless %}
{% set fieldsName = formConfig.fieldsName %}
{% set hiddenIfUseAdditionlForm = formConfig.useAdditionalForm ? ' style="display: none;"' : '' %}

{% if hotels|length %}
<form id="mbh-form" method="get" class="well" target="_parent" action="{{ formConfig.getResultsUrl(true) }}">
    {% if hotels|length > 1 %}
    <div class="mbh-form-row form-group"{{ hiddenIfUseAdditionlForm | raw }}>
        <label for="mbh-form-hotel">{{ fieldsName.hotel is not empty ? fieldsName.hotel : 'views.api.form.hotel'|trans({}, 'MBHOnlineBundle') }}</label>
        <select name="hotel" class="form-control input-sm" id="mbh-form-hotel">
            <option></option>
            {% for hotel in hotels %}<option value="{{ hotel.id }}">{{ hotel.getFullTitleOrTitle() }}</option>{% endfor %}
        </select>
    </div>
    {% endif %}

    <div class="mbh-form-row form-group" id="mbh-form-begin-wrapper">
        <label for="mbh-form-begin"> {{ fieldsName.begin is not empty ? fieldsName.begin : ('views.api.form.check_in_date.label'|trans({}, 'MBHOnlineBundle')) }}</label>
        <input type="text" class="mbh-calendar-input form-control input-sm" id="mbh-form-begin" name="begin" required value="{{ 'now'|date('d.m.Y') }}" readonly>
    </div>

    <div class="mbh-form-row form-group" id="mbh-form-end-wrapper"{% if formConfig.nights %} style='display: none;'{% endif %}>
        <label for="mbh-form-end"> {{ fieldsName.end is not empty ? fieldsName.end : ('views.api.form.check_out_date.label'|trans({}, 'MBHOnlineBundle')) }}</label>
        <input type="text" class="mbh-calendar-input form-control input-sm" id="mbh-form-end" name="end" required value="{{ 'now'|date_modify('+1 day')|date('d.m.Y') }}" readonly>
    </div>

    {% if formConfig.nights %}
    <div class="mbh-form-row form-group">
        <label for="mbh-form-nights"> {{ fieldsName.night is not empty ? fieldsName.night : ('views.api.form.nights_amount.label'|trans({}, 'MBHOnlineBundle')) }}</label>
        <select name="nights" class="form-control input-sm" id="mbh-form-nights" required>
        {% for i in 1..100 %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
        </select>
    </div>
    {% endif %}

    {% if formConfig.roomTypes and not formConfig.useAdditionalForm %}
        <div class="mbh-form-row form-group{{ choices|length == 1 ? ' hidden' }}"{{ hiddenIfUseAdditionlForm | raw }}>
            <label for="mbh-form-roomType"> {{ fieldsName.roomType is not empty ? fieldsName.roomType : ('views.api.form.room_type.label'|trans({}, 'MBHOnlineBundle')) }}</label>
            <select id="mbh-form-roomType" class="form-control input-sm" name="roomType">
                <option></option>
                {{ macros.optionsSelect(choices) }}
            </select>
        </div>
    {% endif %}

    {% if formConfig.tourists %}
        <div id="mbh-form-adults-children-wrapper"{{ hiddenIfUseAdditionlForm | raw }}>
            <div class="mbh-form-row form-group">
                <label for="mbh-form-adults"> {{ fieldsName.adults is not empty ? fieldsName.adults : ('views.api.form.adults.label'|trans({}, 'MBHOnlineBundle')) }}</label>
                <input type="number" id="mbh-form-adults" class="form-control input-sm" name="adults"  value="1" min="1">
            </div>

            <div class="mbh-form-row form-group">
                <label for="mbh-form-children"> {{ fieldsName.children is not empty ? fieldsName.children : ('views.api.form.children.label'|trans({}, 'MBHOnlineBundle')) }}</label>
                <input type="number" id="mbh-form-children" class="form-control input-sm" name="children" value="0" min="0">
            </div>
            <div class="mbh-form-row form-group children-ages" style="display: none;">
                <label for="children-age-1"> {{  fieldsName.childrenAges is not empty ? fieldsName.childrenAges : ('views.api.form.children_ages.label'| trans({}, 'MBHOnlineBundle')) }}</label>
                <select class="children-age-form form-control input-sm" id="children-age-1" name="children-ages[]">
                    {% for childAge in 0..18 %}
                        <option value="{{ childAge }}">{{ childAge }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="mbh-form-adults-children-clear"></div>
    {% endif %}

    {% if formConfig.useAdditionalForm %}
        <div class="mbh-form-row form-group mbh-form-additional-room-types"{{ formConfig.roomTypes ? '' : ' style="display: none;"' }}>
            <select id="mbh-form-roomType" class="form-control input-sm" name="roomType">
                <option selected disabled>Выбрать тип номера</option>
                {% if hotels|length > 1 %}
                    <option value="">- {{ 'views.api.form.room_type.choices.any'|trans({}, 'MBHOnlineBundle') }} -</option>
                    {% for key, roomTypes in choices %}
                        <optgroup label="{{ key }}">
                            {{ macros.optionsSelect(roomTypes) }}
                        </optgroup>
                    {% endfor %}
                {% else %}
                    {{ macros.optionsSelect(choices) }}
                {% endif %}
            </select>
        </div>
        <div class="mbh-form-row form-group mbh-form-additional-form-amount-guest-wrapper">
            <label class="additional-form-label">{{ fieldsName.guest is not empty ? fieldsName.guest : ('views.api.form.guest.label' | trans({}, 'MBHOnlineBundle') ) }}</label>
            <input type="button" class="btn btn-default btn-sm additional-input" value="1">
        </div>
    {% endif %}

    <div class="mbh-form-row" id="mbh-form-submit-wrapper">
        <button type="submit" class="btn btn-primary btn-sm" id="mbh-form-submit">{{ fieldsName.btnFind is not empty ? fieldsName.btnFind : ('views.api.form.btn_find_room.label'|trans({}, 'MBHOnlineBundle')) }}</button>
    </div>

    <div id="mbh-logo-link-wrapper">
        <a id="mbh-logo-link" href="https://maxi-booking.com/" target="_blank">
            {% if formConfig.iconLogoLink %}
                <svg width="18" height="8" xmlns="http://www.w3.org/2000/svg">
                    <g class="svg-mb-logo" clip-path="url(#clip0)" fill="#000">
                        <path d="M4.17 8L2.109 2.282 1.726 1.14h-.03l.03 1.227v5.618H0V0h2.903l1.696 4.65.382 1.415h.03l.382-1.415L7.073 0h2.903v8H8.25V2.383l.03-1.228h-.03l-.382 1.141L5.806 8H4.17zM14.376 0c1.65 0 2.811.635 2.811 1.978 0 1.199-.779 1.675-1.375 1.834v.03c1.085.158 1.773.909 1.773 1.905 0 .997-.611 2.253-3.331 2.253h-2.658V0h2.78zm-1.054 3.25h.84c1.116 0 1.314-.636 1.314-.997 0-.231-.06-.997-1.39-.997h-.764V3.25zm0 3.494h.963c1.069 0 1.512-.549 1.512-1.127 0-.577-.32-1.126-1.512-1.126h-.963v2.253z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0"><path fill="#fff" d="M0 0h17.6v8H0z"/></clipPath>
                    </defs>
                </svg>
            {% else %}
                {{ 'views.api.form.online_reservation_system'|trans({}, 'MBHOnlineBundle') }}
            {% endif %}
        </a>
    </div>

    <div id="mbh-actions-wrapper">{# maybe remove this? #}</div>

    <input type="hidden" id="mbh-form-locale" name="locale" value="{{ app.request.locale }}">
</form>
{% endif %}
{% endspaceless %}

