{% spaceless %}
    <div class='visible-xs text-center'>
        <div>{{ entity.roomType }}</div>
        <div>{{ entity.order.payer.shortName }}</div>
        <div>
            <span class='text {% if entity.order.isPaid %}text-success{% elseif entity.order.paid > 0 %}text-warning{% else %}text-danger{% endif %}'>{{ entity.price|number_format(2) }}</span>
            <small> {{ entity.tariff.name }}</small>
        </div>
        <div>
            <span>{{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}</span>
            <br>
            <small>{{ entity.nights }} {{ 'nights'|transchoice(entity.nights) }}</small>
        </div>
    </div>
    <div class='hidden-xs'>
        <span>{{ entity.roomType }}</span>
        <br>
        <small>
            <a data-toggle='tooltip' title='{{ "package.json.go_to_placement"|trans({}, "MBHPackageBundle") }}' href='{{ path('package_accommodation', {'id': entity.id}) }}' class='{{ entity.accommodation ? '' : 'text text-danger' }}'>
                {% if entity.accommodation and entity.accommodation.room and entity.accommodation.room.roomType %}
                    <span>{{ entity.firstAccommodation.room.name(entity.roomType.id == entity.accommodation.room.roomType.id ? false : true) }}</span>
                    <span>{{ entity.accommodations|length > 1 ? ' -' ~ 'package.json_json.relocation'|trans : ''}}</span>
                {% else %}
                    <span>&lt;</span>
                    <span>{{ "package.json.not_placed"|trans({}, "MBHPackageBundle") }}</span>
                    <span>&gt;</span>
                {% endif %}
            </a>
        </small>
    </div>
{% endspaceless %}