{% wrapinline %}
    <div>
        {{ entity.roomType }}
        <br>
        {% if not entity.roomType.hasSingleRoom %}
        <small>
            <a data-toggle='tooltip' title='{{ "package.json.go_to_placement"|trans({}, "MBHPackageBundle") }}' href='{{ path('package_accommodation', {'id': entity.id}) }}' class='{{ entity.accommodation ? '' : 'text text-danger' }}'>
                {% if entity.accommodation and entity.accommodation.room and entity.accommodation.room.roomType %}
                    {{ entity.firstAccommodation.room.name(entity.roomType.id == entity.accommodation.room.roomType.id ? false : true) }}
                    {{ entity.accommodations|length > 1 ? ' -' ~ 'package.json_json.relocation'|trans : ''}}
                {% else %}
                    &lt;{{ "package.json.not_placed"|trans({}, "MBHPackageBundle") }}&gt;
                {% endif %}
            </a>
        </small>
        {% endif %}
    </div>
{% endwrapinline %}