<div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if not flow.lastStep %}
                <li>
                    <button type="submit" name="next"
                            class="btn btn-{{ flow.lastStep ? 'success' : 'primary' }} primary navbar-btn high-display-hidden">
                        {{ 'views.flow.hotel_flow.next_button.title'|trans }}
                        &nbsp;<i class="fa fa-arrow-right"></i>
                    </button>
                </li>
            {% endif %}
            {% if flow.isFirstStep() %}
                <li>
                    <a class="btn btn-primary navbar-btn navbar-link-button" href="{{ path('dashboard') }}">
                        <i class="fa fa-times"></i>
                        &nbsp;{{- 'views.flow.hotel_flow.close_flow_button.title'| trans -}}
                    </a>
                </li>
            {% else %}
                <li>
                    <button type="submit" class="btn btn-primary navbar-btn" name="back">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;{{- 'views.flow.hotel_flow.back_button.title'| trans -}}
                    </button>
                </li>
            {% endif %}

            <li>
                {% if flow.lastStep %}
                    <button type="submit" name="finish"
                            class="btn btn-{{ flow.lastStep ? 'success' : 'primary' }} navbar-btn">
                        &nbsp;<i class="fa fa-check-square"></i>
                        &nbsp; {{- 'views.flow.hotel_flow.finish_button.title' | trans -}}
                    </button>
                {% else %}
                    <button type="submit" name="next"
                            class="btn btn-{{ flow.lastStep ? 'success' : 'primary' }} primary navbar-btn mobile-hidden">
                        {{ 'views.flow.hotel_flow.next_button.title'|trans }}
                        &nbsp;<i class="fa fa-arrow-right"></i>
                    </button>
                {% endif %}
            </li>
            {% if flow.isFirstStep() %}
                <li>
                    <button type="button" class="btn btn-success navbar-btn">
                        &nbsp;<i class="fa fa-plus"></i> {{ 'views.flow.hotel_flow.add_room_type.title'|trans }}
                    </button>
                </li>
            {% endif %}
        </ul>
    </div>
</div>