{% extends "MBHHotelBundle::layout.html.twig" %}

{% set title = 'views.flow.hotel_flow.title'|trans({}, 'MBHHotelBundle') %}
{% set layout = "tabs" %}

{% if form.logoImage is defined %}
    {% form_theme form.logoImage '@MBHHotel/Form/hotelLogoImageTypeImageFile.html.twig' %}
{% elseif form.defaultImage is defined %}
    {% form_theme form.defaultImage '@MBHHotel/Form/hotelLogoImageTypeImageFile.html.twig' %}
{% elseif form.plugForHotelFlowImagesField is defined %}
    {% form_theme form.plugForHotelFlowImagesField '@MBHHotel/Form/hotelLogoImageTypeImageFile.html.twig' %}
{% endif %}

{% set isLastStep = flow.numberOfSteps == flow.currentStepNumber %}
{% set isImagesStep = isLastStep %}


{% block content %}
    <div class="tab-content">
    <div>
        {% include '@MBHHotel/Flow/flowStepList.html.twig' %}
    </div>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}

    {% if isImagesStep %}
        <button type="submit" class="btn btn-primary navbar-btn" name="add_image">Добавить в галерею</button>
        {% include '@MBHHotel/Hotel/image-list.html.twig' with {images: hotel.images, entity: hotel,  withButtons: false} %}
    {% endif %}

    <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% if flow.currentStepNumber > 1 %}
                <li>
                    <button type="submit" class="btn btn-primary navbar-btn" name="back">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;{{- 'button.back'| trans({}, 'CraueFormFlowBundle') -}}
                    </button>
                </li>
                {% endif %}
                <li>
                    <button type="submit" class="btn btn-{{ isLastStep ? 'success' : 'primary' }} primary navbar-btn">
                        {% if isLastStep %}
                            <i class="fa fa-check-square-o"></i>
                        {% endif %}
                        {{- (isLastStep ? 'button.finish' : 'button.next')| trans({}, 'CraueFormFlowBundle') -}}
                        {% if not isLastStep %}
                            &nbsp;<i class="fa fa-arrow-right"></i>
                        {% endif %}

                    </button>
                </li>
                {{ form_end(form) }}
            </ul>
        </div>
    </div>

    {% include '@MBHHotel/Hotel/coordinates-modal.html.twig' with {entity: hotel} %}
{% endblock %}