<input type="hidden" value="{{ package.id }}" id="package_info_package_id">
<div class="package-info-block">
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.package_source'|trans }}</div>
        <div class="col-md-8 ">{{ package.source.name }}{% if package.source.name == 'modal.chessBoard.manager'|trans %}{{ ' ' ~ package.createdBy }}{% endif %}</div>
    </div>
</div>
<div class="package-info-block">
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.booked' |trans }}</div>
        <div class="col-md-8 ">{{ package.createdAt|mbh_format }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.begin' |trans }}</div>
        <div class="col-md-8 ">{{ package.begin|mbh_format }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.is_check_in'|trans }}</div>
        <div class="col-md-8 ">{% if package.isCheckIn %}{{ 'modal.chessBoard.yes'|trans }}{% else %}{{ 'modal.chessBoard.no' |trans }}{% endif %}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.end' |trans }}</div>
        <div class="col-md-8 ">{{ package.end|mbh_format }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.is_check_out'|trans }}</div>
        <div class="col-md-8 ">{% if package.isCheckOut %}{{ 'modal.chessBoard.yes'|trans }}{% else %}{{ 'modal.chessBoard.no' |trans }}{% endif %}</div>
    </div>
</div>
<div class="package-info-block">
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.guests'|trans }}:</div>
        <div class="col-md-8 ">{% if package.tourists|length == 0 %}{{ 'modal.chessBoard.not_specified'|trans }}{% endif %}</div>
    </div>
    {% if package.tourists|length > 0 %}
        {% for tourist in package.tourists %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">{{ tourist.name }}
                    {% if tourist.mobilePhone %}
                        {{ '(' ~ tourist.mobilePhone ~ ')' }}
                    {% elseif tourist.phone %}
                        {{ '(' ~ tourist.phone ~')' }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="package-info-block">
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.roomType'|trans }}</div>
        <div class="col-md-8 ">{{ package.roomType.name }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.accommodation'|trans }}</div>
        {% if package.accommodations|length == 0 %}
            <div class="col-md-8 ">
                {{ 'modal.chessBoard.without_accommodation'|trans }}
            </div>
        {% else %}
            <div class="col-md-3 text-right">Даты</div>
            <div class="col-md-5">Номер</div>
        {% endif %}
    </div>
    {% if package.accommodations|length > 0 %}
        {% for accommodation in package.accommodations %}
            <div class="row">
                <div class="col-md-offset-5 col-md-3 text-right">
                    {{ accommodation.begin|mbh_format }} - {{ accommodation.end|mbh_format }}
                </div>
                <div class="col-md-4">
                    {{ accommodation }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>
{% if package.services|length > 0 %}
    <div class="package-info-block">
        <div class="row">
            <div class="col-md-4">{{ 'modal.chessBoard.services'|trans }}:</div>
            <div class="col-md-8"></div>
        </div>
        {% for service in package.services %}
            <div class="row">
                <div class="col-md-4 col-md-offset-5">{{ service.service.name ~ '(' ~ service.amount ~ ')' }}</div>
                <div class="col-md-3">{{ service.price * service.amount ~ ' ' ~ currency }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="package-info-block">
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.price'|trans }}</div>
        <div class="col-md-8 ">{{ package.price ~ ' ' ~ currency }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.serices_price'|trans }}</div>
        <div class="col-md-8 ">{% if package.servicesPrice %}{{ package.servicesPrice }}{% else %} 0 {% endif %}{{ ' ' ~ currency }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ 'modal.chessBoard.payed'|trans }}</div>
        <div class="col-md-8 ">{{ package.paid ~ ' ' ~ currency }} </div>
    </div>
</div>
