<table class="table not-auto-datatable table-striped">
    <tbody>
    <tr>
        <td>#</td>
        <td>{{ package.numberWithPrefix }}</td>
    </tr>
    {% if package.source %}
        <tr>
            <td>{{ 'modal.chessBoard.package_source'|trans }}</td>
            <td>{{ package.source.name }}{% if package.source.name == 'modal.chessBoard.manager'|trans %}{{ ' ' ~ package.createdBy }}{% endif %}</td>
        </tr>
    {% endif %}
    <tr>
        <td>{{ 'modal.chessBoard.booked' |trans }}</td>
        <td>{{ package.createdAt|mbh_format }}</td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.dates' |trans }}</td>
        <td>{{ package.begin|mbh_format }} - {{ package.end|mbh_format }}</td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.is_check_in'|trans }}</td>
        <td>{% if package.isCheckIn %}{{ 'modal.chessBoard.yes'|trans }}{% else %}{{ 'modal.chessBoard.no' |trans }}{% endif %}</td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.is_check_out'|trans }}</td>
        <td>{% if package.isCheckOut %}{{ 'modal.chessBoard.yes'|trans }}{% else %}{{ 'modal.chessBoard.no' |trans }}{% endif %}</td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.tariff' |trans }}</td>
        <td>{{ package.tariff }}</td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.roomType'|trans }}</td>
        <td>{{ package.roomType }} -
            <small>{{ package.roomType.hotel }}</small>
        </td>
    </tr>
    <tr>
        <td>
            {{ 'order.edit.payer'|trans({}, 'MBHPackageBundle') }}
        </td>
        <td>
            {% if package.order.payer %}{{ package.order.payer.shortName }}{% else %}
                &lt;{{ "package.json.no_payer"|trans({}, "MBHPackageBundle") }}&gt;{% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.guests' |trans }}</td>
        <td>
            {% if package.adults > 0 %}{{ package.adults }} {{ 'modal.chessBoard.number_of_adults'|trans }}{% endif %}{% if package.adults > 0 and package.children > 0 %}+{% endif %}{% if package.children > 0 %}{{ package.children }} {{ 'modal.chessBoard.number_of_children'|trans }}{% endif %}
            / {{ 'modal.chessBoard.registered'|trans }}: {{ package.tourists|length }}
            <br>
            <small>
            {% for tourist in package.tourists %}
                {{ tourist.name }}<br>
            {% endfor %}
            </small>
        </td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.price'|trans }}</td>
        <td>{{ package.price|number_format(2) }}</td>
    </tr>
    <tr>
        <td>{{ 'modal.chessBoard.serices_price'|trans }}</td>
        <td>{% if package.servicesPrice %}{{ package.servicesPrice|number_format(2) }}{% else %} 0 {% endif %}</td>
    </tr>
    {% if package.services|length > 0 %}
        <tr>
            <td>{{ 'modal.chessBoard.services'|trans }}:</td>
            <td></td>
        </tr>
        {% for service in package.services %}
            <tr>
                <td style="text-align: right; padding-right: 40px;">
                    {{ service.service.name ~ '(' ~ service.amount ~ ')' }}
                </td>
                <td>{{ service.price * service.amount|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    <tr>
        <td>{{ 'modal.chessBoard.payed'|trans }}</td>
        <td>{{ package.paid|number_format(2) }}</td>
    </tr>
    <tr {% if package.accommodations|length != 0 %}style="background-color: #d2d6de;"{% endif %}>
        <td>{{ 'modal.chessBoard.accommodation'|trans }}</td>
        <td>{% if package.accommodations|length == 0 %}{{ 'modal.chessBoard.without_accommodation'|trans }}{% endif %}</td>
    </tr>
    {% if package.accommodations|length > 0 %}
        <tr>
            <td style="text-align: right; padding-right: 40px;">{{ 'modal.chessBoard.dates'|trans }}</td>
            <td style="font-weight: bold">{{ 'modal.chessBoard.rooms'|trans }}</td>
        </tr>
        {% for accommodation in package.accommodations %}

            <tr>
                <td style="text-align: right; padding-right: 40px;">
                    {{ accommodation.begin|mbh_format }} - {{ accommodation.end|mbh_format }}
                </td>
                <td>
                    {{ accommodation }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if package.note %}
        <tr>
            <td>{{ 'modal.chessBoard.package_note' |trans }}</td>
            <td>{{ package.note|nl2br }}</td>
        </tr>
    {% endif %}
    {% if package.order.note %}
        <tr>
            <td>{{ 'modal.chessBoard.order_note' |trans }}</td>
            <td>{{ package.order.note|nl2br }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<input type="hidden" value="{{ package.id }}" id="package_info_package_id">