{% extends "MBHBaseBundle::page.html.twig" %}

{% set small_title = 'report.accommodation.chessBoard'|trans %}
{% set layout = 'box' %}

{% set changedNumberOfDays = 7 %}
{% set maxSliderSize = 3 %}

{% block scripts %}
    {{ parent() }}
    <script>
        var canCreatePackage = {{ canCreatePackage }};
        var canBookWithoutPayer = {{ client_config().canBookWithoutPayer ? 'true' : 'false' }};
        var maxSliderSize = {{ maxSliderSize }};
    </script>

    {% javascripts filter='uglifyjs2'
        '@MBHBaseBundle/Resources/public/vendor/jquery-ui.min.js'
        '@MBHBaseBundle/Resources/public/vendor/touch-punch.js'
        'assets/vendor/admin-lte/plugins/bootstrap-slider/bootstrap-slider.js'
        '@MBHPackageBundle/Resources/public/js/tourist/tourist.js'
        '@MBHPackageBundle/Resources/public/js/chessBoard/chessBoard.js'
        '@MBHPackageBundle/Resources/public/js/chessBoard/ActionManager.js'
        '@MBHPackageBundle/Resources/public/js/chessBoard/DataManager.js'

        '@MBHPackageBundle/Resources/public/js/chessBoard/ChessBoardManager.js' %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, uglifycss'
        '@MBHPackageBundle/Resources/public/css/*'
        '@MBHPackageBundle/Resources/public/css/chessboard/zzz_mob-chessBoard.less'
        'assets/vendor/admin-lte/plugins/bootstrap-slider/slider.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>

        {% if stylesFileNumber == 0 %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHPackageBundle/Resources/public/css/chessboard/chessboard_0.less' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% elseif stylesFileNumber == 1 %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHPackageBundle/Resources/public/css/chessboard/chessboard_1.less' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% elseif stylesFileNumber == 2 %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHPackageBundle/Resources/public/css/chessboard/chessboard_2.less' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% elseif stylesFileNumber == 3 %}
            {% stylesheets filter='cssrewrite, uglifycss'
                '@MBHPackageBundle/Resources/public/css/chessboard/chessboard_3.less' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endif %}

    {% endstylesheets %}
{% endblock %}

{% block content %}
{% spaceless %}
    <div id="chessboard-messages"></div>
    <div id="dimmer"></div>
    <div id="loading-indicator" style="position:fixed; display: none; z-index:500;">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>

    <form method="get" id="accommodation-report-filter" class="form-inline filter-form remember" role="form">
        <div class="form-block">
            <div class="input">
                <i class="fa fa-caret-left fa-2x change-days-button" data-number-of-days="{{ changedNumberOfDays }}"
                   data-change-type="subtract"
                   title='{{ 'chessboard_manager.change_dates_button.subtract'|trans({'%numberOfDays%': changedNumberOfDays}) }}'
                   data-toggle='tooltip'></i>&nbsp;
                <input type="text" name="filter_begin" id="accommodation-report-filter-begin"
                       class="datepicker accommodation-report-filter begin-datepicker mbh-daterangepicker not-set-date form-control input-sm"
                       data-date-format="dd.mm.yyyy" value="{{ defaultBegin|date('d.m.Y') }}">
                &nbsp;
                <i class="fa fa-caret-right fa-2x change-days-button"
                   data-number-of-days="{{ changedNumberOfDays }}" data-change-type="add"
                   title='{{ 'chessboard_manager.change_dates_button.add'|trans({'%numberOfDays%': changedNumberOfDays}) }}'
                   data-toggle='tooltip'></i>&nbsp;
            </div>
            <div class="hidden">
                - &nbsp;
                <input type="text" name="filter_end" id="accommodation-report-filter-end"
                       class="datepicker accommodation-report-filter end-datepicker mbh-daterangepicker not-set-date form-control input-sm"
                       data-date-format="dd.mm.yyyy" value="{{ defaultEnd|date('d.m.Y') }}">
            </div>
            {% if hotels|length > 1 %}
            <div class="input">
                <i class="fa fa-home hide-field-button" title='{{ 'chessboard_manager.hotel.title'|trans }}'
                   data-toggle='tooltip'></i>&nbsp;
                <select name="filter_hotel[]" multiple
                        data-placeholder="{{ 'chessboard_manager.hotel.title'|trans }}"
                        id="accommodation-report-filter-hotel"
                        class="accommodation-report-filter form-control input-sm">
                    <option></option>
                    {% for hotel in hotels %}
                        <option value="{{ hotel.id }}">{{ hotel.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="input">
                <i class="fa fa-bed hide-field-button" title='{{ 'chessboard_manager.room_type.title'|trans }}'
                   data-toggle='tooltip'></i>&nbsp;
                <select name="filter_roomType[]" multiple
                        data-placeholder="{{ 'chessboard_manager.room_type.title'|trans }}"
                        id="accommodation-report-filter-roomType"
                        class="accommodation-report-filter form-control input-sm">
                    <option></option>
                    {% for roomType in roomTypes %}
                        <option value="{{ roomType.id }}"
                                {% if roomType.id in  app.request.get('filter_roomType') %}selected{% endif %}>{{ roomType.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if housings|length %}
                <div class="input">
                    <i class="fa fa-home hide-field-button" title='{{ 'chessboard_manager.housing.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp;
                    <select name="housing[]" multiple data-placeholder="{{ 'chessboard_manager.housing.title'|trans }}"
                            id="accommodation-report-filter-housing"
                            class="accommodation-report-filter form-control input-sm">
                        <option></option>
                        {% for housing in housings %}
                            <option value="{{ housing.id }}"
                                    {% if housing.id in app.request.get('housing') %}selected{% endif %}>{{ housing.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if floors|length %}
                <div class="input">
                    <i class="fa fa-home hide-field-button" title='{{ 'chessboard_manager.floor.title'|trans }}'
                       data-toggle='tooltip'></i>&nbsp;
                    <select name="floor[]" multiple data-placeholder="{{ 'chessboard_manager.floor.title'|trans }}"
                            id="accommodation-report-filter-floor"
                            class="accommodation-report-filter form-control input-sm">
                        <option></option>
                        {% for floor in floors %}
                            <option value="{{ floor }}"
                                    {% if floor in app.request.get('floor') %}selected{% endif %}>{{ floor }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="input">
                <button type="button" class="btn btn-primary navbar-btn"
                        id="filter-button">{{ 'chessboard_manager.filter.button.text'|trans }}</button>
            </div>
        </div>
        <div class="form-block">
            <div id="disable-button-wrapper">
                {% include '@MBHBase/Partials/disable_button.html.twig' with {isChecked : displayDisabledRoomType, route : 'chess_board_home'} %}
            </div>
            <div class="input" style="width: 150px;">
                <i class="fa fa-minus reduce-scale-button" style="margin-right: 10px"></i>&nbsp;
                <input style="display: none;" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0"
                       data-slider-max="{{ maxSliderSize }}"
                       data-slider-step="1" data-slider-value="{{ stylesFileNumber }}"/>
                <i class="fa fa-plus increase-scale-button" style="margin-left: 10px"></i>&nbsp;
            </div>
        </div>
    </form>

    <div id="chessboardTable" class="scrolling"></div>

    <!---------------------------- Concise update Modal ------------------------->
    <div class="modal fade" id="packageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <input type="hidden" class="modalPackageId">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"
                        id="packageModalTitle">{{ 'modal.chessBoard.package_update_info'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="modalBlockId" name="modalBlockId">
                    <input type="hidden" class="modalAccommodationId" name="accommodationId">
                    <input type="hidden" class="isDivide">
                    <input type="hidden" id="modal-room-type-id">
                    <div class="row text-center" id="package-modal-change-alert"></div>
                    <div id="concise_package_update">
                        <table class="table not-auto-datatable table-striped">
                            <tbody>
                            <tr style="background-color: #d2d6de;">
                                <td>{{ 'modal.chessBoard.package_info'|trans }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td id="modal-package-number"></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.payer_name'|trans }}</td>
                                <td id="modal-package-payer"></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.package_begin_date'|trans }}</td>
                                <td id="modal-package-begin"></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.package_end_date'|trans }}</td>
                                <td id="modal-package-end"></td>
                            </tr>
                            <tr style="background-color: #d2d6de;">
                                <td>{{ 'modal.chessBoard.accommodation_info'|trans }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.room_name' | trans }}</td>
                                <td id="modal-room-name"></td>
                                <td style="display: none;" id="modal-room-id"></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.room_type_name' | trans }}</td>
                                <td id="modal-room-type-name"></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.begin' | trans }}</td>
                                <td id="modal-begin-date"></td>
                            </tr>
                            <tr>
                                <td>{{ 'modal.chessBoard.end' | trans }}</td>
                                <td id="modal-end-date"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="packageModalCancelButton"
                            data-dismiss="modal">{{ 'modal.chessBoard.cancel'|trans }}
                    </button>
                    <button type="button" class="btn btn-primary" style="display: none;"
                            id="package-modal-continue-button">
                        {{ 'package.accommodaton_modal.continue_button.text'|trans }}
                    </button>
                    <button type="button" id="packageModalConfirmButton" class="btn btn-primary">
                        {{ 'modal.chessBoard.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------- Package Create Modal ------------------------->
    <div class="modal fade bs-example-modal-lg" id="package-edit-modal" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" class="modalPackageId">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"
                        id="packageModalTitle">{{ 'modal.chessBoard.search_results' | trans }}</h4>
                </div>
                <div id="package-edit-body" class="modal-body">
                    <div class="input">
                        <strong>{{ 'modal.chessBoard.payer'|trans }}</strong>&nbsp;
                        {{ form_widget(searchForm.tourist) }}&nbsp;
                        {% if is_granted('ROLE_TOURIST_NEW') %}
                            <small>
                                <a href="{{ path('tourist_new') }}" id="add-guest" target="_blank"
                                   title='{{ 'form.searchType.payer_add'|trans() }}'
                                   data-toggle='tooltip'>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </small>
                        {% endif %}
                    </div>
                    <div id="package-new-results"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="packageModalCancelButton"
                            data-dismiss="modal">{{ 'modal.chessBoard.close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------- Package Info Modal ------------------------->
    <div class="modal fade" id="package-info-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <input type="hidden" class="modalPackageId">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center"
                        id="packageModalTitle">{{ 'modal.chessBoard.package_info'|trans }}</h4>
                </div>
                <div class="modal-body" id="package-info-modal-body">

                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" target="_blank" id="package-info-modal-edit">
                        <i class="fa fa-pencil-square-o"
                           aria-hidden="true"></i>&nbsp;{{ 'modal.chessBoard.edit'|trans }}</a>
                    <button class="btn btn-danger" id="package-info-modal-delete"><i
                                class="fa fa-trash-o"></i>&nbsp;{{ 'modal.chessBoard.delete'|trans }}
                    </button>
                    <button type="button" class="btn btn-default" id="packageModalCancelButton"
                            data-dismiss="modal"><i class="fa fa-times"
                                                    aria-hidden="true"></i>&nbsp;{{ 'modal.chessBoard.close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------- New Guest Modal ------------------------->
    {% include '@MBHUser/Partials/addGuestModal.html.twig' %}

    {% include '@MBHBase/Partials/entityDeleteForm.html.twig' %}
    {% include '@MBHPackage/Package/deleteModal.html.twig' %}
    <div style="display: none">
        {{ form(searchForm , {'attr' : { 'id' : 'package-search-form' }}) }}
    </div>
{% endspaceless %}
{% endblock %}
