{% extends 'MBHPriceBundle:PriceCache:layout.html.twig' %}

{% set small_title = 'price.views.priceCache.index.small_title'|trans({},'MBHPriceBundle') %}
{% set layout = 'box' %}

{% block content %}
    <div class="alert alert-warning" id="irrelevant-prices-alert" style="display: none">
        <i class="fa fa-exclamation-circle"></i>&nbsp;
        <button type="button" class="close">&times;</button>
        {{ 'price.views.priceCache.index.warning_displayed_irrelevant_prices'|trans() }}
        (<span id="irrelevant-prices-alert-date"></span>)
    </div>
    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'price-cache-overview-filter-widget' } %}
    <form id="price-cache-overview-filter" class="form-inline filter-form remember mbh-start-date" role="form">
        <div class="filter-form_input">
            <i class="fa fa-calendar" title='{{ 'price.views.priceCache.index.date'|trans({},'MBHPriceBundle') }}'
               data-toggle='tooltip'></i>
            <input type="text" id="price-cache-overview-filter-begin"
                   class="datepicker price-cache-overview-filter begin-datepicker mbh-daterangepicker  not-set-date form-control"
                   data-date-format="dd.mm.yyyy">
        </div>
        <div class="input hidden">
            <input type="text" id="price-cache-overview-filter-end"
                   class="datepicker price-cache-overview-filter end-datepicker mbh-daterangepicker  not-set-date form-control input-sm"
                   data-date-format="dd.mm.yyyy">
        </div>

        <div class="filter-form_input">
            <i class="fa fa-bed" title='{{ 'price.views.priceCache.index.type'|trans({},'MBHPriceBundle') }}'
               data-toggle='tooltip'></i>
            <select multiple data-placeholder="{{ 'price.views.priceCache.index.type'|trans({},'MBHPriceBundle') }}"
                    id="price-cache-overview-filter-roomType" class="price-cache-overview-filter form-control">
                <option></option>
                {% for roomType in roomTypes %}
                    <option value="{{ roomType.id }}"
                            {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-form_input">
            <i class="fa fa-sliders" title='{{ 'price.views.priceCache.index.rate'|trans({},'MBHPriceBundle') }}'
               data-toggle='tooltip'></i>
            <select multiple data-placeholder="{{ 'price.views.priceCache.index.rate'|trans({},'MBHPriceBundle') }}"
                    id="price-cache-overview-filter-tariff" class="price-cache-overview-filter form-control">
                <option></option>
                {% for tariff in tariffs %}
                    <option value="{{ tariff.id }}"
                            {% if (tariff.id in app.request.get('tariffs') and tariffs|length != app.request.get('tariffs')|length) or (app.request.get('tariffs') is empty and tariff.isDefault) %}selected{% endif %}>{{ tariff.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% include '@MBHBase/Partials/disable_button.html.twig' with {isChecked : displayDisabledRoomType, route : 'price_cache_overview'} %}
        <div class="filter-form_input">
            <i class="fa fa-calendar-check-o" aria-hidden="true" title='{{ 'mbhpricebundle.view.pricecache.filter.displayed_price_caches_date'|trans }}' data-toggle='tooltip'></i>
            <input type="text" id="displayed-prices-date" name="displayed-prices-date" class="price-cache-overview-filter datepicker form-control" data-date-format="dd.mm.yyyy" value="">
        </div>
        <div class="filter-form_input">
            <i class="fa fa-clock-o" aria-hidden="true" title='{{ 'mbhpricebundle.view.pricecache.filter.displayed_price_caches_time'|trans }}' data-toggle='tooltip'></i>
            <div class="bootstrap-timepicker">
                <input name="displayed-prices-time" type="text" id="displayed-prices-time" class="form-control">
            </div>
        </div>
    </form>
    </div></div>

    <form class="form-inline" action="{{ path('price_cache_overview_save') }}" method="POST"
          name="price-cache-overview-form" id="price-cache-overview-form">
        <div id="price-cache-overview-table-wrapper" class="scrolling"></div>

        {% if is_granted('ROLE_PRICE_CACHE_EDIT') %}
            <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>
                            <button type="submit" name="save_close" class="btn btn-success navbar-btn"><i
                                        class="fa fa-check-square-o"></i> {{ 'price.views.priceCache.index.save'|trans({},'MBHPriceBundle') }}
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="location.href = '{{ path('price_cache_generator') }}'"
                                    class="btn btn-primary navbar-btn"><i
                                        class="fa fa-magic"></i> {{ 'price.views.priceCache.index.random'|trans({},'MBHPriceBundle') }}
                            </button>
                        </li>
                        <li>
                            <button type="button" onclick="location.href = '{{ title_url|default(path('_welcome')) }}'"
                                    class="btn btn-default navbar-btn"><i
                                        class="fa fa-ban"></i> {{ 'price.views.priceCache.index.cancel'|trans({},'MBHPriceBundle') }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </form>

{% endblock %}