{% spaceless %}
<input type="hidden" name="begin" id="price-cache-overview-begin" class="hidden" value="{{ begin|date('d.m.Y') }}">
<input type="hidden" name="end" id="price-cache-overview-end" class="hidden" value="{{ end|date('d.m.Y') }}">
{% if error is defined and error is not empty  %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"> </i> {{ error }}</div>
{% else %}
    <table id="price-cache-overview-table" class="table table-bordered not-auto-datatable table-striped table-hover table-condensed mbh-grid custom-mobile-style">
        <tbody>

        {% for tariff in tariffs %}

            <input type="hidden" name="tariffs[]" class="hidden" value="{{ tariff.id }}">

            <tr class="mbh-grid-header1 info">
                <td colspan="{{ period|length + 1 }}"><strong>{{ tariff }}</strong></td>
            </tr>

            {% for roomType in roomTypes %}

                <input type="hidden" name="roomTypes[{{ roomType.id }}]" class="hidden" value="{{ roomType.id }}">

                <tr class="mbh-grid-header2 warning">
                    <td colspan="{{ period|length + 1 }}"><strong {% if not roomType.isEnabled %} class="disabled-room-type"{% endif %}>{{ roomType }}</strong>&nbsp;-&nbsp;<small>{{ tariff }}</small></td>
                </tr>
                <tr class="header" data-copy-row-id="{{ roomType.id }}">
                    <td class="first-th"></td>
                    {% for date in period %}
                        <td class="header-td {% if date|date('N') >= 6 %} text-danger{% endif %}">
                            <span class="header-info">{{ date|mbh_format }}</span>
                            <a data-toggle="tooltip" data-placement="top" title="{{ 'mbh.grid.generator'|trans }}" href="#" class="header-action header-action-generator"><i class="fa fa fa-magic"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="{{ 'mbh.grid.copy'|trans }}" href="#" class="header-action header-action-copy"><i class="fa fa-copy"></i></a>
                        </td>
                    {% endfor %}
                </tr>

                {% set categories = {'price': 'price.views.priceCache.table.prices'|trans({},'MBHPriceBundle')} %}

                {% if roomType.isHostel is empty %}
                    {% set categories = categories|merge({'price': 'price.views.priceCache.table.prices'|trans({},'MBHPriceBundle'), 'isPersonPrice': 'price.views.priceCache.table.isPersonPrice'|trans({},'MBHPriceBundle') }) %}
                {% endif %}

                {% if roomType.isChildPrices %}
                    {% set categories = categories|merge({'childPrice': 'mbhpricebundle.view.pricecache.table.price_for_children_main_place'|trans}) %}
                {% endif %}

                {% if roomType.isSinglePlacement %}
                    {% set categories = categories|merge({'singlePrice': 'price.views.priceCache.table.singlePrice'|trans({},'MBHPriceBundle')}) %}
                {% endif %}

                {% if roomType.additionalPlaces > 0 %}
                    {% set categories = categories|merge({'additionalPrice': 'mbhpricebundle.view.pricecache.table.price_for_adult_main_place'|trans, 'additionalChildrenPrice': 'mbhpricebundle.view.pricecache.table.price_for_children_additional_place'|trans }) %}
                {% endif %}

                {% if roomType.additionalPlaces > 1 and roomType.isIndividualAdditionalPrices %}
                    {% for num in 1..(roomType.additionalPlaces - 1) %}
                        {% set categories = categories|merge({('additionalPrice' ~ num): 'mbhpricebundle.view.pricecache.table.price_for_adult_main_place'|trans ~ '#' ~ (num + 1), ('additionalChildrenPrice' ~ num): 'mbhpricebundle.view.pricecache.table.price_for_children_main_place'|trans ~ '#'  ~ (num + 1) }) %}
                    {% endfor %}
                {% endif %}

                {% for categoryId, category in categories %}
                    <tr data-copy-row-id="{{ roomType.id }}">
                        <td class="first-td"><small>{{ category }}</small></td>

                        {% for date in period %}

                            {#<!-- BEGIN: set priceCache -->#}
                            {% set priceCache = priceCaches[roomType.id][tariff.id][date|date('d.m.Y')]|default(null) %}
                            {#<!-- END: set priceCache -->#}

                            {#<!-- BEGIN: set inputName & value -->#}
                            {% set inputName = priceCache is null ? 'newPriceCaches[' ~ roomType.id ~ '][' ~ tariff.id ~'][' ~ date|date('d.m.Y') ~ '][' ~ categoryId ~ ']' : 'updatePriceCaches[' ~ priceCache.id ~'][' ~ categoryId ~ ']' %}
                            {% set inputValue = priceCache is null ? null : attribute(priceCache, categoryId) %}
                            {#<!-- END: set inputName & value  -->#}

                            <td class="content {% if date|date('N') >= 6 %} weekend{% endif %}" data-id="{{ roomType.id }}_{{ tariff.id }}_{{ date|date('d.m.Y') }}">
                                <span class="input">
                                {% if categoryId == 'isPersonPrice' %}
                                    <input name="{{ inputName }}" disabled type="checkbox" class="mbh-grid-checkbox {{ categoryId }}" {{ inputValue ? 'checked' : '' }} value="1">
                                {% else %}
                                    <input name="{{ inputName }}" disabled type="text" class="mbh-grid-input form-control input-sm {{ categoryId }}" value="{{ inputValue }}">
                                {% endif %}
                                    <span class="disabled-detector"></span>
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endspaceless %}