{% extends 'MBHWarehouseBundle:Invoice:layout.html.twig' %}

{% set small_title = '{{ 'mbhwarehousebundle.view.invoice.index.spisoktovarnykhnakladnykh'|trans }} ' %}
{% set layout = "box" %}

{% block content %}

	
{#	{% for hotel in hotels() %}
		<p>{{ hotel.name }}</p>
	{% endfor %}
#}
	
    <table class="tariffs-table table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th class="td-sm">{{ 'mbhwarehousebundle.view.invoice.index.operatsiya'|trans }} </th>
            <th class="td-sm">{{ 'mbhwarehousebundle.view.invoice.index.data'|trans }} </th>
            <th class="td-sm">{{ 'mbhwarehousebundle.view.invoice.index.nomer'|trans }} </th>
            <th class="td-xs">{{ 'mbhwarehousebundle.view.invoice.index.organizatsiya'|trans }} </th>
            <th class="td-md">{{ 'mbhwarehousebundle.view.invoice.index.otelʹ'|trans }} </th>
            <th class="td-md text-right">{{ 'mbhwarehousebundle.view.invoice.index.amount'|trans }}</th>
            <th class="td-sm"></th>
        </tr>
		</thead>
		
		<tbody>
			{% for entity in entities %}
				<tr {% if entity.isEnabled is empty %} class="danger"{% endif %}>
					<td class="text-center table-icon"><i class="fa fa-book"></i></td>
					<td class="text-left">{{ entity.operation }}</td>
					<td class="text-left">{{ entity.invoiceDate|date('d.m.Y') }}</td>
					<td class="">{{ entity.docNumber }}</td>
					<td>{{ entity.organization }}</td>
					<td class="text-left">{{ entity.hotel }}</td>
					<td class="text-right">{{ amounts[entity.id] }}</td>
					<td class="table-actions-td text-right">
						{% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': entity, 'route': 'warehouse_invoice'} %}{% endembed %}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

	{% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'warehouse_invoice_new', 'role': 'WAREHOUSE_RECORD'} %}

{% endblock %} 
