{% extends 'MBHHotelBundle:RoomType:layout.html.twig' %}

{% set small_title = "views.hotel.roomType.index.list"|trans %}
{% set layout = "tabs" %}

{% block content %}

    <!-- Tabs headers -->
    <ul class="nav nav-tabs" role="tablist">
        {% for entity in entities %}
            <li {% if (loop.first and app.request.query.get('tab') is empty) or app.request.query.get('tab') == entity.id %}class="active"{% endif %}>
                <a href="#{{ entity.id }}" role="tab" data-toggle="tab">
                    <i class="fa fa-bed" style="color:{{ entity.color }};"></i>&nbsp;
                    {% if not entity.isEnabled %}<del class="text-danger">{% endif %}
                        {{ entity.name }}
                        {% if client_config() and client_config().useRoomTypeCategory %}
                            <br><small>{{ entity.category ? entity.category : 'views.hotel.roomType.index.group_not_change'|trans }}</small>
                        {% endif %}
                    {% if not entity.isEnabled %}</del>{% endif %}
                </a>
            </li>
        {% endfor %}
        {% if is_granted('ROLE_ROOM_TYPE_NEW') %}
        <li>
            <a href="{{ path('room_type_new') }}"><i
                        class="fa fa-plus"> </i> {{ 'views.roomType.index.new_room_type'|trans({}, 'MBHHotelBundle') }}
            </a>
        </li>
        {% endif %}
    </ul>

    <!-- Tabs content -->
    <div class="tab-content">
        {% for entity in entities %}

            <div class="tab-pane{% if (loop.first and app.request.query.get('tab') is empty) or app.request.query.get('tab') == entity.id %} active{% endif %}"
                 id="{{ entity.id }}">

                <!-- Tab actions -->
                <div class="btn-list spacer-bottom text-right">
                    {% if is_granted('ROLE_ROOM_TYPE_EDIT') %}
                        <a href="{{ path('room_type_edit', {'id': entity.id }) }}" class="btn btn-sm btn-success"
                           data-toggle="tooltip" data-placement="bottom"
                           title={{ 'views.roomType.index.edit_room_type'|trans({'%name%': entity.name}, 'MBHHotelBundle') }}><i
                                    class="fa fa-edit"> </i> {{ 'views.roomType.index.edit'|trans({}, 'MBHHotelBundle') }}
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_ROOM_NEW') %}
                        <a href="{{ path('room_new', {'id': entity.id }) }}" class="btn btn-sm btn-default"
                           data-toggle="tooltip" data-placement="bottom"
                           title= {{ 'views.roomType.index.create_rooms_for_room_type'|trans({'%name%': entity.name}, 'MBHHotelBundle') }}><i
                                    class="fa fa-plus"> </i> {{ 'views.roomType.index.add'|trans({}, 'MBHHotelBundle') }} {{ entity.isHostel ? 'bed'|trans : 'room'|trans }}
                        </a>
                        <a href="{{ path('generate_rooms', {'id': entity.id }) }}" class="btn btn-sm btn-default"
                           data-toggle="tooltip" data-placement="bottom"
                           title={{ 'views.roomType.index.generate_rooms_for_room_type'|trans({'%name%': entity.name}, 'MBHHotelBundle') }}><i
                                    class="fa fa-magic"> </i> {{ 'views.roomType.index.generate'|trans({}, 'MBHHotelBundle') }} {{ entity.isHostel ? 'beds'|trans : 'rooms'|trans }}
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_ROOM_TYPE_DELETE') %}
                        <a href="{{ path('room_type_delete', {'id': entity.id }) }}"
                           class="btn btn-sm btn-danger delete-link" data-toggle="tooltip" data-placement="bottom"
                           title={{ 'views.roomType.index.delete_room_type'|trans({'%name%': entity.name}, 'MBHHotelBundle') }}><i
                                    class="fa fa-trash-o"> </i> {{ 'views.roomType.index.delete'|trans({}, 'MBHHotelBundle') }}
                        </a>
                    {% endif %}
                </div>


                {% if is_granted('ROLE_ROOM_VIEW') %}
                    <!-- Rooms list -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ entity.isHostel ? 'views.roomType.index.beds'|trans({}, 'MBHHotelBundle') :'views.roomType.index.room_fund'|trans({}, 'MBHHotelBundle') }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table data-room-type-id="{{ entity.id }}"
                                   class="table rooms-table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
                                <thead>
                                <tr>
                                    <th class="td-xs"></th>
                                    <th>{{ 'views.roomType.index.name'|trans({}, 'MBHHotelBundle') }}</th>
                                    <th>{{ 'views.roomType.index.housing'|trans({}, 'MBHHotelBundle') }}</th>
                                    <th>{{ 'views.roomType.index.floor'|trans({}, 'MBHHotelBundle') }}</th>
                                    <th class="td-xs text-center">{{ 'views.roomType.index.status'|trans({}, 'MBHHotelBundle') }}</th>
                                    <th class="td-sm"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                {% if is_granted('ROLE_ROOM_TYPE_NEW') %}
                                    <li>
                                        <button onclick="location.href = '{{ path('room_type_new') }}'" type="submit"
                                                class="btn btn-success navbar-btn"><i
                                                    class="fa {{ icon is defined ? icon : 'fa-plus' }}"></i> {{ text is defined ? text : 'views.actions.list.add'|trans({}, 'MBHBaseBundle') }}
                                        </button>
                                    </li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right hidden-xs">
                                <li id='list-export-add-{{ loop.index }}'></li>
                            </ul>
                            <div style="float: right; margin-right: 5px; margin-top: 13px">
                                {% include '@MBHBase/Partials/disable_button.html.twig' with {isChecked : displayDisabledRoomType, route : 'room_type'} %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-danger">
                        <strong><i class="glyphicon glyphicon-lock"></i> {{ 'security.not_access'|trans }}</strong>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %} 
