{% extends 'MBHHotelBundle:RoomType:layout.html.twig' %}

{% set small_title = 'views.roomType.layout.create_room_type'|trans({}, 'MBHHotelBundle') %}
{% set layout = "tabs" %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#general_info" role="tab" data-toggle="tab">
                Общая информация и настройки
            </a>
        </li>
        <li class="disabled">

            <a href="#images">
                Фотографии
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="general_info">
            {{ form_start(form, {'action': path('room_type_create'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}
        </div>
        <div class="tab-pane" id="images">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('#{{ (form.facilities.vars.id) }}').tagsSelectWidget({value: {% autoescape false %}{{ form.facilities.vars.value|json_encode }}{% endautoescape %}});
    </script>
{% endblock %}
