{% extends 'MBHWarehouseBundle:Warehouse:layout.html.twig' %}

{% set title = 'menu.label.hotel_services'|trans %}
{% set small_title = 'warehouse.common.subtitle'|trans %}
{% set layout = "tabs" %}

{% block content %}

    <!-- Tabs headers -->
    <ul class="nav nav-tabs" role="tablist">
        {% for entity in entities %}
            <li {% if (loop.first and app.request.query.get('tab') is empty) or app.request.query.get('tab') == entity.id %}class="active"{% endif %}>
                <a href="#{{entity.id}}" role="tab" data-toggle="tab">
                    <i class="fa fa-book"></i> {{entity.name}}
                    {% if entity.system %}<small class="transparent"><i class="fa fa-lock"></i></small>{% endif %}
                </a>
            </li>
        {% endfor %}
        {% if is_granted('ROLE_WAREHOUSE_CAT_NEW') %}
            <li>
                <a href="{{ path('warehouse_category_new') }}"><i class="fa fa-plus"></i> {{ 'warehouse.cat.newcattitle'|trans }}</a>
            </li>
        {% endif %}
    </ul>

    <form method="post" role="form" class="are-you-sure form-inline" action="{{ path('warehouse_ware_category_save') }}">
    <!-- Tabs content -->
    <div class="tab-content">
        {% for entity in entities %}
            <div class="tab-pane {% if (loop.first and app.request.query.get('tab') is empty) or app.request.query.get('tab') == entity.id %}active{% endif %}" id="{{entity.id}}">

                <!-- Tab actions -->
                <div class="btn-list spacer-bottom text-right">
                    {% if is_granted('ROLE_WAREHOUSE_CAT_EDIT') %}
                        <a href="{{ path('warehouse_category_edit', {'id': entity.id }) }}" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="{{ 'warehouse.items.edit1'|trans ~ ' <' ~ entity.name}}>"><i class="fa fa-edit"></i> {{ 'warehouse.common.edit'|trans }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_WAREHOUSE_CAT_NEW') %}
                        <a href="{{ path('warehouse_category_entry_new', {'id': entity.id }) }}" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ 'warehouse.items.new1'|trans ~ ' <' ~ entity.name}}>"><i class="fa fa-plus"></i> {{ 'warehouse.items.add'|trans }}</a>
                    {% endif %}
                    {% if not entity.system and is_granted('ROLE_WAREHOUSE_CAT_DELETE') %}
                        <a href="{{ path('warehouse_category_delete', {'id': entity.id }) }}" class="btn btn-sm btn-danger delete-link" data-toggle="tooltip" data-placement="bottom" title="{{ 'warehouse.cat.del'|trans ~ ' <' ~ entity.name}}>"><i class="fa fa-trash-o"></i> {{ 'warehouse.common.del'|trans }}</a>
                    {% endif %}
                </div>

                {% if entity.items.count %}
                    <table id="warehouse-table" class="warehouse-table table table-actions table-striped table-hover table-condensed service-tables not-auto-datatable">
                        <thead>
                            <tr>
                                <th class="td-xs"></th>
                                <th>{{ 'form.promotionType.label.fullTitle'|trans }}</th>
                                <th class="td-md">{{ 'warehouse.field.price'|trans }}</th>
                                <th class="td-sm">{{ 'warehouse.field.unit'|trans }}</th>
                                <th class="td-sm">{{ 'warehouse.common.included'|trans }}</th>
                                <th class="td-md"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entity.items %}
                                <tr>
                                    <td><i class="fa fa-book"></i></td>
                                    <td><a href='{{ path('warehouse_category_entry_edit', {'id': entry.id }) }}'>{{ entry.name }}</a>&nbsp;{% if entry.system %}<small class="transparent"><i class="fa fa-lock"></i></small>{%endif %}</td>
                                    <td>
                                        <span class="hidden">{{ entry.price }}</span>
                                        <input name="entries[{{ entry.id }}][price]" class="form-control spinner-0f  input-sm" type="text" placeholder="{{ 'warehouse.items.notused'|trans }}" value="{{ entry.price }}">
                                    </td>
                                    <td class="text-center">{{ entry.unit }}</td>
                                    <td class="text-center">
                                        <input class="checkbox-mini" name="entries[{{ entry.id }}][enabled]" type="checkbox" {{ entry.isEnabled ? 'checked' }} value="1">
                                    </td>
                                    <td class="text-center">
                                        <div class='btn-list'>
                                            {% if is_granted('ROLE_WAREHOUSE_ITEMS_EDIT') %}
                                                <a href='{{ path('warehouse_category_entry_edit', {'id': entry.id }) }}' class='btn btn-success btn-xs' title='{{ 'warehouse.common.edit'|trans }}' data-toggle='tooltip'>
                                                    <i class='fa fa-pencil-square-o'></i>
                                                </a>
                                            {% endif %}
                                            {% if not entry.system and is_granted('ROLE_WAREHOUSE_ITEMS_DELETE') %}
                                                <a href='{{ path('warehouse_category_entry_delete', {'id': entry.id }) }}' class='btn btn-danger btn-xs delete-link ' title='{{ 'warehouse.common.del'|trans }}' data-toggle='tooltip'>
                                                    <i class='fa fa-trash-o'></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ 'warehouse.cat.nogoods'|trans }} <a href="{{ path('warehouse_category_entry_new', {'id': entity.id }) }}">{{ 'warehouse.items.add'|trans }}?</a></div>
                {% endif %}

                <div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_WAREHOUSE_ITEMS_EDIT') %}
                                <li><button type="submit" class="btn btn-success navbar-btn"><i class="fa fa-check-square-o"></i> {{ 'warehouse.common.savechanges'|trans }}</button></li>
                            {% endif %}
                            {% if is_granted('ROLE_WAREHOUSE_CAT_NEW') %}
                                <li><button onclick="location.href = '{{ path('warehouse_category_new') }}'" type="button" class="btn btn-default navbar-btn"><i class="fa fa-plus"></i> {{ 'warehouse.cat.addnew'|trans }}</button></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id='list-export-add-{{ loop.index }}'></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </form>
{% endblock %} 
