<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <title></title>

</head>
<body>
<div align="center">
    <table class="document" border="1" style="text-align: center" cellpadding="1" cellspacing="0">
        {% for i in 1..2 %}
        <tr>
            <td rowspan="6" class="type">{{ 'mbhbasebundle.view.pdftemplates.individual.izveshcheniye'|trans }} </td>
        </tr>

        <tr>
            <td colspan="3" class="title">
                <strong>{{ 'mbhbasebundle.view.pdftemplates.individual.inn'|trans }} {{ myOrganization.inn }} {{ 'mbhbasebundle.view.pdftemplates.individual.kpp'|trans }} {{ myOrganization.kpp }}</strong></br>
                <strong>{{ myOrganization.name }}</strong></br>
                <strong>{{ myOrganization.bank }}</strong></br>
                {{ 'mbhbasebundle.view.pdftemplates.individual.raschetnyyschet'|trans }} № <strong>{{ myOrganization.checkingAccount }}</strong> {{ 'mbhbasebundle.view.pdftemplates.individual.bik'|trans }} : <strong>{{ myOrganization.bankBik }}</strong>
            </td>
        <tr>
            <td colspan="3">{{ 'mbhbasebundle.view.pdftemplates.individual.korr'|trans }} .{{ 'mbhbasebundle.view.pdftemplates.individual.schët'|trans }} : <strong>{{ myOrganization.correspondentAccount }}</strong></td>
        </tr>

        <tr>
            <td colspan="3">
                <div>{{ myOrganization.writerFio }}, {{ myOrganization.location }}</div>
            </td>
        <tr>
        <tr>
            <td colspan="3">
                <div class="fio-title">{{ 'mbhbasebundle.view.pdftemplates.individual.familiyai'|trans }} , {{ 'mbhbasebundle.view.pdftemplates.individual.adresplatelʹshchika'|trans }} </div>
            </td>
        <tr>

        <tr>

        <tr>
            <td rowspan="5">{{ 'mbhbasebundle.view.pdftemplates.individual.kassir'|trans }} </td>
        </tr>
        <tr>
            <td class="info">{{ 'mbhbasebundle.view.pdftemplates.individual.vidplatezha'|trans }} </td>
            <td>{{ 'mbhbasebundle.view.pdftemplates.individual.data'|trans }} </td>
            <td>{{ 'mbhbasebundle.view.pdftemplates.individual.summa'|trans }} </td>
        </tr>
        <tr>
            <td class="info">
                <strong style="float: left">
                    {{ 'mbhbasebundle.view.pdftemplates.individual.uslugiotelyaposchetu'|trans }} №{{ cashDocument.number }}. {{ 'mbhbasebundle.view.pdftemplates.individual.zakaz'|trans }} №{{ cashDocument.order.id }} {{ 'mbhbasebundle.view.pdftemplates.individual.ot'|trans }} {{ cashDocument.documentDate|date('d.m.Y') }} г.
                </strong>
            </td>
            <td>{{ cashDocument.documentDate|date('d.m.Y') }}</td>
            <td>{{ cashDocument.total }}</td>
        </tr>
        <tr>
            <td rowspan="2" class="info">
                <span style="float: left">{{ 'mbhbasebundle.view.pdftemplates.individual.platelʹshchik'|trans }} :</span>
            </td>
            <td>{{ 'mbhbasebundle.view.pdftemplates.individual.penya'|trans }} </td>
            <td>0</td>
        </tr>
        <tr>
            <td>{{ 'mbhbasebundle.view.pdftemplates.individual.vsego'|trans }} </td>
            <td>{{ cashDocument.total }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>

<style>
    .document {
        width: 700px;
    }

    .type {
        width: 150px;
    }

    .title {
        padding: 2px 10px;
    }

    .fio-title {
        font-size: 13px;
    }

    .info {
        padding: 2px 10px;
    }
</style>

</html>