<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <title></title>

</head>

<body>

<div class="document">
    <table class="table1" border="1" cellpadding="1" cellspacing="0">
        <tr>
            <td rowspan="2" colspan="2">
                <div>{{ myOrganization.bank }}</div>
                <div style="font-size: 14px">{{ 'mbhbasebundle.view.pdftemplates.organization.bankpoluchatelya'|trans }} </div>
            </td>
            <td>
                {{ 'mbhbasebundle.view.pdftemplates.organization.bik'|trans }} 
            </td>
            <td rowspan="2" class="top">
                <div>{{ myOrganization.bankBik }}</div>
                <div>{{ myOrganization.correspondentAccount }}</div>
            </td>
        </tr>
        <tr>
            <td>
                Cч. №
            </td>
        </tr>
        <tr>
            <td>
                {{ 'mbhbasebundle.view.pdftemplates.organization.inn'|trans }} {{ myOrganization.inn }}
            </td>
            <td>
                {{ 'mbhbasebundle.view.pdftemplates.organization.kpp'|trans }} {{ myOrganization.kpp }}
            </td>
            <td rowspan="2" class="top">
                Cч. №
            </td>
            <td rowspan="2" class="top">
                {{ myOrganization.checkingAccount }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="top">{{ myOrganization.name }}</div>
                <div class="bottom" style="font-size: 14px">{{ 'mbhbasebundle.view.pdftemplates.organization.poluchatelʹ'|trans }} </div>
            </td>
        </tr>
    </table>

    <div style="font-size: 24px; font-weight: bold; margin-top: 12px">{{ 'mbhbasebundle.view.pdftemplates.organization.schetnaoplatu'|trans }} № {{ cashDocument.number }} {{ 'mbhbasebundle.view.pdftemplates.organization.ot'|trans }} {{ cashDocument.documentDate|date('d.m.Y') }}</div>

    <hr>
    <table class="table2">
        <tr>
            <td class="top">{{ 'mbhbasebundle.view.pdftemplates.organization.postavshchik'|trans }} :</td>
            <td>
                <strong>
                    {{ myOrganization.name }}, {{ 'mbhbasebundle.view.pdftemplates.organization.inn'|trans }} {{ myOrganization.inn }}, {{ 'mbhbasebundle.view.pdftemplates.organization.kpp'|trans }} {{ myOrganization.kpp }}, {{ myOrganization.index }}
                    {{ myOrganization.location }}, {{ 'mbhbasebundle.view.pdftemplates.organization.tel'|trans }} .: {{ myOrganization.phone }}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="top">{{ 'mbhbasebundle.view.pdftemplates.organization.pokupatelʹ'|trans }} :</td>
            <td>
                <strong>
                    {{ cashDocument.payer.name }}, {{ 'mbhbasebundle.view.pdftemplates.organization.inn'|trans }} {{ cashDocument.payer.inn }}, {{ 'mbhbasebundle.view.pdftemplates.organization.kpp'|trans }} {{ cashDocument.payer.kpp }}, {{ cashDocument.payer.index }}
                    {{ cashDocument.payer.location }}, {{ 'mbhbasebundle.view.pdftemplates.organization.tel'|trans }} .: {{ cashDocument.payer.phone }}
                </strong>
            </td>
        </tr>
    </table>

    <table class="table3" border="1" cellpadding="1" cellspacing="0">
        <thead>
        <tr>
            <th>№</th>
            <th>{{ 'mbhbasebundle.view.pdftemplates.organization.tovary'|trans }} ({{ 'mbhbasebundle.view.pdftemplates.organization.raboty'|trans }} , {{ 'mbhbasebundle.view.pdftemplates.organization.uslugi'|trans }} )</th>
            <th>{{ 'mbhbasebundle.view.pdftemplates.organization.kol'|trans }} -{{ 'mbhbasebundle.view.pdftemplates.organization.vo'|trans }} </th>
            <th>{{ 'mbhbasebundle.view.pdftemplates.organization.yed'|trans }} .</th>
            <th>{{ 'mbhbasebundle.view.pdftemplates.organization.tsena'|trans }} </th>
            <th>{{ 'mbhbasebundle.view.pdftemplates.organization.summa'|trans }} </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;vertical-align: top;font-size: 14px;font-size: 16px">1</td>
            <td style="max-width: 350px;font-size: 14px">
                {{ 'mbhbasebundle.view.pdftemplates.organization.uslugiotelyaposchetu'|trans }} №{{ cashDocument.number }}. {{ 'mbhbasebundle.view.pdftemplates.organization.zakaz'|trans }} №{{ cashDocument.order.id }} {{ 'mbhbasebundle.view.pdftemplates.organization.ot'|trans }} {{ cashDocument.documentDate|date('d.m.Y') }} г.
            </td>
            <td>1</td>
            <td>{{ 'mbhbasebundle.view.pdftemplates.organization.usl'|trans }} .</td>
            <td><div class="right">{{ cashDocument.total|number_format(2) }}</div></td>
            <td><div class="right">{{ cashDocument.total|number_format(2) }}</div></td>
        </tr>
        </tbody>
    </table>

    <table class="total-result-table">
        <tr>
            <td>
                <div>{{ 'mbhbasebundle.view.pdftemplates.organization.itog'|trans }} :</div>
            </td>
            <td>
                <div>{{ cashDocument.total|number_format(2) }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>{{ 'mbhbasebundle.view.pdftemplates.organization.beznaloga'|trans }} ({{ 'mbhbasebundle.view.pdftemplates.organization.nds'|trans }} ):</div>
            </td>
            <td>
                <div>-</div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="white-space: nowrap;">{{ 'mbhbasebundle.view.pdftemplates.organization.vsegokoplate'|trans }} :</div>
            </td>
            <td>
                <div>{{ cashDocument.total }}</div>
            </td>
        </tr>
    </table>

    <div style="clear: both"></div>

    <div class="conclusion">
        <div>{{ 'mbhbasebundle.view.pdftemplates.organization.vsegonaimenovaniy'|trans }} 1, {{ 'mbhbasebundle.view.pdftemplates.organization.nasummu'|trans }} {{ cashDocument.total }} {{ currency().text }}</div>
        <strong>{{ cashDocument.total|num2str|capitalize }}</strong>
    </div>

    <hr>

    <div class="sign">
        <div style="width: 395px;" class="inline-block">
            <strong>{{ 'mbhbasebundle.view.pdftemplates.organization.rukovoditelʹ'|trans }} </strong>
            <div class="inline-block sign-field" style="width: 250px; position: absolute"><span style="visibility: hidden">%</span></div>
            <div class="inline-block sign-field right">{{ myOrganization.directorFio }}</div>
        </div>
        <div style="width: 395px;" class="inline-block">
            <strong>{{ 'mbhbasebundle.view.pdftemplates.organization.bukhgalter'|trans }} </strong>
            <div class="inline-block sign-field" style="width: 300px; position: absolute"><span style="visibility: hidden">%</span></div>
            <div class="inline-block sign-field right">{{ myOrganization.accountantFio }}</div>
        </div>
    </div>
</div>

</body>

<style>
    hr {
        color: #000000;
        background-color: #000000;
        height: 3px;
        border-width: 0px;
    }

    .document {
        width: 800px;
    }

    .document table {
        width: 800px;
    }

    .table1{
        min-height: 115px;
    }

    /*div{
        padding: 1px;
    }*/

    .inline-block{
        display: inline-block;
    }

    .table3{
        border: solid;
    }

    .total-result-table{
        float: right;
        width: 400px!important;
    }

    .total-result-table div:first-child{
        float: right;
    }
    .total-result-table{
        font-weight: bold;
    }

    .conclusion{
        width: 800px;
    }

    .sign{
        margin-top: 60px;
        width: 800px;
        white-space: nowrap;
    }

    .sign-field{
        border-bottom: outset 2px #000080;
    }

    .top{
        vertical-align: top
    }
    .bottom{
        vertical-align: bottom;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
</style>

</html>