{% extends 'MBHChannelManagerBundle:HundredOneHotels:layout.html.twig' %}

{% set small_title = 'views.hundredOneHotels.settings'|trans({}, 'MBHChannelManagerBundle')  %}
{% set layout = 'tabs' %}

{% block content %}
    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 1, 'entity': config, 'base': 'hundred_one_hotels', 'services' : false } %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {{ form_start(form, {'action': path('hundred_one_hotels_save'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% embed 'MBHChannelManagerBundle::actions.html.twig' %}
                {% block additional_actions %}
                    {% if config and config.isReadyToSync() %}
                        <li><button type="button" onclick="location.href = '{{ path('hoh_packages_sync') }}'" class="btn btn-default navbar-btn" data-toggle="tooltip" data-placement="top" title="{{ 'views.expedia.actions.sync_old_orders.title'|trans({}, 'MBHChannelManagerBundle') }}"><i class="fa fa-paper-plane-o"> </i> {{ 'views.expedia.actions.sync_old_orders'|trans({}, 'MBHChannelManagerBundle') }}</button></li>
                    {% endif %}
                {% endblock %}
            {% endembed %}
            {%  if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {%  endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}