{% extends 'MBHHotelBundle:Task:layout.html.twig' %}

{% block content %}

    {% if app.security.granted('ROLE_TASK_MANAGER') %}
    <div class="well">
        <form id="task-table-filter" class="form-inline search-form filter-form">
            <div class="input">
                    <i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i>&nbsp <input type="text" id="task-filter-begin" class="datepicker begin-datepiker form-control input-sm" data-date-format="dd.mm.yyyy">
            </div>
            <div class="input">
                - &nbsp <input type="text" id="task-filter-end" class="datepicker end-datepiker form-control input-sm" data-date-format="dd.mm.yyyy">
            </div>

            {% include 'MBHBaseBundle:Partials:datepickerPeriodSelect.html.twig' %}

            &nbsp;<i class="fa fa-server" title='{{ "task.status"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'></i>&nbsp;
            <select id="task-filter-status" placeholder="{{ 'views.task.index.status'|trans({}, 'MBHHotelBundle') }}">
                <option></option>
                {% for key,status in statuses %}
                    <option value="{{ key }}">{{ status.title }}</option>
                {% endfor %}
            </select>

            &nbsp;<i class="fa fa-balance-scale" title='{{ "task.priority"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'></i>&nbsp;
            <select id="task-filter-priority" placeholder="{{ 'views.task.index.priority'|trans({}, 'MBHHotelBundle') }}">
                <option></option>
                {% for key,priority in priorities %}
                    <option value="{{ key }}">{{ priority }}</option>
                {% endfor %}
            </select>

            &nbsp;<i class="fa fa-user" title='{{ "task.performer"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'></i>&nbsp;
            <select id="task-filter-priority" placeholder="{{ 'views.task.index.performer'|trans({}, 'MBHHotelBundle') }}">
                <option></option>
                {% for key,performer in performers %}
                    <option value="{{ key }}">{{ performer.fullName }}</option>
                {% endfor %}
            </select>

            &nbsp;<i class="fa fa-group" title='{{ "task.group"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'></i>&nbsp;
            <select id="task-filter-priority" placeholder="{{ 'views.task.index.group'|trans({}, 'MBHHotelBundle') }}">
                <option></option>
                {% for key,group in groups %}
                    <option value="{{ key }}">{{ group|trans({}, 'MBHUserBundleRoles') }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    {% endif %}



    <table id="task-table" class="table table-hover table-actions table-striped not-auto-datatable">
        <thead>
        <tr>
            <th class="td-xss"></th>
            <th class="td-xss">#</th>
            <th class="td-md">{{ 'views.task.index.status'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.task'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.priority'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.room'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.assign'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-mm">{{ 'views.task.index.createAt'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md"></th>
        </tr>
        </thead>
        <tbody>
        {% set priorityClass = {
            low:'success',
            average:'warning',
            high: 'danger'
        } %}
            {% for task in tasks %}
                <tr>
                    <td class="text-center"><i class="fa fa-tasks"></i></td>
                    <td>{{ task.number }}</td>
                    <td>{% if statuses[task.status] is defined %} <span class="text-{{ statuses[task.status].class }}">{{ statuses[task.status].title }}</span> {% endif %}</td>
                    <td>{{ task.taskType.title }}</td>
                    <td class="text-{{ priorityClass[task.priority] }}">{{ priorities[task.priority] }}</td>
                    <td>{{ task.room.roomType.title }}</td>
                    <td>{% if task.performer %}{{ task.performer.fullName }} {% endif %}</td>
                    <td>{{ task.role }}</td>
                    <td>{{ task.createdAt|date('d.m.Y') }}</td>
                    <td>{{ task.updatedAt|date('d.m.Y') }}</td>
                    <td class="table-actions-td text-right">
                        {% if task.status == 'open' %}
                            <a href="{{ path('task_change_status', { 'id': task.id, status: 'process' }) }}" class="btn btn-info btn-xs" title="{{ "process"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                                <i class="fa fa-briefcase"></i>
                            </a>
                        {% endif %}
                        {% if task.status == 'process' %}
                            <a href="{{ path('task_change_status', { 'id': task.id, status: 'closed' }) }}" class="btn btn-primary btn-xs" title="{{ "closed"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                                <i class="fa fa-coffee"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-success btn-xs" title="{{ "source.index.edit_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a href="{{ path('task_delete', { 'id': task.id }) }}" class="btn btn-danger btn-xs delete-link " title="{{ "source.index.delete_record"|trans({}, "MBHPackageBundle") }}" data-toggle="tooltip">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
    {% if app.security.granted('ROLE_TASK_MANAGER') %}
        {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'task_new'} %}
    {% endif %}
{% endblock %}