{% extends 'MBHHotelBundle:Task:layout.html.twig' %}

{% set small_title = 'list'|trans %}
{% set layout = 'box' %}

{% form_theme searchForm 'MBHBaseBundle:Form:fields.html.twig' %}

{% block content %}

    {% if app.security.granted('ROLE_TASK_MANAGER') %}

        {% include 'MBHBaseBundle:Partials:filter.html.twig' with {id: 'task-table-filter-widget'} %}
            <form id="task-table-filter" class="form-inline icon-label-form">
                <div class="form-group">
                    <label><i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i></label>
                    {{ form_widget(searchForm.begin) }}
                </div>
                <div class="form-group">
                    <label>—</label>
                    {{ form_widget(searchForm.end) }}
                </div>

                <div class="form-group">
                    {% include 'MBHBaseBundle:Partials:datepickerPeriodSelect.html.twig' %}
                </div>

                <div class="form-group">
                    <label><i class="fa fa-server" title='{{ "task.status"|trans({}, "MBHPackageBundle") }}'
                              data-toggle='tooltip'></i></label>
                    {{ form_widget(searchForm.status) }}
                </div>

                <div class="form-group">
                    <label><i class="fa fa-arrow-up" title='{{ "task.priority"|trans({}, "MBHPackageBundle") }}'
                              data-toggle='tooltip'></i></label>
                    {{ form_widget(searchForm.priority) }}
                </div>

                <div class="form-group">
                    <label><i class="fa fa-group" title='{{ "task.group"|trans({}, "MBHPackageBundle") }}'
                              data-toggle='tooltip'></i></label>
                    {{ form_widget(searchForm.userGroups) }}
                </div>

                <div class="form-group">
                    <label><i class="fa fa-user" title='{{ "task.performer"|trans({}, "MBHPackageBundle") }}'
                              data-toggle='tooltip'></i></label>
                    {{ form_widget(searchForm.performer) }}
                </div>
                <div class="form-group">
                    <label><i class="fa fa-trash-o" title="{{ "views.task.index.isDeleted"|trans({}, "MBHHotelBundle") }}"
                        data-toggle="tooltip"></i>
                    </label>
                    {{ form_widget(searchForm.deleted) }}
                </div>

                {{ form_widget(searchForm._token) }}
            </form>
        </div></div>
    {% endif %}

    <table id="task-table" class="table table-hover table-actions table-striped not-auto-datatable">
        <thead>
        <tr>
            <th class="td-xs">#</th>
            <th class="td-xs text-center"><i data-toggle="tooltip"
                                             title="{{ 'views.task.index.status'|trans({}, 'MBHHotelBundle') }}"
                                             class='fa fa-server'></i></th>
            <th class="td-md text-center">{{ 'views.task.index.task'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-xs"><i data-toggle="tooltip"
                                 title="{{ 'views.task.index.priority'|trans({}, 'MBHHotelBundle') }}"
                                 class='fa fa-arrow-up'></i></th>
            <th class="td-md">{{ 'views.task.index.room'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.assign'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.period'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md">{{ 'views.task.index.dates'|trans({}, 'MBHHotelBundle') }}</th>
            <th class="td-md"></th>
        </tr>
        </thead>
        <tbody>

        <tbody>
    </table>
    {% if app.security.granted('ROLE_TASK_MANAGER') %}
        {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'task_new', role: 'TASK'} %}
    {% endif %}
{% endblock %}