{% escapebackslash %}
{% wrapinline %}
{
"draw": "{{ draw }}",
"recordsTotal": "{{ recordsTotal }}",
"recordsFiltered": "{{ recordsTotal }}",
"data": [
{% for task in tasks %}
    [
    "<a data-row-class='{% if task.isDeleted %}danger{% elseif task.isExpired and not task.status == 'closed' %}danger{% elseif task.priority == 2 %}warning{% elseif taskRepository.isAcceptableTaskForUser(app.user, task) %}info{% endif %}' {% if not task.isDeleted and is_granted('ROLE_TASK_EDIT') %}rel='main' href='{{ path('task_edit', { 'id': task.id }) }}'{% endif %}>{{ task.id }}</a>",
    "{% if task.status == 'open' %}<i data-toggle='tooltip' title='{{ statuses[task.status].title|trans }}' class='fa fa-plus text-danger'></i>{% elseif task.status == 'process' %}<i data-toggle='tooltip' title='{{ statuses[task.status].title|trans }}' class='fa fa-clock-o text-info'></i>{% elseif task.status == 'closed' %}<i data-toggle='tooltip' title='{{ statuses[task.status].title|trans }}' class='fa fa-check text-success'></i>{% endif %}",
    "{{ task.type.title }}{% if task.isDeleted %}<br><small><i class='fa fa-trash-o' title='{{ "views.task.index.deleted"|trans({}, "MBHHotelBundle") }}' data-toggle='tooltip'></i> {{ "views.task.index.entity_was_deleted"|trans }}</small>{% endif %}",
    "{% if task.priority == 3 %}<i title='{{ priorities[task.priority] }}' class='fa fa-arrow-up text-danger'></i><i title='{{ priorities[task.priority] }}' class='fa fa-arrow-up text-danger'></i>{% elseif task.priority == 2 %}<i title='{{ priorities[task.priority] }}' class='fa fa-arrow-up text-primary'></i>{% elseif task.priority == 1 %}<i title='{{ priorities[task.priority] }}' class='fa fa-arrow-down text-success'></i>{% endif %}",
    "{{ task.room.fullTitle }}",
    {% if is_granted('ROLE_TASK_MANAGER') %}
        "{{ task.userGroup ? task.userGroup : "views.task.index.ne_zadano"|trans }}\r<br><small>{{ task.performer ? task.performer.fullName : "views.task.index.vse"|trans }}</small>",
    {% endif %}
    "{% if task.start %}{{ task.start|mbh_format }} {{ task.start|date('H:i') }}{% if task.end %} - {% if task.start.format('d') != task.end.format('d') %}{{ task.end|mbh_format }}{% endif %} {{ task.end|date('H:i') }}{% endif %}{% endif %}<br><small>{% if task.processInterval %}{{ task.processInterval|friendly_interval }}{% elseif task.start and not task.end %}{{ "views.task.index.in_work"|trans }}{% endif %}</small>",
    "{{ task.createdAt|date('d.m.Y') }}{% if task.date %}<br><small>{{ "views.task.index.before"|trans }} {{ task.date|date('d.m.Y H:i') }}</small>{% endif %}",
    "{% if not task.isDeleted %}<div class='table-actions-td text-right'>{% if task.status == 'open' %}<a href='{{ path('task_change_status', { 'id': task.id, status: 'process' }) }}' class='btn btn-info btn-xs' title='{{ "views.task.index.take_in_process"|trans({}, "MBHHotelBundle") }}' data-toggle='tooltip'><i class='fa fa-clock-o'></i></a>{% endif %}{% if task.status == 'process' %}<a href='{{ path('task_change_status', { 'id': task.id, status: 'closed' }) }}' class='btn btn-primary btn-xs' title='{{ "views.task.index.close"|trans({}, "MBHHotelBundle") }}' data-toggle='tooltip'><i class='fa fa-check'></i></a>{% endif %}{% if is_granted('ROLE_TASK_EDIT') and task.status == 'open' %}<a href='{{ path('task_edit', { 'id': task.id }) }}' class='btn btn-success btn-xs' title='{{ "source.index.edit_record"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'><i class='fa fa-pencil-square-o'></i></a>{% endif %}{% if is_granted('ROLE_TASK_DELETE') %}<a href='{{ path('task_delete', { 'id': task.id }) }}' class='btn btn-danger btn-xs delete-link' title='{{ "source.index.delete_record"|trans({}, "MBHPackageBundle") }}' data-toggle='tooltip'><i class='fa fa-trash-o'></i></a>{% endif %}</div>{% endif %}"
    ]{% if loop.index < tasks|length %},{% endif %}
{% endfor %}
]
}
{% endwrapinline %}
{% endescapebackslash %}
