{% extends "MBHOnlineBundle::layout.html.twig" %}

{% set management_icon = true %}
{% set title = 'menu.label.web_site'|trans({}, 'MBHBaseBundle') %}
{% set small_title = 'views.form.layout.online_polls'|trans({}, 'MBHOnlineBundle') %}
{% set title_url = path('online_poll_config') %}
{% set layout = "box" %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss' '@MBHOnlineBundle/Resources/public/css/zzz_mob-010-poll_config.less'%}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{ 'views.poll.config.voting_code'|trans}}</h3></div>
        <div class="panel-body">
            {% set code1 = '<script>var mbPollsWidth = 850; var mbPollsHeight = 1750;</script>' %}
            {% set code2 = '<script src="' ~ url('_welcome') ~ 'management/online/api/poll/js/main"></script>' %}

            <span class="text-success">{{ code1 }}<br>{{ code2 }}</span>

        </div>
    </div>
{% endblock %}

