{% extends "MBHOnlineBundle:MBSite:layout.html.twig" %}

{% set title_url = path('site_settings') %}
{% set small_title = 'site_form.content.label'|trans %}

{% set active = hotelsSettings|length + 4 %}

{% block content %}
    {{ parent() }}

    <div class="tab-content">
    {{ form_start(form, { 'attr':{'class':'form-horizontal'}}) }}
        {% for one in form.many %}
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ one.vars.data.hotel.fullTitle }}</h3>
                </div>
                <div class="box-body">
                    <div>
                        <div>{{ 'site_form.content.social_service' | trans }}</div>
                        <dl>
                            {% for socialService in one.socialServices %}
                                <dd>{{ form_widget(socialService) }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                    <div>
                        <div>{{ 'site_form.content.aggregator_service' | trans }}</div>
                        <dl>
                            {% for aggregatorService in one.aggregatorServices %}
                                <dd>{{ form_widget(aggregatorService) }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% include 'MBHBaseBundle:Actions:new.html.twig' %}
    {{ form_end(form) }}

{% endblock %}
