{% extends 'MBHCashBundle:Cash:layout.html.twig' %}

{% set small_title = 'views.cash.edit.edit_document'|trans({}, 'MBHCashBundle') ~ entity.id %}
{% set layout = 'box' %}

{% block scripts %}
    {{ parent() }}

    {% javascripts filter='uglifyjs2' '@MBHPackageBundle/Resources/public/js/cash.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}

    {% if entity.order %}
        <div class="bg-gray color-palette alert">
            <i class="fa fa-paper-plane"> </i> Документ заказа <a href="{{ path('package_order_cash', {id: entity.order.id, packageId: (entity.order.packages|first).id}) }}">#{{ entity.order.id }}</a>
        </div>
    {% endif %}

    {{ form_start(form, {'action': path('cash_edit', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': 'cash_delete' } %}
    {{ form_end(form) }}

    {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'cash_delete' } %}

</div>
</div>
{% endblock %}
