{% extends 'MBHCashBundle:Cash:layout.html.twig' %}

{% set small_title = 'views.cash.index.document_list'|trans({}, 'MBHCashBundle') %}
{% set layout = 'box' %}

{% block content %}

    {% embed 'MBHBaseBundle:Partials:embed_filter.html.twig' with {'id': 'cash-filter-form-widget'} %}
        {% block content %}
        <form class="form-inline search-form filter-form remember" id="cash-filter-form" role="form">
            <div class="filter-form_group-date">
                <div class="filter-form_input">
                    <i class="fa fa-calendar" title="{{ 'views.cash.index.period'|trans({}, 'MBHCashBundle') }}"
                       data-toggle='tooltip'></i>
                    <div class="filter-form_input">
                        <input type="text" id="begin" name="begin" class="datepicker begin-datepicker form-control"
                               data-date-format="dd.mm.yyyy" value="{{ "-1 week"|date("d.m.Y") }}">
                        <span class="filter-form_separator"></span>
                        <input type="text" id="end" name="end" class="datepicker end-datepicker form-control"
                               data-date-format="dd.mm.yyyy" value="{{ "now"|date("d.m.Y") }}">
                    </div>
                </div>
            </div>
            <div class="filter-form_input">
                <select name="filter" id="filter" class="form-control">
                    <option value="paidDate">{{ 'views.cash.index.filter.byPaidDate'|trans({}, 'MBHCashBundle') }}</option>
                    <option value="documentDate">{{ 'views.cash.index.filter.byDocumentDate'|trans({}, 'MBHCashBundle') }}</option>
                    <option value="deletedAt">{{ 'views.cash.index.filter.byDeletedDate'|trans({}, 'MBHCashBundle') }}</option>
                </select>
            </div>

            <div class="filter-form_input">
                <i class="fa fa-money" title='{{ 'views.cash.index.payment_way'|trans({}, 'MBHCashBundle') }}'
                   data-toggle='tooltip'></i>
                <select name="methods" id="method" class="form-control"
                        data-placeholder="{{ 'views.cash.index.payment_way'|trans({}, 'MBHCashBundle') }}">
                    <option></option>
                    {% for type, name in methods %}
                        <option value="{{ type }}">{{ name|trans({}, 'MBHCashBundle') }}</option>
                    {% endfor %}
                </select>
            </div>
            {#<div class="input">#}
                {#<i class="fa fa-paperclip" title='{{ 'views.cash.index.article'|trans({}, 'MBHCashBundle') }}'#}
                   {#data-toggle='tooltip'></i>#}
                {#&nbsp#}
                {#<select name="article" id="article" placeholder="{{ 'views.cash.index.article'|trans({}, 'MBHCashBundle') }}">#}
                    {#<option></option>#}
                    {#{% for article in articles %}#}
                        {#<optgroup label="{{ article }}">#}
                            {#% if article.children|length == 0 %#}
                                {#<option value="{{ article.id }}">{{ article.code }} {{ article.title }}</option>#}
                            {#% else %#}
                                {#{% for article in article.children %}#}
                                    {#<option value="{{ article.id }}">{{ article.code }} {{ article.title }}</option>#}
                                {#{% endfor %}#}
                            {#% endif %#}
                        {#</optgroup>#}
                    {#{% endfor %}#}
                {#</select>#}
            {#</div>#}
            <div class="filter-form_input">
                <i class="fa fa-user" title='{{ 'views.cash.index.user'|trans({}, 'MBHCashBundle') }}'
                   data-toggle='tooltip'></i>
                <select class="not-remember form-control" name="user" id="user" data-placeholder="{{ 'views.cash.index.user'|trans({}, 'MBHCashBundle') }}">
                    <option></option>
                    {% for user in users %}
                        <option value="{{ user.username }}" {{ app.request.get('user') == user.username ? 'selected' }}>{{ user.fullName(true) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form_input">
                <i class="fa fa-paper-plane" title="{{ 'views.cash.index.type'|trans({}, 'MBHCashBundle') }}" data-toggle="tooltip"></i>
                <select id="cash-type" name="type" class="form-control">
                    <option></option>
                    {% for type in typeList %}
                        <option value="{{ type }}">{{ ('cashDocumentCriteria.type.' ~ type)|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form_group-checkbox">
                <div class="filter-form_input">
                    <i class="fa fa-check"
                       title="{{ 'views.cash.index.show_not_confirmed'|trans({}, 'MBHCashBundle') }}" data-toggle="tooltip"
                    ></i>
                    <input type="checkbox" name="show_no_confirmed" id="show_no_confirmed" value="1">
                </div>
                <div class="filter-form_input">
                    <i class="{{ currency().icon }}"
                       title="{{ 'views.cash.index.show_no_paid'|trans({}, 'MBHCashBundle') }}" data-toggle="tooltip"
                    ></i>
                    <input type="checkbox" name="show_no_paid" id="show_no_paid" value="1">
                </div>
                <div class="filter-form_input">
                    <i class="fa fa-trash-o" title="{{ 'views.cash.index.show_deleted'|trans({}, 'MBHCashBundle') }}"
                       data-toggle="tooltip"></i>
                    <input type="checkbox" name="deleted" id="deleted-checkbox" value="1">
                </div>
                <div class="filter-form_input">
                    <i class="fa fa-calendar" title="{{ 'views.cash.index.byDay'|trans({}, 'MBHCashBundle') }}"
                       data-toggle="tooltip"></i>
                    <input type="checkbox" name="by_day" id="by_day" value="1">
                </div>
            </div>
        </form>
        {% endblock content %}
    {% endembed %}

<div class="cash-table-item">
    <table id="cash-table"
           class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xxs text-center"></th>
            <th class="td-xs text-center">#</th>
            <th class="td-xs text-center">{{ 'views.cash.index.reservation'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-md text-right">{{ 'views.cash.index.income'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-md text-right">{{ 'views.cash.index.expense'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-md">{{ 'views.cash.index.operation_type'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-xs">{{ 'views.cash.index.article'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-md">{{ 'order.cash.payer'|trans({}, 'MBHPackageBundle') }}</th>
            <th class="td-xs">{{ 'views.cash.index.date'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-sm text-center">{{ 'views.cash.index.is_paid'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-sm text-center">{{ 'views.cash.index.user'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-sm">{{ 'views.cash.index.removed'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-md text-right show-on-print">{{ 'views.cash.index.note'|trans({}, 'MBHCashBundle') }}</th>
            <th class="td-md"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td class="text-center">
                <strong>{{ 'views.cash.index.result'|trans({}, 'MBHCashBundle') }}:</strong>

                <div>&nbsp;</div>
            </td>
            <td class="text-right">
                <div>
                    <strong class="cash-table-total-in text-success"></strong>
                </div>
                <div>
                    &nbsp;
                    <small class="cash-table-no-confirmed-total-in text-info"></small>
                </div>
            </td>
            <td class="text-right">
                <div>
                    <strong class="cash-table-total-out text-danger"></strong>
                </div>
                <div>
                    &nbsp;
                    <small class="cash-table-no-confirmed-total-out text-info"></small>
                </div>
            </td>
            <td class="text-center">
                <strong>{{ 'views.cash.index.saldo'|trans({}, 'MBHCashBundle') }}:</strong>&nbsp; <strong
                        class="cash-table-total"></strong>

                <div>&nbsp;</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="show-on-print"></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>


<div class="cash-table-item">
<table id="cash-table-by-day"
       class="table not-auto-datatable table-striped table-hover table-condensed table-icons table-actions">
    <thead>
    <tr>
        <th class="td-xxs text-center"></th>
        <th class="td-xs text-center">{{ 'views.cash.index.date'|trans({}, 'MBHCashBundle') }}</th>
        <th class="td-md text-right">{{ 'views.cash.index.income'|trans({}, 'MBHCashBundle') }}</th>
        <th class="td-md text-right">{{ 'views.cash.index.expense'|trans({}, 'MBHCashBundle') }}</th>
        <th class="td-md text-right">{{ 'views.cash.index.saldo'|trans({}, 'MBHCashBundle') }}</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td class="text-center"><strong>{{ 'views.cash.index.saldo'|trans({}, 'MBHCashBundle') }}:</strong></td>
        <td class="text-right">
            <div>
                <strong class="cash-table-total-in text-success"></strong>
            </div>
            <div>
                &nbsp;
                <small class="cash-table-no-confirmed-total-in text-info"></small>
            </div>
        </td>
        <td class="text-right">
            <div>
                <strong class="cash-table-total-out text-danger"></strong>
            </div>
            <div>
                &nbsp;
                <small class="cash-table-no-confirmed-total-out text-info"></small>
            </div>
        </td>
        <td class="text-right">
            <strong class="cash-table-total"></strong>
        </td>
    </tr>
    </tfoot>
</table>
</div>

<div class="show-on-print pull-right">
    <a>{{ 'views.cash.index.cash_balance'|trans({}, 'MBHCashBundle') }}: <strong>{{ total|number_format(2) }}</strong>&nbsp;<i class="{{ currency().icon }}"></i></a>
</div>
<style>
.cash-table-item {
display: none;
}
</style>

{% embed "MBHBaseBundle:Actions:base_list.html.twig" %}
{% block left %}
<li>
<button onclick="location.href = '{{ path('cash_new') }}'" class="btn btn-success navbar-btn">
    <i class="fa fa-plus"></i> {{ 'views.cash.index.create'|trans({}, 'MBHCashBundle') }}
</button>
</li>
    {% if is_russian_client() and hotel.organization %}
        <li>
            <div class="dropup">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-upload"></i> {{ 'mbhcashbundle.view.cash.index.1c_export'|trans }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('cash_1c_export') }}" target="_blank">{{ 'mbhcashbundle.view.cash.index.upload_clearing'|trans }}</a></li>
                    <li><a href="{{ path('cash_1c_export', {method: 'cashless'}) }}" target="_blank">{{ 'views.cash.index.upload_all'|trans({}, 'MBHCashBundle') }}</a></li>
                </ul>
            </div>
        </li>
    {% endif %}
{% endblock %}
{% block right %}
<li>
    <a href="{{ path('cash') }}"> {{ 'mbhcashbundle.view.cash.index.ostatok.po.kasse'|trans }} : <strong>{{ total|number_format(2) }}</strong>&nbsp;<i class="{{ currency().icon }}"></i></a>
</li>
{% endblock %}
{% endembed %}

{% endblock %}

