{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ total }}",
    "totalIn": "{{ totalIn|number_format }}",
    "totalOut": "{{ totalOut|number_format }}",
    "recordsFiltered": "{{ total }}",
    "data": [
        {% for entity in entities %}
            [
                "<div class='text-center {{ entity.isConfirmed is empty and entity.isPaid ? 'not-confirmed-entry' }} {{ entity.deletedAt ? 'deleted-entry' }} {{ entity.isPaid is empty ? 'not-paid-entry' }}'><i class='fa fa-ruble'></i></div>",
                "<div class='cash-number text-center'>{{ entity.prefix }}</div>",
                "<div class='text-right'>{% if entity.operation not in ['fee', 'out'] %}<a href='{{ path('cash_edit', { 'id': entity.id }) }}' rel='main' class='text-success' title='Редактирование записи' data-toggle='tooltip'>{{ entity.total|number_format(2) }}</a>{% endif %}</div>",
                "<div class='text-right'>{% if entity.operation in ['fee', 'out'] %}<a href='{{ path('cash_edit', { 'id': entity.id }) }}' rel='main' class='text-danger' title='Редактирование записи' data-toggle='tooltip'>{{ entity.total|number_format(2) }}</a>{% endif %}</div>",
                "{{ operations[entity.operation] }}<br><small>{{ methods[entity.method] }}</small>",
                "{{ entity.createdAt|date('d.m.Y') }}",
                "<div class='text-center'>{% if not entity.isPaid %}<span class='label label-danger'>{{ 'order.cash.no'|trans({}, 'MBHPackageBundle') }}</span>{% endif %}</div>",
                "{{ entity.deletedAt ? entity.deletedAt|date('d.m.Y') }}",
                "{% include 'MBHCashBundle:Cash:jsonButtons.html.twig' with {'entity': entity} %}"
            ]{% if loop.index != entities.count(true) %},{% endif %}
        {% endfor %}
    ]
}