{% spaceless %}
    {% if not entity.deletedAt %}
    <div class='btn-list text-right'>
        {% if is_granted('ROLE_CASH_CONFIRM') and entity.isConfirmed is empty and entity.isPaid%}
            {% if not entity.isConfirmed and entity.isPaid %}
                <a data-action='cashDocumentConfirmation' data-header={{ 'views.cash.jsonButtons.confirm_payment'|trans({}, 'MBHCashBundle') }} data-text='{{ 'views.cash.jsonButtons.are_you_sure_confirm_payment'|trans({'%total_sum%': entity.total|number_format}, 'MBHCashBundle') }}' data-button={{ 'views.cash.jsonButtons.confirm'|trans({}, 'MBHCashBundle') }} data-button-icon='fa-check' href='{{ path('cash_confirm', { 'id': entity.id}) }}' class='btn btn-primary btn-xs delete-link' title={{ 'views.cash.jsonButtons.confirm_payment'|trans({}, 'MBHCashBundle') }} data-toggle='tooltip'>
                    <i class='fa fa-check'></i>
                </a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_CASH_EDIT') %}
            {% if not entity.isPaid and entity.method != 'electronic' %}
                    <a data-action='cashDocumentPay' data-header='{{ 'order.cash.pay_payment'|trans({}, 'MBHPackageBundle') }}' data-text='{{ 'order.cash.are_you_sure_to_pay_payment'|trans({}, 'MBHPackageBundle') }} <b>{{ entity.total|number_format }} {{ currency().text }}</b> ? <div class=\"popup-paid-date\"><i class=\"fa fa-calendar\" data-toggle=\"tooltip\" data-original-title=\"{{ 'mbhcashbundle.view.cash.jsonbuttons.data'|trans }} \"></i>&nbsp;&nbsp;<input style=\"display:inline-block;\" type=\"text\" name=\"paidDate\" class=\"form-control datepicker input-sm input-xs\" data-date-format=\"dd.mm.yyyy\" value=\"{{ 'now'|date("d.m.Y") }} \">' data-button='{{ 'order.cash.pay'|trans({}, 'MBHPackageBundle') }}' data-button-icon='fa-check' href='{{ path('cash_pay', { 'id': entity.id}) }}' class='btn btn-warning btn-xs delete-link' title='{{ 'order.cash.pay_payment'|trans({}, 'MBHPackageBundle') }}' data-toggle='tooltip'>
                        <i class='{{ currency().icon }}'></i>
                    </a>
            {% endif %}
            {% if is_granted('ROLE_CASH_CONFIRM') or entity.isConfirmed is empty %}
            <a href='{{ path('cash_edit', { 'id': entity.id }) }}' class='btn btn-success btn-xs' title='{{ 'views.cash.jsonButtons.edit_record'|trans({}, 'MBHCashBundle') }}' data-toggle='tooltip'>
                <i class='fa fa-pencil-square-o'></i>
            </a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_CASH_DELETE') and (is_granted('ROLE_CASH_CONFIRM') or entity.isConfirmed is empty) %}
            <a href='{{ path('cash_delete', { 'id': entity.id}) }}' class='btn btn-danger btn-xs delete-link' title='{{ 'views.cash.jsonButtons.delete_record'|trans({}, 'MBHCashBundle') }}' data-toggle='tooltip'>
                <i class='fa fa-trash-o'></i>
            </a>
        {% endif %}
    </div>
    {% endif %}
{% endspaceless %}