{
    "draw" : "{{ draw }}",
    "recordsTotal": "{{ recordsTotal }}",
    "totalIn": "{{ totalIn|number_format }}",
    "totalOut": "{{ totalOut|number_format }}",
    "noConfirmedTotalIn": "{{ noConfirmedTotalIn|number_format }}",
    "noConfirmedTotalOut": "{{ noConfirmedTotalOut|number_format }}",
    "total": "{{ total|number_format }}",
    "recordsFiltered": "{{ recordsFiltered }}",
    "data": [
        {% for item in data %}
            [
                "<div class='text-center'><i class='fa fa-ruble'></i></div>",
                "<div class='text-center'>{% if item.paidDate %} {{ item.paidDate|convertMongoDate|date("d.m.Y") }} {% endif %}</div>",
                "<div class='text-right'>{% if item.confirmedTotalIn != 0 %} <span class='text-success'> {{ item.confirmedTotalIn|number_format(2) }} </span><br><small>{{ item.countIn }} док.</small> {% else %} &mdash; {% endif %} {% if item.noConfirmedTotalIn > 0 %} <br><small style='color: #ff0000'>{{ 'views.cash.index.no_confirmed'|trans({}, 'MBHCashBundle') }}: {{ item.noConfirmedTotalIn|number_format(2) }}</small>{% endif %} </div>",
                "<div class='text-right'>{% if item.confirmedTotalOut != 0 %} <span class='text-danger'> {{ item.confirmedTotalOut|number_format(2) }} </span><br><small>{{ item.countOut }} док.</small> {% else %} &mdash; {% endif %} {% if item.noConfirmedTotalOut > 0 %}<br><small style='color: #ff0000'>{{ 'views.cash.index.no_confirmed'|trans({}, 'MBHCashBundle') }}: {{ item.noConfirmedTotalOut|number_format(2) }}</small>{% endif %} </div>",
                "<div class='text-right {% if item.noConfirmedTotalIn + item.confirmedTotalIn - item.confirmedTotalOut - item.noConfirmedTotalOut > 0 %}text-success{% else %}text-danger{% endif %}'>{{ (item.noConfirmedTotalIn + item.confirmedTotalIn - item.confirmedTotalOut - item.noConfirmedTotalOut)|number_format(2) }}</div>"
            ]{% if loop.index != data|length %},{% endif %}
        {% endfor %}
    ]
}